Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: [UPM-1450]/evgeniy/add passkey attribute to hotjar
  packages/core/src/App/AppContent.tsx
  packages/core/src/App/app.jsx
  packages/core/src/Stores/client-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: types
  packages/account/src/Configs/get-status-badge-config.tsx
  packages/appstore/src/components/currency-switcher-card/real/real-account-switcher.tsx
  packages/cfd/src/Components/cfd-account-card.tsx
  packages/cfd/src/Components/props.types.ts
  packages/cfd/src/Containers/props.types.ts
  packages/cfd/src/Helpers/compare-accounts-config.ts
  packages/core/src/Stores/traders-hub-store.js
  packages/hooks/src/__tests__/useGetStatus.spec.tsx
  packages/hooks/src/useIsSelectedMT5AccountCreated.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: make drag dot increasing optional and add tests
  packages/components/src/components/video-player/__tests__/video-controls.spec.tsx
  packages/components/src/components/video-player/video-controls.tsx
  packages/components/src/components/video-player/video-player.scss
  packages/components/src/components/video-player/video-player.tsx
  packages/trader/src/AppV2/Components/Guide/guide-description-modal.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: create type of supported events
  packages/components/src/components/video-player/video-player.tsx
Due: prettier --write, npx eslint --fix

fix: test case download added
  packages/bot-web-ui/src/utils/__tests__/download.spec.ts
  packages/bot-web-ui/src/utils/download.ts
Due: prettier --write, npx eslint --fix

fix: wallet list card actions
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
Due: prettier --write, npx eslint --fix

chore: save phone number when on click verify
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/verify-button.spec.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/account/src/Sections/Profile/PersonalDetails/verify-button.tsx
Due: prettier --write, npx eslint --fix

fix: remove wallet list card actions map
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
Due: prettier --write, npx eslint --fix

chore: remove unnecessary code
  packages/wallets/src/components/WalletsDisabledAccountsBanner/WalletsDisabledAccountsBanner.scss
  packages/wallets/src/components/WalletsDisabledAccountsBanner/WalletsDisabledAccountsBanner.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

style: sort keys
  packages/wallets/src/components/WalletsDisabledAccountsBanner/__tests__/WalletsDisabledAccountsBanner.spec.tsx
Due: prettier --write, npx eslint --fix

test: :test_tube: writing test coverage for google drive and refactored + cleanup
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/__tests__/google-drive.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/__tests__/save-modal.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/delete-dialog.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/google-drive.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/save-modal.tsx
  packages/bot-web-ui/src/stores/google-drive-store.ts
  packages/bot-web-ui/src/stores/load-modal-store.ts
  packages/bot-web-ui/src/stores/save-modal-store.ts
Due: prettier --write, npx eslint --fix

test: update is_disabled value to true
  packages/wallets/src/components/WalletsDisabledAccountsBanner/__tests__/WalletsDisabledAccountsBanner.spec.tsx
Due: prettier --write, npx eslint --fix

chore: remove unnecessary class and add aria attribute
  packages/wallets/src/components/WalletsDisabledAccountsBanner/WalletsDisabledAccountsBanner.tsx
Due: prettier --write, npx eslint --fix

fix: default language for numbers
  packages/api-v2/src/hooks/useInfiniteTransactions.ts
  packages/wallets/src/components/DerivAppsSection/DerivAppsTradingAccount.tsx
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useExtendedTransferAccountProperties.ts
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useTransferMessages/__tests__/useTransferMessages.spec.tsx
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useTransferMessages/useTransferMessages.tsx
  packages/wallets/src/features/cashier/modules/Transfer/provider/TransferProvider.tsx
Due: prettier --write, npx eslint --fix

fix: making tin mandatory
  packages/account/src/Configs/user-profile-validation-config.ts
  packages/account/src/Containers/employment-tax-details-container/employment-tax-details-container.tsx
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

chore: resolve sonarcloud issue
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/__tests__/AddedMT5AccountsList.spec.tsx
Due: prettier --write, npx eslint --fix

chore: put max_payout back in type
  packages/trader/src/Stores/Modules/Trading/Helpers/proposal.ts
Due: prettier --write, npx eslint --fix

fix: wallet list card actions demo buttons
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
  packages/wallets/src/components/WalletListCardActions/__tests__/WalletListCardActions.spec.tsx
Due: prettier --write, npx eslint --fix

[BOT]maryia/BOT-1981/feat: Add a "What's new" section to the dashboar… (#16577)
  package-lock.json
  packages/account/package.json
  packages/appstore/package.json
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/pages/dashboard/__tests__/user-guide.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/__tests__/announcement-dialog.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/__tests__/announcement.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/__tests__/announcements.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-components.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-dialog.scss
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-dialog.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.scss
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/config.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/index.ts
  packages/bot-web-ui/src/pages/dashboard/announcements/utils/accumulator-helper-functions.ts
  packages/bot-web-ui/src/pages/dashboard/dashboard.tsx
  packages/bot-web-ui/src/pages/dashboard/user-guide.tsx
  packages/bot-web-ui/src/pages/tutorials/constants.ts
  packages/cashier/package.json
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/core/src/public/images/common/static_images/introducing_accumulators_on_deriv_bot.png
  packages/p2p/package.json
  packages/reports/package.json
  packages/reports/src/Containers/__tests__/reports.spec.tsx
  packages/trader/package.json
  packages/wallets/package.json
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: update ui package version
  package-lock.json
  packages/account/package.json
  packages/appstore/package.json
  packages/cashier/package.json
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/p2p/package.json
  packages/reports/package.json
  packages/trader/package.json
  packages/wallets/package.json
  packages/wallets/src/components/DerivAppsSection/DerivAppsTradingAccount.tsx
  packages/wallets/src/components/WalletListCardDropdown/WalletListCardDropdown.tsx
  packages/wallets/src/components/WalletStatusBadge/WalletStatusBadge.tsx
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
Due: prettier --write, npx eslint --fix

fix: server side pdf fix (#16810)
  packages/bot-web-ui/src/stores/server-side-bot-store.ts
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

chore: remove unused prop
  packages/bot-web-ui/src/pages/server-side-bot/performance-panel/performance-panel.tsx
Due: prettier --write, npx eslint --fix

chore: added atribute
  packages/core/src/Utils/Hotjar/index.ts
Due: prettier --write, npx eslint --fix

fix: change to semantic tokens for the remaining
  packages/trader/src/AppV2/Components/ContractCard/contract-card.scss
  packages/trader/src/AppV2/Components/ContractCard/contract-card.tsx
  packages/trader/src/AppV2/Components/ContractDetailsFooter/contract-details-footer.tsx
  packages/trader/src/AppV2/Components/DraggableList/draggable-list.scss
  packages/trader/src/AppV2/Components/EmptyPositions/empty-positions.scss
  packages/trader/src/AppV2/Components/Guide/guide.scss
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button-content.tsx
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.scss
  packages/trader/src/AppV2/Components/TotalProfitLoss/total-profit-loss.scss
  packages/trader/src/AppV2/Containers/ContractDetails/contract-details.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: :test_tube: cleanup test sutes and dashboard components
  packages/bot-web-ui/src/components/load-modal/load-modal.tsx
  packages/bot-web-ui/src/pages/bot-builder/__tests__/workspace-wrapper.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/pages/bot-builder/workspace-wrapper.tsx
  packages/bot-web-ui/src/pages/dashboard/bot-list/__tests__/dashboard-bot-list.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/bot-list/__tests__/stop-bot-modal.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/bot-list/dashboard-bot-list.tsx
  packages/bot-web-ui/src/pages/dashboard/bot-list/delete-dialog/__tests__/delete-dialog.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/bot-list/delete-dialog/delete-dialog.scss
  packages/bot-web-ui/src/pages/dashboard/bot-list/delete-dialog/delete-dialog.tsx
  packages/bot-web-ui/src/pages/dashboard/bot-list/delete-dialog/index.ts
  packages/bot-web-ui/src/pages/dashboard/bot-list/google-drive/__tests__/google-drive.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/bot-list/google-drive/google-drive.scss
  packages/bot-web-ui/src/pages/dashboard/bot-list/google-drive/google-drive.tsx
  packages/bot-web-ui/src/pages/dashboard/bot-list/google-drive/index.ts
  packages/bot-web-ui/src/pages/dashboard/bot-list/index.scss
  packages/bot-web-ui/src/pages/dashboard/bot-list/recent-workspace.tsx
  packages/bot-web-ui/src/pages/dashboard/bot-list/save-modal/__tests__/icon-radio.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/bot-list/save-modal/__tests__/save-modal.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/bot-list/save-modal/icon-radio.tsx
  packages/bot-web-ui/src/pages/dashboard/bot-list/save-modal/index.ts
  packages/bot-web-ui/src/pages/dashboard/bot-list/save-modal/save-modal.scss
  packages/bot-web-ui/src/pages/dashboard/bot-list/save-modal/save-modal.tsx
  packages/bot-web-ui/src/pages/dashboard/bot-list/stop-bot-modal.tsx
  packages/bot-web-ui/src/pages/dashboard/cards.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/__tests__/bot-preview.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/__tests__/local-footer.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/__tests__/local.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/bot-preview.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/index.ts
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/local-footer.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/local.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: reformat displayMoney
  packages/api-v2/src/hooks/useCryptoTransactions.ts
  packages/api-v2/src/hooks/useCtraderAccountsList.ts
  packages/api-v2/src/hooks/useDxtradeAccountsList.ts
  packages/api-v2/src/hooks/useInfiniteTransactions.ts
  packages/api-v2/src/hooks/useMT5AccountsList.ts
  packages/api-v2/src/hooks/useTransactions.ts
  packages/api-v2/src/utils/__test__/display-money.spec.ts
  packages/api-v2/src/utils/display-money.ts
  packages/wallets/src/components/Base/ATMAmountInput/ATMAmountInput.tsx
  packages/wallets/src/components/DerivAppsSection/DerivAppsTradingAccount.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAmountInput/TransferFormAmountInput.tsx
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useExtendedTransferAccountProperties.ts
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useTransferMessages/useTransferMessages.tsx
  packages/wallets/src/features/cashier/modules/Transfer/provider/TransferProvider.tsx
Due: prettier --write, npx eslint --fix

refactor: :zap: remove unused components
  packages/bot-web-ui/src/pages/dashboard/cards.tsx
Due: prettier --write, npx eslint --fix

refactor: :fire: moved google drive modal to the related directory
  packages/bot-web-ui/src/components/load-modal/google-drive/__tests__/google-drive.spec.tsx
  packages/bot-web-ui/src/components/load-modal/google-drive/google-drive.scss
  packages/bot-web-ui/src/components/load-modal/google-drive/google-drive.tsx
  packages/bot-web-ui/src/components/load-modal/google-drive/index.ts
  packages/bot-web-ui/src/components/load-modal/load-modal.tsx
  packages/bot-web-ui/src/pages/dashboard/cards.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

[UPM-1474]/evgeniy/passkey remove without verification (#16764)
  packages/account/src/Components/network-status-toast-popup/network-status-toast-popup.scss
  packages/account/src/Constants/routes-config.tsx
  packages/account/src/Sections/Security/Passkeys/__tests__/passkeys.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkey-card.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkey-removed.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkey-rename.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkeys-status-container.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/description-container.tsx
  packages/account/src/Sections/Security/Passkeys/components/no-passkeys.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-card.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-created.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-error-modal.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-reminder-modal.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-remove-confirmation-modal.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-removed.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-rename.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-learn-more.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-list.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-status-container.tsx
  packages/account/src/Sections/Security/Passkeys/components/tips-block.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys-configs.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
  packages/account/src/Sections/index.js
  packages/core/src/Stores/client-store.js
  packages/hooks/src/__tests__/useGetPasskeysList.spec.tsx
  packages/hooks/src/__tests__/useRegisterPasskey.spec.tsx
  packages/hooks/src/__tests__/useRemovePasskey.spec.tsx
  packages/hooks/src/__tests__/useRenamePasskey.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useGetPasskeysList.ts
  packages/hooks/src/useRegisterPasskey.ts
  packages/hooks/src/useRemovePasskey.ts
  packages/hooks/src/useRenamePasskey.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: logo swap on switching
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.tsx
Due: prettier --write, npx eslint --fix

feat(cashier): :sparkles: support crypto withdrawal transaction redirection from deriv go (#16802)
  packages/cashier/src/pages/withdrawal/__tests__/withdrawal.spec.tsx
  packages/cashier/src/pages/withdrawal/withdrawal.tsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: add rounding based on currency
  packages/trader/src/AppV2/Components/TradeParameters/Multiplier/multiplier-wheel-picker.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/take-profit-and-stop-loss-input.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake-details.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
Due: prettier --write, npx eslint --fix

fix: change the variant of passing function prop to minimize re-renders
  packages/bot-web-ui/src/pages/server-side-bot/journal/journal.tsx
Due: prettier --write, npx eslint --fix

update master (#16881)
  packages/account/src/Components/network-status-toast-popup/network-status-toast-popup.scss
  packages/account/src/Constants/routes-config.tsx
  packages/account/src/Sections/Security/Passkeys/__tests__/passkeys.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkey-card.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkey-removed.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkey-rename.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkeys-status-container.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/description-container.tsx
  packages/account/src/Sections/Security/Passkeys/components/no-passkeys.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-card.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-created.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-error-modal.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-reminder-modal.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-remove-confirmation-modal.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-removed.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-rename.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-learn-more.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-list.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-status-container.tsx
  packages/account/src/Sections/Security/Passkeys/components/tips-block.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys-configs.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
  packages/account/src/Sections/index.js
  packages/cashier/src/pages/withdrawal/__tests__/withdrawal.spec.tsx
  packages/cashier/src/pages/withdrawal/withdrawal.tsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/client-store.js
  packages/hooks/src/__tests__/useGetPasskeysList.spec.tsx
  packages/hooks/src/__tests__/useRegisterPasskey.spec.tsx
  packages/hooks/src/__tests__/useRemovePasskey.spec.tsx
  packages/hooks/src/__tests__/useRenamePasskey.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useGetPasskeysList.ts
  packages/hooks/src/useRegisterPasskey.ts
  packages/hooks/src/useRemovePasskey.ts
  packages/hooks/src/useRenamePasskey.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
