Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

fix: alignment in open positions
  packages/reports/src/sass/app/modules/reports.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: dont use `useStoreWalletAccountsList` when unnecessary
  packages/account/src/Containers/Account/account.tsx
  packages/account/src/Containers/Account/page-overlay-wrapper.tsx
  packages/account/src/Sections/Profile/LanguageSettings/language-settings.tsx
  packages/appstore/src/components/routes/routes.tsx
  packages/core/src/App/AppContent.tsx
  packages/core/src/App/Components/Layout/Header/Components/ToggleMenu/menu-title.tsx
  packages/core/src/App/Components/Layout/Header/menu-links.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/default-footer.jsx
  packages/core/src/App/Containers/Layout/header/default-mobile-links.tsx
  packages/core/src/App/Containers/Layout/header/header.tsx
  packages/core/src/App/Containers/Layout/header/traders-hub-home-button.tsx
  packages/core/src/App/Containers/Layout/header/traders-hub-onboarding.tsx
  packages/core/src/App/Containers/Layout/trading-hub-footer.jsx
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: fixed flickering
  packages/wallets/src/components/WalletGradientBackground/WalletGradientBackground.tsx
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.tsx
Due: prettier --write, npx eslint --fix

fix: tests
  packages/account/src/Containers/Account/__tests__/account.spec.tsx
  packages/account/src/Sections/Profile/LanguageSettings/__tests__/language-settings.spec.tsx
  packages/core/src/App/Containers/Layout/header/__tests__/default-mobile-links.spec.tsx
  packages/core/src/App/Containers/Layout/header/__tests__/traders-hub-header.spec.tsx
  packages/core/src/App/Containers/Layout/header/__tests__/traders-hub-onboarding.spec.tsx
  packages/trader/src/Modules/Contract/Containers/__tests__/contract-replay.spec.tsx
Due: prettier --write, npx eslint --fix

feat: switched TS pattern
  packages/wallets/src/components/WalletGradientBackground/WalletGradientBackground.tsx
Due: prettier --write, npx eslint --fix

fix: resolved file upload issue
  packages/account/src/Containers/proof-of-ownership/file-uploader.tsx
  packages/account/src/Sections/Verification/ProofOfOwnership/proof-of-ownership-form.tsx
Due: prettier --write, npx eslint --fix

feat: removed tests from linting and removed import/namespace rule from linting
  packages/wallets/.eslintignore
  packages/wallets/.eslintrc.js
Due: prettier --write, npx eslint --fix

feat: reactivated import/namespace rule
  packages/wallets/.eslintrc.js
Due: prettier --write, npx eslint --fix

fix(wallets): :ambulance: remove onScrollHandler if there is no transactions (#15005)
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompleted/TransactionsCompleted.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsNoDataState/TransactionsNoDataState.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

[WALL] Aizad/WALL-3961/Center Modal Investor Password Modal in responsive (#14995)
  packages/wallets/src/components/WalletsResetMT5Password/WalletsResetMT5Password.tsx
  packages/wallets/src/features/cfd/ResetMT5PasswordHandler.tsx
  packages/wallets/src/routes/WalletsListingRoute/WalletsListingRoute.tsx
Due: prettier --write, npx eslint --fix

Aizad/WALL-3966/Back Arrow Incorrect Placement fix (#14992)
  packages/wallets/src/features/cfd/screens/DynamicLeverage/DynamicLeverageTitle.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCardBack.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/sw.json
Due: prettier --write

chore: fix eslint for wallets
  packages/wallets/.eslintrc.js
Due: prettier --write, npx eslint --fix

feat(wallets): :sparkles: add API error handling for withdrawal service
  packages/api-v2/src/hooks/useCashierFiatAddress.ts
  packages/api-v2/src/hooks/useCryptoWithdrawal.ts
  packages/wallets/component-tests/crypto-payment-redirection.spec.tsx
  packages/wallets/component-tests/mocks/mockCryptoWithdraw.ts
  packages/wallets/src/components/WalletsErrorScreen/WalletsErrorScreen.tsx
  packages/wallets/src/components/WalletsErrorScreen/__tests__/WalletsErrorScreen.spec.tsx
  packages/wallets/src/features/cashier/flows/WalletWithdrawal/WalletWithdrawal.tsx
  packages/wallets/src/features/cashier/modules/DepositFiat/DepositFiat.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/WithdrawalCrypto.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/__tests__/WithdrawalCrypto.spec.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/__tests__/WithdrawalCryptoForm.spec.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/provider/WithdrawalCryptoProvider.spec.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/provider/WithdrawalCryptoProvider.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalFiat/WithdrawalFiat.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalFiat/__tests__/WithdrawalFiat.spec.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalVerification/WithdrawalVerification.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalVerification/__tests_/WithdrawalVerification.spec.tsx
  packages/wallets/src/features/cashier/screens/WithdrawalErrorScreen/WithdrawalErrorScreen.tsx
  packages/wallets/src/features/cashier/screens/WithdrawalErrorScreen/__tests__/WithdrawalErrorScreen.spec.tsx
  packages/wallets/src/features/cashier/screens/WithdrawalErrorScreen/index.ts
  packages/wallets/src/features/cashier/screens/index.ts
  packages/wallets/src/public/images/error-icon.svg
Due: prettier --write, npx eslint --fix

refactor: revert `<Devtools />` conditional render
  packages/core/src/App/AppContent.tsx
Due: prettier --write, npx eslint --fix

feat: add video for even odd contract (#14958)
  packages/core/src/Assets/SvgComponents/trade_explanations/img-even-odd-dark.svg
  packages/core/src/Assets/SvgComponents/trade_explanations/img-even-odd-light.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-even-odd.svg
  packages/trader/src/Assets/Trading/Categories/__tests__/trade-categories-gif.spec.tsx
  packages/trader/src/Assets/Trading/Categories/trade-categories-gif.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info.tsx
  packages/trader/src/Modules/Trading/Helpers/__tests__/video-config.spec.ts
  packages/trader/src/Modules/Trading/Helpers/video-config.ts
Due: prettier --write, npx eslint --fix

Maryia/WEBREL-2578/test: coverage for routes & routes-config in Reports (#14973)
  packages/reports/.eslintrc.js
  packages/reports/jest.config.js
  packages/reports/src/Constants/__tests__/routes-config.spec.tsx
  packages/reports/src/Containers/__tests__/routes.spec.tsx
  packages/reports/src/Containers/routes.tsx
Due: prettier --write, npx eslint --fix

chore: update TODO comments
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
  packages/core/src/Stores/ui-store.js
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: removed unused code
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: update code
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification-page.tsx
  packages/shared/src/utils/constants/phone-number-verification.ts
Due: prettier --write, npx eslint --fix

chore: remove console
  packages/wallets/src/features/cfd/screens/MT5ResetPasswordModal/MT5ResetPasswordModal.tsx
Due: prettier --write, npx eslint --fix

fix: fixed review comments
  packages/bot-web-ui/src/stores/toolbox-store.ts
Due: prettier --write, npx eslint --fix

style: fix tick counter bar alignment and color
  packages/components/src/components/contract-card/contract-card-items/tick-counter-bar.tsx
  packages/components/src/components/contract-card/contract-card.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: initial commit
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-container.tsx
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: failed tests
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-container.tsx
Due: prettier --write, npx eslint --fix

chore: removal of useAccountTransferVisible
  packages/cashier/src/containers/cashier/cashier.tsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/hooks/src/index.ts
  packages/hooks/src/useAccountTransferVisible.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: review comments
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: test cases
  packages/cashier/src/containers/cashier/cashier.tsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: revert back some changes
  packages/cashier/src/containers/cashier/cashier.tsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/hooks/src/index.ts
  packages/hooks/src/useAccountTransferVisible.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: Remove country-level business logic
  packages/core/src/App/Components/Layout/Header/__tests__/account-info.spec.tsx
  packages/core/src/App/Components/Layout/Header/__tests__/display-account-type.spec.tsx
  packages/core/src/App/Components/Layout/Header/account-actions.jsx
  packages/core/src/App/Components/Layout/Header/account-info.jsx
  packages/core/src/App/Components/Layout/Header/display-account-type.tsx
  packages/core/src/App/Containers/AccountSwitcher/__tests__/account-switcher.spec.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-list.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/Layout/header/default-header-wallets.tsx
  packages/core/src/App/Containers/Layout/header/header-account-actions.tsx
  packages/core/src/App/Containers/Layout/header/traders-hub-header-wallets.tsx
  packages/core/src/App/Containers/Layout/header/traders-hub-header.tsx
  packages/core/src/App/Containers/RealAccountSignup/__tests__/real-account-signup.spec.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/constants.js
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/RealAccountSignup/status-dialog-container.jsx
  packages/core/src/Stores/client-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: remove is_uk flag
  packages/account/src/Components/self-exclusion/__tests__/self-exclusion-article.spec.tsx
  packages/account/src/Components/self-exclusion/__tests__/self-exclusion-confirm-page.spec.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-article-content.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-context.tsx
  packages/account/src/Sections/Security/SelfExclusion/__tests__/self-exclusion.spec.tsx
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.tsx
  packages/core/src/Modules/ComplaintsPolicy/Components/complaints-policy-content.jsx
  packages/core/src/Stores/client-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: update function for WhatsApp display
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
Due: prettier --write, npx eslint --fix

chore: fix test case fail for confirm-phone-number
  packages/account/src/Sections/Profile/PhoneVerification/__test__/confirm-phone-number.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/confirm-phone-number.tsx
Due: prettier --write, npx eslint --fix

chore: update scss
  packages/components/src/components/contract-card/contract-card.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: resolve failling test case
  packages/account/src/Sections/Profile/PhoneVerification/__test__/otp-verification.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification-page.tsx
Due: prettier --write, npx eslint --fix

chore: replaced style with color prop from text
  packages/components/src/components/contract-card/contract-card-items/tick-counter-bar.tsx
  packages/components/src/components/contract-card/contract-card.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write
