Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

feat: added indication for hidden ads
  packages/p2p-v2/src/components/Modals/AdErrorTooltipModal/AdErrorTooltipModal.scss
  packages/p2p-v2/src/components/Modals/AdErrorTooltipModal/AdErrorTooltipModal.tsx
  packages/p2p-v2/src/components/Modals/AdErrorTooltipModal/__tests__/AdErrorTooltipModal.spec.tsx
  packages/p2p-v2/src/components/Modals/AdErrorTooltipModal/index.ts
  packages/p2p-v2/src/components/Modals/index.ts
  packages/p2p-v2/src/constants/ad-constants.ts
  packages/p2p-v2/src/pages/my-ads/components/AdRateError/AdRateError.tsx
  packages/p2p-v2/src/pages/my-ads/components/AdRateError/__tests__/AdRateError.spec.tsx
  packages/p2p-v2/src/pages/my-ads/components/AdRateError/index.ts
  packages/p2p-v2/src/pages/my-ads/components/AlertComponent/AlertComponent.scss
  packages/p2p-v2/src/pages/my-ads/components/AlertComponent/AlertComponent.tsx
  packages/p2p-v2/src/pages/my-ads/components/AlertComponent/__tests__/AlertComponent.spec.tsx
  packages/p2p-v2/src/pages/my-ads/components/AlertComponent/index.ts
  packages/p2p-v2/src/pages/my-ads/components/index.ts
  packages/p2p-v2/src/pages/my-ads/screens/MyAds/MyAdsTable/MyAdsTable.tsx
  packages/p2p-v2/src/pages/my-ads/screens/MyAds/MyAdsTableRow/MyAdsTableRow.scss
  packages/p2p-v2/src/pages/my-ads/screens/MyAds/MyAdsTableRow/MyAdsTableRow.tsx
  packages/p2p-v2/src/pages/my-ads/screens/MyAds/MyAdsTableRow/MyAdsTableRowView.tsx
  packages/p2p-v2/src/pages/my-ads/screens/MyAds/MyAdsTableRow/__tests__/MyAdsTableRow.spec.tsx
  packages/p2p-v2/src/pages/my-ads/screens/MyAds/MyAdsToggle/__tests__/MyAdsToggle.spec.tsx
  packages/p2p-v2/src/public/ic-alert-warning.svg
  packages/p2p-v2/src/utils/ad-utils.ts
  packages/p2p-v2/src/utils/index.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: :spaghetti: copied the WithdrawalVerification module from wallets package
  packages/cashier-v2/.eslintrc.js
  packages/cashier-v2/src/assets/images/email-verification.svg
  packages/cashier-v2/src/components/WalletButtonGroup/WalletButtonGroup.scss
  packages/cashier-v2/src/components/WalletButtonGroup/WalletButtonGroup.tsx
  packages/cashier-v2/src/components/WalletButtonGroup/index.ts
  packages/cashier-v2/src/components/WalletsActionScreen/WalletsActionScreen.scss
  packages/cashier-v2/src/components/WalletsActionScreen/WalletsActionScreen.tsx
  packages/cashier-v2/src/components/WalletsActionScreen/index.ts
  packages/cashier-v2/src/lib/WithdrawalVerification/WithdrawalVerification.tsx
  packages/cashier-v2/src/lib/WithdrawalVerification/WithdrawalVerificationRequest/WithdrawalVerificationRequest.scss
  packages/cashier-v2/src/lib/WithdrawalVerification/WithdrawalVerificationRequest/WithdrawalVerificationRequest.tsx
  packages/cashier-v2/src/lib/WithdrawalVerification/WithdrawalVerificationRequest/__tests__/WithdrawalVerificationRequest.spec.tsx
  packages/cashier-v2/src/lib/WithdrawalVerification/WithdrawalVerificationRequest/index.ts
  packages/cashier-v2/src/lib/WithdrawalVerification/WithdrawalVerificationSent/WithdrawalVerificationSent.scss
  packages/cashier-v2/src/lib/WithdrawalVerification/WithdrawalVerificationSent/WithdrawalVerificationSent.tsx
  packages/cashier-v2/src/lib/WithdrawalVerification/WithdrawalVerificationSent/__tests__/WithdrawalVerificationSent.spec.tsx
  packages/cashier-v2/src/lib/WithdrawalVerification/WithdrawalVerificationSent/index.ts
  packages/cashier-v2/src/lib/WithdrawalVerification/__tests_/WithdrawalVerification.spec.tsx
  packages/cashier-v2/src/lib/WithdrawalVerification/index.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: Safari issues for long living tabs
  packages/trader/src/sass/app/_common/components/video-player.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: updated to v2 in wallest
  packages/wallets/package.json
Due: prettier --write

[WALL] Lubega / WALL-3388 / useTransferMessages unit test (#13239)
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useTransferMessages/__tests__/useTransferMessages.spec.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

feat: added AuthProvider to wallets
  packages/wallets/src/components/AccountsList/__tests__/AccountsList.spec.tsx
  packages/wallets/src/components/WalletCard/__tests__/WalletCard.spec.tsx
  packages/wallets/src/components/WalletListCard/__tests__/WalletListCard.spec.tsx
  packages/wallets/src/components/WalletListCardActions/__tests__/WalletListCardActions.spec.tsx
  packages/wallets/src/components/WalletListCardDetails/__tests__/WalletListCardDetails.spec.tsx
  packages/wallets/src/features/accounts/screens/ManualDocumentUpload/__tests__/ManualDocumentUpload.spec.tsx
  packages/wallets/src/features/cashier/components/WalletCashierHeader/__tests__/WalletCashierHeader.spec.tsx
  packages/wallets/src/features/cashier/modules/FiatOnRamp/__tests__/FiatOnRamp.spec.tsx
  packages/wallets/src/features/cashier/modules/TransactionStatus/components/TransactionStatusSuccess/__tests__/TransactionStatusSuccess.spec.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAmountInput/__tests__/TransferFormAmountInput.spec.tsx
  packages/wallets/src/features/cfd/modals/MT5AccountAdded/__tests__/MT5AccountAdded.spec.tsx
Due: prettier --write, npx eslint --fix

feat: missed token
  packages/utils/src/getToken.ts
  packages/utils/src/index.ts
Due: prettier --write, npx eslint --fix

feat: fixed test
  packages/wallets/src/components/WalletListCard/__tests__/WalletListCard.spec.tsx
  packages/wallets/src/components/WalletListCardBalance/__tests__/WalletListCardBalance.spec.tsx
Due: prettier --write, npx eslint --fix

feat: typo change
  README.md
Due: prettier --write

feat: updated github actions
  .github/actions/invalidate_npm_cache/action.yml
  .github/actions/npm_install_from_cache/action.yml
  .github/workflows/test.yml
Due: none

feat: updated github actions
  .github/actions/npm_install_from_cache/action.yml
Due: none

feat: fixed typo
  packages/wallets/src/features/cashier/WalletCashier.tsx
Due: prettier --write, npx eslint --fix

feat: fixed test
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useTransferMessages/__tests__/useTransferMessages.spec.tsx
Due: prettier --write, npx eslint --fix

feat: test fix
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useTransferMessages/__tests__/useTransferMessages.spec.tsx
Due: prettier --write, npx eslint --fix

feat: extra test to satisfy specific script
  packages/utils/src/__tests__/getToken.spec.ts
Due: prettier --write, npx eslint --fix

fix: demo ctrader and dxtrade accounts showing in real if no real account
  packages/tradershub/src/features/cfd/components/CTraderList/CTraderList.tsx
  packages/tradershub/src/features/cfd/components/OtherCFDPlatformsList/OtherCFDPlatformsList.tsx
Due: prettier --write, npx eslint --fix

fix: demo ctrader and dxtrade accounts showing in real if no real account (#13471)
  packages/tradershub/src/features/cfd/components/CTraderList/CTraderList.tsx
  packages/tradershub/src/features/cfd/components/OtherCFDPlatformsList/OtherCFDPlatformsList.tsx
Due: prettier --write, npx eslint --fix

fix: responsive mismatches
  packages/appstore/src/components/loader/cfd-toggle-skeleton/cfdToggleSkeleton.scss
  packages/appstore/src/components/loader/title-skeleton/titleSkeleton.scss
  packages/appstore/src/modules/onboarding/onboarding.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: wallet account switcher
  packages/wallets/src/components/Base/WalletDropdown/WalletDropdown.scss
  packages/wallets/src/components/Base/WalletDropdown/WalletDropdown.tsx
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.tsx
  packages/wallets/src/components/DesktopWalletsList/DesktopWalletsList.tsx
  packages/wallets/src/components/SkeletonLoader/WalletsAccordionLoader/WalletsAccordionLoader.tsx
  packages/wallets/src/components/SkeletonLoader/WalletsCardLoader/WalletsCardLoader.scss
  packages/wallets/src/components/SkeletonLoader/WalletsCardLoader/WalletsCardLoader.tsx
  packages/wallets/src/components/SkeletonLoader/index.ts
  packages/wallets/src/components/WalletCardIcon/WalletCardIcon.tsx
  packages/wallets/src/components/WalletListCard/WalletListCard.scss
  packages/wallets/src/components/WalletListCard/WalletListCard.tsx
  packages/wallets/src/components/WalletListCard/__tests__/WalletListCard.spec.tsx
  packages/wallets/src/components/WalletListCardBalance/WalletListCardBalance.tsx
  packages/wallets/src/components/WalletListCardBalance/__tests__/WalletListCardBalance.spec.tsx
  packages/wallets/src/components/WalletListCardDetails/WalletListCardDetails.scss
  packages/wallets/src/components/WalletListCardDetails/WalletListCardDetails.tsx
  packages/wallets/src/components/WalletListCardDetails/__tests__/WalletListCardDetails.spec.tsx
  packages/wallets/src/components/WalletListCardDropdown/WalletListCardDropdown.scss
  packages/wallets/src/components/WalletListCardDropdown/WalletListCardDropdown.tsx
  packages/wallets/src/components/WalletListCardDropdown/__tests__/WalletListCardDropdown.spec.tsx
  packages/wallets/src/components/WalletListCardDropdown/index.ts
  packages/wallets/src/components/WalletListCardTitle/WalletListCardTitle.tsx
  packages/wallets/src/components/WalletListCardTitle/__tests__/WalletListCardTitle.spec.tsx
  packages/wallets/src/components/WalletListCardTitle/index.ts
  packages/wallets/src/components/WalletsAccordion/WalletsAccordion.tsx
  packages/wallets/src/components/WalletsAccordion/index.ts
  packages/wallets/src/components/WalletsCard/WalletsCard.scss
  packages/wallets/src/components/WalletsCard/WalletsCard.tsx
  packages/wallets/src/components/WalletsCard/index.ts
  packages/wallets/src/components/index.ts
  packages/wallets/src/public/images/aud.svg
  packages/wallets/src/public/images/btc-logo.svg
  packages/wallets/src/public/images/demo-logo.svg
  packages/wallets/src/public/images/eth-logo.svg
  packages/wallets/src/public/images/eusdt-logo.svg
  packages/wallets/src/public/images/ltc-logo.svg
  packages/wallets/src/public/images/usdc-logo.svg
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: resusable component
  packages/appstore/src/components/loader/onboarding-skeleton/onbordingSkeleton.tsx
Due: prettier --write, npx eslint --fix

fix: wallet card icon variants
  packages/wallets/src/components/WalletCardIcon/WalletCardIcon.tsx
  packages/wallets/src/components/WalletListCard/WalletListCard.tsx
  packages/wallets/src/components/WalletListCardDropdown/WalletListCardDropdown.tsx
Due: prettier --write, npx eslint --fix

test: lala
  package-lock.json
  packages/account-v2/package.json
  packages/cashier-v2/package.json
  packages/components/stories/icon/icons.js
  packages/library/package.json
  packages/p2p-v2/package.json
  packages/tradershub/package.json
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: resolved code reviews
  packages/p2p-v2/src/components/Modals/AvailableP2PBalanceModal/__tests__/AvailableP2PBalanceModal.spec.tsx
Due: prettier --write, npx eslint --fix

[DTRA] henry/dtra-512/fix: add flutter chart notification (#12949)
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/notification-store.js
  packages/core/src/sass/app/modules/notifications-dialog.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: import sorting order
  packages/wallets/src/components/WalletListCardDropdown/WalletListCardDropdown.tsx
Due: prettier --write, npx eslint --fix

chore: creation validation flow
  packages/cfd/src/Containers/cfd-password-modal.tsx
Due: prettier --write, npx eslint --fix

fix: import sorting order
  packages/wallets/src/components/WalletListCardDropdown/__tests__/WalletListCardDropdown.spec.tsx
Due: prettier --write, npx eslint --fix

fix: ad redirection (#13259)
  packages/p2p/src/pages/buy-sell/no-ads/no-ads.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: missing messages from mobile (#12706)
  packages/p2p/src/stores/sendbird-store.ts
Due: prettier --write, npx eslint --fix

fix: replace px with rem and scss variables with css variables
  packages/appstore/src/components/loader/brand-skeleton/brandSkeleton.scss
  packages/appstore/src/components/loader/cashier-button-skeleton/cashierButtonSkeleton.scss
  packages/appstore/src/components/loader/cfd-app-skeleton/cfdAppskeleton.scss
  packages/appstore/src/components/loader/cfd-toggle-skeleton/cfdToggleSkeleton.scss
  packages/appstore/src/components/loader/divider/divider.scss
  packages/appstore/src/components/loader/header-right-menu-skeleton/headerRightMenuSkeleton.scss
  packages/appstore/src/components/loader/header-right-menu-skeleton/headerRightMenuSkeleton.tsx
  packages/appstore/src/components/loader/header-skeleton/headerSkeleton.scss
  packages/appstore/src/components/loader/header-skeleton/headerSkeleton.tsx
  packages/appstore/src/components/loader/index.ts
  packages/appstore/src/components/loader/menu-skeleton/menuSkeleton.scss
  packages/appstore/src/components/loader/mt5-title-skeleton/mt5TitleSkeleton.scss
  packages/appstore/src/components/loader/onboarding-skeleton/onboardingSkeleton.tsx
  packages/appstore/src/components/loader/onboarding-skeleton/onbordingSkeleton.scss
  packages/appstore/src/components/loader/options-and-multipliers-skeleton/optionsAndMultipliers.scss
  packages/appstore/src/components/loader/title-skeleton/titleSkeleton.scss
  packages/appstore/src/components/loader/total-asset-skeleton/totalAssetSkeleton.scss
  packages/appstore/src/components/loader/traders-hub-menu-skeleton/tradershubMenuSkeleton.scss
  packages/appstore/src/components/loader/trading-app-skeleton/tradingAppSkeleton.scss
  packages/appstore/src/modules/onboarding/onboarding.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

[P2PS] / Ameerul / P2PS-2214 Date filters selection in past order tab is not translated to other languages (#13049)
  packages/p2p/src/components/composite-calendar/composite-calendar.tsx
  packages/p2p/src/pages/orders/chat/__tests__/chat-messages.spec.jsx
  packages/p2p/src/pages/orders/chat/chat-messages.jsx
  packages/p2p/src/utils/chat-message.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/ar.json
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/de.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/ko.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/sw.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

fix: ios redirection (#13091)
  packages/core/src/public/.well-known/apple-app-site-association
Due: none
