Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

chore: fix content issue
  packages/cfd/src/Containers/account-nakala-modal/account-nakala-modal.tsx
Due: prettier --write, npx eslint --fix

feat: update charts version
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Due: prettier --write

fix: expiry date wrong date in V2
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.tsx
Due: prettier --write, npx eslint --fix

fix: expiry date wrong date in V2 (#18575)
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.tsx
Due: prettier --write, npx eslint --fix

chore: fix unit test
  packages/appstore/src/components/cfds-listing/__tests__/index.spec.tsx
  packages/cfd/src/Containers/__tests__/cfd-password-modal.spec.js
  packages/cfd/src/Containers/cfd-password-modal.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: fix unit test
  packages/wallets/src/features/cfd/modals/MT5AccountAdded/__tests__/MT5AccountAdded.spec.tsx
Due: prettier --write, npx eslint --fix

feat: add nakala linked banner on non wallets (#18426)
  packages/appstore/src/assets/svgs/trading-platform/ic-brand-deriv-nakala.svg
  packages/appstore/src/assets/svgs/trading-platform/index.tsx
  packages/appstore/src/components/banners/nakala-linked-banner/index.ts
  packages/appstore/src/components/banners/nakala-linked-banner/nakala-linked-banner.scss
  packages/appstore/src/components/banners/nakala-linked-banner/nakala-linked-banner.tsx
  packages/appstore/src/components/cfds-listing/__tests__/index.spec.tsx
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/containers/trading-app-card-actions.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/cfd/src/Containers/__tests__/cfd-password-modal.spec.js
  packages/cfd/src/Containers/account-nakala-modal/account-nakala-modal.scss
  packages/cfd/src/Containers/account-nakala-modal/account-nakala-modal.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/Containers/mt5-trade-modal.tsx
  packages/cfd/src/Stores/Modules/CFD/cfd-store.js
  packages/cfd/src/types/cfd-store.types.ts
  packages/components/src/components/icon/common/ic-info-yellow.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/rebranding/ic-rebranding-deriv-nakala.svg
  packages/components/src/components/icon/rebranding/ic-rebranding-nakala-linked-success.svg
  packages/components/src/components/icon/rebranding/ic-rebranding-nakala-mt5-linked.svg
  packages/components/src/components/icon/rebranding/ic-rebranding-nakala-qr-code.svg
  packages/hooks/src/index.ts
  packages/hooks/src/useIsEnabledNakala.ts
  packages/wallets/src/features/cashier/modules/ResetBalance/__test__/ResetBalance.spec.tsx
  packages/wallets/src/features/cashier/modules/TransactionStatus/components/TransactionStatusSuccess/__tests__/TransactionStatusSuccess.spec.tsx
  packages/wallets/src/features/cashier/modules/Transactions/__tests__/Transactions.spec.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormDropdown/__tests__/TransferFormDropdown.spec.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/__test__/MT5TradeScreen.spec.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: handle undefined ctrader landing companies
  packages/core/src/Stores/traders-hub-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: handle undefined ctrader landing companies (#18577)
  packages/core/src/Stores/traders-hub-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: remove redirect_url when lands on app after login
  packages/core/src/App/app.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: remove redirect_url when lands on app after login (#18578)
  packages/core/src/App/app.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: color change
  packages/core/src/sass/app/_common/components/account-switcher.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: broken notification tray position in landscape mode
  packages/core/src/sass/app/modules/notifications-dialog.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

Suisin/chore: update Content for compare account table (#18555)
  packages/api-v2/src/hooks/useAvailableMT5Accounts.ts
  packages/cfd/src/Helpers/cfd-config.ts
  packages/cfd/src/Helpers/compare-accounts-config.ts
  packages/shared/src/utils/constants/jurisdictions-config.ts
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsCard.tsx
Due: prettier --write, npx eslint --fix

fix: redirection to dtrader
  packages/cashier/src/containers/cashier/cashier.tsx
  packages/core/src/App/Containers/Layout/header/dtrader-header.tsx
Due: prettier --write, npx eslint --fix

fix(wallets): handle missing refs in wallet list header
  packages/wallets/src/components/WalletListHeader/WalletListHeader.tsx
Due: prettier --write, npx eslint --fix

Update analyze.yml
  .github/workflows/analyze.yml
Due: none

Create test.txt
  test.txt
Due: none

fix: style and design
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/amount.tsx
  packages/trader/src/sass/app/modules/trading.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: fix activate wallet is not redirecting to login page after logout
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/core/src/App/Containers/Modals/wallets-upgrade-logout-modal/wallets-upgrade-logout-modal.tsx
  packages/core/src/Stores/client-store.js
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: styles
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/amount.tsx
  packages/trader/src/sass/app/modules/trading.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

test: 🙄
  package-lock.json
  package.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Due: prettier --write

chore: fix activate wallet is not redirecting to login page after logout (#18584)
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/core/src/App/Containers/Modals/wallets-upgrade-logout-modal/wallets-upgrade-logout-modal.tsx
  packages/core/src/Stores/client-store.js
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: fix user gets logged out after failing appropriateness test
  packages/utils/src/getActiveAccounts.ts
Due: prettier --write, npx eslint --fix

fix: color change (#18579)
  packages/core/src/sass/app/_common/components/account-switcher.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/mn.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/sw.json
Due: prettier --write

chore: fix user gets logged out after failing appropriateness test (#18586)
  packages/utils/src/getActiveAccounts.ts
Due: prettier --write, npx eslint --fix

fix: stayle change
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/amount.tsx
Due: prettier --write, npx eslint --fix

fix: wallets redirections
  packages/core/src/App/Components/Layout/Header/wallets/account-actions-wallets.tsx
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet-mobile.tsx
  packages/wallets/src/features/cashier/WalletCashier.tsx
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.tsx
  packages/wallets/src/routes/Router.tsx
Due: prettier --write, npx eslint --fix

fix: test cases
  packages/wallets/src/features/cashier/WalletCashier.tsx
  packages/wallets/src/routes/Router.tsx
Due: prettier --write, npx eslint --fix

fix: test cases
  packages/wallets/src/features/cashier/__tests__/WalletCashier.spec.tsx
Due: prettier --write, npx eslint --fix

fix: camel case
  packages/wallets/src/features/cashier/WalletCashier.tsx
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.tsx
Due: prettier --write, npx eslint --fix

fix: camel case
  packages/wallets/src/features/cashier/WalletCashier.tsx
Due: prettier --write, npx eslint --fix

fix: new method redirect cashier
  packages/cashier/src/containers/cashier/cashier.tsx
  packages/core/src/App/Components/Layout/Header/wallets/account-actions-wallets.tsx
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet-mobile.tsx
  packages/wallets/src/features/cashier/WalletCashier.tsx
  packages/wallets/src/features/cashier/__tests__/WalletCashier.spec.tsx
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.tsx
  packages/wallets/src/routes/Router.tsx
Due: prettier --write, npx eslint --fix
