Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: 🔧 re-enitialize derivapi when the old api closed
  packages/api/src/APIProvider.tsx
Due: prettier --write, npx eslint --fix

chore: add track event for real account identity form
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.js
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/__tests__/account-wizard.spec.tsx
  packages/core/src/App/Containers/RealAccountSignup/__tests__/real-account-signup.spec.jsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/WarningCloseCreateRealAccountModal/warning-close-create-real-account-content.jsx
  packages/core/src/App/Containers/WarningCloseCreateRealAccountModal/warning-close-create-real-account-modal.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: added mt5 check in the accessiblePlatform response
  packages/api/src/hooks/useAccesiblePlatforms.ts
Due: prettier --write, npx eslint --fix

fix: added wallet button isloading disable
  packages/wallets/src/components/Base/WalletButton/WalletButton.tsx
Due: prettier --write, npx eslint --fix

chore: update test case and removed unnecessary memo
  packages/core/src/App/Containers/RealAccountSignup/__tests__/real-account-signup.spec.jsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: :art: improve account selection logic (#11807)
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAmountInput/TransferFormAmountInput.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormDropdown/TransferFormDropdown.tsx
Due: prettier --write, npx eslint --fix

chore: added mt5 check in the accessiblePlatform response (#11833)
  packages/api/src/hooks/useAccesiblePlatforms.ts
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/ar.json
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/de.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/ko.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

fix: 🔧 re-enitialize derivapi when the old api closed (#11831)
  packages/api/src/APIProvider.tsx
Due: prettier --write, npx eslint --fix

refactor: revert optional pagination in `useInfiniteQuery`
  packages/api/src/hooks/useTransactions.ts
  packages/api/src/useInfiniteQuery.ts
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompleted/TransactionsCompleted.tsx
Due: prettier --write, npx eslint --fix

fix: added wallet button isloading disable (#11834)
  packages/wallets/src/components/Base/WalletButton/WalletButton.tsx
Due: prettier --write, npx eslint --fix

refactor: :art: merges api token constant files
  packages/account/src/Constants/api-token-card-details.tsx
  packages/account/src/Constants/api-token.ts
  packages/account/src/Sections/Security/ApiToken/api-token.tsx
Due: prettier --write, npx eslint --fix

chore: px to rem
  packages/account/src/Components/poi/status/unsupported/card-details/selfie-upload.tsx
Due: prettier --write, npx eslint --fix

refactor: moved input validation to useCryptoWithdrawalInput hook
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/WithdrawalCryptoForm.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/components/WithdrawalCryptoAmountConverter/WithdrawalCryptoAmountConverter.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/hooks/index.ts
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/hooks/useWithdrawalCryptoInput.ts
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/types/types.ts
Due: prettier --write, npx eslint --fix

fix: path fix
  packages/account/src/Components/poi/status/unsupported/card-details/selfie-upload.tsx
Due: prettier --write, npx eslint --fix

chore: fixed sonarCloud code smell for provider values
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/provider/WithdrawalCryptoProvider.tsx
Due: prettier --write, npx eslint --fix

chore: update Button inside of ChangePasswordScreens with email verification logic
  packages/wallets/src/components/SentEmailContent/SentEmailContent.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/MT5ChangePasswordScreens.tsx
Due: prettier --write, npx eslint --fix

fix: refactored tutorials for performance
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/common/common-tabs/index.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/common/search-input/index.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/config/index.ts
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/faq-content/index.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorial-tab.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorials-tab-desktop.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorials-tab-mobile.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
Due: prettier --write, npx eslint --fix

fix: path fix
  packages/account/src/Components/poi/status/unsupported/card-details/documents-upload.tsx
Due: prettier --write, npx eslint --fix

chore: fix wallet redirection issue if next_wallet flag is enabled upon login
  packages/core/src/Stores/client-store.js
  packages/shared/src/utils/config/config.ts
  packages/shared/src/utils/url/helpers.ts
  packages/translations/src/i18next/i18next.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: improved tutorial search
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/common/common-tabs/index.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/common/search-input/index.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/config/index.ts
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/faq-content/index.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorial-tab.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorials-tab-desktop.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorials-tab-mobile.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
Due: prettier --write, npx eslint --fix

[WALL] Farhan/feat: hide react-query error logs (#11812)
  packages/api/src/APIProvider.tsx
Due: prettier --write, npx eslint --fix

fix: formatting issues
  packages/cashier/src/components/transactions-crypto-history/transactions-crypto-renderer.tsx
  packages/cashier/src/stores/account-transfer-store.ts
  packages/cashier/src/stores/general-store.ts
Due: prettier --write, npx eslint --fix

fix: contract card color
  packages/components/src/components/contract-card/result-overlay/result-overlay.scss
  packages/components/src/components/contract-card/result-overlay/result-overlay.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: change setLoginId to switchAccount
  packages/core/src/App/Containers/Layout/header/header.tsx
  packages/wallets/src/components/DerivAppsSection/DerivAppsGetAccount.tsx
  packages/wallets/src/hooks/useSyncLocalStorageClientAccounts.ts
Due: prettier --write, npx eslint --fix

fix: created a separate component for content loading
  packages/bot-web-ui/src/components/quick-strategy/config.ts
  packages/bot-web-ui/src/components/quick-strategy/description-tab/martingale-description.tsx
  packages/bot-web-ui/src/components/quick-strategy/form-wrappers/desktop-form-wrapper.tsx
  packages/bot-web-ui/src/components/quick-strategy/form-wrappers/mobile-form-wrapper.tsx
  packages/bot-web-ui/src/components/quick-strategy/qs-tab-content.tsx
  packages/bot-web-ui/src/components/quick-strategy/strategy-descriptions/martingale-description.tsx
Due: prettier --write, npx eslint --fix

[BOT] Rupato/WEBREL-1710/dbot tutorial page console error (#11828)
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/__tests__/tutorial-tab-desktop.spec.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/common/search-input/index.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorials-tab-desktop.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/de.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/si.json
Due: prettier --write

fix: code smell
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorials-tab-desktop.tsx
Due: prettier --write, npx eslint --fix

chore: update to fix reset password security issues
  packages/core/src/App/Components/Elements/LiveChat/use-livechat.ts
Due: prettier --write, npx eslint --fix

fix: duplicate filling of payment-method
  packages/account/src/Containers/proof-of-ownership/__tests__/expanded-card.spec.tsx
  packages/account/src/Containers/proof-of-ownership/card.tsx
  packages/account/src/Containers/proof-of-ownership/expanded-card.tsx
  packages/account/src/Containers/proof-of-ownership/file-uploader.tsx
  packages/account/src/Sections/Verification/ProofOfOwnership/proof-of-ownership-form.tsx
  packages/account/src/Types/common.type.ts
Due: prettier --write, npx eslint --fix

fix: removed unused import
  packages/account/src/Containers/proof-of-ownership/expanded-card.tsx
Due: prettier --write, npx eslint --fix

feat: get back newAccount.currency
  packages/wallets/src/hooks/useSyncLocalStorageClientAccounts.ts
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
Due: prettier --write

chore: review comment
  packages/account/src/Components/poi/status/unsupported/card-details/selfie-upload.tsx
Due: prettier --write, npx eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
