Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

chore: add test coverage for currency switcher card index component
  packages/appstore/src/components/currency-switcher-card/__tests__/index.spec.tsx
  packages/appstore/src/components/currency-switcher-card/index.tsx
  packages/appstore/src/components/elements/text/balance-text.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

fix: circle ci issues
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

fix: circle ci issues
  packages/stores/src/mockStore.ts
Due: prettier --write, npx eslint --fix

fix: added optional value and fix modal close when clicking outside or pressing esc
  packages/core/src/App/Containers/Modals/ready-to-deposit-modal/ready-to-deposit-modal.tsx
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

fix: switch to generics
  packages/trader/src/Modules/Contract/Components/AccumulatorsStats/__tests__/accumulators-stats.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/__tests__/accumulator.spec.tsx
Due: prettier --write, npx eslint --fix

fix: move up observer
  packages/appstore/src/components/currency-switcher-card/index.tsx
Due: prettier --write, npx eslint --fix

fix: resolve comments
  packages/appstore/src/assets/svgs/currency/index.tsx
  packages/appstore/src/components/currency-switcher-card/real/real-account-switcher.tsx
  packages/appstore/src/components/elements/text/balance-text.tsx
Due: prettier --write, npx eslint --fix

Kate/93656/Track JS Minified React error #188 (#8304)
  packages/components/src/components/data-list/data-list-row.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: updated regex
  packages/shared/src/utils/login/login.ts
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/ar.json
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/de.json
  packages/p2p/src/translations/ko.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

chore: sanitized rename script for valid file names
  packages/components/utils/rename.js
Due: prettier --write, npx eslint --fix

fix: for sync
  packages/core/src/Modules/SmartTraderIFrame/SmartTraderIFrame.jsx
  packages/core/src/root_files/localstorage-sync.html
  packages/shared/src/utils/url/helpers.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: add test coverage for balance-text component
  packages/appstore/src/components/elements/text/__tests__/balance-text.spec.tsx
  packages/appstore/src/components/elements/text/balance-text.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

chore: test case for jurisdiction clickable description
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-clickable-description.spec.tsx
Due: prettier --write, npx eslint --fix

fix: line length
  packages/trader/src/App/Components/Elements/ContractAudit/contract-details.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: sanitized argument input from regex
  packages/components/utils/rename.js
  packages/shared/src/utils/login/login.ts
Due: prettier --write, npx eslint --fix

Akmal / content updates for EU clients (#38)
  packages/trader/src/App/Components/Elements/ContractAudit/contract-details.jsx
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer.jsx
  packages/trader/src/Modules/Trading/Components/Elements/purchase-button.jsx
  packages/trader/src/Modules/Trading/Components/Elements/purchase-fieldset.jsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/contract-info.jsx
  packages/trader/src/Modules/Trading/Containers/purchase.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: removed old changes
  packages/shared/src/utils/login/login.ts
Due: prettier --write, npx eslint --fix

fix: added a hook to check for the platform real currency
  packages/hooks/src/useTotalAccountBalance.ts
  packages/hooks/src/useTotalAssetCurrency.ts
Due: prettier --write, npx eslint --fix

fix: removed login without styles
  packages/components/src/components/page-error/page-error.scss
  packages/components/src/components/page-error/page-error.tsx
  packages/core/src/App/Components/Elements/Errors/error-component.jsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: reverted changes
  packages/core/src/Modules/SmartTraderIFrame/SmartTraderIFrame.jsx
  packages/core/src/root_files/localstorage-sync.html
  packages/shared/src/utils/url/helpers.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: added changes to track performance metrics only when bot is running
  packages/bot-skeleton/src/services/api/api-middleware.js
  packages/bot-web-ui/src/stores/run-panel-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: filter list for australian clients
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/onboarding-new/static-dashboard.tsx
  packages/core/src/Stores/traders-hub-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: add test coverage for regulators-switcher component
  packages/appstore/src/components/main-title-bar/__tests__/regulators-switcher.spec.tsx
  packages/appstore/src/components/main-title-bar/regulators-switcher.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

Update packages/shared/src/utils/validator/errors.ts
  packages/shared/src/utils/validator/errors.ts
Due: prettier --write, npx eslint --fix

fix: round-up patches
  packages/appstore/src/components/elements/text/balance-text.tsx
  packages/appstore/src/components/onboarding-new/__tests__/static-dashboard.spec.tsx
  packages/appstore/src/components/onboarding-new/static-dashboard.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

Update packages/components/src/components/input/input.tsx
  packages/components/src/components/input/input.tsx
Due: prettier --write, npx eslint --fix

refactor: revert back to TRootStore for a bunch of stores
  packages/cashier/src/stores/account-prompt-dialog-store.ts
  packages/cashier/src/stores/account-transfer-store.ts
  packages/cashier/src/stores/base-store.ts
  packages/cashier/src/stores/cashier-store.ts
  packages/cashier/src/stores/crypto-fiat-converter-store.ts
  packages/cashier/src/stores/deposit-store.ts
  packages/cashier/src/stores/general-store.ts
  packages/cashier/src/stores/iframe-store.ts
  packages/cashier/src/stores/on-ramp-store.ts
  packages/cashier/src/stores/transaction-history-store.ts
Due: prettier --write, npx eslint --fix

refactor: TCoreStores changed + withdraw store change revert
  packages/cashier/src/stores/withdraw-store.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

refactor: Array<T> -> T[]
  packages/cashier/src/components/transfer-confirm/transfer-confirm.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
Due: prettier --write, npx eslint --fix

chore: removed imports for escape-string-regexp
  packages/components/utils/rename.js
Due: prettier --write, npx eslint --fix

refactor: PA store param type: TStores -> TRootStore
  packages/cashier/src/stores/payment-agent-store.ts
Due: prettier --write, npx eslint --fix

fix: roundup patches 2
  packages/appstore/src/components/elements/text/balance-text.tsx
  packages/shared/src/utils/cfd/cfd.ts
Due: prettier --write, npx eslint --fix

build: add dotenv-webpack & DefinePlugin packages
  package-lock.json
  packages/core/package.json
Due: prettier --write

build: add env vars to runtime
  packages/core/build/constants.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: enable datadog on the app
  packages/core/src/Utils/Datadog/index.ts
  packages/core/src/index.tsx
Due: prettier --write, npx eslint --fix

Update packages/stores/src/stores/BaseStore.ts
  packages/stores/src/stores/BaseStore.ts
Due: prettier --write, npx eslint --fix

Ameerul /Bug 74980 No error message pop up when user is still on same page after 10 minutes of expiration time (#7726)
  packages/components/src/components/icon/common/ic-email-sent-expired.svg
  packages/components/src/components/icon/icons.js
  packages/p2p/src/components/modal-manager/modal-manager-context-provider.jsx
  packages/p2p/src/components/modal-manager/modals/email-link-blocked-modal/email-link-blocked-modal.jsx
  packages/p2p/src/components/modal-manager/modals/email-link-blocked-modal/email-link-blocked-modal.scss
  packages/p2p/src/components/modal-manager/modals/email-link-blocked-modal/index.js
  packages/p2p/src/components/modal-manager/modals/email-link-expired-modal/email-link-expired-modal.jsx
  packages/p2p/src/components/modal-manager/modals/email-link-expired-modal/email-link-expired-modal.scss
  packages/p2p/src/components/modal-manager/modals/email-link-expired-modal/index.js
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/constants/modals.js
  packages/p2p/src/stores/order-store.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: crypto-fiat-converter.spec.tsx type errors resolved
  packages/cashier/src/components/crypto-fiat-converter/__tests__/crypto-fiat-converter.spec.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/ar.json
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/de.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/ko.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
Due: prettier --write
