Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Revert "fix: mt5_server_error_on_mt5_for_trading_hub (#6945)" (#6965)
  packages/appstore/src/modules/trading-hub/index.tsx
  packages/cfd/build/webpack.config.js
  packages/cfd/src/Containers/cfd-server-error-dialog.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

fix: resolved PR comments
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
Due: prettier --write, npx eslint --fix

Revert "fix: trade button cursor not allowed (#6937)" (#6966)
  packages/appstore/src/components/onboarding/static-applauncher.scss
  packages/appstore/src/components/onboarding/static-platform-launcher.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

Maryia/80686/feat: profit text animation for ongoing contract (#39)
  packages/trader/src/Modules/SmartChart/Components/Markers/__tests__/accumulators-profit-loss-tooltip.spec.js
  packages/trader/src/Modules/SmartChart/Components/Markers/accumulators-profit-loss-text.jsx
  packages/trader/src/Modules/SmartChart/Components/Markers/accumulators-profit-loss-tooltip.jsx
  packages/trader/src/Modules/SmartChart/Components/all-markers.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/sass/app/modules/smart-chart.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Revert "fix: using different_routes_for_appstore (#6932)" (#6967)
  packages/core/src/App/Constants/routes-config.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

Revert "fix: platform display fix for eu (#6931)" (#6968)
  packages/appstore/src/modules/trading-hub/index.tsx
Due: prettier --write, npx eslint --fix

chore: removed js check for landscape, checked with media queries
  packages/cashier/src/containers/cashier/cashier.scss
  packages/core/src/App/app.jsx
  packages/core/src/sass/app/_common/layout/app-layouts.scss
  packages/p2p/src/components/my-ads/my-ads.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Revert "fix: remove new tab for binary bot (#6925)" (#6969)
  packages/appstore/src/components/platform-launcher/platform-launcher.tsx
Due: prettier --write, npx eslint --fix

Revert "thisyahlen/ bugfix: exit trader hub not redirecting to dtrader (#6922)" (#6970)
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix(account): :bug: increase the timeout duration
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Revert "translations: 📚 sync translations with crowdin (#6919)" (#6971)
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

translations: 📚 sync translations with crowdin
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

fix: maryia/80686/profit text color
  packages/trader/src/sass/app/modules/smart-chart.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: added deafult type for current target as undefined
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

refactor: any variables
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: maryia/using default growth rate only if no stored growth rate
  packages/trader/src/Stores/Modules/Trading/Helpers/contract-type.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Update jurisdiction-modal.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal.tsx
Due: prettier --write, npx eslint --fix

fix: merge conflict
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal.tsx
Due: prettier --write, npx eslint --fix

chore: check for max-aspect-ratio instead of orientation
  packages/core/src/sass/app/_common/layout/app-layouts.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

Adrienne / Show online-offline status in buy-sell page (#6914)
  packages/p2p/src/components/buy-sell/buy-sell-row.jsx
  packages/p2p/src/components/online-status/index.js
  packages/p2p/src/components/online-status/online-status-avatar.jsx
  packages/p2p/src/components/online-status/online-status-icon.jsx
  packages/p2p/src/components/online-status/online-status-label.jsx
  packages/p2p/src/components/online-status/online-status.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

MaryiaF/78803/refactor: cognitive complexity of the Quick Strategy Form and other code smells of new DBot (#6763)
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/components.types.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/data/common-input-properties.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/data/data-fields.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/data/data-uniq-input-obj.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/description.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/duration-fields.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/fields.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/form.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/index.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/input-field.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/inputs.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/selects.tsx
  packages/bot-web-ui/src/stores/quick-strategy-store.ts
Due: prettier --write, npx eslint --fix

fix: message in account settings
  packages/account/src/Components/poa/status/submitted/__tests__/submitted.spec.js
  packages/account/src/Components/poa/status/submitted/submitted.jsx
  packages/account/src/Components/poi/idv-status/idv-submit-complete/__tests__/idv-submit-complete.spec.js
  packages/account/src/Components/poi/idv-status/idv-submit-complete/idv-submit-complete.jsx
  packages/account/src/Components/poi/status/unsupported/detail-component.jsx
  packages/account/src/Components/poi/status/unsupported/unsupported.jsx
  packages/account/src/Components/poi/status/upload-complete/__tests__/upload-complete.spec.js
  packages/account/src/Components/poi/status/upload-complete/upload-complete.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

MaryiaF/feat: responsive styles as per mobile version design (#6843)
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/components.types.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/footer.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/form.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.scss
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.types.ts
  packages/bot-web-ui/src/stores/app-store.js
  packages/bot-web-ui/src/stores/quick-strategy-store.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: for the tutorials vido loading
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/dialog.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/index.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorial-content.tsx
  packages/core/src/public/images/common/static_images/video_dbot.webp
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: hitfixes
  packages/appstore/src/components/CFDs/cfd-demo-accounts.tsx
  packages/appstore/src/components/CFDs/cfd-real-accounts.tsx
  packages/appstore/src/components/onboarding/static-applauncher.scss
  packages/appstore/src/components/onboarding/static-platform-launcher.scss
  packages/appstore/src/components/platform-launcher/platform-launcher.tsx
  packages/appstore/src/modules/trading-hub/index.tsx
  packages/cfd/build/webpack.config.js
  packages/cfd/src/Containers/cfd-server-error-dialog.tsx
  packages/cfd/src/Containers/mt5-compare-table-content.tsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Components/Routes/binary-routes.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: scroll issue
  packages/cashier/src/containers/cashier/cashier.scss
  packages/cashier/src/pages/payment-agent/missing-payment-method-note/index.js
  packages/cashier/src/pages/payment-agent/missing-payment-method-note/index.ts
  packages/cashier/src/pages/payment-agent/missing-payment-method-note/missing-payment-method-note.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: worked on the load strategy dialog and made it similar to the one in production
  packages/bot-skeleton/src/constants/save-type.ts
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/local.tsx
  packages/bot-web-ui/src/components/load-modal/google-drive.tsx
  packages/bot-web-ui/src/components/load-modal/index.ts
  packages/bot-web-ui/src/components/load-modal/load-modal.tsx
  packages/bot-web-ui/src/components/load-modal/local-footer.tsx
  packages/bot-web-ui/src/components/load-modal/local.tsx
  packages/bot-web-ui/src/components/load-modal/recent-footer.tsx
  packages/bot-web-ui/src/components/load-modal/recent-workspace.tsx
  packages/bot-web-ui/src/components/load-modal/recent.tsx
  packages/bot-web-ui/src/components/load-modal/workspace-control.tsx
  packages/bot-web-ui/src/stores/load-modal-store.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Adrienne / Show online offline status in advertiser page (#6913)
  packages/p2p/src/components/advertiser-page/advertiser-page-stats.jsx
  packages/p2p/src/components/advertiser-page/advertiser-page.jsx
  packages/p2p/src/components/advertiser-page/advertiser-page.scss
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-name/my-profile-name.jsx
  packages/p2p/src/components/online-status/online-status-label.jsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: fixed z-index issue for popover in DBot page
  packages/bot-web-ui/src/constants/z-indexes.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
