Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

fix: 🐛 Withdraw page spacing issue
  packages/appstore/src/components/modals/wallet-modal/wallet-modal.scss
  packages/cashier/src/components/email-verification-empty-state/email-verification-empty-state.scss
  packages/cashier/src/components/email-verification-empty-state/email-verification-empty-state.tsx
  packages/cashier/src/components/page-container/page-container.scss
  packages/components/src/components/empty-state/empty-state.tsx
  packages/components/src/components/tabs/tabs.scss
  packages/core/src/sass/app/_common/components/account-switcher.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

maryia/dtra-369/Set up rudderstack analytics collection for charts (#9848)
  packages/analytics/src/rudderstack.ts
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/core/src/Stores/client-store.js
  packages/trader/build/webpack.config.js
  packages/trader/package.json
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/chart.spec.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/chart.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: :recycle: refactor countdown
  packages/appstore/src/components/wallet-transfer/timer/timer.tsx
Due: prettier --write, npx eslint --fix

refactor: :truck: migrates js test file to tsx
  packages/account/src/Sections/Security/ConnectedApps/__tests__/connected-apps.spec.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: apply suggestions
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/advanced-duration.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-mobile.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-range-text.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: 🐛 Withdraw page spacing issue
  packages/cashier/src/components/email-verification-empty-state/email-verification-empty-state.tsx
Due: prettier --write, npx eslint --fix

Kate / Test coverage + TS migration: Fieldset + NumberSelector in Trader package (#8424)
  packages/trader/src/App/Components/Form/__tests__/fieldset.spec.tsx
  packages/trader/src/App/Components/Form/__tests__/number-selector.spec.tsx
  packages/trader/src/App/Components/Form/fieldset.tsx
  packages/trader/src/App/Components/Form/number-selector.jsx
  packages/trader/src/App/Components/Form/number-selector.tsx
  packages/trader/src/Modules/Contract/Components/AccumulatorsStats/__tests__/accumulators-stats.spec.tsx
  packages/trader/src/Modules/SmartChart/Components/Markers/__tests__/accumulators-chart-elements.spec.tsx
  packages/trader/src/Modules/Trading/Components/Elements/Multiplier/cancel-deal-mobile.jsx
  packages/trader/src/Modules/Trading/Components/Elements/payout-per-point-mobile.tsx
  packages/trader/src/Modules/Trading/Components/Elements/purchase-fieldset.tsx
  packages/trader/src/Modules/Trading/Components/Form/LabeledQuantityInputMobile/labeled-quantity-input-mobile.jsx
  packages/trader/src/Modules/Trading/Components/Form/RadioGroupWithInfoMobile/__tests__/radio-group-with-info-mobile.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/accumulator.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/accumulators-info-display.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/accumulators-sell-button.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/cancel-deal.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/expiration.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/stop-loss.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/take-profit.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/barrier-selector.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/amount.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/barrier.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/barriers-list.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/last-digit.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/strike.jsx
  packages/trader/src/Modules/Trading/Components/Form/screen-large.tsx
  packages/trader/src/Modules/Trading/Containers/trade-params.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: failing tests
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/__tests__/buy-sell-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal-title/__tests__/buy-sell-modal-title.spec.tsx
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal-title/buy-sell-modal-title.tsx
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/si.json
Due: prettier --write

chore: refactor walletsuccessmodal
  packages/appstore/src/components/modals/add-new-wallet-modal/add-new-wallet-modal.tsx
  packages/appstore/src/components/modals/add-wallet-trading-account-modal/add-wallet-trading-account-modal.tsx
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/appstore/src/components/modals/wallet-success-dialog/wallet-success-dialog.scss
  packages/appstore/src/components/modals/wallet-success-dialog/wallet-success-dialog.tsx
  packages/appstore/src/constants/wallet-success-text.tsx
  packages/components/src/components/wallet-success-dialog/index.tsx
  packages/components/src/components/wallet-success-dialog/wallet-success-dialog.scss
  packages/components/src/components/wallet-success-dialog/wallet-success-dialog.tsx
  packages/components/src/index.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

lubega/feq 750/fix: withdraw page spacing issue (#10302)
  packages/cashier/src/components/email-verification-empty-state/email-verification-empty-state.scss
  packages/cashier/src/components/email-verification-empty-state/email-verification-empty-state.tsx
  packages/components/src/components/empty-state/empty-state.scss
  packages/components/src/components/empty-state/empty-state.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

revert: logic for generating code
  package-lock.json
  packages/account/package.json
  packages/account/src/Helpers/__tests__/utils.spec.tsx
  packages/account/src/Helpers/utils.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view-container.tsx
Due: prettier --write, npx eslint --fix

fix: fixing tabs component for alignment issues
  packages/appstore/src/components/modals/wallet-modal/wallet-modal-body.tsx
  packages/appstore/src/components/modals/wallet-modal/wallet-modal-header.tsx
  packages/appstore/src/components/modals/wallet-modal/wallet-modal.scss
  packages/cashier/src/pages/payment-agent/payment-agent-container/payment-agent-container.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: set form values
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-assessment.tsx
Due: prettier --write, npx eslint --fix

chore: adding missing testcases
  packages/account/src/Helpers/__tests__/utils.spec.tsx
  packages/account/src/Helpers/utils.tsx
Due: prettier --write, npx eslint --fix

fix: common formating function
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-assessment.tsx
Due: prettier --write, npx eslint --fix

fix: recatored Onfido constants
  packages/account/src/Constants/onfido.js
  packages/account/src/Helpers/utils.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix(cashier): :bug: constant loading in cashier
  packages/api/src/useFetch.ts
  packages/cashier/src/containers/cashier/cashier.tsx
  packages/hooks/src/usePaymentAgentTransferVisible.ts
Due: prettier --write, npx eslint --fix

nijil/aum/FEQ-739/fix alignment issues for feature branch 1 (#10252)
  packages/appstore/src/components/modals/wallet-modal/wallet-modal-body.tsx
  packages/appstore/src/components/modals/wallet-modal/wallet-modal-header.tsx
  packages/appstore/src/components/modals/wallet-modal/wallet-modal.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

test: :test_tube: add test for timer
  packages/appstore/src/components/wallet-transfer/timer/__tests__/timer.spec.tsx
Due: prettier --write, npx eslint --fix

fix: password meter and hint alignment (#10285)
  packages/components/src/components/input/input.scss
  packages/components/src/components/input/input.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: fix test for min-max-stake
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/__tests__/min-max-stake-info.spec.tsx
Due: prettier --write, npx eslint --fix

test(cashier): :test_tube: fix test
  packages/cashier/src/containers/cashier/__tests__/cashier.spec.tsx
Due: prettier --write, npx eslint --fix

chore: appply nit
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/advanced-duration.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-mobile.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: fix test for min-max-stake (#10316)
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/__tests__/min-max-stake-info.spec.tsx
Due: prettier --write, npx eslint --fix

revert: override of profit fix by old ts migration changes
  packages/trader/src/Modules/SmartChart/Components/Markers/accumulators-profit-loss-text.tsx
Due: prettier --write, npx eslint --fix

test: added a test case for value >= 1K
  packages/trader/src/Modules/SmartChart/Components/Markers/__tests__/accumulators-profit-loss-text.spec.tsx
Due: prettier --write, npx eslint --fix

fix: bump version of @deriv/deriv-api to 1.0.13 in reports package
  packages/api/package.json
Due: prettier --write

fix: chart and time interval are not loaded if you switch from one to the second and then back to the previous one, only dataType=candles(minutes)
  src/botPage/common/TicksService.js
  src/botPage/view/Dialogs/Chart.js
Due: prettier --write, npx eslint --fix

fix: conflicts
  packages/trader/src/Modules/Trading/Containers/__tests__/radio-group-options-modal.spec.jsx
  packages/trader/src/Modules/Trading/Containers/__tests__/radio-group-options-modal.spec.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: ci
  packages/appstore/src/components/transaction-list/transaction-for-day.tsx
Due: prettier --write, npx eslint --fix

fix: ci
  packages/core/src/App/Containers/Layout/header/dtrader-header-wallets.tsx
Due: prettier --write, npx eslint --fix

chore: fix circle ci and leftovers
  packages/wallets/src/components/WalletCard/WalletCard.tsx
  packages/wallets/src/components/WalletCashierHeader/WalletCashierHeader.tsx
  packages/wallets/src/components/WalletCurrencyCard/WalletCurrencyCard.tsx
  packages/wallets/src/components/WalletTransferFormAccountCard/WalletTransferFormAccountCard.tsx
  packages/wallets/src/components/WalletTransferFormDropdown/WalletTransferFormDropdown.tsx
  packages/wallets/src/components/WalletTransferFormInputField/WalletTransferFormInputField.tsx
  packages/wallets/src/components/WalletsAddMoreCard/WalletsAddMoreCard.tsx
  packages/wallets/src/components/WalletsAddMoreCardBanner/WalletsAddMoreCardBanner.tsx
  packages/wallets/src/components/WalletsAddMoreCarousel/WalletsAddMoreCarousel.tsx
Due: prettier --write, npx eslint --fix

thisyahlen/chore: enforce camelcase (#10308)
  packages/wallets/.eslintrc.js
  packages/wallets/src/components/ExternalTradingPlatforms/CTraderList/CTraderList.tsx
  packages/wallets/src/components/ExternalTradingPlatforms/OtherCFDPlatformsList/OtherCFDPlatformsList.tsx
  packages/wallets/src/components/InlineMessage/InlineMessage.tsx
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.tsx
  packages/wallets/src/components/ProgressBar/ProgressBar.tsx
  packages/wallets/src/components/Tabs/TabList.tsx
  packages/wallets/src/components/Tabs/TabPanels.tsx
  packages/wallets/src/components/Tabs/Tabs.tsx
  packages/wallets/src/components/WalletAddMoreCurrencyIcon/WalletAddMoreCurrencyIcon.tsx
  packages/wallets/src/components/WalletCard/WalletCard.tsx
  packages/wallets/src/components/WalletCashierHeader/WalletCashierHeader.tsx
  packages/wallets/src/components/WalletClipboard/WalletClipboard.tsx
  packages/wallets/src/components/WalletCurrencyCard/WalletCurrencyCard.tsx
  packages/wallets/src/components/WalletDepositCryptoAddress/WalletDepositCryptoAddress.tsx
  packages/wallets/src/components/WalletDepositCryptoCurrencyDetails/WalletDepositCryptoCurrencyDetails.tsx
  packages/wallets/src/components/WalletDepositCryptoDisclaimers/WalletDepositCryptoDisclaimers.tsx
  packages/wallets/src/components/WalletDepositFiat/WalletDepositFiat.tsx
  packages/wallets/src/components/WalletGradientBackground/WalletGradientBackground.tsx
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
  packages/wallets/src/components/WalletListCardBadge/WalletListCardBadge.tsx
  packages/wallets/src/components/WalletTransferFormAccountCard/WalletTransferFormAccountCard.tsx
  packages/wallets/src/components/WalletTransferFormDropdown/WalletTransferFormDropdown.tsx
  packages/wallets/src/components/WalletTransferFormInputField/WalletTransferFormInputField.tsx
  packages/wallets/src/components/WalletsAddMoreCard/WalletsAddMoreCard.tsx
  packages/wallets/src/components/WalletsAddMoreCardBanner/WalletsAddMoreCardBanner.tsx
  packages/wallets/src/components/WalletsAddMoreCardContent/WalletsAddMoreCardContent.tsx
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.tsx
  packages/wallets/src/hooks/useInputATMFormatter.ts
  packages/wallets/src/hooks/useInputDecimalFormatter.ts
Due: prettier --write, npx eslint --fix
