Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

fix: 🔧 change onfocus to onblur
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/MT5ChangeInvestorPasswordInputsScreen.tsx
Due: prettier --write, npx eslint --fix

[WALL] Lubega / WALL-3317 & WALL-3318 / Wallets Withdrawal and Deposit Locked scenarios (#13188)
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useCashierValidation.ts
  packages/wallets/src/components/Base/WalletLink/WalletLink.scss
  packages/wallets/src/components/Base/WalletLink/WalletLink.tsx
  packages/wallets/src/components/WalletsActionScreen/WalletsActionScreen.tsx
  packages/wallets/src/features/cashier/components/WalletCashierContent/WalletCashierContent.tsx
  packages/wallets/src/features/cashier/screens/DepositLocked/DepositLocked.scss
  packages/wallets/src/features/cashier/screens/DepositLocked/DepositLocked.tsx
  packages/wallets/src/features/cashier/screens/DepositLocked/DepositLockedContent.tsx
  packages/wallets/src/features/cashier/screens/DepositLocked/__tests__/DepositLocked.spec.tsx
  packages/wallets/src/features/cashier/screens/DepositLocked/__tests__/DepositLockedContent.spec.tsx
  packages/wallets/src/features/cashier/screens/DepositLocked/index.ts
  packages/wallets/src/features/cashier/screens/WithdrawalLocked/WithdrawalLocked.scss
  packages/wallets/src/features/cashier/screens/WithdrawalLocked/WithdrawalLocked.tsx
  packages/wallets/src/features/cashier/screens/WithdrawalLocked/WithdrawalLockedContent.tsx
  packages/wallets/src/features/cashier/screens/WithdrawalLocked/__tests__/WithdrawalLocked.spec.tsx
  packages/wallets/src/features/cashier/screens/WithdrawalLocked/__tests__/WithdrawalLockedContent.spec.tsx
  packages/wallets/src/features/cashier/screens/WithdrawalLocked/index.ts
  packages/wallets/src/features/cashier/screens/index.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

fix: updated email verification request and sent icons
  packages/components/src/components/icon/common/ic-withdraw-request-verification-sent.svg
  packages/components/src/components/icon/common/ic-withdraw-request-verification.svg
Due: none

chore: setup testing in p2p-v2, create tests for user avatar
  packages/p2p-v2/jest.config.js
  packages/p2p-v2/src/components/UserAvatar/UserAvatar.tsx
  packages/p2p-v2/src/components/UserAvatar/__tests__/UserAvatar.spec.tsx
Due: prettier --write, npx eslint --fix

chore: ✨update resend email button
  packages/wallets/src/components/SentEmailContent/SentEmailContent.tsx
Due: prettier --write, npx eslint --fix

chore: update react imports
  packages/tradershub/src/features/cfd/constants.tsx
  packages/tradershub/src/features/cfd/screens/CreatePassword/CreatePassword.tsx
  packages/tradershub/src/features/cfd/screens/EnterPassword/EnterPassword.tsx
Due: prettier --write, npx eslint --fix

refactor: update TProps naming
  packages/tradershub/src/components/ActionScreen/ActionScreen.tsx
  packages/tradershub/src/components/SentEmailContent/SentEmailContent.tsx
  packages/tradershub/src/components/Tooltip/Tooltip.tsx
  packages/tradershub/src/components/TradingAccountCard/TradingAccountCard.tsx
  packages/tradershub/src/features/cfd/screens/CreatePassword/CreatePassword.tsx
  packages/tradershub/src/features/cfd/screens/EnterPassword/EnterPassword.tsx
  packages/tradershub/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCardVerificationTag.tsx
  packages/tradershub/src/features/cfd/screens/Jurisdiction/JurisdictionTncSection/JurisdictionTncSection.tsx
  packages/tradershub/src/features/cfd/screens/MT5AccountType/MT5AccountType.tsx
  packages/tradershub/src/features/cfd/screens/MT5AccountTypeCard/MT5AccountTypeCard.tsx
  packages/tradershub/src/modals/RegulationModal/Row.tsx
Due: prettier --write, npx eslint --fix

chore: replace versions with SHA
  .github/actions/invalidate_npm_cache/action.yml
  .github/actions/npm_install_from_cache/action.yml
  .github/actions/setup_node/action.yml
  .github/workflows/coveralls.yml
  .github/workflows/generate_and_push_deriv_api_types.yml
  .github/workflows/generate_app_id.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lighthouse.yml
  .github/workflows/merge_and_release_to_staging.yml
  .github/workflows/push_and_pull_crowdin_translations.yml
  .github/workflows/release_production.yml
  .github/workflows/release_staging.yml
  .github/workflows/release_test.yml
  .github/workflows/release_uat.yml
  .github/workflows/smoketests.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
Due: none

chore: ✨ update test to includes tab content and clicking
  packages/wallets/src/components/AccountsList/__tests__/AccountsList.spec.tsx
Due: prettier --write, npx eslint --fix

feat: added verification + nickname modal flow
  packages/p2p-v2/src/components/AdvertiserName/AdvertiserName.tsx
  packages/p2p-v2/src/components/AdvertiserName/AdvertiserNameBadges.tsx
  packages/p2p-v2/src/components/AdvertiserName/AdvertiserNameStats.tsx
  packages/p2p-v2/src/components/Modals/NicknameModal/NicknameModal.tsx
  packages/p2p-v2/src/components/Verification/Verification.scss
  packages/p2p-v2/src/components/Verification/Verification.tsx
  packages/p2p-v2/src/pages/my-profile/screens/MyProfile/MyProfile.tsx
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileBalance/MyProfileBalance.scss
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileBalance/MyProfileBalance.tsx
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileContent/MyProfileContent.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: change from quill to ui
  packages/tradershub/src/components/CurrencySwitcher/CurrencySwitcherAccountInfo.tsx
Due: prettier --write, npx eslint --fix

chore: updated content by content team recommendation
  packages/core/src/App/Containers/Modals/mt5-notification/mt5-notification-description.tsx
Due: prettier --write, npx eslint --fix

chore: removed remaining FC
  packages/tradershub/src/features/cfd/screens/CFDSuccess/CFDSuccess.tsx
  packages/tradershub/src/features/cfd/screens/EnterPassword/EnterPassword.tsx
  packages/tradershub/src/features/cfd/screens/MT5AccountType/MT5AccountType.tsx
  packages/tradershub/src/features/cfd/screens/MT5AccountTypeCard/MT5AccountTypeCard.tsx
Due: prettier --write, npx eslint --fix

chore: backup
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileBalance/MyProfileBalance.tsx
  packages/p2p-v2/src/routes/AppContent/index.tsx
Due: prettier --write, npx eslint --fix

chore: update the Broker name and remove redundant type
  packages/cfd/src/Containers/dmt5-trade-modal.tsx
  packages/cfd/src/Helpers/constants.ts
  packages/cfd/src/features/Containers/mt5-trade-modal.tsx
Due: prettier --write, npx eslint --fix

chore: signup flow responsive improvment and dummy screens
  packages/tradershub/src/components/ProgressBar/ProgressBar.classnames.ts
  packages/tradershub/src/components/ProgressBar/StepConnector.tsx
  packages/tradershub/src/components/ProgressBar/Stepper.tsx
  packages/tradershub/src/components/ProgressBar/index.tsx
  packages/tradershub/src/flows/RealAccountSIgnup/SignupWizard/Actions/index.tsx
  packages/tradershub/src/flows/RealAccountSIgnup/SignupWizard/WizardScreenWrapper/WizardScreenWrapper.tsx
  packages/tradershub/src/flows/RealAccountSIgnup/SignupWizard/WizardScreens/index.tsx
  packages/tradershub/src/flows/RealAccountSIgnup/SignupWizard/index.tsx
  packages/tradershub/src/providers/SignupWizardProvider/SignupWizardContext.tsx
  packages/tradershub/src/providers/SignupWizardProvider/ValuesReducer.ts
  packages/tradershub/src/providers/SignupWizardProvider/types.ts
  packages/tradershub/src/screens/Address/Address.tsx
  packages/tradershub/src/screens/Address/index.ts
  packages/tradershub/src/screens/CurrencySelector/Currencies.tsx
  packages/tradershub/src/screens/CurrencySelector/CurrencyCard.tsx
  packages/tradershub/src/screens/PersonalDetails/PersonalDetails.tsx
  packages/tradershub/src/screens/PersonalDetails/index.ts
  packages/tradershub/src/screens/TermsOfUse/TermsOfUse.tsx
  packages/tradershub/src/screens/TermsOfUse/index.ts
  packages/tradershub/src/screens/index.ts
  packages/tradershub/tailwind.config.js
Due: prettier --write, npx eslint --fix

fix: add console log for testing purpose
  packages/bot-skeleton/src/services/api/api-middleware.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: made changes based on the comments
  packages/tradershub/src/features/cfd/screens/ChangePassword/ChangePassword.tsx
  packages/tradershub/src/features/cfd/screens/ChangePassword/InvestorPassword/MT5ChangeInvestorPasswordInputsScreen.tsx
  packages/tradershub/src/features/cfd/screens/ChangePassword/InvestorPassword/MT5ChangeInvestorPasswordSavedScreen.tsx
  packages/tradershub/src/features/cfd/screens/ChangePassword/MT5ChangePasswordScreens.tsx
  packages/tradershub/src/features/cfd/screens/ChangePassword/TradingPlatformChangePasswordScreens.tsx
Due: prettier --write, npx eslint --fix

chore: replaced Heading with Text from UI
  packages/tradershub/src/flows/RealAccountSIgnup/SignupWizard/Actions/index.tsx
  packages/tradershub/src/flows/RealAccountSIgnup/SignupWizard/WizardScreenWrapper/WizardScreenWrapper.tsx
  packages/tradershub/src/flows/RealAccountSIgnup/SignupWizard/index.tsx
Due: prettier --write, npx eslint --fix

chore: modified test to check whether the verification code is received by the modules
  packages/wallets/src/features/cashier/flows/WalletWithdrawal/__tests__/WalletWithdrawal.spec.tsx
Due: prettier --write, npx eslint --fix

chore: ✨ styles changes
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.scss
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/MT5ChangeInvestorPasswordScreens.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: revert unrelated changes
  packages/p2p-v2/jest.config.js
  packages/p2p-v2/src/components/UserAvatar/UserAvatar.tsx
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileBalance/MyProfileBalance.tsx
Due: prettier --write, npx eslint --fix

chore: revert unrelated changes
  packages/p2p-v2/src/components/UserAvatar/__tests__/UserAvatar.spec.tsx
Due: prettier --write, npx eslint --fix

chore: refactor test id
  packages/p2p-v2/src/components/UserAvatar/UserAvatar.tsx
  packages/p2p-v2/src/components/UserAvatar/__tests__/UserAvatar.spec.tsx
Due: prettier --write, npx eslint --fix

chore: revert unrelated changes
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileBalance/MyProfileBalance.tsx
  packages/p2p-v2/src/routes/AppContent/index.tsx
Due: prettier --write, npx eslint --fix

fix: changed the height of the forgot password
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: 🩹 added case for rendering children for TransferNotAvailable
  packages/wallets/src/features/cashier/flows/WalletTransfer/__tests__/WalletTransfer.spec.tsx
Due: prettier --write, npx eslint --fix

chore: added unit tests for verification
  packages/p2p-v2/jest.config.js
  packages/p2p-v2/src/components/Checklist/Checklist.tsx
  packages/p2p-v2/src/components/Verification/Verification.tsx
  packages/p2p-v2/src/components/Verification/__tests__/Verification.spec.tsx
Due: prettier --write, npx eslint --fix

chore: 🩹 added test case for onClose on WithdrawalCryptoModule
  packages/wallets/src/features/cashier/flows/WalletWithdrawal/__tests__/WalletWithdrawal.spec.tsx
Due: prettier --write, npx eslint --fix

chore: refactor UI provider in tradershub
  packages/components/stories/icon/icons.js
  packages/tradershub/src/AppContent.tsx
  packages/tradershub/src/components/CFDSection/CFDContent/CFDContent.tsx
  packages/tradershub/src/components/CFDSection/CFDHeading/CFDHeading.tsx
  packages/tradershub/src/components/CFDSection/CFDSection.tsx
  packages/tradershub/src/components/CurrencySwitcher/CurrencySwitcher.tsx
  packages/tradershub/src/components/DemoRealSwitcher/DemoRealSwitcher.tsx
  packages/tradershub/src/components/OptionsAndMultipliersSection/OptionsAndMultipliersContent/OptionsAndMultipliersContent.tsx
  packages/tradershub/src/components/OptionsAndMultipliersSection/OptionsAndMultipliersHeading/OptionsAndMultipliersHeading.tsx
  packages/tradershub/src/components/OptionsAndMultipliersSection/OptionsAndMultipliersSection.tsx
  packages/tradershub/src/components/RegulationSwitcher/RegulationSwitcherDesktop.tsx
  packages/tradershub/src/components/RegulationSwitcher/RegulationSwitcherMobile.tsx
  packages/tradershub/src/components/TradersHubContent/TradersHubContent.tsx
  packages/tradershub/src/components/TradingAccountsList/TradingAccountsList.tsx
  packages/tradershub/src/components/UIProvider/UIProvider.tsx
  packages/tradershub/src/features/cfd/components/MT5PlatformsList/MT5PlatformsList.tsx
  packages/tradershub/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
  packages/tradershub/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.tsx
  packages/tradershub/src/features/cfd/flows/MT5/MT5AccountIcon.tsx
  packages/tradershub/src/features/cfd/modals/JurisdictionModal/JurisdictionModal.tsx
  packages/tradershub/src/features/cfd/screens/EnterPassword/EnterPassword.tsx
  packages/tradershub/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCard.tsx
  packages/tradershub/src/features/cfd/screens/TradeScreen/TradeScreen.tsx
  packages/tradershub/src/hooks/useRegulationSwitcher.ts
  packages/tradershub/src/routes/TradersHubRoute/TradersHubRoute.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: added p2p_v2 to test id
  packages/p2p-v2/src/components/Verification/Verification.tsx
  packages/p2p-v2/src/components/Verification/__tests__/Verification.spec.tsx
Due: prettier --write, npx eslint --fix

chore: restore icons.js
  packages/components/stories/icon/icons.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

[TRAH] shontzu/TRAH-2704/Rename-TProps (#13246)
  packages/tradershub/src/components/ActionScreen/ActionScreen.tsx
  packages/tradershub/src/components/SentEmailContent/SentEmailContent.tsx
  packages/tradershub/src/components/Tooltip/Tooltip.tsx
  packages/tradershub/src/components/TradingAccountCard/TradingAccountCard.tsx
  packages/tradershub/src/features/cfd/screens/CFDSuccess/CFDSuccess.tsx
  packages/tradershub/src/features/cfd/screens/CreatePassword/CreatePassword.tsx
  packages/tradershub/src/features/cfd/screens/EnterPassword/EnterPassword.tsx
  packages/tradershub/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCardVerificationTag.tsx
  packages/tradershub/src/features/cfd/screens/Jurisdiction/JurisdictionTncSection/JurisdictionTncSection.tsx
  packages/tradershub/src/features/cfd/screens/MT5AccountType/MT5AccountType.tsx
  packages/tradershub/src/features/cfd/screens/MT5AccountTypeCard/MT5AccountTypeCard.tsx
  packages/tradershub/src/modals/RegulationModal/Row.tsx
Due: prettier --write, npx eslint --fix

chore: update TradersHubRoute
  packages/tradershub/src/routes/TradersHubRoute/TradersHubRoute.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
Due: prettier --write

P2p v2 routes fix (#13252)
  packages/p2p-v2/src/hooks/useSwitchTab.ts
  packages/p2p-v2/src/routes/AppContent/index.tsx
  packages/p2p-v2/types.ts
Due: prettier --write, npx eslint --fix
