Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Fix dropdown alignment
  packages/components/src/components/dropdown/dropdown.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

Remove merge conflict
  packages/cfd/src/sass/cfd-dashboard.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

Apply prettier
  packages/shared/src/utils/constants/contract.tsx
Due: prettier --write, npx eslint --fix

updated icons and text as per design (#6806)
  packages/bot-web-ui/src/components/dashboard/dashboard-component/cards.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/dashboard-component.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Create CNAME
  CNAME
Due: none

Delete CNAME
  CNAME
Due: none

Fixed merge conflicts
  packages/p2p/src/stores/general-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Revert "Code refactoring"
  packages/p2p/src/components/introducing-floating-rates-modal/index.js
  packages/p2p/src/components/introducing-floating-rates-modal/introducing-floating-rates-modal.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Revert "Added notification in bell, and fixed an issue where notifications are not shown for different ad type changed by using different keys"
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.jsx
  packages/p2p/src/stores/general-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

New PR
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.jsx
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/introducing-floating-rates-modal/index.js
  packages/p2p/src/components/introducing-floating-rates-modal/introducing-floating-rates-modal.jsx
  packages/p2p/src/components/introducing-floating-rates-modal/introducing-floating-rates-modal.scss
  packages/p2p/src/stores/general-store.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Fixed issues with PR not in sync with develop
  packages/core/src/App/Components/Elements/NotificationMessage/notification-ad-type.jsx
  packages/core/src/App/Components/Elements/NotificationMessage/notification.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Fixed issues with PR not in sync with develop
  packages/core/src/public/images/common/static_images/dp2p_introduction.png
Due: none

farrah/76187/Ad filter flow (#6627)
  packages/components/src/components/autocomplete/autocomplete.jsx
  packages/components/src/components/dropdown-list/dropdown-list.jsx
  packages/components/src/components/dropdown/dropdown.jsx
  packages/p2p/src/components/advertiser-page/advertiser-page-row.jsx
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
  packages/p2p/src/components/buy-sell/buy-sell-header.jsx
  packages/p2p/src/components/buy-sell/buy-sell-header.scss
  packages/p2p/src/components/buy-sell/buy-sell-row.jsx
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/buy-sell/currency-dropdown.jsx
  packages/p2p/src/components/buy-sell/currency-dropdown.scss
  packages/p2p/src/components/buy-sell/currency-selector.scss
  packages/p2p/src/components/buy-sell/currency-selector/currency-selector-modal.jsx
  packages/p2p/src/components/buy-sell/currency-selector/currency-selector.jsx
  packages/p2p/src/components/buy-sell/currency-selector/currency-selector.scss
  packages/p2p/src/components/buy-sell/currency-selector/index.js
  packages/p2p/src/components/floating-rate/__test__/floating-rate.spec.js
  packages/p2p/src/components/floating-rate/floating-rate.jsx
  packages/p2p/src/components/my-ads/create-ad-summary.jsx
  packages/p2p/src/components/my-ads/edit-ad-summary.jsx
  packages/p2p/src/components/my-ads/my-ads-row-renderer.jsx
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/components/p2p-accordion/p2p-accordion.jsx
  packages/p2p/src/components/search-box/search-box.scss
  packages/p2p/src/stores/advertiser-page-store.js
  packages/p2p/src/stores/buy-sell-store.js
  packages/p2p/src/stores/floating-rate-store.js
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/utils/format-value.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: :recycle: incorporated review comment
  packages/account/src/Components/leave-confirm/leave-confirm.tsx
Due: prettier --write, npx eslint --fix

Fixed issues with newlines not detecting in order details (#6381)
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/components/order-details/order-details.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

add test coverage for BuySellFormReceiveAmount component (#6675)
  packages/p2p/src/components/buy-sell/__tests__/buy-sell-form-receive-amount.spec.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

test case fix
  packages/cfd/src/Containers/__tests__/cfd-dashboard.spec.tsx
  packages/cfd/src/Containers/__tests__/cfd-password-modal.spec.js
  packages/cfd/src/Containers/cfd-financial-stp-real-account-signup.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

test case fix
  packages/cfd/src/Components/cfd-account-card.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
Due: prettier --write, npx eslint --fix

minify icon
  packages/appstore/src/assets/svgs/wallet/drop-down.svg
Due: none

fixed advertiser buy and sell balance (#6803)
  packages/p2p/src/stores/general-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Yauheni/77995/update trade params for stayin breakout (#25)
  packages/components/src/components/icon/common/ic-cat-accumulator.svg
  packages/components/src/components/icon/tradetype/ic-tradetype-accu.svg
  packages/components/src/components/icon/tradetype/ic-tradetype-deccu.svg
  packages/trader/src/App/Components/Elements/TogglePositions/toggle-positions-mobile.jsx
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-accumulator.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-stays-in-goes-out.svg
  packages/trader/src/Assets/Trading/Categories/trade-categories-gif.jsx
  packages/trader/src/Modules/Trading/Components/Elements/purchase-button.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-dialog.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-item.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/accumulators-amount-mobile.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/take-profit.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/amount.jsx
  packages/trader/src/sass/app/_common/components/contract-type-info.scss
  packages/trader/src/sass/app/_common/components/contract-type-list.scss
  packages/trader/src/sass/app/_common/components/contract-type-widget.scss
  packages/trader/src/sass/app/_common/components/purchase-button.scss
  packages/trader/src/sass/app/modules/trading-mobile.scss
  packages/trader/src/sass/app/modules/trading.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Enhance test
  packages/cashier/src/pages/on-ramp/__tests__/on-ramp.spec.tsx
Due: prettier --write, npx eslint --fix

Enhance types
  packages/cashier/src/pages/payment-agent/payment-agent-listed-withdraw-form/__tests__/payment-agent-listed-withdraw-form.spec.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-listed-withdraw-form/payment-agent-listed-withdraw-form.tsx
  packages/cashier/src/stores/payment-agent-store.ts
  packages/cashier/src/types/shared/websocket.types.ts
Due: prettier --write, npx eslint --fix

refactor(error types): refactor error types
  packages/cashier/src/pages/account-transfer/account-transfer.tsx
  packages/cashier/src/types/shared/websocket.types.ts
Due: prettier --write, npx eslint --fix

remove myapps.deriv, fix walletIcon typescript, add gap to css, replace <>
  packages/appstore/src/assets/svgs/wallet/index.tsx
  packages/appstore/src/components/CFDs/cfd-accounts.scss
  packages/appstore/src/components/account-manager/account-manager.tsx
  packages/appstore/src/components/onboarding/static-platform-launcher.tsx
  packages/appstore/src/components/options/options-accounts.tsx
  packages/appstore/src/components/platform-launcher/platform-launcher.tsx
  packages/cfd/src/Stores/connect.js
  packages/core/src/App/Containers/Layout/header/header.jsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

maryia/fix: styles & fonts for responsive trade types
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-accumulator.svg
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info-header.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-dialog.jsx
  packages/trader/src/sass/app/_common/components/contract-type-info.scss
  packages/trader/src/sass/app/_common/components/contract-type-widget.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: sort proptypes in alphabetical order
  packages/account/src/Sections/Verification/ProofOfOwnership/Card.jsx
  packages/account/src/Sections/Verification/ProofOfOwnership/ExpandedCard.jsx
  packages/account/src/Sections/Verification/ProofOfOwnership/FileUploader.jsx
  packages/account/src/Sections/Verification/ProofOfOwnership/proof-of-ownership-form.jsx
  packages/account/src/Sections/Verification/ProofOfOwnership/proof-of-ownership.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

task: create acuity download modal and update ui store
  packages/cfd/src/Components/cfd-account-card.tsx
  packages/cfd/src/Components/cfd-real-account-display.tsx
  packages/cfd/src/Components/props.types.ts
  packages/cfd/src/Containers/acuity-download-modal.tsx
  packages/cfd/src/Containers/cfd-dashboard.tsx
  packages/cfd/src/sass/cfd.scss
  packages/core/src/Stores/ui-store.js
  packages/core/src/public/images/common/static_images/acuity_modal.png
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: migrate tabs component to typescript
  packages/components/src/components/tabs/index.ts
  packages/components/src/components/tabs/tab.tsx
  packages/components/src/components/tabs/tabs.tsx
  packages/components/src/components/themed-scrollbars/themed-scrollbars.tsx
Due: prettier --write, npx eslint --fix

chore: remove default null assignment
  packages/components/src/components/remaining-time/remaining-time.tsx
Due: prettier --write, npx eslint --fix

replace_connect_method_with_usestore_hook-for_ccountpromptdialog_component
  packages/cashier/src/components/account-prompt-dialog/__tests__/account-prompt-dialog.spec.js
  packages/cashier/src/components/account-prompt-dialog/account-prompt-dialog.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: :bug: wrap `CashierLocked` with `observer`
  packages/cashier/src/components/cashier-locked/cashier-locked.tsx
Due: prettier --write, npx eslint --fix

Change highlighted market to subgroup
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Fix responsiveness issue on cfd and options accounts container
  packages/appstore/src/components/account-manager/account-manager.scss
  packages/appstore/src/components/account/account.scss
  packages/appstore/src/components/options/options-accounts.scss
  packages/appstore/src/components/platform-launcher/platform-launcher.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

P2p cross border ad feature (#6564)
  packages/cashier/src/stores/general-store.js
  packages/components/src/components/autocomplete/autocomplete.jsx
  packages/components/src/components/dropdown-list/dropdown-list.jsx
  packages/components/src/components/dropdown/dropdown.jsx
  packages/p2p/src/components/advertiser-page/advertiser-page-row.jsx
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
  packages/p2p/src/components/buy-sell/buy-sell-header.jsx
  packages/p2p/src/components/buy-sell/buy-sell-header.scss
  packages/p2p/src/components/buy-sell/buy-sell-row.jsx
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/buy-sell/currency-dropdown.jsx
  packages/p2p/src/components/buy-sell/currency-dropdown.scss
  packages/p2p/src/components/buy-sell/currency-selector/currency-selector-modal.jsx
  packages/p2p/src/components/buy-sell/currency-selector/currency-selector.jsx
  packages/p2p/src/components/buy-sell/currency-selector/currency-selector.scss
  packages/p2p/src/components/buy-sell/currency-selector/index.js
  packages/p2p/src/components/floating-rate/__test__/floating-rate.spec.js
  packages/p2p/src/components/floating-rate/floating-rate.jsx
  packages/p2p/src/components/my-ads/create-ad-summary.jsx
  packages/p2p/src/components/my-ads/edit-ad-summary.jsx
  packages/p2p/src/components/my-ads/my-ads-row-renderer.jsx
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/components/p2p-accordion/p2p-accordion.jsx
  packages/p2p/src/components/search-box/search-box.scss
  packages/p2p/src/stores/advertiser-page-store.js
  packages/p2p/src/stores/buy-sell-store.js
  packages/p2p/src/stores/floating-rate-store.js
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/utils/format-value.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
Due: prettier --write

feat: :heavy_plus_sign: displays vanilla options under trade types
  packages/components/src/components/icon/tradetype/ic-tradetype-vanilla-long-call.svg
  packages/components/src/components/icon/tradetype/ic-tradetype-vanilla-long-put.svg
  packages/components/stories/icon/icons.js
  packages/shared/src/utils/constants/contract.tsx
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-vanilla.svg
  packages/trader/src/Assets/Trading/Categories/icon-trade-categories.jsx
  packages/trader/src/Assets/Trading/Categories/trade-categories.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-item.jsx
  packages/trader/src/sass/app/_common/components/contract-type-list.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
