Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

refactor: getChartAnalyticsData
  packages/trader/src/Stores/Modules/Trading/Helpers/chart.ts
Due: prettier --write, npx eslint --fix

chore: update config & form types
  packages/account/src/Components/additional-kyc-info-modal/additional-kyc-info-form.tsx
  packages/account/src/Components/additional-kyc-info-modal/form-config.tsx
Due: prettier --write, npx eslint --fix

chore: update form types
  packages/account/src/Components/additional-kyc-info-modal/additional-kyc-info-form.tsx
Due: prettier --write, npx eslint --fix

feat: :art: incorporated hooks for API token
  packages/account/src/App.tsx
  packages/account/src/Components/api-token/api-token.tsx
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useGetApiToken.ts
  packages/api/src/hooks/useSetApiToken.ts
Due: prettier --write, npx eslint --fix

fix: cashier sonarcloud major issues
  packages/cashier/src/components/crypto-fiat-converter/crypto-fiat-converter.tsx
  packages/cashier/src/components/transfer-confirm/transfer-confirm.tsx
  packages/cashier/src/containers/routes/binary-routes.tsx
  packages/cashier/src/pages/on-ramp/on-ramp-provider-card/on-ramp-provider-card.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-card/helpers/helpers.ts
  packages/cashier/src/pages/payment-agent/payment-agent-card/payment-agent-card-description.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-container/payment-agent-container.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-deposit-details/payment-agent-deposit-details.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-unlisted-withdraw-form/payment-agent-unlisted-withdraw-form.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-withdrawal-locked/payment-agent-withdrawal-locked.tsx
  packages/cashier/src/stores/__tests__/error-store.spec.ts
  packages/cashier/src/stores/__tests__/general-store.spec.ts
  packages/cashier/src/stores/general-store.ts
Due: prettier --write, npx eslint --fix

fix: storing user_id in localsrotage & setting account_type in client store
  packages/analytics/src/rudderstack.ts
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/core/src/Stores/client-store.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

test: getChartAnalyticsData
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/chart.spec.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/chart.ts
Due: prettier --write, npx eslint --fix

feat: add event for clear al l button in indicators
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/chart.spec.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/chart.ts
Due: prettier --write, npx eslint --fix

refactor: change folder structure
  packages/core/src/App/Components/Layout/Header/Components/Preloader/index.js
  packages/core/src/App/Components/Layout/Header/wallets/accounts-info-loader-wallets.tsx
  packages/core/src/App/Containers/Layout/header/dtrader-header-wallets.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: :sparkles: wallet modal tabs scroll into view
  packages/appstore/src/components/modals/wallet-modal/wallet-modal-body.tsx
  packages/components/src/components/tabs/tabs.tsx
Due: prettier --write, npx eslint --fix

chore: add styles and buttons
  packages/wallets/src/components/AccountsList/AccountsList.tsx
  packages/wallets/src/components/ProgressBar/ProgressBar.scss
  packages/wallets/src/components/ProgressBar/ProgressBar.tsx
  packages/wallets/src/components/ProgressBar/index.ts
  packages/wallets/src/components/WalletCard/WalletCard.scss
  packages/wallets/src/components/WalletListCardIActions/WalletListCardIActions.scss
  packages/wallets/src/components/WalletListCardIActions/WalletListCardIActions.tsx
  packages/wallets/src/components/WalletsCarousel/WalletsCarousel.scss
  packages/wallets/src/components/WalletsCarousel/WalletsCarousel.tsx
  packages/wallets/src/components/index.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: standarize type
  packages/wallets/src/components/ProgressBar/ProgressBar.tsx
Due: prettier --write, npx eslint --fix

chore: rename progressbar
  packages/wallets/src/components/ProgressBar/ProgressBar.tsx
Due: prettier --write, npx eslint --fix

chore: refactor onItemSelection event handler
  packages/account/src/Components/additional-kyc-info-modal/additional-kyc-info-form.tsx
  packages/account/src/Components/form-field-info/form-field-info.tsx
Due: prettier --write, npx eslint --fix

chore: :fire: removed consoles and worked on suggestions
  cli-examples/speed-test.js
  src/api-base.js
  src/components/Header/tab-content.jsx
Due: prettier --write, npx eslint --fix

chore: added test cases for information submittion modal
  packages/core/src/App/Containers/Modals/information-submitted-modal/__test__/information-submitted-modal.spec.tsx
  packages/core/src/App/Containers/Modals/information-submitted-modal/information-submitted-modal.tsx
  packages/core/src/Stores/notification-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: reverted unneccessary file changes
  packages/account/src/Components/account-limits/account-limits-extra-info.tsx
  packages/components/src/components/dropdown-list/dropdown-list.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: added gif as supported file
  packages/account/src/Components/file-uploader-container/file-uploader-container.tsx
Due: prettier --write, npx eslint --fix

fix: failing test
  packages/account/src/Components/file-uploader-container/__tests__/file-uploader-container.spec.tsx
Due: prettier --write, npx eslint --fix

fix: :art: updates PWA brand color
  packages/core/src/templates/app/manifest.json
Due: prettier --write

perf: added test case for useTransferMessageList
  packages/hooks/src/__tests__/useTransferMessageList.spec.tsx
Due: prettier --write, npx eslint --fix

fix: :memo: specifies app id explicitly instead of falling back to start url
  packages/core/src/templates/app/manifest.json
Due: prettier --write

chore: update form config types
  packages/account/src/Components/additional-kyc-info-modal/form-config.tsx
  packages/core/src/App/Containers/Modals/app-modals.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: remove extra warning from mobile
  packages/components/src/components/tooltip/tooltip.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: :bug: adds clickable behavior for ios devices
  packages/components/src/components/radio-group/radio-group.tsx
Due: prettier --write, npx eslint --fix

fix: success modal not popping up
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/components/src/components/wallet-cfd-success-dialog/index.ts
Due: prettier --write, npx eslint --fix

fix: :bug: adds click to label
  packages/components/src/components/radio-group/radio-group.tsx
Due: prettier --write, npx eslint --fix

chore: refactor login-history files
  packages/account/src/Sections/Security/LoginHistory/__test__/list-cell.spec.tsx
  packages/account/src/Sections/Security/LoginHistory/__test__/login-history-list-row.spec.tsx
  packages/account/src/Sections/Security/LoginHistory/__test__/login-history-table-row.spec.tsx
  packages/account/src/Sections/Security/LoginHistory/__test__/login-history.spec.tsx
  packages/account/src/Sections/Security/LoginHistory/list-cell.tsx
  packages/account/src/Sections/Security/LoginHistory/login-history-list-row.tsx
  packages/account/src/Sections/Security/LoginHistory/login-history-table-row.tsx
  packages/account/src/Sections/Security/LoginHistory/login-history.tsx
  packages/api/src/hooks/useLoginHistory.ts
  packages/api/src/hooks/useLoginHistory.tsx
  packages/api/types.ts
  packages/utils/src/getLoginHistoryFormattedData.tsx
  packages/utils/src/index.ts
Due: prettier --write, npx eslint --fix

fix: props
  packages/wallets/src/components/WalletListCardIActions/WalletListCardIActions.tsx
  packages/wallets/src/components/WalletsCarousel/WalletsCarousel.tsx
Due: prettier --write, npx eslint --fix

refactor: delete USD from currencies_config response in tests
  packages/appstore/src/components/wallet-cards-carousel/__tests__/wallet-cards-carousel.spec.tsx
Due: prettier --write, npx eslint --fix

fix: accidental tab switching to duration when closing mobile widget in stake tab
  packages/trader/src/Modules/Trading/Components/Elements/mobile-widget.jsx
  packages/trader/src/Modules/Trading/Containers/trade-params-mobile.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: updated scroll parameters
  packages/components/src/components/data-list/data-list.tsx
  packages/components/src/components/infinite-data-list/infinite-data-list.tsx
  packages/p2p/src/components/buy-sell/buy-sell-row.jsx
  packages/p2p/src/components/buy-sell/buy-sell-table.jsx
  packages/p2p/src/stores/buy-sell-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: reset package.json and package-lock.json with feature branch
  package-lock.json
  package.json
Due: prettier --write

chore: change type for reference
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/bot-preview.tsx
Due: prettier --write, npx eslint --fix

fix: tour test cases
  packages/bot-web-ui/src/components/dashboard/dbot-tours/config/__tests__/config.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/mobile-tours/__tests__/bot-builder-tour.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/mobile-tours/__tests__/onboarding-tour.spec.tsx
Due: prettier --write, npx eslint --fix

chore: remove unused variable
  packages/cashier/src/pages/withdrawal/crypto-withdraw-form/crypto-withdraw-form.tsx
Due: prettier --write, npx eslint --fix

fix: split components
  packages/wallets/src/components/AccountsList/AccountsList.tsx
  packages/wallets/src/components/WalletsCarousel/WalletsCarousel.tsx
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.scss
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.tsx
  packages/wallets/src/components/WalletsCarouselContent/index.ts
  packages/wallets/src/components/index.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: update account status upon submission
  packages/account/src/Components/additional-kyc-info-modal/additional-kyc-info-form.tsx
Due: prettier --write, npx eslint --fix

ci: use 16 core runner
  .github/workflows/test.yml
Due: none
