Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: update test description
  packages/trader/src/Modules/Contract/Components/InfoBox/__tests__/info-box-longcode.spec.tsx
Due: prettier --write, npx eslint --fix

fix: set config.platform in sessionStorage instead of localStorage
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/core/src/Modules/Endpoint/Endpoint.jsx
  packages/core/src/Stores/common-store.js
  packages/shared/src/utils/config/config.ts
  packages/shared/src/utils/platform/platform.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: refactored verification component
  packages/p2p/src/components/verification/__tests__/verification.spec.js
  packages/p2p/src/components/verification/__tests__/verification.spec.tsx
  packages/p2p/src/components/verification/index.ts
  packages/p2p/src/components/verification/verification.tsx
  packages/p2p/src/pages/buy-sell/buy-sell.jsx
  packages/p2p/src/pages/my-ads/my-ads.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: renamed status variable name
  packages/shared/src/utils/cfd/cfd.ts
Due: prettier --write, npx eslint --fix

chore: refactored recommend user component
  packages/p2p/src/components/recommend-user/__test__/recommend-user.spec.tsx
  packages/p2p/src/components/recommend-user/index.ts
  packages/p2p/src/components/recommend-user/recommend-user.tsx
Due: prettier --write, npx eslint --fix

chore: added empty onboarding test case
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/modals/account-type-modal/account-type-modal.tsx
  packages/appstore/src/components/onboarding-new/static-cfd-account-manager.tsx
  packages/appstore/src/components/onboarding-new/static-trading-app-card.tsx
  packages/appstore/src/modules/onboarding/__test__/empty-onboarding.spec.tsx
  packages/appstore/src/modules/onboarding/empty-onboarding.tsx
  packages/appstore/src/modules/onboarding/onboarding.tsx
Due: prettier --write, npx eslint --fix

chore: add test coverage for empty onboarding
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/modals/account-type-modal/account-type-modal.tsx
  packages/appstore/src/components/onboarding-new/static-cfd-account-manager.tsx
  packages/appstore/src/components/onboarding-new/static-trading-app-card.tsx
  packages/appstore/src/modules/onboarding/__test__/empty-onboarding.spec.tsx
  packages/appstore/src/modules/onboarding/empty-onboarding.tsx
  packages/appstore/src/modules/onboarding/onboarding.tsx
Due: prettier --write, npx eslint --fix

chore: update code to use SessionStore
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: updated to latest description (derivez onboarding/tradershub)
  packages/appstore/src/components/onboarding-new/static-cfd-account-manager.tsx
  packages/appstore/src/components/onboarding-new/static-dashboard.tsx
  packages/shared/src/utils/cfd/available-cfd-accounts.ts
Due: prettier --write, npx eslint --fix

feat: update wallet colors mixin
  packages/core/src/sass/app/_common/components/wallet.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: hide derivez and dxtrade in cfd_restricted countries (japan, norway)
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/cfd/src/Stores/Modules/CFD/Helpers/cfd-config.ts
  packages/core/src/Stores/traders-hub-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: removed fireEvent, used userEvent
  packages/p2p/src/components/recommend-user/__test__/recommend-user.spec.tsx
Due: prettier --write, npx eslint --fix

fix: added more test cases
  packages/appstore/src/components/onboarding-new/static-dashboard.tsx
  packages/appstore/src/modules/onboarding/__test__/empty-onboarding.spec.tsx
  packages/appstore/src/modules/onboarding/onboarding.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

feat(stores): :sparkles: add `FeatureFlagsStore`
  packages/stores/src/storeProvider.tsx
  packages/stores/src/stores/BaseStore.ts
  packages/stores/src/stores/FeatureFlagsStore.ts
  packages/stores/src/stores/index.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

feat(hooks): :sparkles: add `useFeatureFlags`
  packages/api/jest.config.js
  packages/hooks/jest.config.js
  packages/hooks/src/__tests__/useFeatureFlags.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useFeatureFlags.ts
  packages/stores/jest.config.js
Due: prettier --write, npx eslint --fix

feat(core): :sparkles: add flag manager to the endpoint page
  packages/core/src/Modules/Endpoint/Endpoint.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: commit suggestions
  packages/appstore/src/modules/onboarding/__test__/empty-onboarding.spec.tsx
Due: prettier --write, npx eslint --fix

style: apply comments
  packages/components/src/components/transfer-account-selector/transfer-account-selector.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix(stores): :green_heart: fix CI fail
  packages/stores/src/mockStore.ts
Due: prettier --write, npx eslint --fix

george / WALL-739 / clickable trade platform logo, title and description in Trader's hub (#8754)
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/containers/trading-app-card-actions.tsx
  packages/appstore/src/components/containers/trading-app-card.scss
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/appstore/src/constants/platform-config.ts
  packages/shared/src/utils/url/helpers.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/vi.json
Due: prettier --write

chore: DIEL Flow
  packages/account/src/Components/address-details/address-details.tsx
  packages/account/src/Components/currency-selector/currency-selector.tsx
  packages/account/src/Components/financial-details/financial-details.tsx
  packages/account/src/Components/inline-note-with-icon/inline-note-with-icon.tsx
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/account/src/Components/terms-of-use/terms-of-use-messages.jsx
  packages/account/src/Components/trading-assessment/trading-assessment-form.jsx
  packages/account/src/Components/trading-assessment/trading-assessment-new-user.jsx
  packages/account/src/Configs/financial-details-config.js
  packages/account/src/Configs/trading-assessment-config.js
  packages/appstore/src/constants/tour-steps-config-new.tsx
  packages/appstore/src/modules/onboarding/onboarding.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/Stores/traders-hub-store.js
  packages/core/src/Stores/ui-store.js
  packages/core/src/sass/details-form.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: :construction: removed gulp getConfig and genHTML min dependency
  gulp/build.js
  gulp/revision.js
  gulp/webpack.js
  templates/index.mustache
  webpack.config.web.js
Due: prettier --write, npx eslint --fix

feat: add transition for pagination
  packages/appstore/src/components/wallet-cards-carousel/wallet-cards-carousel.tsx
  packages/components/src/components/progress-bar-onboarding/progress-bar-onboarding.scss
  packages/components/src/components/progress-bar-onboarding/progress-bar-onboarding.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: linter
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/save-modal.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: move style import from index.ts to fiat-transaction-list.tsx
  packages/appstore/src/components/fiat-transaction-list/fiat-transaction-list.tsx
  packages/appstore/src/components/fiat-transaction-list/index.ts
Due: prettier --write, npx eslint --fix

fix: sub task
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Constants/cfd_compare_account_content.ts
  packages/cfd/src/Containers/mt5-compare-table-content.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Shafin/bot 188/refactor connect removal in master (#8836)
  packages/bot-web-ui/src/components/dashboard/dashboard-component/cards.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/info-panel.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/delete-dialog.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/google-drive.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/local-footer.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.tsx
  packages/bot-web-ui/src/components/dashboard/tour-guide.tsx
  packages/bot-web-ui/src/components/dashboard/tour-slider.tsx
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
  packages/bot-web-ui/src/components/journal/journal.tsx
  packages/bot-web-ui/src/components/load-modal/load-modal.tsx
  packages/bot-web-ui/src/components/load-modal/local-footer.tsx
  packages/bot-web-ui/src/components/load-modal/local.tsx
  packages/bot-web-ui/src/components/self-exclusion/self-exclusion.jsx
  packages/bot-web-ui/src/components/summary/summary-card.tsx
  packages/bot-web-ui/src/components/summary/summary-card.types.ts
  packages/bot-web-ui/src/components/summary/summary.tsx
  packages/bot-web-ui/src/components/trade-animation/trade-animation.jsx
  packages/bot-web-ui/src/components/transactions/transaction.jsx
  packages/bot-web-ui/src/components/transactions/transactions.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

test: ts migration and test coverage of accumulators components
  packages/components/src/components/radio-group/radio-group.tsx
  packages/trader/src/Modules/Trading/Components/Form/RadioGroupWithInfoMobile/__tests__/radio-group-with-info-mobile.spec.js
  packages/trader/src/Modules/Trading/Components/Form/RadioGroupWithInfoMobile/__tests__/radio-group-with-info-mobile.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/RadioGroupWithInfoMobile/index.js
  packages/trader/src/Modules/Trading/Components/Form/RadioGroupWithInfoMobile/radio-group-with-info-mobile.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/__tests__/accumulators-info-display.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/accumulators-info-display.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/widgets.jsx
  packages/trader/src/Modules/Trading/Containers/__tests__/radio-group-options-modal.spec.tsx
  packages/trader/src/Modules/Trading/Containers/radio-group-options-modal.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: app acc mock name change
  packages/appstore/src/components/fiat-transaction-list/fiat-transaction-list.tsx
Due: prettier --write, npx eslint --fix

refactor: updated tests
  packages/p2p/src/components/verification/__tests__/verification.spec.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

fix: refeactored components (#8833)
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent-footer.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent-workspace.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/workspace-control.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
  packages/bot-web-ui/src/stores/load-modal-store.ts
Due: prettier --write, npx eslint --fix

refactor: replaced connect blockly-loading,bot-footer-extensions,bot-notification-message and chart (#8832)
  packages/bot-web-ui/src/components/blockly-loading/blockly-loading.tsx
  packages/bot-web-ui/src/components/bot-footer-extensions/bot-footer-extensions.tsx
  packages/bot-web-ui/src/components/bot-notification-messages/bot-notification-messages.tsx
  packages/bot-web-ui/src/components/chart/chart.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

chore: fixed issue with under dispute check to not show verification link is invalid
  packages/p2p/src/components/order-details/order-details.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: replace connect method in bot-builder,workspace-wrapper,toolbar,toolbx and workspace-group (#8831)
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/__tests__/toolbar.spec.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/workspace-group.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/__tests__/toolbox.spec.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/toolbox.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/workspace-wrapper.tsx
Due: prettier --write, npx eslint --fix

refactor: replace connect function in bot-notification, faq-content, guide-content and sidebar (#8827)
  packages/bot-web-ui/src/components/dashboard/bot-notification.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/faq-content.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/sidebar.tsx
Due: prettier --write, npx eslint --fix

refactor: replaced connect function in download, flyout-block, flyout and flyout-help-base (#8826)
  packages/bot-web-ui/src/components/download/download.tsx
  packages/bot-web-ui/src/components/flyout/flyout-block.jsx
  packages/bot-web-ui/src/components/flyout/flyout.jsx
  packages/bot-web-ui/src/components/flyout/help-contents/flyout-help-base.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
