Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

chore: added new button and events, added os check with lib
  packages/account/package.json
  packages/account/src/Sections/Security/Passkeys/__tests__/passkeys.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-status-container.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys-configs.tsx
Due: prettier --write, npx eslint --fix

refactor: revert temp workaround
  packages/api-v2/src/hooks/useInfiniteTransactions.ts
  packages/api-v2/src/hooks/useTransactions.ts
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/TransactionsCompletedRow.tsx
Due: prettier --write, npx eslint --fix

chore: update @deriv/deriv-charts to 2.1.13
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Due: prettier --write

feat: modify regulators compare modal component
  packages/appstore/src/components/modals/regulators-compare-modal/regulators-compare-modal.scss
  packages/appstore/src/components/modals/regulators-compare-modal/regulators-compare-modal.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: add correct mixins for cfd-compare-accounts modal
  packages/cfd/package.json
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts.scss
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: implement webpack analysing for each package
  .gitignore
  analyze.html
  package.json
  packages/account-v2/package.json
  packages/account/package.json
  packages/appstore/package.json
  packages/bot-web-ui/package.json
  packages/cashier-v2/package.json
  packages/cashier/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/p2p-v2/package.json
  packages/p2p/package.json
  packages/reports/package.json
  packages/trader/package.json
  packages/tradershub/package.json
  packages/wallets/package.json
Due: prettier --write

fix: add resolver for react/jsx-runtime
  packages/cfd/build/constants.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: mock deriv-com/ui useDevice hook
  packages/cfd/src/Containers/cfd-compare-accounts/__tests__/cfd-compare-accounts.spec.tsx
Due: prettier --write, npx eslint --fix

fix: responsive
  packages/account-v2/src/components/AppOverlay/AppOverlay.tsx
  packages/account-v2/src/containers/AccountLimitsContainer/AccountLimitsSideNote.tsx
  packages/account-v2/src/containers/AccountLimitsContainer/AccountLimitsTable.tsx
  packages/account-v2/src/pages/AccountLimits/AccountLimits.tsx
Due: prettier --write, npx eslint --fix

fix: add upload icon
  packages/wallets/src/components/Dropzone/Dropzone.tsx
Due: prettier --write, npx eslint --fix

[BOT]Maryia/BOT-1478/test: Run panel component (#14787)
  packages/bot-web-ui/src/components/run-panel/__tests__/run-panel.spec.tsx
  packages/bot-web-ui/src/stores/run-panel-store.ts
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/sw.json
Due: prettier --write

chore: added custom height property and replace WalletCardIcon with the WalletCurrencyIcon component
  packages/wallets/src/components/WalletCurrencyIcon/WalletCurrencyIcon.tsx
  packages/wallets/src/components/WalletListCard/WalletListCard.tsx
  packages/wallets/src/components/WalletListCardDropdown/WalletListCardDropdown.tsx
Due: prettier --write, npx eslint --fix

chore: replace icon component inside of Cahsier Header
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.tsx
Due: prettier --write, npx eslint --fix

fix: modified config
  packages/account-v2/src/hooks/__tests__/usePaymentMethodDetails.spec.ts
  packages/account-v2/src/hooks/usePaymentMethodDetails.ts
  packages/account-v2/src/router/routesConfig.tsx
Due: prettier --write, npx eslint --fix

chore: migrate WalletCurrencyCard
  packages/wallets/src/components/WalletCurrencyCard/WalletCurrencyCard.tsx
Due: prettier --write, npx eslint --fix

chore: migrate WalletCurrencyCard
  packages/wallets/src/components/WalletsCarouselHeader/WalletsCarouselHeader.tsx
Due: prettier --write, npx eslint --fix

fix: resolve commits
  packages/account-v2/src/hooks/index.ts
  packages/account-v2/src/hooks/useAccountLimits.ts
  packages/account-v2/src/pages/AccountLimits/AccountLimits.tsx
  packages/account-v2/src/utils/accountLimitsUtils.ts
Due: prettier --write, npx eslint --fix

chore: add confirm your email test case
  packages/account/src/Sections/Profile/PhoneVerification/__test__/confirm-your-email.spec.tsx
Due: prettier --write, npx eslint --fix

chore: update @deriv/deriv-charts to 2.1.13 (#14798)
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Due: prettier --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
Due: prettier --write

chore: add test case for phone verification page
  packages/account/src/Sections/Profile/PhoneVerification/__test__/phone-verification-page.spec.tsx
Due: prettier --write, npx eslint --fix

fix: conflicts
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/get-more-accounts/__tests__/get-more-accounts.spec.tsx
  packages/appstore/src/components/get-more-accounts/get-more-accounts.tsx
  packages/appstore/src/components/get-more-accounts/index.ts
  packages/appstore/src/components/wallet-content/wallet-cfds-listing.tsx
  packages/hooks/src/__tests__/useCFDCanGetMoreMT5Accounts.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useCFDCanGetMoreMT5Accounts.ts
Due: prettier --write, npx eslint --fix

fix: conflicts
  packages/appstore/src/components/modals/account-type-modal/account-type-modal.scss
  packages/appstore/src/components/modals/account-type-modal/account-type-modal.tsx
  packages/appstore/src/components/modals/account-type-modal/index.ts
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/appstore/src/helpers/account-helper.ts
  packages/components/src/components/icon/appstore/ic-appstore-get-more-accounts.svg
  packages/core/src/Stores/traders-hub-store.js
  packages/hooks/src/__tests__/useHasSwapFreeAccount.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useHasSwapFreeAccount.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/tradershub/src/features/cfd/modals/index.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: remove unused imports
  packages/appstore/src/helpers/account-helper.ts
Due: prettier --write, npx eslint --fix

chore: small fix
  packages/tradershub/src/features/cfd/modals/index.ts
Due: prettier --write, npx eslint --fix

chore: remove a file
  packages/appstore/src/components/wallet-content/wallet-cfds-listing.tsx
Due: prettier --write, npx eslint --fix

chore: [UPM-839]/evgeniy/add tracking events for effortless login modal (#14550)
  packages/account/package.json
  packages/core/src/App/Containers/EffortlessLoginModal/__test__/effortless-login-modal.spec.tsx
  packages/core/src/App/Containers/EffortlessLoginModal/effortless-login-modal.tsx
Due: prettier --write, npx eslint --fix

fix: toggle layout
  packages/p2p/src/pages/my-profile/my-profile-stats/my-profile-privacy/my-profile-privacy.scss
  packages/p2p/src/pages/my-profile/my-profile-stats/my-profile-privacy/my-profile-privacy.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: add test case for phone verification card
  packages/account/src/Sections/Profile/PhoneVerification/__test__/phone-verification-card.spec.tsx
Due: prettier --write, npx eslint --fix

chore: updated mt5 success modal content
  packages/cfd/src/Containers/cfd-password-modal.tsx
Due: prettier --write, npx eslint --fix

fix: remove eslint formating
  packages/components/src/components/contract-card/contract-card-items/multiplier-card-body.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: smoke test failing issue
  packages/components/src/components/dropdown/dropdown.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

Revert back secure version of checkout (#14794)
  .github/workflows/smoketests.yml
Due: none

[account-v2]/likhith/coj-706/created accordion and modal component (#14676)
  package-lock.json
  packages/account-v2/package.json
  packages/account-v2/src/App.tsx
  packages/account-v2/src/constants/connectedAppsConstants.ts
  packages/account-v2/src/constants/constants.ts
  packages/account-v2/src/constants/errorMessages.ts
  packages/account-v2/src/constants/index.ts
  packages/account-v2/src/constants/paymentMethodsConfig.ts
  packages/account-v2/src/containers/MaskCardModal/MaskCardModal.tsx
  packages/account-v2/src/containers/MaskCardModal/__tests__/MaskCardModal.spec.tsx
  packages/account-v2/src/containers/PaymentMethods/PaymentMethodInstructions.tsx
  packages/account-v2/src/containers/PaymentMethods/__tests__/PaymentMethodInstructions.spec.tsx
  packages/account-v2/src/containers/index.ts
  packages/account-v2/src/hooks/__tests__/usePaymentMethodDetails.spec.ts
  packages/account-v2/src/hooks/index.ts
  packages/account-v2/src/hooks/usePaymentMethodDetails.ts
  packages/account-v2/src/modules/package.json
  packages/account-v2/src/pages/ProofOfOwnership/ProofOfOwnership.tsx
  packages/account-v2/src/pages/index.ts
  packages/account-v2/src/router/routesConfig.tsx
  packages/account-v2/src/types.ts
  packages/account-v2/src/utils/index.ts
  packages/account-v2/src/utils/pooUtils.ts
  packages/cashier-v2/package.json
  packages/cashier-v2/src/lib/Transfer/components/TransferForm/components/TransferAccountSelection/components/TransferDropdown/TransferDropdown.tsx
  packages/p2p-v2/package.json
  packages/tradershub/package.json
  packages/wallets/package.json
Due: prettier --write, npx eslint --fix
