Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

perf: minor fixes
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/cashier/src/stores/account-transfer-store.ts
  packages/shared/src/utils/cfd/cfd.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

feat: change vanilla options decimals rounding
  packages/trader/src/App/Components/Elements/ContractAudit/contract-details.jsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/contract-info.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: remove connect from local-footer.tsx
  packages/bot-web-ui/src/components/load-modal/local-footer.tsx
Due: prettier --write, npx eslint --fix

fix: block width relative to child blocks
  packages/new-bot-web-ui/src/components/blocks/blocks.scss
  packages/new-bot-web-ui/src/components/blocks/blocks.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: nowrap for white space on child blocks
  packages/new-bot-web-ui/src/components/blocks/blocks-components/blocks-fields.tsx
  packages/new-bot-web-ui/src/components/blocks/blocks.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: minor fix
  packages/appstore/src/components/cfds-listing/index.tsx
Due: prettier --write, npx eslint --fix

chore: minor refactor
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
Due: prettier --write, npx eslint --fix

refactor: remove connect from load-modal/local.tsx
  packages/bot-web-ui/src/components/load-modal/local.tsx
Due: prettier --write, npx eslint --fix

chore: minor refactor
  packages/cashier/src/stores/account-transfer-store.ts
  packages/shared/brand.config.json
Due: prettier --write, npx eslint --fix

feat: add close popup when user clicks outside
  packages/appstore/src/components/modals/wallets-migration-failed/wallets-migration-failed.tsx
Due: prettier --write, npx eslint --fix

chore: remove unused functions
  packages/trader/src/App/Components/Elements/ContractAudit/contract-details.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Create CNAME
  CNAME
Due: none

fix: fix some broken styles
  packages/p2p/src/components/modal-manager/modals/create-ad-add-payment-method-modal/create-ad-add-payment-method-modal.scss
  packages/p2p/src/components/order-details/order-details.jsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Update CNAME
  CNAME
Due: none

fix: review comments
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal.scss
  packages/p2p/src/pages/buy-sell/buy-sell-form.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: minor fixes
  packages/cashier/src/stores/account-transfer-store.ts
  packages/components/stories/icon/icons.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: write some tests
  packages/appstore/src/components/modals/wallets-migration-failed/__tests__/wallets-migration-failed.spec.tsx
Due: prettier --write, npx eslint --fix

refactor: delete async in test
  packages/appstore/src/components/modals/wallets-migration-failed/__tests__/wallets-migration-failed.spec.tsx
Due: prettier --write, npx eslint --fix

chore: fix render glitch in mt5 form (#29)
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view-container.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view.tsx
Due: prettier --write, npx eslint --fix

Delete CNAME
  CNAME
Due: none

fix: imports for new tsx files
  packages/components/src/components/contract-card/contract-card-items/contract-card-header.tsx
  packages/components/src/components/contract-card/contract-card-items/turbos-card-body.tsx
Due: prettier --write, npx eslint --fix

chore: change in failed test file and remove change from unrelated file
  packages/p2p/src/pages/orders/order-table/__test__/order-table.spec.js
  packages/trader/src/App/Containers/Modals/success-dialog.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat(hooks): :sparkles: improve input formatter hooks
  packages/hooks/src/__tests__/useInputATMFormatter.spec.tsx
  packages/hooks/src/useInputATMFormatter.ts
Due: prettier --write, npx eslint --fix

feat: add question mark
  packages/appstore/src/components/modals/wallets-migration-failed/wallets-migration-failed.tsx
Due: prettier --write, npx eslint --fix

refactor: enhance-wallet-card
  packages/components/src/components/wallet-card/wallet-card.tsx
Due: prettier --write, npx eslint --fix

chore: editing onboarding page
  packages/appstore/src/components/onboarding-new/static-dashboard.scss
  packages/appstore/src/components/onboarding-new/static-dashboard.tsx
  packages/appstore/src/modules/onboarding/onboarding.scss
  packages/core/src/sass/app/_common/layout/app-layouts.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: asterisk in fields label
  packages/account/src/Components/forms/personal-details-form.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: ChatGPT's solution to the type thing
  packages/components/src/components/amount-input/amount-input.tsx
Due: prettier --write, npx eslint --fix

chore: sign up flow for eu user
  packages/appstore/src/modules/onboarding/onboarding.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/core/src/Stores/ui-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: add idea for test
  packages/appstore/src/components/modals/wallets-migration-failed/__tests__/wallets-migration-failed.spec.tsx
Due: prettier --write, npx eslint --fix

refactor: rename toggleWalletsMigrationFailedPopup to setWalletsMigrationFailedPopup
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/appstore/src/components/modals/wallets-migration-failed/__tests__/wallets-migration-failed.spec.tsx
  packages/appstore/src/components/modals/wallets-migration-failed/wallets-migration-failed.tsx
  packages/core/src/Stores/traders-hub-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: add vars back to themes
  packages/shared/src/styles/themes.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: newValue -> new_value as @heorhi-deriv suggested
  packages/components/src/components/amount-input/amount-input.tsx
Due: prettier --write, npx eslint --fix

feat: :bug: resolved the testcase issue
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/__tests__/onfido-sdk-view.spec.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: added dependency for hooks to appstore and added useBalance and useWalletMigration hooks
  packages/appstore/package.json
  packages/hooks/src/index.ts
  packages/hooks/src/useBalance.ts
  packages/hooks/src/useWalletMigration.ts
Due: prettier --write, npx eslint --fix

feat: delete MobileWrapper and DesktopWrapper
  packages/appstore/src/components/modals/wallets-migration-failed/__tests__/wallets-migration-failed.spec.tsx
  packages/appstore/src/components/modals/wallets-migration-failed/wallets-migration-failed.scss
  packages/appstore/src/components/modals/wallets-migration-failed/wallets-migration-failed.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
