Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

test: :test_tube: adds test for salutation radio input selections
  packages/account/src/Components/forms/__tests__/personal-details-from.spec.tsx
Due: prettier --write, npx eslint --fix

chore: add types for kyc_auth_responce
  packages/account/src/App.tsx
  packages/api/types.ts
Due: prettier --write, npx eslint --fix

build: update charts to 1.4.0
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Due: prettier --write

chore: applied some comments
  packages/appstore/src/components/modals/real-wallets-upgrade/components/content-with-link/content-with-link.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/content-with-link/content-with-link.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-account/wallet-account.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-linking-step/wallet-linking-step.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Arshad-Sergei / wall-1248 / Wallet account dropdown for DTrader and DBot (#9797)
  packages/appstore/src/components/wallet-cards-carousel/__tests__/wallet-cards-carousel.spec.tsx
  packages/appstore/src/components/wallet-header/wallet-currency-card.tsx
  packages/cashier/src/pages/withdrawal/__tests__/withdrawal.spec.tsx
  packages/core/src/App/Components/Layout/Header/__tests__/account-info-icon.spec.tsx
  packages/core/src/App/Components/Layout/Header/__tests__/account-info-wallets.spec.tsx
  packages/core/src/App/Components/Layout/Header/__tests__/account-info-wrapper.spec.tsx
  packages/core/src/App/Components/Layout/Header/__tests__/display-account-type.spec.tsx
  packages/core/src/App/Components/Layout/Header/__tests__/wallet-badge.spec.tsx
  packages/core/src/App/Components/Layout/Header/account-info-icon.tsx
  packages/core/src/App/Components/Layout/Header/account-info-wrapper.tsx
  packages/core/src/App/Components/Layout/Header/account-info.jsx
  packages/core/src/App/Components/Layout/Header/display-account-type.tsx
  packages/core/src/App/Components/Layout/Header/index.js
  packages/core/src/App/Components/Layout/Header/wallets/account-actions-wallets.tsx
  packages/core/src/App/Components/Layout/Header/wallets/account-info-wallets.tsx
  packages/core/src/App/Components/Layout/Header/wallets/accounts-info-loader-wallets.tsx
  packages/core/src/App/Components/Layout/Header/wallets/wallet-badge.tsx
  packages/core/src/App/Containers/AccountSwitcherWallet/__tests__/account-switcher-wallet-item.spec.tsx
  packages/core/src/App/Containers/AccountSwitcherWallet/__tests__/account-switcher-wallet.spec.tsx
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet-item.scss
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet-item.tsx
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet.scss
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet.tsx
  packages/core/src/App/Containers/AccountSwitcherWallet/index.ts
  packages/core/src/App/Containers/Layout/header/dtrader-header-wallets.tsx
  packages/core/src/App/Containers/Layout/header/header.jsx
  packages/core/src/sass/app/_common/components/account-switcher.scss
  packages/hooks/src/__tests__/useLinkedWalletsAccounts.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useLinkedWalletsAccounts.ts
  packages/hooks/src/useWalletAccountsList.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: add duration tange text for vanilla contract
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/advanced-duration.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-mobile.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-range-text.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/expiry-text.jsx
  packages/trader/src/Modules/Trading/Containers/trade-params-mobile.jsx
  packages/trader/src/sass/app/modules/trading-mobile.scss
  packages/trader/src/sass/app/modules/trading.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: restore contracts from contracts_map after they are reset
  packages/core/src/Stores/contract-trade-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Revert "fix: last contract is not defined"
  packages/core/src/Stores/contract-trade-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: add unit tests
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/__tests__/duration-range-text.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/__tests__/expiry-text.spec.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: revert tests
  packages/hooks/src/__tests__/useCFDAllAccounts.spec.tsx
Due: prettier --write, npx eslint --fix

feat: add some code
  packages/appstore/src/components/app.tsx
  packages/appstore/src/components/containers/wallet.tsx
  packages/appstore/src/wallets/components/containers/dynamic-leverage/__test__/dynamic-leverage-market-card.spec.tsx
  packages/appstore/src/wallets/components/containers/dynamic-leverage/__test__/dynamic-leverage-modal-content.spec.tsx
  packages/appstore/src/wallets/components/containers/dynamic-leverage/dynamic-leverage-context.tsx
  packages/appstore/src/wallets/components/containers/dynamic-leverage/dynamic-leverage-market-card.tsx
  packages/appstore/src/wallets/components/containers/dynamic-leverage/dynamic-leverage-modal-content.tsx
  packages/appstore/src/wallets/components/containers/dynamic-leverage/dynamic-leverage-table-column-header.tsx
  packages/appstore/src/wallets/components/modals/jurisdiction-modal/__test__/jurisdiction-card-back.spec.tsx
  packages/appstore/src/wallets/components/modals/jurisdiction-modal/__test__/jurisdiction-card-front.spec.tsx
  packages/appstore/src/wallets/components/modals/jurisdiction-modal/__test__/jurisdiction-card-section.spec.tsx
  packages/appstore/src/wallets/components/modals/jurisdiction-modal/__test__/jurisdiction-card.spec.tsx
  packages/appstore/src/wallets/components/modals/jurisdiction-modal/__test__/jurisdiction-clickable-description.spec.tsx
  packages/appstore/src/wallets/components/modals/jurisdiction-modal/__test__/jurisdiction-modal-checkbox.spec.tsx
  packages/appstore/src/wallets/components/modals/jurisdiction-modal/__test__/jurisdiction-modal-content.spec.tsx
  packages/appstore/src/wallets/components/modals/jurisdiction-modal/__test__/jurisdiction-modal-foot-note.spec.tsx
  packages/appstore/src/wallets/components/modals/jurisdiction-modal/__test__/jurisdiction-modal-title.spec.tsx
  packages/appstore/src/wallets/components/modals/jurisdiction-modal/__test__/jurisdiction-modal.spec.tsx
  packages/appstore/src/wallets/components/modals/jurisdiction-modal/__test__/jurisdiction-title-indicator.spec.tsx
  packages/appstore/src/wallets/components/modals/jurisdiction-modal/jurisdiction-card-back.tsx
  packages/appstore/src/wallets/components/modals/jurisdiction-modal/jurisdiction-card-front.tsx
  packages/appstore/src/wallets/components/modals/jurisdiction-modal/jurisdiction-card-section.tsx
  packages/appstore/src/wallets/components/modals/jurisdiction-modal/jurisdiction-card.tsx
  packages/appstore/src/wallets/components/modals/jurisdiction-modal/jurisdiction-clickable-description.tsx
  packages/appstore/src/wallets/components/modals/jurisdiction-modal/jurisdiction-modal-checkbox.tsx
  packages/appstore/src/wallets/components/modals/jurisdiction-modal/jurisdiction-modal-content-wrapper.tsx
  packages/appstore/src/wallets/components/modals/jurisdiction-modal/jurisdiction-modal-content.tsx
  packages/appstore/src/wallets/components/modals/jurisdiction-modal/jurisdiction-modal-foot-note.tsx
  packages/appstore/src/wallets/components/modals/jurisdiction-modal/jurisdiction-modal-title.tsx
  packages/appstore/src/wallets/components/modals/jurisdiction-modal/jurisdiction-modal.tsx
  packages/appstore/src/wallets/components/modals/jurisdiction-modal/jurisdiction-title-indicator.tsx
  packages/appstore/src/wallets/components/modals/test-modal/index.tsx
  packages/appstore/src/wallets/components/modals/test-modal/test-modal.scss
  packages/appstore/src/wallets/components/modals/test-modal/test-modal.tsx
  packages/appstore/src/wallets/context/modal-context.tsx
  packages/components/stories/icon/icons.js
  packages/hooks/src/index.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: push missing contracts to contracts
  packages/core/src/Stores/contract-trade-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: wallet cashier transfer form
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useTransferBetweenAccounts.ts
  packages/wallets/package.json
  packages/wallets/src/AppContent.tsx
  packages/wallets/src/components/DesktopWalletsList/DesktopWalletsList.tsx
  packages/wallets/src/components/WalletCashier/WalletCashier.scss
  packages/wallets/src/components/WalletCashier/WalletCashier.tsx
  packages/wallets/src/components/WalletCashierContent/WalletCashierContent.scss
  packages/wallets/src/components/WalletCashierContent/WalletCashierContent.tsx
  packages/wallets/src/components/WalletCashierHeader/WalletCashierHeader.tsx
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
  packages/wallets/src/components/WalletListCardIcon/WalletListCardIcon.tsx
  packages/wallets/src/components/WalletTransfer/WalletTransfer.scss
  packages/wallets/src/components/WalletTransfer/WalletTransfer.tsx
  packages/wallets/src/components/WalletTransfer/index.ts
  packages/wallets/src/components/WalletTransferForm/WalletTransferForm.scss
  packages/wallets/src/components/WalletTransferForm/WalletTransferForm.tsx
  packages/wallets/src/components/WalletTransferForm/index.ts
  packages/wallets/src/components/WalletTransferFormAccountCard/WalletTransferFormAccountCard.scss
  packages/wallets/src/components/WalletTransferFormAccountCard/WalletTransferFormAccountCard.tsx
  packages/wallets/src/components/WalletTransferFormAccountCard/index.ts
  packages/wallets/src/components/WalletTransferFormAccountSelection/WalletTransferFormAccountSelection.scss
  packages/wallets/src/components/WalletTransferFormAccountSelection/WalletTransferFormAccountSelection.tsx
  packages/wallets/src/components/WalletTransferFormAccountSelection/index.ts
  packages/wallets/src/components/WalletTransferFormDropdown/WalletTransferFormDropdown.scss
  packages/wallets/src/components/WalletTransferFormDropdown/WalletTransferFormDropdown.tsx
  packages/wallets/src/components/WalletTransferFormDropdown/index.ts
  packages/wallets/src/components/WalletTransferFormInputField/WalletTransferFormInputField.scss
  packages/wallets/src/components/WalletTransferFormInputField/WalletTransferFormInputField.tsx
  packages/wallets/src/components/WalletTransferFormInputField/index.ts
  packages/wallets/src/components/index.ts
  packages/wallets/src/hooks/useInputATMFormatter.ts
  packages/wallets/src/hooks/useInputDecimalFormatter.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chris-g/build: Setup a UAT environment deployment step
  .circleci/config.yml
Due: none

chris-g/build: Add the release UAT workflows
  .circleci/config.yml
Due: none

fix: fixed typescript errors and added testcases for few files
  packages/bot-web-ui/src/components/dashboard/quick-strategy/__tests__/quick-strategy.spec.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/__tests__/description.spec.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/__tests__/input-field.spec.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/__tests__/market-option.spec.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/__tests__/select-field.spec.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/components.types.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/data/common-data-fields.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/data/dalembert-data-fields.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/data/martingale-data-fields.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/data/oscars-grind-data-fields.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/data/schema-validation.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/description.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/duration-fields.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/fields.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/footer.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/form.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/input-field.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/market-option.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/select-field.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/trade-type-option.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.types.ts
  packages/bot-web-ui/src/stores/quick-strategy-store.ts
Due: prettier --write, npx eslint --fix

fix: only check for presence of contract in contracts
  packages/core/src/Stores/contract-trade-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: remove the hardcode market_type_shortcode
  packages/cfd/src/Helpers/compare-accounts-config.ts
Due: prettier --write, npx eslint --fix

refactor: remove the type to different location to check build failure
  packages/cfd/src/Components/cfd-account-card.tsx
  packages/cfd/types.ts
Due: prettier --write, npx eslint --fix

refactor: remove the type to different location to check build failure
  packages/cfd/src/types/market-type.types.ts
Due: prettier --write, npx eslint --fix

chore: real and demo dxtrade account creation
  packages/api/src/hooks/useAccountsList.ts
  packages/api/src/hooks/useAvailableMT5Accounts.ts
  packages/api/src/hooks/useCreateOtherCFDAccount.ts
  packages/wallets/src/components/CreatePassword/CreatePassword.tsx
  packages/wallets/src/components/DxtradeEnterPasswordModal/DxtradeEnterPasswordModal.tsx
  packages/wallets/src/components/EnterPassword/EnterPassword.scss
  packages/wallets/src/components/EnterPassword/EnterPassword.tsx
  packages/wallets/src/public/images/ic-dxtrade-password.svg
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: remove hardcoding mt5 webtrader url, get from api
  packages/cfd/src/Containers/dmt5-trade-modal.tsx
  packages/cfd/src/Helpers/constants.ts
Due: prettier --write, npx eslint --fix

chore: removed changes to useCFDAllAccounts test file
  packages/hooks/src/__tests__/useCFDAllAccounts.spec.tsx
Due: prettier --write, npx eslint --fix

chore: fixed changes in useCFDAllAccounts test file
  packages/hooks/src/__tests__/useCFDAllAccounts.spec.tsx
Due: prettier --write, npx eslint --fix

chore: comments
  packages/api/src/hooks/useAccountsList.ts
  packages/api/src/hooks/useCreateOtherCFDAccount.ts
  packages/wallets/src/components/DxtradeEnterPasswordModal/DxtradeEnterPasswordModal.tsx
Due: prettier --write, npx eslint --fix

refactor: rename OD_Platforms to Desktop_Platforms
  packages/cfd/src/Helpers/cfd-config.ts
  packages/cfd/src/Helpers/constants.ts
Due: prettier --write, npx eslint --fix

thisyahlen/chore: create dxtrade account (#10215)
  packages/api/src/hooks/useAvailableMT5Accounts.ts
  packages/wallets/src/components/CreatePassword/CreatePassword.scss
  packages/wallets/src/components/CreatePassword/CreatePassword.tsx
  packages/wallets/src/components/CreatePassword/index.ts
  packages/wallets/src/components/DxtradeEnterPasswordModal/DxtradeEnterPasswordModal.scss
  packages/wallets/src/components/DxtradeEnterPasswordModal/DxtradeEnterPasswordModal.tsx
  packages/wallets/src/components/DxtradeEnterPasswordModal/index.ts
  packages/wallets/src/components/EnterPassword/EnterPassword.scss
  packages/wallets/src/components/EnterPassword/EnterPassword.tsx
  packages/wallets/src/components/EnterPassword/index.ts
  packages/wallets/src/components/ExternalTradingPlatforms/AvailableDxtradeAccountsList/AvailableDxtradeAccountsList.tsx
  packages/wallets/src/components/ExternalTradingPlatforms/AvailableMT5AccountsList/AvailableMT5AccountsList.tsx
  packages/wallets/src/components/MT5CreatePassword/MT5CreatePassword.tsx
  packages/wallets/src/components/MT5CreatePassword/index.ts
  packages/wallets/src/components/MT5EnterPassword/MT5EnterPassword.tsx
  packages/wallets/src/components/MT5EnterPassword/index.ts
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
  packages/wallets/src/components/index.ts
  packages/wallets/src/public/images/ic-dxtrade-password.svg
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: type safe platform
  packages/wallets/src/components/CreatePassword/CreatePassword.tsx
  packages/wallets/src/components/DxtradeEnterPasswordModal/DxtradeEnterPasswordModal.tsx
Due: prettier --write, npx eslint --fix

chore: update smart charts version
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Due: prettier --write

ci: remove docker and k8s config as they are not valid anymore
  .circleci/config.yml
Due: none

chore: update to follow production
  packages/components/stories/icon/icons.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: rename constants
  packages/cfd/src/Constants/cfd-password-modal-constants.tsx
Due: prettier --write, npx eslint --fix

feat(wallet): clean-up
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useAvailableWallets.ts
  packages/api/src/hooks/useCountryConfig.ts
  packages/wallets/src/AppContent.scss
  packages/wallets/src/AppContent.tsx
  packages/wallets/src/components/WalletCashier/WalletCashier.scss
  packages/wallets/src/components/WalletCashier/WalletCashier.tsx
  packages/wallets/src/components/WalletCashierContent/WalletCashierContent.tsx
  packages/wallets/src/components/WalletCashierHeader/WalletCashierHeader.tsx
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
  packages/wallets/src/components/WalletsAddMoreCarousel/WalletsAddMoreCarousel.tsx
  packages/wallets/src/hooks/useCashierParam.tsx
  packages/wallets/src/routes/CashierModalRoute/CashierModalRoute.scss
  packages/wallets/src/routes/CashierModalRoute/CashierModalRoute.tsx
  packages/wallets/src/routes/CashierModalRoute/index.ts
  packages/wallets/src/routes/Router.tsx
  packages/wallets/src/routes/WalletsListingRoute/WalletsListingRoute.scss
  packages/wallets/src/routes/WalletsListingRoute/WalletsListingRoute.tsx
  packages/wallets/src/routes/WalletsListingRoute/index.ts
  packages/wallets/src/routes/index.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
