Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: trading assessment
  packages/account/src/Components/personal-details/personal-details.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: update List import path
  packages/components/src/components/data-list/data-list.tsx
Due: prettier --write, npx eslint --fix

feat: update List import path
  packages/components/src/components/data-table/data-table.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: enhance the tests with react-hooks testing library
  packages/hooks/src/__tests__/useCountdown.spec.tsx
Due: prettier --write, npx eslint --fix

fix: change text in frame for creation a new MF account (#7234)
  packages/appstore/src/components/add-options-account/add-options-account.tsx
  packages/components/src/components/label/label.tsx
Due: prettier --write, npx eslint --fix

fix: delete defaultchecked property in order to make component controlled (#7428)
  packages/components/src/components/checkbox/checkbox.tsx
Due: prettier --write, npx eslint --fix

Kate/86838/ add one more available proptype for component DigitDisplay (#7430)
  packages/trader/src/Modules/Contract/Components/LastDigitPrediction/digit-display.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: error message
  packages/cashier/src/stores/withdraw-store.ts
  packages/shared/src/utils/validation/declarative-validation-rules.ts
Due: prettier --write, npx eslint --fix

test: cfd-poa
  packages/cfd/src/Components/__tests__/cfd-poa.spec.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: sonarcloud code smells
  packages/bot-web-ui/src/components/dashboard/dashboard-component/cards.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/info-panel.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/intro-card.tsx
  packages/bot-web-ui/src/components/dashboard/tour-slider.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/faq-content.tsx
  packages/bot-web-ui/src/components/load-modal/recent.tsx
Due: prettier --write, npx eslint --fix

fix: codecov empty commit
  packages/cfd/src/Components/__tests__/cfd-poa.spec.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: 78834/banner blinking on every render
  packages/core/src/App/Containers/app-notification-messages.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: ci failure
  packages/shared/src/utils/validation/declarative-validation-rules.ts
Due: prettier --write, npx eslint --fix

fix: codecov empty commit v2
  packages/cfd/src/Components/__tests__/cfd-poa.spec.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: showDailyLimitIncreaseNotification binding
  packages/p2p/src/stores/general-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: placeholder component was not being shown after closing multiplier contract
  packages/reports/src/Containers/open-positions.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: fixed scrolling issue on smaller screens
  packages/p2p/src/components/my-profile/block-user/block-user-table/block-user-table.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: extracted nested ternary operation
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
Due: prettier --write, npx eslint --fix

refactor: migrate contract-card to ts
  packages/components/package.json
  packages/components/src/components/contract-card/contract-card-items/contract-card-body.tsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-dialog.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-dialog.tsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-footer.tsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-header.tsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-item.tsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-sell.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-sell.tsx
  packages/components/src/components/contract-card/contract-card-items/contract-type-cell.tsx
  packages/components/src/components/contract-card/contract-card-items/contract-update-form.tsx
  packages/components/src/components/contract-card/contract-card-items/multiplier-close-actions.tsx
  packages/components/src/components/contract-card/contract-card-items/toggle-card-dialog.tsx
  packages/components/src/components/contract-card/contract-card-loader/contract-card-loader.tsx
  packages/components/src/components/contract-card/contract-card-loader/index.js
  packages/components/src/components/contract-card/contract-card-loader/index.ts
  packages/components/src/components/contract-card/contract-card.tsx
  packages/components/src/components/contract-card/index.ts
  packages/components/src/components/contract-card/result-overlay/index.ts
  packages/components/src/components/contract-card/result-overlay/result-overlay.tsx
  packages/components/src/components/progress-slider-mobile/progress-slider-mobile.tsx
  packages/components/src/components/progress-slider-mobile/progress-ticks-mobile.tsx
  packages/components/src/components/progress-slider/progress-slider.tsx
  packages/components/src/components/progress-slider/progress-ticks.tsx
  packages/components/src/components/tick-progress/tick-progress.tsx
  packages/components/src/components/types/common.types.ts
  packages/components/src/components/types/contract.types.ts
  packages/components/src/components/types/index.ts
  packages/components/src/hooks/use-onclickoutside.ts
  packages/shared/package.json
  packages/shared/src/utils/contract/contract-types.ts
  packages/shared/src/utils/contract/contract.ts
  packages/shared/src/utils/helpers/logic.ts
  packages/shared/src/utils/helpers/validation-rules.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: updated logic to solve test case problem
  packages/account/src/Components/poi/idv-document-submit/__tests__/idv-document-submit.spec.js
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: remove excess type check
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

refactor: input with checkbox ts migration
  packages/components/src/components/input-wth-checkbox/input-with-checkbox.tsx
Due: prettier --write, npx eslint --fix

fix: fixed an issue where incorrect block user modal message is shown in block user list
  packages/p2p/src/stores/my-profile-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: removed old commits
  packages/p2p/src/components/modals/index.js
  packages/p2p/src/components/modals/modal-id.js
  packages/p2p/src/components/modals/modal-manager.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/id.json
  packages/translations/src/translations/zh_cn.json
Due: prettier --write

refactor: rename const, lift them up, move logic to a separate self declared function
  packages/core/src/Stores/client-store.js
  packages/shared/src/utils/url/url.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: add React.Fragment
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

chore: migrated filter component and fix some issues with composite-c… (#20)
  packages/reports/src/Components/Form/CompositeCalendar/side-list.tsx
  packages/reports/src/Components/filter-component.tsx
  packages/reports/src/Containers/statement.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

ci: update List import path
  packages/components/src/components/data-list/data-list.tsx
Due: prettier --write, npx eslint --fix

Sergei / chore: ts migration of routes (#38)
  packages/reports/src/Components/Errors/error-component.tsx
  packages/reports/src/Components/Routes/index.js
  packages/reports/src/Containers/routes.jsx
  packages/reports/src/Containers/routes.tsx
  packages/reports/src/Types/common-prop.type.ts
  packages/reports/src/app.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

test: vanuatu
  packages/cfd/src/Constants/jurisdiction-contents.ts
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-content.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal.tsx
  packages/cfd/src/sass/cfd-dashboard.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: cfd listing
  packages/core/src/Stores/traders-hub-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: exit modal fix
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
