Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

ci: remove max worker param
  .github/workflows/codecov.yml
Due: none

fix: datadog env for clienttoken fixed
  packages/bot-skeleton/src/services/api/api-middleware.js
  packages/bot-web-ui/src/stores/app-store.js
  packages/bot-web-ui/src/stores/run-panel-store.js
  packages/bot-web-ui/webpack.config.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: asdf
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/Stores/Modules/CFD/Helpers/cfd-config.ts
Due: prettier --write, npx eslint --fix

fix: removed account obsevable
  packages/bot-web-ui/src/stores/transactions-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: demo account compare implemetation tweaks as per design
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts-description.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: :construction: fixed icons except google drive icon
  customPlugins/fetch-blockly-translations.js
  src/assets/css/bot.scss
  src/assets/css/index.scss
  src/botPage/view/Dialogs/Dialog.js
  src/botPage/view/blockly/utils.js
  src/botPage/view/index.js
  webpack.config.cli.js
  webpack.config.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix

chore: update based on comments and update scss
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/VerificationModal/verification-modal-content.tsx
  packages/core/src/App/Containers/VerificationModal/verification-modal.scss
  packages/core/src/App/Containers/VerificationModal/verification-modal.tsx
  packages/stores/src/mockStore.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Vinu/ fix: datadog env for clientToken fixed (#9133)
  packages/bot-skeleton/src/services/api/api-middleware.js
  packages/bot-web-ui/src/stores/app-store.js
  packages/bot-web-ui/src/stores/run-panel-store.js
  packages/bot-web-ui/webpack.config.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

ci: add a separate script to run jest on github
  .github/workflows/codecov.yml
  package.json
Due: prettier --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
Due: prettier --write

feat: add draggable modal component
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/app/app.scss
  packages/bot-web-ui/src/components/draggable/draggable.scss
  packages/bot-web-ui/src/components/draggable/draggable.tsx
  packages/bot-web-ui/src/components/draggable/index.ts
  packages/bot-web-ui/src/components/transaction-details/desktop-transaction-table.tsx
  packages/bot-web-ui/src/components/transaction-details/transaction-details-desktop.scss
  packages/bot-web-ui/src/components/transaction-details/transaction-details-desktop.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: :construction: fixing the root dom options
  customPlugins/fetch-blockly-translations.js
  package.json
  src/botPage/view/Dialogs/Dialog.js
  src/botPage/view/index.js
Due: prettier --write, npx eslint --fix

chore: revert useisp2penabled logics
  packages/hooks/src/__tests__/useIsP2PEnabled.spec.tsx
  packages/hooks/src/useIsP2PEnabled.ts
Due: prettier --write, npx eslint --fix

chore: :construction: reverted react-dom changes
  src/botPage/view/Dialogs/Dialog.js
  src/botPage/view/index.js
Due: prettier --write, npx eslint --fix

chore: update mockStore objects
  packages/stores/src/mockStore.ts
Due: prettier --write, npx eslint --fix

fix: mismatches with design
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/cfd/src/Constants/cfd_compare_account_content.ts
Due: prettier --write, npx eslint --fix

Akmal / feat: migrate EmptyPortfolioMessage, ErrorComponent and Page404 in Trader package (#5)
  packages/components/src/components/dialog/dialog.tsx
  packages/trader/src/App/Components/Elements/EmptyPortfolioMessage/empty-portfolio-message.tsx
  packages/trader/src/App/Components/Elements/EmptyPortfolioMessage/index.js
  packages/trader/src/App/Components/Elements/Errors/error-component.tsx
  packages/trader/src/App/Components/Elements/Errors/index.js
  packages/trader/src/Modules/Page404/Components/Page404.tsx
  packages/trader/src/Modules/Page404/index.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: update branch
  packages/cfd/src/Containers/cfd-password-modal.tsx
Due: prettier --write, npx eslint --fix

feat: update and fix stylelint
  .stylelintrc.js
  package-lock.json
  package.json
  packages/bot-web-ui/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/reports/package.json
  packages/trader/package.json
Due: prettier --write, npx eslint --fix

chore: remove prittier changes
  packages/account/src/Components/forms/personal-details-form.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: :construction: removed index.mustache and moved beta to public folder also removed runners
  public/beta.html
  public/index.html
  src/botPage/view/deriv/layout/Header/Header.jsx
  static/beta.html
  templates/.DS_Store
  templates/index.html
  templates/index.mustache
  webpack.config.cli.js
  webpack.config.js
Due: prettier --write, npx eslint --fix

fix: in the site of datadog config in app-middleware
  packages/bot-skeleton/src/services/api/api-middleware.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: added deriv eslint plugin
  .eslintrc.js
  package.json
  packages/bot-web-ui/src/stores/flyout-help-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: update transaction cache
  packages/bot-web-ui/src/stores/transactions-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: fix circle ci issues
  packages/stores/src/mockStore.ts
Due: prettier --write, npx eslint --fix

refactor: edit section refactor
  packages/p2p/src/components/modal-manager/modals/ad-edit-error-modal/__tests__/ad-edit-error-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/ad-edit-error-modal/ad-edit-error-modal.tsx
  packages/p2p/src/components/modal-manager/modals/ad-edit-error-modal/index.ts
  packages/p2p/src/constants/modals.js
  packages/p2p/src/pages/my-ads/__tests__/ad-status.spec.js
  packages/p2p/src/pages/my-ads/ad-form-wrapper/__tests__/ad-form-wrapper.spec.tsx
  packages/p2p/src/pages/my-ads/ad-payment-selection-text/__tests__/ad-payment-selection-text.spec.tsx
  packages/p2p/src/pages/my-ads/ad-payment-selection-text/ad-payment-selection-text.scss
  packages/p2p/src/pages/my-ads/ad-payment-selection-text/ad-payment-selection-text.tsx
  packages/p2p/src/pages/my-ads/ad-payment-selection-text/index.ts
  packages/p2p/src/pages/my-ads/ad-status.jsx
  packages/p2p/src/pages/my-ads/ad-status/__tests__/ad-status.spec.tsx
  packages/p2p/src/pages/my-ads/ad-status/ad-status.scss
  packages/p2p/src/pages/my-ads/ad-status/ad-status.tsx
  packages/p2p/src/pages/my-ads/ad-status/index.ts
  packages/p2p/src/pages/my-ads/ad-type/__tests__/ad-type.spec.tsx
  packages/p2p/src/pages/my-ads/ad-type/ad-type.scss
  packages/p2p/src/pages/my-ads/ad-type/ad-type.tsx
  packages/p2p/src/pages/my-ads/ad-type/index.ts
  packages/p2p/src/pages/my-ads/create-ad/create-ad-form.tsx
  packages/p2p/src/pages/my-ads/edit-ad-form.jsx
  packages/p2p/src/pages/my-ads/edit-ad-summary.jsx
  packages/p2p/src/pages/my-ads/edit-ad-summary.scss
  packages/p2p/src/pages/my-ads/edit-ad.jsx
  packages/p2p/src/pages/my-ads/edit-ad/__tests__/edit-ad-form-payment-methods.spec.tsx
  packages/p2p/src/pages/my-ads/edit-ad/__tests__/edit-ad-form.spec.tsx
  packages/p2p/src/pages/my-ads/edit-ad/__tests__/edit-ad.spec.tsx
  packages/p2p/src/pages/my-ads/edit-ad/edit-ad-form-payment-methods.tsx
  packages/p2p/src/pages/my-ads/edit-ad/edit-ad-form.scss
  packages/p2p/src/pages/my-ads/edit-ad/edit-ad-form.tsx
  packages/p2p/src/pages/my-ads/edit-ad/edit-ad.tsx
  packages/p2p/src/pages/my-ads/edit-ad/index.ts
  packages/p2p/src/pages/my-ads/my-ads-row-renderer.jsx
  packages/p2p/src/pages/my-ads/my-ads.jsx
  packages/p2p/src/stores/my-ads-store.js
  packages/p2p/src/utils/adverts.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

style: :lipstick: updates success modal styling as per figma design
  packages/cfd/src/Containers/cfd-password-modal.tsx
Due: prettier --write, npx eslint --fix

feat: add some test cases
  packages/appstore/src/components/containers/__tests__/trading-app-card.spec.tsx
Due: prettier --write, npx eslint --fix

fix: fixed an issue with circleci clean install
  package-lock.json
Due: prettier --write

chore: :construction: fixing the copy plugin issue
  webpack.config.cli.js
Due: prettier --write, npx eslint --fix

fix: fixed the issue where investor password is showing error
  packages/cfd/src/Containers/cfd-reset-password-modal.tsx
Due: prettier --write, npx eslint --fix

Update cfd-password-modal.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
Due: prettier --write, npx eslint --fix

fix: change trade type icons
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/tradetype/ic-tradetype-expirymiss.svg
  packages/components/src/components/icon/tradetype/ic-tradetype-expiryrange.svg
  packages/components/src/components/icon/tradetype/ic-tradetype-expiryrangee.svg
  packages/components/stories/icon/icons.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fixes git pull unrelated file changes
  packages/trader/src/Modules/Trading/Components/Form/Purchase/contract-info.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: in the site of datadog config in app-middleware (#9138)
  packages/bot-skeleton/src/services/api/api-middleware.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: update stylelint rules
  .stylelintrc.js
Due: prettier --write, npx eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
