Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: summary and transactions view detail for different language
  packages/bot-web-ui/src/components/download/download.scss
  packages/bot-web-ui/src/components/run-panel/run-panel.scss
  packages/bot-web-ui/src/components/transactions/transactions.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: remove flag for <DevTools />
  packages/core/src/App/AppContent.tsx
Due: prettier --write, npx eslint --fix

fix: modified again
  packages/cfd/src/Containers/mt5-mobile-redirect-option.tsx
Due: prettier --write, npx eslint --fix

refactor: `client-store` correction
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

[WALL] Aizad/WALL-3967/ Fix "USD" is missing from swap free account creation success card (#15012)
  packages/wallets/src/features/cfd/modals/MT5AccountAdded/MT5AccountAdded.tsx
  packages/wallets/src/features/cfd/screens/CFDSuccess/CFDSuccess.scss
  packages/wallets/src/features/cfd/screens/CFDSuccess/CFDSuccess.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/sw.json
Due: prettier --write

[WALL] aum / WALL-4052 / fix-arrow-direction-wallet-withdrawal-crypto-receipt (#15078)
  packages/wallets/src/features/cashier/modules/FiatOnRamp/FiatOnRamp.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoReceipt/WithdrawalCryptoReceipt.scss
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoReceipt/WithdrawalCryptoReceipt.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: removed download and view detail icon
  packages/bot-web-ui/src/components/download/download.scss
  packages/bot-web-ui/src/components/download/download.tsx
  packages/bot-web-ui/src/components/transactions/transactions.scss
  packages/bot-web-ui/src/components/transactions/transactions.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: revert a bad refactor
  packages/core/src/App/AppContent.tsx
Due: prettier --write, npx eslint --fix

chore: remove description and buttons
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsNoDataState/TransactionsNoDataState.scss
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsNoDataState/TransactionsNoDataState.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsNoDataState/__tests__/TransactionNoDataState.spec.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: convert large svg's to png's
  packages/account/global.d.ts
  packages/account/package.json
  packages/account/src/Assets/ic-blurry-document.png
  packages/account/src/Configs/poa-common-mistake-examples-config.tsx
  packages/appstore/package.json
  packages/appstore/webpack.config.js
  packages/cfd/globals.d.ts
  packages/cfd/package.json
  packages/components/stories/icon/icons.js
  packages/wallets/src/features/accounts/constants.tsx
  packages/wallets/src/public/images/accounts/ic-blurry-document.png
  packages/wallets/webpack.config.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: remove compiled icons.js
  packages/components/stories/icon/icons.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: remove komen
  packages/cfd/src/Containers/mt5-mobile-redirect-option.tsx
Due: prettier --write, npx eslint --fix

chore: Implement new joyride steps
  packages/wallets/src/components/WalletTourGuide/DesktopSteps.tsx
  packages/wallets/src/components/WalletTourGuide/WalletTourGuide.tsx
  packages/wallets/src/components/WalletTourGuide/WalletTourGuideSettings.tsx
Due: prettier --write, npx eslint --fix

fix: fix the direction of the arrow in WithdrawalCryptoAmountConverter (#15050)
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/components/WithdrawalCryptoAmountConverter/WithdrawalCryptoAmountConverter.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: add png to types
  packages/components/stories/icon/icons.js
  packages/wallets/declarations.d.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: update react-joyride and remove old joyride implementation
  packages/appstore/package.json
  packages/bot-web-ui/package.json
  packages/wallets/package.json
  packages/wallets/src/components/WalletTourGuide/DesktopSteps.tsx
  packages/wallets/src/components/WalletTourGuide/MobileSteps.tsx
  packages/wallets/src/components/WalletTourGuide/WalletMobileTourGuide.tsx
  packages/wallets/src/components/WalletTourGuide/WalletTourGuide.tsx
  packages/wallets/src/components/WalletTourGuide/WalletTourGuideSettings.tsx
Due: prettier --write, npx eslint --fix

fix: fixed the direction for arrow wallet transfer receipt (#15033)
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferReceipt/TransferReceipt.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: downgrade onfido version to 13.4.0
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view-container.tsx
Due: prettier --write, npx eslint --fix

chore: small style changes for Desktop flow
  packages/wallets/src/components/WalletTourGuide/DesktopSteps.tsx
Due: prettier --write, npx eslint --fix

chore: fix tests
  packages/account/jest.config.js
  packages/wallets/jest.config.js
Due: prettier --write, npx eslint --fix

fix: tests
  packages/account/src/Containers/Account/__tests__/account.spec.tsx
  packages/account/src/Sections/Profile/LanguageSettings/__tests__/language-settings.spec.tsx
  packages/core/src/App/Containers/Layout/header/__tests__/traders-hub-header.spec.tsx
  packages/core/src/App/Containers/Layout/header/__tests__/traders-hub-onboarding.spec.tsx
  packages/trader/src/Modules/Contract/Containers/__tests__/contract-replay.spec.tsx
Due: prettier --write, npx eslint --fix

fix(wallets): :ambulance: carousel settling
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.tsx
Due: prettier --write, npx eslint --fix

refactor: remove unused imports
  packages/core/src/App/Containers/Layout/header/__tests__/traders-hub-header.spec.tsx
  packages/trader/src/Modules/Contract/Containers/__tests__/contract-replay.spec.tsx
Due: prettier --write, npx eslint --fix

feat: remove waiting for landing company and show just eu and non-eu versions
  packages/appstore/src/components/cfds-listing-logged-out/cfds-listing-logged-out.tsx
  packages/appstore/src/components/options-multipliers-listing-logged-out/options-multipliers-listing-logged-out.tsx
  packages/appstore/src/components/ordered-platform-sections/ordered-platform-sections.tsx
  packages/appstore/src/components/tabs-or-title/tabs-or-title.tsx
  packages/appstore/src/modules/traders-hub-logged-out/traders-hub-logged-out.scss
  packages/appstore/src/modules/traders-hub-logged-out/traders-hub-logged-out.tsx
  packages/core/src/Stores/client-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: add tests for loader component
  packages/reports/src/_common/components/__tests__/loading.spec.tsx
Due: prettier --write, npx eslint --fix

feat: change routes to legacy th
  packages/appstore/src/components/routes/routes.tsx
  packages/core/src/App/Constants/routes-config.js
  packages/shared/src/utils/routes/routes.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: change routes to legacy th 2
  packages/core/src/App/Constants/routes-config.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: repair tests due to route changes
  packages/cfd/src/Containers/__tests__/cfd-password-modal.spec.js
  packages/core/src/App/Containers/Layout/header/__tests__/header.spec.tsx
  packages/core/src/App/Containers/Layout/header/__tests__/traders-hub-home-button.spec.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

test: MarketSymbolIconRow + migrate formatStatementTransaction to TS
  packages/reports/package.json
  packages/reports/src/Components/__tests__/market-symbol-icon-row.spec.tsx
  packages/reports/src/Components/market-symbol-icon-row.tsx
  packages/reports/src/Stores/Modules/Statement/Helpers/format-response.ts
Due: prettier --write, npx eslint --fix

feat: locked Onfido version to 13.8.4
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view-container.tsx
  packages/core/src/sass/app/_common/components/account-common.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: added dependencies to externals to consume from core
  packages/account/build/webpack.config.js
  packages/account/package.json
  packages/account/src/Components/account-limits/account-limits-article.tsx
  packages/account/src/Components/account-limits/account-limits-context.tsx
  packages/account/src/Components/account-limits/account-limits-extra-info.tsx
  packages/account/src/Components/account-limits/account-limits-footer.tsx
  packages/account/src/Components/account-limits/account-limits-overlay.tsx
  packages/account/src/Components/account-limits/account-limits-table-cell.tsx
  packages/account/src/Components/account-limits/account-limits-table-header.tsx
  packages/account/src/Components/account-limits/account-limits-turnover-limit-row.tsx
  packages/account/src/Components/api-token/api-token-context.ts
  packages/account/src/Components/api-token/api-token.tsx
  packages/account/src/Components/poi/status/unsupported/card-details/input-field.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-article-content.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-article.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-confirm-limits.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-confirm-page.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-footer.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-inputs.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-modal.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-wrapper.tsx
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.tsx
  packages/account/src/Sections/Security/vpn.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: send email when forgot password is clicked
  packages/wallets/src/components/SentEmailContent/SentEmailContent.tsx
  packages/wallets/src/features/cfd/modals/DxtradeEnterPasswordModal/DxtradeEnterPasswordModal.tsx
  packages/wallets/src/hooks/__tests__/useSendEmail.spec.tsx
  packages/wallets/src/hooks/useSendEmail.ts
Due: prettier --write, npx eslint --fix

fix: repnamed js to TS extension
  packages/account/src/Components/address-details/address-details.tsx
  packages/account/src/Components/address-details/index.ts
  packages/account/src/Components/leave-confirm/index.ts
  packages/account/src/Components/personal-details/index.ts
  packages/account/src/Components/poa-address-mismatch-hint-box/__test__/poa-address-mismatch-hint-box.spec.tsx
Due: prettier --write, npx eslint --fix

fix: change to kebab case file names
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav-item.tsx
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.scss
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.tsx
  packages/trader/src/AppV2/Components/BottomNav/index.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: add sendemail call to modal on mobile
  packages/wallets/src/features/cfd/modals/DxtradeEnterPasswordModal/DxtradeEnterPasswordModal.tsx
Due: prettier --write, npx eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
