Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: resolve comments pt.2
  packages/wallets/src/components/ToggleSwitch/ToggleSwitch.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: removing chartiq library
  package-lock.json
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/app/__tests__/app-main.spec.tsx
  packages/bot-web-ui/src/app/__tests__/dbot-providers.spec.tsx
  packages/bot-web-ui/src/components/blockly-loading/__tests__/blockly-loading.spec.tsx
  packages/bot-web-ui/src/components/bot-snackbar/__tests__/bot-snackbar.spec.tsx
  packages/bot-web-ui/src/components/chart/__tests__/toolbar-widgets.spec.tsx
  packages/bot-web-ui/src/components/chart/v1.ts
  packages/bot-web-ui/src/components/dashboard/bot-stop-notifiaction.spec.tsx
  packages/bot-web-ui/src/components/dashboard/bot-stopped.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/common/__tests__/react-joyride-wrapper.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/config/__tests__/config.spec.tsx
  packages/bot-web-ui/src/components/draggable/__tests__/draggable.spec.tsx
  packages/bot-web-ui/src/components/flyout/__tests__/flyout-block.spec.tsx
  packages/bot-web-ui/src/components/journal/journal-components/__tests__/date-item.spec.tsx
  packages/bot-web-ui/src/components/journal/journal-components/__tests__/filter-dialog.spec.tsx
  packages/bot-web-ui/src/components/journal/journal-components/__tests__/filters.spec.tsx
  packages/bot-web-ui/src/components/transaction-details/__tests__/transaction-details-desktop.spec.tsx
  packages/bot-web-ui/src/components/transaction-details/__tests__/transaction-details-mobile.spec.tsx
  packages/bot-web-ui/src/components/transaction-details/__tests__/transaction-details.spec.tsx
  packages/bot-web-ui/webpack.config.js
  packages/core/build/config.js
  packages/core/build/constants.js
  packages/core/package.json
  packages/trader/build/webpack.config.js
  packages/trader/package.json
  packages/trader/src/Modules/SmartChart/index.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: updated oscars grind strategy xml
  packages/bot-web-ui/src/xml/oscars_grind_max-stake.xml
Due: none

refactor: incorporated review comments
  packages/account/src/Constants/poo-identifier.ts
Due: prettier --write, npx eslint --fix

feat: remove grey color from barriers
  packages/core/src/Stores/chart-barrier-store.js
  packages/core/src/Stores/contract-store.js
  packages/core/src/Stores/portfolio-store.js
  packages/shared/src/utils/constants/barriers.ts
  packages/stores/types.ts
  packages/trader/src/Stores/Modules/SmartChart/chart-barrier-store.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/barrier-utils.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: removed redundant styles
  packages/wallets/src/features/cashier/modules/TransactionStatus/TransactionStatus.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: applied comment
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoTryFiatOnRamp/DepositCryptoTryFiatOnRamp.tsx
Due: prettier --write, npx eslint --fix

fix: alignment in message for migration modal
  packages/cfd/src/Containers/mt5-migration-modal/mt5-migration-back-side-content.tsx
  packages/cfd/src/Containers/mt5-migration-modal/mt5-migration-modal.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: cleanup derivez, update types, fix bug on trade modal
  packages/wallets/src/features/cfd/components/ModalTradeWrapper/ModalTradeWrapper.tsx
  packages/wallets/src/features/cfd/constants.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeLink/MT5TradeLink.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeScreen.tsx
  packages/wallets/src/types.ts
Due: prettier --write, npx eslint --fix

chore: remove packages and update component with current Textfield types
  packages/wallets/package-lock.json
  packages/wallets/package.json
  packages/wallets/src/components/Base/WalletPasswordField/WalletPasswordField.tsx
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.tsx
Due: prettier --write, npx eslint --fix

fix: resolve comments pt.3
  packages/wallets/src/components/ToggleSwitch/ToggleSwitch.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: removed unused types and fix eslint
  packages/wallets/src/features/cfd/components/ModalTradeWrapper/ModalTradeWrapper.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeLink/MT5TradeLink.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeScreen.tsx
Due: prettier --write, npx eslint --fix

Hamza/chore: cTrader account closure flow (#10543)
  packages/account/src/Sections/Security/ClosingAccount/account-has-balance.jsx
  packages/account/src/Sections/Security/ClosingAccount/closing-account-reason.jsx
  packages/components/src/components/icon/ctrader/ic-ctrader.svg
  packages/components/src/components/icon/icons.js
  packages/core/src/Constants/cfd-text.js
  packages/shared/src/utils/cfd/cfd.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

Aizad/WALL-2222/Toggle-Switch (#11220)
  packages/wallets/src/components/ToggleSwitch/ToggleSwitch.scss
  packages/wallets/src/components/ToggleSwitch/ToggleSwitch.tsx
  packages/wallets/src/components/ToggleSwitch/index.ts
  packages/wallets/src/components/index.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: update styelint to avoid px
  packages/wallets/.stylelintrc.js
  packages/wallets/src/components/Base/Divider/Divider.scss
  packages/wallets/src/components/Base/InlineMessage/InlineMessage.scss
  packages/wallets/src/components/Base/Tooltip/Tooltip.scss
  packages/wallets/src/components/Base/WalletAlertMessage/WalletAlertMessage.scss
  packages/wallets/src/components/Base/WalletButton/WalletButton.scss
  packages/wallets/src/components/Base/WalletDropdown/WalletDropdown.scss
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.scss
  packages/wallets/src/components/SkeletonLoader/TradingAppCardLoader/TradingAppCardLoader.scss
  packages/wallets/src/components/SkeletonLoader/WalletsDepositCryptoAddressLoader/WalletsDepositCryptoAddressLoader.scss
  packages/wallets/src/components/TradingAccountCard/TradingAccountCard.scss
  packages/wallets/src/components/WalletNoWalletFoundState/WalletNoWalletFoundState.scss
  packages/wallets/src/components/WalletsAddMoreCarousel/WalletsAddMoreCarousel.scss
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoAddress/DepositCryptoAddress.scss
  packages/wallets/src/features/cashier/modules/Transactions/Transactions.scss
  packages/wallets/src/features/cashier/modules/Transfer/TransferForm/TransferForm.scss
  packages/wallets/src/features/cashier/modules/Transfer/TransferForm/components/TransferFormDropdown/components/TransferFormAccountCard/TransferFormAccountCard.scss
  packages/wallets/src/features/cashier/modules/Transfer/TransferForm/components/TransferFormDropdown/components/TransferFormAccountSelection/TransferFormAccountSelection.scss
  packages/wallets/src/features/cfd/components/ModalTradeWrapper/ModalTradeWrapper.scss
  packages/wallets/src/features/cfd/flows/CTrader/AddedCTraderAccountsList/AddedCTraderAccountsList.scss
  packages/wallets/src/styles/devices.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: to redact token from datadog rum
  packages/core/src/Utils/Datadog/index.ts
Due: prettier --write, npx eslint --fix

Update packages/core/src/Utils/Datadog/index.ts
  packages/core/src/Utils/Datadog/index.ts
Due: prettier --write, npx eslint --fix

feat: translations for wallets
  packages/wallets/package.json
  packages/wallets/src/App.tsx
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.tsx
  packages/wallets/src/i18n.ts
Due: prettier --write, npx eslint --fix

chore: removed unwanted padding from deposit-crypto
  packages/wallets/src/features/cashier/modules/DepositCrypto/DepositCrypto.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: used inlinemessage component
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeScreen.scss
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeScreen.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: remove redundant styles
  packages/wallets/src/features/cashier/modules/DepositCrypto/DepositCrypto.scss
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoTryFiatOnRamp/DepositCryptoTryFiatOnRamp.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: dtrade linked login id (#11211)
  packages/api/src/hooks/useActiveLinkedToTradingAccount.ts
  packages/wallets/src/components/DerivAppsSection/DerivAppsSection.scss
  packages/wallets/src/components/DerivAppsSection/DerivAppsTradingAccount.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: update styelint to avoid px (#11236)
  packages/wallets/.stylelintrc.js
  packages/wallets/src/components/Base/Divider/Divider.scss
  packages/wallets/src/components/Base/InlineMessage/InlineMessage.scss
  packages/wallets/src/components/Base/Tooltip/Tooltip.scss
  packages/wallets/src/components/Base/WalletAlertMessage/WalletAlertMessage.scss
  packages/wallets/src/components/Base/WalletButton/WalletButton.scss
  packages/wallets/src/components/Base/WalletDropdown/WalletDropdown.scss
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.scss
  packages/wallets/src/components/SkeletonLoader/TradingAppCardLoader/TradingAppCardLoader.scss
  packages/wallets/src/components/SkeletonLoader/WalletsDepositCryptoAddressLoader/WalletsDepositCryptoAddressLoader.scss
  packages/wallets/src/components/TradingAccountCard/TradingAccountCard.scss
  packages/wallets/src/components/WalletNoWalletFoundState/WalletNoWalletFoundState.scss
  packages/wallets/src/components/WalletsAddMoreCarousel/WalletsAddMoreCarousel.scss
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoAddress/DepositCryptoAddress.scss
  packages/wallets/src/features/cashier/modules/Transactions/Transactions.scss
  packages/wallets/src/features/cashier/modules/Transfer/TransferForm/TransferForm.scss
  packages/wallets/src/features/cashier/modules/Transfer/TransferForm/components/TransferFormDropdown/components/TransferFormAccountCard/TransferFormAccountCard.scss
  packages/wallets/src/features/cashier/modules/Transfer/TransferForm/components/TransferFormDropdown/components/TransferFormAccountSelection/TransferFormAccountSelection.scss
  packages/wallets/src/features/cfd/components/ModalTradeWrapper/ModalTradeWrapper.scss
  packages/wallets/src/features/cfd/flows/CTrader/AddedCTraderAccountsList/AddedCTraderAccountsList.scss
  packages/wallets/src/styles/devices.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: add operation check for local props
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: removed duplicate status
  packages/account/build/webpack.config.js
  packages/account/src/Components/poa/status/status-codes/index.ts
  packages/account/src/Components/poa/status/status-codes/status-codes.ts
  packages/account/src/Constants/poo-identifier.ts
  packages/account/src/Constants/verification-status-codes.ts
  packages/account/src/Containers/proof-of-ownership/card.tsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-container.tsx
  packages/account/src/Sections/Verification/ProofOfOwnership/proof-of-ownership.tsx
  packages/account/src/Types/common.type.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: fixed typescript error
  packages/hooks/src/Context/global-context.tsx
Due: prettier --write, npx eslint --fix

chore: updated notification type for loss threshold reached
  packages/bot-web-ui/src/xml/oscars_grind_max-stake.xml
Due: none

fix: removed unused import
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.tsx
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.tsx
Due: prettier --write, npx eslint --fix

Revert "chore: update styelint to avoid px (#11236)"
  packages/wallets/.stylelintrc.js
  packages/wallets/src/components/Base/Divider/Divider.scss
  packages/wallets/src/components/Base/InlineMessage/InlineMessage.scss
  packages/wallets/src/components/Base/Tooltip/Tooltip.scss
  packages/wallets/src/components/Base/WalletAlertMessage/WalletAlertMessage.scss
  packages/wallets/src/components/Base/WalletButton/WalletButton.scss
  packages/wallets/src/components/Base/WalletDropdown/WalletDropdown.scss
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.scss
  packages/wallets/src/components/SkeletonLoader/TradingAppCardLoader/TradingAppCardLoader.scss
  packages/wallets/src/components/SkeletonLoader/WalletsDepositCryptoAddressLoader/WalletsDepositCryptoAddressLoader.scss
  packages/wallets/src/components/TradingAccountCard/TradingAccountCard.scss
  packages/wallets/src/components/WalletNoWalletFoundState/WalletNoWalletFoundState.scss
  packages/wallets/src/components/WalletsAddMoreCarousel/WalletsAddMoreCarousel.scss
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoAddress/DepositCryptoAddress.scss
  packages/wallets/src/features/cashier/modules/Transactions/Transactions.scss
  packages/wallets/src/features/cashier/modules/Transfer/TransferForm/TransferForm.scss
  packages/wallets/src/features/cashier/modules/Transfer/TransferForm/components/TransferFormDropdown/components/TransferFormAccountCard/TransferFormAccountCard.scss
  packages/wallets/src/features/cashier/modules/Transfer/TransferForm/components/TransferFormDropdown/components/TransferFormAccountSelection/TransferFormAccountSelection.scss
  packages/wallets/src/features/cfd/components/ModalTradeWrapper/ModalTradeWrapper.scss
  packages/wallets/src/features/cfd/flows/CTrader/AddedCTraderAccountsList/AddedCTraderAccountsList.scss
  packages/wallets/src/styles/devices.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: to remove telegram token from datadog rum (#11072)
  packages/core/src/Utils/Datadog/index.ts
Due: prettier --write, npx eslint --fix

chore: cleaned the code
  packages/appstore/src/components/app.tsx
  packages/cashier/src/app.tsx
  packages/core/src/App/app.jsx
  packages/hooks/src/Context/global-context.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useExchangeRate2.ts
  packages/hooks/src/useTotalAccountBalance2.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: added icons and view state
  packages/wallets/src/components/Base/WalletPasswordField/WalletPasswordField.tsx
  packages/wallets/src/public/images/ic-password-hide.svg
Due: prettier --write, npx eslint --fix

Revert "chore: update styelint to avoid px (#11236)" (#11240)
  packages/wallets/.stylelintrc.js
  packages/wallets/src/components/Base/Divider/Divider.scss
  packages/wallets/src/components/Base/InlineMessage/InlineMessage.scss
  packages/wallets/src/components/Base/Tooltip/Tooltip.scss
  packages/wallets/src/components/Base/WalletAlertMessage/WalletAlertMessage.scss
  packages/wallets/src/components/Base/WalletButton/WalletButton.scss
  packages/wallets/src/components/Base/WalletDropdown/WalletDropdown.scss
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.scss
  packages/wallets/src/components/SkeletonLoader/TradingAppCardLoader/TradingAppCardLoader.scss
  packages/wallets/src/components/SkeletonLoader/WalletsDepositCryptoAddressLoader/WalletsDepositCryptoAddressLoader.scss
  packages/wallets/src/components/TradingAccountCard/TradingAccountCard.scss
  packages/wallets/src/components/WalletNoWalletFoundState/WalletNoWalletFoundState.scss
  packages/wallets/src/components/WalletsAddMoreCarousel/WalletsAddMoreCarousel.scss
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoAddress/DepositCryptoAddress.scss
  packages/wallets/src/features/cashier/modules/Transactions/Transactions.scss
  packages/wallets/src/features/cashier/modules/Transfer/TransferForm/TransferForm.scss
  packages/wallets/src/features/cashier/modules/Transfer/TransferForm/components/TransferFormDropdown/components/TransferFormAccountCard/TransferFormAccountCard.scss
  packages/wallets/src/features/cashier/modules/Transfer/TransferForm/components/TransferFormDropdown/components/TransferFormAccountSelection/TransferFormAccountSelection.scss
  packages/wallets/src/features/cfd/components/ModalTradeWrapper/ModalTradeWrapper.scss
  packages/wallets/src/features/cfd/flows/CTrader/AddedCTraderAccountsList/AddedCTraderAccountsList.scss
  packages/wallets/src/styles/devices.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
