Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

chore: add hooks for hub redirection
  packages/hooks/src/__tests__/useIsHubRedirectionEnabled.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useIsHubRedirectionEnabled.ts
Due: prettier --write, npx eslint --fix

chore: check app id on AppContent instead of app
  packages/core/src/App/AppContent.tsx
  packages/core/src/App/app.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: change app ID based on FF value
  packages/core/src/App/app.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: add staging app id
  packages/core/src/App/app.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: update hooks to have own App ID check logic
  packages/core/src/App/AppContent.tsx
  packages/hooks/src/__tests__/useIsHubRedirectionEnabled.spec.tsx
  packages/hooks/src/useIsHubRedirectionEnabled.ts
Due: prettier --write, npx eslint --fix

chore: remove test const variable
  packages/hooks/src/useIsHubRedirectionEnabled.ts
Due: prettier --write, npx eslint --fix

fix: added the console items to check the issue
  packages/core/src/Utils/Analytics/index.ts
Due: prettier --write, npx eslint --fix

fix: loggedin issues in testlink
  packages/hooks/src/useOauth2.ts
Due: prettier --write, npx eslint --fix

feat: added front channel to logout deriv app
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/Modules/FrontChannel/FrontChannelPage.tsx
  packages/core/src/Modules/FrontChannel/index.ts
  packages/shared/src/utils/routes/routes.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Nuzhy/TRAH-5083/whatsapp icon missing issue (#17904)
  packages/core/src/App/Components/Elements/WhatsApp/whatsapp.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

fix: feature flag
  packages/wallets/src/components/AccountsList/AccountsList.tsx
  packages/wallets/src/components/AccountsList/__tests__/AccountsList.spec.tsx
Due: prettier --write, npx eslint --fix

fix: analytics config
  packages/api-v2/src/hooks/useGrowthbookIsOn.ts
Due: prettier --write, npx eslint --fix

Jim/wall 5227/switch ws connection when clients switch between real and demo wallets (#17820)
  packages/api-v2/src/APIProvider.tsx
  packages/api-v2/src/AuthProvider.tsx
  packages/api-v2/src/constants/index.ts
  packages/api-v2/src/constants/platforms.ts
  packages/api-v2/src/ws-client/ws-client.ts
  packages/shared/src/utils/config/config.ts
  packages/wallets/src/App.tsx
Due: prettier --write, npx eslint --fix

chore: apply suggestions
  packages/trader/src/Modules/Trading/Components/Form/DatePicker/trading-date-picker.tsx
  packages/trader/src/Stores/Modules/Trading/Helpers/contract-type.ts
Due: prettier --write, npx eslint --fix

fix: move analytics set attributes
  packages/api-v2/src/hooks/useGrowthbookIsOn.ts
Due: prettier --write, npx eslint --fix

[TRAH-5056] Suisin/chore: change app ID based on FF value (#17889)
  packages/core/src/App/AppContent.tsx
  packages/core/src/App/app.jsx
  packages/hooks/src/__tests__/useIsHubRedirectionEnabled.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useIsHubRedirectionEnabled.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Nijil / Info content is missing in Carousal component for RTL layout (#17934)
  packages/components/src/components/icon/icons.js
  packages/trader/src/AppV2/Components/Carousel/carousel.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Amina/poi workflow (#17899)
  packages/account/src/Constants/routes-config.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/index.js
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-flow.tsx
  packages/account/src/Sections/index.js
  packages/api/types.ts
  packages/core/src/Stores/client-store.js
  packages/shared/src/utils/routes/routes.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: add network status t the array with dependencies (#17910)
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
Due: prettier --write, npx eslint --fix

fix: check login status before making get_account_status request
  packages/hooks/src/useGetMFAccountStatus.ts
Due: prettier --write, npx eslint --fix

fix: add shortcode to switcher redirection
  packages/wallets/src/components/WalletListHeader/WalletListHeader.tsx
  packages/wallets/src/components/WalletListHeader/__tests__/WalletListHeader.spec.tsx
Due: prettier --write, npx eslint --fix

Revert "Jim/wall 5227/switch ws connection when clients switch between real a…"
  packages/api-v2/src/APIProvider.tsx
  packages/api-v2/src/AuthProvider.tsx
  packages/api-v2/src/constants/index.ts
  packages/api-v2/src/constants/platforms.ts
  packages/api-v2/src/ws-client/ws-client.ts
  packages/shared/src/utils/config/config.ts
  packages/wallets/src/App.tsx
Due: prettier --write, npx eslint --fix

Revert "Jim/wall 5227/switch ws connection when clients switch between real a…" (#17943)
  packages/api-v2/src/APIProvider.tsx
  packages/api-v2/src/AuthProvider.tsx
  packages/api-v2/src/constants/index.ts
  packages/api-v2/src/constants/platforms.ts
  packages/api-v2/src/ws-client/ws-client.ts
  packages/shared/src/utils/config/config.ts
  packages/wallets/src/App.tsx
Due: prettier --write, npx eslint --fix

chore: fix redirection logs user out
  packages/hooks/src/__tests__/useIsHubRedirectionEnabled.spec.tsx
  packages/hooks/src/useIsHubRedirectionEnabled.ts
Due: prettier --write, npx eslint --fix

[WALL] Lubega / WALL-5261 / OS redirection for demo only wallets (#17901)
  packages/api-v2/src/hooks/index.ts
  packages/api-v2/src/hooks/useCreateNewVirtualAccount.ts
  packages/wallets/src/components/DerivAppsSection/DerivAppsGetAccount.tsx
  packages/wallets/src/components/DerivAppsSection/__tests__/DerivAppsGetAccount.spec.tsx
  packages/wallets/src/components/WalletListHeader/WalletListHeader.tsx
  packages/wallets/src/components/WalletListHeader/__tests__/WalletListHeader.spec.tsx
  packages/wallets/src/components/WalletsAddMoreCardBanner/WalletsAddMoreCardBanner.tsx
  packages/wallets/src/components/WalletsAddMoreCardBanner/__tests__/WalletsAddMoreCardBanner.spec.tsx
  packages/wallets/src/helpers/urls.ts
  packages/wallets/src/hooks/__tests__/useSyncLocalStorageClientAccounts.spec.tsx
  packages/wallets/src/hooks/useSyncLocalStorageClientAccounts.ts
Due: prettier --write, npx eslint --fix

Nuzhy/TRAH-5030/livechat trackjs error (#17882)
  packages/core/src/App/Components/Elements/LiveChat/live-chat.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

chore: append app id only happens at login not ws
  packages/core/src/App/AppContent.tsx
  packages/shared/src/utils/login/login.ts
Due: prettier --write, npx eslint --fix

fix: quick adj guide
  packages/trader/src/AppV2/Components/OnboardingGuide/QuickAdjGuide/quick-adj-guide.tsx
Due: prettier --write, npx eslint --fix

fix: bottom nav disappearing
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

Henry/grwt 2580/onboarding guide improvement (#17944)
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.scss
  packages/trader/src/AppV2/Components/OnboardingGuide/QuickAdjGuide/quick-adj-guide.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Update types.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix
