Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

ci: remove duplicate command
  .github/workflows/codecov.yml
  package.json
Due: prettier --write

fix: resolved un necessary render issue
  packages/account/src/Components/poi/idv-status/idv-failed/idv-failed.tsx
Due: prettier --write, npx eslint --fix

ci: update default value
  package.json
Due: prettier --write

feat: integrated rudderstack hook
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/rudderstack-store.js
  packages/core/src/index.html
  packages/hooks/src/__tests__/useRudderstack.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useRudderstack.ts
  packages/p2p/src/stores/sendbird-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: total asset included derivez balance
  packages/hooks/src/useCFDAllAccounts.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

fix: updated mockstore
  packages/stores/src/mockStore.ts
Due: prettier --write, npx eslint --fix

fix: onboarding footer issue
  packages/appstore/src/modules/onboarding/onboarding.scss
  packages/appstore/src/modules/onboarding/onboarding.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: changed styles for disabled ads currency
  packages/p2p/src/components/my-ads/my-ads-row-renderer.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

fix: :sparkles: incorporated Resubmission triggers
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/cfd/src/Components/cfd-poa.tsx
  packages/cfd/src/Containers/cfd-financial-stp-real-account-signup.tsx
  packages/cfd/types.ts
  packages/shared/src/utils/cfd/cfd.ts
Due: prettier --write, npx eslint --fix

fix: style fixes
  packages/p2p/src/components/my-ads/my-ads-row-renderer.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: phone immutable
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: implemet some suggestions
  packages/appstore/src/modules/traders-hub/slick.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: add TODO
  packages/appstore/src/components/wallet-cards-carousel/cards-slider.tsx
Due: prettier --write, npx eslint --fix

feat: fix wallet-card component to show proper demo badge
  packages/components/src/components/wallet-card/wallet-card.tsx
Due: prettier --write, npx eslint --fix

fix: build errors
  packages/components/src/components/date-picker/date-picker.tsx
Due: prettier --write, npx eslint --fix

fix: imports of functions in journal-notifications
  packages/bot-web-ui/src/utils/journal-notifications.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: qa appearance fixes
  packages/appstore/src/components/fiat-transaction-list/fiat-transaction-list.tsx
Due: prettier --write, npx eslint --fix

refactor: deriv apps fix
  packages/appstore/src/components/fiat-transaction-list/fiat-transaction-list.tsx
Due: prettier --write, npx eslint --fix

refactor: real page fix
  packages/appstore/src/components/fiat-transaction-list/fiat-transaction-list.tsx
Due: prettier --write, npx eslint --fix

refactor: one more transaction
  packages/appstore/src/components/fiat-transaction-list/fiat-transaction-list.tsx
Due: prettier --write, npx eslint --fix

refactor: + initial deposit for real
  packages/appstore/src/components/fiat-transaction-list/fiat-transaction-list.tsx
Due: prettier --write, npx eslint --fix

fix: separate conditions for virtual and no verification code statuses
  packages/cashier/src/stores/withdraw-store.ts
Due: prettier --write, npx eslint --fix

fix: typo, demo icon, transition on closing, blinking icons
  packages/appstore/src/components/wallet-transfer/wallet-transfer.tsx
  packages/components/src/components/modal/modal.tsx
  packages/components/src/components/transfer-account-selector/transfer-account-selector.tsx
  packages/components/src/components/transfer-account-selector/transfer-tile.tsx
  packages/components/src/components/wallet-tile/wallet-tile.tsx
Due: prettier --write, npx eslint --fix

thisyahlen/fix: sorting of wallets list (#8926)
  packages/appstore/src/components/containers/__tests__/wallets.spec.tsx
  packages/appstore/src/components/containers/listing-container.tsx
  packages/appstore/src/components/containers/wallet.tsx
  packages/appstore/src/components/wallet-content/__tests__/wallet-content.spec.tsx
  packages/appstore/src/components/wallet-content/wallet-cfds-listing.tsx
  packages/appstore/src/components/wallet-content/wallet-content.tsx
  packages/appstore/src/components/wallet-content/wallet-option-multipliers-listing.tsx
  packages/appstore/src/modules/traders-hub/account-with-wallets.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/appstore/src/types/common.types.ts
  packages/core/src/Stores/client-store.js
  packages/hooks/src/__tests__/useWalletsList.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useWalletsList.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: BuySell components
  packages/p2p/src/components/buy-sell/__tests__/buy-sell-form-receive-amount.spec.js
  packages/p2p/src/components/buy-sell/__tests__/buy-sell.spec.tsx
  packages/p2p/src/components/buy-sell/__tests__/sort-dropdown.spec.js
  packages/p2p/src/components/buy-sell/buy-sell-form/buy-sell-form-receive-amount.jsx
  packages/p2p/src/components/buy-sell/buy-sell-form/buy-sell-form.jsx
  packages/p2p/src/components/buy-sell/buy-sell-form/index.js
  packages/p2p/src/components/buy-sell/buy-sell-header/buy-sell-header-currency-dropdown/buy-sell-header-currency-dropdown.jsx
  packages/p2p/src/components/buy-sell/buy-sell-header/buy-sell-header-currency-dropdown/buy-sell-header-currency-dropdown.scss
  packages/p2p/src/components/buy-sell/buy-sell-header/buy-sell-header-currency-dropdown/index.js
  packages/p2p/src/components/buy-sell/buy-sell-header/buy-sell-header-currency-selector/buy-sell-header-currency-selector.jsx
  packages/p2p/src/components/buy-sell/buy-sell-header/buy-sell-header-currency-selector/buy-sell-header-currency-selector.scss
  packages/p2p/src/components/buy-sell/buy-sell-header/buy-sell-header-currency-selector/index.js
  packages/p2p/src/components/buy-sell/buy-sell-header/buy-sell-header-dropdown.jsx
  packages/p2p/src/components/buy-sell/buy-sell-header/buy-sell-header.jsx
  packages/p2p/src/components/buy-sell/buy-sell-header/buy-sell-header.scss
  packages/p2p/src/components/buy-sell/buy-sell-header/index.js
  packages/p2p/src/components/buy-sell/buy-sell-row.jsx
  packages/p2p/src/components/buy-sell/buy-sell-table/buy-sell-table-no-ads.jsx
  packages/p2p/src/components/buy-sell/buy-sell-table/buy-sell-table-no-ads.scss
  packages/p2p/src/components/buy-sell/buy-sell-table/buy-sell-table-row.jsx
  packages/p2p/src/components/buy-sell/buy-sell-table/buy-sell-table-row.scss
  packages/p2p/src/components/buy-sell/buy-sell-table/buy-sell-table.jsx
  packages/p2p/src/components/buy-sell/buy-sell-table/index.js
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/buy-sell/currency-selector/index.js
  packages/p2p/src/components/buy-sell/no-ads/index.js
  packages/p2p/src/components/buy-sell/sort-dropdown.jsx
  packages/p2p/src/components/buy-sell/sort-dropdown.scss
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal.jsx
  packages/p2p/src/components/modal-manager/modals/currency-selector-modal/currency-selector-modal.jsx
  packages/p2p/src/stores/buy-sell-store.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: :bug: resolve render of previous data
  packages/account/src/Components/poi/poi-confirm-with-example-form-container/poi-confirm-with-example-form-container.tsx
Due: prettier --write, npx eslint --fix

fix: fixed the redirection issue for normal accounts
  packages/core/src/App/Containers/Redirect/redirect.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: add flag bot is running or not & send to datadog all requests before & after run bot
  packages/bot-skeleton/src/services/api/api-middleware.js
  packages/bot-skeleton/src/services/api/appId.js
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/stores/app-store.js
  packages/bot-web-ui/src/stores/run-panel-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: make changes in mockstore
  packages/stores/src/mockStore.ts
Due: prettier --write, npx eslint --fix

refactor: a few more changes to styles
  packages/appstore/src/components/fiat-transaction-list/fiat-transaction-list-item.tsx
  packages/appstore/src/components/fiat-transaction-list/fiat-transaction-list.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

perf: disable automatic opening of wallet modal
  packages/core/src/Stores/ui-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: conflicts + address review
  packages/components/src/components/positions-drawer-card/positions-drawer-card.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/strike.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: as per reviews
  packages/components/src/components/contract-card/contract-card-items/contract-card-body.tsx
  packages/components/src/components/contract-card/contract-card-items/turbos-card-body.tsx
Due: prettier --write, npx eslint --fix

fix: type error on cfd-top-up-demo-modal
  packages/cfd/src/Containers/cfd-top-up-demo-modal.tsx
Due: prettier --write, npx eslint --fix

refactor: :art: refactors language selection
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Merge branch "maryia/88219/poc_instead_of_ticks_history" into maryia/DTRA-234/demo-accu-14-06-23
  package.json
  packages/core/src/Stores/Helpers/chart-markers.js
  packages/core/src/Stores/contract-store.js
  packages/core/src/Stores/contract-trade-store.js
  packages/core/src/Stores/portfolio-store.js
  packages/reports/src/sass/app/modules/smart-chart.scss
  packages/shared/src/styles/constants.scss
  packages/shared/src/styles/themes.scss
  packages/shared/src/utils/contract/__tests__/contract.spec.ts
  packages/shared/src/utils/contract/contract-types.ts
  packages/shared/src/utils/contract/contract.ts
  packages/shared/src/utils/helpers/__tests__/barrier.ts
  packages/shared/src/utils/helpers/barrier.ts
  packages/trader/src/Modules/Contract/Components/AccumulatorsStats/__tests__/ticks-history-counter.spec.js
  packages/trader/src/Modules/Contract/Components/AccumulatorsStats/ticks-history-counter.jsx
  packages/trader/src/Modules/Contract/Components/AccumulatorsStats/ticks-history-counter.tsx
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
  packages/trader/src/Modules/SmartChart/Components/Markers/__tests__/accumulators-chart-elements.spec.js
  packages/trader/src/Modules/SmartChart/Components/Markers/accumulators-chart-elements.jsx
  packages/trader/src/Modules/SmartChart/Components/Markers/current-spot-emphasizer.jsx
  packages/trader/src/Modules/SmartChart/Components/Markers/marker.jsx
  packages/trader/src/Modules/SmartChart/Components/all-markers.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Stores/Modules/Trading/Helpers/proposal.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/sass/app/modules/contract/accumulators-stats.scss
  packages/trader/src/sass/app/modules/smart-chart.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Merge branch "henry/dtra-131/update-trade-description-dropdown-component" into maryia/DTRA-234/demo-accu-14-06-23
  packages/components/src/components/carousel/carousel.tsx
  packages/shared/src/styles/themes.scss
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-accumulator.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-even-odd.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-high-low.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-match-diff.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-multiplier.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-over-under.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-rise-fall.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-touch.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-vanilla.svg
  packages/trader/src/Assets/Trading/Categories/accumulator-trade-description.jsx
  packages/trader/src/Assets/Trading/Categories/accumulator-trade-description.tsx
  packages/trader/src/Assets/Trading/Categories/trade-categories.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-glossary.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeMenu/contract-type-menu.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-glossary.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-dialog.jsx
  packages/trader/src/sass/app/_common/components/contract-type-dialog.scss
  packages/trader/src/sass/app/_common/components/contract-type-info.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
