Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/en.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

chore: remove add button from compare account cards (#15093)
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsButton.scss
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsButton.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsCard.scss
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsCard.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsScreen.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: update test case to pass first for phone number verified modal
  packages/account/src/Sections/Profile/PhoneVerification/__test__/phone-number-verified-modal.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-number-verified-modal.tsx
Due: prettier --write, npx eslint --fix

fix: analyze swallows errors, so this splits it out into a different script (#14978)
  .github/actions/analyze/action.yml
  .github/workflows/analyze.yml
  package.json
  packages/account-v2/package.json
  packages/account/package.json
  packages/appstore/package.json
  packages/bot-web-ui/package.json
  packages/cashier-v2/package.json
  packages/cashier/package.json
  packages/cfd/package.json
  packages/components/stories/icon/icons.js
  packages/core/package.json
  packages/p2p-v2/package.json
  packages/p2p/package.json
  packages/reports/package.json
  packages/trader/package.json
  packages/tradershub/package.json
  packages/wallets/package.json
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: disclaimer update
  packages/appstore/src/modules/traders-hub/index.tsx
Due: prettier --write, npx eslint --fix

perf: added a test case and some mocks for TransferForm tests
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferForm/__tests__/TransferForm.spec.tsx
Due: prettier --write, npx eslint --fix

chore: remove console errors by replacing undefined with empty string
  packages/wallets/src/components/DatePicker/DatePicker.tsx
Due: prettier --write, npx eslint --fix

chore: :fire: fix the active_symbols refetching issue on bot
  packages/bot-web-ui/src/stores/app-store.ts
Due: prettier --write, npx eslint --fix

fix: :test_tube: fix test
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: translation issue for recent transactions (#15045)
  packages/cashier/src/components/transactions-crypto-history/transactions-crypto-history.tsx
Due: prettier --write, npx eslint --fix

fix: test case
  packages/stores/src/mockStore.ts
Due: prettier --write, npx eslint --fix

fix: remove tablet ui blocker and adjust ui to new breakpoint
  packages/bot-web-ui/src/components/bot-notification/bot-notification.scss
  packages/bot-web-ui/src/components/run-panel/run-panel.scss
  packages/bot-web-ui/src/components/summary/summary.scss
  packages/bot-web-ui/src/components/trade-animation/trade-animation.scss
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/strategy-accordion.scss
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/parts/loss-threshold-warning-dialog.scss
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/quick-strategy.scss
  packages/bot-web-ui/src/pages/bot-builder/toolbar/toolbar.scss
  packages/bot-web-ui/src/pages/bot-builder/workspace.scss
  packages/bot-web-ui/src/pages/chart/chart.scss
  packages/bot-web-ui/src/pages/dashboard/dashboard.scss
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/delete-dialog.scss
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/index.scss
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/save-modal.scss
  packages/bot-web-ui/src/pages/main/main.scss
  packages/bot-web-ui/src/pages/tutorials/quick-strategy-content/index.scss
  packages/bot-web-ui/src/pages/tutorials/tutorials.scss
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/drawer/drawer.tsx
  packages/core/src/Constants/ui.js
  packages/shared/src/utils/routes/routes.ts
  packages/shared/src/utils/screen/responsive.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: added the condition for the open action
  packages/appstore/src/components/app-content.tsx
Due: prettier --write, npx eslint --fix

fix: resolve conflict
  packages/bot-web-ui/src/pages/dashboard/dashboard.scss
  packages/bot-web-ui/src/pages/main/main.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: added subscribed balance call to wallet card in mobile carousel
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.tsx
Due: prettier --write, npx eslint --fix

fix: move quill-ui to core and wrap application with themeprovider
  package-lock.json
  packages/core/package.json
  packages/core/src/App/Containers/Layout/header/dtrader-v2-header.tsx
  packages/core/src/App/app.jsx
  packages/core/src/sass/app/_common/layout/header.scss
  packages/trader/package.json
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav-item.tsx
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.tsx
  packages/trader/src/AppV2/Containers/Markets/markets.tsx
  packages/trader/src/AppV2/Containers/Menu/menu.tsx
  packages/trader/src/AppV2/Containers/Positions/positions.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: import themeprovider from quill/ui
  packages/core/src/App/app.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: fix integration tests
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.tsx
Due: prettier --write, npx eslint --fix

feat: enabled table view for financial assessment
  packages/account/src/Styles/account.scss
  packages/components/src/components/vertical-tab/vertical-tab-content-container.tsx
  packages/components/src/components/vertical-tab/vertical-tab.tsx
  packages/core/src/sass/app/_common/components/account-common.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: wrong import
  packages/core/src/App/Containers/Layout/header/dtrader-v2-header.tsx
Due: prettier --write, npx eslint --fix

fix: remove unused css and make header bold
  packages/core/src/App/Containers/Layout/header/dtrader-v2-header.tsx
  packages/core/src/sass/app/_common/layout/header.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: updated api-type-package
  package-lock.json
  packages/account-v2/package.json
  packages/account/package.json
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-container.tsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.tsx
  packages/account/src/Types/common.type.ts
  packages/account/src/hooks/useKycAuthStatus.ts
  packages/api-v2/package.json
  packages/api/package.json
  packages/api/types.ts
  packages/appstore/package.json
  packages/bot-web-ui/package.json
  packages/cashier/package.json
  packages/cfd/package.json
  packages/p2p/package.json
  packages/shared/package.json
  packages/stores/package.json
  packages/trader/package.json
  packages/utils/package.json
Due: prettier --write, npx eslint --fix

feat: reverted back to previous version
  packages/appstore/package.json
  packages/bot-web-ui/package.json
  packages/wallets/package.json
  packages/wallets/src/components/WalletTourGuide/WalletTourGuide.tsx
  packages/wallets/src/components/WalletTourGuide/WalletTourGuideSettings.tsx
  packages/wallets/src/components/WalletTourGuide/WalletTourGuideSteps.tsx
Due: prettier --write, npx eslint --fix

fix: sorting of country list
  packages/p2p/src/components/modal-manager/modals/preferred-countries-modal/preferred-countries-modal-body.tsx
Due: prettier --write, npx eslint --fix

perf: added more test cases
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferForm/__tests__/TransferForm.spec.tsx
Due: prettier --write, npx eslint --fix

feat: tablet design for personal details
  packages/account/src/Styles/account.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: fixed ts in test
  packages/api-v2/src/ws-client/__tests__/subscriptions-manager.spec.ts
Due: prettier --write, npx eslint --fix

feat: fixed sonar
  packages/api-v2/src/APIProvider.tsx
Due: prettier --write, npx eslint --fix

feat: fixed sonar issues
  packages/api-v2/src/useAPI.ts
  packages/api-v2/src/ws-client/request.ts
  packages/api-v2/src/ws-client/ws-client.ts
Due: prettier --write, npx eslint --fix

fix: make labels red when active
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav-item.tsx
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: change text to correct component
  packages/core/src/App/Containers/Layout/header/dtrader-v2-header.tsx
Due: prettier --write, npx eslint --fix

fix: move themeprovider to appcontent to react to changes in store
  packages/core/src/App/AppContent.tsx
  packages/core/src/App/app.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: hide close icon and set ctrader account as default when transfer button is clicked
  packages/wallets/src/features/cfd/flows/CTrader/AvailableCTraderAccountsList/AvailableCTraderAccountsList.tsx
  packages/wallets/src/features/cfd/modals/CTraderSuccessModal/CTraderSuccessModal.tsx
  packages/wallets/src/features/cfd/modals/CTraderSuccessModal/components/CTraderSuccessModalButtons.tsx
Due: prettier --write, npx eslint --fix

chore: add type declaration
  packages/wallets/src/types.ts
Due: prettier --write, npx eslint --fix

feat: added account list
  packages/wallets/src/features/cfd/modals/CTraderTradeModal/CTraderTradeModal.tsx
  packages/wallets/src/features/cfd/modals/CTraderTradeModal/CTraderTradeScreen.tsx
Due: prettier --write, npx eslint --fix

Akmal / fix: add sell error modals in reports package (#14689)
  packages/reports/src/Components/Elements/Modals/AccountVerificationPendingModal/__tests__/account-verification-pending-modal.spec.tsx
  packages/reports/src/Components/Elements/Modals/AccountVerificationPendingModal/account-verification-pending-modal.tsx
  packages/reports/src/Components/Elements/Modals/AccountVerificationPendingModal/index.ts
  packages/reports/src/Components/Elements/Modals/MarketUnavailableModal/__tests__/market-unavailable.spec.tsx
  packages/reports/src/Components/Elements/Modals/MarketUnavailableModal/index.ts
  packages/reports/src/Components/Elements/Modals/MarketUnavailableModal/market-unavailable.tsx
  packages/reports/src/Components/Elements/Modals/ServicesErrorModal/__tests__/account-verification-required-modal.spec.tsx
  packages/reports/src/Components/Elements/Modals/ServicesErrorModal/__tests__/authorization-required-modal.spec.tsx
  packages/reports/src/Components/Elements/Modals/ServicesErrorModal/__tests__/company-wide-limit-exceeded-modal.spec.tsx
  packages/reports/src/Components/Elements/Modals/ServicesErrorModal/__tests__/constants.spec.ts
  packages/reports/src/Components/Elements/Modals/ServicesErrorModal/__tests__/insufficient-balance-modal.spec.tsx
  packages/reports/src/Components/Elements/Modals/ServicesErrorModal/__tests__/services-error-modal.spec.tsx
  packages/reports/src/Components/Elements/Modals/ServicesErrorModal/account-verification-required-modal.tsx
  packages/reports/src/Components/Elements/Modals/ServicesErrorModal/authorization-required-modal.tsx
  packages/reports/src/Components/Elements/Modals/ServicesErrorModal/company-wide-limit-exceeded-modal.tsx
  packages/reports/src/Components/Elements/Modals/ServicesErrorModal/constants.ts
  packages/reports/src/Components/Elements/Modals/ServicesErrorModal/index.ts
  packages/reports/src/Components/Elements/Modals/ServicesErrorModal/insufficient-balance-modal.tsx
  packages/reports/src/Components/Elements/Modals/ServicesErrorModal/services-error-modal.tsx
  packages/reports/src/Components/Modals/__tests__/trade-modals.spec.tsx
  packages/reports/src/Components/Modals/index.ts
  packages/reports/src/Components/Modals/trade-modals.tsx
  packages/reports/src/app.tsx
Due: prettier --write, npx eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
