Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: contract details scroll
  packages/trader/src/AppV2/Containers/ContractDetails/contract-details.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: some styles on tablet for arabic language
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-dialog.scss
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: change structure of flags on clocalstorage
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/__tests__/onboarding-guide.spec.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/onboarding-guide.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/TradeTypesGuide/index.ts
  packages/trader/src/AppV2/Components/OnboardingGuide/TradeTypesGuide/trade-types-guide.scss
  packages/trader/src/AppV2/Components/OnboardingGuide/TradeTypesGuide/trade-types-guide.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/TradeTypesSelectionGuide/index.ts
  packages/trader/src/AppV2/Components/OnboardingGuide/TradeTypesSelectionGuide/trade-types-selection-guide.scss
  packages/trader/src/AppV2/Components/OnboardingGuide/TradeTypesSelectionGuide/trade-types-selection-guide.tsx
  packages/trader/src/AppV2/Containers/Positions/__tests__/positions.spec.tsx
  packages/trader/src/AppV2/Containers/Positions/positions.tsx
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade.spec.tsx
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: add jwt token
  packages/core/src/App/Components/Elements/LiveChat/use-freshchat.ts
  packages/core/src/Stores/client-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  types/global.d.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: fix ts of AnnouncementDialog
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-dialog.tsx
Due: prettier --write, npx eslint --fix

chore: remove code smells
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats-description.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/onboarding-guide.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/TradeTypesSelectionGuide/trade-types-selection-guide.tsx
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
Due: prettier --write, npx eslint --fix

fix: :construction: fix on switch account the server bot should resume
  packages/bot-web-ui/src/stores/root-store.ts
  packages/bot-web-ui/src/stores/server-side-bot-store.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

refactor: create reusable stream iframe component
  packages/trader/src/AppV2/Components/AccumulatorStats/__tests__/accumulator-stats.spec.tsx
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats-description.tsx
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats.scss
  packages/trader/src/AppV2/Components/OnboardingGuide/StreamIframe/index.ts
  packages/trader/src/AppV2/Components/OnboardingGuide/StreamIframe/stream-iframe.scss
  packages/trader/src/AppV2/Components/OnboardingGuide/StreamIframe/stream-iframe.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/TradeTypesSelectionGuide/index.ts
  packages/trader/src/AppV2/Components/OnboardingGuide/TradeTypesSelectionGuide/trade-types-selection-guide.scss
  packages/trader/src/AppV2/Components/OnboardingGuide/TradeTypesSelectionGuide/trade-types-selection-guide.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: [UPM-1474]/evgeniy/passkey remove without verification
  packages/account/src/Constants/routes-config.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkey-card.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkey-removed.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkey-rename.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkeys-status-container.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/description-container.tsx
  packages/account/src/Sections/Security/Passkeys/components/no-passkeys.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-card.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-created.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-error-modal.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-reminder-modal.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-remove-confirmation-modal.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-removed.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-rename.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-learn-more.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-list.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-status-container.tsx
  packages/account/src/Sections/Security/Passkeys/components/tips-block.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys-configs.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
  packages/account/src/Sections/index.js
  packages/hooks/src/__tests__/useGetPasskeysList.spec.tsx
  packages/hooks/src/__tests__/useRegisterPasskey.spec.tsx
  packages/hooks/src/__tests__/useRemovePasskey.spec.tsx
  packages/hooks/src/__tests__/useRenamePasskey.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useGetPasskeysList.ts
  packages/hooks/src/useRegisterPasskey.ts
  packages/hooks/src/useRemovePasskey.ts
  packages/hooks/src/useRenamePasskey.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: import and typo
  packages/account/src/Sections/Security/Passkeys/components/passkey-card.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
Due: prettier --write, npx eslint --fix

fix: defaulting
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/traders-hub-store.js
  packages/hooks/src/index.ts
  packages/hooks/src/useGetDefaultMT5Jurisdiction.ts
  packages/stores/src/mockStore.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: removed is_tin_mandatory check from Tax section
  packages/account/src/Containers/employment-tax-details-container/employment-tax-details-container.tsx
Due: prettier --write, npx eslint --fix

fix: modal content
  packages/appstore/src/components/modals/verification-docs-list-modal/verification-docs-list-modal.tsx
  packages/cfd/src/Containers/cfd-password-modal-info.tsx
  packages/core/src/Stores/client-store.js
  packages/hooks/src/index.ts
  packages/hooks/src/useGetStatus.ts
  packages/hooks/src/useIsSelectedMT5AccountCreated.ts
  packages/shared/src/utils/constants/jurisdictions-config.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: contract details scroll by adjusting the height of container
  packages/trader/src/AppV2/Containers/ContractDetails/contract-details.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: adjust contract-details page to take up the whole height
  packages/trader/src/AppV2/Containers/ContractDetails/contract-details.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: wallets webpack config
  packages/wallets/webpack.config.js
Due: prettier --write, npx eslint --fix

fix: logical error
  packages/trader/src/AppV2/Hooks/useActiveSymbols.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Due: prettier --write, npx eslint --fix

fix: date formatting
  packages/wallets/src/components/DatePicker/DatePicker.tsx
  packages/wallets/src/components/DerivAppsSection/DerivAppsGetAccount.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/TransactionsPendingRow.tsx
  packages/wallets/src/utils/utils.ts
Due: prettier --write, npx eslint --fix

chore: :fire: root-store cleanup
  packages/bot-web-ui/src/stores/root-store.ts
  packages/bot-web-ui/src/stores/server-side-bot-store.ts
Due: prettier --write, npx eslint --fix

fix: change actionsheet content
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier-description.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier.scss
  packages/trader/src/AppV2/Components/TradeParameters/Multiplier/multiplier.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: add suggested review comments
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
  packages/trader/src/AppV2/Utils/client.ts
Due: prettier --write, npx eslint --fix

fix: node env value on staging (#16753)
  .github/workflows/release_staging.yml
Due: none

translations: 📚 sync translations with crowdin
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/ar.json
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/de.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/km.json
  packages/p2p/src/translations/ko.json
  packages/p2p/src/translations/mn.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/sw.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/uz.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

fix: addes styling to icon
  packages/account/src/Configs/get-mt5-status-badge-config.tsx
  packages/components/src/components/status-badge/status-badge.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: fix
  packages/trader/src/AppV2/Components/TradeParameters/Duration/container.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.scss
  packages/trader/src/AppV2/Components/TradeParameters/Duration/wheelpicker.tsx
  packages/trader/src/AppV2/Utils/__tests__/trade-param-utils.spec.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: utils unit test
  packages/wallets/src/utils/__tests__/utils.spec.ts
  packages/wallets/src/utils/utils.ts
Due: prettier --write, npx eslint --fix

fix: issues in trade types
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
Due: prettier --write, npx eslint --fix

fix: fixed validation check
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Time/tick_delay.js
  packages/bot-skeleton/src/scratch/utils/index.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: fix cancel modal showing when GB is off
  packages/account/src/Sections/Profile/PhoneVerification/__test__/cancel-phone-verification-modal.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/cancel-phone-verification-modal.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification-page.tsx
Due: prettier --write, npx eslint --fix

fix: update webpack config
  packages/wallets/webpack.config.js
Due: prettier --write, npx eslint --fix

[WALL] Lubega / WALL-4837 / MT5 reset password responsive broken header (#16722)
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoDisclaimer/WithdrawalCryptoDisclaimer.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoReceipt/WithdrawalCryptoReceipt.tsx
  packages/wallets/src/features/cfd/constants.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsDescription.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/__tests__/CompareAccountsDescription.spec.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/compareAccountsConfig.ts
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/ar.json
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/de.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/km.json
  packages/p2p/src/translations/ko.json
  packages/p2p/src/translations/mn.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/sw.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/uz.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

chore: update unit test case for useRequestPhoneNumberOTP & useSendOtpVerificationCode
  packages/hooks/src/__tests__/useRequestPhoneNumberOTP.spec.tsx
  packages/hooks/src/__tests__/useSendOTPVerificationCode.spec.tsx
  packages/hooks/src/useRequestPhoneNumberOTP.tsx
  packages/hooks/src/useSendOTPVerificationCode.tsx
Due: prettier --write, npx eslint --fix

refactor: :fire: removed buggy test coverge from skeleton
  packages/bot-skeleton/src/services/api/__tests__/ticks-service.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/BotApi.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/Core.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/StopStart.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/UI.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/After.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/Before.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/During.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/Ticks.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/indicators.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/sanitize-test/Blocks.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/sanitize-test/Trade.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/tools-test/Candles.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/tools-test/Misc.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/tools-test/Time.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/jsi.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/shouldRestartOnError.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/stages.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/tools.js
  packages/bot-skeleton/src/services/tradeEngine/trade/state/actions/index.spec.js
  packages/bot-skeleton/src/services/tradeEngine/trade/state/reducers/index.spec.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: removed validation for 0
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Time/tick_delay.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Ticks.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: add safeParse
  packages/trader/package.json
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
  packages/utils/src/getLocalStorage.ts
  packages/utils/src/index.ts
Due: prettier --write, npx eslint --fix

fix: remove redeclared default case
  packages/wallets/src/utils/utils.ts
Due: prettier --write, npx eslint --fix

chore: update inline message for personal details mt5
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/VerifyPersonalDetails.tsx
Due: prettier --write, npx eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
