Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

[CFDS] [Trader's Hub] Update API limit error message (#11742)
  packages/components/src/components/error-modal/__tests__/error-modal-content.spec.tsx
  packages/components/src/components/error-modal/__tests__/error-modal.spec.tsx
  packages/components/src/components/error-modal/error-modal-content.tsx
  packages/components/src/components/error-modal/error-modal.scss
  packages/components/src/components/error-modal/error-modal.tsx
  packages/components/src/components/error-modal/index.ts
  packages/components/src/components/page-error-container/page-error-container.tsx
  packages/components/src/index.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: fix build breaking issues
  package-lock.json
  packages/components/src/components/cfd-compare-accounts-carousel/cfd-compare-accounts-carousel.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/de.json
  packages/p2p/src/translations/ko.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

chore: Unit test for Loader component (#12169)
  packages/wallets/src/components/Loader/Loader.tsx
  packages/wallets/src/components/Loader/__tests__/Loader.spec.tsx
Due: prettier --write, npx eslint --fix

fix: formatted the code using prettier
  packages/api/src/hooks/p2p/useCreateAdvertiser.ts
Due: prettier --write, npx eslint --fix

[WALL] Farhan/WALL-2884/Unit test for ToggleSwitch component (#12167)
  packages/wallets/src/components/ToggleSwitch/__tests__/ToggleSwitch.spec.tsx
Due: prettier --write, npx eslint --fix

[COJ] Refactored, Migrated and Test TwoFactorAuthentication component (#11682)
  packages/account/src/Sections/Security/TwoFactorAuthentication/__test__/digit-form.spec.tsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/__test__/two-factor-authentication-article.spec.tsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/__test__/two-factor-authentication.spec.tsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/__test__/two-factor-disabled.spec.tsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/__test__/two-factor-enabled.spec.tsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/digit-form.tsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/index.js
  packages/account/src/Sections/Security/TwoFactorAuthentication/index.ts
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication-article.tsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication.jsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication.tsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-disabled.tsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-enabled.tsx
  packages/account/src/Styles/account.scss
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

test: :test_tube: unit test for Inline message component
  packages/wallets/src/components/Base/InlineMessage/InlineMessage.tsx
  packages/wallets/src/components/Base/InlineMessage/__tests__/InlineMessage.spec.tsx
Due: prettier --write, npx eslint --fix

[WALL] shahzaib / WALL-506 / fix: real account signup wizard index being reset on selected currency submission (#11331)
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/Layout/header/__tests__/traders-hub-header.spec.tsx
  packages/core/src/App/Containers/Layout/header/default-header.jsx
  packages/core/src/App/Containers/Layout/header/dtrader-header.jsx
  packages/core/src/App/Containers/Layout/header/traders-hub-header.tsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: updated the hook
  packages/api/src/hooks/p2p/useCreateAdvertiser.ts
Due: prettier --write, npx eslint --fix

fix: typo
  packages/wallets/src/components/Base/Divider/__tests__/Divider.spec.tsx
Due: prettier --write, npx eslint --fix

fix: updated api typing
  packages/wallets/src/features/cashier/constants/constants.ts
Due: prettier --write, npx eslint --fix

feat: added hook for p2p_order_list
  packages/api/src/hooks/p2p/useOrderList.ts
Due: prettier --write, npx eslint --fix

refactor: starting the removal of ui states from the CFD package
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useCurrentList.ts
  packages/shared/src/utils/cfd/cfd.ts
Due: prettier --write, npx eslint --fix

chore: Divider unit test (#12150)
  packages/wallets/src/components/Base/Divider/Divider.tsx
  packages/wallets/src/components/Base/Divider/__tests__/Divider.spec.tsx
Due: prettier --write, npx eslint --fix

[WALL] Sergei / trying to fix package-lock and get back Step types (#11312)
  packages/wallets/src/components/WalletTourGuide/DesktopSteps.tsx
  packages/wallets/src/components/WalletTourGuide/MobileSteps.tsx
  packages/wallets/src/components/WalletTourGuide/WalletTourGuideSettings.tsx
Due: prettier --write, npx eslint --fix

fix: updated payload type
  packages/api/src/hooks/p2p/useCreateAdvertiser.ts
Due: prettier --write, npx eslint --fix

chore: tweak the test case
  packages/appstore/src/modules/traders-hub/__tests__/index.spec.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/de.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/zh_cn.json
Due: prettier --write

fix: rename test case file name
  packages/trader/src/App/Components/Elements/PositionsDrawer/__tests__/positions-modal-card.spec.tsx
Due: prettier --write, npx eslint --fix

refactor: add testt case with unmount
  packages/core/src/App/Components/Layout/Header/__tests__/toggle-menu-drawer.spec.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: update classnasme cfd-trade-modal to trade-modal
  packages/cfd/src/features/Components/passwordbox.tsx
  packages/cfd/src/features/Components/specbox.tsx
  packages/cfd/src/features/Containers/cfd-trade-modal.tsx
  packages/cfd/src/features/Containers/mt5-trade-modal.tsx
  packages/cfd/src/features/Containers/other-cfds-trade-modal.tsx
  packages/cfd/src/features/Helpers/config.tsx
  packages/cfd/src/features/sass/cfd-dashboard.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: refactored inline message element to a function
  packages/wallets/src/components/Base/InlineMessage/InlineMessage.tsx
  packages/wallets/src/components/Base/InlineMessage/__tests__/InlineMessage.spec.tsx
Due: prettier --write, npx eslint --fix

fix: resolved conflicts
  packages/wallets/src/features/cashier/helpers/helpers.ts
Due: prettier --write, npx eslint --fix

chore: fix typo
  packages/core/src/App/Components/Layout/Header/__tests__/toggle-menu-drawer.spec.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: code smells
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/quick-strategy-content/quick-strategy-cards.tsx
  packages/bot-web-ui/src/components/quick-strategy/form-wrappers/strategy-description.tsx
Due: prettier --write, npx eslint --fix

fix: change to pascal case
  packages/trader/src/App/Components/Form/TimePicker/__tests__/dialog.spec.tsx
Due: prettier --write, npx eslint --fix

chore: added suggestions
  packages/api/src/hooks/p2p/useP2PAdvertList.ts
Due: prettier --write, npx eslint --fix

refactor: update data-testid
  packages/wallets/src/components/WalletCard/WalletCard.tsx
  packages/wallets/src/components/WalletCard/__tests__/WalletCard.spec.tsx
  packages/wallets/src/components/WalletCardIcon/WalletCardIcon.tsx
  packages/wallets/src/components/WalletGradientBackground/WalletGradientBackground.tsx
  packages/wallets/src/components/WalletsAppLinkedWithWalletIcon/__tests__/WalletsAppLinkedWithWalletIcon.spec.tsx
  packages/wallets/src/features/cashier/components/WalletCashierHeader/__tests__/WalletCashierHeader.spec.tsx
Due: prettier --write, npx eslint --fix

fix: issue where reason was not listed for fixed-to-float or viceversa change (#11674)
  packages/p2p/src/pages/my-ads/my-ads-row-renderer.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

fix: resolved conflicts
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/components/TransactionsCompletedRowAccountDetails/TransactionsCompletedRowAccountDetails.tsx
Due: prettier --write, npx eslint --fix

fix: minor Modal Issues inside of Wallets
  packages/wallets/src/features/cfd/screens/CreatePassword/CreatePassword.scss
  packages/wallets/src/features/cfd/screens/CreatePassword/CreatePassword.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: test
  packages/trader/src/App/Components/Elements/ContractDrawer/__tests__/contract-drawer-card.spec.tsx
Due: prettier --write, npx eslint --fix

fix: removed default values
  packages/api/src/hooks/p2p/useOrderList.ts
Due: prettier --write, npx eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
