Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

fix: translations scroll issue
  packages/wallets/src/AppContent.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: password hint message update
  packages/account/src/Components/reset-trading-password-modal/reset-trading-password-modal.tsx
  packages/cfd/src/Containers/cfd-password-change.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/Containers/cfd-reset-password-modal.tsx
  packages/cfd/src/Helpers/constants.ts
  packages/wallets/src/constants/password.ts
Due: prettier --write, npx eslint --fix

chore: remove unnecessary beforeeach
  packages/wallets/src/features/cfd/screens/Jurisdiction/__tests__/JurisdictionScreen.spec.tsx
Due: prettier --write, npx eslint --fix

chore: fix session expired showing after pnv succeeded
  packages/account/src/Sections/Profile/PhoneVerification/__test__/phone-number-verified-modal.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-number-verified-modal.tsx
  packages/account/src/Sections/Profile/PhoneVerification/session-timeout-modal.tsx
  packages/core/src/Stores/ui-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

style: css fixes
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Containers/cfd-reset-password-modal.tsx
  packages/cfd/src/sass/cfd.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: remove unnecessary assertion
  packages/wallets/src/features/cfd/screens/Jurisdiction/__tests__/JurisdictionScreen.spec.tsx
Due: prettier --write, npx eslint --fix

fix: cleanup
  packages/cfd/src/Containers/cfd-password-change.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
Due: prettier --write, npx eslint --fix

chore: fix verify button disabled on session timeout disabled
  packages/account/src/Sections/Profile/PhoneVerification/session-timeout-modal.tsx
Due: prettier --write, npx eslint --fix

chore: update validation message
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
Due: prettier --write, npx eslint --fix

chore: turbos with BE changes
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/__tests__/payout-per-point-input.spec.tsx
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/__tests__/payout-per-point-mobile-input.spec.tsx
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/payout-per-point-input.tsx
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/payout-per-point-mobile-input.tsx
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/payout-per-point.scss
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/payout-selector.tsx
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/__tests__/wheel-picker-mobile.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/__tests__/wheel-picker.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker-mobile.tsx
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker.scss
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: filter language for mobile and accounts language switcher
  packages/account/src/Sections/Profile/LanguageSettings/__tests__/language-settings.spec.tsx
  packages/account/src/Sections/Profile/LanguageSettings/language-settings.tsx
  packages/core/src/App/Components/Layout/Header/Components/ToggleMenu/mobile-language-menu.tsx
  packages/wallets/src/components/AppCard/AppCard.scss
  packages/wallets/src/components/Base/WalletTextField/HelperMessage.tsx
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.scss
  packages/wallets/src/components/Dropzone/Dropzone.scss
  packages/wallets/src/components/WalletListCardBalance/WalletListCardBalance.scss
  packages/wallets/src/components/WalletListCardBalance/WalletListCardBalance.tsx
  packages/wallets/src/components/WalletListCardDropdown/WalletListCardDropdown.scss
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/TransactionsPendingRow.scss
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/TransactionsPendingRow.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountSelection/TransferFormAccountSelection.scss
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeLink/MT5MobileRedirectOption.scss
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeLink/MT5MobileRedirectOption.tsx
  packages/wallets/src/features/cfd/screens/VerificationFailed/VerificationFailed.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: popover color, null initial value, reset disabled
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/business-hour-modal-edit/business-hour-modal-edit.tsx
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/business-hour-modal-footer/business-hour-modal-footer.tsx
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/business-hour-modal.scss
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/business-hour-modal.tsx
  packages/p2p/src/pages/my-profile/my-profile-stats/my-profile-name/my-profile-name-business-hours/my-profile-name-business-hours.scss
  packages/p2p/src/pages/my-profile/my-profile-stats/my-profile-name/my-profile-name-business-hours/my-profile-name-business-hours.tsx
  packages/p2p/src/utils/business-hours.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: close modal before opening password-policy modal
  packages/cfd/src/Containers/cfd-password-modal.tsx
Due: prettier --write, npx eslint --fix

fix: calls sequence
  packages/trader/src/AppV2/Hooks/useActiveSymbols.ts
  packages/trader/src/AppV2/Hooks/useContractsForCompany.ts
  packages/trader/src/AppV2/Hooks/useDtraderQuery.ts
  packages/trader/src/AppV2/Hooks/useStateWithRef.ts
Due: prettier --write, npx eslint --fix

feat: hide tin field for tin not mandatory countries
  packages/wallets/src/features/accounts/modules/TaxInformation/TaxInformation.tsx
  packages/wallets/src/features/accounts/modules/TaxInformation/hooks/useTaxInformation.ts
  packages/wallets/src/features/cfd/flows/ClientVerification/ClientVerification.tsx
Due: prettier --write, npx eslint --fix

chore: test cases
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/__tests__/payout-per-point-input.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/__tests__/wheel-picker-mobile.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/__tests__/wheel-picker.spec.tsx
Due: prettier --write, npx eslint --fix

fix: tin comfirmation checkbox
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
Due: prettier --write, npx eslint --fix

fix: make sure symbol and contract_type can be set via URL
  packages/trader/src/AppV2/Hooks/useActiveSymbols.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Due: prettier --write, npx eslint --fix

fix: remove comment
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Due: prettier --write, npx eslint --fix

fix: update condition
  packages/cfd/src/Containers/cfd-password-modal.tsx
Due: prettier --write, npx eslint --fix

chore: cleanup v2 api calls
  packages/trader/src/AppV2/Hooks/useActiveSymbols.ts
  packages/trader/src/AppV2/Hooks/useContractsForCompany.ts
  packages/trader/src/AppV2/Hooks/useDtraderQuery.ts
Due: prettier --write, npx eslint --fix

fix: invalid trade type
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
Due: prettier --write, npx eslint --fix

fix: remove unwanted file from pr
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: issues with types
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
  packages/trader/src/Stores/Modules/Trading/Helpers/contract-type.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
  packages/trader/src/Types/common-prop.type.ts
Due: prettier --write, npx eslint --fix

fix: remove unwanted file
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: remove unwanted file
  packages/wallets/src/components/WalletsAddMoreCardContent/WalletsAddMoreCardContent.tsx
Due: prettier --write, npx eslint --fix

fix: added validation
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Time/tick_delay.js
  packages/bot-skeleton/src/scratch/utils/index.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/uz.json
Due: prettier --write

test(wallets): :test_tube: add test for AppCardBadge (#16677)
  packages/wallets/src/components/AppCardBadge/__tests__/AppCardBadge.spec.tsx
Due: prettier --write, npx eslint --fix

test(wallets): :test_tube: add tests (#16682)
  packages/wallets/src/features/cfd/__tests__/CFDPlatformsList.spec.tsx
  packages/wallets/src/features/cfd/__tests__/CFDPlatformsListEmptyState.spec.tsx
  packages/wallets/src/features/cfd/__tests__/ResetMT5PasswordHandler.spec.tsx
Due: prettier --write, npx eslint --fix

fix: edited styles of status banner
  packages/account/src/Configs/get-status-badge-config.tsx
  packages/components/src/components/status-badge/status-badge.scss
  packages/shared/src/styles/themes.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: fix flickering issue for didnt get a code
  packages/account/src/Sections/Profile/PhoneVerification/__test__/otp-verification.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
  packages/account/src/Sections/Profile/PhoneVerification/resend-code-timer.tsx
  packages/hooks/src/usePhoneNumberVerificationSetTimer.tsx
Due: prettier --write, npx eslint --fix

fix: fix
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats-description.tsx
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: update quill-ui package to fix browser css issue
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
Due: prettier --write

[BOT]maryia/test: improve guide-content (#16675)
  packages/bot-web-ui/src/pages/tutorials/guide-content/__tests__/guide-content.spec.tsx
Due: prettier --write, npx eslint --fix

shafin/fix: server bot empty name save issue fix (#16667)
  packages/bot-web-ui/src/components/load-modal/__tests__/load-modal.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/inputs/add-text-input.tsx
Due: prettier --write, npx eslint --fix
