Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

fix: change back to idvscreen
  packages/wallets/src/features/cfd/flows/Verification/Verification.tsx
Due: prettier --write, npx eslint --fix

chore: update cfd description in static onboarding
  packages/appstore/src/components/onboarding-new/static-dashboard.tsx
  packages/appstore/src/helpers/account-helper.ts
  packages/core/src/Stores/traders-hub-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: transfer daily cumulative note
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form-side-note.tsx
Due: prettier --write, npx eslint --fix

refactor: :art: adds header accounts action component
  packages/core/src/App/Containers/Layout/header/header-account-actions.tsx
Due: prettier --write, npx eslint --fix

refactor: :art: moves common code to new component
  packages/core/src/App/Containers/Layout/header/default-header.tsx
  packages/core/src/App/Containers/Layout/header/dtrader-header.tsx
Due: prettier --write, npx eslint --fix

chore: update russian translation
  src/translations/ru_RU/i10n.json
Due: prettier --write

WALL-2668/chore: link all the flow for mt5 real account signup including idv, onfido and manual upload (#11582)
  packages/api/src/hooks/useSettings.ts
  packages/wallets/src/features/accounts/screens/ManualDocumentUpload/ManualDocumentUpload.tsx
  packages/wallets/src/features/accounts/screens/ManualDocumentUpload/components/DocumentSelection/DocumentSelection.scss
  packages/wallets/src/features/accounts/screens/ManualDocumentUpload/components/DocumentSelection/DocumentSelection.tsx
  packages/wallets/src/features/accounts/screens/ManualDocumentUpload/constants.tsx
  packages/wallets/src/features/cfd/flows/Verification/Verification.tsx
  packages/wallets/src/features/cfd/modals/JurisdictionModal/JurisdictionModal.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: fix issues on input text field styling
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.scss
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.tsx
  packages/wallets/src/features/cfd/modals/JurisdictionModal/JurisdictionModal.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: incorporated review comments
  packages/account/src/Components/financial-details/financial-details-partials.tsx
  packages/account/src/Components/financial-details/financial-details.tsx
  packages/account/src/Configs/financial-details-config.ts
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-assessment.tsx
  packages/account/src/Types/common.type.ts
  packages/shared/src/utils/types.ts
  packages/shared/src/utils/validation/form-validations.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

refactor: :art: updates traders hub store
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

chore: update to fix integration test failing
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
  packages/integration/src/mocks/auth/get_settings.ts
Due: prettier --write, npx eslint --fix

feat: create contract info mock with types
  packages/trader/src/Utils/__tests__/contract-info.ts
Due: prettier --write, npx eslint --fix

fix: tests fix
  packages/p2p/src/pages/orders/chat/__tests__/chat-messages.spec.jsx
  packages/p2p/src/stores/sendbird-store.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: bbot modal style issue
  src/components/Banner/move-to-dbot-banner.scss
  src/components/common/deriv-app-modal/deriv-app-modal.jsx
  src/components/common/deriv-app-modal/deriv-app-modal.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix

chore: solve regex issue for sonarcloud
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
Due: prettier --write, npx eslint --fix

fix: :bug: fixes traders hub component effects
  packages/appstore/src/modules/traders-hub/index.tsx
Due: prettier --write, npx eslint --fix

chore: return back onchange method of qs-input
  packages/bot-web-ui/src/components/quick-strategy/inputs/qs-input.tsx
Due: prettier --write, npx eslint --fix

chore: fixed password input field validation
  packages/components/stories/icon/icons.js
  packages/wallets/src/components/Base/WalletPasswordField/WalletPasswordField.tsx
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.scss
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.tsx
  packages/wallets/src/features/cfd/modals/JurisdictionModal/JurisdictionModal.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: removed unusued changes
  packages/components/stories/icon/icons.js
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.scss
  packages/wallets/src/components/ModalProvider/ModalProvider.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: update to fix sonarcloud issue
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
Due: prettier --write, npx eslint --fix

fix: change test cases
  packages/trader/src/Modules/Contract/Containers/__tests__/contract-replay-widget.spec.tsx
  packages/trader/src/Modules/Trading/Containers/__tests__/chart-widgets.spec.tsx
Due: prettier --write, npx eslint --fix

fix: updated design
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form-side-note.tsx
Due: prettier --write, npx eslint --fix

chore: removed unusued changes
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.tsx
Due: prettier --write, npx eslint --fix

chore: removed unusued changes
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.tsx
  packages/wallets/src/components/ModalProvider/ModalProvider.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/TransactionsPendingRow.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/components/TransactionsPendingRowField/TransactionsPendingRowField.tsx
Due: prettier --write, npx eslint --fix

chore: removed unusued changes
  packages/wallets/src/AppContent.tsx
Due: prettier --write, npx eslint --fix

fix: bug fixes
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/common/common-tabs/index.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/faq-content/index.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content/index.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/index.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: :art: uses store in traders hub header
  packages/core/src/App/Containers/Layout/header/traders-hub-header.tsx
Due: prettier --write, npx eslint --fix

chore: update validation check for address_city
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
Due: prettier --write, npx eslint --fix

fix: resolve comments
  packages/trader/src/Modules/SmartChart/Components/__tests__/control-widgets.spec.tsx
  packages/trader/src/Modules/SmartChart/Components/__tests__/recent-trade-info.spec.tsx
  packages/trader/src/Modules/SmartChart/Components/__tests__/toolbar-widgets.spec.tsx
  packages/trader/src/Modules/SmartChart/Components/recent-trade-info.tsx
  packages/trader/src/Modules/Trading/Components/Elements/__tests__/mobile-widget.spec.tsx
Due: prettier --write, npx eslint --fix

chore: [BOT] trackjs appspot issue (#11538)
  packages/bot-web-ui/src/stores/data-collection-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

fix: for safari browser
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorials-tab-mobile.tsx
Due: prettier --write, npx eslint --fix

[Wallets] [Fix] Rostislav / `WalletDropdown` issues (#11549)
  packages/wallets/src/components/Base/WalletDropdown/WalletDropdown.scss
  packages/wallets/src/components/Base/WalletDropdown/WalletDropdown.tsx
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.scss
  packages/wallets/src/features/cashier/modules/Transactions/Transactions.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: personal details cleanup
  packages/wallets/src/features/accounts/screens/PersonalDetails/PersonalDetails.tsx
  packages/wallets/src/features/accounts/screens/ResubmitPOA/ResubmitPOA.tsx
  packages/wallets/src/features/cfd/flows/Verification/Verification.tsx
Due: prettier --write, npx eslint --fix

[Wallet] WALL-2195 / george / Implement No Transfer Available Screen (#11552)
  packages/wallets/src/features/cashier/WalletCashier.scss
  packages/wallets/src/features/cashier/flows/WalletTransfer/WalletTransfer.tsx
  packages/wallets/src/features/cashier/modules/DepositCrypto/DepositCrypto.scss
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsTable/TransactionsTable.scss
  packages/wallets/src/features/cashier/modules/Transfer/Transfer.tsx
  packages/wallets/src/features/cashier/modules/Transfer/provider/TransferProvider.tsx
  packages/wallets/src/features/cashier/screens/TransferNotAvailable/TransferNotAvailable.scss
  packages/wallets/src/features/cashier/screens/TransferNotAvailable/TransferNotAvailable.tsx
  packages/wallets/src/features/cashier/screens/TransferNotAvailable/TransferNotAvailableProvider.tsx
  packages/wallets/src/features/cashier/screens/TransferNotAvailable/index.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: change back
  .stylelintrc.js
  packages/wallets/src/components/Base/ModalStepWrapper/ModalStepWrapper.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: remove unused code
  packages/trader/src/Modules/Trading/Containers/Multiplier/__tests__/multiplier-amount-modal.spec.tsx
Due: prettier --write, npx eslint --fix

[WALL] adrienne/fix input text validation (#11585)
  packages/wallets/src/components/Base/WalletPasswordField/WalletPasswordField.tsx
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.scss
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

[WALL] Add an option to hide Deriv.app header on modals in responsive (#11540)
  packages/wallets/src/AppContent.scss
  packages/wallets/src/AppContent.tsx
  packages/wallets/src/components/Base/ModalStepWrapper/ModalStepWrapper.scss
  packages/wallets/src/components/Base/ModalStepWrapper/ModalStepWrapper.tsx
  packages/wallets/src/components/ModalProvider/ModalProvider.tsx
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write
