Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

[BOT]/Maryia/WEBREL-1698/fix: duration field validation error is not displayed in mobile (#11714)
  packages/bot-web-ui/src/components/quick-strategy/inputs/qs-input.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
Due: prettier --write

chore: remove empty line
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/expiration-modal.tsx
Due: prettier --write, npx eslint --fix

style: renamed variables
  packages/components/src/components/swipeable-notification/swipeable-notification.tsx
Due: prettier --write, npx eslint --fix

fix: :ambulance: resolve conflicts
  packages/wallets/src/features/cashier/constants/constants.ts
  packages/wallets/src/features/cashier/helpers/helpers.ts
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useExtendedTransferAccountProperties.ts
  packages/wallets/src/types.ts
Due: prettier --write, npx eslint --fix

fix: fix code smells
  packages/account/src/Sections/Security/TwoFactorAuthentication/digit-form.tsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-disabled.tsx
Due: prettier --write, npx eslint --fix

test: swipeable-notification.spec.tsx
  packages/components/src/components/swipeable-notification/__tests__/swipeable-notification.spec.tsx
Due: prettier --write, npx eslint --fix

fix: :art: applied comments
  packages/wallets/src/components/AppCard/AppCard.tsx
  packages/wallets/src/components/AppCardBadge/AppCardBadge.scss
  packages/wallets/src/components/AppCardBadge/AppCardBadge.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountCard/TransferFormAccountCard.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferReceipt/TransferReceipt.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: :fire: remove unused import
  packages/wallets/src/components/AppCard/AppCard.tsx
Due: prettier --write, npx eslint --fix

fix: bounce bug upon loading chart modal, center it
  packages/bot-web-ui/src/components/dashboard/dashboard-component/chart-modal/chart-modal-desktop.tsx
  packages/bot-web-ui/src/components/draggable/draggable.tsx
Due: prettier --write, npx eslint --fix

chore: add comments
  packages/bot-web-ui/src/components/draggable/draggable.tsx
Due: prettier --write, npx eslint --fix

chore: removed unused computed value from store (#11640)
  packages/p2p/src/stores/buy-sell-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: break down the poa screen components
  packages/wallets/src/features/accounts/screens/AddressSection/AddressSection.scss
  packages/wallets/src/features/accounts/screens/AddressSection/AddressSection.tsx
  packages/wallets/src/features/accounts/screens/AddressSection/index.ts
  packages/wallets/src/features/accounts/screens/DocumentSubmission/DocumentSubmission.scss
  packages/wallets/src/features/accounts/screens/DocumentSubmission/DocumentSubmission.tsx
  packages/wallets/src/features/accounts/screens/DocumentSubmission/index.ts
  packages/wallets/src/features/accounts/screens/PoaScreen/PoaScreen.scss
  packages/wallets/src/features/accounts/screens/PoaScreen/PoaScreen.tsx
  packages/wallets/src/features/accounts/screens/PoaScreen/index.ts
  packages/wallets/src/features/accounts/screens/ResubmitPOA/ResubmitPOA.scss
  packages/wallets/src/features/accounts/screens/ResubmitPOA/ResubmitPOA.tsx
  packages/wallets/src/features/accounts/screens/ResubmitPOA/index.ts
  packages/wallets/src/features/accounts/screens/index.ts
  packages/wallets/src/features/cfd/flows/Verification/Verification.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: removed unused observables, functions from store (#11641)
  packages/p2p/src/stores/my-profile-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: komen
  packages/wallets/src/features/accounts/screens/AddressSection/AddressSection.tsx
  packages/wallets/src/features/accounts/screens/DocumentSubmission/DocumentSubmission.tsx
Due: prettier --write, npx eslint --fix

chore: removed unused observables and functions from store and component (#11642)
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/stores/order-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: remove unused observable and functions from general-store (#11703)
  packages/p2p/src/stores/general-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: vanuatu_account_status
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/cfd/src/Containers/__tests__/dmt5-trade-modal.spec.tsx
  packages/cfd/src/Containers/dmt5-trade-modal.tsx
Due: prettier --write, npx eslint --fix

WALL-2736/refactor: break down the poa screen components (#11721)
  packages/wallets/src/features/accounts/screens/AddressSection/AddressSection.scss
  packages/wallets/src/features/accounts/screens/AddressSection/AddressSection.tsx
  packages/wallets/src/features/accounts/screens/AddressSection/index.ts
  packages/wallets/src/features/accounts/screens/DocumentSubmission/DocumentSubmission.scss
  packages/wallets/src/features/accounts/screens/DocumentSubmission/DocumentSubmission.tsx
  packages/wallets/src/features/accounts/screens/DocumentSubmission/index.ts
  packages/wallets/src/features/accounts/screens/PoaScreen/PoaScreen.scss
  packages/wallets/src/features/accounts/screens/PoaScreen/PoaScreen.tsx
  packages/wallets/src/features/accounts/screens/PoaScreen/index.ts
  packages/wallets/src/features/accounts/screens/ResubmitPOA/ResubmitPOA.scss
  packages/wallets/src/features/accounts/screens/ResubmitPOA/ResubmitPOA.tsx
  packages/wallets/src/features/accounts/screens/ResubmitPOA/index.ts
  packages/wallets/src/features/accounts/screens/index.ts
  packages/wallets/src/features/cfd/flows/Verification/Verification.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: 🔧 remove disabled button hovering effect
  packages/wallets/src/components/Base/WalletButton/WalletButton.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: remove unsed functions and values from my-ads-store (#11677)
  packages/p2p/src/stores/__tests__/my-ads-store.spec.js
  packages/p2p/src/stores/my-ads-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: 🧹 cleaning up function and remove unused validator
  packages/wallets/src/components/Dropzone/Dropzone.tsx
  packages/wallets/src/features/accounts/validations.ts
Due: prettier --write, npx eslint --fix

fix: financial mt5 account creation
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
Due: prettier --write, npx eslint --fix

[WALL] thisyahlen/fix: financial mt5 account creation (#11725)
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
Due: prettier --write, npx eslint --fix

[WALL]farhan/fix: 🔧 remove disabled button hovering effect (#11724)
  packages/wallets/src/components/Base/WalletButton/WalletButton.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

[WALL] Farhan/WALL-2723/Add validation to manual flow (#11704)
  packages/wallets/src/components/Dropzone/Dropzone.tsx
  packages/wallets/src/features/accounts/screens/ManualDocumentUpload/components/DrivingLicenseDocumentUpload/DrivingLicenseDocumentUpload.tsx
  packages/wallets/src/features/accounts/screens/ManualDocumentUpload/components/IdentityCardDocumentUpload/IdentityCardDocumentUpload.tsx
  packages/wallets/src/features/accounts/screens/ManualDocumentUpload/components/NIMCSlipDocumentUpload/NIMCSlipDocumentUpload.tsx
  packages/wallets/src/features/accounts/screens/ManualDocumentUpload/components/PassportDocumentUpload/PassportDocumentUpload.tsx
  packages/wallets/src/features/accounts/validations.ts
  packages/wallets/src/features/cfd/flows/Verification/Verification.tsx
  packages/wallets/src/public/images/accounts/driving-license-front.svg
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/si.json
Due: prettier --write

fix: dxtrade password button fix
  packages/wallets/src/features/cfd/modals/DxtradeEnterPasswordModal/DxtradeEnterPasswordModal.tsx
Due: prettier --write, npx eslint --fix

feat: ✨ poa document submission
  packages/wallets/src/features/accounts/screens/DocumentSubmission/DocumentSubmission.scss
  packages/wallets/src/features/accounts/screens/DocumentSubmission/DocumentSubmission.tsx
  packages/wallets/src/features/cfd/flows/Verification/Verification.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

test: SwipeableNotification
  packages/components/src/components/swipeable-notification/__tests__/swipeable-notification.spec.tsx
  packages/components/src/components/swipeable-notification/swipeable-notification.tsx
Due: prettier --write, npx eslint --fix

chore: edit code based on comments
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/personal-details.spec.tsx
  packages/account/src/Sections/Profile/PersonalDetails/constants.ts
Due: prettier --write, npx eslint --fix

fix: 🔧 extra check to show personal details or password screen
  packages/wallets/src/features/cfd/flows/Verification/Verification.tsx
Due: prettier --write, npx eslint --fix

fix: wrong buy/sell modal title and not able to confirm order first time
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/__tests__/buy-sell-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal.tsx
  packages/p2p/src/pages/buy-sell/buy-sell-form.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: added submission for idv
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useIdentityDocumentVerificationAdd.ts
  packages/api/src/hooks/usePOI.ts
  packages/wallets/src/features/accounts/screens/IDVDocumentUpload/IDVDocumentUpload.tsx
  packages/wallets/src/features/accounts/screens/PersonalDetails/PersonalDetails.scss
  packages/wallets/src/features/accounts/screens/PersonalDetails/PersonalDetails.tsx
  packages/wallets/src/features/cfd/flows/Verification/Verification.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: fix sonarcloud issues
  packages/wallets/src/features/accounts/screens/IDVDocumentUpload/IDVDocumentUpload.tsx
Due: prettier --write, npx eslint --fix

fix: updated compare accounts header title for MF accounts
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts.tsx
Due: prettier --write, npx eslint --fix

test: for TradeNotifications
  packages/components/src/components/swipeable-notification/__tests__/swipeable-notification.spec.tsx
  packages/core/src/App/Containers/__tests__/trade-notifications.spec.tsx
Due: prettier --write, npx eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
