Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

feat: change label to strike for vanilla contracts in contract details
  packages/trader/src/App/Components/Elements/PositionsDrawer/helpers/positions-helper.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

bugfix: fix onboarding options for eu
  packages/appstore/src/components/onboarding/static-dashboard.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: fix show multipliers for mf accounts (#7062)
  packages/appstore/src/modules/trading-hub/index.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/es.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

fix: resolve conflicts
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
Due: prettier --write

feat: bump @deriv/api-types from 1.0.54 to 1.0.67
  packages/account/package.json
  packages/appstore/package.json
  packages/cashier/package.json
  packages/cfd/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
Due: prettier --write

fix: disable button toggle
  packages/appstore/src/components/onboarding/static-dashboard.scss
  packages/appstore/src/components/onboarding/static-dashboard.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: aligned the tour pointers according to design
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
Due: prettier --write, npx eslint --fix

fix: tutorials - minor ui bugs (#7023)
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content.tsx
Due: prettier --write, npx eslint --fix

refactor: css refactor
  packages/appstore/src/components/onboarding/static-dashboard.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: empty commit
  packages/appstore/src/components/onboarding/static-dashboard.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: bump @deriv/api-types from 1.0.54 to 1.0.68
  packages/account/package.json
  packages/appstore/package.json
  packages/cashier/package.json
  packages/cfd/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
Due: prettier --write

thisyahlen/ bugfix: fix onboarding options for eu (#7063)
  packages/appstore/src/components/onboarding/static-dashboard.scss
  packages/appstore/src/components/onboarding/static-dashboard.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/es.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

fix: joyride tour list text alignment
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: circle ci error fixed
  packages/account/src/Components/poi/status/unsupported/index.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: preview for the recent strategy should be displayed
  packages/bot-skeleton/src/scratch/hooks/css.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: saved strategy -> status should be "Local"
  packages/bot-web-ui/src/stores/save-modal-store.ts
Due: prettier --write, npx eslint --fix

fix: rename 2 guide titles
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content.tsx
Due: prettier --write, npx eslint --fix

fix: rename 2 guide titles (#7072)
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content.tsx
Due: prettier --write, npx eslint --fix

feat: use bid price for contract value
  packages/components/src/components/contract-card/contract-card-items/contract-card-body.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: change description of real account mt5 dashboard (#7057)
  packages/cfd/src/Components/cfd-demo-account-display.tsx
  packages/cfd/src/Components/cfd-mt5-demo-account-display.tsx
  packages/cfd/src/Components/cfd-real-account-display.tsx
Due: prettier --write, npx eslint --fix

chore: fixed tablet view for landscape blocker
  packages/core/src/sass/app/_common/layout/app-layouts.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: resolved comment for button
  packages/bot-web-ui/src/components/dashboard/dashboard-component/dashboard-component.tsx
Due: prettier --write, npx eslint --fix

fix: add is_pre_appstore back to binary-routes
  packages/account/src/Components/Routes/binary-routes.tsx
  packages/account/src/Types/common-prop.type.ts
Due: prettier --write, npx eslint --fix

fix: circle ci does not pass issue
  packages/account/src/Components/poi/status/rejected-reasons/__tests__/rejected-reasons.spec.tsx
  packages/account/src/Components/poi/status/unsupported/index.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: change text and add beta tag
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/sass/app/_common/layout/header.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: change text and add beta tag
  packages/core/src/sass/app/_common/layout/header.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: ts error for verified.tsx
  packages/account/src/Components/poa/status/verified/verified.tsx
Due: prettier --write, npx eslint --fix

fix: cfd-account-card ts error
  packages/cfd/src/Components/cfd-account-card.tsx
Due: prettier --write, npx eslint --fix

chore: changed comments
  packages/core/src/sass/app/_common/layout/app-layouts.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: resolve conflicts
  packages/cfd/src/Components/cfd-account-card.tsx
Due: prettier --write, npx eslint --fix

fix: added help centre inside mobile drawer
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: for the xml isuue on journal
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/local.tsx
  packages/bot-web-ui/src/components/load-modal/load-modal.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
  packages/bot-web-ui/src/stores/load-modal-store.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: fix prettier error on cfd-account-card
  packages/cfd/src/Components/cfd-account-card.tsx
Due: prettier --write, npx eslint --fix

chore: change aspect ratio to check for larger android devices
  packages/core/src/sass/app/_common/layout/app-layouts.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write
