Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: add one todo
  packages/appstore/src/modules/traders-hub/account-with-wallets.tsx
Due: prettier --write, npx eslint --fix

fix: draw barriers lines together with labels
  packages/core/src/Stores/contract-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: code
  packages/p2p/src/components/modal-manager/modals/sort-modal/sort-modal.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: further appearance fixes
  packages/appstore/src/components/transaction-list/transaction-list.scss
  packages/appstore/src/components/transaction-list/transaction-list.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: menu-link test coverage
  packages/core/src/App/Components/Layout/Header/__tests__/menu-link.spec.tsx
  packages/core/src/App/Components/Layout/Header/menu-link.tsx
Due: prettier --write, npx eslint --fix

feat: add is_switching and is_landing_company_loaded flags for placeholder
  packages/appstore/src/components/wallet-cards-carousel/cards-slider-swiper.tsx
  packages/appstore/src/components/wallet-content/wallet-cfds-listing.tsx
  packages/appstore/src/components/wallet-content/wallet-option-multipliers-listing.tsx
Due: prettier --write, npx eslint --fix

feat: delete check for is_landing_company_loaded
  packages/appstore/src/components/wallet-content/wallet-cfds-listing.tsx
  packages/appstore/src/components/wallet-content/wallet-option-multipliers-listing.tsx
Due: prettier --write, npx eslint --fix

fix: barriers in contract details
  packages/core/src/Stores/Helpers/__tests__/chart-markers.spec.ts
  packages/core/src/Stores/Helpers/chart-markers.js
  packages/core/src/Stores/contract-store.js
  packages/shared/src/utils/contract/__tests__/contract.spec.ts
  packages/shared/src/utils/contract/contract.ts
  packages/shared/src/utils/helpers/logic.ts
  packages/trader/src/Modules/SmartChart/Components/all-markers.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: remove unused type
  packages/shared/src/utils/contract/__tests__/contract.spec.ts
  packages/shared/src/utils/contract/contract-types.ts
  packages/shared/src/utils/contract/contract.ts
Due: prettier --write, npx eslint --fix

chore: draft
  packages/core/build/webpack.config.js
  packages/core/src/App/Components/mock-controls/index.js
  packages/core/src/App/Components/mock-controls/mock-dialog.tsx
  packages/core/src/App/Components/mock-controls/mock-server-provider.tsx
  packages/core/src/App/app.jsx
  packages/core/src/_common/base/socket_base.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: circleCi
  packages/trader/src/Assets/Trading/Categories/__tests__/accumulator-trade-description.spec.tsx
  packages/trader/src/Assets/Trading/Categories/accumulator-trade-description.tsx
Due: prettier --write, npx eslint --fix

fix: resolve sonarcloud
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/accumulator.tsx
  packages/trader/src/Modules/Trading/Containers/radio-group-options-modal.tsx
Due: prettier --write, npx eslint --fix

refactor: update imports
  packages/trader/src/Modules/Trading/Components/Elements/purchase-button.tsx
  packages/trader/src/Modules/Trading/Components/Elements/purchase-fieldset.tsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/cancel-deal-info.tsx
  packages/trader/src/Modules/Trading/Containers/purchase.tsx
  packages/trader/src/Types/common-prop.type.ts
  packages/trader/src/Types/index.ts
  packages/trader/tsconfig.json
Due: prettier --write, npx eslint --fix

fix: remove unused imports
  packages/trader/src/Stores/useTraderStores.tsx
Due: prettier --write, npx eslint --fix

fix: refactor to use wallet_account instead of data
  packages/appstore/src/components/containers/__tests__/wallets.spec.tsx
  packages/appstore/src/components/containers/wallet.tsx
  packages/appstore/src/components/wallet-content/__tests__/wallet-content.spec.tsx
  packages/appstore/src/components/wallet-content/wallet-content.tsx
  packages/appstore/src/components/wallet-header/__tests__/wallet-header.spec.tsx
  packages/appstore/src/components/wallet-header/wallet-header-buttons.tsx
  packages/appstore/src/components/wallet-header/wallet-header.tsx
  packages/appstore/src/modules/traders-hub/account-with-wallets.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
Due: prettier --write, npx eslint --fix

fix: capitalization on module import
  packages/hooks/src/__tests__/useCFDAccounts.spec.tsx
  packages/hooks/src/index.ts
Due: prettier --write, npx eslint --fix

refactor: checks in contract details file
  packages/trader/src/App/Components/Elements/ContractAudit/contract-details.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: refactor test
  package-lock.json
  packages/appstore/package.json
  packages/appstore/src/components/containers/__tests__/wallets.spec.tsx
  packages/appstore/src/components/wallet-content/__tests__/wallet-content.spec.tsx
  packages/appstore/src/components/wallet-header/__tests__/wallet-header.spec.tsx
Due: prettier --write, npx eslint --fix

chore: :broom: experimenting build-min
  package.json
Due: prettier --write

chore: :broom: fixed translations issue with build
  webpack.config.cli.js
Due: prettier --write, npx eslint --fix

chore: update binary-document-uploader package
  packages/account/package.json
Due: prettier --write

chore: include country selection in POI for EU users
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container-for-mt5.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission-for-mt5.jsx
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Components/cfd-poi.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: update css for border-radius
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: implement suggestions
  packages/appstore/src/components/wallet-cards-carousel/cards-slider-swiper.tsx
  packages/appstore/src/modules/traders-hub/account-with-wallets.tsx
Due: prettier --write, npx eslint --fix

chore: :construction: added process.env.NODE_ENV
  webpack.config.cli.js
  webpack.config.web.js
Due: prettier --write, npx eslint --fix

chore: responsive view fixes
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts.scss
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-instruments-label-highlighted.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/instruments-icon-with-label.tsx
  packages/components/src/components/cfd-compare-accounts-carousel/cfd-compare-accounts-carousel.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: :construction: disabled chunking to see the errors
  customPlugins/blockly-translation-plugin.js
  customPlugins/fetch-blockly-translations.js
  package.json
  webpack.config.cli.js
Due: prettier --write, npx eslint --fix

chore: :construction: fixing issue on proudction build
  customPlugins/blockly-translation-plugin.js
  src/common/utils/cookieManager.js
  webpack.config.cli.js
Due: prettier --write, npx eslint --fix

fix: translation issue
  packages/trader/src/Assets/Trading/Categories/accumulator-trade-description.tsx
Due: prettier --write, npx eslint --fix

fix: dtrader translation issue
  packages/trader/src/Assets/Trading/Categories/accumulator-trade-description.tsx
Due: prettier --write, npx eslint --fix

feat: demo accounts added for low risk
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts.tsx
  packages/cfd/src/Helpers/compare-accounts-config.ts
Due: prettier --write, npx eslint --fix

chore: make use of useTraderStore hook
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: translation issues
  packages/trader/src/Assets/Trading/Categories/accumulator-trade-description.tsx
Due: prettier --write, npx eslint --fix

chore: 90% finish implementation
  packages/appstore/src/components/add-more-wallets/carousel-container.tsx
  packages/appstore/src/components/add-more-wallets/wallet-add-card.tsx
  packages/appstore/src/components/add-more-wallets/wallet-add-carousel.tsx
  packages/hooks/src/useDisplayAvailableWallets.ts
Due: prettier --write, npx eslint --fix

fix: commit suggestions
  packages/appstore/src/components/add-more-wallets/carousel-buttons.tsx
Due: prettier --write, npx eslint --fix

henry/fix: dtrader translation issue (#9062)
  packages/trader/src/Assets/Trading/Categories/accumulator-trade-description.tsx
Due: prettier --write, npx eslint --fix

feat: demo accounts label added and swap-free account creation fixed
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts-title-icon.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts.tsx
  packages/cfd/src/Helpers/compare-accounts-config.ts
Due: prettier --write, npx eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
