Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/si.json
Due: prettier --write

chore: add a console error if the api has not responded in 30 seconds (#10849)
  packages/core/src/Services/socket-general.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: add check for isMobile
  packages/wallets/src/components/WalletTourGuide/WalletTourGuide.tsx
  packages/wallets/src/components/WalletTourGuide/WalletTourGuideSettings.tsx
Due: prettier --write, npx eslint --fix

test: add graphql instance
  .github/actions/build/action.yml
  .github/workflows/release_staging.yml
  packages/api/package.json
  packages/api/src/GraphQLInstance.ts
  packages/api/src/index.ts
  packages/core/build/constants.js
  packages/hooks/src/index.ts
  packages/hooks/src/useDTraderVideo.ts
  packages/trader/src/Assets/Trading/Categories/contract-type-description-video.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: add user id to response timeout error
  packages/core/src/Services/socket-general.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: fix timeout to 30 seconds
  packages/core/src/Services/socket-general.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: log the error directly
  packages/core/src/Services/socket-general.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: optional chain the client_store
  packages/core/src/Services/socket-general.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: add user id to response timeout error (#10853)
  packages/core/src/Services/socket-general.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

refactor: apply suggestions
  packages/trader/src/App/Components/Elements/PositionsDrawer/__tests__/position-modal-card.spec.tsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-modal-card.tsx
Due: prettier --write, npx eslint --fix

refactor: further generalized
  packages/wallets/src/components/WalletsPercentageSelector/WalletsPercentageSelector.scss
  packages/wallets/src/components/WalletsPercentageSelector/WalletsPercentageSelector.tsx
  packages/wallets/src/components/WalletsPercentageSelector/WalletsPercentageSelectorBlock.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

perf: :zap: replace framer-motion lib with react-transition-group lib
  packages/wallets/package.json
Due: prettier --write

style: :lipstick: refactor to scss, refactor styles
  packages/wallets/src/components/Base/WalletAlertMessage/WalletAlertMessage.scss
  packages/wallets/src/components/Base/WalletAlertMessage/WalletAlertMessage.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: :recycle: refactor faded animated list usinf react-transition-group lib
  packages/wallets/src/components/FadedAnimatedList/FadedAnimatedList.scss
  packages/wallets/src/components/FadedAnimatedList/FadedAnimatedList.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: :ambulance: ucomment scss file
  packages/wallets/src/components/Base/WalletAlertMessage/WalletAlertMessage.tsx
Due: prettier --write, npx eslint --fix

refactor: extract consts
  packages/wallets/src/components/WalletsPercentageSelector/WalletsPercentageSelector.tsx
Due: prettier --write, npx eslint --fix

fix: user flow for POI
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Hamza/chore: update the broker name and windows link (#10841)
  packages/cfd/src/Components/__tests__/cfd-download-container.spec.js
  packages/cfd/src/Containers/dmt5-trade-modal.tsx
  packages/cfd/src/Helpers/constants.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: file upload
  packages/account/src/Constants/poo-identifier.ts
  packages/account/src/Sections/Verification/ProofOfOwnership/proof-of-ownership-form.tsx
  packages/account/src/Types/common.type.ts
Due: prettier --write, npx eslint --fix

fix: POO validation
  packages/account/src/Containers/proof-of-ownership/card.tsx
  packages/account/src/Containers/proof-of-ownership/expanded-card.tsx
  packages/account/src/Sections/Verification/ProofOfOwnership/file-uploader.jsx
  packages/account/src/Sections/Verification/ProofOfOwnership/proof-of-ownership-form.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

perf: :zap: add animateOnMount prop
  packages/wallets/src/components/FadedAnimatedList/FadedAnimatedList.tsx
Due: prettier --write, npx eslint --fix

fix: validation
  packages/account/src/Components/financial-details/financial-details-partials.tsx
  packages/account/src/Components/financial-details/financial-details.tsx
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-assessment.tsx
Due: prettier --write, npx eslint --fix

fix: active symbols bug fixes
  src/app/App.jsx
  src/botPage/common/symbolApi/index.js
Due: prettier --write, npx eslint --fix

fix: active symbols bug fixes
  src/app/App.jsx
Due: prettier --write, npx eslint --fix

fix: for naming of token params
  src/botPage/common/symbolApi/index.js
Due: prettier --write, npx eslint --fix

feat: added base component divider
  packages/wallets/src/components/Base/Divider/Divider.scss
  packages/wallets/src/components/Base/Divider/Divider.tsx
  packages/wallets/src/components/Base/Divider/index.ts
  packages/wallets/src/components/Base/index.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: for has reality check
  src/api-base.js
Due: prettier --write, npx eslint --fix

chore: revert bot-bilder.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
Due: prettier --write, npx eslint --fix

fix: resolved comments
  packages/wallets/src/components/Base/Divider/Divider.scss
  packages/wallets/src/components/Base/Divider/Divider.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: revert toolbar.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar.tsx
Due: prettier --write, npx eslint --fix

chore: revert filter-dialog.tsx
  packages/bot-web-ui/src/components/journal/journal-components/__tests__/filter-dialog.spec.tsx
Due: prettier --write, npx eslint --fix

fix: refactored code in APPJSX
  src/app/App.jsx
Due: prettier --write, npx eslint --fix

fix: resolved comments
  packages/wallets/src/components/Base/Divider/Divider.tsx
Due: prettier --write, npx eslint --fix

fix: button text and styles
  packages/wallets/src/components/WalletNoWalletFoundState/WalletNoWalletFoundState.scss
  packages/wallets/src/components/WalletNoWalletFoundState/WalletNoWalletFoundState.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
