Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/ko.json
  packages/p2p/src/translations/ru.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

chore: fix retry to break on max attempts (#14589)
  packages/wallets/scripts/update-translations.sh
Due: none

chore: fix type errors and update component with quill icons
  packages/wallets/src/components/WalletMarketCurrencyIcon/WalletMarketCurrencyIcon.tsx
  packages/wallets/src/components/WalletsAddMoreCardBanner/WalletsAddMoreCardBanner.tsx
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.tsx
Due: prettier --write, npx eslint --fix

chore: updated robots.txt file (#14594)
  packages/core/src/root_files/robots.txt
Due: none

chore: test react-device-detect package
  packages/cfd/src/Containers/mt5-mobile-redirect-option.tsx
  packages/shared/src/utils/os/os_detect.ts
Due: prettier --write, npx eslint --fix

ci: change node version syntax (#14598)
  .github/workflows/generate_and_push_deriv_api_types.yml
Due: none

feat: unnecessary file
  packages/api-v2/src/SubscriptionsProvider.tsx
Due: prettier --write, npx eslint --fix

fix: issue with default selection when transferring from crypto acc
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormDropdown/TransferFormDropdown.tsx
Due: prettier --write, npx eslint --fix

fix: failing test cases
  packages/p2p-v2/src/hooks/__tests__/useAdvertiserStats.spec.tsx
  packages/p2p-v2/src/hooks/useAdvertiserStats.ts
  packages/p2p-v2/src/pages/advertiser/screens/Advertiser/__tests__/Advertiser.spec.tsx
  packages/p2p-v2/src/pages/my-profile/screens/MyProfile/__tests__/MyProfile.spec.tsx
  packages/p2p-v2/src/routes/AppContent/__tests__/AppContent.spec.tsx
Due: prettier --write, npx eslint --fix

fix: added ? before is_buy_order_for_user
  packages/p2p/src/stores/order-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: test
  packages/hooks/src/__tests__/useP2PCountryList.spec.tsx
Due: prettier --write, npx eslint --fix

chore: added Traders Hub word inside of carousel header
  packages/wallets/src/components/WalletsCarousel/WalletsCarousel.scss
  packages/wallets/src/components/WalletsCarousel/WalletsCarousel.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: update font size
  packages/wallets/src/components/WalletsCarousel/WalletsCarousel.tsx
Due: prettier --write, npx eslint --fix

chore: created getWebtraderUrl getMobileAppInstallerUrl getDeeplinkUrl
  packages/tradershub/src/features/cfd/constants.tsx
  packages/tradershub/src/features/cfd/screens/TradeScreen/MT5MobileRedirectOption.tsx
  packages/tradershub/src/features/cfd/screens/TradeScreen/TradeScreen.tsx
  packages/tradershub/src/utils/index.ts
  packages/tradershub/src/utils/mobileOsDetect.ts
  packages/tradershub/src/utils/userBrowser.ts
Due: prettier --write, npx eslint --fix

Revert "chore: test react-device-detect package"
  packages/cfd/src/Containers/mt5-mobile-redirect-option.tsx
  packages/shared/src/utils/os/os_detect.ts
Due: prettier --write, npx eslint --fix

Revert "chore: test react-device-detect package"
  packages/shared/src/utils/os/os_detect.ts
Due: prettier --write, npx eslint --fix

Revert "chore: test react-device-detect package"
  packages/shared/package.json
  packages/shared/src/utils/os/os_detect.ts
Due: prettier --write, npx eslint --fix

fix: ui issues with nickname modal and verification
  packages/p2p-v2/src/components/Modals/NicknameModal/NicknameModal.scss
  packages/p2p-v2/src/components/Modals/NicknameModal/NicknameModal.tsx
  packages/p2p-v2/src/components/Modals/NicknameModal/__tests__/NicknameModal.spec.tsx
  packages/p2p-v2/src/components/Verification/Verification.tsx
  packages/p2p-v2/src/hooks/index.ts
  packages/p2p-v2/src/hooks/useSwitchTab.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: test new regex
  packages/cfd/src/Containers/mt5-mobile-redirect-option.tsx
  packages/shared/src/utils/os/os_detect.ts
Due: prettier --write, npx eslint --fix

feat: cleanup
  packages/api-v2/src/APIProvider.tsx
  packages/api-v2/src/api-client/backend-subscribe.ts
  packages/api-v2/src/api-client/client.ts
  packages/api-v2/src/api-client/send.ts
  packages/api-v2/src/api-client/subscribe.ts
  packages/wallets/src/features/cashier/modules/DepositFiat/DepositFiat.tsx
Due: prettier --write, npx eslint --fix

feat: implement review comments
  packages/appstore/src/components/modals/deriv-go-modal/deriv-go-modal-desktop/deriv-go-mobile-app-links.tsx
  packages/appstore/src/components/modals/deriv-go-modal/deriv-go-modal-desktop/deriv-go-modal-desktop.scss
  packages/appstore/src/components/modals/deriv-go-modal/deriv-go-modal-desktop/deriv-go-modal-desktop.tsx
  packages/appstore/src/components/modals/deriv-go-modal/deriv-go-modal-responsive/deriv-go-modal-responsive.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: cleanup
  packages/api-v2/src/api-client/backend-subscribe.ts
Due: prettier --write, npx eslint --fix

chore: made Deposit text bold on mobile
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
Due: prettier --write, npx eslint --fix

fix: code smells and test cases
  packages/wallets/src/components/WalletCurrencyIcons/WalletCurrencyIcons.tsx
  packages/wallets/src/components/WalletListCard/__tests__/WalletListCard.spec.tsx
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.tsx
Due: prettier --write, npx eslint --fix

chore: test new regex
  packages/shared/src/utils/os/os_detect.ts
Due: prettier --write, npx eslint --fix

feat: switch to classes for backend subscription
  packages/api-v2/src/api-client/backend-subscribe.ts
  packages/api-v2/src/api-client/backend-subscription.ts
  packages/api-v2/src/api-client/subscribe.ts
Due: prettier --write, npx eslint --fix

chore: update wallet text based on figma design
  packages/wallets/src/components/WalletsCarousel/WalletsCarousel.scss
  packages/wallets/src/components/WalletsCarousel/WalletsCarousel.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: fix utkarsha test case error
  packages/api-v2/src/hooks/__tests__/useRevokeConnectedApps.spec.tsx
Due: prettier --write, npx eslint --fix

fix: the issue of undefined platform will be fixed (#14560)
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: made Deposit text bold on mobile (#14612)
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
Due: prettier --write, npx eslint --fix

feat: switch to classes for everyting
  packages/api-v2/src/APIProvider.tsx
  packages/api-v2/src/api-client/backend-subscription.ts
  packages/api-v2/src/api-client/subscribe.ts
  packages/api-v2/src/api-client/subscriptions-manager.ts
Due: prettier --write, npx eslint --fix

feat: minor cleanups
  packages/api-v2/src/APIProvider.tsx
  packages/api-v2/src/api-client/client.ts
  packages/api-v2/src/api-client/send.ts
Due: prettier --write, npx eslint --fix

feat: minor cleanups
  packages/api-v2/src/api-client/subscriptions-manager.ts
Due: prettier --write, npx eslint --fix

[FEQ] P2P-V2 star rating test (#13776)
  packages/p2p-v2/src/components/StarRating/StarRating.tsx
  packages/p2p-v2/src/components/StarRating/__tests__/StarRating.spec.tsx
Due: prettier --write, npx eslint --fix

chore: fix slack notification sending logic
  .github/workflows/release_production.yml
Due: none
