Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

fix: Server maintenance notice time
  packages/cfd/src/Containers/cfd-dashboard.tsx
  packages/cfd/src/Containers/trade-modal.tsx
Due: prettier --write, npx eslint --fix

fix: commit suggestions
  packages/appstore/src/components/multi-action-button-group/__test__/multi-action-button-group.spec.tsx
Due: prettier --write, npx eslint --fix

chore: resolve conflicts
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.tsx
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.tsx
  packages/account/src/Helpers/utils.ts
Due: prettier --write, npx eslint --fix

chore: resolve typo
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.tsx
Due: prettier --write, npx eslint --fix

Merge branch 'master' into farzin/reusable_components_and_hooks
  packages/hooks/src/useCurrencyConfig.ts
Due: prettier --write, npx eslint --fix

fix: DerivEZ icon redirect to https://deriv.com/derivez/
  packages/appstore/src/components/containers/trading-app-card.tsx
Due: prettier --write, npx eslint --fix

revert: revert-george-/-WALL-739-/-clickable-trade-platform-logo,-title-and-descript…
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/containers/trading-app-card-actions.tsx
  packages/appstore/src/components/containers/trading-app-card.scss
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/appstore/src/constants/platform-config.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: commit suggestions pt.2
  packages/appstore/src/components/multi-action-button-group/__test__/multi-action-button-group.spec.tsx
Due: prettier --write, npx eslint --fix

fix: type errors of balance in wallet
  packages/appstore/package.json
  packages/appstore/src/components/containers/__tests__/wallets.spec.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-account/wallet-account.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-link/wallet-link-wrapper.tsx
  packages/appstore/src/components/modals/wallet-modal/__tests__/wallet-modal-header.spec.tsx
  packages/appstore/src/components/wallet-content/__tests__/wallet-content.spec.tsx
  packages/appstore/src/components/wallet-content/__tests__/wallet-transfer-block.spec.tsx
  packages/appstore/src/components/wallet-header/wallet-header-balance.tsx
  packages/appstore/src/constants/mock_wallet_migration_response.ts
  packages/appstore/src/constants/wallet-mocked-response.ts
  packages/appstore/src/modules/traders-hub/account-with-wallets.tsx
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

fix: eu banner missing for MF only countries
  packages/appstore/src/modules/traders-hub/index.tsx
Due: prettier --write, npx eslint --fix

fix: for protype
  packages/core/src/App/Components/Layout/Header/platform-switcher.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: tests
  packages/p2p/src/components/__tests__/app-content.spec.js
  packages/p2p/src/pages/orders/order-table/__test__/order-table.spec.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: commit suggestions pt.3
  packages/appstore/src/components/multi-action-button-group/__test__/multi-action-button-group.spec.tsx
Due: prettier --write, npx eslint --fix

feat: :sparkles: incorporated IDV revoked status
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

perf: refactor code
  packages/appstore/src/components/modals/wallet-modal/wallet-modal-body.tsx
  packages/appstore/src/components/modals/wallet-modal/wallet-modal.scss
  packages/appstore/src/components/modals/wallet-modal/wallet-modal.tsx
  packages/appstore/src/components/wallet-transfer/wallet-transfer.tsx
  packages/components/src/components/transfer-account-selector/transfer-account-selector.scss
  packages/components/src/components/transfer-account-selector/transfer-account-selector.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: reduce code complexity to remove code smell
  packages/p2p/src/components/online-status/online-status-label.tsx
Due: prettier --write, npx eslint --fix

refactor: updated return
  packages/p2p/src/components/online-status/online-status-label.tsx
Due: prettier --write, npx eslint --fix

revert: revert-george-/-WALL-739-/-clickable-trade-platform-logo,-title-and-descript… (#8901)
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/containers/trading-app-card-actions.tsx
  packages/appstore/src/components/containers/trading-app-card.scss
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/appstore/src/constants/platform-config.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/de.json
  packages/p2p/src/translations/tr.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
Due: prettier --write

fix: show notifications for platforms only
  packages/appstore/src/components/main-title-bar/index.tsx
Due: prettier --write, npx eslint --fix

chore: increase transparency of dark mode exit marker
  packages/shared/src/styles/constants.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

revert: :rewind: tests for deriv com language cookie
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: update code based on comment and added test case for utils
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.tsx
  packages/account/src/Helpers/__tests__/utils.spec.tsx
  packages/account/src/Helpers/utils.tsx
Due: prettier --write, npx eslint --fix

refactor: udpated test
  packages/p2p/src/components/online-status/__tests__/online-status-label.spec.tsx
Due: prettier --write, npx eslint --fix

fix: derivez topupVirtual
  packages/cfd/src/Stores/Modules/CFD/cfd-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: mock trade button component instead
  packages/appstore/src/components/multi-action-button-group/__test__/multi-action-button-group.spec.tsx
Due: prettier --write, npx eslint --fix

revert: undo changes in cfd-dashboard.tsx (deprecated file)
  packages/cfd/src/Containers/cfd-dashboard.tsx
Due: prettier --write, npx eslint --fix

chore: change currency-switcher-account
  packages/appstore/src/components/containers/currency-switcher-container.tsx
Due: prettier --write, npx eslint --fix

fix: revert changes for trade button
  packages/appstore/src/components/trade-button/trade-button.tsx
Due: prettier --write, npx eslint --fix

fix: currency icon for cr
  packages/appstore/src/components/currency-switcher-card/real/real-account-card.tsx
Due: prettier --write, npx eslint --fix

remove unnecesary parameter
  packages/cfd/src/Stores/Modules/CFD/cfd-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: update breaking test case
  packages/account/src/Components/poi/idv-document-submit/__tests__/idv-document-submit.spec.tsx
Due: prettier --write, npx eslint --fix

Update idv-document-submit.spec.tsx
  packages/account/src/Components/poi/idv-document-submit/__tests__/idv-document-submit.spec.tsx
Due: prettier --write, npx eslint --fix

fix: changed the server maintenance text
  packages/cfd/src/Containers/trade-modal.tsx
Due: prettier --write, npx eslint --fix

fix: checking test coverage issue
  packages/cashier/src/components/crypto-fiat-converter/crypto-fiat-converter.tsx
  packages/cashier/src/components/crypto-fiat-converter/input-group.tsx
  packages/cashier/src/components/crypto-fiat-converter/timer.tsx
Due: prettier --write, npx eslint --fix

fix: code smells
  packages/trader/src/Modules/Contract/Components/AccumulatorsStats/expanded-ticks-history.tsx
Due: prettier --write, npx eslint --fix

chore: update jurisdiction content
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-content-wrapper.tsx
Due: prettier --write, npx eslint --fix

Move Import React in utils.tsx
  packages/account/src/Helpers/utils.tsx
Due: prettier --write, npx eslint --fix
