Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

[BOT]maryia/BOT-1895/feat: for the clients with the country of residence as `Australia/Norway/Japan/Singapore` we should show the blocker (#15804)
  packages/bot-web-ui/src/stores/app-store.ts
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/pt.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

[BOT]maryia/BOT-1882/fix: Duration does not fall to the default value (#15780)
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/duration-type.tsx
Due: prettier --write, npx eslint --fix

[WALL] Lubega / WALL-4431 / Remove badge from wallet card (#15801)
  packages/wallets/src/components/WalletAddedSuccess/WalletAddedSuccess.tsx
  packages/wallets/src/components/WalletCard/WalletCard.scss
  packages/wallets/src/components/WalletCard/WalletCard.tsx
  packages/wallets/src/components/WalletCard/__tests__/WalletCard.spec.tsx
  packages/wallets/src/components/WalletsAddMoreCardBanner/WalletsAddMoreCardBanner.tsx
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferReceipt/TransferReceipt.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoReceipt/WithdrawalCryptoReceipt.tsx
  packages/wallets/src/features/cfd/modals/MT5AccountAdded/MT5AccountAdded.tsx
  packages/wallets/src/features/cfd/modals/MT5AccountAdded/__tests__/MT5AccountAdded.spec.tsx
  packages/wallets/src/features/cfd/screens/CFDSuccess/CFDSuccess.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: update test case
  packages/hooks/src/__tests__/usePhoneNumberVerificationSetTimer.spec.tsx
Due: prettier --write, npx eslint --fix

fix: safari transactions toggle ui fix (#15818)
  packages/wallets/src/components/ToggleSwitch/ToggleSwitch.scss
  packages/wallets/src/components/WalletListHeader/WalletListHeader.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/pt.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

fix: balance destructure from undefined trackjs issue (#15785)
  packages/bot-skeleton/src/services/tradeEngine/trade/Balance.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

[BOT] Farabi/bot 1914/rudderstack strategy upload journey (#15782)
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-web-ui/src/analytics/constants.ts
  packages/bot-web-ui/src/analytics/rudderstack-bot-builder.ts
  packages/bot-web-ui/src/analytics/rudderstack-common-events.ts
  packages/bot-web-ui/src/analytics/rudderstack-dashboard.ts
  packages/bot-web-ui/src/analytics/rudderstack-quick-strategy.ts
  packages/bot-web-ui/src/analytics/utils.ts
  packages/bot-web-ui/src/components/load-modal/load-modal.tsx
  packages/bot-web-ui/src/components/trade-animation/trade-animation.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/quick-strategy.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbar/toolbar.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbar/workspace-group.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbox/toolbox.tsx
  packages/bot-web-ui/src/pages/dashboard/__tests__/user-guide.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/cards.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/google-drive.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/recent-workspace.tsx
  packages/bot-web-ui/src/pages/dashboard/user-guide.tsx
  packages/bot-web-ui/src/stores/google-drive-store.ts
  packages/bot-web-ui/src/stores/load-modal-store.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: updated walletlistcarddropdown structure
  packages/wallets/src/components/WalletListCardDropdown/WalletListCardDropdown.tsx
Due: prettier --write, npx eslint --fix

Aizad/WALL-2937/Unit test for AvailableDxtradeAccountsList in DxTrade flow (#15861)
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AvailableDxtradeAccountsList/AvailableDxtradeAccountsList.tsx
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AvailableDxtradeAccountsList/__test__/AvailableDxtradeAccountsList.spec.tsx
Due: prettier --write, npx eslint --fix

Aizad/WALL-2936/Unit test for AddedDxtradeAccountsList in Dxtrade flow (#15866)
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AddedDxtradeAccountsList/__test__/AddedDxtradeAccountsList.spec.tsx
Due: prettier --write, npx eslint --fix

chore: fix description crop (#15827)
  packages/core/src/sass/app/modules/notifications-dialog.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: prettier-issue
  packages/account/src/Sections/Profile/LanguageSettings/language-settings.tsx
Due: prettier --write, npx eslint --fix

chore: removed getCounterpartyAdvertiserInfo (#15691)
  packages/p2p/src/pages/my-profile/block-user/block-user-table/block-user-row/__tests__/block-user-row.spec.tsx
  packages/p2p/src/pages/my-profile/block-user/block-user-table/block-user-row/block-user-row.tsx
  packages/p2p/src/stores/my-profile-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

[CFDS]/Hasan/CFDS-4030/mt5 demo account's company input issue (#15618)
  packages/cfd/src/Stores/Modules/CFD/cfd-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Remove local assets in Accounts package/dhruv (#15781)
  packages/account/build/webpack.config.js
  packages/account/src/Assets/ic-brand-deriv-go-dark.svg
  packages/account/src/Assets/ic-brand-deriv-go-light.svg
  packages/account/src/Assets/ic-brand-deriv-red.svg
  packages/account/src/Assets/ic-document-submit-icon.svg
  packages/account/src/Assets/ic-error-badge.svg
  packages/account/src/Assets/ic-idv-document-pending.svg
  packages/account/src/Assets/ic-idv-document-rejected.svg
  packages/account/src/Assets/ic-idv-verified.svg
  packages/account/src/Assets/ic-poi-back-btn.svg
  packages/account/src/Assets/ic-poi-dob-example.svg
  packages/account/src/Assets/ic-poi-name-dob-example.svg
  packages/account/src/Assets/ic-poi-name-example.svg
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.tsx
  packages/account/src/Components/personal-details/personal-details.tsx
  packages/account/src/Components/poa/common-mistakes/__tests__/common-mistake-examples.spec.tsx
  packages/account/src/Components/poa/common-mistakes/common-mistake-examples.tsx
  packages/account/src/Components/poi/idv-document-submit/__tests__/idv-document-submit.spec.tsx
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.tsx
  packages/account/src/Components/poi/idv-status/idv-failed/__tests__/idv-failed.spec.tsx
  packages/account/src/Components/poi/idv-status/idv-failed/idv-failed.tsx
  packages/account/src/Components/poi/idv-status/idv-limited/__tests__/idv-limited.spec.tsx
  packages/account/src/Components/poi/idv-status/idv-limited/idv-limited.tsx
  packages/account/src/Components/poi/idv-status/idv-submit-complete/__tests__/idv-submit-complete.spec.tsx
  packages/account/src/Components/poi/idv-status/idv-submit-complete/idv-submit-complete.tsx
  packages/account/src/Components/poi/idv-status/idv-verified/__tests__/idv-verified.spec.tsx
  packages/account/src/Components/poi/idv-status/idv-verified/idv-verified.tsx
  packages/account/src/Components/poi/poi-confirm-with-example-form-container/__tests__/poi-confirm-with-example-form-container.spec.tsx
  packages/account/src/Components/poi/poi-confirm-with-example-form-container/poi-confirm-with-example-form-container.tsx
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.tsx
  packages/account/src/Configs/poi-error-config.tsx
  packages/account/src/Sections/Security/Passwords/__tests__/deriv-password.spec.tsx
  packages/account/src/Sections/Security/Passwords/__tests__/passwords.spec.tsx
  packages/account/src/Sections/Security/Passwords/deriv-password.tsx
  packages/account/src/Styles/account.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

[CFDS]/Hasan/CFDS-3370/updated dxtrade reset password description (#15643)
  packages/account/src/Components/reset-trading-password-modal/reset-trading-password-modal.tsx
Due: prettier --write, npx eslint --fix

[BOT]maryia/BOT-1543/style: Loss Threshold Popup: Edit Amount Button Truncated (#15775)
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/parts/loss-threshold-warning-dialog.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: incorporated review
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: added FormDropdown component
  packages/wallets/src/components/Base/WalletDropdown/WalletDropdown.tsx
  packages/wallets/src/components/FormDropdown/FormDropdown.tsx
  packages/wallets/src/components/FormDropdown/index.ts
  packages/wallets/src/components/index.ts
Due: prettier --write, npx eslint --fix

fix: fixed scroll issue in POI
  packages/core/src/sass/app/_common/components/account-common.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: deleted old components from screens
  packages/wallets/src/features/accounts/screens/AddressSection/AddressSection.scss
  packages/wallets/src/features/accounts/screens/AddressSection/AddressSection.tsx
  packages/wallets/src/features/accounts/screens/AddressSection/index.ts
  packages/wallets/src/features/accounts/screens/CommonMistakesExamples/CommonMistakesExamples.scss
  packages/wallets/src/features/accounts/screens/CommonMistakesExamples/CommonMistakesExamples.tsx
  packages/wallets/src/features/accounts/screens/CommonMistakesExamples/__tests__/CommonMistakesExamples.spec.tsx
  packages/wallets/src/features/accounts/screens/CommonMistakesExamples/index.ts
  packages/wallets/src/features/accounts/screens/DocumentSubmission/DocumentSubmission.scss
  packages/wallets/src/features/accounts/screens/DocumentSubmission/DocumentSubmission.tsx
  packages/wallets/src/features/accounts/screens/DocumentSubmission/__tests__/DocumentSubmission.spec.tsx
  packages/wallets/src/features/accounts/screens/DocumentSubmission/index.ts
  packages/wallets/src/features/accounts/screens/index.ts
  packages/wallets/src/public/images/accounts/upload.svg
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: removed unused ref
  packages/account/src/Components/forms/form-fields/tax-residence.tsx
Due: prettier --write, npx eslint --fix

feat: testing
  .github/actions/analyze/action.yml
  .github/actions/analyze/compareReports.js
  .github/workflows/analyze.yml
Due: prettier --write, npx eslint --fix

fix: weired commit bug
  packages/account/src/Sections/Verification/ProofOfOwnership/proof-of-ownership-form.tsx
  packages/bot-web-ui/src/stores/load-modal-store.ts
Due: prettier --write, npx eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
