Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: outsystems migration modal dependency
  packages/core/src/App/Containers/RootComponent/root-component.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

[TRAH] Lubega / TRAH-6354 / Content update for EU complaints policy (#18386)
  packages/core/src/Modules/ComplaintsPolicy/Components/complaints-policy-content.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

[TRAH] Lubega / Wallets outsystems migration modal dependency fix (#18449)
  packages/core/src/App/Containers/RootComponent/root-component.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: outsystems migration modal dependency (#18448)
  packages/core/src/App/Containers/RootComponent/root-component.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: button onclick redirection
  packages/wallets/src/components/WalletsOutsystemsMigrationModal/WalletsOutsystemsMigrationModal.tsx
Due: prettier --write, npx eslint --fix

fix: react state update error
  packages/wallets/src/routes/WalletsListingRoute/WalletsListingRoute.tsx
Due: prettier --write, npx eslint --fix

chore: remove CTA on desktop
  packages/wallets/src/features/cfd/modals/DerivNakalaModal/DerivNakalaModal.tsx
Due: prettier --write, npx eslint --fix

chore: remove CTA on desktop
  packages/cfd/src/Containers/account-nakala-modal/account-nakala-modal.tsx
Due: prettier --write, npx eslint --fix

fix: revert master
  packages/core/src/Modules/ComplaintsPolicy/Components/complaints-policy-content.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

[TRAH] Lubega / Wallets outsystems migration modal dependency fix (#18452)
  packages/wallets/src/components/WalletsOutsystemsMigrationModal/WalletsOutsystemsMigrationModal.tsx
  packages/wallets/src/routes/WalletsListingRoute/WalletsListingRoute.tsx
Due: prettier --write, npx eslint --fix

[TRAH] Lubega / Wallets outsystems migration modal dependency fix (#18453)
  packages/wallets/src/components/WalletsOutsystemsMigrationModal/WalletsOutsystemsMigrationModal.tsx
  packages/wallets/src/routes/WalletsListingRoute/WalletsListingRoute.tsx
Due: prettier --write, npx eslint --fix

fix: added mobile notification
  packages/core/src/App/Containers/app-notification-messages.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: tablet view
  packages/wallets/src/components/WalletsOutsystemsMigrationModal/WalletsOutsystemsMigrationModal.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

[TRAH] Lubega / Wallets outsystems migration modal dependency fix (#18455)
  packages/wallets/src/components/WalletsOutsystemsMigrationModal/WalletsOutsystemsMigrationModal.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

[TRAH] Lubega / Wallets outsystems migration modal dependency fix (#18456)
  packages/wallets/src/components/WalletsOutsystemsMigrationModal/WalletsOutsystemsMigrationModal.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: updated the text
  packages/account/src/Constants/routes-config.tsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: updated menu text
  packages/core/src/App/Constants/routes-config.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: use session storage first before url params
  packages/core/src/App/Components/Layout/Header/wallets/account-actions-wallets.tsx
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet-mobile.tsx
  packages/core/src/App/Containers/RootComponent/root-component.jsx
  packages/reports/src/Components/Elements/Modals/ServicesErrorModal/insufficient-balance-modal.tsx
  packages/trader/src/AppV2/Components/ServiceErrorSheet/service-error-sheet.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: highlight issue
  packages/account/src/Containers/employment-tax-details-container/employment-tax-details-container.tsx
Due: prettier --write, npx eslint --fix

fix: fix for trading assessment
  packages/account/src/Sections/Assessment/TradingAssessment/trading-assessment.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: use session storage first before url params (#18460)
  packages/core/src/App/Components/Layout/Header/wallets/account-actions-wallets.tsx
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet-mobile.tsx
  packages/core/src/App/Containers/RootComponent/root-component.jsx
  packages/reports/src/Components/Elements/Modals/ServicesErrorModal/insufficient-balance-modal.tsx
  packages/trader/src/AppV2/Components/ServiceErrorSheet/service-error-sheet.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: use session storage first before url params (#18459)
  packages/core/src/App/Components/Layout/Header/wallets/account-actions-wallets.tsx
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet-mobile.tsx
  packages/core/src/App/Containers/RootComponent/root-component.jsx
  packages/reports/src/Components/Elements/Modals/ServicesErrorModal/insufficient-balance-modal.tsx
  packages/trader/src/AppV2/Components/ServiceErrorSheet/service-error-sheet.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: added TMB logic
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/core/src/App/app.jsx
  packages/core/src/Stores/client-store.js
  packages/hooks/package.json
  packages/hooks/src/index.ts
  packages/hooks/src/useTMB.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: fix modal button overlapped issue
  packages/wallets/src/components/WalletsOutsystemsMigrationModal/WalletsOutsystemsMigrationModal.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: sync master branch with migration button overlapped issue with rc
  packages/wallets/src/components/WalletsOutsystemsMigrationModal/WalletsOutsystemsMigrationModal.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: fix modal button overlapped issue (#18462)
  packages/wallets/src/components/WalletsOutsystemsMigrationModal/WalletsOutsystemsMigrationModal.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: removed extra item
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: sync master branch with migration button overlapped issue with rc (#18463)
  packages/wallets/src/components/WalletsOutsystemsMigrationModal/WalletsOutsystemsMigrationModal.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: enhance accumulator barriers handling during account switching
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/contract-trade-store.js
  packages/stores/types.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: set session storage during switch
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
