Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

fix: account name for mf issue
  packages/appstore/src/components/containers/trading-app-card.tsx
Due: prettier --write, npx eslint --fix

fix: app container width issue
  packages/tradershub/src/components/AppContainer/AppContainer.tsx
  packages/tradershub/src/routes/TradersHubRoute/TradersHubRoute.tsx
Due: prettier --write, npx eslint --fix

fix: added the new token functionality
  packages/cfd/src/Components/cfd-account-card.tsx
  packages/cfd/src/Helpers/config.tsx
  packages/cfd/src/Helpers/constants.ts
  packages/cfd/src/Stores/Modules/CFD/cfd-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: incorporated code reviews
  packages/account-v2/src/components/LinkText/LinkText.tsx
  packages/account-v2/src/constants/paymentMethodsConfig.ts
  packages/account-v2/src/utils/pooUtils.ts
Due: prettier --write, npx eslint --fix

fix: tradershub header css
  packages/tradershub/src/components/DemoRealSwitcher/DemoRealSwitcher.tsx
  packages/tradershub/src/components/TradersHubHeader/TradersHubHeader.tsx
Due: prettier --write, npx eslint --fix

[WALL] Aizad/WALL-3925/Removing SVGs inside of Wallets/Component package and replace it with deriv/quill-icon (#14890)
  packages/wallets/src/components/Base/WalletAlertMessage/WalletAlertMessage.tsx
  packages/wallets/src/components/Base/WalletClipboard/WalletClipboard.tsx
  packages/wallets/src/components/Base/WalletPasswordField/PasswordViewerIcon.tsx
  packages/wallets/src/components/DatePicker/DatePicker.tsx
  packages/wallets/src/components/DerivAppsSection/DerivAppsTradingAccount.tsx
  packages/wallets/src/components/WalletError/WalletError.tsx
  packages/wallets/src/components/WalletsErrorScreen/WalletsErrorScreen.tsx
  packages/wallets/src/public/images/clipboard.svg
  packages/wallets/src/public/images/error-circle-crossmark.svg
  packages/wallets/src/public/images/error-icon.svg
  packages/wallets/src/public/images/ic-appstore-binary-bot.svg
  packages/wallets/src/public/images/ic-appstore-deriv-bot.svg
  packages/wallets/src/public/images/ic-appstore-deriv-go.svg
  packages/wallets/src/public/images/ic-appstore-deriv-trader.svg
  packages/wallets/src/public/images/ic-appstore-smart-trader.svg
  packages/wallets/src/public/images/ic-calendar.svg
  packages/wallets/src/public/images/ic-checkmark-circle.svg
  packages/wallets/src/public/images/ic-password-hide.svg
  packages/wallets/src/public/images/ic-password-show.svg
  packages/wallets/src/public/images/info-circle-dots.svg
  packages/wallets/src/public/images/success-circle-checkmark.svg
Due: prettier --write, npx eslint --fix

fix: total assets css
  packages/tradershub/src/components/DemoRealSwitcher/DemoRealSwitcher.tsx
  packages/tradershub/src/components/TotalAssets/TotalAssets.tsx
Due: prettier --write, npx eslint --fix

fix: avoid update loop
  packages/hooks/src/useWalletMigration.ts
Due: prettier --write, npx eslint --fix

feat: complete widget and banner
  packages/appstore/src/components/get-started-trading-banner/get-started-trading-banner.scss
  packages/appstore/src/components/get-started-trading-banner/get-started-trading-banner.tsx
  packages/appstore/src/components/trustpilot-star-rating/index.ts
  packages/appstore/src/components/trustpilot-star-rating/trustpilot-star-rating.scss
  packages/appstore/src/components/trustpilot-star-rating/trustpilot-star-rating.tsx
  packages/appstore/src/components/trustpilot-widget/trustpilot-widget.scss
  packages/appstore/src/components/trustpilot-widget/trustpilot-widget.tsx
  packages/appstore/src/modules/traders-hub-logged-out/traders-hub-logged-out.tsx
  packages/appstore/src/types/common.types.ts
  packages/components/src/components/button/button.scss
  packages/components/src/components/button/button.tsx
  packages/components/src/components/icon/appstore/ic-appstore-trustpilot-logo.svg
  packages/shared/src/styles/constants.scss
  packages/shared/src/styles/themes.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: added WithdrawalNoBalance screen
  packages/wallets/src/features/cashier/flows/WalletWithdrawal/WalletWithdrawal.tsx
  packages/wallets/src/features/cashier/screens/WithdrawalNoBalance/WithdrawalNoBalance.tsx
  packages/wallets/src/features/cashier/screens/WithdrawalNoBalance/index.ts
  packages/wallets/src/features/cashier/screens/index.ts
Due: prettier --write, npx eslint --fix

fix: removed unnecessary hook call and fixed tests
  packages/wallets/src/features/cashier/flows/WalletWithdrawal/WalletWithdrawal.tsx
  packages/wallets/src/features/cashier/flows/WalletWithdrawal/__tests__/WalletWithdrawal.spec.tsx
Due: prettier --write, npx eslint --fix

feat: test case
  packages/account-v2/src/containers/AccountLimitsContainer/AccountLimitsTable.tsx
  packages/account-v2/src/containers/AccountLimitsContainer/__tests__/AccountLimitsSideNote.spec.tsx
  packages/account-v2/src/containers/AccountLimitsContainer/__tests__/AccountLimitsTable.spec.tsx
  packages/account-v2/src/mocks/accountLimitsResponse.mock.ts
  packages/account-v2/src/utils/__tests__/accountLimitsUtils.spec.ts
Due: prettier --write, npx eslint --fix

feat: test case
  packages/account-v2/src/containers/AccountLimitsContainer/__tests__/AccountLimitsSideNote.spec.tsx
Due: prettier --write, npx eslint --fix

Amina/ COJ-674/fix: verified_status for MT5 jurisdictions for POA submission (#14675)
  packages/cfd/src/Containers/__tests__/cfd-financial-stp-real-account-signup.spec.js
  packages/cfd/src/features/Containers/__tests__/real-account-signup-verifications.spec.js
  packages/shared/src/utils/cfd/cfd.ts
  packages/wallets/src/features/cfd/flows/Verification/Verification.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: confirm button is not clickable, user cant confirm order
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal.tsx
  packages/p2p/src/components/modal-manager/modals/email-link-verified-modal/__tests__/email-link-verified-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/email-link-verified-modal/email-link-verified-modal.tsx
  packages/p2p/src/pages/buy-sell/buy-sell-form.jsx
  packages/p2p/src/stores/buy-sell-store.js
  packages/p2p/src/stores/order-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: clean up
  packages/components/src/components/dropdown/dropdown.scss
  packages/shared/src/utils/routes/routes.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: incorporated review comments
  packages/account-v2/src/containers/PaymentMethods/PaymentMethodForm.tsx
Due: prettier --write, npx eslint --fix

fix: RTL workspace loading
  packages/bot-web-ui/src/stores/toolbox-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: added required notes
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-web-ui/src/stores/toolbox-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: added required notes
  packages/bot-skeleton/src/scratch/utils/index.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

[account-v2]/likhith/coj-707/Incorporated POO Form (#14813)
  package-lock.json
  packages/account-v2/package.json
  packages/account-v2/src/components/LinkText/LinkText.tsx
  packages/account-v2/src/components/LinkText/__tests__/LinkText.spec.tsx
  packages/account-v2/src/components/Timeline/Timeline.tsx
  packages/account-v2/src/constants/manualFormConstants.tsx
  packages/account-v2/src/constants/paymentMethodsConfig.ts
  packages/account-v2/src/containers/POOForm/FileUploadField.tsx
  packages/account-v2/src/containers/POOForm/POOFom.tsx
  packages/account-v2/src/containers/PaymentMethods/PaymentMethodField.tsx
  packages/account-v2/src/containers/PaymentMethods/PaymentMethodForm.tsx
  packages/account-v2/src/containers/PaymentMethods/PaymentMethodInstructions.tsx
  packages/account-v2/src/containers/PaymentMethods/PaymentMethodTitle.tsx
  packages/account-v2/src/containers/PaymentMethods/__tests__/PaymentMethodTitle.spec.tsx
  packages/account-v2/src/containers/PaymentMethods/index.ts
  packages/account-v2/src/containers/index.ts
  packages/account-v2/src/hooks/usePaymentMethodDetails.ts
  packages/account-v2/src/modules/package.json
  packages/account-v2/src/pages/ProofOfOwnership/ProofOfOwnership.tsx
  packages/account-v2/src/types.ts
  packages/account-v2/src/utils/fileUtils.ts
  packages/account-v2/src/utils/index.ts
  packages/account-v2/src/utils/pooUtils.ts
  packages/cashier-v2/package.json
  packages/p2p-v2/package.json
  packages/tradershub/package.json
Due: prettier --write, npx eslint --fix

fix: added ? before is_buy_order_for_user (#14606)
  packages/p2p/src/stores/order-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: added config and Example link component
  package-lock.json
  packages/account-v2/package.json
  packages/account-v2/src/containers/MaskCardModal/MaskCardModal.tsx
  packages/account-v2/src/containers/POOForm/FileUploadField.tsx
  packages/account-v2/src/containers/PaymentMethods/ExampleLink.tsx
  packages/account-v2/src/containers/PaymentMethods/PaymentMethodField.tsx
  packages/account-v2/src/containers/PaymentMethods/PaymentMethodInstructions.tsx
  packages/account-v2/src/containers/PaymentMethods/__tests__/ExampleLink.spec.tsx
  packages/account-v2/src/types.ts
  packages/account-v2/src/utils/fileUtils.ts
  packages/account-v2/src/utils/pooUtils.ts
  packages/cashier-v2/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/p2p-v2/package.json
  packages/p2p/package.json
  packages/trader/package.json
  packages/tradershub/package.json
  packages/wallets/package.json
Due: prettier --write, npx eslint --fix

fix: unwanted import
  packages/account-v2/src/utils/index.ts
Due: prettier --write, npx eslint --fix

fix: added fix for derktop view
  packages/bot-web-ui/src/stores/toolbox-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

perf: added unit tests for WithdrawalNoBalance
  packages/wallets/src/features/cashier/flows/WalletWithdrawal/__tests__/WalletWithdrawal.spec.tsx
  packages/wallets/src/features/cashier/screens/WithdrawalNoBalance/WithdrawalNoBalance.tsx
  packages/wallets/src/features/cashier/screens/WithdrawalNoBalance/__tests__/WithdrawalNoBalance.spec.tsx
Due: prettier --write, npx eslint --fix

fix: comments
  packages/account-v2/src/containers/AccountLimitsContainer/__tests__/AccountLimitsTable.spec.tsx
  packages/account-v2/src/mocks/accountLimitsResponse.mock.ts
  packages/account-v2/src/pages/AccountLimits/AccountLimits.tsx
  packages/account-v2/src/pages/AccountLimits/__test__/AccountLimits.spec.tsx
Due: prettier --write, npx eslint --fix

feat: remove email field (#14818)
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
Due: prettier --write, npx eslint --fix

style: change traders hub bg-color to white
  packages/wallets/src/components/DesktopWalletsList/DesktopWalletsList.scss
  packages/wallets/src/routes/WalletsListingRoute/WalletsListingRoute.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

style: fixed DatePicker overlapping Dropzone in document upload screens
  packages/wallets/src/components/DatePicker/DatePicker.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: add console to test passkeys conditions
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: add console to test passkeys conditions (#14915)
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: type issue and file path
  packages/account-v2/src/containers/POOForm/FileUploadField.tsx
Due: prettier --write, npx eslint --fix
