Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

chore: rename component to a more meaningful name
  packages/p2p-v2/src/components/Flyout/Flyout.tsx
  packages/p2p-v2/src/components/Flyout/index.ts
  packages/p2p-v2/src/components/FlyoutMenu/FlyoutMenu.scss
  packages/p2p-v2/src/components/FlyoutMenu/FlyoutMenu.tsx
  packages/p2p-v2/src/components/FlyoutMenu/FlyoutMenuList.tsx
  packages/p2p-v2/src/components/FlyoutMenu/FlyoutMenuToggle.tsx
  packages/p2p-v2/src/components/FlyoutMenu/index.ts
  packages/p2p-v2/src/components/PaymentMethodCard/PaymentMethodCardHeader/PaymentMethodCardHeader.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: mobile view full page, reverted changes in home page
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileCounterparties/MyProfileCounterparties.scss
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileCounterparties/MyProfileCounterparties.tsx
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileCounterparties/MyProfileCounterpartiesTable.scss
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileCounterparties/MyProfileCounterpartiesTable.tsx
  packages/p2p-v2/src/routes/Home/index.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

[WALL] [Fix] Rostislav / WALL-3320 / Transaction tab MT5 transactions name & badge (#13045)
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/components/TransactionsCompletedRowAccountDetails/TransactionsCompletedRowAccountDetails.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/components/TransactionsCompletedRowTransferAccountDetails/TransactionsCompletedRowTransferAccountDetails.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/si.json
Due: prettier --write

chore: transaction status unit test (#13055)
  packages/wallets/src/components/Loader/Loader.tsx
  packages/wallets/src/components/Loader/__tests__/Loader.spec.tsx
  packages/wallets/src/features/cashier/modules/DepositFiat/__tests__/DepositFiat.spec.tsx
  packages/wallets/src/features/cashier/modules/FiatOnRamp/components/FiatOnRampDisclaimer/__tests__/FiatOnRampDisclaimer.spec.tsx
  packages/wallets/src/features/cashier/modules/TransactionStatus/__tests__/TransactionStatus.spec.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalFiat/__tests__/WithdrawalFiat.spec.tsx
Due: prettier --write, npx eslint --fix

[WALL] Lubega / WALL-2987 / TransactionStatusError unit test (#13061)
  packages/wallets/src/features/cashier/modules/TransactionStatus/components/CryptoTransaction/__tests__/CryptoTransaction.spec.tsx
  packages/wallets/src/features/cashier/modules/TransactionStatus/components/TransactionStatusError/__tests__/TransactionStatusError.spec.tsx
Due: prettier --write, npx eslint --fix

[WALL] Lubega / WALL-2988 / TransactionStatusSuccess unit test (#13062)
  packages/wallets/src/features/cashier/modules/TransactionStatus/components/TransactionStatusSuccess/__tests__/TransactionStatusSuccess.spec.tsx
Due: prettier --write, npx eslint --fix

refactor: move form and header components to components folder
  packages/p2p-v2/src/components/PaymentMethodField/PaymentMethodField.tsx
  packages/p2p-v2/src/components/PaymentMethodField/index.ts
  packages/p2p-v2/src/components/PaymentMethodForm/PaymentMethodForm.scss
  packages/p2p-v2/src/components/PaymentMethodForm/PaymentMethodForm.tsx
  packages/p2p-v2/src/components/PaymentMethodForm/index.ts
  packages/p2p-v2/src/components/PaymentMethodsHeader/PaymentMethodsHeader.scss
  packages/p2p-v2/src/components/PaymentMethodsHeader/PaymentMethodsHeader.tsx
  packages/p2p-v2/src/components/PaymentMethodsHeader/index.ts
  packages/p2p-v2/src/pages/my-profile/screens/PaymentMethods/PaymentMethods.tsx
  packages/p2p-v2/src/pages/my-profile/screens/PaymentMethods/PaymentMethodsList/PaymentMethodsList.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: added tabs for desktop view
  packages/p2p-v2/src/components/TextArea/TextArea.scss
  packages/p2p-v2/src/pages/my-profile/screens/MyProfile/MyProfile.scss
  packages/p2p-v2/src/pages/my-profile/screens/MyProfile/MyProfile.tsx
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileAdDetails/MyProfileAdDetails.scss
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileAdDetails/MyProfileAdDetails.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: added tabs for desktop view
  packages/p2p-v2/.stylelintrc.js
  packages/p2p-v2/package-lock.json.3009233934
  packages/p2p-v2/src/pages/my-profile/screens/MyProfile/MyProfile.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: added tabs for desktop view
  packages/p2p-v2/src/pages/my-profile/screens/MyProfile/MyProfile.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: added tabs for desktop view
  packages/p2p-v2/.stylelintrc.js
  packages/p2p-v2/src/pages/my-profile/screens/MyProfile/MyProfile.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Delete packages/p2p-v2/package-lock.json.3009233934
  packages/p2p-v2/package-lock.json.3009233934
Due: none

fix: add cfd package as well
  packages/cfd/package.json
Due: prettier --write

fix: style fixes
  packages/p2p-v2/src/components/Modals/BlockUnblockUserFilterModal/BlockUnblockUserFilterModal.scss
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileCounterparties/MyProfileCounterparties.scss
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileCounterparties/MyProfileCounterparties.tsx
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileCounterparties/MyProfileCounterpartiesTable.scss
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileCounterparties/MyProfileCounterpartiesTableRow.scss
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileCounterparties/MyProfileCounterpartiesTableRow.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: package
  packages/cfd/package.json
Due: prettier --write

feat: add assets list
  packages/components/src/components/icon/common/ic-new-star-light.svg
  packages/components/src/components/icon/common/ic-new-start-dark.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/trader/src/Modules/Trading/Components/Playground/new-trade-type-menu.tsx
  packages/trader/src/Modules/Trading/Components/Playground/new-trade-type-widget.tsx
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: revert changes
  packages/trader/src/Modules/Trading/Components/Playground/new-trade-type-widget.tsx
Due: prettier --write, npx eslint --fix

refactor: add a comment
  packages/wallets/src/hooks/useInputATMFormatter.ts
Due: prettier --write, npx eslint --fix

chore: added console log for tracking registration errors
  packages/hooks/src/useRegisterPasskey.ts
Due: prettier --write, npx eslint --fix

fix: :bug: capitalize first letter
  packages/reports/src/Containers/statement.tsx
Due: prettier --write, npx eslint --fix

refactor: 3 lines support
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormDropdown/TransferFormDropdown.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: a different way via min-height
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferForm/TransferForm.scss
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormDropdown/TransferFormDropdown.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

[FEQ] P2P feat: added daily limit modal (#13017)
  packages/p2p-v2/package.json
  packages/p2p-v2/src/components/Modals/DailyLimitModal/DailyLimitModal.scss
  packages/p2p-v2/src/components/Modals/DailyLimitModal/DailyLimitModal.tsx
  packages/p2p-v2/src/components/Modals/DailyLimitModal/index.ts
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileDailyLimit/MyProfileDailyLimit.scss
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileDailyLimit/MyProfileDailyLimit.tsx
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileDailyLimit/index.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

[FEQ] P2P-V2 tailwind integration (#13127)
  packages/p2p-v2/package-lock.json
  packages/p2p-v2/package.json
  packages/p2p-v2/postcss.config.js
  packages/p2p-v2/src/App.tsx
  packages/p2p-v2/src/index.scss
  packages/p2p-v2/src/routes/Home/index.tsx
  packages/p2p-v2/tailwind.config.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: refactoring the style files in the bot-web-ui
  packages/bot-web-ui/src/components/transaction-details/transaction-details-desktop.tsx
  packages/bot-web-ui/src/pages/chart/chart-modal/chart-modal-desktop.tsx
  packages/bot-web-ui/src/pages/chart/chart.scss
  packages/bot-web-ui/src/pages/dashboard/dashboard.scss
  packages/bot-web-ui/src/pages/dashboard/info-panel.tsx
  packages/bot-web-ui/src/pages/main/main.scss
  packages/bot-web-ui/src/pages/main/main.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: added trading view chart to dbot
  packages/bot-web-ui/src/components/trading-view-chart/trading-view-modal.tsx
  packages/bot-web-ui/src/components/trading-view-chart/trading-view.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbar/workspace-group.tsx
  packages/bot-web-ui/src/pages/main/main.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
  packages/components/src/components/icon/common/ic-trading-view-chart.svg
  packages/components/src/components/icon/icons.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: :ambulance: update package-lock
  package-lock.json
Due: prettier --write

fix: :ambulance: align package lock json
  package-lock.json
Due: prettier --write

refactor: drop provider pattern
  packages/p2p-v2/src/components/PaymentMethodForm/PaymentMethodForm.tsx
  packages/p2p-v2/src/pages/my-profile/screens/PaymentMethods/PaymentMethods.tsx
  packages/p2p-v2/src/pages/my-profile/screens/PaymentMethods/PaymentMethodsEmpty/PaymentMethodsEmpty.tsx
  packages/p2p-v2/src/pages/my-profile/screens/PaymentMethods/PaymentMethodsList/AddNewButton.tsx
  packages/p2p-v2/src/pages/my-profile/screens/PaymentMethods/PaymentMethodsList/PaymentMethodsList.tsx
  packages/p2p-v2/src/pages/my-profile/screens/PaymentMethods/PaymentMethodsList/PaymentMethodsListContent.tsx
  packages/p2p-v2/src/providers/AdvertiserPaymentMethodsProvider/AdvertiserPaymentMethodsProvider.tsx
  packages/p2p-v2/src/providers/AdvertiserPaymentMethodsProvider/advertiserPaymentMethodsReducer.tsx
  packages/p2p-v2/src/providers/types.ts
  packages/p2p-v2/src/reducers/AdvertiserPaymentMethodsProvider/advertiserPaymentMethodsReducer.tsx
  packages/p2p-v2/src/reducers/AdvertiserPaymentMethodsProvider/index.ts
  packages/p2p-v2/src/reducers/index.ts
  packages/p2p-v2/src/reducers/types.ts
  packages/p2p-v2/types.ts
Due: prettier --write, npx eslint --fix

fix: :ambulance: update package-lock json
  package-lock.json
Due: prettier --write

refactor: added mixin file and common mixin moving
  packages/bot-web-ui/src/pages/dashboard/dashboard.scss
  packages/bot-web-ui/src/pages/main/main.scss
  packages/bot-web-ui/src/styles/mixins.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: updated mixin to accept dynamic justify-content value
  packages/bot-web-ui/src/pages/chart/chart-modal/chart-modal.scss
  packages/bot-web-ui/src/pages/tutorials/tutorials.scss
  packages/bot-web-ui/src/styles/mixins.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

[WALL] [Fix] Rostislav / WALL-3343 / Amount input non-changing value bug fix (#13125)
  packages/wallets/src/hooks/useInputATMFormatter.ts
Due: prettier --write, npx eslint --fix
