Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

fix: styling issues, change arrow to less than greater than, and rename svg file
  packages/wallets/src/components/WalletListCardIcon/WalletListCardIcon.tsx
  packages/wallets/src/components/WalletsAddMoreCardBanner/WalletsAddMoreCardBanner.tsx
  packages/wallets/src/components/WalletsAddMoreCarousel/WalletsAddMoreCarousel.scss
  packages/wallets/src/components/WalletsAddMoreCarousel/WalletsAddMoreCarousel.tsx
  packages/wallets/src/public/images/bitcoin.svg
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: replace usepaginatedfetch hook with usefetch
  packages/hooks/src/useP2PAdvertList.ts
  packages/p2p/src/components/advertiser-page/advertiser-page-adverts.jsx
  packages/p2p/src/components/buy-sell/buy-sell-table.jsx
  packages/p2p/src/hooks/use-p2p-advertiser-adverts.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: test case showing errors
  packages/cfd/src/Containers/__tests__/cfd-password-modal.spec.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

george / codesmells fixes from sonarcloud (#10003)
  packages/appstore/src/components/add-more-wallets/__test__/wallet-add-card.spec.tsx
  packages/appstore/src/components/add-more-wallets/wallet-add-card.tsx
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/containers/trading-app-card-actions.tsx
  packages/appstore/src/components/transaction-list/completed-transaction/completed-transaction.tsx
  packages/appstore/src/components/wallet-content/wallet-mt5/wallet-mt5-card-list.tsx
  packages/appstore/src/components/wallet-withdrawal/wallet-withdrawal.tsx
  packages/appstore/src/constants/currency-to-icon-mapper.ts
  packages/appstore/src/constants/tour-steps-config.tsx
  packages/appstore/src/constants/utils.ts
  packages/hooks/src/__tests__/useCreateWallet.spec.tsx
  packages/hooks/src/__tests__/useTradingAccountsList.spec.tsx
  packages/hooks/src/__tests__/useWalletTransactions.spec.tsx
  packages/hooks/src/useWalletTransactions.ts
  packages/stores/types.ts
  packages/utils/src/__tests__/getWalletCurrencyIcon.spec.ts
  packages/utils/src/getWalletCurrencyIcon.ts
  packages/utils/src/index.ts
Due: prettier --write, npx eslint --fix

feat(api): add `standalone` support
  packages/api/src/APIProvider.tsx
Due: prettier --write, npx eslint --fix

fix: adding the new package
  packages/appstore/package.json
  packages/cfd-logic/.eslintignore
  packages/cfd-logic/README.md
  packages/cfd-logic/globals.d.ts
  packages/cfd-logic/package.json
  packages/cfd-logic/src/Components/account-creation-flow/index.ts
  packages/cfd-logic/src/Components/account-creation-flow/types.ts
  packages/cfd-logic/src/index.ts
  packages/cfd-next/jest.config.js
  packages/cfd-next/package.json
  packages/cfd-next/src/AppContent.tsx
  packages/cfd-next/src/app-content.scss
  packages/cfd-next/src/components/cfd-pasword-modal/cfd-password-modal.scss
  packages/cfd-next/src/components/cfd-pasword-modal/cfd-password-modal.tsx
  packages/cfd-next/src/containers/modal-manager/modal-managers.tsx
  packages/cfd-next/src/index.tsx
  packages/cfd-next/tsconfig.json
  packages/cfd/globals.d.ts
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/package.json
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: delete usepaginatedfetch from the codebase
  packages/api/src/__tests__/usePaginatedFetch.spec.tsx
  packages/api/src/index.ts
  packages/api/src/usePaginatedFetch.ts
  packages/hooks/src/__tests__/useP2PAdvertList.spec.tsx
Due: prettier --write, npx eslint --fix

chore: added test cases for server_time
  packages/p2p/src/utils/__tests__/server_time.spec.ts
  packages/p2p/src/utils/server_time.ts
Due: prettier --write, npx eslint --fix

chore: remove named imports
  packages/hooks/src/useP2PAdvertList.ts
Due: prettier --write, npx eslint --fix

chore: updated test case
  packages/p2p/src/utils/__tests__/server_time.spec.ts
Due: prettier --write, npx eslint --fix

feat: :lipstick: fixed responsive styling for dropdown modal
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet-mobile.scss
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet-mobile.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: added disable sort
  packages/bot-web-ui/src/components/dashboard/dbot-tours/mobile-tours/__tests__/bot-builder-tour.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/mobile-tours/__tests__/onboarding-tour.spec.tsx
Due: prettier --write, npx eslint --fix

fix: initializing cfd package
  packages/cfd-next/jest.config.js
  packages/cfd-next/package.json
  packages/cfd-next/src/AppContent.tsx
  packages/cfd-next/src/app-content.scss
  packages/cfd-next/src/components/cfd-pasword-modal/cfd-password-modal.scss
  packages/cfd-next/src/components/cfd-pasword-modal/cfd-password-modal.tsx
  packages/cfd-next/src/containers/modal-manager/modal-managers.tsx
  packages/cfd-next/src/index.tsx
  packages/cfd-next/tsconfig.json
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: added disable sort
  packages/bot-web-ui/src/components/dashboard/dbot-tours/mobile-tours/__tests__/bot-builder-tour.spec.tsx
Due: prettier --write, npx eslint --fix

Kate/ fix: code smells (#40)
  packages/trader/src/App/Components/Routes/helpers.ts
  packages/trader/src/App/Components/Routes/route-with-sub-routes.tsx
  packages/trader/src/App/Containers/Routes/routes.tsx
  packages/trader/src/Assets/Trading/Categories/Description/accumulator-trade-description.tsx
  packages/trader/src/Assets/Trading/Categories/Description/asian-trade-description.tsx
  packages/trader/src/Assets/Trading/Categories/Description/call-put-spread-trade-description.tsx
  packages/trader/src/Assets/Trading/Categories/Description/end-trade-description.tsx
  packages/trader/src/Assets/Trading/Categories/Description/even-odd-trade-description.tsx
  packages/trader/src/Assets/Trading/Categories/Description/high-low-trade-description.tsx
  packages/trader/src/Assets/Trading/Categories/Description/lb-call-trade-description.tsx
  packages/trader/src/Assets/Trading/Categories/Description/lb-high-low-trade-description.tsx
  packages/trader/src/Assets/Trading/Categories/Description/lb-put-trade-desciption.tsx
  packages/trader/src/Assets/Trading/Categories/Description/match-diff-trade-description.tsx
  packages/trader/src/Assets/Trading/Categories/Description/multiplier-trade-description.tsx
  packages/trader/src/Assets/Trading/Categories/Description/over-under-trade-description.tsx
  packages/trader/src/Assets/Trading/Categories/Description/reset-trade-description.tsx
  packages/trader/src/Assets/Trading/Categories/Description/rise-fall-trade-description.tsx
  packages/trader/src/Assets/Trading/Categories/Description/run-high-low-trade-description.tsx
  packages/trader/src/Assets/Trading/Categories/Description/stay-trade-description.tsx
  packages/trader/src/Assets/Trading/Categories/Description/tick-high-low-trade-description.tsx
  packages/trader/src/Assets/Trading/Categories/Description/touch-trade-description.tsx
  packages/trader/src/Assets/Trading/Categories/Description/turbos-trade-description.tsx
  packages/trader/src/Assets/Trading/Categories/Description/vanilla-trade-description.tsx
  packages/trader/src/Modules/Trading/Containers/Multiplier/multiplier-amount-modal.tsx
  packages/trader/src/Modules/Trading/Containers/Multiplier/multiplier-options.tsx
  packages/trader/src/Modules/Trading/Containers/chart-widgets.tsx
  packages/trader/src/Stores/Modules/Trading/Helpers/preview-proposal.ts
Due: prettier --write, npx eslint --fix

fix: 🚑 balance not updating on account swithcher
  src/api-base.js
  src/components/Header/Header.jsx
  src/components/Header/account-actions.jsx
Due: prettier --write, npx eslint --fix

fix: fixed the naming
  packages/cfd-next/src/AppContent.tsx
  packages/cfd-next/src/app-content.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: removed the redundant div
  packages/cfd-next/src/AppContent.tsx
Due: prettier --write, npx eslint --fix

fix: update required prop for personal details form fields
  packages/account/src/Components/forms/personal-details-form.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: added disable sort
  packages/bot-web-ui/src/components/dashboard/dbot-tours/mobile-tours/__tests__/onboarding-tour.spec.tsx
Due: prettier --write, npx eslint --fix

feat(api): add `standalone` support
  packages/api/src/index.ts
  packages/api/src/useAPI.ts
Due: prettier --write, npx eslint --fix

fix: for sort
  packages/bot-web-ui/src/components/dashboard/dbot-tours/mobile-tours/__tests__/bot-builder-tour.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/mobile-tours/__tests__/onboarding-tour.spec.tsx
Due: prettier --write, npx eslint --fix

fix: failed vercel
  packages/cfd/src/Constants/cfd-password-modal-content/cfd-password-modal-content.ts
  packages/cfd/src/Constants/cfd-password-modal-content/cfd-password-modal-strings.ts
  packages/cfd/src/Containers/__tests__/cfd-password-modal.spec.js
  packages/cfd/src/Containers/cfd-password-modal/cfd-password-form/cfd-password-form.tsx
  packages/cfd/src/Containers/cfd-password-modal/cfd-password-modal.tsx
  packages/cfd/src/Containers/cfd-password-modal/modal-elements/password-modal-message.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: make payment method column in buy/sell smaller
  packages/p2p/src/components/buy-sell/buy-sell.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: is_transition default value
  packages/wallets/src/components/ProgressBar/ProgressBar.tsx
Due: prettier --write, npx eslint --fix

Rupato/fix eslint order sort (#10109)
  packages/bot-web-ui/src/components/dashboard/dbot-tours/mobile-tours/__tests__/bot-builder-tour.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/mobile-tours/__tests__/onboarding-tour.spec.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

fix: fixed bug for transfer from app to wallet
  packages/hooks/src/useTransferMessageListBetweenWalletAndTradingApp.ts
Due: prettier --write, npx eslint --fix

chore: added test case for stop bot modal
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/__tests__/stop-bot-modal.spec.tsx
Due: prettier --write, npx eslint --fix

fix: fixed the cTrader australia issue
  packages/appstore/src/components/onboarding-new/static-dashboard.tsx
Due: prettier --write, npx eslint --fix

fix: :truck: fixed path
  packages/account/src/Components/poi/poi-confirm-with-example-form-container/poi-confirm-with-example-form-container.tsx
Due: prettier --write, npx eslint --fix

fix: :truck: fixed path
  packages/account/src/Components/poi/idv-status/idv-failed/idv-failed.tsx
  packages/account/src/Components/poi/poi-confirm-with-example-form-container/poi-confirm-with-example-form-container.tsx
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container-for-mt5.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: rearranged wallet-link-wrapper
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-link/wallet-link-wrapper.tsx
Due: prettier --write, npx eslint --fix

chore: :fire: added codeowener file and also updated PR description
  .github/CODEOWNERS
  .github/pull_request_template.md
Due: prettier --write

ci: add input types in publish actions
  .github/actions/build/action.yml
  .github/actions/publish_to_pages_production/action.yml
  .github/actions/publish_to_pages_staging/action.yml
Due: none

ci: pass proper variables to the actions
  .github/workflows/release_production.yml
  .github/workflows/release_staging.yml
Due: none
