Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

fix(hooks): :memo: resolve PR comments
  packages/hooks/src/useExchangeRate.ts
  packages/hooks/src/useP2PNotificationCount.ts
  packages/hooks/src/useTotalAssetCurrency.ts
Due: prettier --write, npx eslint --fix

fix: updated tour arrow pointer
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/core/src/public/images/common/static_images/bot-tour-step-4.gif
  packages/core/src/public/images/common/static_images/bot-tour-step-5.gif
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: find accouns
  src/common/utils/storageManager.js
Due: prettier --write, npx eslint --fix

feat: trying to add size changing for SVG (not completed)
  packages/appstore/src/assets/svgs/wallets/aud-bg-dark.svg
  packages/appstore/src/assets/svgs/wallets/aud-bg.svg
  packages/appstore/src/assets/svgs/wallets/aud-currency.svg
  packages/appstore/src/assets/svgs/wallets/eur-currency.svg
  packages/appstore/src/assets/svgs/wallets/index.tsx
  packages/appstore/src/assets/svgs/wallets/usd-currency.svg
  packages/appstore/src/components/wallet-header/wallet-header.scss
  packages/appstore/src/components/wallet-header/wallet-header.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/appstore/src/modules/traders-hub/traders-hub.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: failing test cases on cfd-password-manager-modal
  packages/cfd/src/Containers/__tests__/cfd-password-manager-modal.spec.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: lost prop
  packages/cashier/src/containers/routes/error-component/error-component.tsx
Due: prettier --write, npx eslint --fix

refactor: error.tsx props type adjusted
  packages/cashier/src/components/error/error.tsx
Due: prettier --write, npx eslint --fix

refactor: payment-agent-store.ts added await on async call
  packages/cashier/src/stores/payment-agent-store.ts
Due: prettier --write, npx eslint --fix

fix: added bold text for low risk cr accounts in modal
  packages/appstore/src/components/ready-to-update-wallets/ready-to-update-wallets.tsx
  packages/appstore/src/components/ready-to-update-wallets/ready-to-upgrade-form.tsx
  packages/appstore/src/constants/upgrade-info-lists-config.tsx
  packages/appstore/src/types/common.types.ts
Due: prettier --write, npx eslint --fix

refactor: Array<T> => T[] in more cashier files + account-transfer-store.ts type error resolution
  packages/cashier/src/stores/account-transfer-store.ts
  packages/cashier/src/stores/base-store.ts
  packages/cashier/src/stores/payment-agent-store.ts
  packages/cashier/src/types/payment-agent.types.ts
Due: prettier --write, npx eslint --fix

feat: add some icons
  packages/appstore/src/assets/svgs/wallets/index.tsx
  packages/appstore/src/components/wallet-header/wallet-header.scss
  packages/appstore/src/components/wallet-header/wallet-header.tsx
  packages/components/src/components/icon/appstore/ic-appstore-wallet-deposit.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallet-transactions.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallet-transfer.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallet-withdraw.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: optimise svgs
  packages/components/src/components/icon/appstore/ic-appstore-wallet-deposit.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallet-transactions.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallet-transfer.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallet-withdraw.svg
Due: none

feat: add buttons
  packages/appstore/src/components/wallet-header/wallet-header.scss
  packages/appstore/src/components/wallet-header/wallet-header.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: deriv mt5 password modal issue
  packages/cfd/src/Containers/__tests__/cfd-password-modal.spec.js
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/types/cfd-store.types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: TWebsocketCall functions types made async
  packages/cashier/src/types/websocket.types.ts
Due: prettier --write, npx eslint --fix

fix: circlci test error
  packages/account/src/Components/poi/poi-confirm-with-example/__tests__/poi-confirm-with-example.spec.tsx
  packages/account/src/Components/poi/poi-confirm-with-example/index.ts
Due: prettier --write, npx eslint --fix

feat: collapsed wallet header
  packages/appstore/src/components/wallet-header/wallet-header.scss
  packages/appstore/src/components/wallet-header/wallet-header.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/appstore/src/modules/traders-hub/traders-hub.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: market dropdown
  packages/bot-web-ui/src/app/app.jsx
  packages/bot-web-ui/src/components/bot-builder/bot-builder.scss
  packages/bot-web-ui/src/components/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/components/bot-builder/index.tsx
  packages/bot-web-ui/src/components/index.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: cleanup code
  packages/components/src/components/mobile-dialog/mobile-dialog.tsx
  packages/trader/src/Modules/Contract/Components/AccumulatorsStats/__tests__/accumulators-stats.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/__tests__/accumulator.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/accumulator.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/accumulators-amount-mobile.tsx
Due: prettier --write, npx eslint --fix

fix: change code order
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/accumulator.tsx
Due: prettier --write, npx eslint --fix

feat: commit to check in test link
  packages/appstore/src/components/wallet-header/wallet-header.scss
  packages/appstore/src/components/wallet-header/wallet-header.tsx
  packages/components/src/components/icon/appstore/ic-appstore-wallet-aud-bg-dark.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallet-aud-bg.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallet-aud-currency.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallet-eur-currency.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallet-usd-currency.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: add wallet bg with css
  packages/appstore/src/assets/svgs/image-types.tsx
  packages/appstore/src/assets/svgs/wallets/aud-bg-dark.svg
  packages/appstore/src/assets/svgs/wallets/aud-bg.svg
  packages/appstore/src/assets/svgs/wallets/aud-currency.svg
  packages/appstore/src/assets/svgs/wallets/eur-currency.svg
  packages/appstore/src/assets/svgs/wallets/index.tsx
  packages/appstore/src/assets/svgs/wallets/usd-currency.svg
  packages/appstore/src/components/wallet-header/wallet-header.scss
  packages/appstore/src/components/wallet-header/wallet-header.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/components/src/components/icon/appstore/ic-appstore-wallet-aud-bg-dark.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallet-aud-bg.svg
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: add check for dark mode
  packages/appstore/src/components/wallet-header/wallet-header.scss
  packages/appstore/src/components/wallet-header/wallet-header.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: change color for svg for light/dark themes
  packages/appstore/src/components/wallet-header/wallet-header.tsx
  packages/components/src/components/icon/appstore/ic-appstore-wallet-deposit.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallet-transactions.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallet-transfer.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallet-withdraw.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: add hover on buttons
  packages/appstore/src/components/wallet-header/wallet-header.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: add some check for demo wallet
  packages/appstore/src/components/wallet-header/wallet-header.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
Due: prettier --write, npx eslint --fix

feat(cashier): :sparkles: add `CashierOnboardingTitle`
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-title/__test__/cashier-onboarding-title.test.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-title/cashier-onboarding-title.scss
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-title/cashier-onboarding-title.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-title/index.ts
  packages/cashier/src/modules/cashier-onboarding/components/index.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat(cashier): :sparkles: add `CashierOnboardingCard`
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-card/__test__/cashier-onboarding-card.test.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-card/cashier-onboarding-card.scss
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-card/cashier-onboarding-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-card/index.ts
  packages/cashier/src/modules/cashier-onboarding/components/index.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat(cashier): :sparkles: add `CashierOnboardingIconMarquee`
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-card/cashier-onboarding-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-icon-marquee/__test__/cashier-onboarding-icon-marquee.test.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-icon-marquee/cashier-onboarding-icon-marquee.scss
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-icon-marquee/cashier-onboarding-icon-marquee.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-icon-marquee/index.ts
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-title/cashier-onboarding-title.tsx
  packages/cashier/src/modules/cashier-onboarding/components/index.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

style(cashier): :lipstick: clean-up styles
  packages/cashier/src/components/cashier-onboarding/__tests__/cashier-onboarding-details.spec.tsx
  packages/cashier/src/components/cashier-onboarding/cashier-onboarding-details.tsx
  packages/cashier/src/components/cashier-onboarding/cashier-onboarding-providers.ts
  packages/cashier/src/components/cashier-onboarding/cashier-onboarding.scss
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-card/cashier-onboarding-card.scss
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-icon-marquee/__test__/cashier-onboarding-icon-marquee.test.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-icon-marquee/cashier-onboarding-icon-marquee.scss
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-icon-marquee/cashier-onboarding-icon-marquee.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-title/cashier-onboarding-title.scss
  packages/cashier/src/modules/cashier-onboarding/index.tsx
  packages/cashier/src/modules/cashier-onboarding/onboarding.scss
  packages/cashier/src/modules/index.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: formik init
  packages/account/src/Components/poi/poi-confirm-with-example/index.ts
  packages/account/src/Components/poi/poi-confirm-with-example/poi-confirm-with-example.jsx
  packages/account/src/Components/poi/poi-confirm-with-example/poi-confirm-with-example.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

style: :lipstick: fixes jurisdiction modal width
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal.tsx
  packages/cfd/src/sass/cfd-dashboard.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: :bug: jurisdiction testcase fix
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-card-front.spec.tsx
Due: prettier --write, npx eslint --fix

refactor: to fix cicleci issues
  packages/account/src/Components/api-token/_tests_/api-token.spec.js
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/personal-details.spec.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: :lipstick: fixes modal height clipping
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-content-wrapper.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal.tsx
  packages/cfd/src/sass/cfd-dashboard.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: changed param checking from p2p to dp2p
  packages/p2p/src/components/verification/verification.jsx
  packages/shared/src/utils/platform/platform.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: prettier package added
  .prettierrc
  .prettierrc.js
  package-lock.json
  package.json
Due: prettier --write, npx eslint --fix

fix: fixed by prettier
  packages/components/src/components/calendar/calendar.scss
  packages/components/src/components/label/label.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: :lipstick: fixes modal card heights
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-card.tsx
  packages/cfd/src/sass/cfd-dashboard.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write
