Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: test
  packages/appstore/src/modules/trading-hub/index.tsx
  packages/appstore/src/modules/trading-hub/trading-hub.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: change qr code based on the os
  packages/cfd/src/Components/cfd-download-container.tsx
  packages/cfd/src/Helpers/constants.ts
Due: prettier --write, npx eslint --fix

fix: rerender for first dialog (#7141)
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
Due: prettier --write, npx eslint --fix

fix: test
  packages/appstore/src/components/CFDs/cfd-accounts.scss
  packages/appstore/src/components/CFDs/cfd-real-accounts.tsx
  packages/appstore/src/modules/trading-hub/index.tsx
  packages/appstore/src/modules/trading-hub/trading-hub.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: accu sold contract tooltip animation change (#49)
  packages/trader/src/Modules/SmartChart/Components/Markers/__tests__/accumulators-profit-loss-tooltip.spec.js
  packages/trader/src/Modules/SmartChart/Components/Markers/accumulators-profit-loss-tooltip.jsx
  packages/trader/src/sass/app/modules/smart-chart.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Maryia/82257/Contract Details tick markers + AccumulatorsProfitLossText refactoring (#48)
  packages/shared/src/utils/helpers/logic.js
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
  packages/trader/src/Modules/SmartChart/Components/Markers/accumulators-profit-loss-text.jsx
  packages/trader/src/Modules/SmartChart/Components/all-markers.jsx
  packages/trader/src/sass/app/modules/smart-chart.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: test
  packages/appstore/src/components/CFDs/cfd-accounts.scss
  packages/appstore/src/modules/trading-hub/index.tsx
  packages/appstore/src/modules/trading-hub/trading-hub.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: test
  packages/appstore/src/modules/trading-hub/trading-hub.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: trading assessment alignment (#7146)
  packages/core/src/sass/account-wizard.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

fix: change guide link with multiple language
  packages/core/src/App/Containers/AcuityDownloadModal/acuity-download-modal.tsx
Due: prettier --write, npx eslint --fix

refactor: whitelist staging and qa for testing tools
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.jsx
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: remove onboarding background on signup
  packages/appstore/src/assets/svgs/wallet/ic-appstore-deriv-trading-logo.svg
  packages/appstore/src/assets/svgs/wallet/index.tsx
  packages/appstore/src/modules/onboarding/empty-onboarding.tsx
  packages/appstore/src/modules/onboarding/onboarding.scss
  packages/appstore/src/modules/onboarding/onboarding.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: remove ols tests from bot-skeleton
  packages/bot-skeleton/src/services/tradeEngine/__tests__/BotApi.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/StopStart.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/Ticks.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/indicators.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/sanitize-test/Blocks.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/sanitize-test/Trade.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/tools-test/Candles.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/tools-test/Misc.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/tools-test/Time.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/jsi.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/tools.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: remove chai from tests
  packages/cfd/src/Utils/Validator/__tests__/error.spec.js
  packages/reports/src/Utils/Validator/__tests__/error.spec.js
  packages/trader/src/App/Components/Elements/ToggleButton/__tests__/toggle-button.spec.js
  packages/trader/src/App/Components/Elements/TogglePositions/__tests__/toggle-positions.spec.js
  packages/trader/src/Utils/Validator/__tests__/error.spec.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: remove chai from tests
  packages/cashier/src/containers/routes/__tests__/route-with-sub-routes.spec.tsx
  packages/shared/src/test_utils/test_common.ts
  packages/shared/src/utils/contract/__tests__/contract.spec.ts
  packages/shared/src/utils/currency/__tests__/currency.spec.ts
  packages/shared/src/utils/date/__tests__/date-time.spec.ts
  packages/shared/src/utils/helpers/__tests__/barrier.ts
  packages/shared/src/utils/helpers/__tests__/barriers.ts
  packages/shared/src/utils/helpers/__tests__/durations.ts
  packages/shared/src/utils/helpers/__tests__/format-response.ts
  packages/shared/src/utils/helpers/__tests__/start-date.ts
  packages/shared/src/utils/object/__tests__/object.spec.ts
  packages/shared/src/utils/route/__tests__/route.spec.ts
Due: prettier --write, npx eslint --fix

refactor: remove chai from tests
  packages/core/src/App/Components/Elements/NotificationMessage/__tests__/close-button.spec.jsx
  packages/core/src/App/Components/Elements/NotificationMessage/__tests__/notification.spec.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: ad form for new advertisers
  packages/p2p/src/stores/general-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: responsive sroll issue for traders hub
  packages/appstore/src/modules/trading-hub/index.tsx
Due: prettier --write, npx eslint --fix

refactor: creating validation hook and feature flag
  packages/account/src/Components/hooks/useToggleValidation.tsx
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.jsx
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: block repetitive numbers with dots and hyphens inbetween
  packages/account/src/Components/poi/idv-document-submit/utils.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: end-to-end test setup
  end-to-end-test/.github/workflows/playwright.yml
  end-to-end-test/.gitignore
  end-to-end-test/package-lock.json
  end-to-end-test/package.json
  end-to-end-test/playwright.config.ts
Due: prettier --write, npx eslint --fix

docs: add env example file
  end-to-end-test/.env.example
Due: none

fix: PR changes
  packages/core/src/sass/account-wizard.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: routing
  packages/core/build/config.js
  packages/core/src/App/app.jsx
  packages/p2p/index.js
  packages/p2p/src/components/app.jsx
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/stores/index.js
  packages/p2p/src/stores/p2p-store.js
  packages/p2p/webpack.config.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: the page behavier for quick strategy "create and edit", after click go to bot-builder
  packages/bot-skeleton/src/scratch/dbot-store.js
  packages/bot-skeleton/src/scratch/hooks/workspace_svg.js
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/footer.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.types.ts
  packages/bot-web-ui/src/stores/app-store.js
  packages/bot-web-ui/src/stores/blockly-store.ts
  packages/bot-web-ui/src/stores/quick-strategy-store.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: tooltip style and tests (#51)
  packages/components/src/components/contract-card/contract-card-items/__tests__/tick-counter-bar.spec.js
  packages/trader/src/Modules/Contract/Components/AccumulatorsStats/__tests__/ticks-history-counter.spec.js
  packages/trader/src/Modules/SmartChart/Components/Markers/__tests__/accumulators-profit-loss-text.spec.js
  packages/trader/src/Modules/SmartChart/Components/Markers/__tests__/accumulators-profit-loss-tooltip.spec.js
  packages/trader/src/Modules/SmartChart/Components/Markers/accumulators-profit-loss-text.jsx
  packages/trader/src/Modules/SmartChart/Components/Markers/accumulators-profit-loss-tooltip.jsx
  packages/trader/src/Modules/Trading/Components/Form/RadioGroupWithInfoMobile/__tests__/radio-group-with-info-mobile.spec.js
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/accumulator.jsx
  packages/trader/src/sass/app/modules/smart-chart.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Maryia/83311/Refactoring, tests, TS migration (#50)
  packages/shared/src/utils/helpers/dummy_accumulators_data.js
  packages/shared/src/utils/helpers/index.js
  packages/trader/src/Modules/Contract/Components/AccumulatorsStats/__tests__/accumulators-stats-manual-modal.spec.js
  packages/trader/src/Modules/Contract/Components/AccumulatorsStats/__tests__/accumulators-stats.spec.js
  packages/trader/src/Modules/Contract/Components/AccumulatorsStats/accumulators-stats-manual-modal.jsx
  packages/trader/src/Modules/SmartChart/Components/Markers/accumulators-chart-elements.jsx
  packages/trader/src/Modules/Trading/Components/Elements/__tests__/purchase-buttons-overlay.spec.js
  packages/trader/src/Modules/Trading/Components/Elements/purchase-buttons-overlay.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/accumulator.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/accumulator.spec.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: maryia/circleci eslint error
  packages/components/src/components/contract-card/contract-card-items/__tests__/tick-counter-bar.spec.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: maryia/added dark theme video manual for stats + fix for circleci
  packages/components/src/components/contract-card/contract-card-items/__tests__/tick-counter-bar.spec.js
  packages/core/src/public/images/common/static_images/accumulators_manual_desktop.mp4
  packages/core/src/public/images/common/static_images/accumulators_manual_desktop.webm
  packages/core/src/public/images/common/static_images/accumulators_manual_desktop_dark.mp4
  packages/core/src/public/images/common/static_images/accumulators_manual_desktop_dark.webm
  packages/core/src/public/images/common/static_images/accumulators_manual_mobile.mp4
  packages/core/src/public/images/common/static_images/accumulators_manual_mobile.webm
  packages/core/src/public/images/common/static_images/accumulators_manual_mobile_dark.mp4
  packages/core/src/public/images/common/static_images/accumulators_manual_mobile_dark.webm
  packages/trader/src/Modules/Contract/Components/AccumulatorsStats/accumulators-stats-manual-modal.jsx
  packages/trader/src/Modules/Contract/Components/AccumulatorsStats/accumulators-stats.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

test: maryia/added tests for AccumulatorsInfoDisplay & LabeledQuantityInputMobile
  packages/trader/src/Modules/Trading/Components/Form/LabeledQuantityInputMobile/__tests__/labeled-quantity-input-mobile.spec.js
  packages/trader/src/Modules/Trading/Components/Form/LabeledQuantityInputMobile/labeled-quantity-input-mobile.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/__tests__/accumulators-info-display.spec.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: remove duplicates value and change interface to type
  packages/account/src/Components/financial-details/financial-details.tsx
  packages/components/src/components/themed-scrollbars/themed-scrollbars.tsx
Due: prettier --write, npx eslint --fix

bugfix: 83184 memoize default header menuitem child component
  packages/core/src/App/Containers/Layout/header/default-header.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: route config
  packages/appstore/src/constants/routes-config.ts
Due: prettier --write, npx eslint --fix

bugfix: 83184 memoize dtrader header menuitem child component and revert default header
  packages/core/src/App/Containers/Layout/header/default-header.jsx
  packages/core/src/App/Containers/Layout/header/dtrader-header.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor(stores): :recycle: replace `observer` from `mobx-react-lite` with `@deriv/stores`
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-locked/account-transfer-locked.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-no-account/account-transfer-no-account.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-receipt/account-transfer-receipt.tsx
  packages/cashier/src/pages/account-transfer/account-transfer.tsx
  packages/cashier/src/pages/deposit/crypto-deposit/crypto-deposit.tsx
  packages/cashier/src/pages/deposit/deposit-locked/deposit-locked.tsx
  packages/cashier/src/pages/deposit/deposit.tsx
  packages/cashier/src/pages/on-ramp/on-ramp.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-list/deposit-tab.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-list/payment-agent-list.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-list/withdrawal-tab.tsx
  packages/cashier/src/pages/withdrawal/crypto-withdraw-form/crypto-withdraw-form.tsx
  packages/cashier/src/pages/withdrawal/crypto-withdraw-receipt/crypto-withdraw-receipt.tsx
  packages/cashier/src/pages/withdrawal/withdraw/withdraw.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-locked/withdrawal-locked.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-verification-email/withdrawal-verification-email.tsx
  packages/cashier/src/pages/withdrawal/withdrawal.tsx
  packages/stores/package.json
  packages/stores/src/index.ts
Due: prettier --write, npx eslint --fix

fix: added mock function for useModalManagerContext in app content test
  packages/p2p/src/components/__tests__/app-content.spec.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor(stores): :recycle: replace `observer` from `mobx-react-lite` with `@deriv/stores`
  packages/cashier/src/pages/account-transfer/account-transfer-receipt/account-transfer-receipt.tsx
Due: prettier --write, npx eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
