Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

chore: updated OrdersTableRow test file
  packages/p2p-v2/src/pages/orders/screens/Orders/OrdersTableRow/OrdersTableRow.tsx
  packages/p2p-v2/src/pages/orders/screens/Orders/OrdersTableRow/__tests__/OrderTableRow.spec.tsx
Due: prettier --write, npx eslint --fix

chore: removed commented code
  packages/p2p-v2/src/pages/buy-sell/screens/BuySellTable/BuySellTable.tsx
Due: prettier --write, npx eslint --fix

fix: sonar cloud issue
  packages/p2p-v2/src/routes/Router.tsx
Due: prettier --write, npx eslint --fix

chore: :zap: adding rtl comments
  packages/components/src/components/input-field/input-field.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: remove unused import in spec file
  packages/cashier-v2/src/components/CryptoFiatConverter/__tests__/CryptoFiatConverter.spec.tsx
Due: prettier --write, npx eslint --fix

feat: add tracking
  packages/appstore/src/components/banners/book-banner/banner-template.tsx
  packages/appstore/src/components/banners/book-banner/book-banner.tsx
Due: prettier --write, npx eslint --fix

Dhruv/coj 653/integrate the login history component accountsv2 (#14353)
  package-lock.json
  packages/account-v2/package.json
  packages/account-v2/src/containers/LoginHistoryTable/LoginHistoryRow.tsx
  packages/account-v2/src/containers/LoginHistoryTable/LoginHistoryTable.tsx
  packages/account-v2/src/containers/index.ts
  packages/account-v2/src/pages/ConnectedApps/ConnectedAppsTable.tsx
  packages/account-v2/src/pages/LoginHistory/LoginHistory.tsx
  packages/account-v2/src/pages/LoginHistory/index.ts
  packages/account-v2/src/pages/index.ts
  packages/account-v2/src/router/routesConfig.tsx
  packages/account-v2/src/utils/formattedLoginHistoryData.ts
  packages/account-v2/src/utils/index.ts
  packages/api-v2/src/hooks/index.ts
  packages/api-v2/src/hooks/useLoginHistory.ts
Due: prettier --write, npx eslint --fix

fix: style fixes, pending tests
  packages/api-v2/src/hooks/p2p/entity/advert/p2p-advert/useAdvertCreate.ts
  packages/p2p-v2/src/components/Modals/AdCreateEditErrorModal/AdCreateEditErrorModal.scss
  packages/p2p-v2/src/components/Modals/AdCreateEditErrorModal/AdCreateEditErrorModal.tsx
  packages/p2p-v2/src/components/Modals/AdCreateEditErrorModal/__tests__/AdCreateEditErrorModal.spec.tsx
  packages/p2p-v2/src/components/Modals/AdCreateEditSuccessModal/AdCreateEditSuccessModal.scss
  packages/p2p-v2/src/components/Modals/AdCreateEditSuccessModal/AdCreateEditSuccessModal.tsx
  packages/p2p-v2/src/components/Modals/AdCreateEditSuccessModal/__tests__/AdCreateEditSuccessModal.spec.tsx
  packages/p2p-v2/src/components/Modals/AdCreateEditSuccessModal/index.ts
  packages/p2p-v2/src/components/Modals/PreferredCountriesModal/PreferredCountriesDropdown/PreferredCountriesDropdown.tsx
  packages/p2p-v2/src/components/Search/Search.tsx
  packages/p2p-v2/src/pages/my-ads/screens/CreateEditAd/CreateEditAd.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

fix: removed temp changes
  packages/api-v2/src/hooks/p2p/entity/advert/p2p-advert/useAdvertCreate.ts
  packages/p2p-v2/src/pages/my-ads/screens/CreateEditAd/CreateEditAd.tsx
Due: prettier --write, npx eslint --fix

chore: move setters to useEffect to avoid render phase
  packages/core/src/App/Containers/Redirect/redirect.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: added account selection for dropdown
  packages/cashier-v2/src/lib/Transfer/components/TransferForm/TransferForm.tsx
  packages/cashier-v2/src/lib/Transfer/components/TransferForm/components/TransferAccountSelection/TransferAccountSelection.tsx
  packages/cashier-v2/src/lib/Transfer/components/TransferForm/components/TransferAccountSelection/components/TransferDropdown/TransferDropdown.tsx
  packages/cashier-v2/src/lib/Transfer/components/TransferForm/components/TransferAccountSelection/components/TransferDropdown/components/TransferAccountTile/TransferAccountTile.tsx
  packages/cashier-v2/src/lib/Transfer/components/TransferForm/components/TransferAccountSelection/components/TransferDropdown/components/TransferDropdownList/TransferDropdownList.tsx
Due: prettier --write, npx eslint --fix

fix: update content
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.tsx
Due: prettier --write, npx eslint --fix

[BOT] Shafin/bot 1586/fix RTL workspace issue (#14368)
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-web-ui/src/stores/toolbox-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: applied comments
  packages/wallets/src/features/cfd/flows/CTrader/AvailableCTraderAccountsList/AvailableCTraderAccountsList.tsx
  packages/wallets/src/features/cfd/modals/CTraderSuccessModal/components/CTraderSuccessModalButtons.tsx
Due: prettier --write, npx eslint --fix

fix: moment test case (#14409)
  packages/reports/src/Components/Form/CompositeCalendar/__tests__/two-month-picker.spec.tsx
Due: prettier --write, npx eslint --fix

chore: revert back
  packages/core/src/App/Containers/Redirect/redirect.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: Created a hook for fetching login history data
  packages/account-v2/src/hooks/useLoginHistoryData.ts
Due: prettier --write, npx eslint --fix

fix: index
  packages/account-v2/src/pages/LoginHistoryTable/LoginHistoryTable.tsx
Due: prettier --write, npx eslint --fix

feat: Created static for Login History Section in accounts-v2
  packages/account-v2/src/pages/LoginHistoryTable/LoginHistoryTable.tsx
Due: prettier --write, npx eslint --fix

feat: added content to table
  packages/account-v2/src/pages/LoginHistoryTable/LoginHistoryTable.tsx
Due: prettier --write, npx eslint --fix

chore: updated hook with new use query params
  packages/p2p-v2/src/hooks/__tests__/useModalManager.spec.tsx
  packages/p2p-v2/src/hooks/index.ts
  packages/p2p-v2/src/hooks/useModalManager.ts
Due: prettier --write, npx eslint --fix

chore: reverted commented code
  packages/p2p-v2/src/hooks/__tests__/useModalManager.spec.tsx
Due: prettier --write, npx eslint --fix

chore: well-known files update
  packages/core/src/public/.well-known/apple-app-site-association
  packages/core/src/public/.well-known/assetslinks.json
Due: prettier --write

fix: styles fixes
  packages/p2p-v2/src/components/Modals/AdConditionsModal/AdConditionsModal.tsx
  packages/p2p-v2/src/components/Modals/AdCreateEditErrorModal/AdCreateEditErrorModal.scss
  packages/p2p-v2/src/components/Modals/AdCreateEditErrorModal/AdCreateEditErrorModal.tsx
  packages/p2p-v2/src/components/Modals/AdCreateEditSuccessModal/AdCreateEditSuccessModal.tsx
  packages/p2p-v2/src/components/Modals/PreferredCountriesModal/PreferredCountriesDropdown/PreferredCountriesDropdown.scss
  packages/p2p-v2/src/components/Modals/PreferredCountriesModal/PreferredCountriesDropdown/PreferredCountriesDropdown.tsx
  packages/p2p-v2/src/components/Modals/PreferredCountriesModal/PreferredCountriesFooter/PreferredCountriesFooter.tsx
  packages/p2p-v2/src/components/Modals/PreferredCountriesModal/PreferredCountriesModal.scss
  packages/p2p-v2/src/components/Modals/PreferredCountriesModal/PreferredCountriesModal.tsx
  packages/p2p-v2/src/components/Modals/index.ts
  packages/p2p-v2/src/pages/my-ads/components/AdConditionContentHeader/AdConditionContentHeader.tsx
  packages/p2p-v2/src/pages/my-ads/components/AdConditionContentHeader/__tests__/AdConditionContentHeader.spec.tsx
  packages/p2p-v2/src/pages/my-ads/components/AdFormController/AdFormController.tsx
  packages/p2p-v2/src/pages/my-ads/components/AdTypeSection/AdTypeSection.scss
  packages/p2p-v2/src/pages/my-ads/components/PreferredCountriesSelector/PreferredCountriesSelector.scss
  packages/p2p-v2/src/pages/my-ads/components/PreferredCountriesSelector/PreferredCountriesSelector.tsx
  packages/p2p-v2/src/pages/my-ads/components/index.ts
  packages/p2p-v2/src/pages/my-ads/screens/CreateEditAd/CreateEditAd.tsx
  packages/p2p-v2/src/pages/my-ads/screens/CreateEditAd/__tests__/CreateEditAd.spec.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

[WALL] Lubega / WALL-3675 / Demo ctrader design updates (#14398)
  packages/wallets/src/components/Base/ModalStepWrapper/ModalStepWrapper.scss
  packages/wallets/src/features/cfd/flows/CTrader/AvailableCTraderAccountsList/AvailableCTraderAccountsList.tsx
  packages/wallets/src/features/cfd/modals/CTraderSuccessModal/CTraderSuccessModal.tsx
  packages/wallets/src/features/cfd/modals/CTraderSuccessModal/components/CTraderSuccessModalButtons.tsx
  packages/wallets/src/features/cfd/modals/CTraderSuccessModal/components/index.ts
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeDetailsItem/MT5TradeDetailsItem.scss
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeDetailsItem/MT5TradeDetailsItem.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeScreen.scss
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeScreen.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: text size fix for no seach results
  packages/p2p-v2/src/components/Modals/PreferredCountriesModal/NoSearchResults/NoSearchResults.tsx
  packages/p2p-v2/src/components/Modals/PreferredCountriesModal/PreferredCountriesDropdown/PreferredCountriesDropdown.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Revert "Revert "Akmal / feat: update entry spot description (#13854)" (#13865)"
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-glossary.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-glossary.spec.tsx
Due: prettier --write, npx eslint --fix

chore: resolve comments and added a TODO for replacing colors with values from deriv ui
  packages/wallets/src/components/WalletsAddMoreCardBanner/WalletsAddMoreCardBanner.scss
  packages/wallets/src/components/WalletsAddMoreCardBanner/WalletsAddMoreCardBanner.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: render out trading assessment form
  packages/account-v2/src/constants/tradingAssessmentQuestions.ts
  packages/account-v2/src/containers/TradingAssessmentForm/TradingAssessmentContainer.tsx
  packages/account-v2/src/containers/TradingAssessmentForm/TradingAssessmentForm.tsx
Due: prettier --write, npx eslint --fix

chore: use device from ui
  packages/p2p-v2/src/hooks/__tests__/useModalManager.spec.tsx
  packages/p2p-v2/src/hooks/useModalManager.ts
Due: prettier --write, npx eslint --fix

Revert "Revert "Akmal / feat: update entry spot description (#13854)" (#13865)" (#14415)
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-glossary.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-glossary.spec.tsx
Due: prettier --write, npx eslint --fix

fix: failing test in search results fixed
  packages/p2p-v2/src/components/Modals/PreferredCountriesModal/NoSearchResults/__tests__/NoSearchResults.spec.tsx
Due: prettier --write, npx eslint --fix

chore: refactor revoke hook and update package ui
  package-lock.json
  packages/account-v2/package.json
  packages/account-v2/src/pages/ConnectedApps/ConnectedApps.tsx
  packages/account-v2/src/pages/ConnectedApps/ConnectedAppsSidebar.tsx
  packages/api-v2/src/hooks/useRevokeConnectedApps.ts
  packages/cashier-v2/package.json
  packages/p2p-v2/package.json
  packages/tradershub/package.json
Due: prettier --write, npx eslint --fix
