Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: change turkish name
  packages/core/src/Utils/Language/__tests__/language.spec.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: :art: removes unwanted local state
  packages/account/src/Components/forms/personal-details-form.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: remove unnecessary file
  packages/p2p/src/components/file-uploader-component/__tests__/file-uploader-component.spec.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: replaced p2p-my-ads__table with my-ads-table style name
  packages/p2p/src/pages/my-ads/my-ads-row-renderer.jsx
  packages/p2p/src/pages/my-ads/my-ads-table.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: refactor css style and test cases
  packages/account/src/Components/form-body-section/__tests__/form-body-section.spec.tsx
  packages/account/src/Components/form-body-section/form-body-section.tsx
  packages/account/src/Sections/Verification/ProofOfOwnership/__test__/proof-of-ownership-form.spec.js
  packages/core/src/sass/app/_common/components/onfido-container.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: :wastebasket: cleans test file
  packages/account/src/Components/forms/__tests__/personal-details-from.spec.tsx
Due: prettier --write, npx eslint --fix

chore: hook rendering logic to a seperate function
  packages/p2p/src/hooks/__tests__/use-p2p-rendered-adverts.spec.ts
Due: prettier --write, npx eslint --fix

chore: add type for config
  packages/p2p/src/hooks/__tests__/use-p2p-rendered-adverts.spec.ts
Due: prettier --write, npx eslint --fix

chris-g/build: Implement a hold step for UAT so not everything gets deployed
  .circleci/config.yml
Due: none

chore: update language file
  packages/p2p/src/components/i18next/index.ts
Due: prettier --write, npx eslint --fix

refactor: remove hardcoding mt5 webtrader url, get from api
  packages/cfd/src/Containers/dmt5-trade-modal.tsx
  packages/cfd/src/Helpers/constants.ts
Due: prettier --write, npx eslint --fix

fix: props, design, refactor
  packages/wallets/src/components/DesktopWalletsList/DesktopWalletsList.tsx
  packages/wallets/src/components/WalletCard/WalletCard.tsx
  packages/wallets/src/components/WalletCashierHeader/WalletCashierHeader.tsx
  packages/wallets/src/components/WalletListCard/WalletListCard.tsx
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
  packages/wallets/src/components/WalletListCardBadge/WalletListCardBadge.tsx
  packages/wallets/src/components/WalletListCardIDetails/WalletListCardIDetails.tsx
  packages/wallets/src/components/WalletTransfer/WalletTransfer.scss
  packages/wallets/src/components/WalletTransfer/WalletTransfer.tsx
  packages/wallets/src/components/WalletTransferForm/WalletTransferForm.scss
  packages/wallets/src/components/WalletTransferForm/WalletTransferForm.tsx
  packages/wallets/src/components/WalletTransferForm/index.ts
  packages/wallets/src/components/WalletTransferFormAccountCard/WalletTransferFormAccountCard.scss
  packages/wallets/src/components/WalletTransferFormAccountCard/WalletTransferFormAccountCard.tsx
  packages/wallets/src/components/WalletTransferFormAccountSelection/WalletTransferFormAccountSelection.tsx
  packages/wallets/src/components/WalletTransferFormDropdown/WalletTransferFormDropdown.scss
  packages/wallets/src/components/WalletTransferFormDropdown/WalletTransferFormDropdown.tsx
  packages/wallets/src/components/WalletTransferFormInputField/WalletTransferFormInputField.tsx
  packages/wallets/src/components/index.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Rostislav / WALL-1843 / Wallet transaction list fixes (#10060)
  packages/appstore/src/components/transaction-list/transaction-list.scss
  packages/appstore/src/components/transaction-list/transaction-list.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: :wastebasket: cleans test file
  packages/account/src/Components/forms/__tests__/personal-details-form.spec.tsx
Due: prettier --write, npx eslint --fix

fix: code smells
  packages/p2p/src/components/modal-manager/modals/cancel-add-payment-method-modal/__tests__/cancel-add-payment-method-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/filter-modal/__tests__/filter-modal-result.spec.tsx
  packages/p2p/src/components/modal-manager/modals/filter-modal/__tests__/filter-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/loading-modal/__tests__/loading-modal.spec.tsx
Due: prettier --write, npx eslint --fix

docs: change doc string
  packages/p2p/src/hooks/use-p2p-rendered-adverts.ts
Due: prettier --write, npx eslint --fix

chore: update limit from 10 to 50
  packages/hooks/src/useP2PAdvertList.ts
Due: prettier --write, npx eslint --fix

chore: remove offset of 0
  packages/p2p/src/hooks/use-p2p-advertiser-adverts.ts
  packages/p2p/src/hooks/use-p2p-rendered-adverts.ts
Due: prettier --write, npx eslint --fix

chore: destructure store properties based on code review
  packages/p2p/src/hooks/use-p2p-advertiser-adverts.ts
Due: prettier --write, npx eslint --fix

refactor: remove unused functions in store (#10196)
  packages/p2p/src/stores/advertiser-page-store.js
  packages/p2p/src/stores/buy-sell-store.js
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/stores/my-ads-store.js
  packages/p2p/src/stores/my-profile-store.js
  packages/p2p/src/stores/order-details-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: :bug: fixed re-render-issue (#10089)
  packages/account/src/Components/poi/poi-confirm-with-example-form-container/__tests__/poi-confirm-with-example-form-container.spec.tsx
  packages/account/src/Components/poi/poi-confirm-with-example-form-container/poi-confirm-with-example-form-container.tsx
Due: prettier --write, npx eslint --fix

fix: added 2 new status for withdrawal (#9771)
  packages/api/types.ts
  packages/cashier/src/constants/transaction-status.tsx
  packages/cashier/src/modules/crypto-transactions/helpers/crypto-transactions-mapper.tsx
Due: prettier --write, npx eslint --fix

fix: :bug: Trader's hub onboarding get button animation (#10020)
  packages/appstore/src/components/onboarding-new/static-cfd-account-manager.scss
  packages/appstore/src/components/onboarding-new/static-cfd-account-manager.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

accounts/refactor: :recycle: container section in accounts package (#9832)
  packages/account/src/Components/Routes/binary-link.tsx
  packages/account/src/Components/Routes/binary-routes.tsx
  packages/account/src/Components/Routes/helpers.ts
  packages/account/src/Components/Routes/route-with-sub-routes.tsx
  packages/account/src/Components/error-component/error-component.tsx
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/reset-trading-password-modal/reset-trading-password-modal.tsx
  packages/account/src/Constants/routes-config.js
  packages/account/src/Containers/Account/__tests__/account.spec.tsx
  packages/account/src/Containers/Account/__tests__/tradinghub-logout.spec.tsx
  packages/account/src/Containers/Account/account.tsx
  packages/account/src/Containers/Account/page-overlay-wrapper.tsx
  packages/account/src/Containers/Account/tradinghub-logout.tsx
  packages/account/src/Containers/__tests__/reset-trading-passwords.spec.tsx
  packages/account/src/Containers/__tests__/routes.spec.tsx
  packages/account/src/Containers/account.jsx
  packages/account/src/Containers/reset-trading-password.tsx
  packages/account/src/Containers/routes.tsx
  packages/account/src/Helpers/flatten.js
  packages/account/src/Helpers/utils.tsx
  packages/account/src/Sections/index.js
  packages/account/src/Types/common.type.ts
  packages/cfd/src/types/types.ts
  packages/components/src/components/page-error/page-error.tsx
  packages/components/src/components/vertical-tab/vertical-tab.tsx
  packages/core/src/Stores/ui-store.js
  packages/shared/src/utils/constants/jurisdictions-config.ts
  packages/shared/src/utils/route/route.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: change document title for trader's hub (#9710)
  packages/appstore/src/constants/routes-config.ts
  packages/core/src/App/Constants/routes-config.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

likhith/feat: :adhesive_bandage: prioritizing BE data over FE config (#9285)
  packages/account/src/Components/forms/idv-form.tsx
  packages/shared/src/utils/config/adapters.ts
Due: prettier --write, npx eslint --fix

henry/opt-348/responsive-stake-duration-improvement-vanilla (#9819)
  packages/trader/src/Modules/Trading/Components/Elements/mobile-widget.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/__tests__/min-max-stake-info.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/amount-mobile.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/min-max-stake-info.tsx
  packages/trader/src/Modules/Trading/Containers/trade-params-mobile.jsx
  packages/trader/src/sass/app/_common/mobile-widget.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
