Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

fix: fix bugs for conversion in TransferAmountConverter
  packages/cashier-v2/src/lib/Transfer/components/TransferForm/components/TransferAmountConverter/TransferAmountConverter.tsx
Due: prettier --write, npx eslint --fix

feat: add placeholders for profit and loss fields with text enter amount
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/inputs/qs-input.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/quick-strategy.tsx
Due: prettier --write, npx eslint --fix

feat: add some lazy loadings
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/appstore/src/components/routes/routes.tsx
  packages/cfd/src/Constants/routes-config.js
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/Layout/header/header.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: failing testcases
  packages/account-v2/src/containers/POAForm/DocumentSubmission/__tests__/DocumentSubmission.spec.tsx
Due: prettier --write, npx eslint --fix

fix: style
  packages/cfd/src/Containers/mt5-migration-modal/mt5-migration-front-side-content.tsx
  packages/cfd/src/Containers/mt5-migration-modal/mt5-migration-modal.scss
  packages/cfd/src/Containers/mt5-migration-modal/mt5-migration-modal.tsx
  packages/shared/src/utils/cfd/cfd.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: change flag based on BE
  packages/hooks/src/__tests__/useResidenceSelfDeclaration.spec.tsx
  packages/hooks/src/useResidenceSelfDeclaration.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

feat: added TransferPercentageSelector
  packages/cashier-v2/src/components/index.ts
  packages/cashier-v2/src/lib/Transfer/components/TransferForm/TransferForm.tsx
  packages/cashier-v2/src/lib/Transfer/components/TransferForm/components/TransferPercentageSelector/TransferPercentageSelector.module.scss
  packages/cashier-v2/src/lib/Transfer/components/TransferForm/components/TransferPercentageSelector/TransferPercentageSelector.tsx
  packages/cashier-v2/src/lib/Transfer/components/TransferForm/components/TransferPercentageSelector/index.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: back to overriding account switching in wallets
  packages/api-v2/src/AuthProvider.tsx
  packages/wallets/src/components/WalletListCardDropdown/WalletListCardDropdown.tsx
  packages/wallets/src/components/WalletTourGuide/WalletMobileTourGuide.tsx
  packages/wallets/src/components/WalletTourGuide/WalletTourGuide.tsx
  packages/wallets/src/components/WalletsAddMoreCardBanner/WalletsAddMoreCardBanner.tsx
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsButton.tsx
  packages/wallets/src/hooks/__tests__/useWalletAccountSwitcher.spec.tsx
  packages/wallets/src/hooks/useWalletAccountSwitcher.ts
  packages/wallets/src/routes/WalletsListingRoute/WalletsListingRoute.tsx
Due: prettier --write, npx eslint --fix

fix: pr comments
  packages/p2p-v2/src/components/BuySellForm/BuySellFormFooter/BuySellFormFooter.tsx
  packages/p2p-v2/src/components/PaymentMethodCard/PaymentMethodCard.tsx
  packages/p2p-v2/src/components/PaymentMethodCard/PaymentMethodCardHeader/PaymentMethodCardHeader.tsx
  packages/p2p-v2/types.ts
Due: prettier --write, npx eslint --fix

fix: fix for TransferPercentageSelector
  packages/cashier-v2/src/lib/Transfer/components/TransferForm/components/TransferPercentageSelector/TransferPercentageSelector.module.scss
  packages/cashier-v2/src/lib/Transfer/components/TransferForm/components/TransferPercentageSelector/TransferPercentageSelector.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

[account-v2]/likhith/COJ-599/feat: added Personal details with sample image (#13923)
  packages/account-v2/src/App.tsx
  packages/account-v2/src/assets/proof-of-identity/personal-details-example.svg
  packages/account-v2/src/components/FormFields/FormDropDownField.tsx
  packages/account-v2/src/components/FormFields/FormInputField.tsx
  packages/account-v2/src/components/FormFields/__tests__/FormInputField.spec.tsx
  packages/account-v2/src/containers/POAForm/CommonMistakeExample/index.ts
  packages/account-v2/src/containers/POAForm/DocumentSubmission/DocumentSubmission.tsx
  packages/account-v2/src/containers/POAForm/DocumentSubmission/__tests__/DocumentSubmission.spec.tsx
  packages/account-v2/src/containers/PersonalDetailsFormWithExample/PersonalDetailsFormWithExample.tsx
  packages/account-v2/src/containers/PersonalDetailsFormWithExample/__tests__/PersonalDetailsFormWithExample.spec.tsx
  packages/account-v2/src/containers/index.ts
  packages/account-v2/src/modules/AddressFields/__tests__/AddressFields.spec.tsx
  packages/account-v2/src/utils/personal-details-utils.ts
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/de.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

chore: review comments part 2
  packages/account/src/Sections/Security/Passkeys/__tests__/passkeys.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkeys-status-container.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-status-container.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys.scss
  packages/core/src/App/Containers/EffortlessLoginModal/__test__/effortless-login-modal.spec.tsx
  packages/core/src/App/Containers/EffortlessLoginModal/effortless-login-description.tsx
  packages/core/src/App/Containers/EffortlessLoginModal/effortless-login-modal.scss
  packages/core/src/App/Containers/EffortlessLoginModal/effortless-login-modal.tsx
  packages/core/src/App/Containers/EffortlessLoginModal/effortless-login-tips.tsx
  packages/hooks/src/__tests__/useRegisterPasskey.spec.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: async
  packages/wallets/src/hooks/__tests__/useWalletAccountSwitcher.spec.tsx
Due: prettier --write, npx eslint --fix

[DTRA]/Ahmad/FEQ-970/Template fix (#13631)
  packages/bot-web-ui/src/pages/chart/toolbar-widgets.tsx
  packages/trader/src/Modules/SmartChart/Components/toolbar-widgets.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

fix: add unsubscribe for exchange rates
  packages/stores/src/providers/ExchangeRatesProvider.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

refactor: `WalletsAuthProvider`
  packages/wallets/src/App.tsx
  packages/wallets/src/AuthProvider.tsx
  packages/wallets/src/components/AccountsList/__tests__/AccountsList.spec.tsx
  packages/wallets/src/components/WalletCard/__tests__/WalletCard.spec.tsx
  packages/wallets/src/components/WalletListCardBalance/__tests__/WalletListCardBalance.spec.tsx
  packages/wallets/src/features/accounts/screens/ManualDocumentUpload/__tests__/ManualDocumentUpload.spec.tsx
  packages/wallets/src/features/cashier/components/WalletCashierHeader/__tests__/WalletCashierHeader.spec.tsx
  packages/wallets/src/features/cashier/modules/FiatOnRamp/__tests__/FiatOnRamp.spec.tsx
  packages/wallets/src/features/cashier/modules/TransactionStatus/components/TransactionStatusSuccess/__tests__/TransactionStatusSuccess.spec.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAmountInput/__tests__/TransferFormAmountInput.spec.tsx
  packages/wallets/src/features/cfd/modals/MT5AccountAdded/__tests__/MT5AccountAdded.spec.tsx
  packages/wallets/src/hooks/__tests__/useWalletAccountSwitcher.spec.tsx
Due: prettier --write, npx eslint --fix

fix: test case
  packages/cfd/src/Containers/mt5-migration-modal/__test__/mt5-migration-front-side-content.spec.tsx
Due: prettier --write, npx eslint --fix

build: update charts version to 2.1.4
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Due: prettier --write

build: update charts version to 2.1.4 (#14011)
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Due: prettier --write

chore: migration pt2
  packages/tradershub/src/features/cfd/flows/OtherCFDs/Dxtrade/AvailableDxtradeAccountsList/AvailableDxtradeAccountsList.tsx
  packages/tradershub/src/features/cfd/modals/DxtradePasswordModal/DxtradePasswordModal.tsx
  packages/tradershub/src/features/cfd/screens/CFDCompareAccounts/CompareAccountsButton.tsx
  packages/tradershub/src/hooks/useQueryParams.ts
  packages/tradershub/src/modals/Modals.tsx
  packages/tradershub/src/routes/TradersHubRoute/TradersHubRoute.tsx
Due: prettier --write, npx eslint --fix

chore: update deriv-com/ui version
  package-lock.json
  packages/account-v2/package.json
  packages/cashier-v2/package.json
  packages/p2p-v2/package.json
  packages/tradershub/package.json
Due: prettier --write

chore: update deriv-com/ui version (#14017)
  package-lock.json
  packages/account-v2/package.json
  packages/cashier-v2/package.json
  packages/p2p-v2/package.json
  packages/tradershub/package.json
Due: prettier --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/es.json
Due: prettier --write

chore: change cashier url string to include language tag
  packages/hooks/src/useDepositFiatAddress.ts
Due: prettier --write, npx eslint --fix

Update .github/CODEOWNERS
  .github/CODEOWNERS
Due: none

chore: revert enums camel case changes
  packages/account-v2/src/constants/constants.ts
  packages/account-v2/src/modules/AddressFields/AddressFields.tsx
  packages/account-v2/src/modules/POAForm/POAFormContainer.tsx
Due: prettier --write, npx eslint --fix

chore: fix snackbar styles
  packages/bot-web-ui/src/components/trade-animation/trade-animation.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: added suggestions
  packages/p2p-v2/src/components/AdvertsTableRow/AdvertsTableRow.tsx
  packages/p2p-v2/src/components/BuySellAmount/BuySellAmount.scss
  packages/p2p-v2/src/hooks/__tests__/useAdvertiserStats.spec.tsx
  packages/p2p-v2/src/pages/advertiser/screens/AdvertiserAdvertsTable/__tests__/AdvertiserAdvertsTable.spec.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

[FEQ] Jim/FEQ-1824/use remote config data to toggle datadog on or off (#13946)
  packages/bot-skeleton/src/services/api/__tests__/datadog-middleware.spec.ts
  packages/bot-skeleton/src/services/api/api-middleware.js
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/pages/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/types/global.d.ts
  packages/bot-web-ui/src/utils/datadog-logs.ts
  packages/core/src/App/AppContent.tsx
  packages/core/src/Utils/Datadog/index.ts
  packages/core/src/index.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: changed variable name to textColor
  packages/p2p-v2/src/components/Badge/Badge.tsx
Due: prettier --write, npx eslint --fix

refactor: :zap: refactoring download-store and migrating it to TS
  packages/bot-web-ui/src/stores/download-store.ts
Due: prettier --write, npx eslint --fix

feat: implement RTL language support in deriv bot (#13871)
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/scratch/hooks/block_render_svg_vertical.js
  packages/bot-skeleton/src/scratch/hooks/workspace_svg.js
  packages/bot-skeleton/src/utils/workspace.js
  packages/bot-web-ui/src/components/bot-snackbar/bot-snackbar.scss
  packages/bot-web-ui/src/components/flyout/flyout.scss
  packages/bot-web-ui/src/components/journal/journal-components/journal-item.tsx
  packages/bot-web-ui/src/components/journal/journal.scss
  packages/bot-web-ui/src/components/load-modal/load-modal.scss
  packages/bot-web-ui/src/components/trade-animation/trade-animation.scss
  packages/bot-web-ui/src/components/transaction-details/desktop-transaction-table.tsx
  packages/bot-web-ui/src/components/transaction-details/mobile-transaction-card.tsx
  packages/bot-web-ui/src/components/transaction-details/transaction-details-mobile.scss
  packages/bot-web-ui/src/components/transactions/transaction.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/strategy-accordion.scss
  packages/bot-web-ui/src/pages/bot-builder/toolbox/toolbox.scss
  packages/bot-web-ui/src/pages/chart/chart-modal/chart-modal.scss
  packages/bot-web-ui/src/pages/dashboard/dashboard.scss
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/index.scss
  packages/bot-web-ui/src/pages/main/main.scss
  packages/bot-web-ui/src/pages/main/main.tsx
  packages/bot-web-ui/src/pages/tutorials/dbot-tours/common/react-joyride-wrapper.tsx
  packages/bot-web-ui/src/pages/tutorials/dbot-tours/tour-content.tsx
  packages/bot-web-ui/src/pages/tutorials/quick-strategy-content/quick-strategy-guides-details.tsx
  packages/bot-web-ui/src/pages/tutorials/tutorials.scss
  packages/bot-web-ui/src/stores/load-modal-store.ts
  packages/bot-web-ui/src/styles/mixins.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: validating imports
  package.json
  packages/hooks/package.json
  scripts/check-imports.js
Due: prettier --write, npx eslint --fix
