Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

[WALL] george / WALL-5075 / EU migration banner for existing clients (#17583)
  packages/appstore/src/components/banners/wallets-banner/__tests__/wallets-banner.spec.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrading.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner.scss
  packages/appstore/src/components/banners/wallets-banner/wallets-banner.tsx
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/appstore/src/components/modals/wallets-eu-upgrade-modal/__tests__/wallets-eu-upgrade-modal.spec.tsx
  packages/appstore/src/components/modals/wallets-eu-upgrade-modal/index.ts
  packages/appstore/src/components/modals/wallets-eu-upgrade-modal/wallets-eu-upgrade-modal.tsx
  packages/appstore/src/components/modals/wallets-eu-upgrade-modal/wallets-introducing-eu-modal/__tests__/wallets-introducing-eu-modal.spec.tsx
  packages/appstore/src/components/modals/wallets-eu-upgrade-modal/wallets-introducing-eu-modal/index.ts
  packages/appstore/src/components/modals/wallets-eu-upgrade-modal/wallets-introducing-eu-modal/wallets-introducing-eu-modal.scss
  packages/appstore/src/components/modals/wallets-eu-upgrade-modal/wallets-introducing-eu-modal/wallets-introducing-eu-modal.tsx
  packages/appstore/src/components/modals/wallets-eu-upgrade-modal/wallets-ready-to-enable-eu-modal/__tests__/wallets-ready-to-enable-eu-modal.spec.tsx
  packages/appstore/src/components/modals/wallets-eu-upgrade-modal/wallets-ready-to-enable-eu-modal/index.ts
  packages/appstore/src/components/modals/wallets-eu-upgrade-modal/wallets-ready-to-enable-eu-modal/wallets-ready-to-enable-eu-modal.scss
  packages/appstore/src/components/modals/wallets-eu-upgrade-modal/wallets-ready-to-enable-eu-modal/wallets-ready-to-enable-eu-modal.tsx
  packages/components/src/components/icon/appstore/ic-appstore-introducing-wallets-eu-coins-desktop.svg
  packages/components/src/components/icon/appstore/ic-appstore-introducing-wallets-eu-coins-responsive.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallets-eu-upgrade-coins-horizontal.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallets-eu-upgrade-coins-ltr.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallets-eu-upgrade-coins-rtl.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/mobile-dialog/mobile-dialog.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

fix: added translation
  packages/bot-skeleton/src/services/tradeEngine/utils/helpers.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: improve snackbar behaviour
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake-input.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake_2.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
Due: prettier --write, npx eslint --fix

chore: exctract function to utils
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake-input.tsx
  packages/trader/src/AppV2/Utils/trade-params-utils.tsx
Due: prettier --write, npx eslint --fix

chore: fix tests and bump up the auth-client versin
  __mocks__/deriv-com.auth-client.mock.js
  package-lock.json
  packages/core/package.json
  packages/hooks/jest.config.js
  packages/hooks/package.json
Due: prettier --write, npx eslint --fix

refactor: add tests for stake
  packages/trader/src/AppV2/Components/TradeParameters/Stake/__tests__/stake.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake_2.tsx
Due: prettier --write, npx eslint --fix

chore: fix notification and sms to be same as prod
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification-page.tsx
  packages/core/src/App/AppContent.tsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/notification-store.js
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: stake value fix on crypto currency change
  packages/trader/src/AppV2/Components/ServiceErrorSheet/service-error-sheet.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Due: prettier --write, npx eslint --fix

fix: removed console
  packages/cfd/src/Helpers/compare-accounts-config.ts
Due: prettier --write, npx eslint --fix

refactor: add tests for payout function
  packages/trader/src/AppV2/Utils/__tests__/trade-param-utils.spec.tsx
Due: prettier --write, npx eslint --fix

chore: fix noti and pnv flow issue when ff is off
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification-page.tsx
  packages/core/src/App/AppContent.tsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/notification-store.js
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: add auth-client
  package-lock.json
  packages/core/package.json
  packages/hooks/package.json
Due: prettier --write

GRWT-2668 / Kate / [DTrader-V2] Payout per point display value is not refreshing when changing market type (#17644)
  packages/trader/src/AppV2/Components/TradeParameters/PayoutPerPoint/__tests__/payout-per-point.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/PayoutPerPoint/payout-per-point-wheel.tsx
  packages/trader/src/AppV2/Components/TradeParameters/PayoutPerPoint/payout-per-point.tsx
Due: prettier --write, npx eslint --fix

fix: remove incorrect delay (#17651)
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/deal-cancellation.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/take-profit-and-stop-loss-container.tsx
Due: prettier --write, npx eslint --fix

chore: update SLO logic
  packages/core/src/App/AppContent.tsx
Due: prettier --write, npx eslint --fix

chore: fix noti and pnv flow issue when ff is off (#17684)
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification-page.tsx
  packages/core/src/App/AppContent.tsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/notification-store.js
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: fix notification and sms to be same as prod (#17682)
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification-page.tsx
  packages/core/src/App/AppContent.tsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/notification-store.js
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/mn.json
Due: prettier --write

fix: remove p2p package from deriv-app
  packages/cashier/src/constants/routes-config.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pt.json
Due: prettier --write

chore: replace array method
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
Due: prettier --write, npx eslint --fix

fix: bug
  packages/bot-web-ui/src/stores/dashboard-store.ts
Due: prettier --write, npx eslint --fix

Amina/[TRAH-4455]/remove header on account settings redirection (#17649)
  packages/account/src/Containers/Account/page-overlay-wrapper.tsx
  packages/components/src/components/page-overlay/page-overlay.scss
  packages/components/src/components/page-overlay/page-overlay.tsx
  packages/core/src/Stores/common-store.js
  packages/shared/src/utils/config/platform-config.ts
  packages/shared/src/utils/platform/platform.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: added cleanup to useTradingPlatformStatus hook
  packages/hooks/src/useTradingPlatformStatus.ts
Due: prettier --write, npx eslint --fix

feat(wallets): :sparkles: add mf mt5 gold support
  packages/api-v2/src/hooks/useCFDCompareAccounts.tsx
  packages/api-v2/src/hooks/useSortedMT5Accounts.ts
  packages/wallets/src/features/cfd/constants.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsCard.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsScreen.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsTitleIcon.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/InstrumentsLabelHighlighted.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/__tests__/CompareAccountsCard.spec.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/constants.tsx
Due: prettier --write, npx eslint --fix

fix: package lock
  package-lock.json
Due: prettier --write

fix: fixed financial demo title
  packages/cfd/src/Stores/Modules/CFD/Helpers/cfd-config.ts
Due: prettier --write, npx eslint --fix

fix: fixed financial title
  packages/cfd/src/Stores/Modules/CFD/Helpers/cfd-config.ts
Due: prettier --write, npx eslint --fix

fix: changed description
  packages/core/src/Stores/traders-hub-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: demo create success modal content (#17557)
  packages/wallets/src/features/cfd/modals/CTraderSuccessModal/CTraderSuccessModal.tsx
  packages/wallets/src/features/cfd/modals/DxtradeEnterPasswordModal/DxtradeEnterPasswordModal.tsx
  packages/wallets/src/features/cfd/modals/MT5AccountAdded/MT5AccountAdded.tsx
  packages/wallets/src/features/cfd/modals/MT5AccountAdded/__tests__/MT5AccountAdded.spec.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/km.json
Due: prettier --write

fix: mismatch duration values
  packages/trader/src/AppV2/Components/TradeParameters/Duration/day.tsx
  packages/trader/src/Stores/Modules/Trading/Helpers/proposal.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Due: prettier --write, npx eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
