Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

chore: use slack notification action from shared actions repo
  .github/actions/send_slack_notifications/action.yml
  .github/workflows/release_production.yml
Due: none

fix: mx account (#14235)
  packages/core/src/Services/socket-general.js
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

chore: deleted wallet icon and change wallet header accordingly
  packages/core/src/App/Containers/Layout/header/defaut-header-wallets.tsx
  packages/core/src/Assets/SvgComponents/header/wallets-logo.svg
Due: prettier --write, npx eslint --fix

fix: style discrepencies in BuySellModal
  packages/p2p-v2/src/components/BuySellForm/BuySellAmount/BuySellAmount.tsx
  packages/p2p-v2/src/components/BuySellForm/BuySellForm.tsx
  packages/p2p-v2/src/components/BuySellForm/BuySellFormHeader/BuySellFormHeader.tsx
  packages/p2p-v2/src/components/BuySellForm/BuySellFormHeader/__tests__/BuySellFormHeader.spec.tsx
  packages/p2p-v2/src/components/BuySellForm/BuySellPaymentSection/BuySellPaymentSection.tsx
Due: prettier --write, npx eslint --fix

[BOT-1475]/Rupato/fix: test coverage for load modal (#14327)
  packages/bot-web-ui/src/components/load-modal/__tests__/load-modal.spec.tsx
  packages/bot-web-ui/src/components/load-modal/__tests__/recent.spec.tsx
  packages/bot-web-ui/src/components/load-modal/local.tsx
  packages/bot-web-ui/src/components/load-modal/recent.tsx
Due: prettier --write, npx eslint --fix

fix: api calls that is dependent on another must async
  packages/tradershub/src/features/cfd/modals/MT5PasswordModal/MT5ChangePassword.tsx
  packages/tradershub/src/hooks/useMT5AccountHandler.ts
Due: prettier --write, npx eslint --fix

style: disable Forgot Password button on loading state
  packages/tradershub/src/features/cfd/modals/MT5PasswordModal/MT5ChangePassword.tsx
Due: prettier --write, npx eslint --fix

chore: removed Text and unused imports
  packages/p2p-v2/src/components/Modals/FilterModal/FilterModalFooter/FilterModalFooter.tsx
  packages/p2p-v2/src/pages/my-profile/screens/PaymentMethods/PaymentMethodsList/AddNewButton.tsx
Due: prettier --write, npx eslint --fix

feat: integrated IDV API calls
  packages/account-v2/src/constants/constants.ts
  packages/account-v2/src/constants/errorMessages.tsx
  packages/account-v2/src/constants/index.ts
  packages/account-v2/src/containers/POAForm/CommonMistakeExample/CommonMistakesExample.tsx
  packages/account-v2/src/containers/POIFlowContainer/POIFlowContainer.tsx
  packages/account-v2/src/containers/PersonalDetailsFormWithExample/PersonalDetailsFormWithExample.tsx
  packages/account-v2/src/containers/VerificsationStatus/VerificationStatus.tsx
  packages/account-v2/src/containers/index.ts
  packages/account-v2/src/modules/IDVService/IDVService.tsx
  packages/account-v2/src/modules/POI/POI.tsx
  packages/account-v2/src/types.ts
  packages/account-v2/src/utils/idvFormUtils.ts
  packages/account-v2/src/utils/index.ts
  packages/account-v2/src/utils/personal-details-utils.ts
  packages/api-v2/src/hooks/useIdentityDocumentVerificationAdd.ts
  packages/api-v2/src/hooks/useSettings.ts
Due: prettier --write, npx eslint --fix

fix: fiat deposit loading blank screen
  packages/wallets/src/features/cashier/modules/DepositFiat/DepositFiat.tsx
  packages/wallets/src/features/cashier/modules/DepositFiat/__tests__/DepositFiat.spec.tsx
Due: prettier --write, npx eslint --fix

chore: review fix
  packages/trader/src/Modules/Trading/Containers/trade-chart.tsx
Due: prettier --write, npx eslint --fix

chore: applied suggestions
  packages/cashier-v2/src/lib/Transfer/components/TransferForm/TransferForm.module.scss
  packages/cashier-v2/src/lib/Transfer/components/TransferForm/TransferForm.tsx
  packages/cashier-v2/src/lib/Transfer/components/TransferForm/components/TransferCryptoFiatAmountConverter/TransferCryptoFiatAmountConverter.tsx
  packages/cashier-v2/src/types.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: change cookie getter naming
  packages/core/src/App/AppContent.tsx
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

revert: trade params test cases
  packages/shared/src/utils/contract/__tests__/trade-url-params-config.spec.ts
Due: prettier --write, npx eslint --fix

Thisyahlen/FEQ-1385/chore: fix undefined authentication for trackjs (#14220)
  packages/account/src/Sections/Verification/Helpers/verification.js
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission-for-mt5.jsx
  packages/account/src/Sections/Verification/ProofOfIncome/proof-of-income-form.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/currency-switcher-card/real/real-account-switcher.tsx
  packages/appstore/src/components/wallet-header/wallet-header-balance.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-locked/withdrawal-locked.tsx
  packages/cashier/src/stores/withdraw-store.ts
  packages/cfd/src/Containers/dmt5-trade-modal.tsx
  packages/core/src/App/Containers/CurrencySelectionModal/curreny-selection-modal.tsx
  packages/core/src/Stores/notification-store.js
  packages/hooks/src/useGetMFAccountStatus.ts
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/stores/my-ads-store.js
  packages/shared/src/utils/cfd/cfd.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: remove unused imports
  packages/trader/src/Modules/SmartChart/Components/top-widgets.tsx
  packages/trader/src/Modules/Trading/Components/Elements/purchase-button.tsx
  packages/trader/src/Modules/Trading/Components/Elements/purchase-fieldset.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-display.tsx
  packages/trader/src/Modules/Trading/Containers/trade-chart.tsx
Due: prettier --write, npx eslint --fix

fix: Added index files to components folders changed the exports
  packages/account-v2/src/modules/src/ManualUpload/index.ts
  packages/account-v2/src/modules/src/index.ts
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

[BOT] Farabi/bot-1473/test coverage of components folder (#14335)
  packages/bot-web-ui/src/components/__tests__/bot-stopped.spec.tsx
  packages/bot-web-ui/src/components/contract-result-overlay/__tests__/contract-result-overlay.spec.tsx
  packages/bot-web-ui/src/components/trade-animation/__tests__/circular-wrapper.spec.tsx
  packages/bot-web-ui/src/components/trade-animation/__tests__/contract-stage-text.spec.tsx
  packages/bot-web-ui/src/components/trade-animation/__tests__/trade-animation.spec.tsx
Due: prettier --write, npx eslint --fix

chore: updated new icon inside of appstore
  packages/components/src/components/icon/appstore/ic-appstore-traders-hub-home-updated.svg
  packages/components/src/components/icon/icons.js
  packages/core/src/App/Containers/Layout/header/traders-hub-home-button.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: deprecated old utils
  packages/account-v2/src/modules/AddressFields/validations.ts
  packages/api-v2/src/utils/crypto.utils.ts
  packages/api/src/APIProvider.tsx
  packages/api/src/utils/crypto.utils.ts
  packages/p2p-v2/src/utils/currency.ts
  packages/p2p/src/stores/general-store.js
  packages/shared/src/utils/config/config.ts
  packages/shared/src/utils/currency/currency.ts
  packages/shared/src/utils/url/constants.ts
  packages/shared/src/utils/url/helpers.ts
  packages/shared/src/utils/url/url.ts
  packages/tradershub/src/helpers/urls.ts
  packages/tradershub/src/utils/getAccountsFromLocalStorage.ts
  packages/utils/src/getActiveLoginIDFromLocalStorage.ts
  packages/utils/src/getLocalStorage.ts
  packages/wallets/src/helpers/urls.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: Added unit test for hook, fixed changes for form
  packages/account-v2/build/build-resolvers.ts
  packages/account-v2/src/constants/routes.ts
  packages/account-v2/src/containers/POAForm/AddressDetailsForm.tsx
  packages/account-v2/src/modules/FinancialAssessment/FinancialAssessmentForm.tsx
  packages/account-v2/src/utils/financialAssessmentUtils.ts
  packages/api-v2/src/hooks/__tests__/useFinancialAssessment.spec.ts
  packages/api-v2/src/hooks/useFinancialAssessment.ts
Due: prettier --write, npx eslint --fix

chore: added test case for usedevice
  packages/hooks/src/__tests__/useDevice.spec.tsx
Due: prettier --write, npx eslint --fix

fix: added neccesary changes in code
  packages/account-v2/src/containers/LoginHistoryTable/LoginHistoryTable.tsx
  packages/account-v2/src/hooks/index.ts
  packages/account-v2/src/hooks/useFormattedLoginHistoryData.ts
  packages/account-v2/src/pages/LoginHistory/LoginHistory.tsx
  packages/account-v2/src/pages/LoginHistory/formattedLoginHistoryData.ts
  packages/api-v2/src/hooks/index.ts
  packages/api-v2/src/hooks/useLoginHistory.ts
Due: prettier --write, npx eslint --fix

Sandeep/bot 1523/remove rudder stack events (#14168)
  packages/bot-web-ui/src/pages/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/analytics/constants.ts
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/analytics/rudderstack-quick-strategy.ts
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/analytics/utils.ts
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/desktop-form-wrapper.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/mobile-form-wrapper.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/inputs/qs-checkbox.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/inputs/qs-input-label.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/inputs/qs-input.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/parts/loss-threshold-warning-dialog.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/quick-strategy.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/contract-type.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/duration-type.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/symbol.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/trade-type.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbar/__tests__/workspace-group.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbar/toolbar.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbar/workspace-group.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbox/search-box/search-icon.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbox/toolbox.tsx
  packages/bot-web-ui/src/pages/dashboard/analytics/rudderstack-dashboard.ts
  packages/bot-web-ui/src/pages/dashboard/cards.tsx
  packages/bot-web-ui/src/pages/dashboard/dashboard.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/delete-dialog.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/local.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/recent-workspace.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/recent.tsx
  packages/bot-web-ui/src/pages/dashboard/user-guide.tsx
  packages/bot-web-ui/src/pages/main/main.tsx
  packages/bot-web-ui/src/pages/tutorials/common/search-input/index.tsx
  packages/bot-web-ui/src/pages/tutorials/dbot-tours/common/accordion.tsx
  packages/bot-web-ui/src/pages/tutorials/guide-content/guide-content.tsx
  packages/bot-web-ui/src/pages/tutorials/guide-content/index.ts
  packages/bot-web-ui/src/pages/tutorials/tutorials-tab-desktop.tsx
  packages/bot-web-ui/src/pages/tutorials/tutorials-tab-mobile.tsx
  packages/bot-web-ui/src/pages/tutorials/tutorials.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
  packages/bot-web-ui/src/stores/load-modal-store.ts
  packages/bot-web-ui/src/stores/save-modal-store.ts
  packages/bot-web-ui/src/stores/toolbar-store.ts
Due: prettier --write, npx eslint --fix

[WALL] Lubega / WALL-3539 / Withdrawal locked part 2 (#14321)
  packages/wallets/src/features/cashier/modules/WithdrawalLocked/WithdrawalLockedContent.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalLocked/__tests__/WithdrawalLockedContent.spec.tsx
Due: prettier --write, npx eslint --fix

[WALL] [Fix] Rostislav / WALL-3365 / Fix wallet crypto withdrawal redirect issue (#13501)
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/client-store.js
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.tsx
  packages/wallets/src/features/cashier/components/WalletCashierHeader/__tests__/WalletCashierHeader.spec.tsx
  packages/wallets/src/features/cashier/flows/WalletWithdrawal/WalletWithdrawal.tsx
  packages/wallets/src/features/cashier/flows/WalletWithdrawal/__tests__/WalletWithdrawal.spec.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: update @deriv/deriv-charts to 2.1.10 (#14340)
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Due: prettier --write

feat: Created a hook for fetching login history data
  packages/account-v2/src/hooks/useLoginHistoryData.ts
Due: prettier --write, npx eslint --fix

feat: Created static for Login History Section in accounts-v2
  packages/account-v2/src/pages/LoginHistoryTable/LoginHistoryTable.tsx
Due: prettier --write, npx eslint --fix
