Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

refactor: moved UI and API logic for TaxInformation to useTaxInformation hook
  packages/wallets/src/features/accounts/modules/TaxInformation/TaxInformation.scss
  packages/wallets/src/features/accounts/modules/TaxInformation/TaxInformation.tsx
  packages/wallets/src/features/accounts/modules/TaxInformation/components/NeedHelpMessage/NeedHelpMessage.tsx
  packages/wallets/src/features/accounts/modules/TaxInformation/components/NeedHelpMessage/index.ts
  packages/wallets/src/features/accounts/modules/TaxInformation/components/index.ts
  packages/wallets/src/features/accounts/modules/TaxInformation/hooks/index.ts
  packages/wallets/src/features/accounts/modules/TaxInformation/hooks/useTaxInformation.ts
  packages/wallets/src/features/accounts/modules/TaxInformation/utils/constants.tsx
  packages/wallets/src/features/accounts/modules/TaxInformation/utils/index.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Fasih/COJ-1247/Added lazy loading for some section (#15839)
  packages/account/src/Components/api-token/api-token-article.tsx
  packages/account/src/Components/api-token/api-token-clipboard.tsx
  packages/account/src/Components/api-token/api-token-context.ts
  packages/account/src/Components/api-token/api-token-delete-button.tsx
  packages/account/src/Components/api-token/api-token-table-row.tsx
  packages/account/src/Components/api-token/api-token-table.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-article.tsx
  packages/account/src/Constants/routes-config.tsx
  packages/account/src/Sections/Security/ApiToken/api-token.tsx
  packages/account/src/Sections/Security/ClosingAccount/closing-account-pending-conditions/closing-account-has-pending-conditions.tsx
  packages/account/src/Sections/Security/ClosingAccount/closing-account-pending-conditions/closing-account-pending-balance.tsx
  packages/account/src/Sections/Security/ClosingAccount/closing-account-pending-conditions/closing-account-pending-positions.tsx
  packages/account/src/Sections/Security/ClosingAccount/closing-account-reason-form.tsx
  packages/account/src/Sections/Security/ClosingAccount/closing-account-reason.tsx
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.tsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/digit-form.tsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication-article.tsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication.tsx
  packages/account/src/Sections/index.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: removed popup
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: moved the logic to reusable method in client
  packages/account/src/Sections/Security/Passkeys/passkeys-configs.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
  packages/core/src/Stores/client-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: restore passkey-config changes
  packages/account/src/Sections/Security/Passkeys/passkeys-configs.tsx
Due: prettier --write, npx eslint --fix

feat: add feature flag for one-time-deposit-modal
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: 2 more solution on how to restore code value and remove it from url
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/client-store.js
  packages/shared/src/utils/login/login.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: add setPasskeysStatusToCookie to mobx action
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: remove code from local storage
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: :ambulance: downgrade deriv-com/analytics to v1.5.9
  package-lock.json
  package.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Due: prettier --write

fix: :ambulance: downgrade deriv-com/analytics to v 1.5.9
  package-lock.json
  package.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Due: prettier --write

fix: other ui issues
  packages/cashier/src/components/crypto-fiat-converter/crypto-fiat-converter.scss
  packages/cashier/src/containers/cashier/cashier.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: :ambulance: downgrade deriv-com/analytics to v1.5.9 (#16049)
  package-lock.json
  package.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Due: prettier --write

fix: use useDevice instead of ui store for screen size checks
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrading.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner.scss
  packages/cashier/package.json
  packages/cashier/src/components/cashier-container/virtual/virtual.tsx
  packages/cashier/src/components/crypto-fiat-converter/crypto-fiat-converter.tsx
  packages/cashier/src/components/error/error.tsx
  packages/cashier/src/components/page-container/page-container.tsx
  packages/cashier/src/components/side-note/side-note.tsx
  packages/cashier/src/components/side-notes/side-note-faq/side-note-faq.tsx
  packages/cashier/src/components/transactions-crypto-history/__tests__/transactions-crypto-history.spec.tsx
  packages/cashier/src/components/transactions-crypto-history/transactions-crypto-history.tsx
  packages/cashier/src/components/transfer-confirm/transfer-confirm.tsx
  packages/cashier/src/containers/cashier/__tests__/cashier.spec.tsx
  packages/cashier/src/containers/cashier/cashier.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/__tests__/account-transfer-form.spec.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-receipt/account-transfer-receipt.tsx
  packages/cashier/src/pages/on-ramp/__tests__/on-ramp.spec.tsx
  packages/cashier/src/pages/on-ramp/on-ramp-provider-popup/on-ramp-provider-popup.tsx
  packages/cashier/src/pages/on-ramp/on-ramp.tsx
  packages/cashier/src/pages/payment-agent-transfer/payment-agent-transfer-form/payment-agent-transfer-form.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-container/__tests__/payment-agent-container.spec.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-container/payment-agent-container.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-list/payment-agent-list.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-receipt/__tests__/payment-agent-receipt.spec.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-receipt/payment-agent-receipt.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-unlisted-withdraw-form/__tests__/payment-agent-withdraw-form.spec.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-unlisted-withdraw-form/payment-agent-unlisted-withdraw-form.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-receipt/__tests__/withdrawal-crypto-receipt.spec.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-receipt/withdrawal-crypto-receipt.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Maryia/DTRA-1423/feat: add config for all Trade types params + display components for Rise/Fall (#140)
  packages/core/src/App/app.jsx
  packages/trader/src/AppV2/Components/TradeParameters/AllowEquals/allow-equals.tsx
  packages/trader/src/AppV2/Components/TradeParameters/AllowEquals/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/Stake/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-params.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
  packages/trader/src/AppV2/Utils/trade-params-utils.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Introduce loader for TypeScript in p2p
  packages/p2p/webpack.config.js
Due: prettier --write, npx eslint --fix

Refactor namespace `@deriv-app` to `@deriv-lib`
  packages/p2p/package.json
Due: prettier --write

fix: bump quill-ui version
  package-lock.json
  packages/core/package.json
  packages/trader/package.json
Due: prettier --write

fix: handle snackbar fill for themes
  packages/trader/src/AppV2/Components/MarketCategoryItem/market-category-item.tsx
Due: prettier --write, npx eslint --fix

fix: legacywonicon not displaying properly by updating the version
  package-lock.json
  packages/account/package.json
  packages/cashier-v2/package.json
  packages/core/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Due: prettier --write

fix: :ambulance: downgrade deriv-com/analytics to v 1.5.9 (#16050)
  package-lock.json
  package.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Due: prettier --write

fix: update svg standard icon migration flow
  packages/components/src/components/icon/mt5/ic-mt5-svg-standard.svg
Due: none

chore: removed from additional kyc info form
  packages/account/src/Components/additional-kyc-info-modal/additional-kyc-info-form.tsx
Due: prettier --write, npx eslint --fix

chore: removed unused code
  packages/account/src/Components/additional-kyc-info-modal/additional-kyc-info-form.tsx
Due: prettier --write, npx eslint --fix

refactor: replace WS call with /hooks useTradingPlatformStatus
  packages/api/types.ts
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useTradingPlatformStatus.ts
Due: prettier --write, npx eslint --fix

chore: removed some props and states as well
  packages/account/src/Components/forms/personal-details-form.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: add correct logo colors
  packages/trader/src/AppV2/Components/FavoriteSymbols/no-favorite-symbol.tsx
  packages/trader/src/AppV2/Components/SymbolNotFound/symbol-not-found.tsx
  packages/trader/src/AppV2/Components/SymbolsSearchField/symbols-search-field.tsx
Due: prettier --write, npx eslint --fix

DTRA-1422/ Kate / Add scrolling bahaviour for trade params (#139)
  packages/trader/src/AppV2/Components/TradeParameters/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters-container.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters-list.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.scss
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.scss
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
  packages/trader/src/AppV2/Utils/layout-utils.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: update standard icon migration flow
  packages/components/src/components/icon/mt5/ic-mt5-bvi-standard.svg
  packages/components/src/components/icon/mt5/ic-mt5-svg-standard.svg
  packages/components/src/components/icon/mt5/ic-mt5-vanuatu-standard.svg
Due: none

fix: removed console
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts-title-icon.tsx
Due: prettier --write, npx eslint --fix

feat: :fire: server side bot improvements after api update
  packages/bot-skeleton/src/services/api/api-base.js
  packages/bot-web-ui/src/pages/server-bot/notifications.tsx
  packages/bot-web-ui/src/pages/server-bot/server-bot-list.tsx
  packages/bot-web-ui/src/pages/server-bot/server-bot.scss
  packages/bot-web-ui/src/pages/server-bot/server-bot.tsx
  packages/bot-web-ui/src/stores/server-bot-store.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: updated standard icon in wallets
  packages/wallets/src/constants/icons.ts
Due: prettier --write, npx eslint --fix

chore: move the setSession code for request_email from client store to switch case
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: add barrier trade param
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/trade-params.tsx
Due: prettier --write, npx eslint --fix

chore: changed rename event, added remove events
  packages/account/src/Sections/Security/Passkeys/components/passkey-card.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
Due: prettier --write, npx eslint --fix

fix: remove client-store changes
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write
