Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: resolve poa screen incorrect display
  packages/account/src/Sections/Verification/Helpers/verification.js
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-container.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

ci: :construction_worker: set `maxWorkers` for jest to `2`
  package.json
Due: prettier --write

fix: Trader's Hub text
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/appstore/src/constants/tour-steps-config-new.tsx
  packages/appstore/src/constants/trading-hub-content.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-no-account/__tests__/account-transfer-no-account.spec.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-no-account/account-transfer-no-account.tsx
  packages/core/src/App/Components/Layout/Header/platform-dropdown.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: removed arrow and fixed overlay
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: restore component structure to its original form
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer-card.jsx
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer.jsx
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: remove MobxContentProvider
  packages/trader/src/App/app.tsx
Due: prettier --write, npx eslint --fix

chore: working on test cases 1
  packages/cashier/src/components/crypto-transactions-history/__tests__/crypto-transactions-history.spec.tsx
  packages/cashier/src/components/crypto-transactions-history/__tests__/crypto-transactions-renderer.spec.tsx
Due: prettier --write, npx eslint --fix

refactor: replace connect in strike, vanilla-trade-type, screen-small, chart-widgets, and test
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/widgets.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/strike.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/vanilla-trade-types.jsx
  packages/trader/src/Modules/Trading/Components/Form/screen-small.jsx
  packages/trader/src/Modules/Trading/Containers/allow-equals.jsx
  packages/trader/src/Modules/Trading/Containers/chart-widgets.jsx
  packages/trader/src/Modules/Trading/Containers/test.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: RootSotre for gradually refactoring all dbot stores
  packages/bot-web-ui/src/app/app-content.jsx
  packages/bot-web-ui/src/app/app.tsx
  packages/bot-web-ui/src/app/dbot-providers.tsx
  packages/bot-web-ui/src/stores/root-store.ts
  packages/bot-web-ui/src/stores/useDBotStore.tsx
  packages/bot-web-ui/src/types/index.ts
  packages/bot-web-ui/src/types/root-stores.types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: integrate trade modal and fixed success modal
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/build/webpack.config.js
  packages/cfd/src/Components/passwordbox.tsx
  packages/cfd/src/Components/props.types.ts
  packages/cfd/src/Components/specbox.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/Containers/mt5-trade-modal.tsx
  packages/cfd/src/Containers/trade-modal.tsx
  packages/cfd/src/Helpers/config.tsx
  packages/cfd/src/Helpers/constants.ts
  packages/cfd/src/sass/cfd-dashboard.scss
  packages/components/src/components/icon/brand/ic-brand-deriv-ez-wordmark.svg
  packages/components/src/components/icon/brand/ic-brand-dxtrade-wordmark.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Jim/93866/replace_connect_with_usestore_in_strike_vanilla-trade-type_screen-small_chart-widgets_and_test (#87)
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer-card.jsx
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer.jsx
  packages/trader/src/App/app.tsx
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/widgets.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/strike.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/vanilla-trade-types.jsx
  packages/trader/src/Modules/Trading/Components/Form/screen-small.jsx
  packages/trader/src/Modules/Trading/Containers/allow-equals.jsx
  packages/trader/src/Modules/Trading/Containers/chart-widgets.jsx
  packages/trader/src/Modules/Trading/Containers/test.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: resolve review comments
  packages/cfd/src/Components/__tests__/cfd-account-card.spec.tsx
Due: prettier --write, npx eslint --fix

chore: reseting testcase to upstream/master
  packages/cashier/src/components/crypto-transactions-history/__tests__/crypto-transactions-history.spec.tsx
  packages/cashier/src/components/crypto-transactions-history/__tests__/crypto-transactions-renderer.spec.tsx
Due: prettier --write, npx eslint --fix

Hamza/93474/replace connect with use trader store (#88)
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: added test case for tooltip in desktop mode
  packages/cashier/src/components/crypto-transactions-history/__tests__/crypto-transactions-renderer.spec.tsx
Due: prettier --write, npx eslint --fix

feat: AlertBanner for cryptoc with minimum deposit using third-party processor (CoinsPaid)
  packages/cashier/src/pages/deposit/crypto-deposit/crypto-deposit.tsx
Due: prettier --write, npx eslint --fix

fix: used getImageLocation instead of getUrlBase
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
Due: prettier --write, npx eslint --fix

feat: changed styles for crypto-deposit.tsx
  packages/cashier/src/pages/deposit/crypto-deposit/crypto-deposit.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: add static derivez in onboarding page
  packages/appstore/src/components/onboarding-new/static-cfd-account-manager.tsx
  packages/appstore/src/components/onboarding-new/static-dashboard.tsx
Due: prettier --write, npx eslint --fix

fix: no currency popup for mf (#8336)
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/SetAccountCurrencyModal/set-currency-modal.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: set config.platform in sessionStorage instead of localStorage
  packages/core/src/Modules/Endpoint/Endpoint.jsx
  packages/core/src/Stores/common-store.js
  packages/shared/src/utils/config/config.ts
  packages/shared/src/utils/platform/platform.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: added data-testid for tooltip in mobile view
  packages/cashier/src/components/crypto-transactions-history/crypto-transactions-history.scss
  packages/cashier/src/components/crypto-transactions-history/crypto-transactions-renderer.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/ar.json
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/de.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/ko.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

fix: :bug: fixes firefox flipped card issue
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/sass/cfd-dashboard.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: enable heatmap and frustration
  packages/core/src/Utils/Datadog/index.ts
Due: prettier --write, npx eslint --fix

chore: use Nullish coalescing operator
  packages/core/src/Utils/Datadog/index.ts
Due: prettier --write, npx eslint --fix

feat: add samplerate values to env vars
  packages/core/build/constants.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: Trader's Hub text (#8342)
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/appstore/src/constants/tour-steps-config-new.tsx
  packages/appstore/src/constants/trading-hub-content.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-no-account/__tests__/account-transfer-no-account.spec.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-no-account/account-transfer-no-account.tsx
  packages/core/src/App/Components/Layout/Header/platform-dropdown.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: get more button screen getting expanded
  packages/appstore/src/components/onboarding-new/static-dashboard.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: fixed the issue
  packages/hooks/src/useTotalAssetCurrency.ts
Due: prettier --write, npx eslint --fix

fix: for high rish user
  src/botPage/view/deriv/layout/Header/components/account-dropdown.jsx
  src/common/utils/storageManager.js
Due: prettier --write, npx eslint --fix

fix: no accounts
  src/botPage/view/deriv/layout/Header/components/tab-content.jsx
Due: prettier --write, npx eslint --fix

fix: no accounts
  src/common/utils/storageManager.js
Due: prettier --write, npx eslint --fix

fix: package-lock.json
  package-lock.json
Due: prettier --write

fix: is high risk null
  src/botPage/view/deriv/layout/Header/components/account-actions.jsx
  src/common/footer-checks.js
Due: prettier --write, npx eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
