Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

Update i18next.ts
  packages/translations/src/i18next/i18next.ts
Due: prettier --write, npx eslint --fix

fix: testing intercom track event on api token creation
  packages/account/src/Sections/Security/ApiToken/api-token.tsx
Due: prettier --write, npx eslint --fix

chore: append app id only happens at login not ws (#17950)
  packages/core/src/App/AppContent.tsx
  packages/shared/src/utils/login/login.ts
Due: prettier --write, npx eslint --fix

[WALL] Lubega / WALL-5261 / OS redirection for demo only wallets (#17901)
  packages/api-v2/src/hooks/index.ts
  packages/api-v2/src/hooks/useCreateNewVirtualAccount.ts
  packages/wallets/src/components/DerivAppsSection/DerivAppsGetAccount.tsx
  packages/wallets/src/components/DerivAppsSection/__tests__/DerivAppsGetAccount.spec.tsx
  packages/wallets/src/components/WalletListHeader/WalletListHeader.tsx
  packages/wallets/src/components/WalletListHeader/__tests__/WalletListHeader.spec.tsx
  packages/wallets/src/components/WalletsAddMoreCardBanner/WalletsAddMoreCardBanner.tsx
  packages/wallets/src/components/WalletsAddMoreCardBanner/__tests__/WalletsAddMoreCardBanner.spec.tsx
  packages/wallets/src/helpers/urls.ts
  packages/wallets/src/hooks/__tests__/useSyncLocalStorageClientAccounts.spec.tsx
  packages/wallets/src/hooks/useSyncLocalStorageClientAccounts.ts
Due: prettier --write, npx eslint --fix

chore: change 70.84% to 70% for disclaimer
  packages/appstore/src/components/disclaimer/disclaimer.tsx
  packages/wallets/src/components/WalletsDisclaimerBanner/WalletsDisclaimerBanner.tsx
Due: prettier --write, npx eslint --fix

chore: update cfds loss percentage from 70.84% to 70%
  packages/appstore/src/components/disclaimer/disclaimer.tsx
  packages/wallets/src/components/WalletsDisclaimerBanner/WalletsDisclaimerBanner.tsx
Due: prettier --write, npx eslint --fix

chore: change 70.84% to 70% for disclaimer (#17953)
  packages/appstore/src/components/disclaimer/disclaimer.tsx
  packages/wallets/src/components/WalletsDisclaimerBanner/WalletsDisclaimerBanner.tsx
Due: prettier --write, npx eslint --fix

chore: fix redirection logs user out (#17952)
  packages/hooks/src/__tests__/useIsHubRedirectionEnabled.spec.tsx
  packages/hooks/src/useIsHubRedirectionEnabled.ts
Due: prettier --write, npx eslint --fix

chore: fix redirection logs user out (#17954)
  packages/hooks/src/__tests__/useIsHubRedirectionEnabled.spec.tsx
  packages/hooks/src/useIsHubRedirectionEnabled.ts
Due: prettier --write, npx eslint --fix

chore: append app id only happens at login not ws (#17955)
  packages/core/src/App/AppContent.tsx
  packages/shared/src/utils/login/login.ts
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

chore: update cfds loss percentage from 70.84% to 70% (#17956)
  packages/appstore/src/components/disclaimer/disclaimer.tsx
  packages/wallets/src/components/WalletsDisclaimerBanner/WalletsDisclaimerBanner.tsx
Due: prettier --write, npx eslint --fix

fix: email
  packages/account/src/Components/sent-email-modal/sent-email-modal.tsx
  packages/account/src/Sections/Security/Passwords/passwords.tsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/core/src/App/Containers/Layout/footer.jsx
  packages/core/src/App/Containers/Layout/header/header.tsx
  packages/core/src/App/Containers/LinkExpiredModal/link-expired-modal.tsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/App/Containers/ResetEmailModal/reset-email-modal.tsx
  packages/core/src/App/Containers/ResetPasswordModal/reset-password-modal.tsx
  packages/core/src/App/Containers/UpdateEmailModal/update-email-modal.jsx
  packages/core/src/Modules/redirection-page/index.ts
  packages/core/src/Modules/redirection-page/redirection-page.scss
  packages/core/src/Modules/redirection-page/redirection-page.tsx
  packages/shared/src/utils/routes/routes.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: test
  packages/core/src/App/Containers/LinkExpiredModal/__tests__/link-expired-modal.spec.tsx
Due: prettier --write, npx eslint --fix

fix: email
  packages/account/src/Sections/Security/Passwords/__tests__/passwords.spec.tsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/App/Containers/UpdateEmailModal/update-email-modal.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: reapply experiment
  package-lock.json
  package.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/appstore/package.json
  packages/cashier/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/core/src/Utils/Analytics/index.ts
  packages/hooks/package.json
  packages/p2p/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Due: prettier --write, npx eslint --fix

refactor: remove derived FX from account configurations, fix duplicated key error
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts.tsx
  packages/cfd/src/Helpers/compare-accounts-config.ts
  packages/wallets/src/features/cfd/screens/CompareAccounts/compareAccountsConfig.ts
Due: prettier --write, npx eslint --fix

Jim/wall 5227/switch ws connection when clients switch between real and demo wallets 1 (#17949)
  packages/api-v2/src/APIProvider.tsx
  packages/api-v2/src/AuthProvider.tsx
  packages/api-v2/src/constants/index.ts
  packages/api-v2/src/constants/platforms.ts
  packages/api-v2/src/ws-client/ws-client.ts
  packages/shared/src/utils/config/config.ts
  packages/wallets/src/App.tsx
Due: prettier --write, npx eslint --fix

fix: error
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

fix: url_redirect
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-flow.tsx
Due: prettier --write, npx eslint --fix

fix: loggedin value is set to false and reidence to null
  packages/hooks/src/useOauth2.ts
Due: prettier --write, npx eslint --fix

fix: url_redirect (#17965)
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-flow.tsx
Due: prettier --write, npx eslint --fix

fix: flickering guide
  packages/trader/src/AppV2/Components/OnboardingGuide/QuickAdjGuide/quick-adj-guide.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/TradeParamsGuide/trade-params-guide.tsx
Due: prettier --write, npx eslint --fix

chore: only to add it in wallets account switcher
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: open new tab for options and cfds in hub when user has wallets account
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/Layout/header/traders-hub-home-button.tsx
  packages/core/src/Stores/client-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: fix build fail
  packages/core/src/App/Containers/AccountSwitcherWallet/__tests__/account-switcher-wallet.spec.tsx
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet.tsx
  packages/core/src/App/Containers/Layout/header/__tests__/traders-hub-home-button.spec.tsx
  packages/core/src/Stores/client-store.js
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: change taxResidence to citizen
  packages/wallets/src/AppContent.tsx
Due: prettier --write, npx eslint --fix

chore: revert auto correct TContractInfo
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet.tsx
  packages/stores/types.ts
  packages/wallets/src/AppContent.tsx
Due: prettier --write, npx eslint --fix

chore: if modal is open in tradershub we dont redirect user to low-code
  packages/core/src/App/Containers/ConfirmEmailModal/confirm-email-modal.tsx
  packages/core/src/App/Containers/LinkExpiredModal/link-expired-modal.tsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/App/Containers/ResetPasswordModal/reset-password-modal.tsx
  packages/core/src/App/Containers/RootComponent/root-component.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/wallets/src/AppContent.tsx
  packages/wallets/src/components/ModalProvider/ModalProvider.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: update redirection logic and add hooks for checking hub redirection
  packages/api-v2/src/hooks/index.ts
  packages/api-v2/src/hooks/useIsHubRedirectionEnabled.ts
  packages/core/src/App/Containers/AccountSwitcherWallet/__tests__/account-switcher-wallet.spec.tsx
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet.tsx
  packages/core/src/Stores/client-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/wallets/src/AppContent.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: revert TContractInfo auto convert
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

chore: fix failing testcase and revert TContractInfo
  packages/stores/types.ts
  packages/wallets/src/components/Base/ModalStepWrapper/__tests__/ModalStepWrapper.spec.tsx
  packages/wallets/src/components/WalletError/__tests__/WalletError.spec.tsx
  packages/wallets/src/components/WalletsAddMoreCardBanner/__tests__/WalletsAddMoreCardBanner.spec.tsx
  packages/wallets/src/components/WalletsChangeMT5Password/__tests/WalletSuccessChangeMT5Password.spec.tsx
  packages/wallets/src/features/cashier/modules/TransactionStatus/components/CryptoTransaction/__tests__/CryptoTransaction.spec.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/__tests__/TransactionsPendingRow.spec.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/components/TransactionsPendingRowField/__tests__/TransactionsPendingRowField.spec.tsx
  packages/wallets/src/features/cfd/flows/CTrader/AddedCTraderAccountsList/__tests__/AddedCTraderAccountsList.spec.tsx
  packages/wallets/src/features/cfd/flows/CTrader/AvailableCTraderAccountsList/__tests__/AvailableCtraderAccountsList.spec.tsx
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/__tests__/AddedMT5AccountsList.spec.tsx
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AddedDxtradeAccountsList/__test__/AddedDxtradeAccountsList.spec.tsx
  packages/wallets/src/features/cfd/modals/CTraderSuccessModal/__tests__/CtraderSuccessModal.spec.tsx
  packages/wallets/src/features/cfd/modals/DxtradeEnterPasswordModal/__tests__/DxtradeEnterPasswordModal.spec.tsx
  packages/wallets/src/features/cfd/screens/TradingPlatformStatus/__tests__/TradingPlatformStatus.spec.tsx
Due: prettier --write, npx eslint --fix

chore: change to have redirection logic on tradershub page itself
  packages/api-v2/src/hooks/index.ts
  packages/api-v2/src/hooks/useGrowthbookGetFeatureValue.ts
  packages/core/src/App/Containers/Layout/header/__tests__/traders-hub-home-button.spec.tsx
  packages/core/src/App/Containers/Layout/header/traders-hub-home-button.tsx
  packages/wallets/src/AppContent.tsx
Due: prettier --write, npx eslint --fix

chore: revert AppContent and account-switcher-wallet logic
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet.tsx
  packages/wallets/src/AppContent.tsx
Due: prettier --write, npx eslint --fix

chore: display blank screen in wallets for hub enabled countries
  packages/core/src/App/Containers/RootComponent/root-component.jsx
  packages/wallets/src/App.tsx
  packages/wallets/src/AppContent.tsx
  packages/wallets/src/routes/Router.tsx
  packages/wallets/src/routes/WalletsListingRoute/WalletsListingRoute.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write
