Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

feat: unset margin-top (#15826)
  packages/account/src/Styles/account.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: added validation check in Real account sign up
  packages/account/src/Sections/Employment-Tax-info/employment-tax-info.tsx
Due: prettier --write, npx eslint --fix

feat: change text size for desktop (#15831)
  packages/appstore/src/modules/traders-hub/index.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/ar.json
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/de.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/km.json
  packages/p2p/src/translations/ko.json
  packages/p2p/src/translations/mn.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/sw.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/src/translations/bn.json
Due: prettier --write

[WEBREL] Sergei / WEBREL - 2863 / Wallet issues (#15823)
  packages/core/src/App/Components/Elements/LandscapeBlocker/landscape-blocker.tsx
Due: prettier --write, npx eslint --fix

fix: map symbol icons
  packages/trader/src/AppV2/Components/MarketCategory/market-category.scss
  packages/trader/src/AppV2/Components/MarketCategory/market-category.tsx
  packages/trader/src/AppV2/Components/SymbolIconsMapper/symbol-icons-mapper.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: throwErrorForExceptionCountries()
  packages/bot-web-ui/src/stores/app-store.ts
Due: prettier --write, npx eslint --fix

Removed inputs
  .github/workflows/smoketests_manual.yml
Due: none

Update smoketests_manual.yml
  .github/workflows/smoketests_manual.yml
Due: none

build: override install command
  vercel_DR.json
Due: prettier --write

ci: rename job name
  .github/workflows/deploy_DR.yml
Due: none

chore: fix failing tests
  packages/wallets/src/components/WalletListCardBadge/__tests__/WalletListCardBadge.spec.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountCard/__tests__/TransferFormAccountCard.spec.tsx
Due: prettier --write, npx eslint --fix

feat: unset margin-top (#15830)
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

Update .github/workflows/smoketests_manual.yml
  .github/workflows/smoketests_manual.yml
Due: none

refactor: remove account switching for onboarding
  packages/wallets/src/components/WalletTourGuide/WalletTourGuide.tsx
  packages/wallets/src/components/WalletTourGuide/WalletTourGuideSettings.tsx
Due: prettier --write, npx eslint --fix

fix: added formik to external
  packages/cfd/build/webpack.config.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: added react transition group to external
  packages/cfd/build/webpack.config.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: unset margin-top (#15825)
  packages/appstore/src/components/main-title-bar/account-type-dropdown.scss
  packages/appstore/src/modules/traders-hub/traders-hub.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: ci
  packages/wallets/src/components/WalletTourGuide/WalletTourGuideSettings.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/km.json
Due: prettier --write

feat: inform user reagarding strategy conversion - flow
  packages/bot-web-ui/src/analytics/utils.ts
  packages/bot-web-ui/src/components/bot-notification/bot-notification-utils.ts
  packages/bot-web-ui/src/components/bot-notification/bot-notification.tsx
  packages/bot-web-ui/src/components/load-modal/load-modal.scss
  packages/bot-web-ui/src/components/load-modal/local.tsx
  packages/bot-web-ui/src/pages/dashboard/cards.tsx
  packages/bot-web-ui/src/stores/load-modal-store.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: added notification cta event, removed unnecessary TODOs
  packages/account/src/Sections/Security/Passkeys/passkeys-configs.tsx
  packages/core/src/App/Containers/NotificationsDialog/notifications-list.tsx
  packages/hooks/src/useGetPasskeysList.ts
  packages/hooks/src/useRegisterPasskey.ts
  packages/hooks/src/useRenamePasskey.ts
Due: prettier --write, npx eslint --fix

Mark/pr commit v3 (#15844)
  .github/workflows/smoketests_manual.yml
Due: none

fix: added classnames to external
  packages/cfd/build/webpack.config.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: adding some missing externals
  packages/cfd/build/webpack.config.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: removed CFDFinancialStpRealAccountSignup from entry points
  packages/cfd/build/webpack.config.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: add definition glossary
  packages/trader/src/AppV2/Components/Filter/contract-type-filter.tsx
  packages/trader/src/AppV2/Components/Guide/Description/accumulators-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/decription-modal.tsx
  packages/trader/src/AppV2/Components/Guide/definition-modal.tsx
  packages/trader/src/AppV2/Components/Guide/guide.scss
  packages/trader/src/AppV2/Components/Guide/guide.tsx
  packages/trader/src/AppV2/Components/Guide/trade-description.tsx
  packages/trader/src/AppV2/Utils/trade-types-utils.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write
