Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

refactor: stake
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
Due: prettier --write, npx eslint --fix

fix: issue with user not able resubmit poa (#17189)
  packages/shared/src/utils/platform/platform.ts
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/km.json
  packages/translations/src/translations/mn.json
Due: prettier --write

chore: updated packahe version (#17202)
  package-lock.json
  packages/account/package.json
  packages/appstore/package.json
  packages/bot-web-ui/package.json
  packages/cashier/package.json
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/p2p/package.json
  packages/reports/package.json
  packages/trader/package.json
  packages/wallets/package.json
Due: prettier --write

Update pushDataLayer to check logged in state of user (#16561)
  packages/account/src/Components/poi/idv-status/idv-failed/idv-failed.tsx
  packages/account/src/Components/poi/poi-confirm-with-example-form-container/poi-confirm-with-example-form-container.tsx
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-assessment.tsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.tsx
  packages/cashier/src/pages/account-transfer/account-transfer.tsx
  packages/core/src/Services/socket-general.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/common-store.js
  packages/core/src/Stores/contract-replay-store.js
  packages/core/src/Stores/gtm-store.js
  packages/core/src/_common/base/socket_base.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

style: fix margin strategy-template-picker
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/upgraded-qs-v2/strategy-template-picker.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: eu cashier locked scenarios
  packages/api-v2/src/hooks/usePOA.ts
  packages/api-v2/src/hooks/usePOI.ts
  packages/wallets/src/features/cashier/components/WalletCashierContent/WalletCashierContent.tsx
  packages/wallets/src/features/cashier/components/WalletCashierContent/__tests__/WalletCashierContent.spec.tsx
  packages/wallets/src/features/cashier/modules/CashierLocked/CashierLocked.tsx
  packages/wallets/src/features/cashier/modules/CashierLocked/CashierLockedContent.tsx
  packages/wallets/src/features/cashier/modules/CashierLocked/__tests__/CashierLocked.spec.tsx
  packages/wallets/src/features/cashier/modules/CashierLocked/__tests__/CashierLockedContent.spec.tsx
  packages/wallets/src/features/cashier/modules/DepositLocked/DepositLocked.tsx
  packages/wallets/src/features/cashier/modules/DepositLocked/DepositLockedContent.tsx
  packages/wallets/src/features/cashier/modules/DepositLocked/__tests__/DepositLocked.spec.tsx
  packages/wallets/src/features/cashier/modules/DepositLocked/__tests__/DepositLockedContent.spec.tsx
  packages/wallets/src/features/cashier/modules/TransferLocked/TransferLocked.scss
  packages/wallets/src/features/cashier/modules/TransferLocked/TransferLocked.tsx
  packages/wallets/src/features/cashier/modules/TransferLocked/__tests__/TransferLocked.spec.tsx
  packages/wallets/src/features/cashier/modules/TransferLocked/index.ts
  packages/wallets/src/features/cashier/modules/WithdrawalLocked/WithdrawalLocked.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalLocked/WithdrawalLockedContent.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalLocked/__tests__/WithdrawalLocked.spec.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalLocked/__tests__/WithdrawalLockedContent.spec.tsx
  packages/wallets/src/features/cashier/modules/index.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: fixed the transfer and account closure pop up issues
  packages/account/src/Sections/Security/ClosingAccount/closing-account-pending-conditions/closing-account-pending-balance.tsx
  packages/account/src/Sections/Security/ClosingAccount/closing-account-pending-conditions/closing-account-pending-positions.tsx
  packages/account/src/Types/common.type.ts
  packages/cashier/src/stores/account-transfer-store.ts
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-list.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/shared/src/utils/cfd/cfd.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: withdrawal locked content user event
  packages/wallets/src/features/cashier/modules/WithdrawalLocked/__tests__/WithdrawalLockedContent.spec.tsx
Due: prettier --write, npx eslint --fix

fix: issue WEBREL-3238
  packages/account/src/Components/poi/status/verified/verified.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Types/common.type.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: add support for mf errors
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.tsx
  packages/trader/src/AppV2/Components/ServiceErrorSheet/service-error-sheet.tsx
Due: prettier --write, npx eslint --fix

fix: :bug: seo title issue
  packages/appstore/src/components/routes/route-with-sub-routes.jsx
  packages/core/src/App/Constants/routes-config.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: add active element
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/AppV2/Utils/layout-utils.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/km.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/sw.json
Due: prettier --write

fix: failing testcase
  packages/account/src/Sections/Verification/ProofOfIdentity/__tests__/proof-of-identity-container.spec.js
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

[UPM1539] Suisin/fix: user coming from personal detail when verified not route to TH (#17101)
  packages/account/src/Sections/Profile/PersonalDetails/verify-button.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-number-verified-modal.tsx
Due: prettier --write, npx eslint --fix

fix: rename isLoading
  packages/wallets/src/features/cashier/modules/CashierLocked/CashierLocked.tsx
  packages/wallets/src/features/cashier/modules/DepositLocked/DepositLocked.tsx
  packages/wallets/src/features/cashier/modules/TransferLocked/TransferLocked.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalLocked/WithdrawalLocked.tsx
Due: prettier --write, npx eslint --fix

refactor: remove mousedown and add focus remove on action close
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/day.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.tsx
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate.tsx
  packages/trader/src/AppV2/Components/TradeParameters/LastDigitPrediction/last-digit-prediction.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Multiplier/multiplier.tsx
  packages/trader/src/AppV2/Components/TradeParameters/PayoutPerPoint/payout-per-point.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/risk-management.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.tsx
Due: prettier --write, npx eslint --fix

fix: review fix
  packages/trader/src/AppV2/Components/TradeParameters/Duration/day.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/hourpicker.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/wheelpicker.tsx
Due: prettier --write, npx eslint --fix

[P2PS] - Nada/P2PS-4249/fix: staging deriv to staging p2p (#17143)
  packages/p2p/src/pages/app.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: add condition
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.tsx
Due: prettier --write, npx eslint --fix

fix: close livechat widget when freshchat is enabled
  packages/core/src/App/Components/Elements/LiveChat/live-chat.tsx
Due: prettier --write, npx eslint --fix

CSIT-1539/Prince/Release PR/Freshchat Integration + Feature Flag toggle (#17196)
  packages/core/src/App/Components/Elements/LiveChat/live-chat.tsx
  packages/core/src/App/Components/Elements/LiveChat/use-freshchat.ts
  packages/core/src/App/Components/Routes/language-link.tsx
  packages/core/src/Services/logout.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
  packages/core/src/Utils/Analytics/index.ts
  types/global.d.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: issue WEBREL-3238 (#17209)
  packages/account/src/Components/poi/status/verified/verified.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/__tests__/proof-of-identity-container.spec.js
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Types/common.type.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

[WALL] george / WALL-4404 / The Life time limit for Crypto to include USD amount (#17049)
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAmountInput/TransferFormAmountInput.tsx
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useTransferMessages/utils/__tests__/lifetimeAccountLimitsBetweenWalletsMessageFn.spec.tsx
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useTransferMessages/utils/lifetimeAccountLimitsBetweenWalletsMessageFn.tsx
Due: prettier --write, npx eslint --fix

fix: destroy legact LC after switching to FreshChat
  packages/core/src/App/Components/Elements/LiveChat/live-chat.tsx
Due: prettier --write, npx eslint --fix

chore: update new design changes on withdrawal limits
  packages/account/src/Components/account-limits/__tests__/account-limits.spec.tsx
  packages/account/src/Components/account-limits/__tests__/withdrawal-limits-table.spec.tsx
  packages/account/src/Components/account-limits/account-limits.tsx
  packages/account/src/Components/account-limits/withdrawal-limits-table.tsx
  packages/hooks/src/__tests__/useGetWithdrawalLimitsDetails.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useGetWithdrawalLimitsDetails.ts
  packages/shared/src/utils/constants/index.ts
  packages/shared/src/utils/constants/withdrawal-limits-details.tsx
Due: prettier --write, npx eslint --fix

fix: issue WEBREL-3238 (#17209) (#17215)
  packages/account/src/Components/poi/status/verified/verified.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/__tests__/proof-of-identity-container.spec.js
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Types/common.type.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write
