Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

fix: removed extra dash
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/sidebar.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorial-content.tsx
Due: prettier --write, npx eslint --fix

fix: tour issues
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/tour-slider.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Farabi/fix faq content scroll on mobile (#7375)
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/index.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: redirecting for traders_hub
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Farzin/76563/Replace `DepositStore` with hooks (#7180)
  packages/cashier/package.json
  packages/cashier/src/components/cashier-locked/__tests__/cashier-locked.spec.tsx
  packages/cashier/src/components/cashier-locked/cashier-locked.tsx
  packages/cashier/src/components/funds-protection/__tests__/funds-protection.spec.tsx
  packages/cashier/src/components/funds-protection/funds-protection.tsx
  packages/cashier/src/components/no-balance/__tests__/no-balance.spec.tsx
  packages/cashier/src/components/no-balance/no-balance.tsx
  packages/cashier/src/pages/account-transfer/__tests__/account-transfer.spec.tsx
  packages/cashier/src/pages/deposit/__tests__/deposit.spec.tsx
  packages/cashier/src/pages/deposit/deposit.tsx
  packages/cashier/src/pages/on-ramp/__tests__/on-ramp.spec.tsx
  packages/cashier/src/pages/on-ramp/on-ramp.tsx
  packages/cashier/src/stores/__tests__/deposit-store.spec.js
  packages/cashier/src/stores/deposit-store.ts
  packages/hooks/src/__tests__/useDepositLocked.spec.tsx
  packages/hooks/src/useDepositLocked.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: fixed duplicate rows for trade partners list
  packages/p2p/src/components/my-profile/block-user/block-user-table/block-user-table.jsx
  packages/p2p/src/stores/my-profile-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: removed extra dash (#7377)
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/sidebar.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorial-content.tsx
Due: prettier --write, npx eslint --fix

fix: iphone
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: incorrect label for vanilla calls
  packages/reports/src/Components/market-symbol-icon-row.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: the icon is incorrect for some of the trades
  packages/shared/src/utils/shortcode/shortcode.ts
Due: prettier --write, npx eslint --fix

Adrienne / Github actions Lighthouse report workflow (#7317)
  .github/lighthouse/lighthouserc.json
  .github/workflows/lighthouse.yml
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

refactor: money tests (#7353)
  packages/components/src/components/money/__tests__/money.spec.tsx
  packages/components/src/components/money/money.tsx
  packages/trader/src/App/Components/Elements/__tests__/money.spec.tsx
Due: prettier --write, npx eslint --fix

Niloofar Sadeghi / Task - Refactor tests in the binary-link.spec.tsx file (#7288)
  packages/trader/src/App/Components/Routes/__tests__/binary-link.spec.tsx
  packages/trader/src/App/Components/Routes/binary-link.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Niloofar Sadeghi / Task - Refactor tests in the error.spec.js file (#7324)
  packages/cfd/src/Utils/Validator/__tests__/error.spec.js
  packages/reports/src/Utils/Validator/__tests__/error.spec.js
  packages/trader/src/Utils/Validator/__tests__/error.spec.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Niloofar Sadeghi / Task - Refactor tests in the binary-link.spec.tsx file (#7286)
  packages/core/src/App/Components/Routes/__tests__/binary-link.spec.tsx
  packages/core/src/App/Components/Routes/binary-link.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Farzin/85054/Call `resetWithrawForm` on `CryptoWithdrawForm` component `onunmount` (#7331)
  packages/cashier/src/pages/withdrawal/crypto-withdraw-form/__tests__/crypto-withdraw-form.spec.tsx
  packages/cashier/src/pages/withdrawal/crypto-withdraw-form/crypto-withdraw-form.tsx
Due: prettier --write, npx eslint --fix

Niloofar Sadeghi / Task - Refactor tests in the toggle-button-group.spec.tsx file (#7330)
  packages/trader/src/App/Components/Elements/ToggleButton/__tests__/toggle-button-group.spec.js
  packages/trader/src/App/Components/Elements/ToggleButton/__tests__/toggle-button-group.spec.tsx
  packages/trader/src/App/Components/Elements/ToggleButton/toggle-button-group.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: :bug: resolved issue with trade. odal (#7291)
  packages/core/src/App/Containers/Modals/app-modals.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: proposal tests (#7327)
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/proposal.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: toggle-button tests (#7328)
  packages/trader/src/App/Components/Elements/ToggleButton/__tests__/toggle-button.spec.tsx
Due: prettier --write, npx eslint --fix

Niloofar Sadeghi / Task - Refactor tests in the contract-type-dialog.spec.tsx file (#7285)
  packages/components/src/components/mobile-dialog/mobile-dialog.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeMenu/contract-type-menu.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-dialog.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-menu.spec.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Niloofar Sadeghi / Task - Refactor tests in the marker-spot-label.spec.tsx file (#7355)
  packages/core/src/Components/markers/__tests__/marker-spot-label.spec.tsx
  packages/core/src/Components/markers/marker-spot-label.jsx
  packages/reports/src/Modules/SmartChart/Components/Markers/__tests__/marker-spot-label.spec.tsx
  packages/reports/src/Modules/SmartChart/Components/Markers/marker-spot-label.jsx
  packages/trader/src/Modules/SmartChart/Components/Markers/__tests__/marker-spot-label.spec.tsx
  packages/trader/src/Modules/SmartChart/Components/Markers/marker-spot-label.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: add optional chaining in getMinDuration function (#7344)
  packages/trader/src/Modules/Trading/Components/Form/DatePicker/trading-date-picker.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Niloofar Sadeghi / Task - Refactor tests in the language.spec.js file (#7325)
  packages/core/src/Utils/Language/__tests__/language.spec.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: toggle-positions tests (#7287)
  packages/trader/src/App/Components/Elements/TogglePositions/__tests__/toggle-positions.spec.tsx
  packages/trader/src/App/Components/Elements/TogglePositions/toggle-positions.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Revert "fix: :bug: resolved issue with trade. odal (#7291)" (#7364)
  packages/core/src/App/Containers/Modals/app-modals.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: open-positions-table tests (#7374)
  packages/components/src/components/data-list/data-list.jsx
  packages/components/src/components/data-table/data-table.jsx
  packages/reports/src/Components/empty-trade-history-message.jsx
  packages/reports/src/Components/placeholder-component.jsx
  packages/reports/src/Containers/__tests__/open-positions-table.spec.js
  packages/reports/src/Containers/__tests__/open-positions.spec.tsx
  packages/reports/src/_common/components/loading.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Adrienne / Github actions Lighthouse report workflow (#7317)
  .github/lighthouse/lighthouserc.json
  .github/workflows/lighthouse.yml
Due: prettier --write

Niloofar Sadeghi / Task - Refactor tests in the platform-dropdown.spec.tsx file (#7282)
  packages/core/src/App/Components/Layout/Header/__tests__/platform-dropdown.spec.tsx
  packages/core/src/App/Components/Layout/Header/platform-dropdown.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: handle edge chart tool issue
  packages/bot-web-ui/src/components/chart/chart.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: PR comments resove
  packages/bot-web-ui/src/components/dashboard/bot-notification.tsx
Due: prettier --write, npx eslint --fix

fix: subtask
  packages/p2p/src/components/orders/order-table/order-table-content.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

test: revert back e2e_tests dir to fix conflict
  e2e_tests/.env.example
  e2e_tests/.eslintrc.js
  e2e_tests/.gitignore
  e2e_tests/README.md
  e2e_tests/create_test.js
  e2e_tests/jest.config.js
  e2e_tests/jest.setup.js
  e2e_tests/package-lock.json
  e2e_tests/package.json
  e2e_tests/src/__tests__/core/cr_signup.test.js
  e2e_tests/src/__tests__/core/website_status.test.js
  e2e_tests/src/__tests__/performance/resources.test.js
  e2e_tests/src/__tests__/performance/time_to_chart_ready.test.js
  e2e_tests/src/__tests__/performance/time_to_interactive.test.js
  e2e_tests/src/__tests__/trader/contract_purchase.test.js
  e2e_tests/src/_config/context.js
  e2e_tests/src/_utils/cli_reporter.js
  e2e_tests/src/_utils/logger.js
  e2e_tests/src/_utils/test_template.js
  e2e_tests/src/_utils/websocket.js
  e2e_tests/src/bootstrap.js
  e2e_tests/src/objects/common.js
  e2e_tests/src/objects/deriv_com.js
  e2e_tests/src/objects/qa_emails.js
  e2e_tests/src/objects/trader.js
  e2e_tests/states/.gitignore
Due: prettier --write, npx eslint --fix

test: remove old e2e directory since its useless
  e2e_tests/.env.example
  e2e_tests/.eslintrc.js
  e2e_tests/.gitignore
  e2e_tests/README.md
  e2e_tests/create_test.js
  e2e_tests/jest.config.js
  e2e_tests/jest.setup.js
  e2e_tests/package-lock.json
  e2e_tests/package.json
  e2e_tests/src/__tests__/core/cr_signup.test.js
  e2e_tests/src/__tests__/core/website_status.test.js
  e2e_tests/src/__tests__/performance/resources.test.js
  e2e_tests/src/__tests__/performance/time_to_chart_ready.test.js
  e2e_tests/src/__tests__/performance/time_to_interactive.test.js
  e2e_tests/src/__tests__/trader/contract_purchase.test.js
  e2e_tests/src/_config/context.js
  e2e_tests/src/_utils/cli_reporter.js
  e2e_tests/src/_utils/logger.js
  e2e_tests/src/_utils/test_template.js
  e2e_tests/src/_utils/websocket.js
  e2e_tests/src/bootstrap.js
  e2e_tests/src/objects/common.js
  e2e_tests/src/objects/deriv_com.js
  e2e_tests/src/objects/qa_emails.js
  e2e_tests/src/objects/trader.js
  e2e_tests/states/.gitignore
Due: prettier --write, npx eslint --fix

fix: console error check 85369
  packages/core/src/Stores/notification-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: mobile issues for tutorial tab
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/index.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: content changes for bot builder tour
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/bot-web-ui/src/components/dashboard/tour-slider.tsx
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
Due: prettier --write, npx eslint --fix

fix: header traders hub cursor pointer
  packages/core/src/sass/app/_common/layout/trading-hub-header.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write
