Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

revert: package-lock
  package-lock.json
Due: prettier --write

Kate/87395/add turbos barriers component (#87)
  packages/components/src/components/contract-card/contract-card-items/contract-card-header.jsx
  packages/components/stories/contract-card/statics/contract.js
  packages/core/src/Constants/contract.js
  packages/reports/src/_common/contract.js
  packages/shared/src/utils/constants/contract.tsx
  packages/trader/src/Constants/contract.js
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/barrier-selector.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/barriers-list.jsx
  packages/trader/src/Modules/Trading/Containers/trade-params.jsx
  packages/trader/src/Stores/Modules/Trading/Helpers/barrier-utils.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/sass/app/modules/trading.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

revert: modal-manager.jsx
  packages/p2p/src/components/modal-manager/modal-manager.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

build: resolve conflicts in package-lock
  package-lock.json
Due: prettier --write

fix: notifications
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/notification-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: bala change deploy command
  package.json
Due: prettier --write

MaryiaF/59158/feat: Google Identity (#221)
  .gitignore
  package.json
  src/botPage/common/google_drive_config.js
  src/botPage/view/deriv/layout/ToolBox/components/load/load.jsx
  src/botPage/view/deriv/layout/ToolBox/components/save/save.jsx
  src/botPage/view/deriv/store/client-slice.js
  src/botPage/view/react-components/Integrations/GoogleDriveIntegration.js
  src/common/integrations/GoogleDrive.js
Due: prettier --write, npx eslint --fix

fix: account switcher for mf
  packages/core/src/App/Containers/RealAccountSignup/add-or-manage-accounts.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: undefined loginid
  packages/core/src/App/Containers/RealAccountSignup/add-or-manage-accounts.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: fixed all of the issues with rebranding icons
  packages/appstore/src/components/app.tsx
  packages/appstore/src/modules/onboarding/onboarding.scss
  packages/appstore/src/modules/onboarding/onboarding.tsx
  packages/cfd/src/Assets/svgs/trading-platform/ic-appstore-cfds.svg
  packages/cfd/src/Assets/svgs/trading-platform/ic-appstore-derived.svg
  packages/cfd/src/Assets/svgs/trading-platform/ic-appstore-financial.svg
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
  packages/core/src/Assets/SvgComponents/header/deriv-rebranding-logo-dark.svg
  packages/core/src/Assets/SvgComponents/header/deriv-rebranding-logo.svg
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: notification in mobile
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/notification-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: add real account modal height
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: removed unused props
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: remove unused v2
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: :sparkles: incorporated form wobbling
  packages/account/src/Components/trading-assessment/trading-assessment-form.jsx
  packages/core/src/sass/account-wizard.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

thisyahlen/fix: account switcher for mf (#7723)
  packages/core/src/App/Containers/RealAccountSignup/add-or-manage-accounts.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

fix: account_header_for_deriv_go_users
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
  packages/core/src/sass/app/_common/layout/trading-hub-header.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Vinu/89450/fix lint errors (#240)
  src/botPage/view/deriv/store/client-slice.js
  src/botPage/view/react-components/Integrations/GoogleDriveIntegration.js
  src/common/integrations/GoogleDrive.js
Due: prettier --write, npx eslint --fix

chore: added modal to check if verification link expires after 10 mins
  packages/components/src/components/icon/common/ic-email-sent-expired.svg
  packages/components/src/components/icon/icons.js
  packages/p2p/src/components/modal-manager/modals/email-link-expired-modal/email-link-expired-modal.jsx
  packages/p2p/src/components/modal-manager/modals/email-link-expired-modal/email-link-expired-modal.scss
  packages/p2p/src/components/modal-manager/modals/email-link-expired-modal/index.js
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/constants/modals.js
  packages/p2p/src/stores/order-store.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: removed the duplicate icons
  packages/account/src/Sections/Security/Passwords/passwords-platform.jsx
  packages/cfd/src/Components/__tests__/cfd-download-container.spec.js
  packages/cfd/src/Components/cfd-download-container.tsx
  packages/cfd/src/Containers/derivx-trade-modal.tsx
  packages/components/src/components/icon/brand/ic-brand-binarybot-dark.svg
  packages/components/src/components/icon/brand/ic-brand-binarybot.svg
  packages/components/src/components/icon/brand/ic-brand-dbot-dark.svg
  packages/components/src/components/icon/brand/ic-brand-dbot.svg
  packages/components/src/components/icon/brand/ic-brand-dtrader-dark.svg
  packages/components/src/components/icon/brand/ic-brand-dtrader.svg
  packages/components/src/components/icon/brand/ic-brand-smarttrader-dark.svg
  packages/components/src/components/icon/brand/ic-brand-smarttrader.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/rebranding/ic-rebranding-binary-bot-dark.svg
  packages/components/src/components/icon/rebranding/ic-rebranding-binary-bot.svg
  packages/components/src/components/icon/rebranding/ic-rebranding-deriv-bot-dark.svg
  packages/components/src/components/icon/rebranding/ic-rebranding-deriv-bot.svg
  packages/components/src/components/icon/rebranding/ic-rebranding-deriv-trader-dark.svg
  packages/components/src/components/icon/rebranding/ic-rebranding-deriv-trader.svg
  packages/components/src/components/icon/rebranding/ic-rebranding-dmt5-dark.svg
  packages/components/src/components/icon/rebranding/ic-rebranding-dmt5.svg
  packages/components/src/components/icon/rebranding/ic-rebranding-dxtrade-dark.svg
  packages/components/src/components/icon/rebranding/ic-rebranding-dxtrade.svg
  packages/components/src/components/icon/rebranding/ic-rebranding-smart-trader-dark.svg
  packages/components/src/components/icon/rebranding/ic-rebranding-smart-trader.svg
  packages/components/stories/icon/icons.js
  packages/components/stories/vertical-tabs/vertical-tabs.stories.js
  packages/shared/brand.config.json
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

added eslint-plugin-prettier package (#241)
  package.json
Due: prettier --write

fix: ad exchange rate for total assets in traders hub
  packages/appstore/src/components/main-title-bar/asset-summary.tsx
Due: prettier --write, npx eslint --fix

feat: implementation of access cases for demo/real mt5/dxtrade accounts
  packages/cfd/src/Containers/cfd-dashboard.tsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: removed values from dropdown for my counterparties
  packages/p2p/src/stores/my-profile-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: change types for setExchangeRate
  packages/appstore/src/components/main-title-bar/asset-summary.tsx
Due: prettier --write, npx eslint --fix

refactor: apply Farzins suggestions
  packages/core/src/App/Components/Elements/LiveChat/use-livechat.ts
  packages/core/src/App/Containers/Routes/routes.jsx
  packages/shared/src/utils/url/url.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: notifications in mobile and desktop
  packages/cashier/src/app.jsx
  packages/cashier/src/containers/cashier/cashier.tsx
  packages/core/src/App/Components/Layout/Header/menu-links.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Modals/ready-to-deposit-modal/ready-to-deposit-modal.jsx
  packages/core/src/App/Containers/Modals/ready-to-deposit-modal/ready-to-deposit-modal.scss
  packages/core/src/Stores/notification-store.js
  packages/hooks/src/index.ts
  packages/hooks/src/useSwitchToRealAccount.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: fix circleci error
  packages/cfd/src/Containers/cfd-dashboard.tsx
Due: prettier --write, npx eslint --fix

fix: switch account issue
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/traders-hub-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: removed dark mode icons and used one icon for both light and dark mode
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/rebranding/ic-rebranding-binary-bot-dark.svg
  packages/components/src/components/icon/rebranding/ic-rebranding-binary-bot.svg
  packages/components/src/components/icon/rebranding/ic-rebranding-deriv-bot-dark.svg
  packages/components/src/components/icon/rebranding/ic-rebranding-deriv-bot.svg
  packages/components/src/components/icon/rebranding/ic-rebranding-deriv-trader-dark.svg
  packages/components/src/components/icon/rebranding/ic-rebranding-deriv-trader.svg
  packages/components/src/components/icon/rebranding/ic-rebranding-dmt5-dark.svg
  packages/components/src/components/icon/rebranding/ic-rebranding-dmt5.svg
  packages/components/src/components/icon/rebranding/ic-rebranding-dxtrade-dark.svg
  packages/components/src/components/icon/rebranding/ic-rebranding-dxtrade.svg
  packages/components/src/components/icon/rebranding/ic-rebranding-smart-trader-dark.svg
  packages/components/src/components/icon/rebranding/ic-rebranding-smart-trader.svg
  packages/components/stories/icon/icons.js
  packages/core/src/App/Components/Layout/Header/platform-dropdown.jsx
  packages/core/src/App/Components/Layout/Header/platform-switcher.jsx
  packages/core/src/sass/app/_common/components/platform-switcher.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: :bug: incorporated designs as specified in Figma
  packages/account/src/Configs/trading-assessment-config.js
  packages/core/src/sass/account-wizard.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: hide_traders_hub_header_for_derivgo_users
  packages/core/src/sass/app/_common/layout/trading-hub-header.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: added link to personal details in proof of identity page
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: :lipstick: set the layout for vanilla trade
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/sass/app/modules/smart-chart.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: :bug: content not translated to selected languages
  packages/account/src/Configs/trading-assessment-config.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: make changes based on code reviews
  packages/components/src/components/input-field/increment-buttons.tsx
  packages/components/src/components/input-field/input-field.tsx
  packages/components/src/components/input-field/input.tsx
Due: prettier --write, npx eslint --fix

fix: only show account switcher on cashier routes
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
