Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

Update onfido.ts
  packages/api/src/constants/onfido.ts
Due: prettier --write, npx eslint --fix

Update package.json
  packages/api/package.json
Due: prettier --write

fix: applied comments
  packages/wallets/src/components/WalletsCarousel/WalletsCarousel.tsx
Due: prettier --write, npx eslint --fix

[TRAH] shahzaib / use currencies typo (#14085)
  packages/tradershub/src/hooks/useCurrencies.ts
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

Suisin/chore: replace snake_case with camelCase (#13961)
  packages/account-v2/src/components/Dropzone/Dropzone.tsx
  packages/account-v2/src/components/Dropzone/__tests__/Dropzone.spec.tsx
  packages/account-v2/src/components/FormFields/__tests__/FormDocumentUploadField.spec.tsx
  packages/account-v2/src/constants/manualFormConstants.tsx
  packages/account-v2/src/containers/ManualForm/ManualFormFooter.tsx
  packages/account-v2/src/containers/ManualForm/ManualFormInputs.tsx
  packages/account-v2/src/containers/ManualForm/__tests__/ManualForm.spec.tsx
  packages/account-v2/src/containers/Onfido/OnfidoView.tsx
  packages/account-v2/src/containers/Onfido/__tests__/OnfidoView.spec.tsx
  packages/account-v2/src/containers/POAForm/AddressDetailsForm.tsx
  packages/account-v2/src/containers/POAForm/DocumentSubmission/__tests__/DocumentSubmission.spec.tsx
  packages/account-v2/src/containers/SelfieDocumentUpload/__tests__/SelfieDocumentUpload.spec.tsx
  packages/account-v2/src/hooks/useManualForm.ts
  packages/account-v2/src/hooks/usePOAInfo.ts
  packages/account-v2/src/mocks/idv-form.mock.ts
  packages/account-v2/src/modules/AddressFields/validations.ts
  packages/account-v2/src/modules/IDVForm/IDVForm.tsx
  packages/account-v2/src/modules/Onfido/OnfidoContainer.tsx
  packages/account-v2/src/modules/Onfido/__tests__/OnfidoContainer.spec.tsx
  packages/account-v2/src/utils/__tests__/idvFormUtils.spec.ts
  packages/account-v2/src/utils/idvFormUtils.ts
  packages/account-v2/src/utils/manualFormUtils.ts
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
Due: prettier --write

Suisin/fix dtrader alignment issue (#13930)
  packages/appstore/src/components/containers/trading-app-card.scss
  packages/appstore/src/components/get-more-accounts/get-more-accounts.scss
  packages/bot-web-ui/src/components/transactions/transactions.scss
  packages/components/src/components/button-toggle/button-toggle.scss
  packages/components/src/components/contract-card/contract-card-items/sass/contract-card-dialog.scss
  packages/components/src/components/contract-card/contract-card.scss
  packages/components/src/components/contract-card/result-overlay/result-overlay.scss
  packages/components/src/components/date-picker/date-picker.scss
  packages/components/src/components/dropdown/dropdown.scss
  packages/components/src/components/dropdown/dropdown.tsx
  packages/components/src/components/input-field/input-field.scss
  packages/components/src/components/popover/popover.scss
  packages/components/src/components/tooltip/tooltip.scss
  packages/core/src/sass/app/_common/components/app-notification-message.scss
  packages/core/src/sass/app/_common/layout/app-layouts.scss
  packages/trader/src/sass/app/_common/components/contract-type-dialog.scss
  packages/trader/src/sass/app/_common/components/contract-type-list.scss
  packages/trader/src/sass/app/_common/components/contract-type-widget.scss
  packages/trader/src/sass/app/_common/components/purchase-button.scss
  packages/trader/src/sass/app/_common/components/range-slider.scss
  packages/trader/src/sass/app/_common/drawer/positions-drawer.scss
  packages/trader/src/sass/app/_common/form/time-picker.scss
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
  packages/trader/src/sass/app/modules/trading.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

[FEQ] - P2P-V2 active orders (#14040)
  packages/api-v2/src/hooks/p2p/entity/order/p2p-order/useOrderList.ts
  packages/p2p-v2/src/constants/index.ts
  packages/p2p-v2/src/constants/orders.ts
  packages/p2p-v2/src/constants/url.ts
  packages/p2p-v2/src/hooks/index.ts
  packages/p2p-v2/src/hooks/useExtendedOrderDetails.ts
  packages/p2p-v2/src/pages/index.ts
  packages/p2p-v2/src/pages/orders/components/OrderStatusTag/OrderStatusTag.scss
  packages/p2p-v2/src/pages/orders/components/OrderStatusTag/OrderStatusTag.tsx
  packages/p2p-v2/src/pages/orders/components/OrderStatusTag/__tests__/OrderStatusTag.spec.tsx
  packages/p2p-v2/src/pages/orders/components/OrderStatusTag/index.ts
  packages/p2p-v2/src/pages/orders/components/OrderTimer/OrderTimer.scss
  packages/p2p-v2/src/pages/orders/components/OrderTimer/OrderTimer.tsx
  packages/p2p-v2/src/pages/orders/components/OrderTimer/index.ts
  packages/p2p-v2/src/pages/orders/components/index.ts
  packages/p2p-v2/src/pages/orders/index.ts
  packages/p2p-v2/src/pages/orders/screens/Orders/Orders.tsx
  packages/p2p-v2/src/pages/orders/screens/Orders/OrdersEmpty/OrdersEmpty.tsx
  packages/p2p-v2/src/pages/orders/screens/Orders/OrdersEmpty/__tests__/OrdersEmpty.spec.tsx
  packages/p2p-v2/src/pages/orders/screens/Orders/OrdersEmpty/index.ts
  packages/p2p-v2/src/pages/orders/screens/Orders/OrdersTable/OrdersTable.scss
  packages/p2p-v2/src/pages/orders/screens/Orders/OrdersTable/OrdersTable.tsx
  packages/p2p-v2/src/pages/orders/screens/Orders/OrdersTable/__tests__/OrdersTable.spec.tsx
  packages/p2p-v2/src/pages/orders/screens/Orders/OrdersTable/index.ts
  packages/p2p-v2/src/pages/orders/screens/Orders/OrdersTableHeader/OrdersTableHeader.scss
  packages/p2p-v2/src/pages/orders/screens/Orders/OrdersTableHeader/OrdersTableHeader.tsx
  packages/p2p-v2/src/pages/orders/screens/Orders/OrdersTableHeader/__tests__/OrdersTableHeader.spec.tsx
  packages/p2p-v2/src/pages/orders/screens/Orders/OrdersTableHeader/index.ts
  packages/p2p-v2/src/pages/orders/screens/Orders/OrdersTableRow/OrdersTableRow.scss
  packages/p2p-v2/src/pages/orders/screens/Orders/OrdersTableRow/OrdersTableRow.tsx
  packages/p2p-v2/src/pages/orders/screens/Orders/OrdersTableRow/index.ts
  packages/p2p-v2/src/pages/orders/screens/Orders/__tests__/Orders.spec.tsx
  packages/p2p-v2/src/pages/orders/screens/Orders/index.ts
  packages/p2p-v2/src/pages/orders/screens/index.ts
  packages/p2p-v2/src/public/ic-chat.svg
  packages/p2p-v2/src/routes/AppContent/index.tsx
  packages/p2p-v2/src/utils/time.ts
  packages/p2p-v2/types.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: update test cases
  packages/trader/src/App/Components/Elements/ContractDrawer/__tests__/contract-drawer-card.spec.tsx
Due: prettier --write, npx eslint --fix

feat: chat section ui
  packages/p2p-v2/src/constants/chat-constants.ts
  packages/p2p-v2/src/constants/index.ts
  packages/p2p-v2/src/hooks/useSendbird.ts
  packages/p2p-v2/src/pages/my-ads/screens/AdminMessage/AdminMessage.tsx
  packages/p2p-v2/src/pages/my-ads/screens/AdminMessage/index.ts
  packages/p2p-v2/src/pages/my-ads/screens/ChatFooter/ChatFooter.scss
  packages/p2p-v2/src/pages/my-ads/screens/ChatFooter/ChatFooter.tsx
  packages/p2p-v2/src/pages/my-ads/screens/ChatFooter/index.ts
  packages/p2p-v2/src/pages/my-ads/screens/ChatHeader/ChatHeader.scss
  packages/p2p-v2/src/pages/my-ads/screens/ChatHeader/ChatHeader.tsx
  packages/p2p-v2/src/pages/my-ads/screens/ChatHeader/index.ts
  packages/p2p-v2/src/pages/my-ads/screens/ChatMessageReceipt/ChatMessageReceipt.scss
  packages/p2p-v2/src/pages/my-ads/screens/ChatMessageReceipt/ChatMessageReceipt.tsx
  packages/p2p-v2/src/pages/my-ads/screens/ChatMessageReceipt/index.ts
  packages/p2p-v2/src/pages/my-ads/screens/ChatMessageText/ChatMessageText.scss
  packages/p2p-v2/src/pages/my-ads/screens/ChatMessageText/ChatMessageText.tsx
  packages/p2p-v2/src/pages/my-ads/screens/ChatMessageText/index.ts
  packages/p2p-v2/src/pages/my-ads/screens/ChatMessages/ChatMessages.scss
  packages/p2p-v2/src/pages/my-ads/screens/ChatMessages/ChatMessages.tsx
  packages/p2p-v2/src/pages/my-ads/screens/ChatMessages/index.ts
  packages/p2p-v2/src/pages/my-ads/screens/MyAds/MyAds.tsx
  packages/p2p-v2/src/pages/my-ads/screens/OrdersChat/OrdersChat.scss
  packages/p2p-v2/src/pages/my-ads/screens/OrdersChat/OrdersChat.tsx
  packages/p2p-v2/src/pages/my-ads/screens/OrdersChat/index.ts
  packages/p2p-v2/src/pages/my-ads/screens/OrdersChatSection/OrdersChatSection.tsx
  packages/p2p-v2/src/pages/my-ads/screens/OrdersChatSection/index.ts
  packages/p2p-v2/src/public/ic-message-delivered.svg
  packages/p2p-v2/src/public/ic-message-errored.svg
  packages/p2p-v2/src/public/ic-message-pending.svg
  packages/p2p-v2/src/public/ic-message-seen.svg
  packages/p2p-v2/src/public/ic-send-message.svg
  packages/p2p-v2/src/utils/file.ts
  packages/p2p-v2/src/utils/index.ts
  packages/p2p-v2/src/utils/time.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

[BOT] Rupato/bot 1471/loss threshold closes abruptly (#14025)
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/desktop-form-wrapper.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/mobile-form-wrapper.tsx
Due: prettier --write, npx eslint --fix

chore: added test-cases
  packages/p2p-v2/src/components/FileDropzone/FileDropzone.scss
  packages/p2p-v2/src/components/FileDropzone/FileDropzone.tsx
  packages/p2p-v2/src/components/FileUploaderComponent/FileUploaderComponent.tsx
  packages/p2p-v2/src/components/Modals/OrderDetailsConfirmModal/OrderDetailsConfirmModal.tsx
  packages/p2p-v2/src/components/Modals/OrderDetailsConfirmModal/__tests__/OrderDetailsConfirmModal.spec.tsx
  packages/p2p-v2/src/routes/AppContent/index.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: the bulk of the changes
  packages/appstore/src/assets/svgs/wallets/ready-to-enable-wallets.svg
  packages/appstore/src/assets/svgs/wallets/wallets-image.tsx
  packages/appstore/src/assets/svgs/wallets/why-wallets.svg
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/wallet_steps.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/wallets-upgrade-footer.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/ready-to-upgrade-wallets/ready-to-upgrade-wallets.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-linking-step/wallet-linking-step.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-linking-step/wallet-linking-step.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-intro/__tests__/wallets-intro.spec.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-intro/index.ts
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-intro/wallets-intro.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/why-wallets/index.ts
  packages/appstore/src/components/modals/real-wallets-upgrade/components/why-wallets/why-wallets.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/why-wallets/why-wallets.tsx
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.tsx
  packages/appstore/src/components/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/constants/mock_wallet_migration_response.ts
  packages/appstore/src/constants/upgrade-info-lists-config.tsx
  packages/appstore/src/constants/wallets-intro-content-config.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: unwanted change removed
  packages/p2p-v2/src/pages/orders/screens/Orders/OrdersTableRow/OrdersTableRow.tsx
  packages/p2p-v2/src/routes/AppContent/index.tsx
Due: prettier --write, npx eslint --fix

chore: remove weird emoji in `info` from onfido.js
  packages/account/src/Constants/onfido.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: report_available_for_non_selfish_providers
  packages/account/src/Components/poi/idv-status/idv-failed/__tests__/idv-failed.spec.tsx
  packages/account/src/Components/poi/idv-status/idv-failed/idv-failed.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/idv.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission-for-mt5.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
  packages/shared/src/utils/helpers/__tests__/format-response.spec.ts
  packages/shared/src/utils/helpers/format-response.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: changed style to use tailwind
  packages/p2p-v2/src/pages/orders/components/OrderRatingButton/OrderRatingButton.scss
  packages/p2p-v2/src/pages/orders/components/OrderRatingButton/OrderRatingButton.tsx
  packages/p2p-v2/src/pages/orders/screens/Orders/OrdersTableRow/OrdersTableRow.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: updated deriv-com/ui package version
  package-lock.json
  packages/account-v2/package.json
  packages/cashier-v2/package.json
  packages/p2p-v2/package.json
  packages/tradershub/package.json
Due: prettier --write

fix: removed constant condition
  packages/p2p-v2/src/pages/orders/screens/Orders/OrdersTableRow/OrdersTableRow.tsx
Due: prettier --write, npx eslint --fix

fix: applied comments
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.tsx
Due: prettier --write, npx eslint --fix

fix: sort payment methods with localCompare
  packages/p2p-v2/src/components/Modals/FilterModal/FilterModal.tsx
Due: prettier --write, npx eslint --fix

chore: removed useEffect to setAppElement
  packages/p2p-v2/src/components/Modals/FilterModal/FilterModal.tsx
  packages/p2p-v2/src/components/Modals/FilterModal/__tests__/FilterModal.spec.tsx
Due: prettier --write, npx eslint --fix

chore: remove setApplElement, updated test cases
  packages/p2p-v2/src/components/Modals/OrderDetailsConfirmModal/OrderDetailsConfirmModal.tsx
  packages/p2p-v2/src/components/Modals/OrderDetailsConfirmModal/__tests__/OrderDetailsConfirmModal.spec.tsx
Due: prettier --write, npx eslint --fix

chore: removed unused imports
  packages/p2p-v2/src/components/Modals/OrderDetailsConfirmModal/OrderDetailsConfirmModal.tsx
Due: prettier --write, npx eslint --fix

fix: change mock data to string
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/__tests__/widgets.spec.tsx
Due: prettier --write, npx eslint --fix

refactor: applied code review comments
  packages/account/src/Configs/get-status-badge-config.tsx
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/modals/account-disabled-modal/account-disabled-modal.tsx
  packages/appstore/src/components/modals/account-disabled-modal/index.ts
  packages/components/src/components/status-badge/status-badge.scss
  packages/shared/src/utils/constants/mt5-login-list-status.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: updated cTrader download link, qr code and added mac app
  packages/tradershub/src/features/cfd/constants.tsx
  packages/tradershub/src/features/cfd/screens/TradeScreen/TradeLink/TradeLink.tsx
  packages/tradershub/src/features/cfd/screens/TradeScreen/TradeScreen.tsx
Due: prettier --write, npx eslint --fix

fix: failed component test
  packages/wallets/component-tests/wallets-carousel-content.spec.tsx
Due: prettier --write, npx eslint --fix

chore: API integration for adding a new crypto currency
  packages/tradershub/src/hooks/useAddNewCurrencyAccount.ts
  packages/tradershub/src/hooks/useCurrencies.ts
  packages/tradershub/src/hooks/useDisableFiatCurrencies.ts
  packages/tradershub/src/modals/AddOrManageAccount/AddOrManageAccount.tsx
  packages/tradershub/src/modals/AddOrManageAccount/CurrenciesForm.tsx
Due: prettier --write, npx eslint --fix

refactor: add check for ios
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer.tsx
Due: prettier --write, npx eslint --fix

fix: Web terminal description changed
  packages/tradershub/src/features/cfd/screens/TradeScreen/TradeLink/TradeLink.tsx
Due: prettier --write, npx eslint --fix

feat: add header-fallback
  packages/core/src/App/Containers/Layout/header/header-fallback.tsx
  packages/core/src/App/Containers/Layout/header/header.tsx
Due: prettier --write, npx eslint --fix

fix: remove text align and color changes
  packages/components/src/components/contract-card/contract-card-items/tick-counter-bar.tsx
  packages/components/src/components/contract-card/contract-card.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: reverted to old logic to fix test, will investigate deeper in next PR
  packages/api-v2/src/APIProvider.tsx
Due: prettier --write, npx eslint --fix

chore: added suggestions
  packages/p2p-v2/src/components/FileDropzone/FadeInMessage/FadeInMessage.tsx
  packages/p2p-v2/src/components/Modals/OrderDetailsConfirmModal/OrderDetailsConfirmModal.tsx
Due: prettier --write, npx eslint --fix

chore: removed flex-row
  packages/p2p-v2/src/components/Modals/FilterModal/FilterModalContent/FilterModalContent.tsx
Due: prettier --write, npx eslint --fix

fix: remove all occurances of tick_size_barrier
  packages/shared/src/utils/shortcode/shortcode.ts
  packages/stores/src/mockStore.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Due: prettier --write, npx eslint --fix
