Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: issues in trade types
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
  packages/trader/src/AppV2/Hooks/useDtraderQuery.ts
Due: prettier --write, npx eslint --fix

fix: for tick delay
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Ticks.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: fixed failed test
  packages/wallets/src/features/cfd/modals/MT5AccountAdded/__tests__/MT5AccountAdded.spec.tsx
Due: prettier --write, npx eslint --fix

chore: progress
  packages/components/src/components/icon/icons.js
  packages/shared/src/utils/constants/contract.ts
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: pass the attributes on GB initialisation
  packages/core/src/Utils/Analytics/index.ts
Due: prettier --write, npx eslint --fix

build: match the js-cookie types with the package version
  package-lock.json
  packages/shared/package.json
Due: prettier --write

fix: fixed MT5ChangePasswordScreens failed test
  packages/wallets/src/features/cfd/screens/ChangePassword/__tests__/MT5ChangePasswordScreens.spec.tsx
Due: prettier --write, npx eslint --fix

chore: add fix for risk-management-info-modal test case
  packages/trader/src/AppV2/Components/RiskManagementInfoModal/__tests__/risk-management-info-modal.spec.tsx
Due: prettier --write, npx eslint --fix

chore: package-lock.json
  package-lock.json
Due: prettier --write

fix: disable same end time and start time
  packages/p2p/src/utils/business-hours.ts
Due: prettier --write, npx eslint --fix

fix: barrier fix
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Due: prettier --write, npx eslint --fix

chore: update test description
  packages/wallets/src/features/cfd/screens/VerificationFailed/__tests__/VerificationFailed.spec.tsx
Due: prettier --write, npx eslint --fix

Suisin/webrel3128/hyperlink changed colour (#16716)
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
  packages/trader/src/AppV2/Components/RiskManagementInfoModal/__tests__/risk-management-info-modal.spec.tsx
Due: prettier --write, npx eslint --fix

chore: update version of deriv-com/ui
  package-lock.json
  packages/account/package.json
  packages/appstore/package.json
  packages/cashier/package.json
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/p2p/package.json
  packages/reports/package.json
  packages/trader/package.json
  packages/wallets/package.json
Due: prettier --write

chore: show verification link expired modal first then only session modal
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification-page.tsx
  packages/account/src/Sections/Profile/PhoneVerification/verification-link-expired-modal.tsx
Due: prettier --write, npx eslint --fix

refactor: apply suggestions
  packages/trader/src/AppV2/Components/OnboardingGuide/guide-container.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/onboarding-guide.scss
  packages/trader/src/AppV2/Components/OnboardingGuide/onboarding-guide.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/onboarding-video.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/steps-config.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: remove loadMoreFunction prop
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/uz.json
Due: prettier --write

chore: update quill
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
Due: prettier --write

fix: app card badge border radius
  packages/wallets/src/components/AppCardBadge/AppCardBadge.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: fix issues with trade types list
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
  packages/trader/src/AppV2/Hooks/useActiveSymbols.ts
  packages/trader/src/AppV2/Hooks/useContractsForCompany.ts
Due: prettier --write, npx eslint --fix

chore: set showCrossIcon and showHandleBar false
  packages/account/src/Sections/Profile/PhoneVerification/cool-down-period-modal.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-number-verified-modal.tsx
  packages/account/src/Sections/Profile/PhoneVerification/session-timeout-modal.tsx
Due: prettier --write, npx eslint --fix

fix: empty contracts for
  packages/shared/src/utils/helpers/active-symbols.ts
Due: prettier --write, npx eslint --fix

chore: added action to open live chat
  packages/core/src/App/Containers/Redirect/redirect.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: made scroll function resuable
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade-types.spec.tsx
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
Due: prettier --write, npx eslint --fix

fix: remove country property as its built in to the analytics package
  packages/core/src/Utils/Analytics/index.ts
Due: prettier --write, npx eslint --fix

build: update to 1.15.0 to also include changes for the new location implementation
  package-lock.json
  package.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/appstore/package.json
  packages/cashier/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/p2p/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Due: prettier --write

refactor: allow equals component
  packages/trader/src/AppV2/Components/TradeParameters/AccumulatorsInformation/__tests__/accumulators-information.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/AccumulatorsInformation/accumulators-information.tsx
  packages/trader/src/AppV2/Components/TradeParameters/AllowEquals/__tests__/allow-equals.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/AllowEquals/allow-equals.scss
  packages/trader/src/AppV2/Components/TradeParameters/AllowEquals/allow-equals.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: handled scrollBy fix in trade-types
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
Due: prettier --write, npx eslint --fix

fix: fix
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Due: prettier --write, npx eslint --fix

fix: resubmission for fully authenticated clients
  packages/api-v2/src/hooks/usePOI.ts
  packages/wallets/src/features/cfd/flows/ClientVerification/ClientVerification.tsx
Due: prettier --write, npx eslint --fix

fix: remove the scroll behavior smooth in trade_types_ref
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
Due: prettier --write, npx eslint --fix

fix: issue where sat and sun closed showed wrong time
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/business-hour-modal-edit/business-hour-modal-edit.tsx
  packages/p2p/src/utils/business-hours.ts
Due: prettier --write, npx eslint --fix

fix: tooltip fix
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/payout-per-point-input.tsx
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/payout-per-point-mobile-input.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/payout-selector.tsx
  packages/trader/src/Modules/Trading/Components/Form/screen-small.tsx
Due: prettier --write, npx eslint --fix

fix: fix
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker-mobile.tsx
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: add payout for higher lower and touch no touch
  packages/trader/src/AppV2/Components/TradeParameters/PayoutInfo/__tests__/payout-info.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/PayoutInfo/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/PayoutInfo/payout-info.scss
  packages/trader/src/AppV2/Components/TradeParameters/PayoutInfo/payout-info.tsx
  packages/trader/src/AppV2/Components/TradeParameters/__tests__/trade-parameters.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.scss
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
  packages/trader/src/AppV2/Utils/trade-params-utils.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: method to calc amount active announce, state for it
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.tsx
Due: prettier --write, npx eslint --fix

refactor: add animation for trade params info and refacored ppp
  packages/trader/src/AppV2/Components/TradeParameters/PayoutInfo/__tests__/payout-info.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/PayoutInfo/payout-info.tsx
  packages/trader/src/AppV2/Components/TradeParameters/PayoutPerPointInfo/__tests__/payout-per-point-info.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/PayoutPerPointInfo/payout-per-point-info.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.scss
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
