Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

build: use core analytics instance
  packages/bot-web-ui/webpack.config.js
  packages/trader/build/webpack.config.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: :recycle: refactor types and code review fixes
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsButton.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsCard.scss
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsCard.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsDescription.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsPlatformLabel.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsScreen.scss
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsScreen.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsTitleIcon.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/InstrumentsIconWithLabel.scss
  packages/wallets/src/features/cfd/screens/CompareAccounts/InstrumentsIconWithLabel.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/InstrumentsLabelHighlighted.scss
  packages/wallets/src/features/cfd/screens/CompareAccounts/InstrumentsLabelHighlighted.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/compareAccountsConfig.ts
  packages/wallets/src/features/cfd/screens/CompareAccounts/constants.ts
  packages/wallets/src/features/cfd/screens/CompareAccounts/tradingPlatformIcons.tsx
  packages/wallets/src/public/images/tradingPlatforms/ic-appstore-cfds.svg
  packages/wallets/src/public/images/tradingPlatforms/ic-appstore-ctrader.svg
  packages/wallets/src/public/images/tradingPlatforms/ic-appstore-deriv-x.svg
  packages/wallets/src/public/images/tradingPlatforms/ic-appstore-derived.svg
  packages/wallets/src/public/images/tradingPlatforms/ic-appstore-derivez.svg
  packages/wallets/src/public/images/tradingPlatforms/ic-appstore-financial.svg
  packages/wallets/src/public/images/tradingPlatforms/ic-appstore-swap-free.svg
  packages/wallets/src/public/images/tradingPlatforms/index.tsx
  packages/wallets/src/routes/Router.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

[COJ] Evgeniy / feq-599 context_value should be passed to provider with memo
  packages/account/src/Components/api-token/api-token.tsx
Due: prettier --write, npx eslint --fix

feat: sync the schema with the analyitcs package
  packages/core/src/Stores/client-store.js
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: enable rudderstack only if there's a key
  packages/core/src/App/app.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: resolved error display bugs
  packages/account/src/Containers/proof-of-ownership/__tests__/expanded-card.spec.tsx
  packages/account/src/Containers/proof-of-ownership/expanded-card.tsx
  packages/account/src/Containers/proof-of-ownership/file-uploader.tsx
  packages/account/src/Sections/Verification/ProofOfOwnership/proof-of-ownership-form.tsx
  packages/account/src/Types/common.type.ts
Due: prettier --write, npx eslint --fix

feat: add range duration info for all the rest contracts
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/__tests__/duration-range-text.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/advanced-duration.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-mobile.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/simple-duration.jsx
  packages/trader/src/Modules/Trading/Containers/__tests__/trade-params-mobile.spec.tsx
  packages/trader/src/Modules/Trading/Containers/trade-params-mobile.tsx
  packages/trader/src/sass/app/modules/trading.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

build: use fixed version of embla
  packages/appstore/package.json
  packages/components/package.json
  packages/wallets/package.json
Due: prettier --write

build: update package lock
  package-lock.json
Due: prettier --write

feat: add formik
  packages/wallets/src/components/Base/WalletPasswordField/PasswordViewerIcon.tsx
  packages/wallets/src/components/ModalProvider/ModalProvider.tsx
  packages/wallets/src/features/cfd/modals/MT5TradeModal/MT5TradeModal.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/MT5ChangeInvestorPasswordScreens.tsx
Due: prettier --write, npx eslint --fix

chore: check logout
  packages/account/src/Containers/Account/page-overlay-wrapper.tsx
  packages/core/src/Services/logout.js
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: fix
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: existing test
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/__tests__/duration-wrapper.spec.tsx
Due: prettier --write, npx eslint --fix

fix: :bug: removes unwanted parameters and state setting
  packages/core/src/App/Containers/RealAccountSignup/add-crypto-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/add-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/add-or-manage-accounts.jsx
  packages/core/src/App/Containers/RealAccountSignup/change-account-currency.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: separate components to different screens
  packages/wallets/src/features/cfd/screens/ChangePassword/ChangePassword.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/MT5ChangeInvestorPasswordInputsScreen.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/MT5ChangeInvestorPasswordSavedScreen.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/MT5ChangeInvestorPasswordScreens.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/MT5ChangeInvestorPasswordScreens.tsx
Due: prettier --write, npx eslint --fix

refactor: the thing
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useInfiniteTransactions.ts
  packages/wallets/src/features/cashier/modules/Transactions/Transactions.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompleted/TransactionsCompleted.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedDemoResetBalance/TransactionsCompletedDemoResetBalance.scss
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedDemoResetBalance/TransactionsCompletedDemoResetBalance.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedDemoResetBalance/index.ts
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/TransactionsCompletedRow.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/components/TransactionsCompletedRowAccountDetails/TransactionsCompletedRowAccountDetails.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/index.ts
  packages/wallets/src/types.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: update popover functionality to toggle bubble when target is focused
  packages/components/src/components/popover/popover.tsx
  packages/components/src/components/types/popover.types.ts
  packages/components/stories/popover/README.md
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/widgets.tsx
Due: prettier --write, npx eslint --fix

chore: removed state control from outside for vanilla and turbos
  packages/components/src/components/popover/popover.tsx
  packages/components/src/components/types/popover.types.ts
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/widgets.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/barrier-selector.tsx
  packages/trader/src/Modules/Trading/Containers/strike-param-modal.tsx
Due: prettier --write, npx eslint --fix

refactor: create mt5ChangeInvestorPasswordScreens scss file
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/MT5ChangeInvestorPasswordInputsScreen.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/MT5ChangeInvestorPasswordSavedScreen.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/MT5ChangeInvestorPasswordScreens.scss
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/MT5ChangeInvestorPasswordScreens.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: readme update with new PR guidelines
  README.md
Due: prettier --write

docs: update readme
  packages/components/stories/popover/README.md
Due: prettier --write

test: add test for popover
  packages/components/src/components/popover/__tests__/popover.spec.tsx
Due: prettier --write, npx eslint --fix

chore: abstract mock oauth url logic
  packages/integration/src/exampleMock.ts
  packages/integration/src/utils/mocks/generateOauthLoginFromAccounts.ts
  packages/integration/src/utils/mocks/mocks.ts
Due: prettier --write, npx eslint --fix

fix: add query to mock server
  packages/integration/src/exampleMock.ts
Due: prettier --write, npx eslint --fix

test: popover
  packages/components/src/components/popover/__tests__/popover.spec.tsx
  packages/components/src/components/popover/popover.tsx
Due: prettier --write, npx eslint --fix

fix: remove the unused functions, variables from flating-rate-store (#11679)
  packages/p2p/src/pages/my-ads/edit-ad-form.jsx
  packages/p2p/src/stores/floating-rate-store.js
  packages/p2p/src/stores/general-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

[P2PS] Ameerul /P2PS-1894 Matching ads changes is still saved when user click on leave page button (#11326)
  packages/p2p/src/components/modal-manager/modals/filter-modal/__tests__/filter-modal-body.spec.tsx
  packages/p2p/src/components/modal-manager/modals/filter-modal/filter-modal-body.tsx
  packages/p2p/src/components/modal-manager/modals/filter-modal/filter-modal.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/si.json
Due: prettier --write

[P2PS]-fix: advertiser badges not showing on initial load (#11715)
  packages/p2p/src/pages/advertiser-page/advertiser-page.jsx
  packages/p2p/src/stores/advertiser-page-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

wojciech/chore: readme update with new PR guidelines (#11882)
  README.md
Due: prettier --write

[WALL] Farhan/Adrienne/Extract strings and setup i18next (#11867)
  packages/wallets/localize-loader.js
  packages/wallets/package.json
  packages/wallets/src/App.tsx
  packages/wallets/src/components/WalletListCardIBalance/WalletListCardIBalance.tsx
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.tsx
  packages/wallets/src/translations/i18n.ts
  packages/wallets/src/translations/messages.json
  packages/wallets/webpack.config.js
Due: prettier --write, npx eslint --fix

[WALL] Ameerul /WALL-1422 Noticing issue in Crypto Withdrawal transaction page (#11123)
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-form/__tests__/withdrawal-crypto-form.spec.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-form/withdrawal-crypto-form.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-receipt/__tests__/withdrawal-crypto-receipt.spec.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-receipt/withdrawal-crypto-receipt.tsx
  packages/hooks/src/useCryptoTransactions.ts
Due: prettier --write, npx eslint --fix

chore: add link component to Trans component
  packages/wallets/src/components/Base/WalletLink/WalletLink.scss
  packages/wallets/src/components/Base/WalletLink/WalletLink.tsx
  packages/wallets/src/components/Base/WalletLink/index.ts
  packages/wallets/src/components/Base/index.ts
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.tsx
  packages/wallets/src/features/cfd/CFDPlatformsList.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
