Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: use chromium as the only browser for testing
  end-to-end-test/README.md
  end-to-end-test/package.json
  end-to-end-test/playwright.config.ts
  end-to-end-test/tests/onboarding/onboarding.ts
  end-to-end-test/tests/traders-hub/dashboard-demo.spec.tsx
  end-to-end-test/tests/traders-hub/dashboard-real.spec.tsx
  end-to-end-test/tests/utils/index.ts
  end-to-end-test/utils/constants.ts
  end-to-end-test/utils/helpers.ts
  end-to-end-test/utils/index.ts
  package.json
Due: prettier --write, npx eslint --fix

fix: remove additional button props
  packages/appstore/src/components/wallets-banner/wallets-banner-ready.tsx
  packages/appstore/src/components/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/wallets-banner/wallets-banner.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

docs: update description for the command to show the test report in dev mode
  end-to-end-test/README.md
Due: prettier --write

ci: add command to show the tests report in dev mode
  package.json
Due: prettier --write

refactor: to resolve circle ci issue from mockstore
  packages/stores/src/mockStore.ts
Due: prettier --write, npx eslint --fix

fix(stores): :memo: resolve conflicts
  packages/stores/src/providers/ExchangeRatesProvider.tsx
  packages/stores/src/stores/ExchangeRatesStore.ts
Due: prettier --write, npx eslint --fix

fix: enable smarttrader trade types
  packages/reports/src/Containers/open-positions.jsx
  packages/reports/src/Containers/profit-table.jsx
  packages/reports/src/Containers/statement.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix(stores): :memo: resolve conflicts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

fix: round-up-patch 3
  packages/cfd/src/Containers/trade-modal.tsx
Due: prettier --write, npx eslint --fix

feat: add useContentFlag hook
  packages/appstore/package.json
  packages/appstore/src/components/wallet-content/wallet-option-multipliers-listing.tsx
  packages/appstore/src/modules/traders-hub/traders-hub.scss
  packages/hooks/package.json
  packages/hooks/src/index.ts
  packages/hooks/src/useContentFlag.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: :bug: build path issue
  packages/account/src/Components/poi/status/unsupported/unsupported.tsx
Due: prettier --write, npx eslint --fix

feat: removed unused import
  packages/account/src/Components/poi/idv-document-submit/__tests__/idv-document-submit.spec.tsx
Due: prettier --write, npx eslint --fix

fix: code smells
  packages/cfd/src/Components/props.types.ts
  packages/stores/src/mockStore.ts
Due: prettier --write, npx eslint --fix

refactor: to resolve circle ci issue in account limit spec file
  packages/stores/src/mockStore.ts
Due: prettier --write, npx eslint --fix

test: update test case to use count
  end-to-end-test/tests/traders-hub/dashboard-real.spec.tsx
Due: prettier --write, npx eslint --fix

chore: fix conflict
  packages/appstore/src/constants/utils.ts
Due: prettier --write, npx eslint --fix

refactor: added missing trail comma in real account signup component
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: :trash: removed react-render-html package
  package.json
  src/botPage/view/deriv/components/tour/tour-targets.jsx
  src/common/utils/tools.js
Due: prettier --write, npx eslint --fix

style: poi form (#25)
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.tsx
Due: prettier --write, npx eslint --fix

chore: :trash: removed react-render-html package
  package-lock.json
  src/botPage/view/deriv/components/tour/tour-targets.jsx
Due: prettier --write, npx eslint --fix

refactor: remove connect from tour-slider.tsx
  packages/bot-web-ui/src/components/dashboard/tour-slider.tsx
Due: prettier --write, npx eslint --fix

chore: create bug
  packages/appstore/src/components/main-title-bar/asset-summary.tsx
  packages/appstore/src/constants/platform-config.ts
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/src/App/Components/Layout/Header/login-button.jsx
  packages/core/src/App/Components/Layout/Header/signup-button.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-mobile.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: asdf
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

feat: remove some vars
  packages/shared/src/styles/themes.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: fix mobile cropped issue
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
Due: prettier --write, npx eslint --fix

refactor: remove connect from tour-trigger-dialog.tsx
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
Due: prettier --write, npx eslint --fix

fix: :bug: fixes circleci issues
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-card.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-modal-content.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-content-wrapper.tsx
  packages/cfd/src/Containers/props.types.ts
Due: prettier --write, npx eslint --fix

refactor: To replace autocomplete value with new values for dropdown inputs
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: :bug: verification icons update based on onfido
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-card.tsx
Due: prettier --write, npx eslint --fix

feat: write some tests
  packages/appstore/src/components/wallet-content/__tests__/wallet-content-divider.tsx
  packages/appstore/src/components/wallet-content/__tests__/wallet-transfer-block.spec.tsx
  packages/appstore/src/components/wallet-content/wallet-cfds-listing.tsx
  packages/appstore/src/components/wallet-content/wallet-transfer-block.tsx
  packages/appstore/src/types/common.types.ts
Due: prettier --write, npx eslint --fix

fix: fix--sync
  packages/core/src/Modules/BinaryBotIFrame/BinaryBotIFrame.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: fix--sync (#8652)
  packages/core/src/Modules/BinaryBotIFrame/BinaryBotIFrame.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

chore: add source-map to releases
  packages/account/build/webpack.config.js
  packages/appstore/webpack.config.js
  packages/bot-web-ui/webpack.config.js
  packages/cashier/build/webpack.config.js
  packages/cfd/build/webpack.config-test.js
  packages/cfd/build/webpack.config.js
  packages/core/build/webpack.config-test.js
  packages/core/build/webpack.config.js
  packages/p2p/webpack.config.js
  packages/reports/build/webpack.config-test.js
  packages/reports/build/webpack.config.js
  packages/trader/build/webpack.config-test.js
  packages/trader/build/webpack.config.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: added bugs for QA
  packages/trader/src/Modules/Trading/Containers/trade-params-mobile.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: :art: fixed styling issue
  packages/account/src/Helpers/utils.ts
  packages/core/src/sass/real-account-signup.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

test(hooks): :white_check_mark: add test for hooks with missing test
  packages/hooks/src/__tests__/useIsP2PEnabled.spec.tsx
  packages/hooks/src/__tests__/usePaymentAgentList.spec.tsx
  packages/hooks/src/__tests__/usePaymentAgentTransferVisible.spec.tsx
Due: prettier --write, npx eslint --fix

fix: :bug: inlcudes onfido verification case for all cards
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-title-indicator.tsx
Due: prettier --write, npx eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
