Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: removed mock in common utils file
  packages/bot-web-ui/src/app/__tests__/app-main.spec.tsx
  packages/bot-web-ui/src/utils/mock/index.js
  packages/bot-web-ui/src/utils/mock/ws-mock.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: added routing to advert modal
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/modal-manager/modals/share-my-ads-modal/share-my-ads-modal.tsx
  packages/p2p/src/components/modal-manager/modals/share-my-ads-modal/share-my-ads-socials/share-my-ads-socials.tsx
  packages/p2p/src/stores/advertiser-page-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: remove comment out of codes
  packages/core/src/App/Containers/Redirect/redirect.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: resolve comments
  packages/trader/src/App/Components/Elements/market-countdown-timer.tsx
  packages/trader/src/App/Containers/trade-footer-extensions.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Due: prettier --write, npx eslint --fix

chore: remove unused import
  packages/core/src/App/Containers/Redirect/redirect.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

yashiim/fix: updated bi data collection endpoint (#9645)
  packages/bot-web-ui/src/stores/data-collection-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

build: add --detectOpenHandles to find the test leaks
  package.json
Due: prettier --write

Bala/Flutter chart integration (#7474)
  packages/bot-web-ui/src/components/chart/chart.tsx
  packages/components/src/components/swipeable-wrapper/swipeable-wrapper.scss
  packages/components/src/components/swipeable-wrapper/swipeable-wrapper.tsx
  packages/core/build/config.js
  packages/core/src/Stores/Helpers/__tests__/chart-markers.spec.ts
  packages/core/src/Stores/Helpers/chart-markers.js
  packages/core/src/Stores/Helpers/logic.js
  packages/core/src/Stores/contract-store.js
  packages/core/src/Stores/contract-trade-store.js
  packages/reports/src/sass/app/modules/smart-chart.scss
  packages/shared/src/utils/contract/contract.ts
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
  packages/trader/src/Modules/SmartChart/Components/Markers/__tests__/delayed-accu-barriers-marker.spec.tsx
  packages/trader/src/Modules/SmartChart/Components/Markers/accumulators-profit-loss-text.jsx
  packages/trader/src/Modules/SmartChart/Components/Markers/delayed-accu-barriers-marker.tsx
  packages/trader/src/Modules/SmartChart/Components/Markers/marker.jsx
  packages/trader/src/Modules/SmartChart/Components/all-markers.jsx
  packages/trader/src/Modules/SmartChart/Components/top-widgets.jsx
  packages/trader/src/Modules/Trading/Components/Elements/purchase-fieldset.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/sass/app/modules/smart-chart.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: type that are not shared between componenets defined within the component itself
  packages/cfd/src/Components/Errors/error-component.tsx
  packages/cfd/src/types/cfd-store.types.ts
Due: prettier --write, npx eslint --fix

fix: updated bi endpoint
  src/botPage/bot/data-collection.js
Due: prettier --write, npx eslint --fix

fix: comments
  packages/appstore/src/components/add-more-wallets/wallet-add-card.tsx
  packages/appstore/src/components/modals/wallet-success-dialog/wallet-success-dialog.tsx
  packages/appstore/src/modules/wallets/wallets.tsx
  packages/hooks/src/useCreateWallet.ts
Due: prettier --write, npx eslint --fix

fix(cashier): :memo: fix raised issues
  packages/cashier/src/containers/cashier/cashier.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-list/payment-agent-list.tsx
Due: prettier --write, npx eslint --fix

refactor: resolve cognitive complexity warning from sonarcloud
  packages/account/src/Components/account-limits/account-limits.tsx
  packages/account/src/Components/account-limits/withdrawal-limits-table.tsx
Due: prettier --write, npx eslint --fix

chore: Code clean up - removing closing mx mlt accounts modal
  packages/components/src/components/page-error-container/page-error-container.tsx
  packages/components/src/components/page-error/page-error.scss
  packages/components/src/components/page-error/page-error.tsx
  packages/core/src/App/Components/Elements/Errors/error-component.jsx
  packages/core/src/App/Components/Elements/NotificationMessage/__tests__/notification.spec.tsx
  packages/core/src/App/Components/Elements/NotificationMessage/notification-close-mx-mlt.jsx
  packages/core/src/App/Components/Elements/NotificationMessage/notification.jsx
  packages/core/src/App/Containers/CloseMxMltAccountModal/close-mx-mlt-account-modal.jsx
  packages/core/src/App/Containers/CloseMxMltAccountModal/close-mx-mlt-account-modal.scss
  packages/core/src/App/Containers/CloseMxMltAccountModal/index.js
  packages/core/src/App/Containers/CloseUKAccountModal/close-uk-account-modal.jsx
  packages/core/src/App/Containers/CloseUKAccountModal/close-uk-account-modal.scss
  packages/core/src/App/Containers/CloseUKAccountModal/index.js
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/notification-store.js
  packages/core/src/Stores/ui-store.js
  packages/core/src/sass/app.scss
  packages/core/src/sass/app/_common/components/notification-close-mx-mlt.scss
  packages/shared/src/utils/helpers/active-symbols.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: update config to include additional details if the client is not high risk for mt5
  packages/account/src/Configs/personal-details-config.ts
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix(cashier): :memo: fix raised issues
  packages/cashier/src/containers/cashier/__tests__/cashier.spec.tsx
Due: prettier --write, npx eslint --fix

chore: updated code based on comments
  packages/cfd/src/Components/Errors/error-component.tsx
  packages/cfd/src/Components/Errors/index.js
  packages/cfd/src/Containers/routes.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: issue with routing to deposit page on any tab selection in cashier (#9643)
  packages/cashier/src/containers/cashier/cashier.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

chore: remove unused imports
  packages/account/src/Components/account-limits/account-limits.tsx
Due: prettier --write, npx eslint --fix

chore: added test case for high risk condition in personal details config
  packages/account/src/Configs/__test__/personal-details-config.spec.ts
Due: prettier --write, npx eslint --fix

chore: refactored test case
  packages/account/src/Configs/__test__/personal-details-config.spec.ts
  packages/account/src/Configs/personal-details-config.ts
Due: prettier --write, npx eslint --fix

chore: remove optional data test id
  packages/trader/src/Assets/Trading/Categories/trade-categories-gif.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: doughflow response
  packages/appstore/src/components/add-more-wallets/wallet-add-card.tsx
Due: prettier --write, npx eslint --fix

chore: remove unnecessary \ character from test file
  packages/account/src/Components/file-uploader-container/__tests__/file-uploader-container.spec.tsx
Due: prettier --write, npx eslint --fix

fix: blinking wallet banner, double scroll
  packages/appstore/src/components/routes/routes.tsx
  packages/appstore/src/modules/wallets/wallets.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: added test case for verification
  packages/p2p/jest.config.js
  packages/p2p/src/components/my-profile/__tests__/my-profile.spec.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: limit order
  packages/trader/src/Stores/Modules/Trading/Helpers/proposal.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: fixed failing tests
  packages/p2p/src/components/app-content.jsx
  packages/p2p/src/components/my-profile/__tests__/my-profile.spec.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: removed logic from stores
  packages/components/src/components/mobile-full-page-modal/mobile-full-page-modal.tsx
  packages/components/src/components/page-overlay/page-overlay.tsx
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/__tests__/buy-sell-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal.tsx
  packages/p2p/src/pages/app.jsx
  packages/p2p/src/stores/buy-sell-store.js
  packages/p2p/src/stores/general-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: store updated with the correct types
  packages/cfd/globals.d.ts
  packages/cfd/src/Stores/Modules/CFD/Helpers/cfd-config.ts
  packages/cfd/src/Stores/Modules/CFD/cfd-store.ts
  packages/cfd/src/Stores/base-store.ts
  packages/cfd/src/types/cfd-store.types.ts
  packages/shared/src/utils/cfd/cfd.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

fix: blinking wallet banner with no wallets account
  packages/appstore/src/components/routes/routes.tsx
Due: prettier --write, npx eslint --fix

fix: added test case for bot-stop-notification
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-web-ui/src/components/dashboard/bot-stop-notifiaction.spec.tsx
  packages/bot-web-ui/src/components/dashboard/bot-stop-notification.tsx
  packages/bot-web-ui/src/stores/run-panel-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: remove useeffect as per comment
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-widget.tsx
Due: prettier --write, npx eslint --fix

fix: error displayed for MF account creation
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: Track JS - GoogleDrive
  src/common/integrations/GoogleDrive.js
Due: prettier --write, npx eslint --fix

chore: remove log
  src/common/integrations/GoogleDrive.js
Due: prettier --write, npx eslint --fix

feat: add ts migartion of store
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/trader/src/Stores/useTraderStores.tsx
  packages/trader/src/Types/common-prop.type.ts
  packages/trader/src/Types/index.ts
  packages/trader/tsconfig.json
Due: prettier --write, npx eslint --fix

chore: add static keys to self-exclusion articles
  packages/account/src/Components/article/article.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-article-content.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-article.tsx
Due: prettier --write, npx eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
