Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

chore: update test case
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/__tests__/desktop-form-wrapper.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/desktop-form-wrapper.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/mobile-form-wrapper.tsx
Due: prettier --write, npx eslint --fix

chore: address code reviews
  packages/p2p-v2/src/components/PaymentMethodForm/PaymentMethodForm.tsx
Due: prettier --write, npx eslint --fix

fix: latest
  packages/account-v2/package.json
  packages/p2p-v2/package.json
  packages/tradershub/package.json
  packages/tradershub/src/components/RegulationSwitcher/RegulationSwitcherDesktop.tsx
Due: prettier --write, npx eslint --fix

chore: ✨ update content
  packages/appstore/src/assets/svgs/wallets/wallets-image.tsx
  packages/appstore/src/assets/svgs/wallets/wallets-upgrade-modal-mobile.svg
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.scss
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

[COJ]/likhith/COJ-571/Display single error message in POA section (#13129)
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.tsx
  packages/components/src/components/hint-box/hint-box.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/de.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

fix: remove commented styles
  packages/account-v2/src/components/base/Dropzone/Dropzone.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: use button instead of text
  packages/p2p-v2/.stylelintrc.js
  packages/p2p-v2/src/components/ClickableText/ClickableText.scss
  packages/p2p-v2/src/components/ClickableText/ClickableText.tsx
  packages/p2p-v2/src/components/ClickableText/index.ts
  packages/p2p-v2/src/components/FlyoutMenu/FlyoutMenu.scss
  packages/p2p-v2/src/components/PaymentMethodCard/PaymentMethodCardHeader/PaymentMethodCardHeader.scss
  packages/p2p-v2/src/components/PaymentMethodCard/PaymentMethodCardHeader/PaymentMethodCardHeader.tsx
  packages/p2p-v2/src/components/PaymentMethodForm/PaymentMethodForm.scss
  packages/p2p-v2/src/components/PaymentMethodForm/PaymentMethodForm.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: move real account signup flow in tradershub
  packages/account-v2/src/App.tsx
  packages/account-v2/src/components/SignupWizard/Actions/index.tsx
  packages/account-v2/src/components/SignupWizard/WizardScreenWrapper/WizardScreenWrapper.tsx
  packages/account-v2/src/components/SignupWizard/WizardScreenWrapper/index.ts
  packages/account-v2/src/components/SignupWizard/index.scss
  packages/account-v2/src/components/SignupWizard/index.tsx
  packages/account-v2/src/components/form-progress/form-progress.classnames.ts
  packages/account-v2/src/components/form-progress/index.tsx
  packages/account-v2/src/components/form-progress/step-connector.tsx
  packages/account-v2/src/components/form-progress/stepper.tsx
  packages/account-v2/src/constants/currencyConfig.tsx
  packages/account-v2/src/context/SignupWizardContext.tsx
  packages/account-v2/src/helpers/signupModalHelpers.ts
  packages/account-v2/src/pages/CurrencySelector/Currencies.tsx
  packages/account-v2/src/pages/CurrencySelector/CurrencyCard.tsx
  packages/account-v2/src/pages/CurrencySelector/CurrencySelector.tsx
  packages/account-v2/src/pages/CurrencySelector/index.ts
  packages/tradershub/package.json
  packages/tradershub/src/App.tsx
  packages/tradershub/src/AppContent.tsx
  packages/tradershub/src/components/GetADerivAccountBanner/GetADerivAccountBanner.tsx
  packages/tradershub/src/components/GetDerivAccount/GetDerivAccount.tsx
  packages/tradershub/tailwind.config.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: remove commented code
  packages/account-v2/src/containers/POAForm/Status/NeedsReview/NeedsReview.tsx
Due: prettier --write, npx eslint --fix

fix: double barier issue
  packages/core/src/Stores/contract-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: move real account signup flow in tradershub
  packages/tradershub/src/components/Timeline/StepConnector.tsx
  packages/tradershub/src/components/Timeline/Timeline.classnames.ts
  packages/tradershub/src/components/Timeline/Timeline.tsx
  packages/tradershub/src/components/Timeline/index.tsx
  packages/tradershub/src/flows/RealAccountSIgnup/SignupWizard/Actions/index.tsx
  packages/tradershub/src/flows/RealAccountSIgnup/SignupWizard/WizardScreenWrapper/WizardScreenWrapper.tsx
  packages/tradershub/src/flows/RealAccountSIgnup/SignupWizard/WizardScreenWrapper/index.ts
  packages/tradershub/src/flows/RealAccountSIgnup/SignupWizard/index.scss
  packages/tradershub/src/flows/RealAccountSIgnup/SignupWizard/index.tsx
  packages/tradershub/src/helpers/currencyConfig.tsx
  packages/tradershub/src/helpers/signupModalHelpers.ts
  packages/tradershub/src/providers/SignupWizardProvider/SignupWizardContext.tsx
  packages/tradershub/src/providers/SignupWizardProvider/ValuesReducer.ts
  packages/tradershub/src/providers/SignupWizardProvider/index.ts
  packages/tradershub/src/providers/SignupWizardProvider/types.ts
  packages/tradershub/src/screens/CurrencySelector/Currencies.tsx
  packages/tradershub/src/screens/CurrencySelector/CurrencyCard.tsx
  packages/tradershub/src/screens/CurrencySelector/CurrencySelector.tsx
  packages/tradershub/src/screens/CurrencySelector/index.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

[Account-v2] Shaheer / COJ-505 / Single time initialization of onfido (#13102)
  packages/api/src/hooks/useOnfido.ts
Due: prettier --write, npx eslint --fix

fix: 🔧 update test
  packages/appstore/src/components/modals/wallets-upgrade-modal/__tests__/wallets-upgrade-modal.spec.tsx
Due: prettier --write, npx eslint --fix

feat: update entry spot description
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-glossary.tsx
Due: prettier --write, npx eslint --fix

[BOT] Farabi/bot-1252/update dashboard events rudderstack (#13100)
  packages/bot-web-ui/src/pages/dashboard/analytics/rudderstack-dashboard.ts
  packages/bot-web-ui/src/pages/dashboard/cards.tsx
  packages/bot-web-ui/src/pages/dashboard/dashboard.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/delete-dialog.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/local.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/recent-workspace.tsx
  packages/bot-web-ui/src/pages/dashboard/user-guide.tsx
Due: prettier --write, npx eslint --fix

chore: address sonarcloud
  packages/p2p-v2/src/pages/my-profile/screens/PaymentMethods/PaymentMethodsList/PaymentMethodsListContent.tsx
  packages/p2p-v2/src/utils/payment-methods.ts
Due: prettier --write, npx eslint --fix

[Bot] feat: added resize functionality to modal in dbot (#13145)
  packages/bot-web-ui/src/components/draggable/draggable.tsx
  packages/bot-web-ui/src/components/transaction-details/__tests__/transaction-details-desktop.spec.tsx
  packages/bot-web-ui/src/components/transaction-details/desktop-transaction-table.tsx
  packages/bot-web-ui/src/components/transaction-details/transaction-details-desktop.scss
  packages/bot-web-ui/src/components/transaction-details/transaction-details-desktop.tsx
  packages/bot-web-ui/src/pages/chart/chart-modal/chart-modal-desktop.tsx
  packages/bot-web-ui/src/pages/chart/chart-modal/chart-modal.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: add purchase condition value directly under purchase condition block from qs (#12922)
  packages/bot-web-ui/src/stores/quick-strategy-store.ts
Due: prettier --write, npx eslint --fix

fix: type errors for unavoidable query params
  packages/wallets/src/features/cfd/flows/CTrader/AddedCTraderAccountsList/AddedCTraderAccountsList.tsx
  packages/wallets/src/routes/Router.tsx
Due: prettier --write, npx eslint --fix

chore: update logic
  packages/tradershub/src/components/RegulationSwitcher/RegulationSwitcherDesktop.tsx
  packages/tradershub/src/components/RegulationSwitcher/RegulationSwitcherMobile.tsx
  packages/tradershub/src/hooks/useRegulationSwitcher.ts
Due: prettier --write, npx eslint --fix

chore: component definition
  packages/tradershub/src/components/GetDerivAccount/GetDerivAccount.tsx
  packages/tradershub/src/screens/CurrencySelector/CurrencyCard.tsx
Due: prettier --write, npx eslint --fix

chore: code review - enums - ternaries - type from api
  packages/tradershub/src/features/cfd/constants.tsx
  packages/tradershub/src/features/cfd/modals/MT5PasswordModal/ButtonGroups/AddAccountButtonsGroup.tsx
  packages/tradershub/src/features/cfd/modals/MT5PasswordModal/ButtonGroups/CreateAccountButton.tsx
  packages/tradershub/src/features/cfd/modals/MT5PasswordModal/FooterComponent.tsx
  packages/tradershub/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
  packages/tradershub/src/features/cfd/modals/MT5PasswordModal/PasswordComponent.tsx
  packages/tradershub/src/features/cfd/modals/MT5PasswordModal/SuccessComponent.tsx
  packages/tradershub/src/features/cfd/screens/CFDSuccess/CFDSuccess.tsx
  packages/tradershub/src/hooks/useMT5AccountHandler.ts
  packages/tradershub/src/types.ts
Due: prettier --write, npx eslint --fix

fix: passed formik as children
  packages/tradershub/src/components/ActionScreen/ActionScreen.tsx
  packages/tradershub/src/features/cfd/screens/ChangePassword/InvestorPassword/MT5ChangeInvestorPasswordInputsScreen.tsx
Due: prettier --write, npx eslint --fix

feat: update test cases
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-glossary.spec.tsx
Due: prettier --write, npx eslint --fix

refactor: refactored regex and added onclick to icon
  packages/account-v2/build/build-loaders.ts
  packages/account-v2/src/components/base/Dropzone/Dropzone.tsx
Due: prettier --write, npx eslint --fix

fix: remove styles from deriv-app and apply the styling to smartcharts
  packages/reports/src/sass/app/_common/layout/trader-layouts.scss
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: komen
  packages/tradershub/src/App.tsx
  packages/tradershub/src/hooks/useRegulationSwitcher.ts
  packages/tradershub/src/routes/TradersHubRoute/TradersHubRoute.tsx
Due: prettier --write, npx eslint --fix

fix: build
  packages/tradershub/src/features/cfd/screens/CFDSuccess/CFDSuccess.tsx
Due: prettier --write, npx eslint --fix

refactor: removed css prop and adding mixin
  packages/bot-web-ui/src/components/run-panel/run-panel.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: integrated usequerystring, added counterparties to tab
  packages/p2p-v2/src/components/AdvertiserName/AdvertiserNameToggle.scss
  packages/p2p-v2/src/components/CloseHeader/CloseHeader.scss
  packages/p2p-v2/src/components/CloseHeader/CloseHeader.tsx
  packages/p2p-v2/src/components/CloseHeader/index.ts
  packages/p2p-v2/src/components/FullPageMobileWrapper/FullPageMobileWrapper.scss
  packages/p2p-v2/src/components/MobileCloseHeader/MobileCloseHeader.tsx
  packages/p2p-v2/src/components/MobileCloseHeader/index.ts
  packages/p2p-v2/src/components/Modals/index.ts
  packages/p2p-v2/src/components/index.ts
  packages/p2p-v2/src/hooks/index.ts
  packages/p2p-v2/src/hooks/useQueryString.ts
  packages/p2p-v2/src/pages/my-profile/screens/MyProfile/MyProfile.scss
  packages/p2p-v2/src/pages/my-profile/screens/MyProfile/MyProfile.tsx
  packages/p2p-v2/src/pages/my-profile/screens/MyProfile/MyProfileMobile.tsx
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileAdDetails/MyProfileAdDetails.tsx
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileBalance/MyProfileBalance.scss
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileBalance/MyProfileBalance.tsx
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileContent/MyProfileContent.tsx
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileCounterparties/MyProfileCounterparties.scss
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileCounterparties/MyProfileCounterparties.tsx
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileCounterparties/MyProfileCounterpartiesHeader.tsx
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileCounterparties/MyProfileCounterpartiesTable.scss
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileCounterparties/MyProfileCounterpartiesTableRow.scss
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileStats/MyProfileStatsMobile.tsx
  packages/p2p-v2/src/routes/AppContent/index.scss
  packages/p2p-v2/src/routes/AppContent/index.tsx
  packages/p2p-v2/src/routes/Home/index.tsx
  packages/p2p-v2/src/routes/Router.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: use input from @deriv-com/ui
  packages/p2p-v2/.stylelintrc.js
  packages/p2p-v2/src/components/PaymentMethodField/PaymentMethodField.tsx
  packages/p2p-v2/src/components/PaymentMethodForm/PaymentMethodForm.scss
  packages/p2p-v2/src/components/PaymentMethodForm/PaymentMethodForm.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: etracted repeating button code into a reusable component
  packages/tradershub/src/features/cfd/modals/MT5PasswordModal/ButtonGroups/AddAccountButtonsGroup.tsx
  packages/tradershub/src/features/cfd/modals/MT5PasswordModal/ButtonGroups/CreateAccountButton.tsx
  packages/tradershub/src/features/cfd/modals/MT5PasswordModal/FooterComponent.tsx
Due: prettier --write, npx eslint --fix

chore: setup mocks for testing
  packages/wallets/src/features/cashier/flows/WalletWithdrawal/__tests__/WalletWithdrawal.spec.tsx
Due: prettier --write, npx eslint --fix

fix(cashier): :lipstick: fix cashier locked alignment
  packages/cashier/src/containers/cashier/cashier.scss
  packages/cashier/src/pages/account-transfer/account-transfer.tsx
  packages/cashier/src/pages/on-ramp/on-ramp.tsx
  packages/cashier/src/pages/payment-agent-transfer/payment-agent-transfer.tsx
  packages/cashier/src/pages/payment-agent/payment-agent.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write
