Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: review suggestion implementation
  packages/components/src/components/vertical-tab/vertical-tab-content-container.tsx
  packages/components/src/components/vertical-tab/vertical-tab-header-group.tsx
  packages/components/src/components/vertical-tab/vertical-tab-header.tsx
  packages/components/src/components/vertical-tab/vertical-tab.tsx
  packages/components/stories/vertical-tabs/vertical-tabs.stories.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: changed pop up message for no recommendations
  packages/p2p/src/components/recommended-by/recommended-by.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: add optional mark for payout_currencies
  packages/core/src/Services/socket-general.js
  packages/core/src/Stores/client-store.js
  packages/trader/src/Stores/Modules/Trading/Actions/currency.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

build: remove unused eslint jest playwright plugin
  package-lock.json
  package.json
Due: prettier --write

feat: update checkbox selector to use xpath
  end-to-end-test/tests/onboarding/onboarding.ts
Due: prettier --write, npx eslint --fix

feat: use just account opening emails to signup
  end-to-end-test/tests/onboarding/onboarding.ts
Due: prettier --write, npx eslint --fix

refactor: reusing prevent func
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.jsx
  packages/account/src/Components/poi/idv-document-submit/utils.js
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: real account editable fields
  packages/account/src/Components/address-details/address-details.jsx
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/account/src/Configs/address-details-config.js
  packages/account/src/Configs/personal-details-config.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: test codecov ako's change
  .github/workflows/codecov.yml
Due: none

fix: reverted changes back to default and change traders hub header to dtrader header 😭
  packages/core/src/App/Containers/Layout/header/header.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: remove unnecesary code in platform-config
  packages/core/src/App/Constants/platform-config.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: change header traders hub on cashier
  packages/core/src/App/Containers/Layout/header/header.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: one line
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: circle ci type error
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: type error in tests
  packages/account/package.json
  packages/api/package.json
  packages/appstore/package.json
  packages/cashier/package.json
  packages/cfd/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/stores/package.json
  packages/stores/src/mockStore.ts
  packages/trader/package.json
Due: prettier --write, npx eslint --fix

chore: add types for setIsclosingCreateRealAccount and is_closing_create_real_account_modal
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

MaryiaF/fix: Track JS - Unknown (#201)
  src/common/integrations/trackJSTrack.js
Due: prettier --write, npx eslint --fix

MaryiaF/68794/fix: Trackjs error: There was an error loading Google API script. - … (#224)
  src/botPage/view/deriv/blockly-worksace.js
  src/botPage/view/deriv/layout/Main/main.jsx
  src/common/utils/tools.js
Due: prettier --write, npx eslint --fix

fix: changed icon naming for dark and light mode and added PropTypes to components
  packages/components/src/components/icon/brand/ic-brand-binarybot-dark.svg
  packages/components/src/components/icon/brand/ic-brand-binarybot.svg
  packages/components/src/components/icon/brand/ic-brand-dbot-dark.svg
  packages/components/src/components/icon/brand/ic-brand-dbot.svg
  packages/components/src/components/icon/brand/ic-brand-dmt5-dark.svg
  packages/components/src/components/icon/brand/ic-brand-dmt5.svg
  packages/components/src/components/icon/brand/ic-brand-dtrader-dark.svg
  packages/components/src/components/icon/brand/ic-brand-dtrader.svg
  packages/components/src/components/icon/brand/ic-brand-dxtrade-dark.svg
  packages/components/src/components/icon/brand/ic-brand-dxtrade.svg
  packages/components/src/components/icon/brand/ic-brand-smarttrader-dark.svg
  packages/components/src/components/icon/brand/ic-brand-smarttrader.svg
  packages/core/src/App/Components/Layout/Header/platform-dropdown.jsx
  packages/core/src/App/Components/Layout/Header/platform-switcher.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: resolve typescript conflicts in mockStore
  packages/stores/src/mockStore.ts
Due: prettier --write, npx eslint --fix

refactor: migrate input-field to typescript
  packages/components/src/components/input-field/increment-buttons.tsx
  packages/components/src/components/input-field/index.ts
  packages/components/src/components/input-field/input-field.tsx
  packages/components/src/components/input-field/input.tsx
Due: prettier --write, npx eslint --fix

fix: add null to message type declaration
  packages/components/src/components/tooltip/tooltip.tsx
Due: prettier --write, npx eslint --fix

thisyahlen/fix: Unable to add CR fiat account (#7680)
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

feat: resolved import issue
  packages/components/src/components/autocomplete/autocomplete.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: incorporated helper function
  packages/components/utils/helper.js
Due: prettier --write, npx eslint --fix

build: update @deriv/deriv-charts to 1.1.3
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Due: prettier --write

fix(core): :bug: fix cannot read properties of undefined `authorized`
  packages/core/src/Stores/notification-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: added testcases for helper function
  packages/components/utils/__tests__/helper.spec.js
Due: prettier --write, npx eslint --fix

chore: remove unnecessary comment
  packages/components/src/components/input-field/input.tsx
Due: prettier --write, npx eslint --fix

Sergei / 86749 / delete some console errors when user watches onboarding (#7431)
  packages/appstore/src/constants/tour-steps-config-new.tsx
  packages/appstore/src/constants/tour-steps-config.tsx
  packages/appstore/src/modules/tour-guide/tour-guide.tsx
  packages/appstore/src/modules/trading-hub/index.tsx
  packages/components/src/components/button/button.tsx
  packages/components/src/components/span-button/index.ts
  packages/components/src/components/span-button/span-button.tsx
  packages/components/src/index.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Sergei / 88771 / Australian VRTC accounts are not able to create real account (#7633)
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: add optional operators '?' (#7481)
  packages/cashier/src/stores/crypto-fiat-converter-store.ts
  packages/p2p/src/stores/floating-rate-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Thisyahlen/87700/no option to change currency for mf (#7520)
  packages/appstore/src/components/containers/currency-switcher-container.tsx
  packages/appstore/src/components/currency-switcher-card/real/real-account-card.tsx
  packages/appstore/src/components/currency-switcher-card/real/real-account-switcher.tsx
Due: prettier --write, npx eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
