Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: move cfd-password-modal test case in a different directory
  packages/cfd/src/Containers/cfd-password-modal/__test__/cfd-password-modal.spec.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: enable accumulators in open positions dropdown for real accounts
  packages/reports/src/Containers/open-positions.tsx
Due: prettier --write, npx eslint --fix

fix: :pencil2: fix typo
  packages/cashier/src/modules/deposit-crypto/components/deposit-crypto-disclaimers/deposit-crypto-disclaimers.tsx
Due: prettier --write, npx eslint --fix

chore: rename description for useDevice
  packages/wallets/src/hooks/useDevice.tsx
Due: prettier --write, npx eslint --fix

chore: added loader check for is_loading and is_transfer_confirm
  packages/appstore/src/components/main-title-bar/asset-summary.tsx
Due: prettier --write, npx eslint --fix

fix: :truck: modified path
  packages/shared/src/utils/helpers/format-response.ts
Due: prettier --write, npx eslint --fix

fix: fixed more types 😵
  packages/appstore/src/components/wallet-transfer/components/wallet-transfer-messages/__tests__/wallet-transfer-messages.spec.tsx
  packages/appstore/src/components/wallet-transfer/components/wallet-transfer-messages/wallet-transfer-messages.tsx
  packages/hooks/src/__tests__/useTransferMessageList.spec.tsx
  packages/hooks/src/useTransferMessageBetweenWalletAndTradingApp.ts
  packages/hooks/src/useTransferMessageList.ts
Due: prettier --write, npx eslint --fix

refactor: made changes in usep2porderlist hook
  packages/hooks/src/__tests__/useP2POrderList.spec.tsx
  packages/hooks/src/useP2POrderList.ts
Due: prettier --write, npx eslint --fix

chore: update scss and Text component
  packages/core/src/App/Components/Elements/Notifications/empty-notification.jsx
  packages/core/src/sass/app/modules/notifications-dialog.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: resolve comment
  packages/reports/src/Containers/open-positions.tsx
Due: prettier --write, npx eslint --fix

fix: dropdown margin
  packages/components/src/components/dropdown/dropdown.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: file name changed
  packages/api/src/hooks/index.ts
Due: prettier --write, npx eslint --fix

FarhanNurzi/P2PS-1398/Symbol for Bank Transfers payment method is incorrect (#9744)
  packages/components/utils/helper.js
  packages/hooks/src/__tests__/useHasP2PSupportedCurrencies.spec.tsx
  packages/hooks/src/__tests__/useP2PAdvertiserPaymentMethods.spec.tsx
  packages/hooks/src/__tests__/useP2PPaymentMethods.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useP2PAdvertiserPaymentMethods.ts
  packages/hooks/src/useP2PPaymentMethods.ts
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
  packages/p2p/src/components/modal-manager/modals/add-payment-method-error-modal.jsx
  packages/p2p/src/components/modal-manager/modals/delete-payment-method-confirmation-modal/__tests__/delete-payment-method-confirmation-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/delete-payment-method-confirmation-modal/delete-payment-method-confirmation-modal.scss
  packages/p2p/src/components/modal-manager/modals/delete-payment-method-confirmation-modal/delete-payment-method-confirmation-modal.tsx
  packages/p2p/src/components/modal-manager/modals/delete-payment-method-confirmation-modal/index.ts
  packages/p2p/src/components/modal-manager/modals/delete-payment-method-error-modal.jsx
  packages/p2p/src/components/modal-manager/modals/delete-payment-method-error-modal.tsx
  packages/p2p/src/components/modal-manager/modals/quick-add-modal/quick-add-modal.jsx
  packages/p2p/src/components/my-ads/buy-ad-payment-methods-list.jsx
  packages/p2p/src/components/my-ads/create-ad-form-payment-methods.jsx
  packages/p2p/src/components/my-ads/edit-ad-form-payment-methods.jsx
  packages/p2p/src/components/my-ads/sell-ad-payment-methods-list.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method-form.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-method-card/payment-method-card.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/edit-payment-method-form.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/payment-methods-list.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-methods.jsx
  packages/p2p/src/components/order-details/payment-method-accordion-header.jsx
  packages/p2p/src/components/payment-method-icon/__tests__/payment-method-icon.spec.tsx
  packages/p2p/src/components/payment-method-icon/index.ts
  packages/p2p/src/components/payment-method-icon/payment-method-icon.tsx
  packages/p2p/src/constants/modals.js
  packages/p2p/src/stores/my-profile-store.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/ar.json
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/de.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/ko.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/si.json
Due: prettier --write

fix: qa env
  packages/core/src/_common/base/connection-manager.ts
Due: prettier --write, npx eslint --fix

refactor: retrieve limit and offset from the correct object
  packages/api/src/usePaginatedFetch.ts
Due: prettier --write, npx eslint --fix

fix: import error
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useTradingPlatformPasswordChangee.ts
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/ar.json
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/de.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/ko.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

feat: mandatory pot upload (#8267)
  packages/components/src/components/icon/common/ic-pdf.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/p2p/src/components/file-uploader-component/__test__/file-uploader-component.spec.js
  packages/p2p/src/components/file-uploader-component/file-uploader-component.jsx
  packages/p2p/src/components/file-uploader-component/file-uploader-component.scss
  packages/p2p/src/components/file-uploader-component/index.js
  packages/p2p/src/components/modal-manager/modals/order-details-confirm-modal/__tests__/order-details-confirm-modal.spec.js
  packages/p2p/src/components/modal-manager/modals/order-details-confirm-modal/order-details-confirm-modal.jsx
  packages/p2p/src/components/order-details/order-details-confirm-modal.scss
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/components/orders/chat/chat-message-text.jsx
  packages/p2p/src/components/orders/chat/chat-messages.jsx
  packages/p2p/src/components/orders/chat/chat-messages.scss
  packages/p2p/src/utils/chat-message.ts
  packages/p2p/src/utils/file-uploader.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: import file error patch
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useTradingPlatformPasswordChangee.ts
Due: prettier --write, npx eslint --fix

fix: import file error patch
  packages/api/src/hooks/useTradingPlatformPasswordChange.ts
Due: prettier --write, npx eslint --fix

revert: :rewind: rollsback click event on label
  packages/components/src/components/radio-group/radio-group.tsx
Due: prettier --write, npx eslint --fix

chore: account signup next behaviour improve
  packages/account/src/Components/forms/scroll-to-field-with-error.tsx
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/shared/src/utils/object/object.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: :memo: renames poo not required file name to match component name
  packages/account/src/Components/poo/statuses/poo-not-required/index.ts
  packages/account/src/Components/poo/statuses/poo-not-required/poo-not-required.tsx
Due: prettier --write, npx eslint --fix

refactor: :memo: renames poo rejected file name to match component name
  packages/account/src/Components/poo/statuses/poo-rejected/index.ts
  packages/account/src/Components/poo/statuses/poo-rejected/poo-rejected.tsx
Due: prettier --write, npx eslint --fix

fix: comments
  packages/wallets/src/components/ProgressBar/ProgressBar.tsx
  packages/wallets/src/components/WalletListCardIActions/WalletListCardIActions.tsx
Due: prettier --write, npx eslint --fix

Hamza/CFD-1110/ use trading platform password change hook creation and changing password (#10025)
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useTradingPlatformPasswordChange.ts
  packages/api/types.ts
Due: prettier --write, npx eslint --fix

refactor: :memo: renames poo submitted file name to match component name
  packages/account/src/Components/poo/statuses/poo-submitted/index.ts
  packages/account/src/Components/poo/statuses/poo-submitted/poo-submitted.tsx
Due: prettier --write, npx eslint --fix

refactor: :memo: renames poo verified file name to match component name
  packages/account/src/Components/poo/statuses/poo-verified/index.ts
  packages/account/src/Components/poo/statuses/poo-verified/poo-verified.tsx
Due: prettier --write, npx eslint --fix

fix: :art: incorporated ui-store-fix
  packages/core/src/Stores/ui-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: update code based on comment
  packages/account/src/Constants/login-history-table-title.tsx
  packages/account/src/Sections/Security/LoginHistory/list-cell.tsx
  packages/account/src/Sections/Security/LoginHistory/login-history-content.tsx
  packages/account/src/Sections/Security/LoginHistory/login-history-list-row.tsx
  packages/account/src/Sections/Security/LoginHistory/login-history-table-row.tsx
  packages/account/src/Sections/Security/LoginHistory/login-history.tsx
  packages/account/src/Types/common-prop.type.ts
  packages/api/src/hooks/useLoginHistory.ts
  packages/utils/src/getLoginHistoryFormattedData.tsx
Due: prettier --write, npx eslint --fix

refactor: to resolve merge conflicts
  packages/hooks/src/index.ts
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/th.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
Due: prettier --write

fix: :coffin: replaced deprecated hooks
  packages/account/src/Components/forms/form-fields/date-of-birth-field.tsx
  packages/account/src/Sections/Security/Passwords/__tests__/deriv-password.spec.tsx
  packages/account/src/Sections/Security/Passwords/deriv-email.tsx
  packages/account/src/Sections/Security/Passwords/deriv-password.tsx
  packages/account/src/Types/common.type.ts
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useVerifyEmail.ts
Due: prettier --write, npx eslint --fix

chore: remove unused fila and variable, updated icons
  packages/account/src/Types/common.type.ts
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/src/sass/app/_common/components/onfido-container.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: :fire: unused dependency
  packages/account/src/Types/common.type.ts
Due: prettier --write, npx eslint --fix

feat: :sparkles: adds icon message content height setting based on prop
  packages/account/src/Components/icon-message-content/icon-message-content.tsx
  packages/account/src/Components/poo/statuses/poo-rejected/poo-rejected.tsx
Due: prettier --write, npx eslint --fix

fix: remove duplicates
  packages/trader/src/App/Components/Elements/PositionsDrawer/helpers/__tests__/positions-helper.js
  packages/trader/src/App/Components/Elements/PositionsDrawer/helpers/index.js
  packages/trader/src/App/Components/Elements/PositionsDrawer/helpers/positions-helper.js
  packages/trader/src/Modules/Contract/Components/Digits/digits.jsx
  packages/trader/src/Modules/Contract/Components/Digits/index.js
  packages/trader/src/Modules/Contract/Components/Digits/index.ts
  packages/trader/src/Modules/Trading/Components/Elements/mobile-widget.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/info.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/amount-mobile.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/amount.jsx
  packages/trader/src/Modules/Trading/Components/Form/screen-small.jsx
  packages/trader/src/Modules/Trading/Containers/Multiplier/multiplier-amount-modal.jsx
  packages/trader/src/Modules/Trading/Containers/Multiplier/multiplier-options.jsx
  packages/trader/src/Modules/Trading/Containers/radio-group-options-modal.jsx
  packages/trader/src/Modules/Trading/Containers/trade-params-mobile.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
