Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

chore: remove unused store in test case
  packages/account/src/Sections/Profile/PhoneVerification/__test__/phone-verification-page.spec.tsx
Due: prettier --write, npx eslint --fix

fix: swtich to Localize
  packages/reports/src/Components/Elements/Modals/AccountVerificationPendingModal/account-verification-pending-modal.tsx
  packages/reports/src/Components/Elements/Modals/MarketUnavailableModal/market-unavailable.tsx
Due: prettier --write, npx eslint --fix

feat: :sparkles: add the conditions
  packages/appstore/src/modules/traders-hub/index.tsx
Due: prettier --write, npx eslint --fix

chore: add sms and whatsapp to 1 constant file
  packages/account/src/Sections/Profile/PhoneVerification/confirm-phone-number.tsx
  packages/shared/src/utils/constants/index.ts
  packages/shared/src/utils/constants/phone-number-verification.ts
Due: prettier --write, npx eslint --fix

chore: added data-testid for the real/demo wallet switcher
  packages/wallets/src/components/WalletListHeader/WalletListHeader.tsx
Due: prettier --write, npx eslint --fix

fix: password modal re-trigger
  packages/core/src/App/Containers/Redirect/redirect.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: get back changes for content because it will be done by card trah-3251
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/constants/platform-config.ts
  packages/core/src/Stores/traders-hub-store.js
  packages/shared/src/utils/cfd/available-cfd-accounts.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: hide wallets migration stuff behind feature flag
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/appstore/src/components/modals/modal-manager.tsx
Due: prettier --write, npx eslint --fix

chore: update code based on comments
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
Due: prettier --write, npx eslint --fix

chore: reverted passkey file
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
Due: prettier --write, npx eslint --fix

fix: quick-strategy-currency-alignment
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/quick-strategy.scss
  packages/bot-web-ui/src/pages/tutorials/tutorials.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: do not ignore locales when switching between languages
  packages/shared/src/utils/date/date-time.ts
Due: prettier --write, npx eslint --fix

test: add tescases for counter change and title change
  packages/account/src/Sections/Profile/PhoneVerification/__test__/resend-code-timer.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/confirm-your-email.tsx
  packages/account/src/Sections/Profile/PhoneVerification/resend-code-timer.tsx
Due: prettier --write, npx eslint --fix

refactor: document.hidden instead of window.onblur
  packages/cfd/src/Containers/mt5-mobile-redirect-option.tsx
Due: prettier --write, npx eslint --fix

refactor: address comments
  packages/trader/src/App/Components/Elements/ContractAudit/contract-audit.tsx
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer.tsx
Due: prettier --write, npx eslint --fix

fix: :bug: new fix
  packages/appstore/src/modules/traders-hub/index.tsx
Due: prettier --write, npx eslint --fix

fix: hide footer for dtrader
  packages/core/src/App/Containers/Layout/footer.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: update logic to show success modal
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
Due: prettier --write, npx eslint --fix

fix: translation issue for recent transactions
  packages/cashier/src/components/transactions-crypto-history/transactions-crypto-history.tsx
Due: prettier --write, npx eslint --fix

fix: failing unit and integration tests
  packages/wallets/jest.config.js
  packages/wallets/jestTransformer.js
Due: prettier --write, npx eslint --fix

feat: :sparkles: add multiplier option metric
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/shared/src/services/performance-metrics-methods.ts
Due: prettier --write, npx eslint --fix

fix: :bug: address comment
  packages/appstore/src/components/cfds-listing/index.tsx
Due: prettier --write, npx eslint --fix

chore: update code based on comments
  packages/account/src/Sections/Profile/PhoneVerification/__test__/otp-verification.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/confirm-phone-number.tsx
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
  packages/core/src/Stores/ui-store.js
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

test: use useRealTimers
  packages/account/src/Sections/Profile/PhoneVerification/__test__/resend-code-timer.spec.tsx
Due: prettier --write, npx eslint --fix

feat: make sure subscrpitions are not called when websocket is not authorized or not opened
  packages/api-v2/src/AuthProvider.tsx
  packages/api-v2/src/useAPI.ts
  packages/api-v2/src/useSubscription.ts
Due: prettier --write, npx eslint --fix

fix: refactored the adjust workspace function
  packages/bot-web-ui/src/stores/toolbox-store.ts
Due: prettier --write, npx eslint --fix

feat: create separate components for option and cfds titles and description
  packages/appstore/src/components/cfds-listing-logged-out/cfds-listing-logged-out.scss
  packages/appstore/src/components/cfds-listing-logged-out/cfds-listing-logged-out.tsx
  packages/appstore/src/components/elements/cfds-description/cfds-description.tsx
  packages/appstore/src/components/elements/cfds-description/index.tsx
  packages/appstore/src/components/elements/cfds-title/cfds-title.scss
  packages/appstore/src/components/elements/cfds-title/cfds-title.tsx
  packages/appstore/src/components/elements/cfds-title/index.tsx
  packages/appstore/src/components/elements/options-description/index.tsx
  packages/appstore/src/components/elements/options-description/options-description.tsx
  packages/appstore/src/components/elements/options-title/index.tsx
  packages/appstore/src/components/elements/options-title/options-title.tsx
  packages/appstore/src/components/options-miltipliers-listing-logged-out/index.tsx
  packages/appstore/src/components/options-miltipliers-listing-logged-out/options-miltipliers-listing-logged-out.tsx
  packages/appstore/src/components/options-multipliers-listing-logged-out/index.tsx
  packages/appstore/src/components/options-multipliers-listing-logged-out/options-multipliers-listing-logged-out.scss
  packages/appstore/src/components/options-multipliers-listing-logged-out/options-multipliers-listing-logged-out.tsx
  packages/appstore/src/components/ordered-platform-sections/ordered-platform-sections.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: password modal server error
  packages/wallets/src/components/Base/WalletPasswordField/WalletPasswordField.tsx
  packages/wallets/src/components/Base/WalletPasswordFieldLazy/WalletPasswordFieldLazy.tsx
  packages/wallets/src/features/cfd/screens/MT5ResetPasswordModal/MT5ResetPasswordModal.tsx
Due: prettier --write, npx eslint --fix

fix: fix the direction of the arrow in WithdrawalCryptoAmountConverter
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/components/WithdrawalCryptoAmountConverter/WithdrawalCryptoAmountConverter.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: removed unused code
  packages/account/src/Components/api-token/api-token.tsx
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: revert changes causing integration tests to fail
  packages/core/src/Stores/client-store.js
  packages/integration/src/mocks/auth/authorize.ts
  packages/integration/src/mocks/auth/balanceAll.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: remove typo
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: correct update to client store
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

[WALL] [Fix] Rostislav / WALL-3426 / Transaction status amount format (#14482)
  packages/api-v2/package.json
  packages/api-v2/src/utils/__test__/display-money.spec.ts
  packages/api-v2/src/utils/display-money.ts
  packages/wallets/src/features/cashier/components/WalletActionModal/WalletActionModal.scss
  packages/wallets/src/features/cashier/components/WalletActionModal/WalletActionModal.tsx
  packages/wallets/src/features/cashier/modules/TransactionStatus/components/CryptoTransaction/CryptoTransaction.tsx
  packages/wallets/src/features/cashier/modules/TransactionStatus/components/TransactionStatusSuccess/__tests__/TransactionStatusSuccess.spec.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/TransactionsPendingRow.scss
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/components/TransactionsPendingRowField/TransactionsPendingRowField.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

test: mock useGetPhoneNumberOTP
  packages/account/src/Sections/Profile/PhoneVerification/__test__/confirm-phone-number.spec.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/sw.json
Due: prettier --write

feat: fixed test
  packages/api-v2/src/__tests__/useSubscription.spec.tsx
  ts.sh
Due: prettier --write, npx eslint --fix

feat: removed unnecessary file
  ts.sh
Due: none

refactor: `<React.Fragment>`
  packages/appstore/src/components/modals/modal-manager.tsx
Due: prettier --write, npx eslint --fix
