Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

chore: update quill-ui
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
Due: prettier --write

feat: update tests for one-time-deposit-modal
  packages/core/src/App/Containers/OneTimeDepositModal/__test__/one-time-deposit-modal.spec.tsx
Due: prettier --write, npx eslint --fix

chore: fix authorize issue
  packages/account/src/Sections/Profile/PhoneVerification/__test__/phone-verification-page.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification-page.tsx
Due: prettier --write, npx eslint --fix

feat: Added error handling for VerifyPersonalDetails through useIDVService hook
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/IDVService.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/useIDVService.ts
Due: prettier --write, npx eslint --fix

feat: write tests for crypto-transaction-processing modal
  packages/core/src/App/Containers/Modals/crypto-transaction-processing-modal/__test__/crypto-transaction-processing-modal-content.spec.tsx
  packages/core/src/App/Containers/Modals/crypto-transaction-processing-modal/__test__/crypto-transaction-processing-modal.spec.tsx
  packages/core/src/App/Containers/OneTimeDepositModal/__test__/one-time-deposit-modal-content.spec.tsx
  packages/core/src/App/Containers/OneTimeDepositModal/__test__/one-time-deposit-modal.spec.tsx
Due: prettier --write, npx eslint --fix

feat: write tests for deposit-now-or-later-modal
  packages/core/src/App/Containers/Modals/deposit-now-or-later-modal/__test__/deposit-now-or-later-modal.spec.tsx
Due: prettier --write, npx eslint --fix

feat: VerifyPersonalDetails - added error handling and ErrorMessage component
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/VerifyPersonalDetails.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/components/ErrorMessage/ErrorMessage.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/components/ErrorMessage/index.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/components/index.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/useVerifyPersonalDetails.ts
Due: prettier --write, npx eslint --fix

fix: failing test cases
  packages/cashier/src/components/side-note/__tests__/side-note.spec.tsx
  packages/cashier/src/components/transactions-crypto-history/__tests__/transactions-crypto-history.spec.tsx
  packages/cashier/src/components/transactions-crypto-history/__tests__/transactions-crypto-renderer.spec.tsx
  packages/cashier/src/containers/cashier/__tests__/cashier.spec.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-form/__tests__/withdrawal-crypto-form.spec.tsx
Due: prettier --write, npx eslint --fix

chore: update package-lock
  package-lock.json
Due: prettier --write

fix: prettier and test cases
  packages/trader/src/AppV2/Components/DraggableList/__tests__/draggable-list-item.spec.tsx
  packages/trader/src/AppV2/Components/DraggableList/__tests__/draggable-list.spec.tsx
  packages/trader/src/AppV2/Components/DraggableList/draggable-list-item.tsx
  packages/trader/src/AppV2/Components/DraggableList/draggable-list.tsx
Due: prettier --write, npx eslint --fix

chore: update using inset-inline and style for tablet view
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-unsuccessful.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrading.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: prettier
  packages/trader/src/AppV2/Components/DraggableList/draggable-list-item.tsx
Due: prettier --write, npx eslint --fix

fix: Dbot offering for Norway and Japan users (#16002)
  packages/bot-web-ui/src/stores/app-store.ts
Due: prettier --write, npx eslint --fix

feat: added fullheight password modal for mobile
  packages/cfd/src/Containers/cfd-password-modal.tsx
Due: prettier --write, npx eslint --fix

chore: update modal with inset
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.scss
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.tsx
  packages/core/src/App/Containers/Modals/wallets-upgrade-logout-modal/wallets-upgrade-logout-modal.scss
  packages/core/src/App/Containers/Modals/wallets-upgrade-logout-modal/wallets-upgrade-logout-modal.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: remove caret
  package-lock.json
  packages/core/package.json
  packages/trader/package.json
Due: prettier --write

fix: wallets banner ui issues
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-unsuccessful.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrading.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: remove_khmer_lang
  package-lock.json
  packages/account/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
Due: prettier --write

fix: wallets banner ui issues
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.scss
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: remove_khmer_language_from_langugaes_list
  package-lock.json
  packages/account/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
Due: prettier --write

fix: fixed white page on POI status page on submission
  packages/core/src/sass/app/_common/components/account-common.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: fixed white page on POI status page on submission2
  packages/core/src/sass/app/_common/components/account-common.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: fixed white page on POI status page on submission3
  packages/core/src/sass/app/_common/components/account-common.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: added testcases to validation schema
  packages/account/src/Configs/__test__/kyc-validation-config.spec.ts
  packages/account/src/Configs/__test__/user-profile-validation-config.spec.ts
Due: prettier --write, npx eslint --fix

feat: remove semicolon
  packages/appstore/src/components/containers/trading-app-card.tsx
Due: prettier --write, npx eslint --fix

test: more tests for profit-store
  packages/reports/src/Stores/Modules/Profit/__tests__/profit-store.spec.ts
Due: prettier --write, npx eslint --fix

fix: bug with translation of value instead of text
  packages/reports/src/Containers/open-positions.tsx
Due: prettier --write, npx eslint --fix

chore: apply comment
  packages/cashier/src/pages/deposit/deposit.tsx
Due: prettier --write, npx eslint --fix

[WALL] Aizad/WALL-4435/Refactor Icons inside of Cashier (#15700)
  packages/wallets/src/components/AppCard/AppCard.tsx
  packages/wallets/src/components/AppCard/__tests__/AppCard.spec.tsx
  packages/wallets/src/components/DerivAppsSection/DerivAppsGetAccount.tsx
  packages/wallets/src/components/DerivAppsSection/DerivAppsTradingAccount.tsx
  packages/wallets/src/components/WalletCurrencyCard/WalletCurrencyCard.scss
  packages/wallets/src/components/WalletCurrencyCard/WalletCurrencyCard.tsx
  packages/wallets/src/components/WalletCurrencyIcon/WalletCurrencyIcon.tsx
  packages/wallets/src/components/WalletListCard/WalletListCard.tsx
  packages/wallets/src/components/WalletMarketCurrencyIcon/WalletMarketCurrencyIcon.tsx
  packages/wallets/src/components/WalletMarketIcon/WalletMarketIcon.tsx
  packages/wallets/src/components/WalletMarketIcon/__tests__/WalletMarketIcon.spec.tsx
  packages/wallets/src/components/WalletsAppLinkedWithWalletIcon/WalletsAppLinkedWithWalletIcon.scss
  packages/wallets/src/components/WalletsAppLinkedWithWalletIcon/WalletsAppLinkedWithWalletIcon.tsx
  packages/wallets/src/components/WalletsAppLinkedWithWalletIcon/__tests__/WalletsAppLinkedWithWalletIcon.spec.tsx
  packages/wallets/src/components/WalletsAppLinkedWithWalletIcon/index.ts
  packages/wallets/src/components/index.ts
  packages/wallets/src/constants/icons.ts
  packages/wallets/src/features/cashier/constants/constants.ts
  packages/wallets/src/features/cashier/helpers/helpers.ts
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountCard/TransferFormAccountCard.scss
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountCard/TransferFormAccountCard.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountCard/__tests__/TransferFormAccountCard.spec.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountSelection/TransferFormAccountSelection.scss
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountSelection/TransferFormAccountSelection.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormDropdown/TransferFormDropdown.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferReceipt/TransferReceipt.tsx
  packages/wallets/src/public/images/demo-logo.svg
  packages/wallets/src/types.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/uz.json
Due: prettier --write

refactor: useVerifyPersonalDetails and useIDVService - Done to separate responsibilities for IDVService and VerifyPersonalDetails - Moved hooks, utils, types to their respective folders for both
  packages/api-v2/src/hooks/useOnfido.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/IDVService.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/components/ErrorMessage.scss
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/components/ErrorMessage.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/components/index.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/hooks/index.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/hooks/useIDVService.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/types/index.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/types/types.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/utils/contants.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/utils/idvServiceValidators.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/utils/index.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/VerifyPersonalDetails.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/hooks/index.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/hooks/useVerifyPersonalDetails.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/index.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/types/index.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/types/types.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/utils/index.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/utils/verifyPersonalDetailsValidationSchema.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: incorporated Personal details validation
  packages/account/package.json
  packages/account/src/Configs/__test__/user-profile-validation-config.spec.ts
  packages/api-v2/package.json
  packages/cashier-v2/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/p2p/package.json
  packages/trader/package.json
  packages/wallets/package.json
Due: prettier --write, npx eslint --fix

chore: made tax residence mandatory
  packages/account/src/Configs/__test__/user-profile-validation-config.spec.ts
  packages/account/src/Configs/user-profile-validation-config.ts
  packages/account/src/Containers/employment-tax-details-container/employment-tax-details-container.tsx
Due: prettier --write, npx eslint --fix

refactor: use onMount when needed only
  packages/reports/src/Stores/Modules/Profit/__tests__/profit-store.spec.ts
Due: prettier --write, npx eslint --fix

test: onMount
  packages/reports/src/Stores/Modules/Profit/__tests__/profit-store.spec.ts
Due: prettier --write, npx eslint --fix

test: add more tests to profit-store
  packages/reports/src/Stores/Modules/Profit/__tests__/profit-store.spec.ts
Due: prettier --write, npx eslint --fix

test: finalize tests for profit-store
  packages/reports/src/Stores/Modules/Profit/__tests__/profit-store.spec.ts
Due: prettier --write, npx eslint --fix

refactor: introduce vars for repeated values
  packages/reports/src/Stores/Modules/Profit/__tests__/profit-store.spec.ts
Due: prettier --write, npx eslint --fix
