Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

build: updated @deriv-com/analytics to the latest version (#18060)
  package-lock.json
  package.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/appstore/package.json
  packages/cashier/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/p2p/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Due: prettier --write

fix: logged out loading issue
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: added checks for logout EU clients
  packages/core/src/Stores/traders-hub-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: timer picker field should display appropriate value for future dates (#18048)
  packages/trader/src/AppV2/Components/TradeParameters/Duration/day.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/km.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

chore: fix test case failing issue
  packages/account/src/Components/forms/__tests__/personal-details-form.spec.tsx
  packages/core/src/App/Containers/RealAccountSignup/__tests__/account-wizard.spec.tsx
Due: prettier --write, npx eslint --fix

chore: fix test case failing for poi-confirm-with-example-form-container
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/personal-details/personal-details.tsx
  packages/account/src/Components/poi/poi-confirm-with-example-form-container/__tests__/poi-confirm-with-example-form-container.spec.tsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: implement country code dropdown for real account sign up
  packages/account/src/Components/forms/form-fields/form-input-field.tsx
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/personal-details/personal-details.tsx
  packages/account/src/Configs/personal-details-config.ts
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/sass/app/_common/components/account-common.scss
  packages/hooks/src/useGetPhoneNumberList.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: insert growthbook feature value for country code dropdown
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.tsx
  packages/account/src/Components/personal-details/personal-details.tsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: put calling country code as default
  packages/account/src/Configs/personal-details-config.ts
Due: prettier --write, npx eslint --fix

chore: make is_country_code_dropdown_enabled boolean to false first
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/personal-details/personal-details.tsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: change redirection to home instead of cfds
  packages/core/src/App/Containers/RootComponent/root-component.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Aswathy/fix: testing the loggedin status (#18041)
  packages/core/src/Stores/client-store.js
  packages/core/src/Utils/Analytics/index.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/es.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

chore: update tests
  packages/wallets/src/features/cfd/screens/TradingPlatformStatus/__tests__/TradingPlatformStatus.spec.tsx
Due: prettier --write, npx eslint --fix

chore: switched the check
  packages/core/src/Stores/traders-hub-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: reduced lines of code
  packages/core/src/Stores/traders-hub-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: typo
  packages/account/src/Configs/get-mt5-status-badge-config.tsx
Due: prettier --write, npx eslint --fix

style: changed button variant from medium to large
  packages/cfd/src/Containers/cfd-server-maintenance-modal.tsx
Due: prettier --write, npx eslint --fix

chore: update /home
  packages/core/src/App/Containers/RootComponent/root-component.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: add localize function for important notes strings
  packages/cfd/src/Helpers/constants.ts
Due: prettier --write, npx eslint --fix

chore: add localize function for important notes strings (#18064)
  packages/cfd/src/Helpers/constants.ts
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

Suisin/chore: change redirection to home instead of cfds (#18062)
  packages/core/src/App/Containers/RootComponent/root-component.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

style: padding issue with modal component
  packages/account/src/Configs/get-mt5-status-badge-config.tsx
  packages/account/src/Configs/get-status-badge-config.tsx
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/cfd/src/Containers/cfd-server-maintenance-modal.tsx
  packages/cfd/src/Containers/mt5-account-unavailable-modal.tsx
  packages/wallets/src/features/cfd/components/PlatformStatusBadge/PlatformStatusBadge.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: added front channel and silent callback page
  package-lock.json
  packages/core/build/config.js
  packages/core/package.json
  packages/core/src/App/AppContent.tsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/Modules/FrontChannel/FrontChannelPage.tsx
  packages/core/src/Modules/FrontChannel/index.ts
  packages/core/src/Modules/SilentCallback/SilentCallback.tsx
  packages/core/src/Modules/SilentCallback/index.ts
  packages/core/src/index.html
  packages/core/src/root_files/front-channel.html
  packages/core/src/root_files/silent-callback.html
  packages/hooks/package.json
  packages/hooks/src/useOauth2.ts
  packages/hooks/src/useSilentLoginAndLogout.ts
  packages/shared/src/utils/routes/routes.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: small nit
  packages/appstore/src/components/cfds-listing-logged-out/cfds-listing-logged-out.tsx
  packages/core/src/Stores/traders-hub-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: empty commit
  packages/appstore/src/components/cfds-listing-logged-out/cfds-listing-logged-out.tsx
Due: prettier --write, npx eslint --fix

chore: make strategy_provider_notes to be in a returning function
  packages/cfd/src/Containers/ctrader-derivx-trade-modal.tsx
  packages/cfd/src/Helpers/constants.ts
Due: prettier --write, npx eslint --fix

chore: make strategy_provider_notes to be in a returning function (#18068)
  packages/cfd/src/Containers/ctrader-derivx-trade-modal.tsx
  packages/cfd/src/Helpers/constants.ts
Due: prettier --write, npx eslint --fix

chore: fix unable to submit issue
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: use is_eu instead of is_eu_user
  packages/appstore/src/components/cfds-listing-logged-out/cfds-listing-logged-out.tsx
Due: prettier --write, npx eslint --fix

chore: Backwards compatibility for API updates
  packages/appstore/src/components/cfds-listing-logged-out/cfds-listing-logged-out.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/__tests__/cfd-compare-accounts-title-icon.spec.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts-title-icon.tsx
  packages/cfd/src/Helpers/compare-accounts-config.ts
  packages/wallets/src/features/cfd/constants.tsx
Due: prettier --write, npx eslint --fix

chore: make staging translation issue pr towards master
  packages/cfd/src/Containers/ctrader-derivx-trade-modal.tsx
  packages/cfd/src/Helpers/constants.ts
Due: prettier --write, npx eslint --fix

chore: make staging translation issue pr towards master (#18071)
  packages/cfd/src/Containers/ctrader-derivx-trade-modal.tsx
  packages/cfd/src/Helpers/constants.ts
Due: prettier --write, npx eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
