Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

chore: update npm run build with a growthbook keys
  .github/workflows/build_docker_image.yml
Due: none

Suisin/chore: update workflows to have environment of staging (#16292)
  .github/workflows/build_docker_image.yml
Due: none

chore: update build_docker_image.yml file
  .github/workflows/build_docker_image.yml
Due: none

feat: :construction: added download and reset feature
  packages/bot-web-ui/src/pages/server-side-bot/journal/journal.tsx
  packages/bot-web-ui/src/pages/server-side-bot/summary/summary.scss
  packages/bot-web-ui/src/pages/server-side-bot/summary/summary.tsx
  packages/bot-web-ui/src/stores/server-side-bot-store.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Suisin/update workflow to have staging environment (#16293)
  .github/workflows/build_docker_image.yml
Due: none

chore: fix card width inside of Tablet view
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferReceipt/TransferReceipt.tsx
Due: prettier --write, npx eslint --fix

refactor: apply design changes
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/__tests__/take-profit.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit-description.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit-input.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.scss
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.tsx
  packages/trader/src/AppV2/Utils/__tests__/trade-param-utils.spec.tsx
  packages/trader/src/AppV2/Utils/trade-params-utils.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/de.json
Due: prettier --write

fix: error component import
  packages/cfd/src/Components/Errors/__tests__/error-component.spec.tsx
  packages/cfd/src/Containers/routes.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: server side bot test cases (#16289)
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/__tests__/quick-strategy.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/__tests__/accordion-strategy-group.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/__tests__/desktop-form-wrapper.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/__tests__/form-tabs.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/__tests__/mobile-form-wrapper.spec.tsx
Due: prettier --write, npx eslint --fix

feat: add redirect on click to contract details
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Due: prettier --write, npx eslint --fix

fix: reponsive modal fix (#16286)
  packages/wallets/src/App.tsx
Due: prettier --write, npx eslint --fix

fix: google drive import issue
  packages/bot-web-ui/src/stores/save-modal-store.ts
Due: prettier --write, npx eslint --fix

feat: :sparkles: added country check
  packages/bot-web-ui/src/pages/main/main.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/config.ts
  packages/bot-web-ui/src/pages/server-side-bot/bot-list/bot-list-menu.tsx
  packages/bot-web-ui/src/pages/server-side-bot/bot-list/bot-list.tsx
  packages/bot-web-ui/src/stores/server-side-bot-store.ts
Due: prettier --write, npx eslint --fix

fix: google drive import issue (#16296)
  packages/bot-web-ui/src/stores/save-modal-store.ts
Due: prettier --write, npx eslint --fix

fix: types
  packages/cfd/src/Components/Errors/error-component.tsx
Due: prettier --write, npx eslint --fix

build: update analytics package to version 1.11.0
  package-lock.json
  package.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Due: prettier --write

feat: add error message for cashier
  packages/cashier/src/components/cashier-locked/cashier-locked-provider.tsx
  packages/cashier/src/components/cashier-locked/cashier-locked.tsx
  packages/core/src/Stores/client-store.js
  packages/hooks/src/__tests__/useDuplicateDOBPhone.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useDuplicateDOBPhone.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: :sparkles: Cleanup and updated content messages
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/quick-strategy.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/add-bot.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/parts/__tests__/loss-threshold-warning.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/parts/loss-threshold-warning-dialog.tsx
  packages/bot-web-ui/src/pages/server-side-bot/container/container.tsx
  packages/bot-web-ui/src/stores/server-side-bot-store.ts
Due: prettier --write, npx eslint --fix

feat: tracking with feature flag enabled
  packages/appstore/src/components/app-content.tsx
  packages/core/src/Stores/client-store.js
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: build failure issue
  packages/stores/src/mockStore.ts
Due: prettier --write, npx eslint --fix

fix: :fire: updated file names
  packages/bot-web-ui/src/stores/load-modal-store.ts
Due: prettier --write, npx eslint --fix

feat: add error sketch
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: :test_tube: improved test coverage variables
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/__tests__/form.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/__tests__/quick-strategy.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/__tests__/desktop-form-wrapper.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/__tests__/mobile-form-wrapper.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/__tests__/useQsSubmitHandler.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/inputs/__tests__/qs-input-label.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/inputs/__tests__/qs-input.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/inputs/__tests__/qs-toggle-switch.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/parts/__tests__/loss-threshold-warning.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/selects/__tests__/contract_type.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/selects/__tests__/duration_type.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/selects/__tests__/symbol.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/selects/__tests__/trade-type.spec.tsx
Due: prettier --write, npx eslint --fix

fix: :fire: updated file names (#16300)
  packages/bot-web-ui/src/stores/load-modal-store.ts
Due: prettier --write, npx eslint --fix

dhruv/Fixed console errors in personal details/COJ-1334 (#16066)
  packages/account/src/Components/leave-confirm/leave-confirm.tsx
  packages/core/src/App/Containers/ResetPasswordModal/__tests__/reset-password-modal.spec.tsx
  packages/core/src/Stores/traders-hub-store.js
  packages/stores/src/mockStore.ts
  packages/stores/src/stores/FeatureFlagsStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: remove extra line breaks
  packages/bot-web-ui/src/stores/server-side-bot-store.ts
Due: prettier --write, npx eslint --fix

feat: update pips values for compare accounts table and for cards too
  packages/cfd/src/Constants/jurisdiction-contents/jurisdiction-bvi-contents.ts
  packages/cfd/src/Constants/jurisdiction-contents/jurisdiction-labuan-contents.ts
  packages/cfd/src/Constants/jurisdiction-contents/jurisdiction-svg-contents.ts
  packages/cfd/src/Constants/jurisdiction-contents/jurisdiction-vanuatu-contents.ts
  packages/cfd/src/Helpers/compare-accounts-config.ts
Due: prettier --write, npx eslint --fix

feat: add notifications for closing position
  packages/core/src/Stores/portfolio-store.js
  packages/stores/types.ts
  packages/trader/src/AppV2/Containers/Notifications/notifications.scss
  packages/trader/src/AppV2/Containers/Notifications/notifications.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: replace small localize with big Localize
  packages/bot-web-ui/src/pages/server-side-bot/summary/summary.tsx
  packages/bot-web-ui/src/stores/server-side-bot-store.ts
Due: prettier --write, npx eslint --fix

refactor: add setter for callback into a mockstore
  packages/stores/src/mockStore.ts
Due: prettier --write, npx eslint --fix

chore: applied suggestions
  packages/api-v2/src/hooks/useDocumentUpload.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/utils/idvServiceValidators.ts
Due: prettier --write, npx eslint --fix

refactor: replace small localize with big Localize
  packages/bot-web-ui/src/pages/server-side-bot/bot-list/delete-server-bot.tsx
Due: prettier --write, npx eslint --fix
