Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

fix: fixes circleci issues
  packages/account-v2/src/components/base/Dropzone/__tests__/Dropzone.spec.tsx
  packages/account-v2/src/constants/manualFormConstants.tsx
  packages/account-v2/src/modules/ManualForm/__tests__/manualForm.spec.tsx
  packages/account-v2/src/modules/ManualForm/manualFormDocumentUpload.tsx
  packages/account-v2/src/modules/ManualForm/manualFormFooter.tsx
  packages/account-v2/src/modules/ManualForm/manualFormInputs.tsx
Due: prettier --write, npx eslint --fix

fix: transactions gmt time display: (#13321)
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/TransactionsPendingRow.tsx
Due: prettier --write, npx eslint --fix

fix: replace "left" PageLayout props with "sidebar"
  packages/cashier-v2/src/containers/Cashier/Cashier.tsx
Due: prettier --write, npx eslint --fix

fix: fixes sonarcloud issue
  packages/account-v2/src/components/base/WalletDatePicker/WalletDatePicker.tsx
Due: prettier --write, npx eslint --fix

chore(cashier-v2): :art: add clsx package
  packages/cashier-v2/package.json
Due: prettier --write

feat: fixed forgotten test
  packages/wallets/src/features/accounts/screens/ManualDocumentUpload/__tests__/ManualDocumentUpload.spec.tsx
Due: prettier --write, npx eslint --fix

feat: includes password side in migration modal
  packages/cfd/src/Containers/mt5-migration-modal/mt5-migration-front-side-content.tsx
  packages/cfd/src/Containers/mt5-migration-modal/mt5-migration-modal-content.tsx
  packages/cfd/src/Containers/mt5-migration-modal/mt5-migration-modal.scss
  packages/cfd/src/Containers/mt5-migration-modal/mt5-migration-modal.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: adds back button functionality for page overlay
  packages/cfd/src/Containers/mt5-migration-modal/mt5-migration-modal.scss
  packages/cfd/src/Containers/mt5-migration-modal/mt5-migration-modal.tsx
  packages/components/src/components/page-overlay/page-overlay.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: incorporated review comments
  packages/account-v2/src/constants/manual-document.tsx
  packages/account-v2/src/containers/DocumentSelection/index.tsx
Due: prettier --write, npx eslint --fix

fix: ignore style lint
  packages/account-v2/src/components/base/WalletDatePicker/WalletDatePicker.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: fixes class usage
  packages/account-v2/src/modules/ManualForm/manualForm.tsx
  packages/account-v2/src/modules/ManualForm/manualFormDocumentUpload.tsx
  packages/account-v2/tailwind.config.ts
Due: prettier --write, npx eslint --fix

feat: adds dark class
  packages/account-v2/src/modules/ManualForm/manualForm.tsx
  packages/account-v2/src/modules/ManualForm/manualFormDocumentUpload.tsx
  packages/account-v2/tailwind.config.ts
Due: prettier --write, npx eslint --fix

feat: complete with mixins
  packages/appstore/src/modules/traders-hub/traders-hub.scss
  packages/shared/src/styles/devices.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: modify traders hub main page
  packages/appstore/src/modules/traders-hub/index.tsx
Due: prettier --write, npx eslint --fix

feat: modify main title
  packages/appstore/src/components/main-title-bar/index.tsx
Due: prettier --write, npx eslint --fix

feat: modify asset-summary
  packages/appstore/src/components/main-title-bar/asset-summary.tsx
Due: prettier --write, npx eslint --fix

feat: modify asset-summary styles
  packages/appstore/src/components/main-title-bar/asset-summary.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: modify listing-container and currency-switcher styles
  packages/appstore/src/components/containers/currency-switcher-container.scss
  packages/appstore/src/components/containers/listing-container.scss
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: modify header
  package-lock.json
  packages/core/package.json
  packages/core/src/App/Components/Layout/Header/menu-links.jsx
  packages/core/src/App/Containers/Layout/header/traders-hub-header.tsx
  packages/core/src/sass/app/_common/layout/traders-hub-header.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: get back package-lock.json
  package-lock.json
Due: prettier --write

fix: both desktop & mobile issues
  packages/wallets/src/features/cashier/modules/Transactions/__tests__/Transactions.spec.tsx
  packages/wallets/src/features/cfd/modals/JurisdictionModal/JurisdictionModal.scss
  packages/wallets/src/features/cfd/screens/DynamicLeverage/DynamicLeverageMarketCard.scss
  packages/wallets/src/features/cfd/screens/DynamicLeverage/DynamicLeverageScreen.scss
  packages/wallets/src/features/cfd/screens/DynamicLeverage/DynamicLeverageScreen.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCard.scss
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCard.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCardRow.scss
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCardRow.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionScreen.scss
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionScreen.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction-labuan-contents.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: a few corrections
  packages/wallets/src/features/cfd/screens/DynamicLeverage/DynamicLeverageScreen.scss
  packages/wallets/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction-bvi-contents.ts
  packages/wallets/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction-svg-contents.ts
  packages/wallets/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction-vanuatu-contents.ts
  packages/wallets/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction_maltainvest_contents.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: align w figma
  packages/wallets/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction-labuan-contents.ts
Due: prettier --write, npx eslint --fix

chore: added tests for profile balance
  packages/p2p-v2/jest.config.js
  packages/p2p-v2/src/components/Modals/AvailableP2PBalanceModal/AvailableP2PBalanceModal.tsx
  packages/p2p-v2/src/components/Modals/DailyLimitModal/DailyLimitModal.tsx
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileBalance/MyProfileBalance.tsx
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileBalance/__tests__/MyProfileBalance.spec.tsx
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileDailyLimit/MyProfileDailyLimit.tsx
Due: prettier --write, npx eslint --fix

fix: failing test cases
  packages/p2p-v2/src/components/PaymentMethodsHeader/PaymentMethodsHeader.tsx
  packages/p2p-v2/src/components/PaymentMethodsHeader/__tests__/PaymentMethodsHeader.spec.tsx
  packages/p2p-v2/src/components/Verification/__tests__/Verification.spec.tsx
Due: prettier --write, npx eslint --fix

chore: added test cases for my profile stats
  packages/p2p-v2/src/components/AdvertiserName/__tests__/AdvertiserName.spec.tsx
  packages/p2p-v2/src/components/FullPageMobileWrapper/FullPageMobileWrapper.tsx
  packages/p2p-v2/src/hooks/useAdvertiserStats.ts
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileStats/MyProfileStats.tsx
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileStats/MyProfileStatsItem.tsx
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileStats/MyProfileStatsMobile.tsx
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileStats/__tests__/MyProfileStats.spec.tsx
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileStats/__tests__/MyProfileStatsItem.spec.tsx
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileStats/__tests__/MyProfileStatsMobile.spec.tsx
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileStats/index.ts
Due: prettier --write, npx eslint --fix

chore: renamed test id
  packages/p2p-v2/src/components/FullPageMobileWrapper/FullPageMobileWrapper.tsx
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileStats/__tests__/MyProfileStatsMobile.spec.tsx
Due: prettier --write, npx eslint --fix

fix: updated icons
  packages/wallets/src/components/Base/WalletPasswordField/WalletPasswordField.scss
  packages/wallets/src/public/images/ic-password-hide.svg
  packages/wallets/src/public/images/ic-password-show.svg
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

style: text size and modal size
  packages/tradershub/src/features/cfd/screens/CFDSuccess/CFDSuccess.tsx
  packages/tradershub/src/features/cfd/screens/CreatePassword/CreatePassword.tsx
  packages/tradershub/src/features/cfd/screens/EnterPassword/EnterPassword.tsx
Due: prettier --write, npx eslint --fix

fix: 🔧 incorporate new design
  packages/appstore/src/assets/svgs/wallets/wallets-image.tsx
  packages/appstore/src/assets/svgs/wallets/wallets-upgrade-modal-desktop.svg
  packages/appstore/src/assets/svgs/wallets/wallets-upgrade-modal.svg
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.scss
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: add test cases for payment method field
  packages/p2p-v2/src/components/PaymentMethodField/__tests__/PaymentMethodField.spec.tsx
Due: prettier --write, npx eslint --fix

chore: add white space
  packages/p2p-v2/src/components/PaymentMethodField/__tests__/PaymentMethodField.spec.tsx
Due: prettier --write, npx eslint --fix

chore: update selector
  packages/p2p-v2/src/components/PaymentMethodField/__tests__/PaymentMethodField.spec.tsx
Due: prettier --write, npx eslint --fix

Update MyProfileBalance.spec.tsx
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileBalance/__tests__/MyProfileBalance.spec.tsx
Due: prettier --write, npx eslint --fix

feat: delete key (#13392)
  packages/tradershub/src/features/cfd/flows/CTrader/AddedCTraderAccountsList/AddedCTraderAccountsList.tsx
  packages/tradershub/src/features/cfd/flows/OtherCFDs/Dxtrade/AddedDxtradeAccountsList/AddedDxtradeAccountsList.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
Due: prettier --write

chore: update deriv-com/ui version (#13378)
  package-lock.json
  packages/account-v2/package.json
  packages/cashier-v2/package.json
  packages/p2p-v2/package.json
  packages/tradershub/package.json
Due: prettier --write
