Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

fix: review comments
  packages/core/src/App/Components/Routes/route-with-sub-routes.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: review comments
  packages/p2p/src/components/buy-sell/no-ads/no-ads.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Update packages/shared/src/utils/files/__tests__/file-uploader-utils.spec.js
  packages/shared/src/utils/files/__tests__/file-uploader-utils.spec.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: added deps to useEffect
  packages/components/src/components/amount-input/amount-input.tsx
Due: prettier --write, npx eslint --fix

fix: review comments
  packages/p2p/src/components/routes/binary-routes.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Revert "style: :lipstick: adjusts card width as per figma design"
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/sass/cfd-dashboard.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: :bug: displays card text as per figma design
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/sass/cfd-dashboard.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: replaced connect method in save-modal, stop-bot-modal and workspace-control files
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/save-modal.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/stop-bot-modal.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/workspace-control.tsx
Due: prettier --write, npx eslint --fix

feat: add styles for popup and handlers for buttons
  packages/appstore/src/components/modals/wallets-migration-failed/wallets-migration-failed.scss
  packages/appstore/src/components/modals/wallets-migration-failed/wallets-migration-failed.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: fix, refactor fields markets, submarkets, symbols
  packages/new-bot-web-ui/src/app/app-content.jsx
  packages/new-bot-web-ui/src/components/blocks/blocks-components/blocks-fields.tsx
  packages/new-bot-web-ui/src/components/blocks/blocks-components/select-block-field.tsx
  packages/new-bot-web-ui/src/components/blocks/blocks.tsx
  packages/new-bot-web-ui/src/stores/blocks-store.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: add demo/real transfers
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/types/common.types.ts
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form-side-note.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-receipt/account-transfer-receipt.tsx
  packages/cashier/src/stores/account-transfer-store.ts
  packages/cashier/src/types/account.types.ts
  packages/cfd/src/Stores/Modules/CFD/cfd-store.js
  packages/core/src/Constants/cfd-text.js
  packages/hooks/src/useCFDAllAccounts.ts
  packages/shared/brand.config.json
  packages/shared/src/utils/brand/brand.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: implement trade_type_category & trade_type dropdowns blocks
  packages/new-bot-web-ui/src/components/blocks/blocks-components/blocks-fields.tsx
  packages/new-bot-web-ui/src/components/blocks/blocks.tsx
  packages/new-bot-web-ui/src/stores/blocks-store.ts
Due: prettier --write, npx eslint --fix

fix: nitpick styles of blocks
  packages/new-bot-web-ui/src/components/blocks/blocks.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: add useCallback
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission-for-mt5.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: for codecov
  packages/appstore/src/constants/platform-config.ts
Due: prettier --write, npx eslint --fix

chore: add toast box failed notification
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/notification-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: fixed padding issues
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method.scss
  packages/p2p/src/components/nickname-form/nickname-form.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: for lang check
  src/botPage/view/deriv/layout/Header/components/platform-dropdown.jsx
Due: prettier --write, npx eslint --fix

chore: added toast notification for fail state for wallet upgrade
  packages/core/src/Stores/notification-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: for platform switcher
  src/botPage/view/deriv/layout/Header/components/platform-dropdown.jsx
Due: prettier --write, npx eslint --fix

fix: for platform switcher language
  src/botPage/view/deriv/layout/Header/components/platform-dropdown.jsx
Due: prettier --write, npx eslint --fix

fix: commit whatever that's left
  packages/components/src/components/icon/wallet/ic-wallet-etherium-dark.svg
  packages/components/src/components/icon/wallet/ic-wallet-etherium-light.svg
  packages/components/src/components/icon/wallet/ic-wallet-payment-agent-dark.svg
  packages/hooks/src/useTotalAssetCurrency.ts
Due: prettier --write, npx eslint --fix

fix: calendar filter bug in reports (#8668)
  packages/reports/src/Components/Form/CompositeCalendar/composite-calendar-mobile.tsx
  packages/reports/src/Components/Form/CompositeCalendar/composite-calendar.tsx
  packages/reports/src/Stores/Modules/Profit/profit-store.js
  packages/reports/src/Stores/Modules/Statement/statement-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/it.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/vi.json
Due: prettier --write

fix: refactor
  packages/appstore/src/components/add-options-account/add-options-account.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/cfd/src/Stores/Modules/CFD/cfd-store.js
  packages/core/src/App/Components/Elements/Modals/deriv-real-account-required-modal.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/Modals/need-real-account-for-cashier-modal/need-real-account-for-cashier-modal.tsx
  packages/core/src/App/Containers/Modals/ready-to-deposit-modal/ready-to-deposit-modal.tsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Ameerul /Instruction text is out of the Textbox while Creating Ad in P2P (#8658)
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal.scss
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/my-profile/my-profile-form/my-profile-form.scss
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method.scss
  packages/p2p/src/components/nickname-form/nickname-form.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: extract text to constant variables and add whitespace
  end-to-end-test/tests/traders-hub/dashboard-real.spec.tsx
Due: prettier --write, npx eslint --fix

fix: refine code
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/notification-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat(hooks): :sparkles: improve input formatter hooks
  packages/hooks/src/__tests__/useInputATMFormatter.spec.tsx
  packages/hooks/src/__tests__/useInputDecimalFormatter.spec.tsx
  packages/hooks/src/useInputATMFormatter.ts
  packages/hooks/src/useInputDecimalFormatter.ts
Due: prettier --write, npx eslint --fix

feat(hooks): :sparkles: improve input formatter hooks
  packages/hooks/src/useInputATMFormatter.ts
  packages/hooks/src/useInputDecimalFormatter.ts
Due: prettier --write, npx eslint --fix

refactor: remove connect from journal.tsx
  packages/bot-web-ui/src/components/journal/journal.tsx
Due: prettier --write, npx eslint --fix

refactor: remove connect from load-modal.tsx
  packages/bot-web-ui/src/components/load-modal/load-modal.tsx
Due: prettier --write, npx eslint --fix

fix: circleci
  packages/core/src/App/Components/Layout/Header/__tests__/platform-switcher.spec.tsx
  packages/core/src/App/Components/Layout/Header/platform-switcher.jsx
  packages/core/src/App/Containers/Layout/header/dtrader-header.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: circleci
  packages/core/src/App/Components/Layout/Header/__tests__/platform-switcher.spec.tsx
Due: prettier --write, npx eslint --fix

build: fix types
  packages/reports/src/Containers/open-positions.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

fix: made changes according to suggestions
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
Due: prettier --write, npx eslint --fix
