Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: multiple improvements
  packages/shared/src/utils/constants/contract.ts
  packages/trader/src/AppV2/Components/CardWrapper/__tests__/card-wrapper.spec.tsx
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Due: prettier --write, npx eslint --fix

chore: rename status as per design
  packages/bot-web-ui/src/components/trade-animation/contract-stage-text.tsx
Due: prettier --write, npx eslint --fix

chore(wallets): :bookmark: update analytics package to v1.6.2
  package-lock.json
  package.json
  packages/account/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
Due: prettier --write

test: more tests for open-positions
  packages/reports/src/Containers/__tests__/open-positions.spec.tsx
Due: prettier --write, npx eslint --fix

fix: The issue of investor password modal is fixed
  packages/cfd/src/Containers/dmt5-trade-modal.tsx
  packages/core/src/Stores/traders-hub-store.js
  packages/shared/src/utils/cfd/cfd.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

[BOT] maryia/ BOT-1623/feat: Bring user to top of page when switching between strategies on QS modal (#15531)
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/desktop-form-wrapper.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/save-modal.tsx
Due: prettier --write, npx eslint --fix

fix: multiple improvements
  packages/shared/src/utils/constants/contract.ts
  packages/trader/src/AppV2/Components/RiskManagementItem/__tests__/risk-management-item.spec.tsx
  packages/trader/src/AppV2/Components/RiskManagementItem/risk-management-item.tsx
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/de.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

fix: footer and other fix
  packages/core/src/sass/app/_common/layout/header.scss
  packages/trader/src/AppV2/Components/ContractDetailsFooter/__tests__/contract-details-footer.spec.tsx
  packages/trader/src/AppV2/Components/ContractDetailsFooter/contract-details-footer.tsx
  packages/trader/src/AppV2/Components/DealCancellation/__tests__/deal-cancellation.spec.tsx
  packages/trader/src/AppV2/Components/EntryExitDetails/entry-exit-details-row.tsx
  packages/trader/src/AppV2/Components/EntryExitDetails/entry-exit-details.tsx
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: update to use is_email_verified
  packages/account/src/Sections/Profile/PersonalDetails/verify-button.tsx
  packages/account/src/Sections/Profile/PhoneVerification/confirm-phone-number.tsx
  packages/account/src/Sections/Profile/PhoneVerification/didnt-get-the-code-modal.tsx
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
Due: prettier --write, npx eslint --fix

fix: :zap: fixed edit take profit for the accumulator type contract for bots
  packages/bot-web-ui/src/components/summary/summary-card.tsx
  packages/bot-web-ui/src/stores/summary-card-store.ts
Due: prettier --write, npx eslint --fix

Update smoketests_manual.yml
  .github/workflows/smoketests_manual.yml
Due: none

fix: testcases
  packages/trader/src/AppV2/Components/EntryExitDetails/__tests__/entry-exit-details.spec.tsx
  packages/trader/src/AppV2/Components/EntryExitDetails/entry-exit-details-row.tsx
  packages/trader/src/AppV2/Components/EntryExitDetails/entry-exit-details.tsx
Due: prettier --write, npx eslint --fix

fix: testcases
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Due: prettier --write, npx eslint --fix

chore: Leverage --> Leverage up to
  packages/wallets/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction-bvi-contents.ts
  packages/wallets/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction-labuan-contents.ts
  packages/wallets/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction-svg-contents.ts
  packages/wallets/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction-vanuatu-contents.ts
  packages/wallets/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction_maltainvest_contents.ts
Due: prettier --write, npx eslint --fix

fix: added new tag to logged out page
  packages/appstore/src/components/cfds-listing-logged-out/cfds-listing-logged-out.tsx
Due: prettier --write, npx eslint --fix

chore: bump quill-icons
  packages/account/package.json
  packages/cashier-v2/package.json
  packages/core/package.json
  packages/p2p-v2/package.json
  packages/trader/package.json
  packages/wallets/package.json
Due: prettier --write

chore: add WS call when redirect from notification tray
  packages/core/src/App/Containers/NotificationsDialog/notifications-list.tsx
  packages/core/src/Stores/notification-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: remove unused comment
  packages/account/src/Sections/Profile/PhoneVerification/confirm-phone-number.tsx
Due: prettier --write, npx eslint --fix

fix: :zap: show apporpriate message on server errir
  packages/bot-skeleton/src/services/tradeEngine/utils/helpers.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: add min-height and height for mobile screen
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: update quill-ui in package.json
  packages/account/package.json
Due: prettier --write

refactor: [UPM-11XX]/evgeniy/reset and confirm email modals TS migration
  packages/api/types.ts
  packages/core/src/App/Containers/ConfirmEmailModal/confirm-email-modal.tsx
  packages/core/src/App/Containers/ResetEmailModal/index.js
  packages/core/src/App/Containers/ResetEmailModal/index.ts
  packages/core/src/App/Containers/ResetEmailModal/reset-email-modal.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: removed the Demo word from the TH dashboard
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
Due: prettier --write, npx eslint --fix

feat: tablet view suggestion
  packages/appstore/src/components/real-account-creation-banner/real-account-creation-banner.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

test: finalize tests for OpenPositions
  packages/reports/src/Containers/__tests__/open-positions.spec.tsx
Due: prettier --write, npx eslint --fix

test: finalize getRowAction tests
  packages/reports/src/Containers/__tests__/open-positions.spec.tsx
  packages/reports/src/Containers/open-positions.tsx
Due: prettier --write, npx eslint --fix

chore: removed getCounterpartyAdvertiserInfo
  packages/p2p/src/pages/my-profile/block-user/block-user-table/block-user-row/__tests__/block-user-row.spec.tsx
  packages/p2p/src/pages/my-profile/block-user/block-user-table/block-user-row/block-user-row.tsx
  packages/p2p/src/stores/my-profile-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: fixed width of tray on mobile
  packages/core/src/sass/app/_common/components/account-switcher.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: useOrderDetail fix
  packages/shared/src/utils/constants/contract.ts
  packages/trader/src/AppV2/Hooks/__tests__/useOrderDetails.spec.tsx
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Due: prettier --write, npx eslint --fix

chore: financial-labuan spread should be 0.6pips
  packages/wallets/src/features/cfd/screens/CompareAccounts/compareAccountsConfig.ts
Due: prettier --write, npx eslint --fix

chore: replaced p2p_advertiser_adverts with p2p_advert_list
  packages/p2p/src/stores/my-ads-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
