Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

chore: update test case
  packages/wallets/src/components/TradingAccountCard/__tests__/TradingAccountCard.spec.tsx
Due: prettier --write, npx eslint --fix

feat: added mt5 availability
  packages/core/src/Stores/traders-hub-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: commented financial and cfds restricted filter
  packages/core/src/Stores/traders-hub-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: removed availability
  packages/core/src/Stores/traders-hub-store.js
  packages/shared/src/utils/cfd/available-cfd-accounts.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: ctrader avaiability
  packages/core/src/Stores/traders-hub-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: update platform availability
  packages/core/src/Stores/traders-hub-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: commented avaiability filter
  packages/core/src/Stores/traders-hub-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: added comments and moved the function to down
  packages/core/src/Stores/traders-hub-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: prettier
  packages/core/src/Stores/traders-hub-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: ctrader avaiability condition
  packages/core/src/Stores/traders-hub-store.js
  packages/shared/src/utils/cfd/available-cfd-accounts.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: added comments
  packages/core/src/Stores/traders-hub-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: add blocker for reports and contract details
  packages/core/src/App/Components/Elements/LandscapeBlocker/landscape-blocker.tsx
Due: prettier --write, npx eslint --fix

feat: updated the analytics version
  package-lock.json
  package.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Due: prettier --write

chore: deriv analytics version update
  packages/cashier/package.json
  packages/p2p/package.json
Due: prettier --write

refactor: update quill ui and refactor carousel component (#156)
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
  packages/trader/src/AppV2/Components/Carousel/__tests__/carousel.spec.tsx
  packages/trader/src/AppV2/Components/Carousel/carousel.scss
  packages/trader/src/AppV2/Components/Carousel/carousel.tsx
  packages/trader/src/AppV2/Components/Filter/__tests__/contract-type-filter.spec.tsx
  packages/trader/src/AppV2/Components/Filter/__tests__/time-filter.spec.tsx
  packages/trader/src/AppV2/Components/Guide/__tests__/guide.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/AllowEquals/__tests__/allow-equals.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/AllowEquals/allow-equals-header.tsx
  packages/trader/src/AppV2/Components/TradeParameters/AllowEquals/allow-equals.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: change dropdown variant to prompt and bump deriv-com/ui to 1.29.8
  package-lock.json
  packages/account/package.json
  packages/cashier-v2/package.json
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/reports/package.json
  packages/trader/package.json
  packages/wallets/package.json
  packages/wallets/src/features/accounts/screens/PersonalDetails/PersonalDetails.tsx
Due: prettier --write, npx eslint --fix

Amina/ fix: deriv-x password modal (#16151)
  packages/appstore/src/components/modals/modal-manager.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

DTRA-1354 / Kate / Refactor before submitting (#158)
  packages/trader/src/AppV2/Components/Carousel/__tests__/carousel.spec.tsx
  packages/trader/src/AppV2/Components/Carousel/carousel.tsx
  packages/trader/src/AppV2/Components/Guide/Description/video-fragment.tsx
  packages/trader/src/AppV2/Components/Guide/guide.scss
  packages/trader/src/AppV2/Components/TradeParameters/AllowEquals/__tests__/allow-equals.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/AllowEquals/allow-equals.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TradeTypeTabs/__tests__/trade-type-tabs.spec.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

DTRA-1354/ Kate / Tests for isDigitContractWinning function (#160)
  packages/trader/src/AppV2/Components/Guide/Description/__tests__/video-fragment.spec.tsx
  packages/trader/src/AppV2/Utils/__tests__/trade-param-utils.spec.tsx
Due: prettier --write, npx eslint --fix

Maryia/DTRA-1491/test: last digit selector & current spot (#157)
  packages/core/src/App/app.jsx
  packages/trader/src/AppV2/Components/CurrentSpot/__tests__/current-spot-display.spec.tsx
  packages/trader/src/AppV2/Components/CurrentSpot/__tests__/current-spot.spec.tsx
  packages/trader/src/AppV2/Components/CurrentSpot/current-spot-display.tsx
  packages/trader/src/AppV2/Components/CurrentSpot/current-spot.scss
  packages/trader/src/AppV2/Components/CurrentSpot/current-spot.tsx
  packages/trader/src/AppV2/Components/TradeParameters/AllowEquals/__tests__/allow-equals.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/LastDigitPrediction/__tests__/digit.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/LastDigitPrediction/__tests__/last-digit-prediction.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/LastDigitPrediction/__tests__/last-digit-selector.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/LastDigitPrediction/digit.tsx
  packages/trader/src/AppV2/Components/TradeParameters/LastDigitPrediction/last-digit-prediction.scss
  packages/trader/src/AppV2/Components/TradeParameters/LastDigitPrediction/last-digit-prediction.tsx
  packages/trader/src/AppV2/Components/TradeParameters/LastDigitPrediction/last-digit-selector.tsx
  packages/trader/src/Stores/Modules/Trading/__tests__/trade-store.spec.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: return null after invoking onCompletion for Manual flows - this also fixed the warning react state update after unmount
  packages/wallets/src/features/accounts/modules/ManualService/ManualService.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/DrivingLicenseUpload/DrivingLicenseUpload.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/IdentityCardUpload/IdentityCardUpload.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/NIMCSlipUpload/NIMCSlipUpload.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/PassportUpload/PassportUpload.tsx
Due: prettier --write, npx eslint --fix

fix: VerifyPersonalDetails checkbox not triggering submission
  packages/wallets/src/features/accounts/modules/DocumentService/components/Onfido/Onfido.scss
  packages/wallets/src/features/accounts/modules/DocumentService/components/Onfido/Onfido.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/VerifyPersonalDetails.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/hooks/useVerifyPersonalDetails.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/types/types.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/utils/verifyPersonalDetailsValidationSchema.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: added controller logic for DocumentService - also completed IDVService submission
  packages/wallets/src/features/accounts/modules/DocumentService/DocumentService.scss
  packages/wallets/src/features/accounts/modules/DocumentService/DocumentService.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/IDVService.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/hooks/useIDVService.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: cannot find name_plural of undefined
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.tsx
Due: prettier --write, npx eslint --fix

DTRA-1377 / Kate / Fix: bug with translation of value instead of text (#16010)
  packages/reports/src/Containers/__tests__/open-positions.spec.tsx
  packages/reports/src/Containers/open-positions.tsx
Due: prettier --write, npx eslint --fix

chore: update component with data-testid
  packages/wallets/src/components/TradingAccountCard/TradingAccountCard.tsx
  packages/wallets/src/components/TradingAccountCard/TradingAccountCardButton.tsx
  packages/wallets/src/components/TradingAccountCard/TradingAccountCardIcon.tsx
Due: prettier --write, npx eslint --fix

fix: added missing translations for blockly context menu
  packages/bot-skeleton/src/scratch/utils/index.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: added translations missing blocks
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_create_with.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_getIndex.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_getSublist.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_indexOf.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_isEmpty.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_length.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_repeat.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_setIndex.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_sort.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_split.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_statement.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/Loops/controls_flow_statements.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/Loops/controls_for.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/Loops/controls_forEach.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/Loops/controls_repeat.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/Loops/controls_repeat_ext.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/Loops/controls_whileUntil.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/Variable/variables_get.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/Variable/variables_set.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/accumulator_take_profit.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_candleinterval.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_contracttype.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_market.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_restartbuysell.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_restartonerror.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradetype.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: tradingPlatformStatusData type and hook docs
  packages/api-v2/src/hooks/useTradingPlatformStatus.ts
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useTradingPlatformStatus.ts
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountCard/TransferFormAccountCard.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormDropdown/TransferFormDropdown.tsx
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useTransferMessages/useTransferMessages.ts
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
  packages/wallets/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.tsx
Due: prettier --write, npx eslint --fix

style: css improvements
  packages/appstore/src/components/containers/trading-app-card.scss
  packages/components/src/components/status-badge/status-badge.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: update useEffect in AppContent
  packages/core/src/App/AppContent.tsx
Due: prettier --write, npx eslint --fix

fix: fixed the module bug
  packages/account/src/Components/leave-confirm/leave-confirm.tsx
Due: prettier --write, npx eslint --fix

chore: update options component with deriv app account
  packages/wallets/src/components/DerivAppsSection/DerivAppsGetAccount.tsx
  packages/wallets/src/components/DerivAppsSection/DerivAppsSection.scss
  packages/wallets/src/components/DerivAppsSection/DerivAppsTradingAccount.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: bump deriv-com/ui version from 1.29.8 to 1.29.9
  package-lock.json
  packages/account/package.json
  packages/cashier-v2/package.json
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/reports/package.json
  packages/trader/package.json
  packages/wallets/package.json
Due: prettier --write

feat: updated migration banner
  packages/cfd/src/Assets/banner/migrate-card-dark-modal.svg
  packages/cfd/src/Assets/banner/migrate-card-modal.svg
  packages/cfd/src/Containers/migration-banner/migration-banner-image.tsx
  packages/cfd/src/Containers/migration-banner/migration-banner.scss
  packages/cfd/src/Containers/migration-banner/migration-banner.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: update github workflow
  .github/workflows/sync-translations.yml
Due: none
