Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Add MT5 envrionment variables
  .github/workflows/smoketests.yml
Due: none

fix: incorporated review comments
  packages/account/src/Components/financial-details/__tests__/financial-details.spec.tsx
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-assessment.tsx
Due: prettier --write, npx eslint --fix

fix: incorporated review comments
  packages/account/src/Components/financial-details/__tests__/financial-details.spec.tsx
Due: prettier --write, npx eslint --fix

fix: removed survicate code
  packages/bot-web-ui/src/app/__tests__/app-main.spec.tsx
  packages/bot-web-ui/src/app/app-main.tsx
  packages/bot-web-ui/src/public-path.ts
Due: prettier --write, npx eslint --fix

ci: use the right secrets and vars
  .github/actions/build_and_push_docker_image/action.yml
  .github/workflows/release_production.yml
  .github/workflows/release_staging.yml
Due: none

Add MT5 envrionment variables (#11387)
  .github/workflows/smoketests.yml
Due: none

ci: remove unneeded env var
  .github/actions/build_and_push_docker_image/action.yml
Due: none

fix: remove beta configuration file
  packages/bot-web-ui/src/components/chart/chart.tsx
  packages/bot-web-ui/src/components/chart/toolbar-widgets.tsx
  packages/bot-web-ui/src/components/chart/v2.md
  packages/components/src/components/icon/common/ic-launch-modal-chart.svg
  packages/core/build/config.js
  packages/core/build/constants.js
  packages/trader/src/Modules/SmartChart/index.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: add optional type
  packages/components/src/components/autocomplete/autocomplete.tsx
Due: prettier --write, npx eslint --fix

fix: making changes based on the comments
  packages/cfd/src/Components/props.types.ts
  packages/cfd/src/features/hooks/useCurrentList.ts
Due: prettier --write, npx eslint --fix

refactor: :art: removes unused imports
  packages/account/src/Types/common.type.ts
Due: prettier --write, npx eslint --fix

test: :test_tube: adds modal mock and its cleanup
  packages/account/src/Components/api-token/__tests__/api-token-clipboard.spec.tsx
Due: prettier --write, npx eslint --fix

test: :test_tube: adds test modal and its cleanup
  packages/account/src/Components/api-token/__tests__/api-token-delete-button.spec.tsx
Due: prettier --write, npx eslint --fix

ci: use same rudderstack keys in different envs
  .github/actions/build/action.yml
  .github/workflows/release_production.yml
  .github/workflows/release_staging.yml
  .github/workflows/release_test.yml
  .github/workflows/release_uat.yml
Due: none

build: use RUDDERSTACK_KEY for both staging & prod
  packages/core/build/constants.js
  packages/core/src/App/app.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: fix wrong modal popup displayed
  packages/hooks/src/useMFAccountStatus.ts
Due: prettier --write, npx eslint --fix

feat: add closeOnEscape property
  packages/wallets/src/components/DerivAppsSection/DerivAppsGetAccount.tsx
Due: prettier --write, npx eslint --fix

fix: types of props
  packages/shared/src/utils/validation/form-validations.ts
Due: prettier --write, npx eslint --fix

fix: fixed unit test
  packages/api/src/hooks/__tests__/useDynamicLeverage.spec.tsx
Due: prettier --write, npx eslint --fix

Ako/ use the right secrets and vars for the docker setup (#11389)
  .github/actions/build_and_push_docker_image/action.yml
  .github/workflows/release_production.yml
  .github/workflows/release_staging.yml
Due: none

fix: review fix
  packages/bot-web-ui/src/components/chart/v2.md
  packages/core/package.json
Due: prettier --write

Ako/ use one rudderstack key (#11391)
  .github/actions/build/action.yml
  .github/workflows/release_production.yml
  .github/workflows/release_staging.yml
  .github/workflows/release_test.yml
  .github/workflows/release_uat.yml
  packages/core/build/constants.js
  packages/core/src/App/app.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: removed redundant type assertion
  packages/bot-web-ui/src/app/__tests__/app-main.spec.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/fr.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

fix: changed back to the previous state because of the type conflicts
  packages/cfd/src/Components/props.types.ts
Due: prettier --write, npx eslint --fix

chore: renamed usePOI api to prevent confusion
  packages/api/src/hooks/usePOI.ts
Due: prettier --write, npx eslint --fix

feat: add your word
  packages/wallets/src/components/DerivAppsSection/DerivAppsGetAccount.tsx
Due: prettier --write, npx eslint --fix

chore: removed survicate code snippet
  public/index.html
Due: prettier --write

sergei/feat: add closeOnEscape property (#11393)
  packages/wallets/src/components/DerivAppsSection/DerivAppsGetAccount.tsx
Due: prettier --write, npx eslint --fix

chore: add underline on Verify now
  packages/components/src/components/status-badge/status-badge.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: replace moment
  packages/trader/src/App/Components/Elements/ContractDrawer/__tests__/contract-drawer.spec.tsx
  packages/trader/src/App/Components/Elements/ContractDrawer/__tests__/swipeable-components.spec.tsx
Due: prettier --write, npx eslint --fix

chore: add useStatesList hook to api package
  packages/api/src/hooks/useStatesList.ts
Due: prettier --write, npx eslint --fix

chore: added new stuff - replace zxcvbn in favor of regex - seperated functions and place inside its own file - remove zxcvbn from wallets package
  packages/wallets/package.json
  packages/wallets/src/components/Base/WalletPasswordField/PasswordFieldUtils.ts
  packages/wallets/src/components/Base/WalletPasswordField/WalletPasswordField.tsx
Due: prettier --write, npx eslint --fix

feat: added idv submission screen
  packages/wallets/src/components/Base/WalletDropdown/WalletDropdown.scss
  packages/wallets/src/components/Base/WalletDropdown/WalletDropdown.tsx
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.scss
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.tsx
  packages/wallets/src/features/accounts/screens/IDVDocumentUpload/IDVDocumentUpload.scss
  packages/wallets/src/features/accounts/screens/IDVDocumentUpload/IDVDocumentUpload.tsx
  packages/wallets/src/features/accounts/screens/IDVDocumentUpload/components/IDVDocumentUploadDetails/IDVDocumentUploadDetails.scss
  packages/wallets/src/features/accounts/screens/IDVDocumentUpload/components/IDVDocumentUploadDetails/IDVDocumentUploadDetails.tsx
  packages/wallets/src/features/accounts/screens/IDVDocumentUpload/components/IDVDocumentUploadDetails/index.ts
  packages/wallets/src/features/accounts/screens/IDVDocumentUpload/components/index.ts
  packages/wallets/src/features/accounts/screens/IDVDocumentUpload/index.ts
  packages/wallets/src/features/accounts/screens/index.ts
  packages/wallets/src/public/images/accounts/side-note-example-image.svg
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

adrienne/feat: added onfido modal (#11386)
  packages/wallets/src/features/cfd/modals/OnfidoModal/OnfidoModal.tsx
  packages/wallets/src/features/cfd/modals/OnfidoModal/index.ts
  packages/wallets/src/features/cfd/screens/Onfido/Onfido.scss
  packages/wallets/src/features/cfd/screens/Onfido/Onfido.tsx
  packages/wallets/src/features/cfd/screens/Onfido/index.ts
  packages/wallets/src/features/cfd/screens/index.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

[Wallet] Farhan/WALL-2502/Implement `available_accounts` endpoint (#11294)
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useAllWalletAccounts.ts
  packages/api/src/hooks/useAvailableWallets.ts
  packages/api/src/hooks/useCreateWallet.ts
  packages/api/types.ts
  packages/wallets/src/components/WalletAddMoreCurrencyIcon/WalletAddMoreCurrencyIcon.tsx
  packages/wallets/src/components/WalletTourGuide/WalletTourGuide.tsx
  packages/wallets/src/components/WalletsAddMoreCard/WalletsAddMoreCard.tsx
  packages/wallets/src/components/WalletsAddMoreCardBanner/WalletsAddMoreCardBanner.tsx
  packages/wallets/src/components/WalletsAddMoreCardContent/WalletsAddMoreCardContent.tsx
  packages/wallets/src/components/WalletsAddMoreCarousel/WalletsAddMoreCarousel.tsx
  packages/wallets/src/types.ts
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/fr.json
  packages/translations/src/translations/si.json
Due: prettier --write

ci: pass proper shell to the action
  .github/actions/build_and_push_docker_image/action.yml
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
