Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/km.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/sw.json
Due: prettier --write

fix: failing test cases
  packages/trader/src/AppV2/Components/TradeParameters/Duration/__tests__/duration_container.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/hourpicker.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/wheelpicker.tsx
Due: prettier --write, npx eslint --fix

fix: renaming wheelpicker
  packages/trader/src/AppV2/Components/TradeParameters/Duration/container.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration-wheel-picker.tsx
Due: prettier --write, npx eslint --fix

refactor: create common wrapper
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/day.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.tsx
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate.tsx
  packages/trader/src/AppV2/Components/TradeParameters/LastDigitPrediction/last-digit-prediction.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Multiplier/multiplier.tsx
  packages/trader/src/AppV2/Components/TradeParameters/PayoutPerPoint/payout-per-point.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/risk-management.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
  packages/trader/src/AppV2/Utils/__tests__/layout-utils.spec.tsx
  packages/trader/src/AppV2/Utils/layout-utils.tsx
Due: prettier --write, npx eslint --fix

DTRA-2089 / Kate / Digit fixes (#17161)
  packages/trader/src/AppV2/Components/TradeParameters/LastDigitPrediction/__tests__/digit.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/LastDigitPrediction/__tests__/last-digit-prediction.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/LastDigitPrediction/digit.tsx
  packages/trader/src/AppV2/Components/TradeParameters/LastDigitPrediction/last-digit-prediction.tsx
  packages/trader/src/AppV2/Containers/Chart/__tests__/trade-chart.spec.tsx
  packages/trader/src/AppV2/Containers/Chart/trade-chart.tsx
Due: prettier --write, npx eslint --fix

fix: add condition (#17118)
  packages/shared/src/utils/contract/trade-url-params-config.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Due: prettier --write, npx eslint --fix

chore: add comment
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/risk-management.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
Due: prettier --write, npx eslint --fix

fix: tablet version bugs and rtl
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/upgraded-qs-v2/mobile-form-wrapper.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/upgraded-qs-v2/strategy-template-picker.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: responsive ui issues
  packages/wallets/src/components/Base/ATMAmountInput/ATMAmountInput.scss
  packages/wallets/src/components/Base/ATMAmountInput/ATMAmountInput.tsx
  packages/wallets/src/components/Base/Tabs/TabTitle.tsx
  packages/wallets/src/components/Base/Tabs/Tabs.scss
  packages/wallets/src/features/accounts/modules/Poa/components/DocumentSubmission/DocumentSubmission.scss
  packages/wallets/src/features/accounts/modules/Poa/components/DocumentSubmission/DocumentSubmission.tsx
  packages/wallets/src/features/cashier/modules/FiatOnRamp/components/FiatOnRampProviderCard/FiatOnRampProviderCard.scss
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/WithdrawalCrypto.scss
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoDisclaimer/WithdrawalCryptoDisclaimer.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: change loading screen color based on theme
  packages/components/src/components/video-player/video-player.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

[BOT] Farabi/bot-2299/add-usage-tracking-for-announcements (#17186)
  packages/bot-web-ui/src/analytics/constants.ts
  packages/bot-web-ui/src/analytics/rudderstack-common-events.ts
  packages/bot-web-ui/src/analytics/rudderstack-dashboard.ts
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-dialog.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/config.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/ru.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/sw.json
Due: prettier --write

Suisin/chore: add analytics to track error events (#17070)
  packages/account/src/Sections/Profile/PhoneVerification/__test__/session-timeout-modal.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/confirm-phone-number.tsx
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification-page.tsx
  packages/account/src/Sections/Profile/PhoneVerification/session-timeout-modal.tsx
  packages/hooks/src/useRequestPhoneNumberOTP.tsx
  packages/hooks/src/useSendOTPVerificationCode.tsx
Due: prettier --write, npx eslint --fix

chore: remove unused scss from code base
  packages/account/src/Components/account-limits/account-limits.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: updated the babel packages and security issue of babel-traverse
  .eslintrc.js
  babel.config.json
  package-lock.json
  package.json
  packages/account/package.json
  packages/appstore/babel.config.json
  packages/appstore/package.json
  packages/bot-skeleton/package.json
  packages/bot-web-ui/package.json
  packages/cashier/babel.config.json
  packages/cashier/build/loaders-config.js
  packages/cashier/package.json
  packages/cfd/package.json
  packages/components/.storybook/main.js
  packages/components/package.json
  packages/core/babel.config.json
  packages/core/package.json
  packages/indicators/package.json
  packages/p2p/babel.config.json
  packages/p2p/package.json
  packages/publisher/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/translations/package.json
  packages/wallets/babel.config.json
  packages/wallets/jestTransformer.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: change to semantic token
  packages/components/src/components/loading/loading.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: eslint errors occured during merge
  packages/account/build/constants.js
  packages/account/build/webpack.config.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: enter password hint
  packages/wallets/src/features/cfd/screens/EnterPassword/EnterPassword.scss
  packages/wallets/src/features/cfd/screens/EnterPassword/EnterPassword.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: eslint errors occured during merge (#17227)
  packages/account/build/constants.js
  packages/account/build/webpack.config.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: update to use localize function instead of Localize component
  packages/shared/src/utils/constants/withdrawal-limits-details.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/ru.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

Merge branch 'master' of github.com:binary-com/deriv-app into WALL-4977/wallets-french-translation
  packages/cfd/src/Containers/cfd-password-modal.tsx
Due: prettier --write, npx eslint --fix

fix: latest changes
  packages/cfd/src/Containers/cfd-password-modal.tsx
Due: prettier --write, npx eslint --fix

fix: destroy instead of minimize
  packages/core/src/App/Components/Elements/LiveChat/live-chat.tsx
Due: prettier --write, npx eslint --fix

fix: remove comment
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
Due: prettier --write, npx eslint --fix

feat: wrap with cb hook and add new prop for blur
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.tsx
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate.tsx
  packages/trader/src/AppV2/Components/TradeParameters/LastDigitPrediction/last-digit-prediction.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Multiplier/multiplier.tsx
  packages/trader/src/AppV2/Components/TradeParameters/PayoutPerPoint/payout-per-point.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/risk-management.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.tsx
Due: prettier --write, npx eslint --fix

fix: babel-polyfill package updated
  jest.setup.js
  package-lock.json
  package.json
  packages/components/webpack.config.js
  packages/core/package.json
  packages/core/src/index.tsx
  packages/reports/package.json
Due: prettier --write, npx eslint --fix

fix: redirection fro staging to p2p staging
  packages/p2p/src/pages/app.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: types and tracking
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/Containers/PasswordSelectionModal/password-selection-modal.jsx
  packages/core/src/Utils/Analytics/analytics.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: addressed comments 2
  packages/wallets/src/features/cfd/modals/CTraderAddAccountSuccessModal/CTraderAddAccountSuccessModal.tsx
  packages/wallets/src/utils/__tests__/calculate-total-by-key.spec.ts
Due: prettier --write, npx eslint --fix

fix: destroy instead of minimize (#17229)
  packages/core/src/App/Components/Elements/LiveChat/live-chat.tsx
Due: prettier --write, npx eslint --fix
