Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

fix: getting balance from the response
  packages/cfd/src/Containers/cfd-password-modal/cfd-password-modal.tsx
  packages/components/src/components/wallet-cfd-success-dialog/__test__/wallet-cfd-card.spec.tsx
  packages/components/src/components/wallet-cfd-success-dialog/wallet-cfd-card.tsx
  packages/components/src/components/wallet-cfd-success-dialog/wallet-cfd-success-dialog.tsx
Due: prettier --write, npx eslint --fix

fix: update welcome message with proper account currency
  packages/bot-web-ui/src/stores/journal-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: added turkish flag and rename turkish language
  packages/components/src/components/icon/flag/ic-flag-tr.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/src/Utils/Language/__tests__/language.spec.js
  packages/translations/src/i18next/i18next.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: add scrollbar to the dropdown
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet.tsx
Due: prettier --write, npx eslint --fix

chore: refactor tradingaccountcard
  packages/wallets/src/components/CTraderList/CTraderList.scss
  packages/wallets/src/components/CTraderList/CTraderList.tsx
  packages/wallets/src/components/MT5List/MT5List.scss
  packages/wallets/src/components/MT5List/MT5List.tsx
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.scss
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.tsx
  packages/wallets/src/components/OtherCFDPlatformsList/OtherCFDPlatformsList.scss
  packages/wallets/src/components/OtherCFDPlatformsList/OtherCFDPlatformsList.tsx
  packages/wallets/src/components/PrimaryActionButton/PrimaryActionButton.scss
  packages/wallets/src/components/TradingAccountCard/TradingAccountCard.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Apply suggestions from code review
  packages/p2p/src/stores/order-details-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: removed unused remaining_time observable
  packages/p2p/src/stores/order-details-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: :bug: resolved styling bugs
  packages/account/src/Components/poa/poa-button/poa-button.tsx
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.tsx
  packages/account/src/Components/poi/idv-status/idv-failed/idv-failed.tsx
  packages/account/src/Components/poi/idv-status/idv-submit-complete/idv-submit-complete.tsx
  packages/account/src/Components/poi/idv-status/idv-verified/idv-verified.tsx
  packages/account/src/Components/poi/poi-country-selector/poi-country-selector.tsx
  packages/account/src/Styles/account.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: CFDS-1089/Cannot read properties of null (reading Login ID)
  packages/cfd/src/Containers/dmt5-trade-modal.tsx
Due: prettier --write, npx eslint --fix

fix: :bug: resolved styling bugs
  packages/account/src/Styles/account.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

thisyahlen/chore: refactor tradingaccountcard (#10120)
  packages/wallets/src/components/CTraderList/CTraderList.scss
  packages/wallets/src/components/CTraderList/CTraderList.tsx
  packages/wallets/src/components/MT5List/MT5List.scss
  packages/wallets/src/components/MT5List/MT5List.tsx
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.scss
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.tsx
  packages/wallets/src/components/OtherCFDPlatformsList/OtherCFDPlatformsList.scss
  packages/wallets/src/components/OtherCFDPlatformsList/OtherCFDPlatformsList.tsx
  packages/wallets/src/components/PrimaryActionButton/PrimaryActionButton.scss
  packages/wallets/src/components/TradingAccountCard/TradingAccountCard.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat(api): add `standalone` support
  packages/api/src/hooks/useCtraderAccountsList.ts
  packages/api/src/hooks/useDerivezAccountsList.ts
  packages/api/src/hooks/useDxtradeAccountsList.ts
Due: prettier --write, npx eslint --fix

chore: fix Oneall social unlinking from Apple accounts
  packages/account/src/Sections/Security/Passwords/deriv-password.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Revert "chore: fix Oneall social unlinking from Apple accounts"
  packages/account/src/Sections/Security/Passwords/deriv-password.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: clean-ups
  packages/wallets/src/components/WalletsAccordion/WalletsAccordion.tsx
  packages/wallets/src/components/WalletsAddMoreCarousel/WalletsAddMoreCarousel.tsx
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.tsx
Due: prettier --write, npx eslint --fix

fix: commit suggestions
  packages/cfd/src/Constants/cfd-password-modal-constants.ts
  packages/cfd/src/Containers/cfd-password-modal/cfd-password-form/cfd-password-form.tsx
  packages/cfd/src/Containers/cfd-password-modal/cfd-password-modal.tsx
  packages/cfd/src/Containers/cfd-password-modal/modal-elements/password-modal-header.tsx
  packages/cfd/src/Containers/cfd-password-modal/modal-elements/password-modal-message.tsx
  packages/cfd/src/sass/cfd.scss
  packages/shared/src/utils/cfd/cfd.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: remove trading_platform_available_accounts API call for cTrader
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: ✨ working on server side bot
  packages/bot-skeleton/src/services/api/index.js
  packages/bot-web-ui/src/components/server-side-bot/ServerSideBot.tsx
  packages/bot-web-ui/src/components/server-side-bot/server-side-bot.scss
  packages/bot-web-ui/src/stores/root-store.ts
  packages/bot-web-ui/src/stores/server-bot.ts
  packages/bot-web-ui/src/types/server-bot.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: added icons for add more wallets
  packages/appstore/webpack.config.js
  packages/wallets/src/components/WalletCurrencyIcon/WalletCurrencyIcon.scss
  packages/wallets/src/components/WalletCurrencyIcon/WalletCurrencyIcon.tsx
  packages/wallets/src/components/WalletCurrencyIcon/currencies.ts
  packages/wallets/src/components/WalletCurrencyIcon/index.ts
  packages/wallets/src/components/WalletsAddMoreCard/WalletsAddMoreCard.scss
  packages/wallets/src/components/WalletsAddMoreCard/WalletsAddMoreCard.tsx
  packages/wallets/src/components/WalletsAddMoreCardBanner/WalletsAddMoreCardBanner.scss
  packages/wallets/src/components/WalletsAddMoreCardBanner/WalletsAddMoreCardBanner.tsx
  packages/wallets/src/components/WalletsAddMoreCarousel/WalletsAddMoreCarousel.scss
  packages/wallets/src/public/images/check.svg
  packages/wallets/src/public/images/currencies/aud.svg
  packages/wallets/src/public/images/currencies/btc.svg
  packages/wallets/src/public/images/currencies/eth.svg
  packages/wallets/src/public/images/currencies/eur.svg
  packages/wallets/src/public/images/currencies/eusdt.svg
  packages/wallets/src/public/images/currencies/gbp.svg
  packages/wallets/src/public/images/currencies/ltc.svg
  packages/wallets/src/public/images/currencies/usd.svg
  packages/wallets/src/public/images/currencies/usdc.svg
  packages/wallets/src/public/images/plus.svg
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: comments
  packages/api/src/hooks/useAuthorize.ts
  packages/wallets/src/components/DesktopWalletsList/DesktopWalletsList.tsx
Due: prettier --write, npx eslint --fix

chore: change isDesktop to use is_desktop
  packages/account/src/Sections/Security/LoginHistory/login-history-list-row.tsx
  packages/core/src/Stores/ui-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: remove unnecessary change
  packages/hooks/src/__tests__/useCFDAllAccounts.spec.tsx
Due: prettier --write, npx eslint --fix

fix: commit suggestions pt.2
  packages/cfd/src/Constants/cfd-password-modal-constants.tsx
  packages/cfd/src/Containers/cfd-password-modal/cfd-password-form/cfd-password-form.tsx
  packages/cfd/src/Containers/cfd-password-modal/modal-elements/password-modal-message.tsx
Due: prettier --write, npx eslint --fix

chore: remove the broker code mt5 notification from traders hub (#9734)
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/notification-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/si.json
Due: prettier --write

chore: handle created derivx account
  packages/wallets/src/components/AddedDxtradeAccountsList/AddedDxtradeAccountsList.scss
  packages/wallets/src/components/AddedDxtradeAccountsList/AddedDxtradeAccountsList.tsx
  packages/wallets/src/components/AddedDxtradeAccountsList/index.ts
  packages/wallets/src/components/AvailableDerivezAccountsList/AvailableDerivezAccountsList.scss
  packages/wallets/src/components/AvailableDerivezAccountsList/AvailableDerivezAccountsList.tsx
  packages/wallets/src/components/AvailableDerivezAccountsList/index.ts
  packages/wallets/src/components/AvailableDxtradeAccountsList/AvailableDxtradeAccountsList.scss
  packages/wallets/src/components/AvailableDxtradeAccountsList/AvailableDxtradeAccountsList.tsx
  packages/wallets/src/components/AvailableDxtradeAccountsList/index.ts
  packages/wallets/src/components/OtherCFDPlatformsList/OtherCFDPlatformsList.tsx
  packages/wallets/src/components/index.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: update to use isServerError
  packages/account/src/Sections/Security/LoginHistory/login-history.tsx
Due: prettier --write, npx eslint --fix

Ameerul /Bug 68819 Design mismatch in Quick add PM Pop up on existing ads in My ads page (#8112)
  packages/p2p/src/components/modal-manager/modals/quick-add-modal/quick-add-modal.jsx
  packages/p2p/src/components/modal-manager/modals/quick-add-modal/quick-add-modal.scss
  packages/p2p/src/components/my-ads/buy-ad-payment-methods-list.jsx
  packages/p2p/src/components/my-ads/filter-payment-methods/filter-payment-method-results/filter-payment-methods-results.jsx
  packages/p2p/src/components/my-ads/filter-payment-methods/filter-payment-method-results/filter-payment-methods-results.scss
  packages/p2p/src/components/my-ads/filter-payment-methods/filter-payment-method-results/index.js
  packages/p2p/src/components/my-ads/filter-payment-methods/filter-payment-methods.jsx
  packages/p2p/src/components/my-ads/filter-payment-methods/filter-payment-methods.scss
  packages/p2p/src/components/my-ads/filter-payment-methods/index.js
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method.scss
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/select-payment-method.jsx
  packages/p2p/src/stores/my-ads-store.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/ar.json
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/de.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/ko.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/src/translations/si.json
Due: prettier --write

hotfix: update the ctrader windows url
  packages/cfd/src/Helpers/constants.ts
Due: prettier --write, npx eslint --fix

WALL-1836 / make TIN & tax residence optional for real account creation (#10063)
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.js
  packages/account/src/Configs/personal-details-config.ts
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: added feature flags for each supported trade type
  packages/shared/src/utils/constants/contract.ts
  packages/stores/src/stores/FeatureFlagsStore.ts
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Ameerul /P2PS-1023 P2P Order Chat Box's Placeholder Refinement (#9706)
  packages/p2p/src/components/orders/chat/chat-footer.jsx
  packages/p2p/src/components/orders/chat/chat-footer.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: update style in dxtrade
  packages/api/src/hooks/useDxtradeAccountsList.ts
  packages/wallets/src/components/AddedDxtradeAccountsList/AddedDxtradeAccountsList.scss
  packages/wallets/src/components/AddedDxtradeAccountsList/AddedDxtradeAccountsList.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: add temporary UI for testing
  packages/appstore/src/components/wallet-transfer/components/wallet-transfer-messages/wallet-transfer-messages.tsx
  packages/hooks/src/useTransferMessageList.ts
  packages/hooks/src/useTransferMessageListBetweenWalletAndTradingApp.ts
Due: prettier --write, npx eslint --fix

feat: chat box message after order creation (#8405)
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/components/orders/chat/__tests__/chat-messages.spec.jsx
  packages/p2p/src/components/orders/chat/chat-footer.jsx
  packages/p2p/src/components/orders/chat/chat-footer.scss
  packages/p2p/src/components/orders/chat/chat-message-text.jsx
  packages/p2p/src/components/orders/chat/chat-messages.jsx
  packages/p2p/src/components/orders/chat/chat-messages.scss
  packages/p2p/src/stores/sendbird-store.ts
  packages/p2p/src/utils/chat-message.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write
