Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

chore: test case fix
  packages/components/src/components/contract-card/contract-card-items/__tests__/multiplier-card-body.spec.tsx
Due: prettier --write, npx eslint --fix

feat: removed some caching as it turned out to be too aggresive in some scenarios
  packages/api-v2/src/hooks/useAvailableWallets.ts
  packages/api-v2/src/hooks/useDerivAccountsList.ts
Due: prettier --write, npx eslint --fix

feat: fixing typing, part 1
  packages/api-v2/src/APIProvider.tsx
  packages/api-v2/src/ws-client/subscriptions-manager.ts
Due: prettier --write, npx eslint --fix

feat: fixed typing part 2
  packages/api-v2/src/APIProvider.tsx
  packages/api-v2/src/ws-client/request.ts
  packages/api-v2/src/ws-client/ws-client.ts
Due: prettier --write, npx eslint --fix

fix: fix placeholder for toAccount for demo activeWallet
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormDropdown/TransferFormDropdown.tsx
Due: prettier --write, npx eslint --fix

feat: add try catch
  packages/appstore/src/helpers/total-assets-helper.ts
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: extracted mock websocket factory
  packages/api-v2/src/hooks/useWalletAccountsList.ts
  packages/api-v2/src/ws-client/__tests__/request.spec.ts
  packages/api-v2/src/ws-client/__tests__/subscription.spec.ts
  packages/api-v2/src/ws-client/__tests__/subscriptions-manager.spec.ts
  packages/api-v2/src/ws-client/mock-websocket-factory.ts
Due: prettier --write, npx eslint --fix

feat: bunch of typing fixes
  packages/api-v2/src/ws-client/__tests__/subscription.spec.ts
  packages/api-v2/src/ws-client/request.ts
  packages/api-v2/src/ws-client/subscription.ts
  packages/api-v2/src/ws-client/subscriptions-manager.ts
  packages/api-v2/src/ws-client/ws-client.ts
Due: prettier --write, npx eslint --fix

feat: tracking analytics for tradershub events
  packages/appstore/src/components/add-options-account/add-options-account.tsx
  packages/appstore/src/components/app-content.tsx
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/compare-account/compare-account.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/currency-switcher-card/real/real-account-card.tsx
  packages/appstore/src/components/main-title-bar/account-type-dropdown.tsx
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: repair tests
  packages/appstore/src/components/main-title-bar/__tests__/index.spec.tsx
  packages/appstore/src/helpers/total-assets-helper.ts
Due: prettier --write, npx eslint --fix

fix: verified_status
  packages/shared/src/utils/cfd/cfd.ts
  packages/wallets/src/features/cfd/flows/Verification/Verification.tsx
Due: prettier --write, npx eslint --fix

feat: created accordion and modal component
  packages/account-v2/src/assets/proof-of-ownership/sample-credit-card.png
  packages/account-v2/src/components/Accordion/Accordion.classnames.ts
  packages/account-v2/src/components/Accordion/Accordion.tsx
  packages/account-v2/src/components/Accordion/__tests__/Accordion.spec.tsx
  packages/account-v2/src/containers/MaskCardModal/MaskCardModal.tsx
  packages/account-v2/src/containers/MaskCardModal/__tests__/MaskCardModal.spec.tsx
  packages/account-v2/src/containers/index.ts
Due: prettier --write, npx eslint --fix

chore: add create slack message action
  .github/workflows/release_production.yml
Due: none

[DTRA] henry/dtra-967/fix: get start time on the chart translated (#14546)
  packages/core/src/Stores/Helpers/chart-markers.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: make last digit prediction based on quote not on ask price (#14566)
  packages/trader/src/Modules/Contract/Components/Digits/digits.tsx
  packages/trader/src/Modules/Contract/Components/LastDigitPrediction/__tests__/last-digit-prediction.spec.tsx
  packages/trader/src/Modules/Contract/Components/LastDigitPrediction/last-digit-prediction.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

chore: review fix
  packages/components/src/components/contract-card/contract-card.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: add create slack message action (#14678)
  .github/workflows/release_production.yml
Due: none

chore: refactored icon to use quill-icons
  packages/wallets/src/components/WalletMarketCurrencyIcon/WalletMarketCurrencyIcon.tsx
Due: prettier --write, npx eslint --fix

chore: removed usage of local deriv-apps svg icon
  packages/wallets/src/public/images/deriv-apps.svg
Due: none

chore: fix key
  packages/trader/src/App/Components/Elements/ContractAudit/contract-history.tsx
Due: prettier --write, npx eslint --fix

chore: added Password Error modal for MT5 Reset Password Modal
  packages/wallets/src/components/WalletsResetMT5Password/WalletsResetMT5Password.tsx
Due: prettier --write, npx eslint --fix

fix: change withdrawal email verification request content
  packages/cashier/src/pages/withdrawal/withdrawal-verification-email/withdrawal-verification-email.tsx
Due: prettier --write, npx eslint --fix

fix: added dompurify library ro replace regex (#14655)
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/stores/dashboard-store.ts
Due: prettier --write, npx eslint --fix

fix: On Dekstop the transaction is not being shown
  packages/bot-web-ui/src/components/transaction-details/transaction-details-desktop.tsx
Due: prettier --write, npx eslint --fix

fix: odd bracket
  packages/core/src/App/Containers/EffortlessLoginModal/effortless-login-modal.tsx
Due: prettier --write, npx eslint --fix

fix: incorporated code review comments
  packages/account-v2/src/components/Accordion/Accordion.classnames.ts
  packages/account-v2/src/components/Accordion/Accordion.tsx
  packages/account-v2/src/components/Accordion/__tests__/Accordion.spec.tsx
Due: prettier --write, npx eslint --fix

[TRAH] Sergei / TRAH 3103 / Add events to track performance (#14426)
  packages/appstore/src/components/currency-switcher-card/real/real-account-card.tsx
  packages/appstore/src/components/main-title-bar/account-type-dropdown.tsx
  packages/appstore/src/components/main-title-bar/asset-summary.tsx
  packages/cashier/src/components/no-balance/no-balance.tsx
  packages/cashier/src/containers/cashier/cashier.tsx
  packages/cashier/src/modules/deposit-crypto/components/deposit-crypto-wallet-address/deposit-crypto-wallet-address.tsx
  packages/cashier/src/modules/deposit-fiat/components/deposit-fiat-iframe/deposit-fiat-iframe.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/cfd/src/Stores/Modules/CFD/cfd-store.js
  packages/core/src/App/Components/Layout/Header/menu-links.jsx
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/Containers/CurrencySelectionModal/curreny-selection-modal.tsx
  packages/core/src/App/initStore.js
  packages/shared/package.json
  packages/shared/src/services/index.ts
  packages/shared/src/services/performance-metrics-methods.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: Remove limit reached prefix from WithdrawalLocked messages
  packages/wallets/src/features/cashier/modules/WithdrawalLocked/WithdrawalLockedContent.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalLocked/__tests__/WithdrawalLockedContent.spec.tsx
Due: prettier --write, npx eslint --fix

chore: :speech_balloon: change cfd description for eu (#14659)
  packages/core/src/Stores/traders-hub-store.js
  packages/tradershub/src/features/cfd/constants.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

[TRAH-3161] shahzaib / Tradershub v2 route feature flag (#14573)
  packages/core/src/App/Components/Routes/route-with-sub-routes.jsx
  packages/tradershub/src/routes/Router.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: fix type errors and use errors instead of isError
  packages/wallets/src/components/WalletsResetMT5Password/WalletsResetMT5Password.tsx
Due: prettier --write, npx eslint --fix

fix: add sell error modals in reports package
  packages/reports/src/Components/Elements/Modals/AccountVerificationPendingModal/__tests__/account-verification-pending-modal.spec.tsx
  packages/reports/src/Components/Elements/Modals/AccountVerificationPendingModal/account-verification-pending-modal.tsx
  packages/reports/src/Components/Elements/Modals/AccountVerificationPendingModal/index.ts
  packages/reports/src/Components/Elements/Modals/MarketUnavailableModal/__tests__/market-unavailable.spec.tsx
  packages/reports/src/Components/Elements/Modals/MarketUnavailableModal/index.ts
  packages/reports/src/Components/Elements/Modals/MarketUnavailableModal/market-unavailable.tsx
  packages/reports/src/Components/Elements/Modals/ServicesErrorModal/__tests__/account-verification-required-modal.spec.tsx
  packages/reports/src/Components/Elements/Modals/ServicesErrorModal/__tests__/authorization-required-modal.spec.tsx
  packages/reports/src/Components/Elements/Modals/ServicesErrorModal/__tests__/company-wide-limit-exceeded-modal.spec.tsx
  packages/reports/src/Components/Elements/Modals/ServicesErrorModal/__tests__/constants.spec.ts
  packages/reports/src/Components/Elements/Modals/ServicesErrorModal/__tests__/insufficient-balance-modal.spec.tsx
  packages/reports/src/Components/Elements/Modals/ServicesErrorModal/__tests__/services-error-modal.spec.tsx
  packages/reports/src/Components/Elements/Modals/ServicesErrorModal/account-verification-required-modal.tsx
  packages/reports/src/Components/Elements/Modals/ServicesErrorModal/authorization-required-modal.tsx
  packages/reports/src/Components/Elements/Modals/ServicesErrorModal/company-wide-limit-exceeded-modal.tsx
  packages/reports/src/Components/Elements/Modals/ServicesErrorModal/constants.ts
  packages/reports/src/Components/Elements/Modals/ServicesErrorModal/index.ts
  packages/reports/src/Components/Elements/Modals/ServicesErrorModal/insufficient-balance-modal.tsx
  packages/reports/src/Components/Elements/Modals/ServicesErrorModal/services-error-modal.tsx
  packages/reports/src/Components/Elements/Modals/UnsupportedContractModal/__tests__/unsupported-contract-modal.spec.tsx
  packages/reports/src/Components/Elements/Modals/UnsupportedContractModal/index.ts
  packages/reports/src/Components/Elements/Modals/UnsupportedContractModal/unsupported-contract-modal.tsx
  packages/reports/src/Components/Modals/__tests__/trade-modals.spec.tsx
  packages/reports/src/Components/Modals/index.ts
  packages/reports/src/Components/Modals/trade-modals.tsx
  packages/reports/src/app.tsx
Due: prettier --write, npx eslint --fix

test: :test_tube: add test for the component
  packages/appstore/src/components/real-account-creation-banner/__tests__/real-account-creation-banner.spec.tsx
Due: prettier --write, npx eslint --fix
