Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

refactor: call sendRequestsStatistic() when dbot unmounts, rename variable
  packages/bot-skeleton/src/services/api/api-middleware.js
  packages/bot-web-ui/src/stores/run-panel-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: added datadog clientToken as env variables in dbot
  packages/bot-skeleton/src/services/api/api-middleware.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: made gradient-background-wallet-icon dynamic and refactored wallet-icon
  packages/components/src/components/gradient-background-wallet-icon/gradient-background-wallet-icon.scss
  packages/components/src/components/gradient-background-wallet-icon/gradient-background-wallet-icon.tsx
  packages/components/src/components/wallet-icon/wallet-icon.scss
  packages/components/src/components/wallet-icon/wallet-icon.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: fixed background for light active
  packages/components/src/components/wallet-card/wallet-card.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: :sparkles: adds new complaints policy for EU clients
  packages/core/src/Modules/ComplaintsPolicy/Components/complaints-policy-content.jsx
  packages/core/src/sass/app/modules/complaints-policy.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: transfer amount input field core logic
  packages/components/src/components/transfer-amount-input/index.ts
  packages/components/src/components/transfer-amount-input/transfer-amount-input.scss
  packages/components/src/components/transfer-amount-input/transfer-amount-input.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: core logic changed a bit
  packages/components/src/components/transfer-amount-input/transfer-amount-input.tsx
Due: prettier --write, npx eslint --fix

fix: refactor test after rebranding
  packages/appstore/src/components/elements/text/__tests__/balance-text.spec.tsx
Due: prettier --write, npx eslint --fix

fix: refactor test after rebranding
  packages/appstore/src/components/main-title-bar/__tests__/asset-summary.spec.tsx
Due: prettier --write, npx eslint --fix

fix(cashier): :memo: resolve PR comments
  packages/cashier/src/components/page-container/page-container.scss
  packages/cashier/src/components/side-note-card/__test__/side-note-card.test.tsx
  packages/cashier/src/components/side-note-card/index.ts
  packages/cashier/src/components/side-note-card/side-note-card.scss
  packages/cashier/src/components/side-note-card/side-note-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-card/__test__/cashier-onboarding-card.test.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-card/cashier-onboarding-card.scss
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-card/cashier-onboarding-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-cash-card/index.ts
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-fiat-card/__test__/cashier-onboarding-fiat-card.test.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-fiat-card/cashier-onboarding-fiat-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-fiat-card/index.ts
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-side-notes/cashier-onboarding-side-note-crypto.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-side-notes/cashier-onboarding-side-note-fiat.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-side-notes/cashier-onboarding-side-notes.scss
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-side-notes/cashier-onboarding-side-notes.tsx
  packages/cashier/src/modules/cashier-onboarding/components/index.ts
  packages/cashier/src/modules/cashier-onboarding/index.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix(cashier): :memo: resolve PR comments
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-side-notes/cashier-onboarding-side-notes.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-title/cashier-onboarding-title.tsx
Due: prettier --write, npx eslint --fix

fix: added url checks to prevent client side url redirects
  packages/translations/src/i18next/i18next.ts
Due: prettier --write, npx eslint --fix

fix(cashier): :white_check_mark: fix failing tests
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-crypto-card/__test__/cashier-onboarding-crypto-card.test.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-fiat-card/__test__/cashier-onboarding-fiat-card.test.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-onramp-card/__test__/cashier-onboarding-onramp-card.test.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-p2p-card/__test__/cashier-onboarding-p2p-card.test.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-payment-agent-card/__test__/cashier-onboarding-payment-agent-card.test.tsx
Due: prettier --write, npx eslint --fix

Shahzaib/kyc 42/success banner design updates (#10)
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission-for-mt5.jsx
  packages/core/src/sass/app/_common/components/onfido-container.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Likhith/kyc-34/ improve idv flow for poi (#11)
  packages/account/src/Components/forms/idv-form.tsx
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.jsx
  packages/account/src/Components/poi/poi-confirm-with-example-form-container/poi-confirm-with-example-form-container.tsx
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.tsx
  packages/account/src/Helpers/__tests__/utils.spec.ts
  packages/account/src/Helpers/utils.ts
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission-for-mt5.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
  packages/account/src/Styles/account.scss
  packages/components/src/components/input/input.scss
  packages/core/src/sass/app/_common/components/onfido-container.scss
  packages/core/src/sass/real-account-signup.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: empty commit to test codeql
  packages/shared/src/utils/url/url.ts
  packages/translations/src/i18next/i18next.ts
Due: prettier --write, npx eslint --fix

chore: update charts version
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Due: prettier --write

fix: added url validation on url.ts
  packages/shared/src/utils/url/url.ts
Due: prettier --write, npx eslint --fix

refactor: wrap allowequalsmobile in a div to make it collapsible
  packages/trader/src/Modules/Trading/Components/Form/screen-small.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat(cashier): :recycle: move `CashierBreadcrumb` to `PageContainer`
  packages/cashier/src/components/cashier-breadcrumb/cashier-breadcrumb.tsx
  packages/cashier/src/components/page-container/page-container.scss
  packages/cashier/src/components/page-container/page-container.tsx
  packages/cashier/src/modules/cashier-onboarding/cashier-onboarding.scss
  packages/cashier/src/modules/cashier-onboarding/cashier-onboarding.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-card/index.ts
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-crypto-card/index.ts
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-fiat-card/index.ts
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-icon-marquee/index.ts
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-onramp-card/index.ts
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-p2p-card/index.ts
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-payment-agent-card/index.ts
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-side-notes/index.ts
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-title/index.ts
  packages/cashier/src/modules/cashier-onboarding/components/switch-to-fiat-account-dialog/index.ts
  packages/cashier/src/modules/cashier-onboarding/index.tsx
  packages/cashier/src/modules/index.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: for language switcher
  packages/shared/src/utils/url/helpers.ts
Due: prettier --write, npx eslint --fix

chore: removed old commits
  packages/shared/src/utils/login/login.ts
Due: prettier --write, npx eslint --fix

fix: used URL class instead of regex
  packages/shared/src/utils/url/url.ts
Due: prettier --write, npx eslint --fix

refactor: basic styles
  packages/components/src/components/transfer-amount-input/__tests__/transfer-amount-input.test.tsx
Due: prettier --write, npx eslint --fix

fix: fixed a bug where legacyUrlForLanguage url.replace is not returned
  packages/shared/src/utils/url/url.ts
Due: prettier --write, npx eslint --fix

refactor: basic styles (the right one)
  packages/components/src/components/transfer-amount-input/transfer-amount-input.scss
  packages/components/src/components/transfer-amount-input/transfer-amount-input.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: test codeql on push
  packages/shared/src/utils/url/url.ts
Due: prettier --write, npx eslint --fix

refactor: tests
  packages/components/src/components/transfer-amount-input/__tests__/transfer-amount-input.test.tsx
Due: prettier --write, npx eslint --fix
