Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

refactor: added degree symbol to permitted characters messages
  packages/account/src/Configs/address-details-config.js
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
  packages/core/src/Constants/form-error-messages.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: fixed issues with running build
  packages/p2p/src/components/advertiser-page/advertiser-page.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: fix translation issue on acuity modal (#7318)
  packages/core/src/App/Containers/AcuityDownloadModal/acuity-download-modal.tsx
Due: prettier --write, npx eslint --fix

chore: fixed issues with running test
  packages/p2p/src/components/advertiser-page/advertiser-page.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: Dtrader content should not be shown to logged out userv1.3
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/core/src/App/Containers/Layout/header/dtrader-header.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: made types for input optional
  packages/components/src/components/password-input/password-input.tsx
Due: prettier --write, npx eslint --fix

feat: refactor balance calculation
  packages/appstore/src/components/currency-switcher-card/demo/demo-account-card.tsx
  packages/appstore/src/components/main-title-bar/asset-summary.tsx
  packages/core/src/Stores/traders-hub-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: demo cfd account creation
  packages/cfd/src/Stores/Modules/CFD/cfd-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: balance syncing
  packages/core/src/Stores/traders-hub-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

test: get county of residence from environment variable
  end-to-end-test/.env.example
  end-to-end-test/README.md
  end-to-end-test/tests/onboarding/onboarding.ts
Due: prettier --write, npx eslint --fix

fix: code smell of sonar cloud in tour-slider.tsx
  packages/bot-web-ui/src/components/dashboard/tour-slider.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
Due: prettier --write, npx eslint --fix

test: remove old e2e setup
  e2e_tests/.env.example
  e2e_tests/.eslintrc.js
  e2e_tests/.gitignore
  e2e_tests/README.md
  e2e_tests/create_test.js
  e2e_tests/jest.config.js
  e2e_tests/jest.setup.js
  e2e_tests/package-lock.json
  e2e_tests/package.json
  e2e_tests/src/__tests__/core/cr_signup.test.js
  e2e_tests/src/__tests__/core/website_status.test.js
  e2e_tests/src/__tests__/performance/resources.test.js
  e2e_tests/src/__tests__/performance/time_to_chart_ready.test.js
  e2e_tests/src/__tests__/performance/time_to_interactive.test.js
  e2e_tests/src/__tests__/trader/contract_purchase.test.js
  e2e_tests/src/_config/context.js
  e2e_tests/src/_utils/cli_reporter.js
  e2e_tests/src/_utils/logger.js
  e2e_tests/src/_utils/test_template.js
  e2e_tests/src/_utils/websocket.js
  e2e_tests/src/bootstrap.js
  e2e_tests/src/objects/common.js
  e2e_tests/src/objects/deriv_com.js
  e2e_tests/src/objects/qa_emails.js
  e2e_tests/src/objects/trader.js
  e2e_tests/states/.gitignore
Due: prettier --write, npx eslint --fix

fix: added conditional check on currency before making WS callon traders-hub
  packages/appstore/src/components/total-assets/total-assets.tsx
Due: prettier --write, npx eslint --fix

Revert "fix: summary panel flickering (#7321)"
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/services/api/api-base.js
  packages/bot-web-ui/src/stores/app-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Revert "translations: 📚 sync translations with crowdin (#7316)"
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
Due: prettier --write

Revert "fix: dbot performance issue -- unified websocket connection and moved… (#7103)"
  packages/bot-skeleton/package.json
  packages/bot-skeleton/src/scratch/dbot-store.js
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/services/api/api-base.js
  packages/bot-skeleton/src/services/api/appId.js
  packages/bot-skeleton/src/services/api/ticks_service.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Balance.js
  packages/bot-skeleton/src/services/tradeEngine/trade/OpenContract.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Proposal.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Purchase.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Sell.js
  packages/bot-skeleton/src/services/tradeEngine/trade/index.js
  packages/bot-skeleton/src/services/tradeEngine/utils/cliTools.js
  packages/bot-skeleton/src/services/tradeEngine/utils/helpers.js
  packages/bot-skeleton/src/services/tradeEngine/utils/interpreter.js
  packages/bot-web-ui/src/components/trade-animation/trade-animation.jsx
  packages/bot-web-ui/src/stores/run-panel-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: code smell of sonar cloud in tour-slider.tsx(2)
  packages/bot-web-ui/src/components/dashboard/tour-slider.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
Due: prettier --write, npx eslint --fix

Revert V20230106_0 (#7334)
  packages/bot-skeleton/package.json
  packages/bot-skeleton/src/scratch/dbot-store.js
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/services/api/api-base.js
  packages/bot-skeleton/src/services/api/appId.js
  packages/bot-skeleton/src/services/api/ticks_service.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Balance.js
  packages/bot-skeleton/src/services/tradeEngine/trade/OpenContract.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Proposal.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Purchase.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Sell.js
  packages/bot-skeleton/src/services/tradeEngine/trade/index.js
  packages/bot-skeleton/src/services/tradeEngine/utils/cliTools.js
  packages/bot-skeleton/src/services/tradeEngine/utils/helpers.js
  packages/bot-skeleton/src/services/tradeEngine/utils/interpreter.js
  packages/bot-web-ui/src/components/trade-animation/trade-animation.jsx
  packages/bot-web-ui/src/stores/app-store.js
  packages/bot-web-ui/src/stores/run-panel-store.js
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/ru.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
Due: prettier --write

fix: code smell of sonar cloud in tour-slider.tsx(3)
  packages/bot-web-ui/src/components/dashboard/tour-slider.tsx
Due: prettier --write, npx eslint --fix

fix: remove extra call function from onclick in languagesettings component
  packages/account/src/Sections/Profile/LanguageSettings/language-settings.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Adrienne / Block User Modal (#7276)
  packages/p2p/src/components/advertiser-page/advertiser-page.jsx
  packages/p2p/src/components/modal-manager/modal-manager-context-provider.jsx
  packages/p2p/src/components/modal-manager/modal-manager.jsx
  packages/p2p/src/components/modal-manager/modals/block-user-modal/block-user-modal.jsx
  packages/p2p/src/components/modal-manager/modals/block-user-modal/block-user-modal.scss
  packages/p2p/src/components/modal-manager/modals/block-user-modal/index.js
  packages/p2p/src/components/my-profile/block-user/block-user.jsx
  packages/p2p/src/constants/modals.js
  packages/p2p/src/stores/advertiser-page-store.js
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/stores/my-profile-store.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: loading modal (#7006)
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/loading-modal/loading-modal.jsx
  packages/p2p/src/components/modal-manager/modals/loading-modal/index.js
  packages/p2p/src/components/modal-manager/modals/loading-modal/loading-modal.jsx
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/constants/modals.js
  packages/p2p/src/stores/order-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Niloofar Sadeghi / Refactor tests in the route-with-sub-routes.spec.tsx file (Core) (#7215)
  packages/core/src/App/Components/Routes/__tests__/route-with-sub-routes.spec.tsx
  packages/core/src/App/Components/Routes/route-with-sub-routes.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: login-button test file (#7245)
  packages/core/src/App/Components/Layout/Header/__tests__/login-button.spec.tsx
Due: prettier --write, npx eslint --fix

refactor: account-info test file (#7244)
  packages/components/src/components/popover/popover.tsx
  packages/core/src/App/Components/Layout/Header/__tests__/account-info.spec.tsx
  packages/core/src/App/Components/Layout/Header/account-info.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Niloofar Sadeghi / Refactor tests in the network-status.spec.tsx file (#7230)
  packages/components/src/components/popover/popover.tsx
  packages/core/src/App/Components/Layout/Footer/__tests__/network-status.spec.tsx
  packages/core/src/App/Components/Layout/Footer/network-status.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Farzin/67865/Add an option in BackOffice for clients to update their residential address (when the address differs from the one on the submitted document) (#6673)
  packages/account/src/Components/poa-address-mismatch-hint-box/index.ts
  packages/account/src/Components/poa-address-mismatch-hint-box/poa-address-mismatch-hint-box.scss
  packages/account/src/Components/poa-address-mismatch-hint-box/poa-address-mismatch-hint-box.tsx
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/personal-details.spec.js
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/notification-store.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

bahar/83538/feat: deriv-ez-fund-transfer-web-page-development (#7220)
  packages/cashier/src/pages/account-transfer/account-transfer-form/__tests__/account-transfer-form.spec.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form-side-note.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.scss
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-receipt/account-transfer-receipt.tsx
  packages/cashier/src/stores/__tests__/account-transfer-store.spec.js
  packages/cashier/src/stores/account-transfer-store.js
  packages/cashier/src/stores/general-store.js
  packages/cashier/src/types/shared/account.types.ts
  packages/components/src/components/icon/derivez/ic-derivez.svg
  packages/core/src/Constants/cfd-text.js
  packages/shared/brand.config.json
  packages/shared/src/utils/brand/brand.ts
  packages/shared/src/utils/cfd/cfd.ts
  packages/shared/src/utils/platform/platform.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: circle/ci issue
  packages/core/src/App/Components/Layout/Header/__tests__/account-info.spec.tsx
Due: prettier --write, npx eslint --fix

fix: code smell of sonar cloud in tour-trigger-dialog.tsx
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
Due: prettier --write, npx eslint --fix

Niloofar / Task - Refactor tests in the toggle-fullscreen.spec.tsx file (#7232)
  packages/components/src/components/popover/popover.tsx
  packages/core/src/App/Components/Layout/Footer/__tests__/toggle-fullscreen.spec.tsx
  packages/core/src/App/Components/Layout/Footer/toggle-fullscreen.jsx
  packages/core/src/App/Components/Layout/Header/__tests__/account-info.spec.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: description should be called from general_store, not my_ads (#7236)
  packages/p2p/src/components/my-ads/create-ad-form.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: fixed the overflowed text in buy/sell order instruction details (#7264)
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/components/order-details/order-details.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

kate/80180/Update_DP2P_content_on_cashier_page (#7233)
  packages/cashier/src/components/cashier-onboarding/__tests__/cashier-onboarding.spec.js
  packages/cashier/src/components/cashier-onboarding/cashier-onboarding-providers.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: add hook useCallback for topWidgets component to avoid rerender (#7319)
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: code smell of sonar cloud in tour-trigger-dialog.tsx(2)
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
Due: prettier --write, npx eslint --fix

fix: code smell of sonar cloud in sidebar.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/sidebar.tsx
Due: prettier --write, npx eslint --fix

fix: code smell of sonar cloud in sidebar.tsx(2)
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/sidebar.tsx
Due: prettier --write, npx eslint --fix
