Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

fix: correct regex pattern for gaming account type determination
  packages/core/src/Stores/Helpers/client.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: correct regex pattern for www.betonmarkets and www.xodds domains in RedirectNoticeModal
  packages/core/src/App/Components/Elements/Modals/RedirectNotice/redirect-notice-modal.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Hasan/RSKT-3323/FA improvement - Employment status and Tax info under FA page (#18650)
  packages/account/src/Sections/Assessment/FinancialAssessment/NavigateToPersonalDetails.tsx
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-assessment.tsx
  packages/account/src/Sections/Assessment/FinancialAssessment/navigate-to-personal-details.scss
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/validation.spec.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
  packages/appstore/src/components/modals/verification-docs-list-modal/verification-docs-list-modal.tsx
  packages/shared/src/utils/routes/routes.ts
  packages/wallets/src/components/ClientVerificationModal/components/DocumentsList/DocumentsList.tsx
  packages/wallets/src/components/ClientVerificationModal/components/DocumentsList/__tests__/DocumentsList.spec.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: add a check for loginid to mitigate object pollution attacks
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: add missing permissions for Coveralls Finished job
  .github/workflows/coveralls.yml
Due: none

fix: add missing permissions for Slack notification jobs in production workflow
  .github/workflows/release_production.yml
Due: none

Aizad/TRAH-7185/Restrict Deriv X Visibility for new users who didn't create Deriv X account (#18810)
  packages/appstore/src/components/cfds-listing-logged-out/cfds-listing-logged-out.tsx
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form-side-note.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

chore: fix cTrader notes being removed issue
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form-side-note.tsx
  packages/core/src/Stores/client-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: update transfer form side notes
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form-side-note.tsx
  packages/core/src/Stores/client-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: fix cTrader notes being removed issue (#18821)
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form-side-note.tsx
  packages/core/src/Stores/client-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: update transfer form side notes (#18822)
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form-side-note.tsx
  packages/core/src/Stores/client-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: hide nakala banner if standard is not available in tpaa api call
  packages/appstore/src/components/cfds-listing/index.tsx
Due: prettier --write, npx eslint --fix

chore: fix phone number field validation error
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
Due: prettier --write, npx eslint --fix

chore: fix phone validation error
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
Due: prettier --write, npx eslint --fix

Suisin/chore: fix phone validation error (#18826)
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
Due: prettier --write, npx eslint --fix

chore: fix phone number field validation error (#18825)
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
Due: prettier --write, npx eslint --fix

chore: fix track js issue
  packages/hooks/src/__tests__/useIsEnabledNakala.spec.tsx
  packages/hooks/src/useIsEnabledNakala.ts
Due: prettier --write, npx eslint --fix

chore: fix testcase type issue
  packages/hooks/src/__tests__/useIsEnabledNakala.spec.tsx
Due: prettier --write, npx eslint --fix

chore: fix cfd reset password displaying again on reload
  packages/cfd/src/Containers/cfd-reset-password-modal.tsx
Due: prettier --write, npx eslint --fix

DSEC-63673: Fix GitHub Actions workflow permission issues (#18818)
  .github/workflows/coveralls.yml
  .github/workflows/release_production.yml
Due: none

DSEC-63673/ Fix code security issues (#18817)
  packages/core/src/App/Components/Elements/Modals/RedirectNotice/redirect-notice-modal.jsx
  packages/core/src/Stores/Helpers/client.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/traders-hub-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Suisin/chore: fix track js issue (#18828)
  packages/hooks/src/__tests__/useIsEnabledNakala.spec.tsx
  packages/hooks/src/useIsEnabledNakala.ts
Due: prettier --write, npx eslint --fix

Suisin/chore: hide nakala banner if standard is not available in tpaa api call (#18824)
  packages/appstore/src/components/cfds-listing/index.tsx
Due: prettier --write, npx eslint --fix

Suisin/chore: added a more informative message if pob is needed (#18772)
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
  packages/cfd/src/Containers/cfd-server-error-dialog.tsx
  packages/cfd/src/Stores/Modules/CFD/cfd-store.js
  packages/cfd/src/types/cfd-store.types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Rc v20250808 1 (#18834)
  packages/appstore/src/components/cfds-listing-logged-out/cfds-listing-logged-out.tsx
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form-side-note.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts.tsx
  packages/core/src/Stores/client-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Amam/rc fix crowdin (#18837)
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write
