Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

refactor: remove icons
  packages/cfd/src/Containers/ctrader-derivx-trade-modal.tsx
  packages/cfd/src/features/Containers/mt5-trade-modal.tsx
  packages/cfd/src/features/Containers/other-cfds-trade-modal.tsx
  packages/components/src/components/icon/common/ic-installation-apple.svg
  packages/components/src/components/icon/common/ic-installation-google.svg
  packages/components/src/components/icon/common/ic-installation-huawei.svg
Due: prettier --write, npx eslint --fix

refactor: address comments
  packages/reports/src/Containers/__tests__/open-positions-table.spec.tsx
  packages/reports/src/Containers/__tests__/open-positions.spec.tsx
  packages/reports/src/Containers/mobile-row-renderer.tsx
  packages/reports/src/Containers/open-positions-table.tsx
Due: prettier --write, npx eslint --fix

chore: incorporated the new employment status and tin info
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/validation.spec.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
  packages/account/src/Styles/account.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Update smoketests_manual.yml
  .github/workflows/smoketests_manual.yml
Due: none

fix: test fails after update from master branch
  packages/appstore/src/components/cfds-listing/index.tsx
Due: prettier --write, npx eslint --fix

fix: integrate a toggle button which will switch to stop if the bot is running
  packages/bot-web-ui/src/pages/server-bot/server-bot-list.tsx
  packages/bot-web-ui/src/pages/server-bot/server-bot.scss
  packages/bot-web-ui/src/pages/server-bot/server-bot.tsx
  packages/bot-web-ui/src/stores/server-bot-store.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: import react from react to fix ci
  packages/cfd/src/Helpers/constants.tsx
Due: prettier --write, npx eslint --fix

chore: redirect to login and from login for email request modal
  packages/core/src/App/Containers/Redirect/redirect.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: styles of multipliers card body for crypto in ContractDrawer on desktop
  packages/components/src/components/contract-card/contract-card-items/multiplier-card-body.jsx
  packages/components/src/components/progress-slider-mobile/progress-slider-mobile.tsx
  packages/trader/src/App/Components/Elements/ContractDrawer/__tests__/contract-drawer-card.spec.tsx
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer-card.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

[COJ]/likhith/COJ-1231/integrate deriv-translations in account-package (#15448)
  .github/workflows/sync-translations.yml
  __mocks__/translation.mock.js
  jest.config.base.js
  package-lock.json
  packages/account/build/constants.js
  packages/account/build/webpack.config.js
  packages/account/jest.config.js
  packages/account/package.json
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.tsx
  packages/account/src/Sections/Profile/LanguageSettings/__tests__/language-settings.spec.tsx
  packages/account/src/Sections/Profile/LanguageSettings/language-settings.tsx
  packages/appstore/jest.config.js
  packages/appstore/package.json
  packages/appstore/src/components/app.tsx
  packages/appstore/webpack.config.js
  packages/cfd/build/webpack.config.js
  packages/cfd/jest.config.js
  packages/cfd/package.json
  packages/core/build/constants.js
  packages/core/jest.config.js
  packages/core/package.json
  packages/core/src/App/Components/Layout/Footer/toggle-language-settings.tsx
  packages/core/src/App/Components/Layout/Header/Components/ToggleMenu/mobile-language-menu.tsx
  packages/core/src/App/Components/Routes/__tests__/language-link.spec.tsx
  packages/core/src/App/Components/Routes/language-link.tsx
  packages/core/src/App/Containers/SettingsModal/settings-language.jsx
  packages/core/src/App/app.jsx
  packages/core/src/Stores/common-store.js
  packages/shared/src/utils/constants/default-options.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: added callback
  packages/api-v2/src/useSubscription.ts
Due: prettier --write, npx eslint --fix

fix: employment status form
  packages/account/src/Components/forms/form-fields/employment-status.tsx
  packages/account/src/Components/forms/form-fields/index.ts
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Constants/financial-information-list.ts
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-assessment.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: employment status form
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

DTRA-1315 / Kate / Minor UI issue: increase max width of cancel btn for tablet and mobile (#15516)
  packages/components/src/components/contract-card/contract-card.scss
  packages/reports/src/sass/app/modules/reports.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: dtrader url params missing upon return from c.details/if DTrader is selected from Header twice (#15676)
  packages/core/package.json
  packages/core/src/App/Components/Layout/Header/__tests__/platform-dropdown.spec.tsx
  packages/core/src/App/Components/Layout/Header/platform-dropdown.jsx
  packages/shared/src/utils/contract/trade-url-params-config.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

[DTRA] Maryia/DTRA-1360/fix: is_loading state in portfolio-store.js (#15675)
  packages/core/src/Stores/portfolio-store.js
  packages/trader/src/AppV2/Components/EmptyPositions/__tests__/empty-positions.spec.tsx
  packages/trader/src/AppV2/Components/EmptyPositions/empty-positions.tsx
  packages/trader/src/AppV2/Containers/Positions/__tests__/positions-content.spec.tsx
  packages/trader/src/AppV2/Containers/Positions/positions-content.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: remove old flow
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/__tests__/real-wallets-upgrade.spec.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/desktop-real-wallets-upgrade/desktop-real-wallets-upgrade.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/desktop-real-wallets-upgrade/desktop-real-wallets-upgrade.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/desktop-real-wallets-upgrade/index.ts
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/index.ts
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/mobile-real-wallets-upgrade/index.ts
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/mobile-real-wallets-upgrade/mobile-real-wallets-upgrade.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/mobile-real-wallets-upgrade/mobile-real-wallets-upgrade.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/wallet_steps.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-account/wallet-account.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-account/wallet-account.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-link/wallet-link-wrapper.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-link/wallet-link-wrapper.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-upgrade-step-one/__tests__/wallets-upgrade-step-one.spec.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-upgrade-step-one/index.ts
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-upgrade-step-one/wallets-upgrade-step-one.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-upgrade-step-one/wallets-upgrade-step-one.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-upgrade-step-two/__tests__/wallets-upgrade-step-two.spec.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-upgrade-step-two/index.ts
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-upgrade-step-two/wallets-upgrade-step-two.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-upgrade-step-two/wallets-upgrade-step-two.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/index.ts
  packages/appstore/src/components/modals/real-wallets-upgrade/real-wallets-upgrade.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: updated tnc text to bold
  packages/cfd/src/sass/cfd.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: revert default properties of deriv-com for inputs
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.scss
  packages/wallets/src/features/accounts/screens/VerifyDocumentDetails/VerifyDocumentDetails.scss
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionTncSection/JurisdictionTncSection.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: fix test cases did minor refactoring
  packages/appstore/src/components/banners/wallets-banner/__tests__/wallets-banner.spec.tsx
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.scss
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

choe: removed pull_request section
  .github/workflows/sync-translations.yml
Due: none

Amina/coj 737/duplicate document error fix (#15635)
  packages/account/src/Components/icon-message-content/icon-message-content.tsx
  packages/account/src/Components/poa/status/unverified/unverified.tsx
  packages/account/src/Components/poi-manual-upload-failed/__tests__/poi-manual-upload-failed.spec.tsx
  packages/account/src/Components/poi-manual-upload-failed/index.ts
  packages/account/src/Components/poi-manual-upload-failed/poi-manual-upload-failed.tsx
  packages/account/src/Components/poi-unsupported-failed/__tests__/unsupported-failed.spec.tsx
  packages/account/src/Components/poi-unsupported-failed/index.ts
  packages/account/src/Components/poi-unsupported-failed/unsupported-failed.tsx
  packages/account/src/Components/poi/status/unsupported/detail-component.tsx
  packages/account/src/Components/poi/status/unsupported/unsupported.tsx
  packages/account/src/Constants/api-error-codes.ts
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-container.tsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
  packages/account/src/Sections/Verification/ProofOfOwnership/proof-of-ownership-form.tsx
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Components/__tests__/cfd-poa.spec.tsx
  packages/cfd/src/Components/cfd-poa.tsx
  packages/cfd/src/features/Components/proof-of-address.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: last content update pls
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCardRow.scss
  packages/wallets/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction-bvi-contents.ts
  packages/wallets/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction-svg-contents.ts
  packages/wallets/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction-vanuatu-contents.ts
  packages/wallets/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction_maltainvest_contents.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

choe: removed pull_request section (#15723)
  .github/workflows/sync-translations.yml
Due: none

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

feat: added cfd password modal tnc component
  packages/cfd/src/Containers/cfd-password-modal-tnc.tsx
Due: prettier --write, npx eslint --fix

feat: added tnc to password modal
  packages/cfd/src/Containers/cfd-password-modal.tsx
Due: prettier --write, npx eslint --fix

chore: updated video
  packages/core/src/public/videos/wallets_introduction.mp4
Due: none

chore: merge master
  packages/account/src/Components/forms/form-fields/employment-status.tsx
Due: prettier --write, npx eslint --fix

chore: fix size for translation flag
  packages/account/src/Components/language-settings/language-radio-button.tsx
  packages/core/src/App/Components/Layout/Footer/toggle-language-settings.tsx
  packages/core/src/App/Components/Layout/Header/Components/ToggleMenu/menu-title.tsx
  packages/core/src/App/Components/Routes/language-link.tsx
  packages/shared/src/utils/constants/translation-flag.tsx
Due: prettier --write, npx eslint --fix

fix: add vanuatu check
  packages/core/src/Stores/traders-hub-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: trader-store mobx warnings
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Due: prettier --write, npx eslint --fix

chore: update translation-flag constant based on comment
  packages/shared/src/utils/constants/translation-flag.tsx
Due: prettier --write, npx eslint --fix

fix: make cfd modal scrollable
  packages/cfd/src/sass/cfd.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write
