Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

fix: test case
  packages/cashier/src/containers/cashier/__tests__/cashier.spec.tsx
Due: prettier --write, npx eslint --fix

chore: fix newly created wallet not selected
  packages/utils/src/getActiveAccounts.ts
Due: prettier --write, npx eslint --fix

chore: update realWalletAccount for walletToUse
  packages/utils/src/getActiveAccounts.ts
Due: prettier --write, npx eslint --fix

Suisin/chore: fix newly created wallet not selected (#18591)
  packages/utils/src/getActiveAccounts.ts
Due: prettier --write, npx eslint --fix

Suisin/chore: fix newly created wallet not selected (#18592)
  packages/utils/src/getActiveAccounts.ts
Due: prettier --write, npx eslint --fix

fix: remove sounds from trade type tutorials
  packages/trader/src/AppV2/Components/Guide/guide-description-modal.tsx
Due: prettier --write, npx eslint --fix

chore: fix not able to login issue
  packages/utils/src/getActiveAccounts.ts
Due: prettier --write, npx eslint --fix

fix: naming
  packages/core/src/App/Components/Layout/Header/wallets/account-actions-wallets.tsx
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet-mobile.tsx
  packages/wallets/src/features/cashier/WalletCashier.tsx
  packages/wallets/src/routes/Router.tsx
Due: prettier --write, npx eslint --fix

chore: disable tmb for derivgo users
  packages/utils/src/isTmbEnabled.ts
Due: prettier --write, npx eslint --fix

chore: dont trigger tmb if user coming from derivgo
  packages/utils/src/isTmbEnabled.ts
Due: prettier --write, npx eslint --fix

fix: name
  packages/cashier/src/containers/cashier/cashier.tsx
  packages/core/src/App/Components/Layout/Header/wallets/account-actions-wallets.tsx
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet-mobile.tsx
  packages/core/src/App/Containers/Layout/header/dtrader-header.tsx
  packages/wallets/src/features/cashier/WalletCashier.tsx
  packages/wallets/src/routes/Router.tsx
Due: prettier --write, npx eslint --fix

chore: fix code for race condition
  packages/utils/src/isTmbEnabled.ts
Due: prettier --write, npx eslint --fix

chore: rename to better naming
  packages/utils/src/isTmbEnabled.ts
Due: prettier --write, npx eslint --fix

Rename to triggerImpersonateLogin
  packages/utils/src/isTmbEnabled.ts
Due: prettier --write, npx eslint --fix

chore: fix not able to login issue (#18595)
  packages/utils/src/getActiveAccounts.ts
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/mn.json
Due: prettier --write

fix: cashier
  packages/cashier/src/containers/cashier/cashier.tsx
  packages/core/src/App/Containers/Layout/header/dtrader-header.tsx
  packages/shared/src/utils/platform/platform.ts
Due: prettier --write, npx eslint --fix

Suisin/derivgo disabled tmb (#18596)
  packages/utils/src/isTmbEnabled.ts
Due: prettier --write, npx eslint --fix

chore: fix safari not loading after pasting verification link
  packages/cashier/src/containers/routes/route-with-sub-routes.tsx
  packages/core/src/App/Components/Routes/route-with-sub-routes.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: delay in showing accessed denied screen
  packages/core/src/App/AppContent.tsx
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/core/src/Modules/Callback/CallbackPage.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: update label from 'Distance to current spot' to 'Barrier' in PayoutPerPointInput component
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/__tests__/payout-per-point-input.spec.tsx
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/payout-per-point-input.tsx
Due: prettier --write, npx eslint --fix

fix: codeql worflow security issue
  .github/workflows/coveralls.yml
  .github/workflows/release_production.yml
  .github/workflows/release_staging.yml
  .github/workflows/release_test.yml
  .github/workflows/release_uat.yml
  .github/workflows/release_uat2.yml
  .github/workflows/smoketests_manual.yml
  .github/workflows/test.yml
  .github/workflows/update_npm_cache.yml
Due: none

fix: remove position update
  packages/core/src/Stores/portfolio-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: track js
  packages/core/src/Stores/portfolio-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: update charts version (#18574)
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Due: prettier --write

fix: wrong date in closed contracts
  packages/trader/src/AppV2/Components/ContractCard/contract-cards-sections.tsx
Due: prettier --write, npx eslint --fix

fix: remove sounds from trade type tutorials (#18594)
  packages/trader/src/AppV2/Components/Guide/guide-description-modal.tsx
Due: prettier --write, npx eslint --fix

fix: testing the codql workflow issue in test.yml
  .github/workflows/test.yml
Due: none

chore: remove .deriv.dev check to pass qabox failing trying to trigger tmb
  packages/utils/src/isTmbEnabled.ts
Due: prettier --write, npx eslint --fix

fix: testing the codql workflow issue in test.yml (#18605)
  .github/workflows/test.yml
Due: none

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

fix: remove all update position
  packages/core/src/Stores/contract-replay-store.js
  packages/core/src/Stores/contract-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: testing the codql workflow issue in release-test.yml
  .github/workflows/release_test.yml
Due: none

Suisin/chore: remove .deriv.dev check to pass qabox failing trying to trigge… (#18607)
  packages/utils/src/isTmbEnabled.ts
Due: prettier --write, npx eslint --fix

fix: testing the codql workflow issue in release-test.yml (#18609)
  .github/workflows/release_test.yml
Due: none

Revert "fix: testing the codql workflow issue in release-test.yml (#18609)"
  .github/workflows/release_test.yml
Due: none
