Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: add logout on authorize failure
  packages/api-v2/src/AuthProvider.tsx
  packages/core/src/App/Containers/RootComponent/root-component.jsx
  packages/wallets/src/App.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: deriv mt5 investor
  packages/wallets/src/features/cfd/constants.tsx
Due: prettier --write, npx eslint --fix

chore: added mt5 accounts list unit test (#16945)
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/__test__/AddedMT5AccountsList.spec.tsx
Due: prettier --write, npx eslint --fix

refactor: replace preview proposal usage with usedtraderquery
  package-lock.json
  packages/trader/package.json
  packages/trader/src/AppV2/Components/Filter/contract-type-filter.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/take-profit-and-stop-loss-input.tsx
  packages/trader/src/Stores/Modules/Trading/Helpers/proposal.ts
Due: prettier --write, npx eslint --fix

fix: temporary hardcoding of compnay number for non-regulated in MT5LicenceMessage
  packages/wallets/src/features/cfd/screens/components/MT5LicenceMessage/MT5LicenceMessage.tsx
Due: prettier --write, npx eslint --fix

refactor: converted getTileProps function to tileProps map in DocumentsList component
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/components/DocumentsList/DocumentsList.tsx
Due: prettier --write, npx eslint --fix

fix: refer to correct key for poa and translation for DocumentTile in DocumentsList component
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/components/DocumentsList/DocumentsList.tsx
Due: prettier --write, npx eslint --fix

fix: test cases and aspect ratio for onboarding guide
  packages/trader/build/webpack.config.js
  packages/trader/src/AppV2/Components/Filter/contract-type-filter.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/onboarding-video.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/__tests__/take-profit-and-stop-loss-input.spec.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: extract logic for creating proposal object
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/take-profit-and-stop-loss-input.tsx
Due: prettier --write, npx eslint --fix

feat: do not render UI based on partial data!!!!
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
Due: prettier --write, npx eslint --fix

fix: [UPM-1598]/evgeniy/trackJS error, reading passkeys_list.length (#16989)
  packages/core/src/Utils/Hotjar/index.ts
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
Due: prettier --write

feat: hide close button while its loading
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
Due: prettier --write, npx eslint --fix

fix: resolve code review comments
  packages/account/src/Components/route-button/__tests__/route-button.spec.tsx
  packages/account/src/Configs/get-mt5-status-badge-config.tsx
  packages/account/src/Configs/get-status-badge-config.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/modals/verification-docs-list-modal/ListItem.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts-title-icon.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-instruments-label-highlighted.tsx
  packages/cfd/src/Containers/cfd-password-modal-info.tsx
  packages/cfd/src/Containers/cfd-password-success-icon.tsx
  packages/cfd/src/Containers/mt5-create-password/__tests__/mt5-create-password.spec.tsx
  packages/cfd/src/Containers/mt5-create-password/mt5-create-password.tsx
  packages/cfd/src/Helpers/cfd-config.ts
  packages/core/src/Stores/traders-hub-store.js
  packages/hooks/src/useGetStatus.ts
  packages/hooks/src/useIsSelectedMT5AccountCreated.ts
  packages/shared/src/utils/cfd/cfd.ts
  packages/shared/src/utils/constants/jurisdictions-config.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: stop snackbar from triggering when error shows on number change
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
Due: prettier --write, npx eslint --fix

fix: remove unnecessary dependency
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
Due: prettier --write, npx eslint --fix

fix: dont show error when bottom sheet is open
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
Due: prettier --write, npx eslint --fix

chore: add oauth2 implementation
  package-lock.json
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/hooks/package.json
  packages/hooks/src/index.ts
  packages/hooks/src/useGrowthbookGetFeatureValue.ts
  packages/hooks/src/useOauth2.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: add logs to test
  packages/hooks/src/useOauth2.ts
Due: prettier --write, npx eslint --fix

fix: failing testcase
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.tsx
Due: prettier --write, npx eslint --fix

fix: incorporated review comments
  packages/account/src/Components/forms/form-fields/__tests__/tax-identification-number.spec.tsx
  packages/account/src/Components/forms/form-fields/account-opening-reason.tsx
  packages/account/src/Components/forms/form-fields/tax-indentification-number.tsx
Due: prettier --write, npx eslint --fix

fix: logic for getClientVerification util
  packages/wallets/src/features/cfd/utils/utils.ts
Due: prettier --write, npx eslint --fix

fix: reverted change
  packages/account/src/Components/forms/form-fields/account-opening-reason.tsx
Due: prettier --write, npx eslint --fix

feat: show only available trade types in guide
  packages/trader/src/AppV2/Components/Guide/__tests__/guide-description-modal.spec.tsx
  packages/trader/src/AppV2/Components/Guide/guide-description-modal.tsx
  packages/trader/src/AppV2/Components/Guide/guide.tsx
Due: prettier --write, npx eslint --fix

fix: :ambulance: fix notification tray position (#16905)
  packages/core/src/App/Containers/NotificationsDialog/notification-list-wrapper.tsx
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.tsx
  packages/core/src/sass/app/modules/notifications-dialog.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: update package
  package-lock.json
  packages/hooks/package.json
  packages/hooks/src/useOauth2.ts
Due: prettier --write, npx eslint --fix

fix: build and test fail
  packages/api-v2/src/hooks/__tests__/useAvailableCTraderAccounts.spec.ts
  packages/api-v2/src/hooks/useAvailableCTraderAccounts.ts
  packages/wallets/src/features/cfd/modals/CTraderAddAccountSuccessModal/CTraderAddAccountSuccessModal.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeScreen.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/__test__/MT5TradeScreen.spec.tsx
Due: prettier --write, npx eslint --fix

chore: UI is fixed with error added
  packages/trader/src/AppV2/Components/TradeParameters/Duration/chips.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/datepicker.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/day.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.scss
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/timepicker.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

[WALL] george / WALL-4929 / Noticing that crypto estimation fee is not displayed (#16962)
  packages/api-v2/src/AuthProvider.tsx
  packages/api-v2/src/__tests__/useSubscription.spec.tsx
  packages/api-v2/src/useSubscription.ts
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/km.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
Due: prettier --write

fix: new mock in testcase
  packages/trader/src/AppV2/Components/Guide/__tests__/guide.spec.tsx
Due: prettier --write, npx eslint --fix

fix: fixed failing test case and touch behaviour on unpin
  packages/trader/src/AppV2/Components/DraggableList/draggable-list-item.tsx
  packages/trader/src/AppV2/Components/DraggableList/draggable-list.scss
  packages/trader/src/AppV2/Components/DraggableList/draggable-list.tsx
  packages/trader/src/AppV2/Components/TradeTypeList/trade-type-list.tsx
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade-types.spec.tsx
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: update title for step 1 email verification
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
Due: prettier --write, npx eslint --fix

chore: update test case title
  packages/account/src/Sections/Profile/PhoneVerification/__test__/otp-verification.spec.tsx
Due: prettier --write, npx eslint --fix

fix: tabbing
  packages/trader/src/AppV2/Components/Guide/__tests__/guide.spec.tsx
Due: prettier --write, npx eslint --fix

chore: fix growthbook FF off pnv routing issue
  packages/account/src/Sections/Profile/PhoneVerification/__test__/cancel-phone-verification-modal.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/cancel-phone-verification-modal.tsx
Due: prettier --write, npx eslint --fix

chore: update package and fix test
  jest.config.base.js
  package-lock.json
  packages/hooks/package.json
Due: prettier --write, npx eslint --fix

refactor: DocumentList to use getClientVerification
  packages/wallets/src/features/cfd/components/ClientVerificationBadge/ClientVerificationStatusBadge.tsx
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/ClientVerificationModal.tsx
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/components/DocumentsList/DocumentsList.tsx
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/components/DocumentsList/components/DocumentTile/DocumentTile.tsx
  packages/wallets/src/features/cfd/utils/utils.ts
Due: prettier --write, npx eslint --fix

fix: accumulator close btn (#16973)
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.tsx
Due: prettier --write, npx eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
