Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

fix: bug fixes
  packages/bot-skeleton/src/constants/config.js
  packages/bot-skeleton/src/scratch/blocks/Binary/After Purchase/after_purchase.js
  packages/bot-skeleton/src/scratch/blocks/Binary/During Purchase/during_purchase.js
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-skeleton/src/utils/error-config.js
  packages/bot-skeleton/src/utils/error-handling.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: limit order (#9655)
  packages/trader/src/Stores/Modules/Trading/Helpers/proposal.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Kate / WEBREL-50 / Tests for trade-modals.jsx in Trader package (#9155)
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/trader/src/App/Containers/Modals/__tests__/trade-modals.spec.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Kate / WEBREL-40 / Test coverage: MarketUnavailableModal + UnsupportedContractModal in Trader package (#9074)
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/trader/src/App/Components/Elements/Modals/MarketUnavailableModal/__tests__/market-unavailable.spec.jsx
  packages/trader/src/App/Components/Elements/Modals/UnsupportedContractModal/__tests__/unsupported-contract-modal.spec.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: get back useAuthorize changes
  packages/hooks/src/useAuthorize.ts
Due: prettier --write, npx eslint --fix

henry/test: ts migration and test coverage for ServicesErrorModal folder (#8521)
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/__tests__/account-verification-required-modal.spec.tsx
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/__tests__/authorization-required-modal.spec.tsx
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/__tests__/company-wide-limit-exceeded-modal.spec.tsx
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/__tests__/constants.spec.ts
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/__tests__/insufficient-balance-modal.spec.tsx
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/__tests__/services-error-modal.spec.tsx
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/authorization-required-modal.tsx
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/company-wide-limit-exceeded-modal.tsx
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/constants.ts
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/insufficient-balance-modal.tsx
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/services-error-modal.tsx
Due: prettier --write, npx eslint --fix

feat: :white_check_mark: Adding disclaimer on Sign up page when the user selects "Brazil" (#9574)
  packages/components/src/components/checkbox/checkbox.tsx
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/Containers/SetResidenceModal/__tests__/set-residence-form.spec.tsx
  packages/core/src/App/Containers/SetResidenceModal/set-residence-form.jsx
  packages/core/src/sass/app/modules/account-signup.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

feat: added currency to limits heading
  packages/account/src/Components/account-limits/account-limits.tsx
Due: prettier --write, npx eslint --fix

feat: clean useEffect
  packages/appstore/src/components/wallet-cards-carousel/cards-slider-swiper.tsx
  packages/hooks/src/useAuthorize.ts
Due: prettier --write, npx eslint --fix

refactor: rename timeooutId
  packages/appstore/src/components/wallet-cards-carousel/cards-slider-swiper.tsx
Due: prettier --write, npx eslint --fix

feat: added refetchOnMount property to useAuthorize and to balance request
  packages/hooks/src/useAuthorize.ts
  packages/hooks/src/useWalletsList.ts
Due: prettier --write, npx eslint --fix

test: fix tests after conflict resolution
  packages/trader/src/App/Components/Elements/TogglePositions/__tests__/toggle-positions-mobile.spec.tsx
Due: prettier --write, npx eslint --fix

refactor: add prev changes
  package-lock.json
  packages/components/src/components/div100vh-container/div100vh-container.tsx
  packages/components/src/components/input-field/input-field.tsx
  packages/components/src/components/input-field/input.tsx
  packages/components/src/components/numpad/numpad.tsx
  packages/components/src/components/tabs/tab.tsx
  packages/components/src/components/tabs/tabs.tsx
  packages/shared/src/utils/digital-options/digital-options.ts
  packages/shared/src/utils/helpers/duration.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/trader/package.json
  packages/trader/src/App/Components/Elements/TogglePositions/__tests__/toggle-positions.spec.tsx
  packages/trader/src/App/Components/Elements/TogglePositions/index.js
  packages/trader/src/App/Components/Elements/TogglePositions/toggle-positions-mobile.tsx
  packages/trader/src/App/Components/Elements/TogglePositions/toggle-positions.tsx
  packages/trader/src/App/Components/Elements/market-countdown-timer.jsx
  packages/trader/src/App/Components/Elements/market-countdown-timer.tsx
  packages/trader/src/App/Components/Elements/market-is-closed-overlay.tsx
  packages/trader/src/App/Containers/ProgressSliderStream/index.js
  packages/trader/src/App/Containers/ProgressSliderStream/progress-slider-stream.jsx
  packages/trader/src/App/Containers/populate-header.jsx
  packages/trader/src/App/Containers/trade-footer-extensions.tsx
  packages/trader/src/App/app.tsx
  packages/trader/src/Modules/Trading/Components/Elements/mobile-widget.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/allow-equals.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/amount-mobile.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/amount.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/barrier.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/last-digit.tsx
  packages/trader/src/Modules/Trading/Components/Form/screen-large.jsx
  packages/trader/src/Modules/Trading/Components/Form/screen-small.jsx
  packages/trader/src/Modules/Trading/Containers/Multiplier/multiplier-amount-modal.jsx
  packages/trader/src/Modules/Trading/Containers/trade-params-mobile.tsx
  packages/trader/src/Modules/Trading/Containers/trade-params.tsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
  packages/trader/src/Stores/useTraderStores.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: updated slack webhook URL
  .github/workflows/push_and_pull_crowdin_translations.yml
Due: none

feat: add containScroll and clearTimeout
  packages/appstore/src/components/wallet-cards-carousel/cards-slider-swiper.tsx
Due: prettier --write, npx eslint --fix

Prince/ updated slack webhook URL (#9661)
  .github/workflows/push_and_pull_crowdin_translations.yml
Due: none

refactor: :art: moves notification clear all footer to separate file
  packages/core/src/App/Components/Elements/Notifications/__tests__/empty-notification.spec.tsx
  packages/core/src/App/Components/Elements/Notifications/empty-notification.jsx
  packages/core/src/App/Containers/NotificationsDialog/__tests__/notifications-clear-all-footer.spec.tsx
  packages/core/src/App/Containers/NotificationsDialog/index.js
  packages/core/src/App/Containers/NotificationsDialog/index.ts
  packages/core/src/App/Containers/NotificationsDialog/notifications-clear-all-footer.tsx
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Revert "Prince/ updated slack webhook URL (#9661)"
  .github/workflows/push_and_pull_crowdin_translations.yml
Due: none

Revert "Prince/ updated slack webhook URL (#9661)" (#9665)
  .github/workflows/push_and_pull_crowdin_translations.yml
Due: none

chore: review comments incorporate
  packages/account/src/Sections/Profile/LanguageSettings/language-settings.tsx
  packages/core/src/App/Components/Layout/Header/Components/ToggleMenu/menu-title.tsx
  packages/core/src/App/Components/Layout/Header/Components/ToggleMenu/mobile-language-menu.tsx
  packages/core/src/App/Components/Layout/Header/__tests__/menu-link.spec.tsx
  packages/core/src/App/Components/Layout/Header/menu-link.tsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Components/Routes/language-link.tsx
  packages/core/src/Stores/common-store.js
  packages/core/src/Stores/ui-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: remove has_wallet, add is_migrated check
  packages/appstore/src/components/main-title-bar/__tests__/index.spec.tsx
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/appstore/src/components/routes/routes.tsx
  packages/hooks/src/__tests__/useWalletsList.spec.tsx
  packages/hooks/src/useWalletsList.ts
Due: prettier --write, npx eslint --fix

fix: ts error
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/constants.ts
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/services-error-modal.tsx
Due: prettier --write, npx eslint --fix

chore: migrated deriv-email and unlink component
  packages/account/package.json
  packages/account/src/App.tsx
  packages/account/src/Components/unlink-account-modal/__tests__/unlink-account-modal.spec.tsx
  packages/account/src/Components/unlink-account-modal/index.js
  packages/account/src/Components/unlink-account-modal/index.ts
  packages/account/src/Components/unlink-account-modal/unlink-account-modal.tsx
  packages/account/src/Sections/Security/Passwords/__tests__/deriv-email.spec.tsx
  packages/account/src/Sections/Security/Passwords/__tests__/deriv-password.spec.js
  packages/account/src/Sections/Security/Passwords/deriv-email.tsx
  packages/account/src/Sections/Security/Passwords/passwords.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: types store alphabetically order
  packages/core/src/Stores/common-store.js
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: types store alphabetically order
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

fix: add lost mocked
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

fix: conflicts
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: resolve comments
  packages/components/src/components/contract-card/contract-card-items/contract-card-body.tsx
  packages/components/src/components/contract-card/contract-card-items/toggle-card-dialog.tsx
  packages/components/src/components/contract-card/contract-card.tsx
  packages/components/src/components/contract-card/result-overlay/result-overlay.tsx
  packages/components/src/components/positions-drawer-card/positions-drawer-card.tsx
  packages/components/src/components/types/contract.types.ts
  packages/reports/src/Containers/open-positions.tsx
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

fix: snoarcloud
  packages/components/src/components/types/contract.types.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

chore: added test cases
  packages/components/src/components/mobile-full-page-modal/mobile-full-page-modal.tsx
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/__tests__/buy-sell-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal-title/buy-sell-modal-title.tsx
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal.tsx
Due: prettier --write, npx eslint --fix

fix: circleCI
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-dialog.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-display.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-item.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-list.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-widget.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/types.ts
  packages/trader/src/Modules/Trading/Helpers/contract-type.tsx
  packages/trader/src/sass/app/_common/components/contract-type-dialog.scss
  packages/trader/src/sass/app/_common/components/contract-type-info.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: fixed test case for submitForm
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/__tests__/buy-sell-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal.tsx
Due: prettier --write, npx eslint --fix

fix: comment
  packages/reports/src/Containers/open-positions.tsx
Due: prettier --write, npx eslint --fix

fix: resolve comments
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/trader/build/constants.js
  packages/trader/src/Modules/Trading/Containers/trade-params-mobile.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write
