Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: footer open close (#7168)
  packages/bot-web-ui/src/components/run-panel/run-panel.jsx
  packages/bot-web-ui/src/components/run-panel/run-panel.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: emailLinkVerifiedModal (#7118)
  packages/p2p/src/components/email-link-verified-modal/email-link-verified-modal.jsx
  packages/p2p/src/components/modal-manager/modals/email-link-verified-modal/email-link-verified-modal.jsx
  packages/p2p/src/components/modal-manager/modals/email-link-verified-modal/email-link-verified-modal.scss
  packages/p2p/src/components/modal-manager/modals/email-link-verified-modal/index.js
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/constants/modals.js
  packages/p2p/src/stores/order-store.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: revert
  packages/p2p/src/components/modal-manager/index.js
  packages/p2p/src/components/modal-manager/modal-form/index.js
  packages/p2p/src/components/modal-manager/modal-form/modal-form.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: myAdsDeleteModal (#7024)
  packages/p2p/src/components/modal-manager/modals/my-ads-delete-error-modal/index.js
  packages/p2p/src/components/modal-manager/modals/my-ads-delete-error-modal/my-ads-delete-error-modal.jsx
  packages/p2p/src/components/modal-manager/modals/my-ads-delete-modal/index.js
  packages/p2p/src/components/modal-manager/modals/my-ads-delete-modal/my-ads-delete-modal.jsx
  packages/p2p/src/components/modal-manager/modals/my-ads-delete-modal/my-ads-delete-modal.scss
  packages/p2p/src/components/my-ads/my-ads-delete-modal.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/constants/modals.js
  packages/p2p/src/stores/my-ads-store.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: adExceedsDailyLimitModal (#7027)
  packages/p2p/src/components/modal-manager/modals/ad-exceeds-daily-limit-modal/ad-exceeds-daily-limit-modal.jsx
  packages/p2p/src/components/modal-manager/modals/ad-exceeds-daily-limit-modal/index.js
  packages/p2p/src/components/my-ads/create-ad-form.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/constants/modals.js
  packages/p2p/src/stores/my-ads-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

farrah/78909/refactor FilterModal (#6906)
  packages/p2p/src/components/buy-sell/buy-sell-header.jsx
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/modal-manager/modal-manager-context-provider.jsx
  packages/p2p/src/components/modal-manager/modals/filter-modal/filter-modal-header.jsx
  packages/p2p/src/components/modal-manager/modals/filter-modal/filter-modal-no-results.jsx
  packages/p2p/src/components/modal-manager/modals/filter-modal/filter-modal-no-results.scss
  packages/p2p/src/components/modal-manager/modals/filter-modal/filter-modal-search.jsx
  packages/p2p/src/components/modal-manager/modals/filter-modal/filter-modal-search.scss
  packages/p2p/src/components/modal-manager/modals/filter-modal/filter-modal.jsx
  packages/p2p/src/components/modal-manager/modals/filter-modal/filter-modal.scss
  packages/p2p/src/components/modal-manager/modals/filter-modal/index.js
  packages/p2p/src/constants/modals.js
  packages/p2p/src/stores/buy-sell-store.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

farrah/78919/refactor OrderDetailsCancelModal (#7018)
  packages/p2p/src/components/modal-manager/modals/order-details-cancel-modal/__tests__/order-details-cancel-modal.spec.js
  packages/p2p/src/components/modal-manager/modals/order-details-cancel-modal/index.js
  packages/p2p/src/components/modal-manager/modals/order-details-cancel-modal/order-details-cancel-modal.jsx
  packages/p2p/src/components/modal-manager/modals/order-details-cancel-modal/order-details-cancel-modal.scss
  packages/p2p/src/components/order-details/__test__/order-details-cancel-modal.spec.js
  packages/p2p/src/components/order-details/order-details-footer.jsx
  packages/p2p/src/constants/modals.js
  packages/p2p/src/stores/order-store.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: table responsive
  packages/appstore/src/components/modals/regulators-compare-modal/regulators-compare-modal-content.tsx
  packages/appstore/src/components/modals/regulators-compare-modal/regulators-compare-modal.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: resolved pr comment
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: conflict resolve
  packages/cfd/src/Containers/mt5-compare-table-content.tsx
Due: prettier --write, npx eslint --fix

fix: style
  packages/appstore/src/components/modals/regulators-compare-modal/regulators-compare-modal.scss
  packages/appstore/src/components/modals/regulators-compare-modal/regulators-compare-modal.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: charts tab-responsive-markets container & markets dropdown, toolbar widgets & showing window
  packages/bot-web-ui/src/components/chart/chart.scss
  packages/bot-web-ui/src/components/chart/toolbar-widgets.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: fixing broken merged pr
  packages/components/src/components/numpad/step-input.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: fixed typo
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: remove zoomer for responsive
  packages/bot-web-ui/src/components/chart/chart.tsx
Due: prettier --write, npx eslint --fix

fix: scrolling for mobile view
  packages/appstore/src/components/modals/regulators-compare-modal/regulators-compare-modal.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

perf: replace connect with useStore, fix tests
  packages/cashier/src/pages/payment-agent/__tests__/payment-agent.spec.js
  packages/cashier/src/pages/payment-agent/payment-agent-container/__tests__/payment-agent-container.spec.js
  packages/cashier/src/pages/payment-agent/payment-agent-container/payment-agent-container.jsx
  packages/cashier/src/pages/payment-agent/payment-agent-list/deposit-tab.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-list/payment-agent-list.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-list/withdrawal-tab.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-listed-withdraw-form/__tests__/payment-agent-listed-withdraw-form.spec.js
  packages/cashier/src/pages/payment-agent/payment-agent-listed-withdraw-form/payment-agent-listed-withdraw-form.jsx
  packages/cashier/src/pages/payment-agent/payment-agent-receipt/__tests__/payment-agent-receipt.spec.js
  packages/cashier/src/pages/payment-agent/payment-agent-receipt/payment-agent-receipt.jsx
  packages/cashier/src/pages/payment-agent/payment-agent-search-box/payment-agent-search-box.jsx
  packages/cashier/src/pages/payment-agent/payment-agent-unlisted-withdraw-form/__tests__/payment-agent-withdraw-form.spec.js
  packages/cashier/src/pages/payment-agent/payment-agent-unlisted-withdraw-form/payment-agent-unlisted-withdraw-form.jsx
  packages/cashier/src/pages/payment-agent/payment-agent-withdraw-confirm/__tests__/payment-agent-withdraw-confirm.spec.js
  packages/cashier/src/pages/payment-agent/payment-agent-withdraw-confirm/payment-agent-withdraw-confirm.jsx
  packages/cashier/src/pages/payment-agent/payment-agent.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: update questions (#7101)
  packages/account/src/Configs/trading-assessment-config.js
  packages/components/src/components/radio-group/radio-group.scss
  packages/components/src/components/radio-group/radio-group.tsx
  packages/core/src/sass/account-wizard.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: :ambulance: modified condition for deposit locked for MF account (#7140)
  packages/cashier/src/stores/deposit-store.ts
Due: prettier --write, npx eslint --fix

fix: position drawer background
  packages/trader/src/sass/app/_common/drawer/positions-drawer.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: remove better spreads from BVI
  packages/cfd/src/Constants/jurisdiction-contents.ts
Due: prettier --write, npx eslint --fix

chore: merge changes from master
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/containers/currency-switcher-container.scss
  packages/appstore/src/components/currency-switcher-card/demo/demo-account-card.tsx
  packages/appstore/src/components/currency-switcher-card/index.tsx
  packages/appstore/src/components/main-title-bar/account-type-dropdown.tsx
  packages/appstore/src/components/main-title-bar/asset-summary.scss
  packages/appstore/src/components/main-title-bar/asset-summary.tsx
  packages/appstore/src/components/main-title-bar/regulators-switcher.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/appstore/src/constants/platform-config.ts
  packages/appstore/src/modules/onboarding/onboarding.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/appstore/src/modules/trading-hub/index.tsx
  packages/appstore/src/stores/root-store.ts
  packages/appstore/src/types/common.types.ts
  packages/appstore/src/types/stores.types.ts
  packages/components/src/components/text/text.tsx
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Fix merge conflicts
  packages/p2p/src/constants/modals.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: reverted merge
  .husky/commit-msg
  packages/p2p/crowdin/messages.json
  packages/p2p/src/components/online-status/online-status.scss
  packages/p2p/src/translations/id.json
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: reverted translations
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

refactor: ts migration for self-exclusion-context
  packages/account/src/Components/self-exclusion/self-exclusion-context.tsx
Due: prettier --write, npx eslint --fix

chore: reverted translations
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: reverted translations
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

refactor: change some logic
  packages/account/src/Components/poi/status/unsupported/card-details/card-details.tsx
  packages/account/src/Components/poi/status/unsupported/detail-component.tsx
  packages/account/src/Components/poi/status/unsupported/unsupported.tsx
Due: prettier --write, npx eslint --fix

fix: ad form for new advertisers (#7149)
  packages/p2p/src/stores/general-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Ameerul /Task 67580 Improve behaviour of editing payment method in Buy Ads (#6258)
  packages/components/src/components/autocomplete/autocomplete.jsx
  packages/components/src/components/icon/icon.tsx
  packages/components/src/components/types/icons.types.ts
  packages/p2p/src/components/my-ads/buy-ad-payment-methods-list.jsx
  packages/p2p/src/components/my-ads/buy-ad-payment-methods-list.scss
  packages/p2p/src/components/my-ads/create-ad-form.jsx
  packages/p2p/src/components/my-ads/edit-ad-form.jsx
  packages/p2p/src/stores/my-ads-store.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

hamid/75900/hide-sidenote-when-switch-account (#6441)
  packages/cashier/src/pages/on-ramp/on-ramp.tsx
  packages/cashier/src/stores/deposit-store.ts
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

feat: disable poinc menu button if not required
  packages/account/src/Containers/account.jsx
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor(cashier): :fire: remove `is_deposit_locked` from `DepositStore`
  packages/cashier/src/components/cashier-locked/cashier-locked.tsx
  packages/cashier/src/components/no-balance/no-balance.tsx
  packages/cashier/src/pages/deposit/deposit.tsx
  packages/cashier/src/pages/on-ramp/on-ramp.tsx
  packages/cashier/src/stores/__tests__/deposit-store.spec.js
  packages/cashier/src/stores/deposit-store.ts
  packages/hooks/src/useDepositLocked.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor(cashier): :fire: remove `submitFundsProtection` from `DepositStore`
  packages/cashier/package.json
  packages/cashier/src/components/funds-protection/funds-protection.tsx
  packages/cashier/src/stores/__tests__/deposit-store.spec.js
  packages/cashier/src/stores/deposit-store.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: renaming e to is_cfd_poi_completed
  packages/account/src/Components/poi/status/unsupported/card-details/card-details.tsx
Due: prettier --write, npx eslint --fix

refactor: remove unnecessary prop types
  packages/cashier/src/pages/payment-agent/payment-agent-container/payment-agent-container.jsx
  packages/cashier/src/pages/payment-agent/payment-agent-listed-withdraw-form/payment-agent-listed-withdraw-form.jsx
  packages/cashier/src/pages/payment-agent/payment-agent-receipt/payment-agent-receipt.jsx
  packages/cashier/src/pages/payment-agent/payment-agent-search-box/payment-agent-search-box.jsx
  packages/cashier/src/pages/payment-agent/payment-agent-unlisted-withdraw-form/payment-agent-unlisted-withdraw-form.jsx
  packages/cashier/src/pages/payment-agent/payment-agent-withdraw-confirm/payment-agent-withdraw-confirm.jsx
  packages/cashier/src/pages/payment-agent/payment-agent.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
