Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: variable usage
  packages/core/src/App/Components/Layout/Header/menu-link.tsx
Due: prettier --write, npx eslint --fix

refactor: new hook
  packages/appstore/src/components/transaction-list/transaction-list.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useWalletStatement.ts
Due: prettier --write, npx eslint --fix

fix: code_review_suggestions
  packages/core/src/Stores/notification-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: qa raised issues
  packages/core/src/Stores/notification-store.js
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/modal-manager/modals/email-link-verified-modal/email-link-verified-modal.jsx
  packages/p2p/src/components/order-details/order-details.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: add some properties to iseWalletList result
  packages/hooks/src/useWalletsList.ts
Due: prettier --write, npx eslint --fix

fix: sonarcloud warnings
  packages/shared/src/utils/contract/contract.ts
Due: prettier --write, npx eslint --fix

refactor: useWalletsList.ts changes by @sergei-deriv
  packages/hooks/src/useWalletsList.ts
Due: prettier --write, npx eslint --fix

feat: refactor useWalletsList
  packages/hooks/src/useCurrencyConfig.ts
  packages/hooks/src/useWalletsList.ts
Due: prettier --write, npx eslint --fix

refactor: continuation of the prev commit
  packages/hooks/src/useCurrencyConfig.ts
  packages/hooks/src/useWalletsList.ts
Due: prettier --write, npx eslint --fix

chore: improve types as per reviews
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

feat: check for demo icon in useWalletList
  packages/hooks/src/useWalletsList.ts
Due: prettier --write, npx eslint --fix

feat: refactor progress-bar-onboarding
  packages/components/src/components/progress-bar-onboarding/progress-bar-onboarding.tsx
Due: prettier --write, npx eslint --fix

feat: add configuration for the jest tests for bot-skelethon package
  packages/bot-skeleton/jest.config.js
  packages/bot-skeleton/package.json
Due: prettier --write, npx eslint --fix

feat: add jest tests for api middleware
  packages/bot-skeleton/src/services/api/__tests__/datadog-middleware.spec.ts
  packages/bot-skeleton/src/services/api/api-middleware.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Test build
  README.md
Due: prettier --write

refactor: typescript shenanigans
  packages/appstore/src/components/transaction-list/transaction-list.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useWalletTransactions.ts
Due: prettier --write, npx eslint --fix

fix: fix pr comments
  packages/components/src/components/wallet-icon/wallet-icon.tsx
Due: prettier --write, npx eslint --fix

feat: add carousel and refactor all wallets
  packages/appstore/package.json
  packages/appstore/src/components/containers/wallet.tsx
  packages/appstore/src/components/wallet-cards-carousel/cards-slider-swiper.tsx
  packages/appstore/src/components/wallet-cards-carousel/wallet-cards-carousel.scss
  packages/appstore/src/components/wallet-cards-carousel/wallet-cards-carousel.tsx
  packages/appstore/src/components/wallet-content/wallet-cfds-listing.tsx
  packages/appstore/src/components/wallet-content/wallet-option-multipliers-listing.tsx
  packages/appstore/src/components/wallet-header/wallet-currency-card.tsx
  packages/appstore/src/components/wallet-header/wallet-header-balance.tsx
  packages/appstore/src/components/wallet-header/wallet-header-title.tsx
  packages/appstore/src/components/wallet-header/wallet-header.tsx
  packages/appstore/src/constants/utils.ts
  packages/appstore/src/modules/traders-hub/account-with-wallets.tsx
  packages/appstore/src/types/common.types.ts
  packages/hooks/src/useWalletsList.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: poinc container, verifications ts migration
  packages/account/src/Sections/Verification/Helpers/verification.ts
  packages/account/src/Sections/Verification/ProofOfIncome/proof-of-income-container.tsx
Due: prettier --write, npx eslint --fix

refactor: ts refactoring
  packages/account/src/Components/poi-poa-docs-submitted/poi-poa-docs-submitted.tsx
  packages/account/src/Components/poi/status/verified/verified.tsx
  packages/account/src/Components/poinc/status/unverified/unverified.tsx
  packages/account/src/Helpers/utils.ts
  packages/account/src/Sections/Verification/Helpers/verification.ts
  packages/account/src/Sections/Verification/ProofOfIncome/proof-of-income-container.tsx
  packages/account/src/Sections/Verification/ProofOfIncome/proof-of-income-utils.ts
  packages/account/src/Sections/Verification/ProofOfIncome/proof-of-income.tsx
Due: prettier --write, npx eslint --fix

fix: Close the bot when there is no defined step on block 4
  src/botPage/view/TradeInfoPanel/AnimateTrade.js
  src/botPage/view/TradeInfoPanel/ClearButton.js
Due: prettier --write, npx eslint --fix

chore: fix indents
  src/botPage/view/TradeInfoPanel/AnimateTrade.js
  src/botPage/view/TradeInfoPanel/ClearButton.js
Due: prettier --write, npx eslint --fix

Change resource_class to large
  .circleci/config.yml
Due: none

feat: comment currency_display_code
  packages/hooks/src/useWalletsList.ts
Due: prettier --write, npx eslint --fix

feat: change useWalletList hook again
  packages/hooks/src/__tests__/useWalletsList.spec.tsx
  packages/hooks/src/useCurrencyConfig.ts
  packages/hooks/src/useWalletsList.ts
Due: prettier --write, npx eslint --fix

feat: repair wallet-cards-carousel tests
  packages/appstore/src/components/wallet-cards-carousel/__tests__/wallet-cards-carousel.spec.tsx
Due: prettier --write, npx eslint --fix

feat: repair tests for wallet-header
  packages/appstore/src/components/wallet-header/__tests__/wallet-header.spec.tsx
  packages/appstore/src/components/wallet-header/wallet-header.tsx
Due: prettier --write, npx eslint --fix

feat: add tests for badge in wallet-header
  packages/appstore/src/components/wallet-header/__tests__/wallet-header.spec.tsx
Due: prettier --write, npx eslint --fix

feat: delete unuses type
  packages/appstore/src/components/wallet-header/__tests__/wallet-header.spec.tsx
Due: prettier --write, npx eslint --fix

feat: add clear all functionality
  packages/core/src/App/Components/mock-controls/mock-dialog.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

fix: tests and address comments
  packages/appstore/src/components/containers/__tests__/wallets.spec.tsx
  packages/appstore/src/components/modals/wallet-modal/__tests__/wallet-modal.spec.tsx
  packages/appstore/src/components/modals/wallet-modal/wallet-modal.tsx
  packages/appstore/src/components/wallet-content/__tests__/wallet-content.spec.tsx
  packages/appstore/src/components/wallet-content/wallet-content.tsx
  packages/appstore/src/components/wallet-header/__tests__/wallet-header.spec.tsx
  packages/appstore/src/components/wallet-header/wallet-header-buttons.tsx
  packages/hooks/src/__tests__/useActiveWallet.spec.tsx
  packages/hooks/src/__tests__/useWalletModalActionHandler.spec.tsx
  packages/hooks/src/__tests__/useWalletsList.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useActiveWallet.ts
  packages/hooks/src/useWalletModalActionHandler.ts
  packages/hooks/src/useWalletsList.ts
Due: prettier --write, npx eslint --fix

feat: add tests for modals
  packages/trader/src/App/Components/Elements/Modals/MarketUnavailableModal/__tests__/market-unavailable.spec.jsx
  packages/trader/src/App/Components/Elements/Modals/UnsupportedContractModal/__tests__/unsupported-contract-modal.spec.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: iOS spacing issue
  packages/trader/src/sass/app/_common/components/contract-type-dialog.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

Change resource_class to large (#9073)
  .circleci/config.yml
Due: none

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

fix: use debounce instead of settimeout
  package-lock.json
  packages/appstore/package.json
  packages/appstore/src/components/modals/wallet-modal/wallet-modal.tsx
  packages/appstore/src/components/wallet-header/wallet-header-buttons.tsx
  packages/core/src/Stores/traders-hub-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: updated block menu labels
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/toolbox-items.tsx
Due: prettier --write, npx eslint --fix

fix: stop bot if device in sleep mode
  packages/bot-skeleton/src/scratch/dbot-store.js
  packages/bot-skeleton/src/services/api/api-base.js
  packages/bot-web-ui/src/stores/app-store.js
  packages/bot-web-ui/src/stores/run-panel-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: add values to the mock store
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/trader/src/App/Components/Elements/Modals/MarketUnavailableModal/__tests__/market-unavailable.spec.jsx
  packages/trader/src/App/Components/Elements/Modals/UnsupportedContractModal/__tests__/unsupported-contract-modal.spec.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
