Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

perf: :art: refactor condition
  packages/cashier/src/stores/account-transfer-store.ts
Due: prettier --write, npx eslint --fix

chore: null case for passkey feature flag
  packages/hooks/src/useIsPasskeySupported.ts
Due: prettier --write, npx eslint --fix

chore: review comments
  packages/account/src/Sections/Security/Passkeys/components/passkey-card.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-status.tsx
Due: prettier --write, npx eslint --fix

chore: review comments
  packages/api/types.ts
Due: prettier --write, npx eslint --fix

feat: added content to table
  packages/account-v2/src/pages/LoginHistoryTable/LoginHistoryTable.tsx
Due: prettier --write, npx eslint --fix

fix: index
  packages/account-v2/src/constants/routesConfig.tsx
Due: prettier --write, npx eslint --fix

fix: index
  packages/account-v2/src/pages/LoginHistoryTable/LoginHistoryTable.tsx
Due: prettier --write, npx eslint --fix

test: help-content file
  packages/bot-web-ui/src/utils/help-content/__tests__/help-content.config.spec.ts
Due: prettier --write, npx eslint --fix

fix: rename components
  packages/account-v2/src/constants/routesConfig.tsx
  packages/account-v2/src/pages/LoginHistory/LoginHistoryTable.tsx
  packages/account-v2/src/pages/LoginHistory/index.ts
  packages/account-v2/src/pages/LoginHistoryTable/index.ts
Due: prettier --write, npx eslint --fix

fix: removed extra blank space
  packages/account-v2/src/pages/LoginHistory/LoginHistoryTable.tsx
Due: prettier --write, npx eslint --fix

feat: added TransferReceipt
  packages/cashier-v2/src/components/TradingAppIcon/TradingAppIcon.tsx
  packages/cashier-v2/src/components/TradingAppIcon/index.ts
  packages/cashier-v2/src/components/index.ts
  packages/cashier-v2/src/helpers/helpers.ts
  packages/cashier-v2/src/lib/Transfer/components/TransferReceipt/TransferReceipt.module.scss
  packages/cashier-v2/src/lib/Transfer/components/TransferReceipt/TransferReceipt.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: past orders
  packages/p2p-v2/src/pages/orders/components/OrderRatingButton/OrderRatingButton.scss
  packages/p2p-v2/src/pages/orders/components/OrderRatingButton/OrderRatingButton.tsx
  packages/p2p-v2/src/pages/orders/components/OrderRatingButton/__tests__/OrderRatingButton.spec.tsx
  packages/p2p-v2/src/pages/orders/components/OrderRatingButton/index.ts
  packages/p2p-v2/src/pages/orders/components/index.ts
  packages/p2p-v2/src/pages/orders/screens/Orders/OrdersTableRow/OrdersTableRow.tsx
  packages/p2p-v2/src/pages/orders/screens/Orders/OrdersTableRow/__tests__/OrderTableRow.spec.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: added type
  packages/p2p-v2/src/pages/orders/screens/Orders/OrdersTableRow/OrdersTableRow.tsx
Due: prettier --write, npx eslint --fix

build: update charts version to patched 2.1.5
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Due: prettier --write

chore: remove scroll styling
  packages/p2p-v2/src/components/BuySellForm/BuySellForm.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

build: update charts version to patched 2.1.5 (#14047)
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Due: prettier --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/vi.json
Due: prettier --write

chore: update data-testid to snake_case
  packages/account-v2/src/components/Dropzone/Dropzone.tsx
  packages/account-v2/src/components/Dropzone/__tests__/Dropzone.spec.tsx
Due: prettier --write, npx eslint --fix

chore: update deriv-com/ui version to fix text-size
  package-lock.json
  packages/account-v2/package.json
  packages/cashier-v2/package.json
  packages/p2p-v2/package.json
  packages/tradershub/package.json
Due: prettier --write

[BOT] chore: add chart functionality (#14024)
  packages/bot-web-ui/src/pages/chart/chart.tsx
  packages/bot-web-ui/src/pages/main/main.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: launch real account creation modal fix
  packages/tradershub/src/components/GetADerivAccountBanner/GetADerivAccountBanner.tsx
  packages/tradershub/src/components/GetADerivAccountBanner/GetADerivAccountDialog.tsx
  packages/tradershub/src/components/GetDerivAccount/GetDerivAccount.tsx
Due: prettier --write, npx eslint --fix

chore: replace CONSTANT_VALUE to constant_value following airbnb format
  packages/account-v2/src/constants/manualDocument.tsx
  packages/account-v2/src/constants/manualFormConstants.tsx
  packages/account-v2/src/containers/ManualForm/__tests__/ManualForm.spec.tsx
  packages/account-v2/src/hooks/__tests__/useManualForm.spec.ts
  packages/account-v2/src/hooks/useManualForm.ts
  packages/account-v2/src/utils/idvFormUtils.ts
Due: prettier --write, npx eslint --fix

chore: update deriv-com/ui version to fix text-size (#14049)
  package-lock.json
  packages/account-v2/package.json
  packages/cashier-v2/package.json
  packages/p2p-v2/package.json
  packages/tradershub/package.json
Due: prettier --write

chore: remove strength from current password text field
  packages/cfd/src/Containers/cfd-password-change.tsx
Due: prettier --write, npx eslint --fix

chore: typo an lowercase letter --> a lowercase letter
  packages/cfd/src/Containers/cfd-password-change.tsx
Due: prettier --write, npx eslint --fix

chore: change ONFIDO_PHRASES to include localize and make it into a function
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view-container.tsx
  packages/api/package.json
  packages/api/src/constants/onfido.ts
  packages/api/src/hooks/useOnfido.ts
Due: prettier --write, npx eslint --fix

chore: fix account type
  packages/tradershub/src/hooks/useRegulationFlags.ts
Due: prettier --write, npx eslint --fix

chore: change px to rem
  packages/reports/src/sass/app/modules/reports.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

[TRAH] Mitra/ TRAH-2645 / add unique data test id for card containers (#13982)
  packages/appstore/src/components/containers/trading-app-card.tsx
Due: prettier --write, npx eslint --fix

chore: fix account type (#14052)
  packages/tradershub/src/hooks/useRegulationFlags.ts
Due: prettier --write, npx eslint --fix

chore: add remote config url to webpack config
  packages/bot-web-ui/webpack.config.js
Due: prettier --write, npx eslint --fix

chore: add color to button for outlined variant
  packages/tradershub/src/components/CurrencySwitcher/CurrencySwitcher.tsx
  packages/tradershub/src/components/DemoRealSwitcher/DemoRealSwitcher.tsx
  packages/tradershub/src/components/GetADerivAccountBanner/GetADerivAccountDialog.tsx
  packages/tradershub/src/components/ProgressBar/ProgressBar.classnames.ts
  packages/tradershub/src/components/SentEmailContent/SentEmailContent.tsx
  packages/tradershub/src/constants/constants.tsx
  packages/tradershub/src/features/cfd/flows/CTrader/AddedCTraderAccountsList/AddedCTraderAccountsList.tsx
  packages/tradershub/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
  packages/tradershub/src/features/cfd/flows/OtherCFDs/Dxtrade/AddedDxtradeAccountsList/AddedDxtradeAccountsList.tsx
  packages/tradershub/src/features/cfd/modals/ButtonGroups/AddAccountButtonsGroup.tsx
  packages/tradershub/src/features/cfd/modals/ButtonGroups/SuccessButtonGroup.tsx
  packages/tradershub/src/features/cfd/modals/CTraderSuccessModal/CTraderSuccessModal.tsx
  packages/tradershub/src/features/cfd/screens/ChangePassword/TradingPlatformChangePasswordScreens.tsx
  packages/tradershub/src/features/cfd/screens/EnterPassword/EnterPassword.tsx
  packages/tradershub/src/flows/RealAccountCreation/WizardScreenActions/WizardScreenActions.tsx
  packages/tradershub/src/modals/ExitConfirmationDialog/ExitConfirmationDialog.tsx
Due: prettier --write, npx eslint --fix

chore: added localize to strings
  packages/bot-web-ui/src/components/bot-notification/__tests__/bot-notification.spec.tsx
  packages/bot-web-ui/src/components/bot-notification/bot-notification-utils.ts
Due: prettier --write, npx eslint --fix

chore: disable fiat currencies
  packages/tradershub/src/hooks/useCurrencies.ts
  packages/tradershub/src/modals/AddOrManageAccount/AddOrManageAccount.tsx
  packages/tradershub/src/modals/AddOrManageAccount/CurrenciesForm.tsx
Due: prettier --write, npx eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
