Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: handle turbos and vanillas cases
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake-input.tsx
Due: prettier --write, npx eslint --fix

chore: update utils, analytics packages
  package-lock.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/api/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/p2p/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Due: prettier --write

fix: fetch country from utils
  packages/core/src/Stores/client-store.js
  packages/core/src/Utils/Analytics/index.ts
  packages/utils/src/__tests__/getCountry.spec.ts
  packages/utils/src/getCountry.ts
  packages/utils/src/index.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: added gold compare accounts
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts-card.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts-title-icon.tsx
  packages/cfd/src/Helpers/cfd-config.ts
  packages/cfd/src/Helpers/compare-accounts-config.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

feat: added gold demo compare accounts
  packages/cfd/src/Helpers/compare-accounts-config.ts
Due: prettier --write, npx eslint --fix

fix: comment fix
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-web-ui/src/stores/run-panel-store.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: rely on is_fetching flag
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake-input.tsx
Due: prettier --write, npx eslint --fix

fix: build issue
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

chore: update utils package to fix state regex issue
  package-lock.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/api/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/p2p/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Due: prettier --write

fix: mock analytics in test cases
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.tsx
  packages/account/src/Sections/Security/Passkeys/__tests__/passkeys.spec.tsx
  packages/cfd/src/Containers/migration-banner/__test__/migration-banner.spec.tsx
  packages/components/src/components/icon/icons.js
  packages/core/src/App/Containers/RealAccountSignup/__tests__/real-account-signup.spec.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: add barrier to the array with dependencies
  packages/trader/src/AppV2/Components/TradeParameters/PayoutPerPoint/payout-per-point-wheel.tsx
Due: prettier --write, npx eslint --fix

chore: trustpilot changes (#17581)
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/notification-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

[UPM1755] Suisin/chore: update utils package to fix state regex issue (#17655)
  package-lock.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/api/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/p2p/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Due: prettier --write

feat: add error handling in snackbar
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake-input.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake_2.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
  packages/trader/src/AppV2/Hooks/useTradeError.ts
Due: prettier --write, npx eslint --fix

revert: extra non-aligned file from master
  packages/cashier/src/stores/withdraw-store.ts
  packages/shared/src/utils/constants/contract.ts
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountCard/TransferFormAccountCard.tsx
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useExtendedTransferAccountProperties.ts
  packages/wallets/src/features/cashier/modules/Transfer/provider/TransferProvider.tsx
  packages/wallets/src/features/cfd/components/PlatformStatusBadge/PlatformStatusBadge.tsx
  packages/wallets/src/features/cfd/constants.tsx
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/hooks/useAddedMT5Account.ts
  packages/wallets/src/features/cfd/flows/MT5/AvailableMT5AccountsList/__test__/AvailableMT5AcountsList.spec.tsx
Due: prettier --write, npx eslint --fix

chore: hide sms based on carriers available
  packages/account/src/Sections/Profile/PhoneVerification/confirm-phone-number.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: change from normal input field to dropdown with input field for confirm phone number screen
  packages/account/src/Sections/Profile/PhoneVerification/confirm-phone-number.tsx
Due: prettier --write, npx eslint --fix

chore: add code dropdown in legacy settings page
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
  packages/account/src/Styles/account.scss
  packages/components/src/components/select-native/select-native.tsx
  packages/hooks/src/useGetPhoneNumberList.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: update phone number dropdown list and added a hook
  packages/account/src/Sections/Profile/PhoneVerification/confirm-phone-number.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useGetPhoneNumberList.ts
Due: prettier --write, npx eslint --fix

chore: update functionality for phone number in personal details
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
  packages/account/src/Styles/account.scss
  packages/api/types.ts
  packages/hooks/src/useGetPhoneNumberList.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: add validation for calling_country_code and fix logics for FF off
  packages/account/src/Configs/user-profile-validation-config.ts
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
  packages/account/src/Sections/Profile/PhoneVerification/confirm-phone-number.tsx
  packages/components/src/components/select-native/select-native.tsx
  packages/hooks/src/__tests__/useGetPhoneNumberList.spec.tsx
  packages/hooks/src/useGetPhoneNumberList.ts
Due: prettier --write, npx eslint --fix

chore: change display mobile number in phone otp verification page and verified modal
  packages/account/src/Sections/Profile/PhoneVerification/confirm-phone-number.tsx
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-number-verified-modal.tsx
Due: prettier --write, npx eslint --fix

chore: make inputmode numeric
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
Due: prettier --write, npx eslint --fix

chore: fix test case and changes validation based on FF
  packages/account/src/Configs/__test__/user-profile-validation.spec.ts
  packages/account/src/Configs/user-profile-validation-config.ts
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/validation.spec.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
  packages/account/src/Sections/Profile/PhoneVerification/__test__/confirm-phone-number.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/__test__/validation.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/confirm-phone-number.tsx
  packages/account/src/Sections/Profile/PhoneVerification/validation.ts
  packages/account/src/Types/common.type.ts
  packages/hooks/src/__tests__/useGetPhoneNumberList.spec.tsx
  packages/hooks/src/useGetPhoneNumberList.ts
Due: prettier --write, npx eslint --fix

chore: upgrade quill-ui package for Input Phone Number component
  package-lock.json
  packages/account/package.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Due: prettier --write

chore: upgrade package to add more flags in country code drop down
  package-lock.json
  packages/account/package.json
  packages/account/src/Sections/Profile/PhoneVerification/__test__/confirm-phone-number.spec.tsx
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Due: prettier --write, npx eslint --fix

chore: call phone_settings on first initialization
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification-page.tsx
  packages/core/src/Services/socket-general.js
  packages/core/src/Stores/client-store.js
  packages/core/src/_common/base/socket_base.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: fix mobile modal for input phone number dropdown
  packages/account/src/App.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/account/src/Styles/account.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: add loading checks for confirm phone number screen
  packages/account/src/Sections/Profile/PhoneVerification/confirm-phone-number.tsx
  packages/hooks/src/useGetPhoneNumberList.ts
Due: prettier --write, npx eslint --fix

chore: fix verified hint message
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/account/src/Styles/account.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: hide verify and notification if carriers are empty
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/account/src/Sections/Profile/PhoneVerification/__test__/phone-verification-page.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification-page.tsx
  packages/core/src/Services/socket-general.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/notification-store.js
  packages/hooks/src/useGetPhoneNumberList.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: fix changing language logs user out issue
  packages/hooks/src/useGetPhoneNumberList.ts
Due: prettier --write, npx eslint --fix

chore: add condition for displaying sms and whatsapp button
  packages/account/src/Sections/Profile/PhoneVerification/confirm-phone-number.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification.scss
  packages/hooks/src/useGetPhoneNumberList.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: fix unable to submit profile settings
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
Due: prettier --write, npx eslint --fix

chore: change select native to include boolean value
  packages/account/src/Components/forms/form-select-field.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/components/src/components/select-native/select-native.tsx
Due: prettier --write, npx eslint --fix

chore: update logic lo check global carriers
  packages/account/src/Sections/Profile/PhoneVerification/__test__/confirm-phone-number.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/confirm-phone-number.tsx
  packages/hooks/src/__tests__/useGetPhoneNumberList.spec.tsx
  packages/hooks/src/useGetPhoneNumberList.ts
Due: prettier --write, npx eslint --fix

chore: add check to hide or display verify button
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
  packages/hooks/src/__tests__/useGetPhoneNumberList.spec.tsx
  packages/hooks/src/useGetPhoneNumberList.ts
Due: prettier --write, npx eslint --fix

chore: update code based on comments
  packages/account/src/Configs/user-profile-validation-config.ts
  packages/account/src/Sections/Profile/PhoneVerification/__test__/otp-verification.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/__test__/phone-number-verified-modal.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/confirm-phone-number.tsx
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-number-verified-modal.tsx
  packages/account/src/Sections/Profile/PhoneVerification/validation.ts
  packages/hooks/src/useGetPhoneNumberList.ts
Due: prettier --write, npx eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
