Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

chore: resolve logged out header issue
  packages/wallets/src/hooks/useWalletAccountSwitcher.ts
Due: prettier --write, npx eslint --fix

chore: fix test
  packages/hooks/src/useGrowthbookGetFeatureValue.ts
  packages/hooks/src/useOauth2.ts
Due: prettier --write, npx eslint --fix

chore: update badge size
  packages/wallets/src/components/DerivAppsSection/DerivAppsTradingAccount.tsx
  packages/wallets/src/components/WalletListCardDropdown/WalletListCardDropdown.tsx
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
Due: prettier --write, npx eslint --fix

ci: fix failing tests
  packages/wallets/src/components/OptionsAndMultipliersListing/__test__/OptionsAndMultipliersListing.spec.tsx
Due: prettier --write, npx eslint --fix

fix: failing testcase
  packages/account/src/Sections/Assessment/FinancialAssessment/__tests__/financial-assessment.spec.tsx
Due: prettier --write, npx eslint --fix

fix: change selector after library update (#16980)
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/steps-config.tsx
Due: prettier --write, npx eslint --fix

feat: delay position card animation until onboarding is closed (#16967)
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/__tests__/onboarding-guide.spec.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/onboarding-guide.tsx
  packages/trader/src/AppV2/Containers/Positions/positions.tsx
Due: prettier --write, npx eslint --fix

[DTRA-V2] DTRA-1899 fix: add snackbar message when theres an error on initial mount (#16938)
  packages/trader/src/AppV2/Components/TradeParameters/Stake/__tests__/stake.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters-container.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

fix: :ambulance: fix action
  .github/actions/npm_install_from_cache/action.yml
  .github/workflows/coveralls.yml
Due: none

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

fix: sonarcloud smell
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/TransactionsPendingRow.tsx
  packages/wallets/src/hooks/useLanguage.ts
Due: prettier --write, npx eslint --fix

fix: fix
  packages/trader/src/AppV2/Components/TradeParameters/Duration/container.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: fix cache
  .github/workflows/coveralls.yml
  package.json
Due: prettier --write

feat: cache
  package.json
Due: prettier --write

fix: to check if it is a touch device before calling click callback
  packages/trader/src/AppV2/Components/DraggableList/draggable-list-item.tsx
Due: prettier --write, npx eslint --fix

feat: 1
  .github/workflows/coveralls.yml
  package.json
Due: prettier --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

feat: 1
  .github/workflows/coveralls.yml
Due: none

fix: removed un-necessary condition
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
Due: prettier --write, npx eslint --fix

feat: 2
  .github/workflows/coveralls.yml
Due: none

fix(cashier): :ambulance: add trusted origins (#16922)
  packages/cashier/src/stores/__tests__/iframe-store.spec.ts
  packages/cashier/src/stores/iframe-store.ts
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/bn.json
Due: prettier --write

feat: add stake default value
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
  packages/trader/src/AppV2/Hooks/useContractsForCompany.ts
  packages/trader/src/Types/common-prop.type.ts
Due: prettier --write, npx eslint --fix

refactor: removed unnessesary props
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/onboarding-guide.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/TradeTypesSelectionGuide/trade-types-selection-guide.tsx
  packages/trader/src/AppV2/Components/RiskManagementInfoModal/risk-management-info-modal.tsx
Due: prettier --write, npx eslint --fix

feat: 3
  .github/workflows/coveralls.yml
Due: none

Update action.yml
  .github/actions/npm_install_from_cache/action.yml
Due: none

Update TransferErrorScreen.tsx
  packages/wallets/src/features/cashier/screens/TransferErrorScreen/TransferErrorScreen.tsx
Due: prettier --write, npx eslint --fix

feat: set stake back to default on trade type switch
  packages/shared/src/utils/constants/contract.ts
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
Due: prettier --write, npx eslint --fix

feat: 5
  .github/workflows/coveralls.yml
Due: none

feat: change class
  packages/wallets/src/features/cashier/modules/TransactionStatus/components/CryptoTransaction/CryptoTransaction.tsx
Due: prettier --write, npx eslint --fix

feat: 7
  .github/workflows/coveralls.yml
Due: none

feat: reset tp on trade type swicth
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
Due: prettier --write, npx eslint --fix

DTRA-2003 / Kate / [DTrader-V2] Blinking of 'Close' market (#16977)
  packages/trader/src/AppV2/Components/MarketSelector/__tests__/market-selector.spec.tsx
  packages/trader/src/AppV2/Components/MarketSelector/market-selector.tsx
Due: prettier --write, npx eslint --fix

fix: add location check for showing loader (#17009)
  packages/core/src/App/Components/Routes/binary-routes.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write
