Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

chore: change test text
  packages/trader/src/App/Components/Elements/Errors/__tests__/error-component.spec.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: complete tests
  packages/appstore/src/components/wallet-header/__tests__/wallet-header.spec.tsx
  packages/appstore/src/components/wallet-header/wallet-header-buttons.tsx
  packages/appstore/src/components/wallet-header/wallet-header.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
Due: prettier --write, npx eslint --fix

feat: initial commit
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: change var name
  packages/appstore/src/components/wallet-header/wallet-header.scss
  packages/shared/src/styles/themes.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: add 3 more tests
  packages/appstore/src/components/wallet-header/__tests__/wallet-header.spec.tsx
  packages/appstore/src/components/wallet-header/wallet-header.tsx
Due: prettier --write, npx eslint --fix

fix: audit npm packages
  package-lock.json
  package.json
  packages/account/package.json
  packages/appstore/package.json
  packages/bot-web-ui/package.json
  packages/cashier/package-lock.json
  packages/cashier/package.json
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/p2p/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/shared/src/utils/url/__tests__/url.js
  packages/trader/package.json
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: add 1 more test for logout
  packages/appstore/src/components/wallets-banner/__tests__/wallets-banner.spec.tsx
Due: prettier --write, npx eslint --fix

feat: add icons
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: add wallet.scss to app.scss
  packages/core/src/sass/app.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: props passing data instead of connect
  packages/account/src/Components/poi/poi-confirm-with-example-form-container/poi-confirm-with-example-form-container.tsx
  packages/account/src/Components/poi/status/unsupported/detail-component.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container-for-mt5.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission-for-mt5.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity.jsx
  packages/cfd/src/Components/cfd-poi.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: p2p tabs index files and route configs
  packages/cashier/build/webpack.config.js
  packages/cashier/src/types/routes.types.ts
  packages/p2p/package.json
  packages/p2p/src/components/advertiser-page/index.js
  packages/p2p/src/components/buy-sell/index.js
  packages/p2p/src/components/my-ads/index.js
  packages/p2p/src/components/my-profile/my-profile-content.jsx
  packages/p2p/src/components/orders/index.js
  packages/p2p/src/components/orders/order-table/order-table-row.jsx
  packages/p2p/src/components/page-404/index.js
  packages/p2p/src/components/page-404/page-404.jsx
  packages/p2p/src/components/routes/binary-routes.jsx
  packages/p2p/src/components/routes/error-component.jsx
  packages/p2p/src/components/routes/index.js
  packages/p2p/src/components/routes/routes.jsx
  packages/p2p/src/index.js
  packages/p2p/src/stores/my-profile-store.js
  packages/p2p/src/stores/order-store.js
  packages/p2p/webpack.config.js
  packages/shared/src/utils/route/route.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: add wallet header
  packages/appstore/src/components/wallet/__tests__/wallet-header.spec.tsx
  packages/appstore/src/components/wallet/index.ts
  packages/appstore/src/components/wallet/wallet-currency-card.tsx
  packages/appstore/src/components/wallet/wallet-header-balance.tsx
  packages/appstore/src/components/wallet/wallet-header-buttons.tsx
  packages/appstore/src/components/wallet/wallet-header-title.tsx
  packages/appstore/src/components/wallet/wallet-header.scss
  packages/appstore/src/components/wallet/wallet-header.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/appstore/src/modules/traders-hub/traders-hub.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: p2p routing
  packages/core/src/App/Components/Routes/route-with-sub-routes.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/Stores/notification-store.js
  packages/p2p/src/components/app-content.jsx
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/my-profile/my-profile.jsx
  packages/p2p/src/components/routes/route-with-sub-routes.jsx
  packages/p2p/src/constants/routes-config.js
  packages/p2p/src/stores/general-store.js
  packages/shared/src/utils/routes/routes.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: remove extra changes
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/stores/my-profile-store.js
  packages/p2p/src/stores/order-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: add actions and button types
  packages/appstore/src/components/wallet-header/wallet-header-buttons.tsx
  packages/shared/src/styles/constants.scss
  packages/shared/src/styles/themes.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: remove extra changes
  packages/p2p/src/components/my-profile/my-profile-content.jsx
  packages/p2p/src/components/orders/order-table/order-table-row.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: fix scss var color
  packages/shared/src/styles/themes.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: update demo-bg-color
  packages/shared/src/styles/constants.scss
  packages/shared/src/styles/themes.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: undefined store
  packages/p2p/src/components/orders/order-table/order-table-row.jsx
  packages/p2p/src/stores/general-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: move wallet buttons creation function to utils
  packages/appstore/src/components/wallet-header/wallet-header-buttons.tsx
  packages/appstore/src/components/wallet-header/wallet-header.tsx
  packages/appstore/src/constants/utils.ts
Due: prettier --write, npx eslint --fix

feat: new tests added [WIP]
  packages/hooks/src/__tests__/usePlatformAccounts.spec.tsx
  packages/hooks/src/__tests__/usePlatformDemoAccount.spec.tsx
  packages/hooks/src/__tests__/usePlatformRealAccounts.spec.tsx
  packages/hooks/src/__tests__/useTotalAccountBalance.spec.tsx
Due: prettier --write, npx eslint --fix

perf: :art: add demo watermark
  packages/appstore/src/components/modals/cashier-wallet-modal/cashier-wallet-modal-header.tsx
  packages/appstore/src/components/modals/cashier-wallet-modal/cashier-wallet-modal.scss
  packages/appstore/src/public/images/wallet-demo-bg.svg
  packages/appstore/webpack.config.js
  packages/shared/src/styles/constants.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: chat box message after order creation
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/components/orders/chat/chat-message-text.jsx
  packages/p2p/src/components/orders/chat/chat-messages.jsx
  packages/p2p/src/components/orders/chat/chat-messages.scss
  packages/p2p/src/stores/sendbird-store.js
  packages/p2p/src/utils/chat-message.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: useTotalCurrency's test added
  packages/hooks/src/__tests__/useTotalAccountBalance.spec.tsx
Due: prettier --write, npx eslint --fix

feat: :art: refactor stylings of shared component
  packages/account/src/Components/poi/poi-confirm-with-example-form-container/poi-confirm-with-example-form-container.tsx
  packages/account/src/Components/poi/poi-confirm-with-example-form/poi-confirm-with-example-form.tsx
  packages/account/src/Styles/account.scss
  packages/core/src/sass/app/_common/components/onfido-container.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: test for useGetCfdAccounts added
  packages/hooks/src/__tests__/useCFDAccounts.spec.tsx
Due: prettier --write, npx eslint --fix

fix: account swircher blincking
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Hirad/94043: capitalized the Trader's Hub text (#8388)
  packages/appstore/src/components/main-title-bar/index.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

feat: removed chat footer from chat section
  packages/p2p/src/components/orders/chat/chat-footer.jsx
  packages/p2p/src/components/orders/chat/chat-footer.scss
  packages/p2p/src/utils/chat-message.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Hirad/94054/Added localize to demo text (#8395)
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/currency-switcher-card/demo/demo-account-card.tsx
Due: prettier --write, npx eslint --fix

refactor: to fix test case issue
  packages/shared/src/utils/files/__tests__/file-uploader-utils.spec.js
  packages/shared/src/utils/files/file-uploader-utils.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: to fix test case issue
  packages/shared/src/utils/files/__tests__/file-uploader-utils.spec.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: account swircher blincking (#8407)
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: added test cases for crypto-deposit.tsx
  packages/cashier/src/pages/deposit/crypto-deposit/__tests__/crypto-deposit.spec.tsx
  packages/components/src/components/icon/icons.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: added test cases for crypto-deposit.tsx
  packages/cashier/src/pages/deposit/crypto-deposit/__tests__/crypto-deposit.spec.tsx
Due: prettier --write, npx eslint --fix

feat: incorporated shared component into poi
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/account/src/Configs/personal-details-config.js
  packages/account/src/Styles/account.scss
  packages/core/src/sass/account-wizard.scss
  packages/core/src/sass/app/_common/components/onfido-container.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write
