Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/pt.json
Due: prettier --write

Jim/p2 ps 1406/chatbox is repeating its messages on top of the chatbot message (#9647)
  packages/p2p/src/stores/sendbird-store.ts
Due: prettier --write, npx eslint --fix

fix: align
  packages/cashier/src/components/crypto-fiat-converter/crypto-fiat-converter.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: Switch to Trader's Hub CTA routes to Mt5 first (#10368)
  packages/shared/src/utils/digital-options/digital-options.ts
Due: prettier --write, npx eslint --fix

Hamza/remove mac windows and linux option from mobile (#9565)
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Components/specbox.tsx
  packages/cfd/src/Containers/dmt5-trade-modal.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: Mt5 account title updated and icons added
  packages/account/src/Sections/Security/ClosingAccount/account-has-balance.jsx
  packages/account/src/Sections/Security/ClosingAccount/closing-account-reason.jsx
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/mt5/ic-mt5-cfds.svg
  packages/components/src/components/icon/mt5/ic-mt5-financial.svg
  packages/components/src/components/icon/mt5/ic-mt5-swap-free.svg
  packages/components/src/components/icon/mt5/ic-mt5-synthetic.svg
  packages/shared/src/utils/cfd/cfd.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: rename CFDs real to CFDs
  packages/core/src/Constants/cfd-text.js
  packages/shared/src/utils/cfd/cfd.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: add new eslint rule for typescript and enabled switch account for mobile
  packages/wallets/.eslintrc.js
  packages/wallets/src/components/MT5AccountTypeModal/MT5AccountTypeModal.tsx
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.tsx
Due: prettier --write, npx eslint --fix

Maryia/Webrel-1273/fix: ongoing contracts markers disappear after switching between accounts (#10194)
  packages/core/src/Stores/contract-trade-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/si.json
Due: prettier --write

fix: fixed typo
  packages/cfd/src/Containers/cfd-password-modal.tsx
Due: prettier --write, npx eslint --fix

cleanup::rainbow: refactors the style file of account-signup and password modals (#9764)
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/Containers/CitizenshipModal/set-citizenship-form.jsx
  packages/core/src/App/Containers/PasswordSelectionModal/password-selection-modal.jsx
  packages/core/src/App/Containers/SetResidenceModal/set-residence-form.jsx
  packages/core/src/sass/app/modules/account-signup.scss
  packages/shared/src/utils/login/login.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Thisyahlen/new eslint rules (#10380)
  packages/wallets/.eslintrc.js
  packages/wallets/src/components/MT5AccountTypeModal/MT5AccountTypeModal.tsx
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.tsx
  packages/wallets/tsconfig.json
Due: prettier --write, npx eslint --fix

Revert "Thisyahlen/new eslint rules (#10380)"
  packages/wallets/.eslintrc.js
  packages/wallets/src/components/MT5AccountTypeModal/MT5AccountTypeModal.tsx
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.tsx
  packages/wallets/tsconfig.json
Due: prettier --write, npx eslint --fix

Revert "Thisyahlen/new eslint rules (#10380)" (#10385)
  packages/wallets/.eslintrc.js
  packages/wallets/src/components/MT5AccountTypeModal/MT5AccountTypeModal.tsx
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.tsx
  packages/wallets/tsconfig.json
Due: prettier --write, npx eslint --fix

fix: call p2p_order_create if floating rate is enabled
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: update eslint
  packages/wallets/.eslintrc.js
Due: prettier --write, npx eslint --fix

chore: updated test cases
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-card.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-modal-content.spec.tsx
Due: prettier --write, npx eslint --fix

chore: added suggestions
  packages/core/src/App/Components/Routes/route-with-sub-routes.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: revert back to xxs (12px) following figma
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-card-section.tsx
Due: prettier --write, npx eslint --fix

FarhanNurzi/P2PS-393/Revamp the star rating for Buy/Sell and Profile page (#10131)
  packages/p2p/src/pages/advertiser-page/advertiser-page.jsx
  packages/p2p/src/pages/advertiser-page/advertiser-page.scss
  packages/p2p/src/pages/buy-sell/buy-sell-row.jsx
  packages/p2p/src/pages/buy-sell/buy-sell-row.scss
  packages/p2p/src/pages/my-profile/my-profile-stats/my-profile-name/my-profile-name.jsx
  packages/p2p/src/pages/my-profile/my-profile-stats/my-profile-name/my-profile-name.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: undo eslint autofix
  packages/wallets/src/components/MT5AccountTypeModal/MT5AccountTypeModal.tsx
Due: prettier --write, npx eslint --fix

chore: remove mf_account_status
  packages/trader/src/App/Containers/Modals/trade-modals.tsx
Due: prettier --write, npx eslint --fix

fix: remove console errors on onboarding page
  packages/hooks/src/useAuthorize.ts
Due: prettier --write, npx eslint --fix

fix: failing test cases on master
  packages/trader/src/Modules/Trading/Components/Elements/__tests__/purchase-button.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/__tests__/form-layout.spec.tsx
  packages/trader/src/Modules/Trading/Containers/__tests__/purchase.spec.tsx
Due: prettier --write, npx eslint --fix

feat: created useInfiniteQuery and useTransactions
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useTransactions.ts
  packages/api/src/index.ts
  packages/api/src/useInfiniteQuery.ts
  packages/api/src/useQuery.ts
  packages/api/src/utils.ts
  packages/api/types.ts
Due: prettier --write, npx eslint --fix

fix: issue with previous messages not being displayed on scroll up
  packages/p2p/src/stores/sendbird-store.ts
Due: prettier --write, npx eslint --fix

fix: test cases
  packages/trader/src/Modules/Trading/Components/Form/__tests__/screen-large.spec.tsx
Due: prettier --write, npx eslint --fix

chore: show snackbar if strategy changed while running bot
  packages/bot-web-ui/src/app/app.scss
  packages/bot-web-ui/src/components/bot-snackbar/bot-snackbar.scss
  packages/bot-web-ui/src/components/bot-snackbar/bot-snackbar.tsx
  packages/bot-web-ui/src/components/bot-snackbar/index.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: dynamic platform name and used Localize components
  packages/account/src/Sections/Security/ClosingAccount/account-has-balance.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

henry/dtra-434/fix: failing test cases on master (#10392)
  packages/trader/src/Modules/Trading/Components/Elements/__tests__/purchase-button.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/__tests__/form-layout.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/__tests__/screen-large.spec.tsx
  packages/trader/src/Modules/Trading/Containers/__tests__/purchase.spec.tsx
Due: prettier --write, npx eslint --fix

chore: add package-lock after adding react-hooks
  package-lock.json
Due: prettier --write

chore: add useResidenceList hook
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useResidenceList.ts
Due: prettier --write, npx eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
