Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

chore: added observable to determine navigation on return from chat (#13341)
  packages/p2p/src/pages/orders/chat/chat-wrapper.jsx
  packages/p2p/src/pages/orders/order-table/order-table-row.jsx
  packages/p2p/src/stores/order-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/es.json
Due: prettier --write

chore: account success modal inital setup
  packages/tradershub/src/flows/RealAccountSIgnup/AccountOpeningSuccessModal/AccountOpeningSuccessModal.tsx
  packages/tradershub/src/flows/RealAccountSIgnup/SignupWizard/index.tsx
  packages/tradershub/src/providers/SignupWizardProvider/SignupWizardContext.tsx
  packages/tradershub/src/providers/SignupWizardProvider/types.ts
  packages/tradershub/src/screens/CurrencySelector/CurrencySelector.tsx
  packages/tradershub/src/screens/TermsOfUse/TermsOfUse.tsx
Due: prettier --write, npx eslint --fix

chore: added selfie-docment-upload section
  packages/account-v2/src/components/Dropzone/Dropzone.scss
  packages/account-v2/src/components/Dropzone/Dropzone.tsx
  packages/account-v2/src/components/Dropzone/__tests__/Dropzone.spec.tsx
  packages/account-v2/src/components/Dropzone/index.ts
  packages/account-v2/src/components/FormFields/FormDocumentUploadField.tsx
  packages/account-v2/src/components/IconButton/icon-button.classnames.ts
  packages/account-v2/src/components/IconButton/icon-button.scss
  packages/account-v2/src/components/IconButton/icon-button.tsx
  packages/account-v2/src/components/IconButton/index.ts
  packages/account-v2/src/components/base/IconButton/index.ts
  packages/account-v2/src/components/types.ts
  packages/account-v2/src/containers/ManualForm/manualFormDocumentUpload.tsx
  packages/account-v2/src/containers/SelfieDocumentUpload/selfie-document-upload.tsx
  packages/account-v2/tailwind.config.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: apply width to container
  packages/core/src/App/Containers/VerificationModal/verification-modal.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: added missing flag (#13431)
  packages/account/src/Components/poi/status/unsupported/unsupported.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/de.json
  packages/translations/src/translations/es.json
Due: prettier --write

refactor: journal test case
  packages/bot-web-ui/src/components/journal/__tests__/journal.spec.tsx
Due: prettier --write, npx eslint --fix

chore: basic setup to display withdrawal verification page
  packages/cashier-v2/src/containers/Cashier/Cashier.tsx
  packages/cashier-v2/src/lib/WithdrawalVerification/WithdrawalVerificationRequest/WithdrawalVerificationRequest.scss
  packages/cashier-v2/src/lib/index.ts
  packages/cashier-v2/src/routes/Router.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: fix jest config to run tests
  packages/cashier-v2/jest.config.ts
Due: prettier --write, npx eslint --fix

refactor: remove usequery for registration
  packages/account/src/Containers/Account/account.tsx
  packages/account/src/Sections/Security/Passkeys/components/description-container.tsx
  packages/account/src/Sections/Security/Passkeys/components/effortless-login-tips.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys-configs.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
  packages/account/src/Types/common.type.ts
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/hooks/src/useGetPasskeysList.ts
  packages/hooks/src/useIsPasskeySupported.ts
  packages/hooks/src/useRegisterPasskey.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: icon color and component
  packages/account-v2/src/App.tsx
  packages/account-v2/src/containers/POAForm/DocumentSubmission/DocumentSubmission.tsx
  packages/account-v2/src/containers/SelfieDocumentUpload/selfie-document-upload.tsx
Due: prettier --write, npx eslint --fix

refactor: mobile and desktop download options for MT5 trade modal (init)
  packages/cfd/src/Containers/dmt5-trade-modal.tsx
  packages/cfd/src/Containers/mt5-desktop-download-option.tsx
  packages/cfd/src/Containers/mt5-mobile-download-option.scss
  packages/cfd/src/Containers/mt5-mobile-download-option.tsx
  packages/shared/src/utils/cfd/cfd.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: some clean-up
  packages/cashier-v2/src/components/ActionScreen/ActionScreen.scss
  packages/cashier-v2/src/components/ActionScreen/ActionScreen.tsx
  packages/cashier-v2/src/components/ActionScreen/index.ts
  packages/cashier-v2/src/components/WalletButtonGroup/WalletButtonGroup.scss
  packages/cashier-v2/src/components/WalletButtonGroup/WalletButtonGroup.tsx
  packages/cashier-v2/src/components/WalletButtonGroup/index.ts
  packages/cashier-v2/src/components/WalletsActionScreen/index.ts
  packages/cashier-v2/src/lib/WithdrawalVerification/WithdrawalVerificationRequest/WithdrawalVerificationRequest.tsx
  packages/cashier-v2/src/lib/WithdrawalVerification/WithdrawalVerificationSent/WithdrawalVerificationSent.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: delete one mock
  packages/tradershub/jest.config.js
  packages/tradershub/src/components/ActionScreen/__tests__/ActionScreen.spec.tsx
Due: prettier --write, npx eslint --fix

refactor: renamed error variable
  packages/account-v2/src/modules/Onfido/OnfidoContainer.tsx
Due: prettier --write, npx eslint --fix

fix: pending state
  package-lock.json
  packages/api/package.json
  packages/bot-skeleton/package.json
  packages/bot-web-ui/package-lock.json
  packages/cashier/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/core/src/Services/socket-general.js
  packages/reports/package.json
  packages/trader/package.json
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: initialising the strategy provider PR
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/build/webpack.config.js
  packages/cfd/src/Containers/ctrader-derivx-trade-modal.tsx
  packages/cfd/src/Containers/mt5-trade-modal.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: add suspense fallback, await for lazy loaded component in test
  packages/trader/src/App/Components/Elements/__tests__/market-is-closed-overlay.spec.tsx
  packages/trader/src/App/Components/Elements/market-is-closed-overlay.tsx
Due: prettier --write, npx eslint --fix

chore: initial setup for WithdrawalFiat
  packages/cashier-v2/src/assets/images/error-icon.svg
  packages/cashier-v2/src/components/ActionScreen/ActionScreen.scss
  packages/cashier-v2/src/components/ActionScreen/ActionScreen.tsx
  packages/cashier-v2/src/components/ActionScreen/index.ts
  packages/cashier-v2/src/components/ErrorScreen/ErrorScreen.tsx
  packages/cashier-v2/src/components/ErrorScreen/__tests__/ErrorScreen.spec.tsx
  packages/cashier-v2/src/components/ErrorScreen/index.ts
  packages/cashier-v2/src/utils/loader/__tests__/utils.spec.ts
  packages/cashier-v2/src/utils/loader/utils.ts
  packages/components/stories/icon/icons.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: notifcations not showing
  packages/appstore/src/modules/traders-hub/index.tsx
Due: prettier --write, npx eslint --fix

chore: bump version of deriv-com/ui from 1.3.1 to 1.5.3
  packages/account-v2/package.json
  packages/cashier-v2/package.json
  packages/p2p-v2/package.json
  packages/tradershub/package.json
Due: prettier --write

chore: is passkey_supported fix
  packages/account/src/Containers/Account/account.tsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/hooks/src/useRegisterPasskey.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: order-info-transalation
  packages/p2p/src/pages/my-ads/order-time-selection/order-time-selection.tsx
Due: prettier --write, npx eslint --fix

chore: some cleanup
  packages/cashier-v2/.eslintrc.js
  packages/cashier-v2/src/components/ActionScreen/ActionScreen.scss
  packages/cashier-v2/src/components/ActionScreen/ActionScreen.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: added test case for flyout help base
  packages/bot-web-ui/src/components/flyout/__tests__/flyout-help-base.spec.tsx
  packages/bot-web-ui/src/components/flyout/flyout-block.tsx
  packages/bot-web-ui/src/components/flyout/help-contents/flyout-help-base.tsx
  packages/bot-web-ui/src/components/flyout/help-contents/index.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: overlay, onboarding button, repeat tour
  packages/appstore/src/constants/tour-steps-config.tsx
  packages/appstore/src/modules/tour-guide/tour-guide.tsx
  packages/core/src/App/Containers/Layout/header/traders-hub-onboarding.tsx
Due: prettier --write, npx eslint --fix

feat: add empty component in desktop
  packages/account-v2/package.json
  packages/cashier-v2/package.json
  packages/p2p-v2/package.json
  packages/p2p-v2/src/pages/my-ads/screens/MyAds/MyAds.tsx
  packages/p2p-v2/src/pages/my-ads/screens/MyAds/MyAdsTable/MyAdsTable.tsx
  packages/p2p-v2/src/pages/my-ads/screens/MyAds/MyAdsTableRow/MyAdsTableRowView.tsx
  packages/p2p-v2/src/pages/my-ads/screens/MyAdsEmpty/MyAdsEmpty.tsx
  packages/tradershub/package.json
Due: prettier --write, npx eslint --fix

Merge branch 'master' of github.com:binary-com/deriv-app into WALL-1663/transfer-daily-cumulative-note
  packages/components/src/components/dropdown/dropdown.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: update package-lock.json
  package-lock.json
Due: prettier --write

Nada/feq 1395/delete ad (#13499)
  packages/api/src/hooks/p2p/entity/advert/p2p-advert/useAdvertDelete.ts
  packages/p2p-v2/src/components/Modals/AdErrorTooltipModal/AdErrorTooltipModal.scss
  packages/p2p-v2/src/components/Modals/AdErrorTooltipModal/AdErrorTooltipModal.tsx
  packages/p2p-v2/src/components/Modals/MyAdsDeleteModal/MyAdsDeleteModal.tsx
  packages/p2p-v2/src/components/Modals/MyAdsDeleteModal/__tests__/MyAdsDeleteModal.spec.tsx
  packages/p2p-v2/src/components/Modals/MyAdsDeleteModal/index.ts
  packages/p2p-v2/src/components/Modals/index.ts
  packages/p2p-v2/src/constants/ad-constants.ts
  packages/p2p-v2/src/pages/my-ads/components/AdStatus/AdStatus.scss
  packages/p2p-v2/src/pages/my-ads/screens/MyAds/MyAdsTable/MyAdsTable.scss
  packages/p2p-v2/src/pages/my-ads/screens/MyAds/MyAdsTable/MyAdsTable.tsx
  packages/p2p-v2/styles/modals.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: to run local strategies
  packages/bot-skeleton/src/scratch/blockly.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradeoptions.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/tr.json
Due: prettier --write

fix: remove setTimeout
  packages/appstore/src/modules/tour-guide/tour-guide.scss
  packages/appstore/src/modules/tour-guide/tour-guide.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write
