Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

chore: added new ProgressBarOnboarding package
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/bot-web-ui/src/components/dashboard/tour-slider.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: platform-switcher test file
  packages/core/src/App/Components/Layout/Header/__tests__/platform-switcher.spec.tsx
  packages/core/src/App/Components/Layout/Header/platform-switcher.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

test: endpoint change setup
  end-to-end-test/playwright.config.ts
  end-to-end-test/tests/buy/buy.spec.tsx
  end-to-end-test/tests/login/login.spec.ts
Due: prettier --write, npx eslint --fix

fix: fixed the animation of onboarding
  packages/appstore/src/components/onboarding-new/static-dashboard.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: implement trim function before input validation to clean value from extra spaces
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: use destructuring in forEach method
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: remove changelly and xanpool related code; change changelly tests to banxa; remove icons
  packages/cashier/src/components/cashier-onboarding/cashier-onboarding-providers.js
  packages/cashier/src/config/on-ramp-providers.js
  packages/cashier/src/pages/on-ramp/on-ramp-provider-card/__tests__/on-ramp-provider-card.spec.tsx
  packages/cashier/src/pages/on-ramp/on-ramp-provider-popup/__tests__/on-ramp-provider-popup.spec.tsx
  packages/cashier/src/stores/__tests__/on-ramp-store.spec.js
  packages/cashier/src/stores/on-ramp-store.js
  packages/components/src/components/icon/cashier/ic-cashier-changelly-dark.svg
  packages/components/src/components/icon/cashier/ic-cashier-changelly-light.svg
  packages/components/src/components/icon/cashier/ic-cashier-changelly-row-dark.svg
  packages/components/src/components/icon/cashier/ic-cashier-changelly-row-light.svg
  packages/components/src/components/icon/cashier/ic-cashier-changelly.svg
  packages/components/src/components/icon/cashier/ic-cashier-xanpool-dark.svg
  packages/components/src/components/icon/cashier/ic-cashier-xanpool-light.svg
  packages/components/src/components/icon/cashier/ic-cashier-xanpool-small-dark.svg
  packages/components/src/components/icon/cashier/ic-cashier-xanpool-small-light.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: contract categories in contract-type-widget.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-widget.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: short version
  packages/account/src/Components/account-limits/account-limits.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: summary tab as per new design
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/run-panel/run-panel.scss
  packages/bot-web-ui/src/components/summary/summary-card.scss
  packages/bot-web-ui/src/components/summary/summary-card.tsx
  packages/bot-web-ui/src/components/summary/summary.scss
  packages/bot-web-ui/src/components/transactions/transactions.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: 74874/cashier-onboarding
  packages/cashier/src/components/cashier-onboarding/__tests__/cashier-onboarding-details.spec.tsx
  packages/cashier/src/components/cashier-onboarding/__tests__/cashier-onboarding-side-note.spec.tsx
  packages/cashier/src/components/cashier-onboarding/__tests__/cashier-onboarding.spec.tsx
  packages/cashier/src/components/cashier-onboarding/cashier-onboarding-details.tsx
  packages/cashier/src/components/cashier-onboarding/cashier-onboarding-providers.ts
  packages/cashier/src/components/cashier-onboarding/cashier-onboarding-side-note.tsx
  packages/cashier/src/components/cashier-onboarding/cashier-onboarding.tsx
  packages/cashier/src/components/cashier-onboarding/index.js
  packages/cashier/src/components/cashier-onboarding/index.tsx
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: resolved pr comments
  packages/components/src/components/mobile-drawer/mobile-drawer.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: applied suggestions
  packages/cashier/src/config/on-ramp-providers.js
  packages/cashier/src/pages/on-ramp/on-ramp-provider-card/__tests__/on-ramp-provider-card.spec.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: 76041/p2p-cashier-page
  packages/cashier/@deriv-stores.d.ts
  packages/cashier/src/pages/p2p-cashier/__tests__/p2p-cashier.spec.tsx
  packages/cashier/src/pages/p2p-cashier/index.js
  packages/cashier/src/pages/p2p-cashier/index.ts
  packages/cashier/src/pages/p2p-cashier/p2p-cashier.tsx
  packages/cashier/src/types/stores/index.ts
  packages/cashier/src/types/stores/notification-store.types.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: 78506/account-prompt-dialog-component
  packages/cashier/src/components/account-prompt-dialog/__tests__/account-prompt-dialog.spec.tsx
  packages/cashier/src/components/account-prompt-dialog/account-prompt-dialog.tsx
  packages/cashier/src/components/account-prompt-dialog/index.ts
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
Due: prettier --write, npx eslint --fix

refactor: according to pr review comments
  packages/reports/src/Containers/open-positions.jsx
  packages/trader/src/Modules/SmartChart/Components/Markers/accumulators-chart-elements.jsx
  packages/trader/src/Modules/SmartChart/Components/Markers/accumulators-profit-loss-text.jsx
  packages/trader/src/Modules/Trading/Containers/Multiplier/multiplier-options.jsx
  packages/trader/src/Modules/Trading/Containers/radio-group-options-modal.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: fixed file-dropzone ts error
  packages/components/src/components/file-dropzone/file-dropzone.tsx
Due: prettier --write, npx eslint --fix

Update packages/account/src/Components/personal-details/__tests__/personal-details.spec.js
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Update packages/account/src/Components/personal-details/personal-details.jsx
  packages/account/src/Components/personal-details/personal-details.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: fixed ts errors
  packages/components/src/components/file-dropzone/file-dropzone.tsx
  packages/components/src/components/popover/popover.tsx
  packages/components/src/components/themed-scrollbars/themed-scrollbars.tsx
Due: prettier --write, npx eslint --fix

fix: removed any
  packages/components/src/components/page-overlay/page-overlay.tsx
Due: prettier --write, npx eslint --fix

refactor: open positions + add keys to fix console warning
  packages/reports/src/Containers/open-positions.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: conflict fix on package-lock file
  package-lock.json
Due: prettier --write

fix(cfd): :bug: wrap `CFDServerErrorDialog` with `observer`
  packages/cfd/src/Containers/cfd-server-error-dialog.tsx
Due: prettier --write, npx eslint --fix

fix: fixed the overflowed text in buy/sell order instruction details
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/components/order-details/order-details.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: remove unwanted comment
  packages/translations/src/i18next/i18next.ts
Due: prettier --write, npx eslint --fix

fix: profit/loss log is getting printed 2 times - unsubscribed when we stop the bot
  packages/bot-skeleton/src/services/tradeEngine/trade/index.js
  packages/bot-skeleton/src/services/tradeEngine/utils/interpreter.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: refactor based on reviews
  packages/p2p/src/components/app-content.jsx
  packages/p2p/src/components/order-details/order-details.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: pro tip text and fullstop
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
Due: prettier --write, npx eslint --fix

fix: pro tip text and fullstop (#7265)
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
Due: prettier --write, npx eslint --fix

fix: app card external links
  packages/appstore/src/components/containers/trading-app-card-actions.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/trade-button/trade-button.tsx
  packages/appstore/src/constants/platform-config.ts
  packages/shared/src/utils/currency/currency.ts
Due: prettier --write, npx eslint --fix

fix: temporary fix for low risk ROW
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/traders-hub-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: duplicate
  packages/appstore/src/components/cfds-listing/index.tsx
Due: prettier --write, npx eslint --fix

refactor: remove unwanted imports
  packages/translations/src/i18next/i18next.ts
Due: prettier --write, npx eslint --fix

refactor: remove unwanted comments
  packages/translations/src/i18next/i18next.ts
Due: prettier --write, npx eslint --fix

chore: added emoji and fixed route to correct create ad page
  packages/p2p/src/components/buy-sell/no-ads/no-ads.jsx
  packages/p2p/src/components/my-ads/create-ad-form.jsx
  packages/p2p/src/stores/buy-sell-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: fixed all of the required changes for onboarding dashboard
  packages/appstore/src/components/onboarding-new/static-cfd-account-manager.scss
  packages/appstore/src/components/onboarding-new/static-cfd-account-manager.tsx
  packages/appstore/src/components/onboarding-new/static-dashboard.scss
  packages/appstore/src/components/onboarding-new/static-dashboard.tsx
  packages/appstore/src/modules/onboarding/onboarding.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write
