Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: changed imports
  packages/p2p/src/components/separator-container-line/separator-container-line.tsx
Due: prettier --write, npx eslint --fix

chore: added acuity new brand pdf for EU clients
  packages/core/src/public/pdf/Acuity_tool_user_guide_EU.pdf
Due: none

chore: update code based on comments
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/appstore/src/constants/tour-steps-config-new.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/core/src/sass/details-form.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: fixed defaulted switch case caused by translated arg
  packages/appstore/src/components/modals/account-type-modal/account-type-modal.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal.tsx
Due: prettier --write, npx eslint --fix

fix: refactored code
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/google-drive.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/save-modal.scss
  packages/bot-web-ui/src/components/index.js
  packages/bot-web-ui/src/components/network-toast-popup/index.js
  packages/bot-web-ui/src/components/network-toast-popup/index.ts
  packages/bot-web-ui/src/components/network-toast-popup/network-toast-popup.tsx
  packages/bot-web-ui/src/components/route-prompt-dialog/route-prompt-dialog.tsx
  packages/bot-web-ui/src/components/run-panel/index.ts
  packages/bot-web-ui/src/components/run-panel/run-panel.tsx
  packages/bot-web-ui/src/components/save-modal/google-drive.scss
  packages/bot-web-ui/src/components/save-modal/index.js
  packages/bot-web-ui/src/components/save-modal/save-modal.jsx
  packages/bot-web-ui/src/stores/run-panel-store.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: enabled github integration
  .github/workflows/automationrc.json
Due: prettier --write

refactor(components): :sparkles: add `RequireAtLeastOne` utility type
  packages/components/src/components/inline-message/inline-message.tsx
  packages/components/src/components/side-note/side-note.tsx
  types/utils.d.ts
Due: prettier --write, npx eslint --fix

refactor: active_symbols loading change
  packages/bot-web-ui/src/app/app-content.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: network component changes
  packages/bot-web-ui/src/components/network-toast-popup/network-toast-popup.tsx
Due: prettier --write, npx eslint --fix

refactor: review comments
  packages/account/src/Components/poi/idv-status/idv-failed/idv-failed.tsx
  packages/core/src/sass/app/_common/components/account-common.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: inverted toggle behaviour
  packages/p2p/src/components/my-ads/toggle-ads.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: :recycle: refactored code
  packages/cfd/src/Components/cfd-poa.tsx
  packages/cfd/src/Containers/cfd-dbvi-onboarding.tsx
  packages/cfd/src/Containers/cfd-financial-stp-real-account-signup.tsx
Due: prettier --write, npx eslint --fix

refactor: review comments css
  packages/core/src/sass/app/_common/components/account-common.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: add-back code that is accidentally removed
  packages/appstore/src/components/modals/account-type-modal/account-type-modal.tsx
Due: prettier --write, npx eslint --fix

chore: edit stirng values
  packages/account/src/Helpers/utils.tsx
Due: prettier --write, npx eslint --fix

Rupato/fix: refactored code (#8920)
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/google-drive.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/save-modal.scss
  packages/bot-web-ui/src/components/index.js
  packages/bot-web-ui/src/components/network-toast-popup/index.js
  packages/bot-web-ui/src/components/network-toast-popup/index.ts
  packages/bot-web-ui/src/components/network-toast-popup/network-toast-popup.tsx
  packages/bot-web-ui/src/components/route-prompt-dialog/route-prompt-dialog.tsx
  packages/bot-web-ui/src/components/run-panel/index.ts
  packages/bot-web-ui/src/components/run-panel/run-panel.tsx
  packages/bot-web-ui/src/components/save-modal/google-drive.scss
  packages/bot-web-ui/src/components/save-modal/index.js
  packages/bot-web-ui/src/components/save-modal/save-modal.jsx
  packages/bot-web-ui/src/stores/run-panel-store.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: update test case to follow updated string value
  packages/account/src/Helpers/__tests__/utils.spec.tsx
Due: prettier --write, npx eslint --fix

revert: :lipstick: reverts style changes in cfd-dashboard
  packages/cfd/src/sass/cfd-dashboard.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: refactor MyProfileHeader component
  packages/p2p/src/components/my-profile/my-profile-header/__test__/my-profile-header.spec.tsx
  packages/p2p/src/components/my-profile/my-profile-header/index.ts
  packages/p2p/src/components/my-profile/my-profile-header/my-profile-header.tsx
Due: prettier --write, npx eslint --fix

feat: add swipe to slide and make container wider
  packages/appstore/src/components/wallet-cards-carousel/wallet-cards-carousel.scss
  packages/appstore/src/components/wallet-cards-carousel/wallet-cards-carousel.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: text content on FAQ
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorial-content.tsx
Due: prettier --write, npx eslint --fix

chore: remove unused space for for strings
  packages/account/src/Components/address-details/address-details.tsx
Due: prettier --write, npx eslint --fix

chore: :sparkles: added survicate script for dbot
  packages/bot-web-ui/src/app/app-content.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: review comment
  packages/p2p/src/components/my-ads/toggle-ads.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

update: node in engines prop
  package.json
Due: prettier --write

chore: update node version to generic 18.x
  package.json
  packages/account/package.json
  packages/appstore/package.json
  packages/bot-web-ui/package.json
  packages/cashier/package.json
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/indicators/package.json
  packages/p2p/package.json
  packages/publisher/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/translations/package.json
Due: prettier --write

fix: animation bug
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-glossary.tsx
Due: prettier --write, npx eslint --fix

feat: add redirect to transfer tab setter
  packages/appstore/src/components/demo-reset-balance/demo-reset-balance.tsx
  packages/appstore/src/components/modals/wallet-modal/provider.tsx
  packages/appstore/src/components/modals/wallet-modal/wallet-modal-body.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

reverted config yml
  .circleci/config.yml
Due: none

fix: :bug: incorporated message to display document type
  packages/account/src/Components/poi/idv-status/idv-failed/idv-failed.tsx
  packages/account/src/Helpers/utils.ts
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission-for-mt5.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: resolved code smell
  packages/account/src/Components/poi/idv-status/idv-failed/idv-failed.tsx
Due: prettier --write, npx eslint --fix

feat: description div added
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-accounts-description.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts.tsx
  packages/cfd/src/Helpers/compare-accounts-config.ts
Due: prettier --write, npx eslint --fix

chore: change props to include is_eu_user
  packages/account/src/Components/financial-details/financial-details.tsx
  packages/account/src/Configs/financial-details-config.js
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: apply suggestions
  packages/core/src/Stores/Helpers/chart-marker-helpers.js
  packages/core/src/Stores/Helpers/chart-markers.js
  packages/shared/src/utils/contract/contract.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: create separate button component and refactor WalletHeader
  packages/appstore/src/components/wallet-button/index.ts
  packages/appstore/src/components/wallet-button/wallet-button.scss
  packages/appstore/src/components/wallet-button/wallet-button.tsx
  packages/appstore/src/components/wallet-cards-carousel/cards-slider.tsx
  packages/appstore/src/components/wallet-cards-carousel/wallet-cards-carousel.scss
  packages/appstore/src/components/wallet-cards-carousel/wallet-cards-carousel.tsx
  packages/appstore/src/components/wallet-header/wallet-header-buttons.tsx
  packages/appstore/src/components/wallet-header/wallet-header.scss
  packages/appstore/src/components/wallet-header/wallet-header.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
