Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

fix: review comments
  src/botPage/common/TicksService.js
Due: prettier --write, npx eslint --fix

fix: review comments
  src/blockly/blocks/shared.js
Due: prettier --write, npx eslint --fix

Update packages/wallets/src/features/cashier/flows/WalletResetBalance/WalletResetBalance.scss
  packages/wallets/src/features/cashier/flows/WalletResetBalance/WalletResetBalance.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: change omit to exclude
  packages/wallets/src/components/Base/WalletText/WalletText.tsx
Due: prettier --write, npx eslint --fix

aizad/fix: remove duplicate types in base (#10768)
  packages/wallets/src/components/Base/WalletButton/WalletButton.module.css
  packages/wallets/src/components/Base/WalletText/WalletText.tsx
  packages/wallets/src/components/Base/type.ts
  packages/wallets/src/components/Base/types.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/th.json
Due: prettier --write

chore: update test case and name
  packages/bot-web-ui/src/components/load-modal/__tests__/recent-footer.spec.tsx
Due: prettier --write, npx eslint --fix

chore: test naming
  packages/bot-web-ui/src/components/load-modal/__tests__/recent-footer.spec.tsx
Due: prettier --write, npx eslint --fix

fix: :adhesive_bandage: try new option link
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/appstore/src/components/wallet-content/wallet-option-multipliers-listing.tsx
  packages/core/src/App/Containers/WelcomeModal/welcome.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: resolve comments
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.tsx
Due: prettier --write, npx eslint --fix

fix: review comments
  packages/bot-web-ui/src/components/dashboard/dashboard-component/__tests__/user-guide.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/dashboard-component.tsx
Due: prettier --write, npx eslint --fix

refactor: delete extra property
  packages/trader/src/Modules/Trading/Components/Form/Purchase/__tests__/cancel-deal-info.spec.tsx
Due: prettier --write, npx eslint --fix

refactor: quick strategy - wrapped qs-input-label with store observer
  packages/bot-web-ui/src/components/quick-strategy/inputs/qs-input-label.tsx
Due: prettier --write, npx eslint --fix

refactor: delete todo
  packages/wallets/src/components/WalletTourGuide/WalletTourGuideSettings.tsx
Due: prettier --write, npx eslint --fix

chore: default selected item prop
  packages/wallets/src/components/Base/WalletDropdown/WalletDropdown.tsx
Due: prettier --write, npx eslint --fix

chore: fix eslint types
  packages/wallets/src/components/ModalProvider/ModalProvider.tsx
  packages/wallets/src/components/WalletMarketCurrencyIcon/WalletMarketCurrencyIcon.tsx
  packages/wallets/src/features/cfd/modals/JurisdictionModal/JurisdictionModal.tsx
Due: prettier --write, npx eslint --fix

chore: make onselect required
  packages/wallets/src/components/Base/WalletDropdown/WalletDropdown.tsx
Due: prettier --write, npx eslint --fix

chore: fix eslint types
  packages/wallets/src/features/cfd/screens/Success/Success.tsx
Due: prettier --write, npx eslint --fix

chore: add smartchartsbeta to service worker caching
  packages/core/build/config.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: cleanup v3
  packages/wallets/src/components/Base/WalletText/WalletText.tsx
  packages/wallets/src/components/Base/types.ts
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
  packages/wallets/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.tsx
  packages/wallets/src/features/cfd/modals/JurisdictionModal/JurisdictionModal.tsx
  packages/wallets/src/features/cfd/modals/MT5AccountTypeModal/MT5AccountTypeModal.tsx
  packages/wallets/src/features/cfd/screens/MT5AccountType/MT5AccountType.tsx
Due: prettier --write, npx eslint --fix

fix: random bracket
  packages/wallets/src/features/cfd/modals/JurisdictionModal/JurisdictionModal.tsx
Due: prettier --write, npx eslint --fix

chore: added optional chaining to avoid null
  src/blockly/customBlockly.js
Due: prettier --write, npx eslint --fix

chore: updaete package-lock
  package-lock.json
  packages/trader/package.json
Due: prettier --write

chore: fix issue where svg has checkbox jurisdiction
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionScreen.tsx
Due: prettier --write, npx eslint --fix

thisyahlen/fix: launch jurisdiction modal on get button and fix type (#10772)
  packages/wallets/src/components/Base/WalletText/WalletText.tsx
  packages/wallets/src/components/Base/types.ts
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
  packages/wallets/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.tsx
  packages/wallets/src/features/cfd/modals/JurisdictionModal/JurisdictionModal.tsx
  packages/wallets/src/features/cfd/modals/MT5AccountTypeModal/MT5AccountTypeModal.tsx
  packages/wallets/src/features/cfd/screens/MT5AccountType/MT5AccountType.tsx
Due: prettier --write, npx eslint --fix

farhan/feat: Cashier Completed Transactions (#10566)
  packages/api/src/hooks/useCryptoTransactions.ts
  packages/api/src/hooks/useTransactions.ts
  packages/wallets/src/features/cashier/flows/WalletTransactions/WalletTransactions.scss
  packages/wallets/src/features/cashier/flows/WalletTransactions/WalletTransactions.tsx
  packages/wallets/src/features/cashier/screens/WalletTransactionsScreens/WalletTransactionsCompleted/WalletTransactionsCompleted.scss
  packages/wallets/src/features/cashier/screens/WalletTransactionsScreens/WalletTransactionsCompleted/WalletTransactionsCompleted.tsx
  packages/wallets/src/features/cashier/screens/WalletTransactionsScreens/WalletTransactionsCompleted/index.ts
  packages/wallets/src/features/cashier/screens/WalletTransactionsScreens/WalletTransactionsCompletedRow/WalletTransactionsCompletedRow.scss
  packages/wallets/src/features/cashier/screens/WalletTransactionsScreens/WalletTransactionsCompletedRow/WalletTransactionsCompletedRow.tsx
  packages/wallets/src/features/cashier/screens/WalletTransactionsScreens/WalletTransactionsCompletedRow/index.ts
  packages/wallets/src/features/cashier/screens/WalletTransactionsScreens/WalletTransactionsCrypto/index.ts
  packages/wallets/src/features/cashier/screens/WalletTransactionsScreens/WalletTransactionsCryptoRow/index.ts
  packages/wallets/src/features/cashier/screens/WalletTransactionsScreens/WalletTransactionsFilter/WalletTransactionsFilter.tsx
  packages/wallets/src/features/cashier/screens/WalletTransactionsScreens/WalletTransactionsPending/WalletTransactionsPending.scss
  packages/wallets/src/features/cashier/screens/WalletTransactionsScreens/WalletTransactionsPending/WalletTransactionsPending.tsx
  packages/wallets/src/features/cashier/screens/WalletTransactionsScreens/WalletTransactionsPending/index.ts
  packages/wallets/src/features/cashier/screens/WalletTransactionsScreens/WalletTransactionsPendingRow/WalletTransactionsPendingRow.scss
  packages/wallets/src/features/cashier/screens/WalletTransactionsScreens/WalletTransactionsPendingRow/WalletTransactionsPendingRow.tsx
  packages/wallets/src/features/cashier/screens/WalletTransactionsScreens/WalletTransactionsPendingRow/index.ts
  packages/wallets/src/features/cashier/screens/WalletTransactionsScreens/WalletTransactionsTable/WalletTransactionsTable.scss
  packages/wallets/src/features/cashier/screens/WalletTransactionsScreens/WalletTransactionsTable/WalletTransactionsTable.tsx
  packages/wallets/src/features/cashier/screens/WalletTransactionsScreens/index.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: fix eslint sort issue
  packages/wallets/src/components/WalletMarketCurrencyIcon/WalletMarketCurrencyIcon.tsx
  packages/wallets/src/features/cfd/modals/DxtradeEnterPasswordModal/DxtradeEnterPasswordModal.tsx
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
  packages/wallets/src/features/cfd/screens/Success/Success.tsx
Due: prettier --write, npx eslint --fix

fix: fix_publish_to_staging_flow
  .github/workflows/release_staging.yml
Due: none

feat: start onboarding by localstorage
  packages/core/src/App/Containers/Layout/header/traders-hub-onboarding.tsx
  packages/wallets/src/components/WalletTourGuide/WalletTourGuide.tsx
Due: prettier --write, npx eslint --fix

fix: fix_publish_to_staging_flow (#10773)
  .github/workflows/release_staging.yml
Due: none

adrienne/refactor: account ready modal to success modal (#10740)
  packages/wallets/src/components/ModalProvider/ModalProvider.tsx
  packages/wallets/src/components/WalletMarketCurrencyIcon/WalletMarketCurrencyIcon.tsx
  packages/wallets/src/features/cfd/components/CTraderList/CTraderList.tsx
  packages/wallets/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.tsx
  packages/wallets/src/features/cfd/modals/DxtradeEnterPasswordModal/DxtradeEnterPasswordModal.tsx
  packages/wallets/src/features/cfd/modals/JurisdictionModal/JurisdictionModal.tsx
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
  packages/wallets/src/features/cfd/screens/AccountReady/AccountReady.tsx
  packages/wallets/src/features/cfd/screens/AccountReady/index.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionScreen.tsx
  packages/wallets/src/features/cfd/screens/Success/Success.scss
  packages/wallets/src/features/cfd/screens/Success/Success.tsx
  packages/wallets/src/features/cfd/screens/Success/index.tsx
  packages/wallets/src/features/cfd/screens/index.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: finishing the latest steps of the routing removal
  packages/cfd/build/webpack.config.js
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/Layout/header/default-header.jsx
  packages/core/src/App/Containers/Layout/header/dtrader-header.jsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/App/Containers/WelcomeModal/welcome-modal-2.jsx
  packages/core/src/Stores/common-store.js
  packages/shared/src/utils/platform/platform.ts
  packages/shared/src/utils/routes/routes.ts
  packages/trader/src/App/Containers/Routes/routes.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/pt.json
Due: prettier --write

fix: resolve comments
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.modules.css
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix

fix: dark mode banner
  packages/appstore/src/assets/svgs/banner/svg-migrate-desktop-dark.svg
  packages/appstore/src/assets/svgs/banner/svg-migrate-mobile-dark.svg
  packages/appstore/src/components/appstore-banner/appstore-banner-image.tsx
  packages/appstore/src/components/appstore-banner/appstore-banner.tsx
  packages/appstore/src/components/appstore-banner/svg-migration-banner.tsx
  packages/components/stories/icon/icons.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: updated as per new requirements, switched to useMutation
  packages/wallets/src/features/cashier/flows/WalletResetBalance/WalletResetBalance.tsx
Due: prettier --write, npx eslint --fix
