Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

fix: :bug: resolved issue with radio button (#33)
  packages/account/src/Components/address-details/address-details.tsx
  packages/core/src/sass/account-wizard.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: fixed some type errors
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-link/wallet-link-wrapper.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/wallet-linking-step/wallet-linking-step.tsx
  packages/appstore/src/constants/mock_wallet_migration_response.ts
  packages/components/src/index.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: added a degree of responsiveness
  packages/appstore/src/components/fiat-transaction-list/fiat-transaction-list-item.scss
  packages/appstore/src/components/fiat-transaction-list/fiat-transaction-list-item.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: change Trade to Open at onboardng page
  packages/appstore/src/components/onboarding-new/static-cfd-account-manager.tsx
  packages/appstore/src/components/onboarding-new/static-trading-app-card.tsx
Due: prettier --write, npx eslint --fix

feat: add desktop scrolling
  packages/appstore/src/components/modals/wallet-modal/provider.tsx
  packages/appstore/src/components/modals/wallet-modal/wallet-modal-body.tsx
  packages/appstore/src/components/modals/wallet-modal/wallet-modal.scss
  packages/appstore/src/components/modals/wallet-modal/wallet-modal.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: bug of trade type dropdown
  packages/new-bot-web-ui/src/stores/blocks-store.ts
Due: prettier --write, npx eslint --fix

fix(cashier): :white_check_mark: fix failing test
  packages/cashier/src/components/page-container/__test__/page-container.test.tsx
Due: prettier --write, npx eslint --fix

chore: :broom: css cleanup
  src/assets/css/_blockly-toolbox.scss
  src/assets/css/_chart.scss
  src/assets/css/_constants.scss
  src/assets/css/_dbot-banner.scss
  src/assets/css/_error.scss
  src/assets/css/_fontello.scss
  src/assets/css/_footer.scss
  src/assets/css/_panel.scss
  src/assets/css/_screen.scss
  src/assets/css/_toolbox.scss
  src/assets/css/_tour.scss
  src/assets/css/_virtualized.scss
  src/assets/css/bot-1d3b88c4ce.css
  src/assets/css/bot.scss
  src/assets/css/deriv/colors-binary.scss
  src/assets/css/deriv/common.scss
  src/assets/css/deriv/constants-deriv.scss
  src/assets/css/deriv/devices.scss
  src/assets/css/deriv/footer.scss
  src/assets/css/deriv/header.scss
  src/assets/css/deriv/index.scss
  src/assets/css/deriv/mixins.scss
  src/assets/css/deriv/modal.scss
  src/assets/css/deriv/popover.scss
  src/assets/css/deriv/settings-language.scss
  src/assets/css/deriv/theme.scss
  src/assets/css/index-561d4c883d.css
  src/assets/css/index.scss
Due: prettier --write, npx stylelint --fix

fix: fixed the active border issue in wallet-card
  packages/components/src/components/wallet-card/wallet-card.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: changed the state of wallet-card in wallet-linking to default
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-link/wallet-link-wrapper.tsx
Due: prettier --write, npx eslint --fix

fix: removed duplicate type in mockStore to fix code smell
  packages/stores/src/mockStore.ts
Due: prettier --write, npx eslint --fix

fix: fixed wallet title in mobile mode
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-link/wallet-link-wrapper.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-link/wallet-link-wrapper.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: Rostislav / WALL-361 / Cashier Fiat Transfer amount input field (#8442)
  packages/components/src/components/amount-input/__tests__/amount-input.test.tsx
  packages/components/src/components/amount-input/amount-input.scss
  packages/components/src/components/amount-input/amount-input.tsx
  packages/components/src/components/amount-input/index.ts
  packages/components/src/components/input/input.tsx
  packages/components/src/index.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: stitch banner with popup (#8476)
  packages/appstore/src/assets/svgs/wallets/how-it-works.svg
  packages/appstore/src/assets/svgs/wallets/index.tsx
  packages/appstore/src/assets/svgs/wallets/introducing-wallets-eu.svg
  packages/appstore/src/assets/svgs/wallets/introducing-wallets.svg
  packages/appstore/src/assets/svgs/wallets/ready_to_upgrade_wallets_image.svg
  packages/appstore/src/assets/svgs/wallets/trading-accounts-eu.svg
  packages/appstore/src/assets/svgs/wallets/trading-accounts.svg
  packages/appstore/src/assets/wallets/index.tsx
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/__tests__/wallet-steps.spec.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/ready-to-upgrade-wallets/index.ts
  packages/appstore/src/components/modals/real-wallets-upgrade/components/ready-to-upgrade-wallets/ready-to-upgrade-wallets.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/ready-to-upgrade-wallets/ready-to-upgrade-wallets.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/ready-to-upgrade-wallets/test/ready-to-upgrade-wallets.spec.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-steps.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-intro/__tests__/wallets-intro.spec.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-intro/index.ts
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-intro/wallets-intro.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-intro/wallets-intro.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/real-wallets-upgrade.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/real-wallets-upgrade.tsx
  packages/appstore/src/components/ready-to-update-wallets/index.ts
  packages/appstore/src/components/ready-to-update-wallets/ready-to-update-wallets.scss
  packages/appstore/src/components/ready-to-update-wallets/ready-to-update-wallets.tsx
  packages/appstore/src/components/ready-to-update-wallets/test/ready-to-update-wallets.spec.tsx
  packages/appstore/src/components/wallets-banner/__tests__/wallets-banner.spec.tsx
  packages/appstore/src/components/wallets-banner/wallets-banner-ready.tsx
  packages/appstore/src/components/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/wallets-banner/wallets-banner-upgrading.tsx
  packages/appstore/src/components/wallets-banner/wallets-banner.scss
  packages/appstore/src/components/wallets-banner/wallets-banner.tsx
  packages/appstore/src/constants/upgrade-info-lists-config.tsx
  packages/appstore/src/constants/wallet-static-steps-config.tsx
  packages/appstore/src/constants/wallets-intro-content-config.tsx
  packages/appstore/src/types/common.types.ts
  packages/appstore/src/types/index.ts
  packages/appstore/src/types/wallet-steps.types.ts
  packages/core/src/Stores/traders-hub-store.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

Aum/wall 278/create wallet card component (#8580)
  packages/components/src/components/gradient-background/gradient-background.scss
  packages/components/src/components/wallet-card/index.ts
  packages/components/src/components/wallet-card/wallet-card.scss
  packages/components/src/components/wallet-card/wallet-card.tsx
  packages/components/src/components/wallet-icon/wallet-icon.scss
  packages/components/src/components/wallet-icon/wallet-icon.tsx
  packages/components/src/index.js
  packages/shared/src/styles/constants.scss
  packages/shared/src/styles/themes.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: :construction: removed css from www folder and moved it to assets styles
  public/images/down-arrow.svg
  public/images/ic-brand-binarybot.svg
  public/images/ic-brand-dbot.svg
  public/images/ic-brand-dmt5.svg
  public/images/ic-brand-dtrader.svg
  public/images/ic-brand-dxtrade.svg
  public/images/ic-brand-smarttrader.svg
  src/app.config.js
  static/css/_blockly-toolbox.scss
  static/css/_chart.scss
  static/css/_color.scss
  static/css/_constants.scss
  static/css/_dbot-banner.scss
  static/css/_error.scss
  static/css/_fontello.scss
  static/css/_footer.scss
  static/css/_panel.scss
  static/css/_screen.scss
  static/css/_toolbox.scss
  static/css/_tour.scss
  static/css/_virtualized.scss
  static/css/bot.scss
  static/css/deriv/colors-binary.scss
  static/css/deriv/common.scss
  static/css/deriv/constants-deriv.scss
  static/css/deriv/devices.scss
  static/css/deriv/fonts.scss
  static/css/deriv/footer.scss
  static/css/deriv/header.scss
  static/css/deriv/index.scss
  static/css/deriv/inline-icons.scss
  static/css/deriv/mixins.scss
  static/css/deriv/modal.scss
  static/css/deriv/popover.scss
  static/css/deriv/settings-language.scss
  static/css/deriv/theme.scss
  static/css/index.scss
  webpack.config.cli.js
  webpack.config.web.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix

Sergei / wall-738 and wall-749 / Add char 's' to 'Total asset' and change trade to open (#8725)
  packages/appstore/src/components/main-title-bar/asset-summary.tsx
  packages/appstore/src/components/onboarding-new/static-cfd-account-manager.tsx
  packages/appstore/src/components/onboarding-new/static-trading-app-card.tsx
  packages/appstore/src/components/trade-button/trade-button.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/ar.json
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/de.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/ko.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

chore: add aligment in css
  packages/reports/src/sass/app/modules/smart-chart.scss
  packages/trader/src/sass/app/modules/smart-chart.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: changed color for text and fixed clipping of linking step content
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-account/wallet-account.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-link/wallet-link-wrapper.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/wallet-linking-step/wallet-linking-step.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/wallet-linking-step/wallet-linking-step.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: created wallets linking step for wallet upgrade
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-account/wallet-account.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-account/wallet-account.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-linking-step/wallets-linking-step.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-linking-step/wallets-linking-step.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: create responsive wallet-link component
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-account/wallet-account.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-link/wallet-link.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-link/wallet-link.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-linking-step/wallets-linking-step.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-linking-step/wallets-linking-step.tsx
  packages/components/src/components/icon/appstore/ic-appstore-wallets-link.svg
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: dropdown style and description change for all trade types
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/shared/src/styles/themes.scss
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-accumulator.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-even-odd.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-high-low.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-match-diff.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-multiplier.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-over-under.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-rise-fall.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-touch.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-vanilla.svg
  packages/trader/src/Assets/Trading/Categories/accumulator-trade-description.jsx
  packages/trader/src/Assets/Trading/Categories/trade-categories.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-glossary.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeMenu/contract-type-menu.jsx
  packages/trader/src/sass/app/_common/components/contract-type-dialog.scss
  packages/trader/src/sass/app/_common/components/contract-type-info.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: renamed wallet-link to wallet-link-wrapper and completed static UI
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-link/wallet-link-wrapper.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-link/wallet-link-wrapper.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-link/wallet-link.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-link/wallet-link.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: created wrapper for the 2nd step in wallet-upgrade
  packages/appstore/src/components/modals/real-wallets-upgrade/wallet-linking-step/wallet-linking-step.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/wallet-linking-step/wallet-linking-step.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: added dependency for hooks to appstore and added useBalance and useWalletMigration hooks
  packages/appstore/package.json
  packages/hooks/src/index.ts
  packages/hooks/src/useBalance.ts
  packages/hooks/src/useWalletMigration.ts
Due: prettier --write, npx eslint --fix

chore: minor UI fixes
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-link/wallet-link-wrapper.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/wallet-linking-step/wallet-linking-step.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/wallet-linking-step/wallet-linking-step.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: fixed scrolling of accounts in mobile view
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-link/wallet-link-wrapper.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/wallet-linking-step/wallet-linking-step.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: minify svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-accumulator.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-even-odd.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-high-low.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-match-diff.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-multiplier.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-over-under.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-rise-fall.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-touch.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-vanilla.svg
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: issues during conflict resolution
  package-lock.json
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.tsx
  packages/appstore/src/modules/traders-hub/traders-hub.scss
  packages/bot-web-ui/package.json
  packages/cashier/src/pages/withdrawal/withdrawal.tsx
  packages/components/stories/icon/icons.js
  packages/core/src/Stores/client-store.js
  packages/hooks/src/index.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: line heights and font sizes
  packages/appstore/src/components/fiat-transaction-list/fiat-transaction-list-item.tsx
Due: prettier --write, npx eslint --fix

feat: appended the 2nd step to 1st step
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-link/wallet-link-wrapper.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/wallet-linking-step/wallet-linking-step.tsx
  packages/appstore/src/constants/mock_wallet_migration_response.ts
Due: prettier --write, npx eslint --fix

feat: rendering all data for each step during linking
  packages/appstore/src/components/modals/real-wallets-upgrade/wallet-linking-step/wallet-linking-step.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/wallet-linking-step/wallet-linking-step.tsx
  packages/appstore/src/constants/mock_wallet_migration_response.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: added some mock data
  packages/appstore/src/constants/mock_wallet_migration_response.ts
Due: prettier --write, npx eslint --fix

refactor: replaced placeholder card with wallet-card component
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-link/wallet-link-wrapper.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-link/wallet-link-wrapper.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: removed z-index and fixed shine (trapezoid) element
  packages/components/src/components/wallet-card/wallet-card.scss
  packages/components/src/components/wallet-card/wallet-card.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: add types for wallet-card
  packages/components/src/components/wallet-card/wallet-card.tsx
Due: prettier --write, npx eslint --fix

feat: added types to all the tsx files
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-link/wallet-link-wrapper.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-link/wallet-link-wrapper.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/real-wallets-upgrade.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/real-wallets-upgrade.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/wallet-linking-step/wallet-linking-step.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/wallet-linking-step/wallet-linking-step.tsx
  packages/appstore/src/constants/mock_wallet_migration_response.ts
  packages/components/src/components/icon/icons.js
  packages/components/src/components/wallet-card/wallet-card.tsx
  packages/components/src/index.js
  packages/components/stories/icon/icons.js
  packages/hooks/src/index.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write
