Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: changed upload size from 2mb to 5mb
  packages/p2p/src/components/modal-manager/modals/order-details-confirm-modal/__tests__/order-details-confirm-modal.spec.js
  packages/p2p/src/components/modal-manager/modals/order-details-confirm-modal/order-details-confirm-modal.jsx
  packages/p2p/src/utils/file-uploader.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: circleCI
  packages/trader/src/Modules/Trading/Containers/contract-type.tsx
Due: prettier --write, npx eslint --fix

fix: tabs not scrolling for different languages on responsive
  packages/p2p/src/pages/app.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: fix modal and styles
  packages/wallets/src/components/ExternalTradingPlatforms/GetMoreMT5Accounts/GetMoreMT5Accounts.tsx
  packages/wallets/src/components/ExternalTradingPlatforms/MT5AccountType/MT5AccountType.tsx
  packages/wallets/src/components/ExternalTradingPlatforms/MT5AccountTypeCard/MT5AccountTypeCard.scss
  packages/wallets/src/components/ExternalTradingPlatforms/MT5AccountTypeCard/MT5AccountTypeCard.tsx
  packages/wallets/src/components/MT5AccountTypeModal/MT5AccountTypeModal.tsx
  packages/wallets/src/components/MT5AccountTypeModal/index.ts
  packages/wallets/src/components/PrimaryActionButton/PrimaryActionButton.scss
  packages/wallets/src/components/PrimaryActionButton/PrimaryActionButton.tsx
  packages/wallets/src/components/index.ts
  packages/wallets/src/hooks/useDevice.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: initial commit
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
  packages/trader/src/Modules/Trading/Containers/__tests__/smart-chart-switcher.spec.jsx
  packages/trader/src/Modules/Trading/Containers/smart-chart-switcher.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: cashier crypto transactions
  package-lock.json
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useCryptoTransactions.ts
  packages/api/types.ts
  packages/utils/src/__tests__/getTruncatedHashString.spec.ts
  packages/utils/src/getTruncatedHashString.ts
  packages/utils/src/index.ts
  packages/wallets/package.json
  packages/wallets/src/components/WalletCashierContent/WalletCashierContent.tsx
  packages/wallets/src/components/WalletDeposit/WalletDeposit.tsx
  packages/wallets/src/components/WalletDeposit/index.ts
  packages/wallets/src/components/WalletTransactions/WalletTransactions.scss
  packages/wallets/src/components/WalletTransactions/WalletTransactions.tsx
  packages/wallets/src/components/WalletTransactions/index.ts
  packages/wallets/src/components/WalletTransactionsCrypto/WalletTransactionsCrypto.scss
  packages/wallets/src/components/WalletTransactionsCrypto/WalletTransactionsCrypto.tsx
  packages/wallets/src/components/WalletTransactionsCrypto/index.ts
  packages/wallets/src/components/WalletTransactionsCryptoRow/WalletTransactionsCryptoRow.scss
  packages/wallets/src/components/WalletTransactionsCryptoRow/WalletTransactionsCryptoRow.tsx
  packages/wallets/src/components/WalletTransactionsCryptoRow/index.ts
  packages/wallets/src/components/WalletTransactionsFilter/WalletTransactionsFilter.scss
  packages/wallets/src/components/WalletTransactionsFilter/WalletTransactionsFilter.tsx
  packages/wallets/src/components/WalletTransactionsFilter/index.ts
  packages/wallets/src/components/WalletTransactionsNoDataState/WalletTransactionsNoDataState.scss
  packages/wallets/src/components/WalletTransactionsNoDataState/WalletTransactionsNoDataState.tsx
  packages/wallets/src/components/WalletTransactionsNoDataState/index.ts
  packages/wallets/src/components/WalletTransactionsTable/WalletTransactionsTable.scss
  packages/wallets/src/components/WalletTransactionsTable/WalletTransactionsTable.tsx
  packages/wallets/src/components/WalletTransactionsTable/index.ts
  packages/wallets/src/hooks/useDevice.ts
  packages/wallets/src/public/images/no-recent-transactions.svg
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: add ts-reset and configure eslint
  package-lock.json
  packages/wallets/.eslintrc.js
  packages/wallets/package.json
  packages/wallets/reset.d.ts
  packages/wallets/tsconfig.json
Due: prettier --write, npx eslint --fix

chore: fix ci
  packages/wallets/tsconfig.json
Due: prettier --write

fix: ci
  packages/wallets/tsconfig.json
Due: prettier --write

fix: failed tests
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method.scss
  packages/p2p/src/pages/advertiser-page/__tests__/advertiser-page.spec.jsx
  packages/p2p/src/pages/advertiser-page/__tests__/advertiser-page.spec.tsx
  packages/p2p/src/pages/my-profile/payment-methods/__tests__/payment-methods.spec.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: remove ts-reset
  package-lock.json
  packages/wallets/package.json
  packages/wallets/reset.d.ts
  packages/wallets/tsconfig.json
Due: prettier --write, npx eslint --fix

fix: update cfd text for mf
  packages/core/src/Constants/cfd-text.js
  packages/shared/src/utils/cfd/cfd.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: make TIN and Tax Residence fields optional
  packages/account/src/Components/additional-kyc-info-modal/__test__/additional-kyc-info-form.spec.tsx
  packages/account/src/Components/additional-kyc-info-modal/additional-kyc-info-form.tsx
  packages/account/src/Components/additional-kyc-info-modal/form-config.tsx
  packages/account/src/Components/forms/form-select-field.tsx
Due: prettier --write, npx eslint --fix

chore: make util function more general and refactor
  packages/api/src/hooks/useCryptoTransactions.ts
  packages/utils/src/__tests__/getTruncatedHashString.spec.ts
  packages/utils/src/__tests__/getTruncatedString.spec.ts
  packages/utils/src/getTruncatedHashString.ts
  packages/utils/src/getTruncatedString.ts
  packages/utils/src/index.ts
  packages/wallets/src/components/WalletTransactionsCrypto/WalletTransactionsCrypto.tsx
Due: prettier --write, npx eslint --fix

maryia/WEBREL-1322/hotfix: revert override of profit fix by old ts migration changes (#10317)
  packages/trader/src/Modules/SmartChart/Components/Markers/__tests__/accumulators-profit-loss-text.spec.tsx
  packages/trader/src/Modules/SmartChart/Components/Markers/accumulators-profit-loss-text.tsx
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/si.json
Due: prettier --write

feat: add webpack changes
  packages/bot-web-ui/webpack.config.js
  packages/cfd/build/webpack.config.js
  packages/core/build/config.js
  packages/reports/build/webpack.config.js
  packages/trader/build/webpack.config.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: chat bot message changed to static message, removed admin messages
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/pages/orders/chat/__tests__/chat-messages.spec.jsx
  packages/p2p/src/pages/orders/chat/chat-messages.jsx
  packages/p2p/src/stores/sendbird-store.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: Added localize component
  packages/account/src/Components/trading-assessment/trading-assessment-form.tsx
  packages/account/src/Constants/trading-assessment-questions.tsx
  packages/account/src/Types/common.type.ts
Due: prettier --write, npx eslint --fix

fix: resolve comments
  packages/appstore/src/components/transaction-list/transaction-for-day.tsx
  packages/appstore/src/components/wallet-content/wallet-option-multipliers-listing.tsx
  packages/appstore/src/constants/wallet-success-text.tsx
  packages/core/src/App/Containers/Layout/header/dtrader-header-wallets.tsx
Due: prettier --write, npx eslint --fix

fix: fixed comments
  packages/account/src/Sections/Security/TwoFactorAuthentication/__tests__/digit-form.spec.tsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/__tests__/two-factor-authentication.spec.tsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/__tests__/two-factor-disabled.spec.tsx
Due: prettier --write, npx eslint --fix

feat(wallets): :rotating_light: Add react namespace ESLint rule
  eslint-local-rules/index.js
  package-lock.json
  packages/wallets/.eslintrc.js
  packages/wallets/package.json
  packages/wallets/src/components/DxtradeEnterPasswordModal/DxtradeEnterPasswordModal.tsx
  packages/wallets/src/components/MT5PasswordModal/MT5PasswordModal.tsx
  packages/wallets/src/components/ModalProvider/ModalProvider.tsx
  packages/wallets/src/components/Tabs/TabPanels.tsx
  packages/wallets/src/components/Tabs/Tabs.tsx
  packages/wallets/src/components/WalletAddMoreCurrencyIcon/WalletAddMoreCurrencyIcon.tsx
  packages/wallets/src/components/WalletsAccordion/WalletsAccordion.tsx
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.tsx
Due: prettier --write, npx eslint --fix

fix: useeffect issue
  packages/appstore/src/components/wallet-content/wallet-option-multipliers-listing.tsx
Due: prettier --write, npx eslint --fix

fix: resolve merge issues
  packages/reports/src/Containers/open-positions.tsx
  packages/reports/src/Containers/statement.tsx
Due: prettier --write, npx eslint --fix

fix: tests
  packages/trader/src/Modules/SmartChart/Components/Markers/__tests__/accumulators-chart-elements.spec.tsx
  packages/trader/src/Modules/Trading/Containers/__tests__/radio-group-options-modal.spec.tsx
Due: prettier --write, npx eslint --fix

refactor: working on quick strategy redesign
  packages/bot-skeleton/src/constants/config.js
  packages/bot-skeleton/src/services/api/active-symbols.js
  packages/bot-skeleton/src/services/api/contracts-for.js
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar.tsx
  packages/bot-web-ui/src/components/quick-strategy/SymbolSelect.tsx
  packages/bot-web-ui/src/components/quick-strategy/config.ts
  packages/bot-web-ui/src/components/quick-strategy/form-wrappers/desktop-form-wrapper.tsx
  packages/bot-web-ui/src/components/quick-strategy/form-wrappers/mobile-form-wrapper.tsx
  packages/bot-web-ui/src/components/quick-strategy/form.tsx
  packages/bot-web-ui/src/components/quick-strategy/inputs/qs-input-label.tsx
  packages/bot-web-ui/src/components/quick-strategy/inputs/qs-input.tsx
  packages/bot-web-ui/src/components/quick-strategy/quick-strategy.scss
  packages/bot-web-ui/src/components/quick-strategy/quick-strategy.tsx
  packages/bot-web-ui/src/components/quick-strategy/selects/duration-unit.tsx
  packages/bot-web-ui/src/components/quick-strategy/selects/symbol.tsx
  packages/bot-web-ui/src/components/quick-strategy/selects/tradetype.tsx
  packages/bot-web-ui/src/stores/quick-strategy-store-1.ts
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: added desktop view for jurisdiction modal
  packages/wallets/package-lock.json
  packages/wallets/package.json
  packages/wallets/src/components/JurisdictionModal/JurisdictionCard.scss
  packages/wallets/src/components/JurisdictionModal/JurisdictionCard.tsx
  packages/wallets/src/components/JurisdictionModal/JurisdictionCardRow.scss
  packages/wallets/src/components/JurisdictionModal/JurisdictionCardRow.tsx
  packages/wallets/src/components/JurisdictionModal/JurisdictionCardTag.scss
  packages/wallets/src/components/JurisdictionModal/JurisdictionCardTag.tsx
  packages/wallets/src/components/JurisdictionModal/JurisdictionModal.scss
  packages/wallets/src/components/JurisdictionModal/JurisdictionModal.tsx
  packages/wallets/src/components/WideWrapper/WideWrapper.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: updated package-lock.json for wallets
  package-lock.json
  packages/wallets/package.json
Due: prettier --write

chore: removed package-lock.json in wallets
  packages/wallets/package-lock.json
Due: prettier --write

feat(wallets): :rotating_light: Add react namespace ESLint rule (#10327)
  eslint-local-rules/index.js
  package-lock.json
  packages/wallets/.eslintrc.js
  packages/wallets/package.json
  packages/wallets/src/components/DxtradeEnterPasswordModal/DxtradeEnterPasswordModal.tsx
  packages/wallets/src/components/MT5PasswordModal/MT5PasswordModal.tsx
  packages/wallets/src/components/ModalProvider/ModalProvider.tsx
  packages/wallets/src/components/Tabs/TabPanels.tsx
  packages/wallets/src/components/Tabs/Tabs.tsx
  packages/wallets/src/components/WalletAddMoreCurrencyIcon/WalletAddMoreCurrencyIcon.tsx
  packages/wallets/src/components/WalletsAccordion/WalletsAccordion.tsx
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.tsx
Due: prettier --write, npx eslint --fix

chore: updated component typings based on comments
  packages/wallets/src/components/JurisdictionModal/JurisdictionCard.tsx
  packages/wallets/src/components/JurisdictionModal/JurisdictionCardRow.tsx
  packages/wallets/src/components/JurisdictionModal/JurisdictionCardTag.tsx
  packages/wallets/src/components/JurisdictionModal/JurisdictionModal.tsx
Due: prettier --write, npx eslint --fix

feat: add alpha chart components
  packages/bot-web-ui/src/components/chart/chart.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
  packages/trader/src/Modules/SmartChartAlpha/Components/BuyToastNotification/__tests__/buy-toast-notification.spec.tsx
  packages/trader/src/Modules/SmartChartAlpha/Components/Markers/__tests__/accumulators-chart-elements.spec.js
  packages/trader/src/Modules/SmartChartAlpha/Components/Markers/__tests__/accumulators-profit-loss-text.spec.js
  packages/trader/src/Modules/SmartChartAlpha/Components/Markers/__tests__/accumulators-profit-loss-tooltip.spec.js
  packages/trader/src/Modules/SmartChartAlpha/Components/Markers/__tests__/marker-spot-label.spec.tsx
  packages/trader/src/Modules/SmartChartAlpha/Components/Markers/__tests__/marker-spot.spec.tsx
  packages/trader/src/Modules/SmartChartAlpha/Components/Markers/accumulators-chart-elements.jsx
  packages/trader/src/Modules/SmartChartAlpha/Components/Markers/accumulators-profit-loss-text.jsx
  packages/trader/src/Modules/SmartChartAlpha/Components/Markers/accumulators-profit-loss-tooltip.jsx
  packages/trader/src/Modules/SmartChartAlpha/Components/Markers/index.js
  packages/trader/src/Modules/SmartChartAlpha/Components/Markers/marker-line.jsx
  packages/trader/src/Modules/SmartChartAlpha/Components/Markers/marker-spot-label.jsx
  packages/trader/src/Modules/SmartChartAlpha/Components/Markers/marker-spot.jsx
  packages/trader/src/Modules/SmartChartAlpha/Components/Markers/marker.jsx
  packages/trader/src/Modules/SmartChartAlpha/Components/bottom-widgets.jsx
  packages/trader/src/Modules/SmartChartAlpha/Components/buy-toast-notification.tsx
  packages/trader/src/Modules/SmartChartAlpha/Components/control-widgets.jsx
  packages/trader/src/Modules/SmartChartAlpha/Components/icons.js
  packages/trader/src/Modules/SmartChartAlpha/Components/toolbar-widgets.jsx
  packages/trader/src/Modules/SmartChartAlpha/Components/top-widgets.jsx
  packages/trader/src/Modules/SmartChartAlpha/Helpers/symbol.js
  packages/trader/src/Modules/SmartChartAlpha/index.js
  packages/trader/src/Modules/Trading/Containers/smart-chart-switcher.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Sergei / FEQ 741 / add prevent logout logic as for fb2 (#10282)
  packages/appstore/src/modules/wallets/wallets.tsx
  packages/hooks/src/__tests__/useWalletMigration.spec.tsx
  packages/hooks/src/useWalletMigration.ts
  packages/hooks/src/useWalletsList.ts
Due: prettier --write, npx eslint --fix

chore: updated comments based on reviews
  packages/wallets/src/components/JurisdictionModal/JurisdictionModal.tsx
Due: prettier --write, npx eslint --fix

thisyahlen/feat: add mt5 account type modal (#10289)
  package-lock.json
  packages/wallets/.eslintrc.js
  packages/wallets/src/components/ExternalTradingPlatforms/AddedDxtradeAccountsList/AddedDxtradeAccountsList.tsx
  packages/wallets/src/components/ExternalTradingPlatforms/GetMoreMT5Accounts/GetMoreMT5Accounts.scss
  packages/wallets/src/components/ExternalTradingPlatforms/GetMoreMT5Accounts/GetMoreMT5Accounts.tsx
  packages/wallets/src/components/ExternalTradingPlatforms/MT5AccountType/MT5AccountType.scss
  packages/wallets/src/components/ExternalTradingPlatforms/MT5AccountType/MT5AccountType.tsx
  packages/wallets/src/components/ExternalTradingPlatforms/MT5AccountType/index.ts
  packages/wallets/src/components/ExternalTradingPlatforms/MT5AccountTypeCard/MT5AccountTypeCard.scss
  packages/wallets/src/components/ExternalTradingPlatforms/MT5AccountTypeCard/MT5AccountTypeCard.tsx
  packages/wallets/src/components/ExternalTradingPlatforms/MT5AccountTypeCard/index.ts
  packages/wallets/src/components/ExternalTradingPlatforms/MT5PlatformsList/MT5PlatformsList.tsx
  packages/wallets/src/components/ExternalTradingPlatforms/index.ts
  packages/wallets/src/components/MT5AccountTypeModal/MT5AccountTypeModal.tsx
  packages/wallets/src/components/MT5AccountTypeModal/index.ts
  packages/wallets/src/components/PrimaryActionButton/PrimaryActionButton.scss
  packages/wallets/src/components/PrimaryActionButton/PrimaryActionButton.tsx
  packages/wallets/src/components/WalletModal/WalletModal.scss
  packages/wallets/src/components/WideWrapper/WideWrapper.scss
  packages/wallets/src/components/index.ts
  packages/wallets/src/hooks/useDevice.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: app props from amount desktop to minmax stake
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/amount.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: fixed issues with circleci for wallets
  packages/wallets/src/components/JurisdictionModal/JurisdictionModal.tsx
Due: prettier --write, npx eslint --fix

fix: merge conflict
  packages/reports/src/Containers/open-positions.tsx
  packages/reports/src/Containers/statement.tsx
Due: prettier --write, npx eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
