Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

fix: wallet banner ui issues in TH
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-unsuccessful.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrading.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner.scss
  packages/appstore/src/modules/traders-hub/index.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: update package.json
  package-lock.json
  packages/core/package.json
  packages/shared/package.json
  packages/trader/package.json
Due: prettier --write

refactor(cashier): :recycle: refactor cashier deposit/withdraw visibility
  packages/cashier/src/pages/deposit/__tests__/deposit.spec.tsx
  packages/cashier/src/pages/deposit/deposit.tsx
  packages/cashier/src/pages/withdrawal/__tests__/withdrawal.spec.tsx
  packages/cashier/src/pages/withdrawal/withdrawal.tsx
  packages/hooks/src/useCurrencyConfig.ts
Due: prettier --write, npx eslint --fix

fix: :fire: replaced section message with custom comp (#15984)
  packages/bot-web-ui/src/components/load-modal/load-modal.scss
  packages/bot-web-ui/src/components/load-modal/local.tsx
  packages/bot-web-ui/src/components/load-modal/section-message/index.ts
  packages/bot-web-ui/src/components/load-modal/section-message/section-message.scss
  packages/bot-web-ui/src/components/load-modal/section-message/section-message.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

test: :test_tube: fix test
  packages/trader/src/AppV2/Containers/Positions/__tests__/positions.spec.tsx
Due: prettier --write, npx eslint --fix

Remove `@deriv/reports` from dependencies
  packages/trader/build/webpack.config.js
  packages/trader/package.json
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: tests for one-time-deposit-modal
  packages/core/src/App/Containers/OneTimeDepositModal/__test__/one-time-deposit-modal-content.spec.tsx
  packages/core/src/App/Containers/OneTimeDepositModal/__test__/one-time-deposit-modal.spec.tsx
  packages/core/src/App/Containers/OneTimeDepositModal/one-time-deposit-modal.tsx
Due: prettier --write, npx eslint --fix

feat: testing
  packages/trader/build/webpack.config.js
  packages/trader/package.json
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: rename modal
  packages/core/src/App/Containers/Modals/crypto-transaction-processing-modal/crypto-transaction-processing-modal-content.tsx
  packages/core/src/App/Containers/Modals/crypto-transaction-processing-modal/crypto-transaction-processing-modal.scss
  packages/core/src/App/Containers/Modals/crypto-transaction-processing-modal/crypto-transaction-processing-modal.tsx
  packages/core/src/App/Containers/Modals/crypto-transaction-processing-modal/index.ts
  packages/core/src/App/Containers/OneTimeDepositModal/__test__/one-time-deposit-modal.spec.tsx
  packages/core/src/App/Containers/OneTimeDepositModal/one-time-deposit-modal.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

test: add more tests to profit-store
  packages/reports/src/Stores/Modules/Profit/__tests__/profit-store.spec.ts
  packages/reports/src/Stores/Modules/Profit/profit-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

[DTRA] Maryia/DTRA-1364/fix: initial loading state for Profit Table and Statement (#15737)
  packages/reports/src/Stores/Modules/Profit/profit-store.js
  packages/reports/src/Stores/Modules/Statement/statement-store.js
  packages/trader/src/AppV2/Containers/Positions/__tests__/positions-content.spec.tsx
  packages/trader/src/AppV2/Containers/Positions/positions-content.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Sergei / Fix Localize issue (#15430)
  packages/appstore/src/components/add-options-account/add-options-account.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/cfds-listing-logged-out/cfds-listing-logged-out.tsx
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/compare-account/compare-account.tsx
  packages/appstore/src/components/containers/trading-app-card-actions.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/currency-switcher-card/demo/demo-account-card.tsx
  packages/appstore/src/components/get-started-trading-banner/get-started-trading-banner.tsx
  packages/appstore/src/components/main-title-bar/asset-summary.tsx
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/appstore/src/components/main-title-bar/regulators-switcher.tsx
  packages/appstore/src/components/modals/failed-veriification-modal/failed-verification-modal.tsx
  packages/appstore/src/components/modals/open-positions-svg-modal/open-positions-svg-modal.tsx
  packages/appstore/src/components/modals/regulators-compare-modal/regulators-compare-modal-content.tsx
  packages/appstore/src/components/modals/regulators-compare-modal/regulators-compare-modal.tsx
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.tsx
  packages/appstore/src/components/multi-action-button-group/multi-action-button-group.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/appstore/src/components/routes/routes.tsx
  packages/appstore/src/components/trade-button/trade-button.tsx
  packages/appstore/src/modules/Page404/Components/Page404.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/translations/src/components/localize.jsx
  packages/translations/src/i18next/i18next.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: update @deriv/deriv-charts to 2.1.24
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Due: prettier --write

feat: trying to add loader for total asset (#15717)
  packages/appstore/src/components/main-title-bar/asset-summary.tsx
  packages/core/src/Stores/client-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: update @deriv/deriv-charts to 2.1.24 (#15998)
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Due: prettier --write

chore: remove packages from core
  package-lock.json
  package.json
Due: prettier --write

feat: added updated mt5 icon
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/mt5/ic-mt5-password.svg
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: console log verified not found issue and clear otp after click resend code
  packages/account/src/Sections/Profile/PhoneVerification/__test__/didnt-get-the-code-modal.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/__test__/resend-code-timer.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/didnt-get-the-code-modal.tsx
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
  packages/account/src/Sections/Profile/PhoneVerification/resend-code-timer.tsx
  packages/core/src/Stores/notification-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: Remove tooltip component from Wallets package
  packages/wallets/src/components/Base/Tooltip/Tooltip.scss
  packages/wallets/src/components/Base/Tooltip/Tooltip.tsx
  packages/wallets/src/components/Base/Tooltip/__tests__/Tooltip.spec.tsx
  packages/wallets/src/components/Base/Tooltip/index.ts
  packages/wallets/src/components/Base/index.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: added title to header and fixed modal content css
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/sass/cfd.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: update package-lock.json
  package-lock.json
Due: prettier --write

chore: replace TransactionsPendingRowField with tooltip from deriv/ui
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/components/TransactionsPendingRowField/TransactionsPendingRowField.scss
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/components/TransactionsPendingRowField/TransactionsPendingRowField.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/components/WithdrawalCryptoPriorityFeeInfo/WithdrawalCryptoPriorityFeeInfo.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeDetailsItem/MT5TradeDetailsItem.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: rename component according to file
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/TransactionsPendingRow.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/__tests__/TransactionsPendingRow.spec.tsx
Due: prettier --write, npx eslint --fix

feat: add react beautiful dnd to trader package
  package-lock.json
  packages/trader/package.json
Due: prettier --write

chore: mobile version
  package.json
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/payout-per-point-input.tsx
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/payout-per-point-mobile-input.tsx
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/payout-per-point.scss
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/barrier-selector.tsx
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker-mobile.tsx
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker.scss
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker.tsx
  packages/trader/src/Modules/Trading/Components/Form/screen-small.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: improve draggable list logic
  packages/trader/src/AppV2/Components/DraggableList/draggable-list.tsx
Due: prettier --write, npx eslint --fix

fix: Dbot offering for Norway and Japan users
  packages/bot-web-ui/src/stores/app-store.ts
Due: prettier --write, npx eslint --fix

chore: fix test cases
  packages/wallets/src/components/Base/WalletClipboard/WalletClipboard.tsx
  packages/wallets/src/components/Base/WalletClipboard/__tests__/WalletClipboard.spec.tsx
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoAddress/DepositCryptoAddress.tsx
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoAddress/__tests__/DepositCryptoAddress.spec.tsx
Due: prettier --write, npx eslint --fix

chore: fix verification link keeps displaying issue
  packages/account/src/Sections/Profile/PhoneVerification/__test__/phone-verification-page.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification-page.tsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/ui-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: added testcases for hook and tin schema
  packages/account/src/Configs/__test__/user-profile-validation-config.spec.ts
  packages/hooks/src/__tests__/useTinValidations.spec.tsx
Due: prettier --write, npx eslint --fix

[WALL] george / WALL-4501 / update "@deriv-com/analytics" to v1.8.0 (#15890)
  package-lock.json
  package.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/trader/src/AppV2/Containers/Positions/__tests__/positions.spec.tsx
  packages/wallets/package.json
Due: prettier --write, npx eslint --fix

feat: added modal footer style
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/sass/cfd.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: bugs with resetting filter and icon for hight low
  packages/trader/src/AppV2/Components/ContractCard/contract-card.tsx
  packages/trader/src/AppV2/Containers/Positions/positions.tsx
  packages/trader/src/Stores/Modules/Positions/positions-store.ts
Due: prettier --write, npx eslint --fix
