Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

chore: add useAccountsList to deriv/api
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useAccountsList.ts
  packages/api/src/hooks/useAuthorize.ts
  packages/api/src/index.ts
Due: prettier --write, npx eslint --fix

refactor: wallet-add-card.spec.tsx
  packages/appstore/src/components/add-more-wallets/__test__/wallet-add-card.spec.tsx
Due: prettier --write, npx eslint --fix

feat: cfd-server-maintenance-dialog
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/cfd/src/Containers/cfd-server-maintenance-dialog.tsx
  packages/cfd/src/Stores/Modules/CFD/cfd-store.js
  packages/cfd/src/types/cfd-store.types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: 🐛 Farzin/Aum/WEBREL-1102/pa-withdrawal-redirection-fix (#9759)
  packages/cashier/src/pages/payment-agent/payment-agent-container/payment-agent-container.tsx
  packages/cashier/src/stores/general-store.ts
  packages/cashier/src/stores/payment-agent-store.ts
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
Due: prettier --write

fix: review comments
  packages/bot-skeleton/src/services/api/api-base.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: review comments
  packages/bot-skeleton/src/services/api/api-base.js
  packages/bot-skeleton/src/services/tradeEngine/utils/helpers.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: addmorewallets.tsx,addmorewallets.scss,addmorewallets.spec.tsx,walletaddcard.tsx
  packages/appstore/src/components/add-more-wallets/__test__/add-more-wallets.spec.tsx
  packages/appstore/src/components/add-more-wallets/add-more-wallets.scss
  packages/appstore/src/components/add-more-wallets/add-more-wallets.tsx
  packages/appstore/src/components/add-more-wallets/wallet-add-card.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: migrating the initstore to typescript
  packages/cfd/src/Stores/index.ts
  packages/cfd/src/app.tsx
  packages/cfd/src/init-store.ts
  packages/cfd/types.ts
Due: prettier --write, npx eslint --fix

chore: review comments
  packages/account/src/Components/file-uploader-container/__tests__/file-uploader.spec.tsx
  packages/account/src/Components/file-uploader-container/file-uploader-container.tsx
  packages/core/src/sass/app/_common/components/onfido-container.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: added use-balance hook in api package
  packages/api/src/hooks/useBalance.tsx
Due: prettier --write, npx eslint --fix

chore: refactor the type based on new Store Types TCoreStores
  packages/cfd/src/init-store.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

fix: address comments
  packages/api/src/hooks/useAccountsList.ts
Due: prettier --write, npx eslint --fix

chore: refactor the type of Server time to TCommonStores
  packages/cfd/src/_common/base/server_time.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: refactor the type of Server time
  packages/cfd/src/_common/base/server_time.ts
Due: prettier --write, npx eslint --fix

fix: added 2 new status for withdrawal
  packages/api/types.ts
  packages/cashier/src/constants/transaction-status.tsx
Due: prettier --write, npx eslint --fix

chore: disable fields upon confirmation checkbox selection
  packages/account/src/Components/form-body-section/form-body-section.tsx
  packages/account/src/Components/forms/confirmation-checkbox/__tests__/confirmation-checkbox.spec.tsx
  packages/account/src/Components/forms/confirmation-checkbox/confirmation-checkbox.tsx
  packages/account/src/Components/forms/confirmation-checkbox/index.ts
  packages/account/src/Components/forms/formik-confirmation-checkbox/index.ts
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.tsx
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.tsx
  packages/core/src/sass/app/_common/components/onfido-container.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

sample of code from 9770
  a.patch
  package-lock.json
  packages/api/package.json
  packages/api/src/hooks/useBalance.tsx
  packages/api/src/useAuthorize.ts
  packages/utils/package.json
  packages/utils/src/__tests__/getAccountsFromLocalStorage.spec.ts
  packages/utils/src/__tests__/getActiveAuthTokenIDFromLocalStorage.spec.ts
  packages/utils/src/__tests__/getActiveLoginIDFromLocalStorage.spec.ts
  packages/utils/src/getAccountsFromLocalStorage.ts
  packages/utils/src/getActiveAuthTokenIDFromLocalStorage.ts
  packages/utils/src/getActiveLoginIDFromLocalStorage.ts
  packages/utils/src/index.ts
Due: prettier --write, npx eslint --fix

chore: export use-balance
  packages/api/src/index.ts
Due: prettier --write, npx eslint --fix

refactor: added interval polling to refetch balance every 30s
  packages/api/src/hooks/useBalance.tsx
Due: prettier --write, npx eslint --fix

chore: useWalletAccountsList and useActiveWalletAccountsList hooks
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useActiveWalletAccounts.ts
  packages/api/src/hooks/useWalletAccountsList.ts
Due: prettier --write, npx eslint --fix

fix: added additional field check for diel accounts
  packages/account/src/Components/forms/personal-details-form.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

this is not needed
  a.patch
Due: none

chore: update test case
  packages/account/src/Components/poi/idv-document-submit/__tests__/idv-document-submit.spec.tsx
Due: prettier --write, npx eslint --fix

fix: width adjustment on responsive
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: fixed text content for dynamic leverage
  packages/cfd/src/Constants/dynamic-leverage-content/dynamic-leverage-content.ts
  packages/cfd/src/Containers/dynamic-leverage/__test__/dynamic-leverage-modal-content.spec.tsx
  packages/cfd/src/Containers/dynamic-leverage/dynamic-leverage-modal-content.tsx
Due: prettier --write, npx eslint --fix

refactor: :art: removes unused is_appstore flag
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/Containers/PasswordSelectionModal/password-selection-modal.jsx
  packages/shared/src/utils/login/login.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: deja vu
  packages/cashier/src/pages/withdrawal/withdrawal.tsx
Due: prettier --write, npx eslint --fix

feat: add as to Button and delete SpanButton
  packages/appstore/src/constants/tour-steps-config-new.tsx
  packages/appstore/src/constants/tour-steps-config.tsx
  packages/appstore/src/modules/tour-guide/tour-guide.tsx
  packages/components/src/components/button/button.tsx
  packages/components/src/components/span-button/index.ts
  packages/components/src/components/span-button/span-button.tsx
  packages/components/src/index.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: config files ts migration and refactor (#8)
  packages/account/src/Configs/__test__/address-details-config.spec.ts
  packages/account/src/Configs/__test__/get-status-badge-config.spec.tsx
  packages/account/src/Configs/__test__/personal-details-config.spec.ts
  packages/account/src/Configs/accept-risk-config.ts
  packages/account/src/Configs/address-details-config.ts
  packages/account/src/Configs/currency-selector-config.ts
  packages/account/src/Configs/financial-details-config.ts
  packages/account/src/Configs/get-status-badge-config.tsx
  packages/account/src/Configs/personal-details-config.ts
  packages/account/src/Configs/proof-of-identity-config.ts
  packages/account/src/Configs/terms-of-use-config.ts
  packages/account/src/Configs/trading-assessment-config.tsx
  packages/account/src/Sections/Security/ClosingAccount/__tests__/closing-account-reason.spec.js
  packages/account/src/Types/common-prop.type.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

test: add test case for bot-notificatoin-messages component
  packages/bot-web-ui/src/components/audio/__tests__/audio.spec.tsx
  packages/bot-web-ui/src/components/bot-notification-messages/__tests__/bot-notification-messages.spec.tsx
  packages/bot-web-ui/src/components/bot-notification-messages/bot-notification-messages.tsx
Due: prettier --write, npx eslint --fix

test: add test case for bot-notification-messages component
  packages/bot-web-ui/src/components/audio/__tests__/audio.spec.tsx
  packages/bot-web-ui/src/components/bot-notification-messages/__tests__/bot-notification-messages.spec.tsx
  packages/bot-web-ui/src/components/bot-notification-messages/bot-notification-messages.tsx
Due: prettier --write, npx eslint --fix

refactor: test for run strategy
  packages/bot-web-ui/src/components/dashboard/dashboard-component/__tests__/run-strategy.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/run-strategy.tsx
Due: prettier --write, npx eslint --fix

chore: review comments addressing
  packages/account/src/Components/poa/common-mistakes/common-mistake-examples.tsx
  packages/account/src/Components/poi/poi-confirm-with-example-form-container/poi-confirm-with-example-form-container.tsx
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.tsx
  packages/account/src/Sections/Verification/Helpers/verification.js
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-container.tsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

build: update charts version to 1.3.3
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Due: prettier --write

fix: failing test
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: webrel 1107
  packages/components/src/components/vertical-tab/vertical-tab.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: implement suggestions for packages/appstore/src/components
  packages/appstore/src/components/routes/routes.tsx
  packages/appstore/src/components/wallet-button/wallet-button.tsx
  packages/appstore/src/components/wallet-cards-carousel/__tests__/wallet-cards-carousel.spec.tsx
  packages/appstore/src/components/wallet-content/wallet-cfds-listing.tsx
  packages/appstore/src/components/wallet-content/wallet-option-multipliers-listing.tsx
  packages/appstore/src/components/wallet-header/__tests__/wallet-header.spec.tsx
  packages/appstore/src/components/wallet-header/wallet-header.scss
  packages/appstore/src/components/wallet-transfer/__tests__/wallet-transfer.spec.tsx
  packages/appstore/src/components/wallet-transfer/transfer-account-selector/__tests__/transfer-account-list.spec.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: refresh button style
  packages/cashier/src/modules/deposit-crypto/components/deposit-crypto-wallet-address/deposit-crypto-wallet-address.scss
  packages/cashier/src/modules/deposit-crypto/components/deposit-crypto-wallet-address/deposit-crypto-wallet-address.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: re prev commit
  packages/components/src/components/vertical-tab/vertical-tab.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write
