Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

chore: minor changes
  packages/bot-web-ui/src/components/quick-strategy/selects/__tests__/symbol.spec.tsx
  packages/bot-web-ui/src/components/quick-strategy/selects/symbol.tsx
Due: prettier --write, npx eslint --fix

revert: revert my latest changes for useTotalAccountBalance
  packages/hooks/src/useTotalAccountBalance2.ts
Due: prettier --write, npx eslint --fix

chore: apply nit
  packages/components/src/components/contract-card/result-overlay/__tests__/result-overlay.spec.tsx
Due: prettier --write, npx eslint --fix

refactor: modified payload for Financial-assessment
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-assessment.tsx
  packages/account/src/Types/common.type.ts
Due: prettier --write, npx eslint --fix

chore: updated test case
  packages/cfd/src/Containers/cfd-compare-accounts/__tests__/cfd-compare-accounts-description.spec.tsx
  packages/cfd/src/Helpers/compare-accounts-config.ts
Due: prettier --write, npx eslint --fix

chore: update description for deriv x enter password modal
  packages/wallets/src/features/cfd/screens/EnterPassword/EnterPassword.tsx
Due: prettier --write, npx eslint --fix

fix: :art: fix types, remove unused code
  packages/wallets/src/features/cashier/modules/TransferForm/components/TransferFormAccountCard/TransferFormAccountCard.tsx
  packages/wallets/src/features/cashier/modules/TransferForm/hooks/index.ts
  packages/wallets/src/features/cashier/modules/TransferForm/hooks/useWalletTransfer.ts
  packages/wallets/src/features/cashier/modules/TransferForm/provider/TransferProvider.tsx
Due: prettier --write, npx eslint --fix

fix: bug fixed
  packages/hooks/src/__tests__/useTotalAccountBalance2.spec.tsx
  packages/hooks/src/useTotalAccountBalance2.ts
  packages/stores/src/exchangeRatesProvider.tsx
Due: prettier --write, npx eslint --fix

refactor: add lb call and put
  packages/shared/src/utils/constants/contract.ts
  packages/shared/src/utils/contract/contract.tsx
  packages/trader/src/Assets/Trading/Categories/__tests__/icon-trade-categories.spec.tsx
  packages/trader/src/Assets/Trading/Categories/__tests__/trade-categories-gif.spec.tsx
  packages/trader/src/Assets/Trading/Categories/__tests__/trade-categories.spec.tsx
  packages/trader/src/Assets/Trading/Categories/icon-trade-categories.tsx
  packages/trader/src/Assets/Trading/Categories/trade-categories-gif.tsx
  packages/trader/src/Assets/Trading/Categories/trade-categories.tsx
  packages/trader/src/Modules/Trading/Containers/__tests__/purchase.spec.tsx
Due: prettier --write, npx eslint --fix

chore: update files to ts and moved some functions to a seperate file
  packages/account/src/Sections/Profile/PersonalDetails/constants.js
  packages/account/src/Sections/Profile/PersonalDetails/constants.tsx
  packages/account/src/Sections/Profile/PersonalDetails/index.js
  packages/account/src/Sections/Profile/PersonalDetails/index.ts
  packages/account/src/Sections/Profile/PersonalDetails/input-group.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.tsx
  packages/account/src/Sections/Profile/PersonalDetails/tax-residence-select.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: migration for personal-details
  packages/account/src/Helpers/utils.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.tsx
  packages/account/src/Sections/Profile/PersonalDetails/tax-residence-select.tsx
  packages/account/src/Types/common.type.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

chore: update TS migration for personal-details file
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.tsx
  packages/components/package.json
  packages/components/src/components/select-native/select-native.tsx
Due: prettier --write, npx eslint --fix

style: :lipstick: style fix
  packages/wallets/src/features/cashier/modules/TransferForm/TransferForm.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: :zap: fix types
  packages/wallets/src/features/cashier/modules/TransferForm/helpers/helpers.ts
Due: prettier --write, npx eslint --fix

chore: try using yup validation
  packages/account/package.json
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.tsx
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
  packages/components/package.json
  packages/components/src/components/select-native/select-native.tsx
  packages/components/stories/icon/icons.js
  packages/stores/src/mockStore.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: update validation
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.tsx
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
Due: prettier --write, npx eslint --fix

chore: refactored personal-details component
  packages/account/package.json
  packages/account/src/App.tsx
  packages/account/src/Sections/Profile/PersonalDetails/constants.ts
  packages/account/src/Sections/Profile/PersonalDetails/constants.tsx
  packages/account/src/Sections/Profile/PersonalDetails/form-select-field.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.tsx
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
  packages/api/src/hooks/useGetAccountStatus.ts
  packages/api/src/hooks/useSettings.ts
  packages/shared/src/utils/location/location.ts
Due: prettier --write, npx eslint --fix

chore: added test case into the files
  packages/account/src/App.tsx
  packages/account/src/Components/additional-kyc-info-modal/form-config.tsx
  packages/account/src/Components/forms/form-select-field.tsx
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/constants.spec.ts
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/input-group.spec.tsx
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/personal-details.spec.js
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/personal-details.tsx
  packages/account/src/Sections/Profile/PersonalDetails/form-select-field.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.tsx
  packages/account/src/Sections/Profile/PersonalDetails/tax-residence-select.tsx
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
  packages/components/src/components/select-native/select-native.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: add test case for validation and remove commented codes in personal details
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/personal-details.spec.tsx
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/personal-details.tsx
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/validation.spec.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.tsx
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
Due: prettier --write, npx eslint --fix

chore: add personal-details test case
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/personal-details.spec.tsx
Due: prettier --write, npx eslint --fix

chore: update personal-details.spec.tsx
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/personal-details.spec.tsx
Due: prettier --write, npx eslint --fix

chore: update test case for personal-details
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/personal-details.spec.tsx
Due: prettier --write, npx eslint --fix

chore: update to follow master
  packages/components/stories/icon/icons.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: remove unwanted file changes
  packages/components/src/components/contract-card/contract-card-items/vanilla-options-card-body.tsx
  packages/wallets/src/AppContent.tsx
  packages/wallets/src/components/WalletTourGuide/WalletTourGuideSettings.tsx
Due: prettier --write, npx eslint --fix

feat: change structure a little bit
  packages/wallets/src/components/WalletTourGuide/DesktopSteps.tsx
  packages/wallets/src/components/WalletTourGuide/MobileSteps.tsx
  packages/wallets/src/components/WalletTourGuide/WalletMobileTourGuide.tsx
  packages/wallets/src/components/WalletTourGuide/WalletTourGuide.tsx
  packages/wallets/src/components/WalletTourGuide/WalletTourGuideSettings.tsx
Due: prettier --write, npx eslint --fix

fix: account for https://github.com/binary-com/deriv-app/pull/11304
  packages/wallets/src/features/cashier/modules/Transactions/Transactions.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: added testcases for the enhancement
  packages/account/src/Components/financial-details/__tests__/financial-details.spec.tsx
  packages/account/src/Components/financial-details/financial-details-partials.tsx
  packages/account/src/Components/financial-details/financial-details.tsx
  packages/account/src/Helpers/utils.tsx
  packages/shared/src/utils/validation/__tests__/form-validation.spec.ts
Due: prettier --write, npx eslint --fix

feat: delete localStorage key for wallets onboarding
  packages/core/src/Stores/client-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: update description for deriv x enter password modal (#11338)
  packages/wallets/src/features/cfd/screens/EnterPassword/EnterPassword.tsx
Due: prettier --write, npx eslint --fix

fix: code smells
  packages/account/src/Configs/financial-details-config.ts
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-assessment.tsx
Due: prettier --write, npx eslint --fix

fix: code smells
  packages/account/src/Configs/financial-details-config.ts
Due: prettier --write, npx eslint --fix

translations: 📚 sync translations with crowdin
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/ar.json
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/de.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/ko.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

build: update lock file
  package-lock.json
Due: prettier --write

chore: test
  packages/components/src/components/contract-card/contract-card-items/multiplier-card-body.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: added invalid and valid states of the text field and helper message - updated styles in WalletTextfield - updated styles in WalletPasswordField - added constants for helper message'
  packages/wallets/src/components/Base/WalletPasswordField/PasswordMeter.tsx
  packages/wallets/src/components/Base/WalletPasswordField/WalletPasswordField.tsx
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: passport document upload
  packages/wallets/package.json
  packages/wallets/src/components/Dropzone/Dropzone.scss
  packages/wallets/src/components/Dropzone/Dropzone.tsx
  packages/wallets/src/components/Dropzone/index.ts
  packages/wallets/src/components/index.ts
  packages/wallets/src/features/accounts/screens/ManualDocumentUpload/components/DocumentRuleHint/DocumentRuleHint.scss
  packages/wallets/src/features/accounts/screens/ManualDocumentUpload/components/DocumentRuleHint/DocumentRuleHint.tsx
  packages/wallets/src/features/accounts/screens/ManualDocumentUpload/components/DocumentRuleHint/index.ts
  packages/wallets/src/features/accounts/screens/ManualDocumentUpload/components/PassportDocumentUpload/PassportDocumentUpload.scss
  packages/wallets/src/features/accounts/screens/ManualDocumentUpload/components/PassportDocumentUpload/PassportDocumentUpload.tsx
  packages/wallets/src/public/images/accounts/clear-photo.svg
  packages/wallets/src/public/images/accounts/clock-icon.svg
  packages/wallets/src/public/images/accounts/image-icon.svg
  packages/wallets/src/public/images/accounts/less-than-eight-icon.svg
  packages/wallets/src/public/images/accounts/passport-placeholder.svg
  packages/wallets/src/public/images/calendar.svg
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: all digit contracts
  packages/components/src/components/icon-trade-types/icon-trade-types.tsx
  packages/core/src/Stores/Helpers/__tests__/chart-markers.spec.ts
  packages/shared/src/utils/constants/__tests__/contract.spec.ts
  packages/shared/src/utils/constants/contract.ts
  packages/shared/src/utils/contract/__tests__/contract.spec.ts
  packages/shared/src/utils/contract/contract.tsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/helpers/positions-helper.ts
  packages/trader/src/Assets/Trading/Categories/__tests__/icon-trade-categories.spec.tsx
  packages/trader/src/Assets/Trading/Categories/__tests__/trade-categories-gif.spec.tsx
  packages/trader/src/Assets/Trading/Categories/__tests__/trade-categories.spec.tsx
  packages/trader/src/Assets/Trading/Categories/icon-trade-categories.tsx
  packages/trader/src/Assets/Trading/Categories/trade-categories-gif.tsx
  packages/trader/src/Assets/Trading/Categories/trade-categories.tsx
  packages/trader/src/Modules/Contract/Components/LastDigitPrediction/last-digit-prediction.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-display.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-info.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-menu.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-widget.spec.tsx
  packages/trader/src/Modules/Trading/Containers/__tests__/contract-type.spec.jsx
  packages/trader/src/Modules/Trading/Helpers/__tests__/contract-type.spec.tsx
  packages/trader/src/Modules/Trading/Helpers/__tests__/digits.spec.ts
  packages/trader/src/Modules/Trading/Helpers/digits.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: checking p2p issue
  packages/hooks/src/useExchangeRate2.ts
Due: prettier --write, npx eslint --fix
