Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

[BOT] Rupato/BOT-1108/Improve performance tutorial tab search (#11844)
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/common/common-tabs/index.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/common/search-input/index.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/config/index.ts
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/faq-content/index.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content/__tests__/guide-content.spec.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content/index.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/index.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorial-tab.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorials-tab-desktop.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorials-tab-mobile.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

[BOT] shafin/BOT-862/fix dont show warning pop-up when leaving bot if bot is not running (#11943)
  packages/bot-web-ui/src/stores/__tests__/route-prompt-store.spec.tsx
  packages/bot-web-ui/src/stores/route-prompt-dialog-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/ar.json
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/de.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/ko.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

[CFDS]shontzu/CFDS-1392/Removing-minus-sign-icon-in-jurisdiction-container (#11471)
  packages/cfd/src/Components/props.types.ts
  packages/cfd/src/Constants/jurisdiction-contents/jurisdiction-svg-contents.ts
  packages/cfd/src/Constants/jurisdiction-contents/jurisdiction-verification-contents.ts
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-card-back.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-card-section.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-title-indicator.spec.tsx
Due: prettier --write, npx eslint --fix

shontzu/CFDS-1358/jurisdiction-modal-Next-button-padding-inconsistent (#11649)
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/appstore/src/components/modals/account-type-modal/account-type-modal.scss
  packages/appstore/src/components/modals/account-type-modal/account-type-modal.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-content-wrapper.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: updated the type of the width
  packages/cfd/src/features/types/components.types.ts
Due: prettier --write, npx eslint --fix

fix: resolve comments
  packages/trader/src/App/Components/Form/TimePicker/__tests__/dialog.spec.tsx
  packages/trader/src/App/Components/Form/TimePicker/__tests__/time-picker.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/DatePicker/__tests__/trading-date-picker.spec.tsx
Due: prettier --write, npx eslint --fix

[BOT] Farabi/bot-968/stop bot modal content test case (#11953)
  packages/bot-web-ui/src/components/dashboard/dashboard-component/__tests__/stop-bot-modal-content.spec.tsx
Due: prettier --write, npx eslint --fix

chore: traders hub legacy in wallets
  packages/wallets/src/routes/Router.tsx
  packages/wallets/src/routes/TradersHubRoute/TradersHubRoute.scss
  packages/wallets/src/routes/TradersHubRoute/TradersHubRoute.tsx
  packages/wallets/src/routes/TradersHubRoute/index.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

[Wallets] Sergei / wall 2131 / Dropdown for DTrader & Dbot (#11048)
  packages/core/src/App/Components/Layout/Header/__tests__/account-info-icon.spec.tsx
  packages/core/src/App/Components/Layout/Header/__tests__/account-info-wallets.spec.tsx
  packages/core/src/App/Components/Layout/Header/__tests__/account-info-wrapper.spec.tsx
  packages/core/src/App/Components/Layout/Header/__tests__/display-account-type.spec.tsx
  packages/core/src/App/Components/Layout/Header/__tests__/wallet-badge.spec.tsx
  packages/core/src/App/Components/Layout/Header/account-info-icon.tsx
  packages/core/src/App/Components/Layout/Header/account-info-wrapper.tsx
  packages/core/src/App/Components/Layout/Header/account-info.jsx
  packages/core/src/App/Components/Layout/Header/display-account-type.tsx
  packages/core/src/App/Components/Layout/Header/index.js
  packages/core/src/App/Components/Layout/Header/wallets/account-actions-wallets.tsx
  packages/core/src/App/Components/Layout/Header/wallets/account-info-wallets.tsx
  packages/core/src/App/Components/Layout/Header/wallets/accounts-info-loader-wallets.tsx
  packages/core/src/App/Components/Layout/Header/wallets/wallet-badge.tsx
  packages/core/src/App/Containers/AccountSwitcherWallet/__tests__/account-switcher-wallet-item.spec.tsx
  packages/core/src/App/Containers/AccountSwitcherWallet/__tests__/account-switcher-wallet.spec.tsx
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet-item.scss
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet-item.tsx
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet.scss
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet.tsx
  packages/core/src/App/Containers/AccountSwitcherWallet/index.ts
  packages/core/src/App/Containers/Layout/header/__tests__/header.spec.tsx
  packages/core/src/App/Containers/Layout/header/dtrader-header-wallets.tsx
  packages/core/src/App/Containers/Layout/header/header.tsx
  packages/core/src/sass/app/_common/components/account-switcher.scss
  packages/hooks/src/__tests__/useStoreLinkedWalletsAccounts.spec.tsx
  packages/hooks/src/__tests__/useStoreWalletAccountsList.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useStoreLinkedWalletsAccounts.ts
  packages/hooks/src/useStoreWalletAccountsList.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/wallets/src/components/DerivAppsSection/DerivAppsGetAccount.tsx
  packages/wallets/src/components/WalletsAddMoreCardBanner/WalletsAddMoreCardBanner.tsx
  packages/wallets/src/hooks/useSyncLocalStorageClientAccounts.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: google drive showing connected even on abort action
  packages/bot-web-ui/src/stores/google-drive-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: finished the typing of the components based on the api types
  packages/cfd/src/features/types/components.types.ts
Due: prettier --write, npx eslint --fix

[WALL] Farhan/Wallet crowdin integration (#11901)
  .github/actions/build/action.yml
  .github/workflows/release_staging.yml
  .github/workflows/release_test.yml
  packages/wallets/crowdin.yml
  packages/wallets/package.json
  packages/wallets/scripts/update-translations.sh
  packages/wallets/src/AppContent.tsx
  packages/wallets/src/components/WalletLanguageSidePanel/WalletLanguageSidePanel.tsx
  packages/wallets/src/features/cfd/CFDPlatformsList.tsx
  packages/wallets/src/translations/de.json
  packages/wallets/src/translations/en.json
  packages/wallets/src/translations/i18n.ts
  packages/wallets/src/translations/id.json
  packages/wallets/src/translations/messages.json
  packages/wallets/src/translations/ms.json
Due: prettier --write, npx eslint --fix

chore: added the icon functionality to cTrader (#11865)
  packages/appstore/src/components/containers/trading-app-card.tsx
Due: prettier --write, npx eslint --fix

chore: backup
  packages/api/src/hooks/useP2PAdvertCreate.ts
Due: prettier --write, npx eslint --fix

chore: moved mock-data file to pages folder and fixed import
  packages/p2p/src/pages/my-ads/__mocks__/mock-data.ts
  packages/p2p/src/stores/__tests__/my-ads-store.spec.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: duplicate key issue on route
  packages/cashier/src/containers/routes/binary-routes.tsx
Due: prettier --write, npx eslint --fix

chore: added key generation for trans component
  package-lock.json
  packages/wallets/package.json
  packages/wallets/src/translations/i18n.ts
Due: prettier --write, npx eslint --fix

fix: 🧹connection is canceled
  packages/p2p/src/stores/sendbird-store.ts
Due: prettier --write, npx eslint --fix

refactor: firefox unable to parse SASSS :has selector
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: removed isMobile() from toolbar component
  packages/bot-web-ui/src/components/chart/chart.tsx
  packages/bot-web-ui/src/components/chart/toolbar-widgets.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar-icon.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/dashboard-component.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/local.tsx
Due: prettier --write, npx eslint --fix

fix: failing test
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/start-date.spec.ts
Due: prettier --write, npx eslint --fix

fix: failing test
  packages/trader/src/Modules/Trading/Components/Form/DatePicker/__tests__/trading-date-picker.spec.tsx
Due: prettier --write, npx eslint --fix

refactor: broken return statement into smaller chunks of variables
  packages/cfd/src/features/hooks/useIsEuRegion.ts
Due: prettier --write, npx eslint --fix

Revert "chore: update charts version (#12022)"
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Due: prettier --write

Revert "chore: update charts version (#12022)" (#12046)
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Due: prettier --write

Revert "fix: digit fix (#12010)"
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Revert "fix: digit fix (#12010)" (#12047)
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Revert "[DTRA] Bala/Fix switcher test case (#11962)"
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/__tests__/launch-modal.spec.tsx
Due: prettier --write, npx eslint --fix

Revert "[DTRA] Bala/Fix switcher test case (#11962)" (#12048)
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/__tests__/launch-modal.spec.tsx
Due: prettier --write, npx eslint --fix
