Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

fix: close_button_on_responsive
  packages/account/src/Containers/account.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: fixed ts errors
  packages/components/src/components/mobile-drawer/mobile-drawer.tsx
  packages/components/src/components/page-overlay/page-overlay.tsx
Due: prettier --write, npx eslint --fix

chore: remove boom description for eu regulation
  packages/appstore/src/constants/regulators-modal-content.ts
Due: prettier --write, npx eslint --fix

chore: update type declaration to use union instead of intersection
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

chore: remove unnecessary export
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

fix: multiplier close button cut off in mobile view
  packages/reports/src/Containers/open-positions.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: empty notification dropdown
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Hamza/78834/banner blinks on adding new account (#7455)
  packages/core/src/App/Containers/app-notification-messages.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: add new properties to mockStore
  packages/stores/src/mockStore.ts
Due: prettier --write, npx eslint --fix

feat: refactor useCountdown store test
  packages/hooks/src/__tests__/useCountdown.spec.tsx
Due: prettier --write, npx eslint --fix

chore: remove boom description for eu regulation (#7467)
  packages/appstore/src/constants/regulators-modal-content.ts
Due: prettier --write, npx eslint --fix

Amina/87406/fix: exit modal fix (#7464)
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
Due: prettier --write

chore: added loader to fix glitch when getting order details
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/buy-sell/buy-sell-modal.jsx
  packages/p2p/src/components/orders/order-table/order-table-row.jsx
  packages/p2p/src/components/orders/orders.jsx
  packages/p2p/src/stores/order-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: empty notification dropdown (#7468)
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: fixed height of table to show 5 users at a time
  packages/p2p/src/components/my-profile/block-user/block-user-table/block-user-table.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: deposit_locked_in_for_cr_account
  packages/cashier/src/pages/deposit/deposit.tsx
  packages/hooks/src/useNeedAuthentication.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix

feat(core): :sparkles: add `is_crypto` method to `ClientStore`
  packages/core/src/Stores/client-store.js
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat(hooks): :sparkles: add `useOnrampVisible` hook
  packages/hooks/src/index.ts
  packages/hooks/src/useOnrampVisible.ts
Due: prettier --write, npx eslint --fix

feat: refactor useSubscription store test
  packages/api/src/__tests__/useSubscription.spec.tsx
Due: prettier --write, npx eslint --fix

refactor(cashier): :recycle: replace `is_onramp_tab_visible` with `useOnrampVisible`
  packages/cashier/src/containers/cashier/__tests__/cashier.spec.tsx
  packages/cashier/src/containers/cashier/cashier.tsx
Due: prettier --write, npx eslint --fix

refactor(core): :recycle: replace `is_onramp_tab_visible` with `useOnrampVisible`
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

docs(cashier): :wastebasket: deprecated legacy `is_onramp_tab_visible` method
  packages/cashier/src/stores/on-ramp-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: close_button_on_responsive (#7465)
  packages/account/src/Containers/account.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/id.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
Due: prettier --write

feat: refactor store test
  packages/api/src/__tests__/useWS.spec.tsx
  packages/hooks/src/__tests__/useCountdown.spec.tsx
  packages/hooks/src/__tests__/useDepositLocked.spec.tsx
  packages/hooks/src/__tests__/useNeedAuthentication.spec.tsx
  packages/hooks/src/__tests__/useNeedFinancialAssessment.spec.tsx
  packages/hooks/src/__tests__/useNeedTNC.spec.tsx
  packages/hooks/src/__tests__/useRealSTPAccount.spec.tsx
  packages/stores/src/__tests__/useStore.spec.tsx
Due: prettier --write, npx eslint --fix

fix: showing notice popup for LOW_RISK/NON_EU
  packages/core/src/App/Containers/Modals/app-modals.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: ts migration for self exclusion confirm page and tests
  packages/account/src/Components/self-exclusion/__tests__/self-exclusion-article-content.spec.tsx
  packages/account/src/Components/self-exclusion/__tests__/self-exclusion-article.spec.tsx
  packages/account/src/Components/self-exclusion/__tests__/self-exclusion-confirm-page.spec.tsx
  packages/account/src/Components/self-exclusion/__tests__/self-exclusion-modal.spec.tsx
  packages/account/src/Components/self-exclusion/__tests__/self-exclusion-wrapper.spec.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-confirm-page.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-context.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-wrapper.tsx
Due: prettier --write, npx eslint --fix

fix: fixed an issue where rate change modal is not shown when user changes to different currency
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
  packages/p2p/src/components/modal-manager/modals/rate-change-modal/rate-change-modal.jsx
  packages/p2p/src/stores/buy-sell-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: remove .jsx from files
  packages/account/src/Components/self-exclusion/self-exclusion-form.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: removed old commits
  packages/p2p/src/components/modals/index.js
  packages/p2p/src/components/modals/modal-id.js
  packages/p2p/src/components/modals/modal-manager.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: circleci_issues
  packages/cashier/src/components/cashier-locked/__tests__/cashier-locked.spec.tsx
  packages/cashier/src/components/no-balance/__tests__/no-balance.spec.tsx
  packages/cashier/src/pages/account-transfer/__tests__/account-transfer.spec.tsx
  packages/cashier/src/pages/deposit/__tests__/deposit.spec.tsx
  packages/cashier/src/pages/on-ramp/__tests__/on-ramp.spec.tsx
  packages/hooks/package.json
  packages/hooks/src/__tests__/useDepositLocked.spec.tsx
  packages/hooks/src/__tests__/useNeedAuthentication.spec.tsx
  packages/hooks/src/useNeedAuthentication.ts
Due: prettier --write, npx eslint --fix

Amina/fix: cfd listing fix (#7463)
  packages/core/src/Stores/traders-hub-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: exit traders hub and account switcher
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/Modals/exit-traders-hub-modal/exit-traders-hub-modal.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: exit traders hub and account switcher
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write
