Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

fix: enhance app-icon style
  packages/components/src/components/app-linked-with-wallet-icon/app-linked-with-wallet-icon.scss
  packages/components/src/components/app-linked-with-wallet-icon/app-linked-with-wallet-icon.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: enhance app-icon style
  packages/components/src/components/app-linked-with-wallet-icon/app-linked-with-wallet-icon.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor(components): :lipstick: refactor `InlineMessage` component with the new design
  packages/components/src/components/inline-message/inline-message.scss
  packages/components/src/components/inline-message/inline-message.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: enhance modal prop
  packages/components/src/components/transfer-account-selector/transfer-account-selector.tsx
Due: prettier --write, npx eslint --fix

chore: add be domain
  packages/core/src/App/Components/Elements/LiveChat/use-livechat.ts
Due: prettier --write, npx eslint --fix

fix: apply pr commits
  packages/components/src/components/transfer-account-selector/transfer-account-selector.scss
  packages/components/src/components/transfer-account-selector/transfer-account-selector.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

perf: typescript improvement
  packages/appstore/src/constants/platform-config.ts
Due: prettier --write, npx eslint --fix

feat: create success toast message for wallets
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/notification-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: filter accounts for options and mutipliers
  packages/appstore/src/components/wallet-content/wallet-cfds-listing.tsx
  packages/appstore/src/components/wallet-content/wallet-option-multipliers-listing.tsx
Due: prettier --write, npx eslint --fix

feat: use badge component
  packages/components/src/components/wallet-tile/wallet-tile.tsx
Due: prettier --write, npx eslint --fix

chore: allow idv for vanuatu jurisdiction on MT5
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container-for-mt5.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission-for-mt5.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: apply pr commits
  packages/components/src/components/wallet-tile/wallet-tile.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: removed comments
  packages/stores/src/providers/WebsiteStatusProvider.tsx
Due: prettier --write, npx eslint --fix

feat: add portal_id prop
  packages/components/src/components/transfer-account-selector/transfer-account-selector.tsx
Due: prettier --write, npx eslint --fix

fix: update livechat fields on switching account in trader's hub
  packages/core/src/App/Components/Elements/LiveChat/live-chat.jsx
  packages/core/src/App/Components/Elements/LiveChat/use-livechat.ts
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

test: :test_tube: fixes testcases for swapfree merge
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-card.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-modal-content.spec.tsx
Due: prettier --write, npx eslint --fix

hamid/wall-432/transfer-account-selector-refactor (#8758)
  packages/components/src/components/app-linked-with-wallet-icon/app-linked-with-wallet-icon.scss
  packages/components/src/components/app-linked-with-wallet-icon/app-linked-with-wallet-icon.tsx
  packages/components/src/components/transfer-account-selector/index.ts
  packages/components/src/components/transfer-account-selector/transfer-account-selector.scss
  packages/components/src/components/transfer-account-selector/transfer-account-selector.tsx
  packages/components/src/components/wallet-icon/wallet-icon.scss
  packages/components/src/components/wallet-icon/wallet-icon.tsx
  packages/components/src/components/wallet-tile/index.ts
  packages/components/src/components/wallet-tile/wallet-tile.scss
  packages/components/src/components/wallet-tile/wallet-tile.tsx
  packages/components/src/index.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

refactor: refactor form-submit-error-message, table-error
  packages/p2p/src/components/form/form-submit-error-message/form-submit-error-message.jsx
  packages/p2p/src/components/form/form-submit-error-message/form-submit-error-message.scss
  packages/p2p/src/components/form/form-submit-error-message/index.js
  packages/p2p/src/components/modal-manager/modals/order-details-cancel-modal/order-details-cancel-modal.jsx
  packages/p2p/src/components/modal-manager/modals/order-details-confirm-modal/order-details-confirm-modal.jsx
  packages/p2p/src/components/order-details/order-details-complain-modal.jsx
  packages/p2p/src/components/section-error/__tests__/section-error.spec.tsx
  packages/p2p/src/components/section-error/index.ts
  packages/p2p/src/components/section-error/section-error.scss
  packages/p2p/src/components/section-error/section-error.tsx
  packages/p2p/src/components/table/__test__/table-error.spec.js
  packages/p2p/src/components/table/table-error.jsx
  packages/p2p/src/components/table/table-error.scss
  packages/p2p/src/pages/buy-sell/buy-sell-table.jsx
  packages/p2p/src/pages/my-ads/my-ads-table.jsx
  packages/p2p/src/pages/my-ads/my-ads.jsx
  packages/p2p/src/pages/my-profile/my-profile-form/my-profile-form.jsx
  packages/p2p/src/pages/orders/order-table/order-table-content.jsx
  packages/p2p/src/pages/orders/popup.jsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: :art: added status mapper
  packages/account/src/Components/poi/idv-status/idv-failed/idv-failed.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/idv.jsx
  packages/account/src/Styles/account.scss
  packages/account/src/Types/common-prop.type.ts
  packages/core/src/sass/app/_common/components/onfido-container.scss
  packages/shared/src/utils/helpers/format-response.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

george / WALL-306 / add wallet cashier modal new (#8750)
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/appstore/src/components/modals/wallet-modal/__tests__/wallet-modal-body.spec.tsx
  packages/appstore/src/components/modals/wallet-modal/__tests__/wallet-modal-header.spec.tsx
  packages/appstore/src/components/modals/wallet-modal/__tests__/wallet-modal.spec.tsx
  packages/appstore/src/components/modals/wallet-modal/index.ts
  packages/appstore/src/components/modals/wallet-modal/provider.tsx
  packages/appstore/src/components/modals/wallet-modal/wallet-modal-body.tsx
  packages/appstore/src/components/modals/wallet-modal/wallet-modal-header.tsx
  packages/appstore/src/components/modals/wallet-modal/wallet-modal.scss
  packages/appstore/src/components/modals/wallet-modal/wallet-modal.tsx
  packages/appstore/src/constants/utils.ts
  packages/appstore/src/public/images/index.ts
  packages/appstore/src/public/images/wallet-demo-bg-dark.svg
  packages/appstore/src/public/images/wallet-demo-bg-light.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/wallet/ic-wallet-modal-tether-dark.svg
  packages/components/src/components/mobile-dialog/mobile-dialog.tsx
  packages/components/src/components/watermark/watermark.scss
  packages/components/src/components/watermark/watermark.tsx
  packages/components/stories/icon/icons.js
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
  packages/core/src/Stores/ui-store.js
  packages/shared/src/styles/themes.scss
  packages/shared/src/utils/screen/responsive.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat: create PR from latest feature branch
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/appstore/src/components/modals/wallets-migration-failed/__tests__/wallets-migration-failed.spec.tsx
  packages/appstore/src/components/modals/wallets-migration-failed/index.ts
  packages/appstore/src/components/modals/wallets-migration-failed/wallets-migration-failed.scss
  packages/appstore/src/components/modals/wallets-migration-failed/wallets-migration-failed.tsx
  packages/core/src/Stores/traders-hub-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: add thai language into deriv app
  packages/translations/src/i18next/i18next.ts
Due: prettier --write, npx eslint --fix

Bala/fix: livechat on changing account (#8761)
  packages/core/src/App/Components/Elements/LiveChat/live-chat.jsx
  packages/core/src/App/Components/Elements/LiveChat/use-livechat.ts
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/vi.json
Due: prettier --write

feat: added fail notification for wallets
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/notification-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: binary bot staging redirection
  packages/shared/src/utils/url/helpers.ts
Due: prettier --write, npx eslint --fix

chore: added Thai language check for Thai
  packages/core/src/Utils/Language/__tests__/language.spec.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: update document status message in jurisdiction cards regarding idv
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-card-banner.tsx
  packages/cfd/src/Containers/props.types.ts
  packages/shared/src/utils/cfd/cfd.ts
Due: prettier --write, npx eslint --fix

fix: change available_platforms to filtered_available_platforms for divider
  packages/appstore/src/components/wallet-content/wallet-option-multipliers-listing.tsx
Due: prettier --write, npx eslint --fix

refactor: added hook for grouped transactions
  packages/hooks/src/index.ts
  packages/hooks/src/useGroupedFiatTransactions.ts
Due: prettier --write, npx eslint --fix

fix: remove switch to real
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/notification-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: :sparkles: incorporated idv error changes
  packages/account/src/Components/poi/idv-status/idv-failed/idv-failed.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/idv.jsx
  packages/shared/src/utils/helpers/format-response.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: shared util function to check idv supported resident
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-card-banner.tsx
  packages/shared/src/utils/helpers/format-response.ts
Due: prettier --write, npx eslint --fix

refactor: add lodash.groupby and moment to hooks deps
  packages/hooks/package.json
Due: prettier --write

refactor: useGroupedFiatTransactions
  packages/hooks/src/useGroupedFiatTransactions.ts
Due: prettier --write, npx eslint --fix

feat: :sparkles: includes swap free to new design
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Constants/jurisdiction-contents/jurisdiction-svg-contents.ts
  packages/cfd/src/sass/cfd-dashboard.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

style: :lipstick: fixes modal width for swap free
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal.tsx
Due: prettier --write, npx eslint --fix

chore: pending page modified, statuses refactor
  packages/account/src/Components/poi/idv-status/idv-failed/idv-failed.tsx
  packages/account/src/Components/poi/idv-status/idv-submit-complete/idv-submit-complete.tsx
  packages/account/src/Components/poi/idv-status/idv-updated/__tests__/idv-updated.spec.tsx
  packages/account/src/Components/poi/idv-status/idv-updated/idv-updated.tsx
  packages/account/src/Components/poi/idv-status/idv-updated/index.js
  packages/account/src/Sections/Verification/ProofOfIdentity/idv.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/components/src/components/icon/common/ic-poi-updated.svg
  packages/shared/src/utils/helpers/format-response.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: :wastebasket: refactors and cleans the code
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-card.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-content.tsx
  packages/cfd/src/Containers/props.types.ts
Due: prettier --write, npx eslint --fix

refactor: nickname form
  packages/p2p/src/components/app-content.jsx
  packages/p2p/src/components/modal-manager/modals/nickname-modal/index.ts
  packages/p2p/src/components/modal-manager/modals/nickname-modal/nickname-modal.tsx
  packages/p2p/src/components/nickname-form/__test__/nickname-form-wrapper.spec.js
  packages/p2p/src/components/nickname-form/__test__/nickname-form.spec.js
  packages/p2p/src/components/nickname-form/__tests__/nickname-form.spec.tsx
  packages/p2p/src/components/nickname-form/index.ts
  packages/p2p/src/components/nickname-form/nickname-form-wrapper.jsx
  packages/p2p/src/components/nickname-form/nickname-form.jsx
  packages/p2p/src/components/nickname-form/nickname-form.scss
  packages/p2p/src/components/nickname-form/nickname-form.tsx
  packages/p2p/src/components/verification/verification.jsx
  packages/p2p/src/constants/modals.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write
