Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix(wallets): :ambulance: resend email CTA for fiat withdrawal (#17106)
  packages/wallets/src/features/cashier/flows/WalletWithdrawal/WalletWithdrawal.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalFiat/WithdrawalFiat.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalFiat/__tests__/WithdrawalFiat.spec.tsx
Due: prettier --write, npx eslint --fix

[wojtek] feat: WALL-4782 remnoved duplicated closing, added silent forget request (#16578)
  packages/api-v2/src/APIProvider.tsx
  packages/api-v2/src/ws-client/__tests__/subscription.spec.ts
  packages/api-v2/src/ws-client/__tests__/subscriptions-manager.spec.ts
  packages/api-v2/src/ws-client/mock-websocket-factory.ts
  packages/api-v2/src/ws-client/request.ts
  packages/api-v2/src/ws-client/subscription.ts
  packages/api-v2/src/ws-client/subscriptions-manager.ts
  packages/api-v2/src/ws-client/ws-client.ts
Due: prettier --write, npx eslint --fix

[WALL] Lubega / WALL-4965 / CFDs crypto empty state transfer funds (#17050)
  packages/wallets/src/features/cfd/CFDPlatformsList.scss
  packages/wallets/src/features/cfd/CFDPlatformsListEmptyState.tsx
  packages/wallets/src/features/cfd/__tests__/CFDPlatformsListEmptyState.spec.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

feat(wallets): add lifetime transfer limit validation (#17099)
  packages/wallets/src/components/Base/WalletAlertMessage/WalletAlertMessage.scss
  packages/wallets/src/components/Base/WalletAlertMessage/WalletAlertMessage.tsx
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useTransferMessages/utils/__tests__/lifetimeAccountLimitsBetweenWalletsMessageFn.spec.tsx
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useTransferMessages/utils/lifetimeAccountLimitsBetweenWalletsMessageFn.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/sw.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

fix: glitch
  packages/p2p/src/pages/app.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Due: prettier --write

fix: blank screen
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: svg change color
  packages/bot-web-ui/src/pages/bot-builder/bot-builder.tsx
  packages/core/src/public/images/common/static_images/arrow-down-white.svg
  packages/core/src/public/images/common/static_images/arrow-down.svg
Due: prettier --write, npx eslint --fix

fix: use is p2p enabled
  packages/p2p/src/pages/app.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: remove comments, add marked notif
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/notification-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Update vercel.json
  vercel.json
Due: prettier --write

fix: fix
  packages/core/src/Stores/notification-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: trade params errors
  packages/trader/src/AppV2/Components/PurchaseButton/__tests__/purchase-button-content.spec.tsx
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button-content.tsx
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.tsx
  packages/trader/src/AppV2/Components/ServicesErrorSnackbar/index.ts
  packages/trader/src/AppV2/Components/ServicesErrorSnackbar/services-error-snackbar.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/AppV2/Containers/Snackbar/index.ts
  packages/trader/src/AppV2/Containers/Snackbar/snackbar.scss
  packages/trader/src/AppV2/app.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: test redirection
  packages/p2p/src/pages/app.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: redirection to standalone from monorepo, under feature flag
  packages/core/src/App/Constants/routes-config.js
  packages/shared/src/utils/config/config.ts
  packages/shared/src/utils/helpers/dtrader-v2-helpers.ts
  packages/stores/src/stores/FeatureFlagsStore.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: updated feature flag name
  packages/shared/src/utils/helpers/dtrader-v2-helpers.ts
  packages/stores/src/stores/FeatureFlagsStore.ts
Due: prettier --write, npx eslint --fix

refactor: exctract duplicates into a function
  packages/stores/types.ts
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.tsx
  packages/trader/src/AppV2/Components/ServiceErrorSheet/__tests__/service-error-sheet.spec.tsx
  packages/trader/src/AppV2/Components/ServiceErrorSheet/service-error-description.tsx
  packages/trader/src/AppV2/Components/ServiceErrorSheet/service-error-sheet.tsx
  packages/trader/src/AppV2/Components/ServicesErrorSnackbar/services-error-snackbar.tsx
  packages/trader/src/AppV2/Utils/layout-utils.tsx
Due: prettier --write, npx eslint --fix

fix: :ambulance: format amount and transaction fee
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoReceipt/WithdrawalCryptoReceipt.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoReceipt/__tests__/WithdrawalCryptoReceipt.spec.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/provider/WithdrawalCryptoProvider.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/types/types.ts
Due: prettier --write, npx eslint --fix

refactor: add tests
  packages/trader/src/AppV2/Components/ServiceErrorSheet/service-error-sheet.tsx
  packages/trader/src/AppV2/Components/ServicesErrorSnackbar/__tests__/services-error-snackbar.spec.tsx
  packages/trader/src/AppV2/Utils/__tests__/layout-utils.spec.ts
  packages/trader/src/AppV2/Utils/layout-utils.tsx
Due: prettier --write, npx eslint --fix

fix: change validation type
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/take-profit-and-stop-loss-container.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/take-profit-and-stop-loss-input.tsx
Due: prettier --write, npx eslint --fix

fix: remove language configs
  packages/core/src/App/Components/Elements/LiveChat/live-chat.tsx
  packages/core/src/App/Components/Elements/LiveChat/use-freshchat.ts
  packages/core/src/App/Components/Routes/language-link.tsx
Due: prettier --write, npx eslint --fix

chore: MF content update chore: MF tnc content update
  packages/account/src/Components/terms-of-use/terms-of-use-messages.tsx
Due: prettier --write, npx eslint --fix

[DTRA-V2]fix: fix the overlapping issue of parameter with purchase button (#17107)
  packages/trader/src/AppV2/Components/DraggableList/draggable-list-item.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.scss
  packages/trader/src/AppV2/Containers/Trade/trade.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

ci: make the action to accept branch name param
  .github/actions/publish_to_pages_uat/action.yml
  .github/workflows/release_uat.yml
Due: none

ci: add uat2 cloudflare pages action
  .github/workflows/release_uat2.yml
Due: none

ci: update workflow name
  .github/workflows/release_uat2.yml
Due: none

Ako/ add uat2 env (#17156)
  .github/actions/publish_to_pages_uat/action.yml
  .github/workflows/release_uat2.yml
Due: none

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/km.json
  packages/translations/src/translations/sw.json
Due: prettier --write

fix: point to temp js
  packages/core/src/App/Components/Elements/LiveChat/use-freshchat.ts
Due: prettier --write, npx eslint --fix

fix: console error
  packages/api/src/hooks/useRemoteConfig.ts
Due: prettier --write, npx eslint --fix

fix: set default trade type when switching to vanillas and turbos
  packages/trader/src/AppV2/Components/TradeParameters/TradeTypeTabs/trade-type-tabs.tsx
Due: prettier --write, npx eslint --fix

feat: added growthbook feature flag for dtrader-v2
  packages/core/src/App/Constants/routes-config.js
  packages/trader/src/index.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: point to temp js (#16971)
  packages/core/src/App/Components/Elements/LiveChat/use-freshchat.ts
Due: prettier --write, npx eslint --fix

fix: freshchat url
  packages/core/src/App/Components/Elements/LiveChat/use-freshchat.ts
Due: prettier --write, npx eslint --fix

chore: bump deriv-com/ui version
  package-lock.json
  packages/account/package.json
  packages/appstore/package.json
  packages/bot-web-ui/package.json
  packages/cashier/package.json
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/p2p/package.json
  packages/reports/package.json
  packages/trader/package.json
  packages/wallets/package.json
Due: prettier --write

fix: digit win percentage update
  packages/trader/src/AppV2/Containers/Chart/trade-chart.tsx
Due: prettier --write, npx eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
