Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

.lintstagedrc.yml:

./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}:
  - prettier --config ./.prettierrc --write

fix: ts any rreplace
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.tsx
  packages/account/src/Types/common-prop.type.ts
Due: prettier --write, npx eslint --fix

chore: change type for onfido phrases
  packages/account/src/Constants/onfido-phrases.tsx
  packages/account/src/Types/onfido-phrases.type.ts
Due: prettier --write, npx eslint --fix

fix: change VRW to CRW
  packages/utils/src/__tests__/getShortCodeAndRegion.spec.ts
Due: prettier --write, npx eslint --fix

refactor: remove accum sell btn in a separate file
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/__tests__/accumulators-sell-button.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/accumulators-sell-button.tsx
  packages/trader/src/Modules/Trading/Containers/purchase.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: using yAxisMargin to re-scale the chart
  packages/trader/src/Modules/Contract/Components/InfoBox/info-box-longcode.jsx
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: show correct platform on trader's hub onboarding
  packages/appstore/src/components/onboarding-new/static-dashboard.tsx
Due: prettier --write, npx eslint --fix

refactor: cleanup
  packages/components/src/components/route-with-subroutes/route-with-subroutes.tsx
  packages/core/src/App/initStore.js
  packages/translations/src/context/translation-provider.tsx
  packages/translations/src/hooks/use-language-checks.tsx
  packages/translations/src/hooks/use-language-settings.tsx
  packages/translations/src/utils/i18next.ts
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: implement crypto withdraw receipt in wallet
  packages/cashier/src/pages/withdrawal/crypto-withdraw-receipt-wallet/crypto-withdraw-receipt-wallet.scss
  packages/cashier/src/pages/withdrawal/crypto-withdraw-receipt-wallet/crypto-withdraw-receipt-wallet.tsx
  packages/cashier/src/pages/withdrawal/crypto-withdraw-receipt-wallet/index.ts
  packages/components/stories/icon/icons.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: build error fix:
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/__tests__/authorization-required-modal.spec.tsx
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/authorization-required-modal.tsx
Due: prettier --write, npx eslint --fix

maryia/fix: sonarcloud warnings (#7)
  packages/trader/src/Modules/Trading/Containers/trade-params-mobile.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Due: prettier --write, npx eslint --fix

chore: restore || operator
  packages/account/src/Components/address-details/address-details.tsx
Due: prettier --write, npx eslint --fix

fix: resolve comment
  packages/reports/src/Containers/open-positions.tsx
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-turbos.svg
  packages/trader/src/Assets/Trading/Categories/trade-categories.jsx
  packages/trader/src/Assets/Trading/Categories/turbos-trade-description.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-glossary.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: restore: original code to use idx
  packages/account/src/Components/article/article.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-article-content.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-article.tsx
Due: prettier --write, npx eslint --fix

feat: show advertiser online status in order chat screen
  packages/p2p/src/components/online-status/online-status-avatar.jsx
  packages/p2p/src/components/online-status/online-status-label.jsx
  packages/p2p/src/components/orders/chat/chat-header.jsx
  packages/p2p/src/utils/adverts.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: add unit tests
  packages/p2p/jest.config.js
  packages/p2p/src/components/online-status/__tests__/online-status-label.spec.tsx
  packages/p2p/src/components/orders/__tests__/orders.spec.js
  packages/p2p/src/components/orders/chat/__tests__/chat-header.spec.tsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

refactor: remove unused store data
  packages/p2p/src/stores/sendbird-store.ts
Due: prettier --write, npx eslint --fix

chore: remove default params
  packages/p2p/src/stores/sendbird-store.ts
Due: prettier --write, npx eslint --fix

chore: use toBlob from html-to-image library
  packages/p2p/src/components/modal-manager/modals/share-my-ads-modal/share-my-ads-modal.tsx
Due: prettier --write, npx eslint --fix

fix(cashier): :memo: fix raised issues
  packages/cashier/src/pages/deposit/deposit.tsx
Due: prettier --write, npx eslint --fix

refactor: destructure other_user_details
  packages/p2p/src/components/orders/chat/chat-header.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: remove css styling
  packages/trader/src/sass/app/_common/components/contract-type-info.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: remove wrong style
  packages/trader/src/sass/app/_common/components/contract-type-info.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: subtasks
  packages/appstore/src/components/add-more-wallets/add-more-wallets.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix(cashier): :memo: fix raised issues
  packages/cashier/src/pages/deposit/__tests__/deposit.spec.tsx
Due: prettier --write, npx eslint --fix

fix: turbos content changes
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-turbos.svg
  packages/trader/src/Assets/Trading/Categories/__tests__/turbos-trade-description.spec.tsx
  packages/trader/src/Assets/Trading/Categories/trade-categories.jsx
  packages/trader/src/Assets/Trading/Categories/turbos-trade-description.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-glossary.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info.tsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/contract-info.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/barrier-selector.tsx
  packages/trader/src/sass/app/_common/components/contract-type-info.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: add React.useCallback to DefaultMobileLinks
  packages/components/src/components/popover/popover.tsx
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: add onclick to test
  packages/trader/src/Assets/Trading/Categories/__tests__/turbos-trade-description.spec.tsx
Due: prettier --write, npx eslint --fix

fix: test case
  packages/trader/src/Assets/Trading/Categories/__tests__/turbos-trade-description.spec.tsx
Due: prettier --write, npx eslint --fix

fix: test cases
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-glossary.spec.tsx
Due: prettier --write, npx eslint --fix

chore: adjust platform loader consistent allover traders hub
  packages/appstore/src/components/pre-loader/platform-loader.tsx
  packages/appstore/src/components/wallet-content/wallet-content.scss
  packages/appstore/src/components/wallet-content/wallet-fiat-mt5-content.tsx
  packages/appstore/src/components/wallet-content/wallet-mt5/wallet-mt5-card-list.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: use qrcode.react library
  packages/account/package.json
  packages/cashier/package.json
  packages/p2p/package.json
  packages/p2p/src/components/modal-manager/modals/share-my-ads-modal/share-my-ads-card/share-my-ads-card.tsx
Due: prettier --write, npx eslint --fix

chore: update to see mobile change
  packages/components/src/components/popover/popover.tsx
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

feat: improve solution
  packages/shared/src/utils/contract/contract.ts
  packages/trader/src/App/Components/Elements/ContractAudit/contract-details.jsx
  packages/trader/src/Assets/Trading/Categories/trade-categories.jsx
  packages/trader/src/Constants/trade-categories.ts
  packages/trader/src/Modules/Trading/Components/Elements/purchase-button.jsx
  packages/trader/src/Modules/Trading/Components/Elements/purchase-fieldset.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-glossary.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info.jsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/contract-info.jsx
  packages/trader/src/Modules/Trading/Containers/purchase.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

chore: use localeCompare instead of custom function
  packages/account/package.json
  packages/account/src/Components/account-limits/account-limits.tsx
  packages/utils/src/__tests__/lexicographicalStringComparer.spec.ts
  packages/utils/src/index.ts
  packages/utils/src/lexicographicalStringComparer.ts
Due: prettier --write, npx eslint --fix

fix: recent strategies scroll
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: resolve code review comments
  packages/account/src/Components/account-limits/withdrawal-limits-table.tsx
  packages/account/src/Components/poi/status/unsupported/documents.tsx
Due: prettier --write, npx eslint --fix

chore: translation workflow trigger
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content.tsx
Due: prettier --write, npx eslint --fix
