Repository deriv-com/deriv-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: failing testcase in cfd-poa
  packages/account/src/Sections/Verification/ProofOfAddress/poa-mobile-layout.tsx
Due: prettier --write, npx eslint --fix

test: add more tests
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/__tests__/MT5ChangeInvestorPasswordInputsScreen.spec.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/__tests__/TradingPlatformChangePasswordScreens.spec.tsx
Due: prettier --write, npx eslint --fix

fix: remove error modal button text
  packages/p2p/src/stores/buy-sell-store.js
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: add missing crowdin strings
  packages/wallets/src/components/AccountsList/AccountsList.tsx
  packages/wallets/src/components/WalletsPercentageSelector/WalletsPercentageSelector.tsx
  packages/wallets/src/features/accounts/modules/ManualService/ManualService.tsx
  packages/wallets/src/features/accounts/modules/Poa/components/AddressSection/AddressSection.tsx
  packages/wallets/src/features/accounts/modules/TaxInformation/TaxInformation.tsx
  packages/wallets/src/features/cashier/modules/FiatOnRamp/FiatOnRamp.tsx
  packages/wallets/src/features/cashier/modules/FiatOnRamp/components/FiatOnRampDisclaimer/FiatOnRampDisclaimer.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/components/WithdrawalCryptoAmountConverter/WithdrawalCryptoAmountConverter.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/utils/withdrawalCryptoValidators.ts
  packages/wallets/src/features/cashier/modules/WithdrawalVerification/WithdrawalVerificationSent/WithdrawalVerificationSent.tsx
  packages/wallets/src/features/cfd/CFDPlatformsListEmptyState.tsx
  packages/wallets/src/features/cfd/components/ModalTradeWrapper/ModalTradeWrapper.tsx
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AvailableDxtradeAccountsList/AvailableDxtradeAccountsList.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/MT5ChangeInvestorPasswordInputsScreen.tsx
  packages/wallets/src/features/cfd/screens/DynamicLeverage/DynamicLeverageMarketCard.tsx
  packages/wallets/src/features/cfd/screens/DynamicLeverage/DynamicLeverageScreen.tsx
Due: prettier --write, npx eslint --fix

chore: update error message for PhoneNumberTaken
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/account/src/Styles/account.scss
  packages/components/src/components/form-submit-error-message/form-submit-error-message.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: update verifyButton to setError in personal details screen
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/verify-button.spec.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/account/src/Sections/Profile/PersonalDetails/verify-button.tsx
Due: prettier --write, npx eslint --fix

chore: update code based on comments
  packages/account/src/Styles/account.scss
  packages/components/src/components/form-submit-error-message/form-submit-error-message.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: removed unused localize
  packages/wallets/src/features/cashier/modules/WithdrawalVerification/WithdrawalVerificationSent/WithdrawalVerificationSent.tsx
Due: prettier --write, npx eslint --fix

feat: updated deriv ui package
  packages/account/package.json
  packages/appstore/package.json
  packages/cashier-v2/package.json
  packages/cashier/package.json
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/p2p/package.json
  packages/reports/package.json
  packages/trader/package.json
  packages/trader/src/App/Containers/__tests__/trade-header-extensions.spec.tsx
  packages/wallets/package.json
Due: prettier --write, npx eslint --fix

feat: added landscape condition to cfd password modal
  packages/cfd/src/Containers/cfd-password-modal.tsx
Due: prettier --write, npx eslint --fix

fix: subtasks raised
  packages/wallets/src/components/WalletTourGuide/WalletTourGuideSettings.tsx
  packages/wallets/src/features/cfd/CFDPlatformsListEmptyState.tsx
  packages/wallets/src/features/cfd/modals/PasswordLimitExceededModal/PasswordLimitExceededModal.tsx
Due: prettier --write, npx eslint --fix

test: refactor tests
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/__tests__/MT5ChangeInvestorPasswordInputsScreen.spec.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/__tests__/MT5ChangeInvestorPasswordSavedScreen.spec.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/__tests__/MT5ChangeInvestorPasswordScreens.spec.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/__tests__/ChangePassword.spec.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/__tests__/MT5ChangePasswordScreens.spec.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/__tests__/TradingPlatformChangePasswordScreens.spec.tsx
Due: prettier --write, npx eslint --fix

chore: edit form-submit-error-message to a better implementation
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/account/src/Sections/Profile/PersonalDetails/verify-button.tsx
  packages/components/src/components/form-submit-error-message/form-submit-error-message.tsx
Due: prettier --write, npx eslint --fix

fix: test case
  packages/trader/src/AppV2/Components/TradeParameters/Duration/__tests__/duration_container.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/container.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.scss
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: test case
  packages/trader/src/AppV2/Components/TradeParameters/Duration/container.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/wheelpicker.tsx
Due: prettier --write, npx eslint --fix

chore: small height fix
  packages/trader/src/AppV2/Components/TradeParameters/Duration/wheelpicker.tsx
Due: prettier --write, npx eslint --fix

Update trade-type-list.spec.jsx
  packages/trader/src/AppV2/Components/TradeTypeList/__tests__/trade-type-list.spec.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

Update account-wizard.jsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

fix: remove unused useTranslations
  packages/wallets/src/features/cashier/modules/WithdrawalVerification/WithdrawalVerificationSent/WithdrawalVerificationSent.tsx
Due: prettier --write, npx eslint --fix

fix: fixed landscape css
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/sass/cfd.scss
  packages/shared/src/styles/devices.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

fix: remove bottom-nav background color
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.scss
Due: prettier --write, npx stylelint --fix, prettier --config ./.prettierrc --write

chore: create useIsPhoneNumberVerified hook
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/account/src/Sections/Profile/PersonalDetails/verify-button.tsx
  packages/account/src/Sections/Profile/PhoneVerification/cancel-phone-verification-modal.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification-page.tsx
  packages/hooks/src/__tests__/useIsPhoneNumberVerified.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useIsPhoneNumberVerified.ts
  packages/hooks/src/usePhoneNumberVerificationSetTimer.tsx
Due: prettier --write, npx eslint --fix

chore: added unit test for EnterPassword component
  packages/wallets/src/features/cfd/screens/EnterPassword/__test__/EnterPassword.spec.tsx
Due: prettier --write, npx eslint --fix

[DTRA] Maryia/DTRA-1632/fix: Chart Scroll Behavior improvement for V2 (#16434)
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav-item.tsx
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.scss
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters-container.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.scss
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
Due: prettier --write, npx eslint --fix, npx stylelint --fix, prettier --config ./.prettierrc --write

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/uz.json
Due: prettier --write

fix: server bot empty name save issue fix
  packages/bot-web-ui/src/components/load-modal/__tests__/load-modal.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/inputs/add-text-input.tsx
Due: prettier --write, npx eslint --fix

fix: type errors for market type
  packages/wallets/src/features/cfd/screens/EnterPassword/__test__/EnterPassword.spec.tsx
Due: prettier --write, npx eslint --fix

fix: resolve console errors in dtrader v2
  packages/trader/src/AppV2/Components/Guide/guide.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
Due: prettier --write, npx eslint --fix

test(wallets): :test_tube: add test for AppCardBadge
  packages/wallets/src/components/AppCardBadge/__tests__/AppCardBadge.spec.tsx
Due: prettier --write, npx eslint --fix

chore: resolve sonarcloud issue
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/__tests__/MT5ChangeInvestorPasswordInputsScreen.spec.tsx
Due: prettier --write, npx eslint --fix

fix: resolve comment
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
Due: prettier --write, npx eslint --fix

revert: extra non-aligned file from master
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
Due: prettier --write, npx eslint --fix, prettier --config ./.prettierrc --write

revert: extra non-aligned file from master
  packages/wallets/src/components/WalletsAddMoreCardContent/WalletsAddMoreCardContent.tsx
Due: prettier --write, npx eslint --fix

chore: pnv verified modal close on click
  packages/account/src/Sections/Profile/PhoneVerification/__test__/phone-number-verified-modal.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-number-verified-modal.tsx
  packages/components/src/components/form-submit-error-message/form-submit-error-message.tsx
Due: prettier --write, npx eslint --fix

Jim/wall 2947/unit tests for change password (#16659)
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/__tests__/MT5ChangeInvestorPasswordInputsScreen.spec.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/__tests__/MT5ChangeInvestorPasswordSavedScreen.spec.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/__tests__/MT5ChangeInvestorPasswordScreens.spec.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/MT5ChangePasswordScreens.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/__tests__/ChangePassword.spec.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/__tests__/MT5ChangePasswordScreens.spec.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/__tests__/TradingPlatformChangePasswordScreens.spec.tsx
Due: prettier --write, npx eslint --fix

[DTRA] henry/dtra-1708/fix: resolve console errors in dtrader v2 (#16666)
  packages/trader/src/AppV2/Components/Guide/guide.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
Due: prettier --write, npx eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
  prettier --config ./.prettierrc --write: any of: ./packages/*/{stories,script,src,build}/**/*.{js,jsx,scss}
